.content-container{
	overflow: hidden;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.content-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom: 20px;
	}			

	.image-container{
		width: 100%;
		text-align: center;
		img {
			width:100%;
		}
	}
	
	// tab에서는 title을 따로 사용하기 때문에 숨김
	.tab-container{
		.content-title{ display: none;}
	}

	.tab-title-container{
		margin: 0px auto 20px auto;
		text-align: center;
	}

	// 중복 여백 제거
	.content-container{
		margin-bottom: 0px;
	}

	&.category-banner{
		.primary-image{
			 position:absolute;
			 left:33.33334%;
			 width:33.33334%;
			 text-align: center;
		}
		.product-item{
			&.margin-item{
				margin-right:33.33334%;
			}
		}
	}

	.header-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom:20px;
		font-family:$typo-head-line;
		font-size:$font-size-xl;
        display: block;
        font-weight: bold;
        letter-spacing: 4px;
	}

	.imageList-container{
		// 처음에는 생성된 dom에 js로 class를 적용하기 전이라 숨김
		display: none;
		margin-left:auto;
		margin-right:auto;
		.image-item{
			position: relative;
			.hover{
				position:absolute;
				top:0px;
				left:0px;
				display: none;
				width: 100%;
			}
			img{
				width:100%;
            }
            // 190211_메인 카테고리 디자인 변경
			.mainCategory_new {
				position: relative;
				div {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					background: rgba(0,0,0,0.8);
					text-align: center;
					p {
						a {
							display: block;
							font-family:$typo-head-line;
							font-size: 22px;
							color: #fff;
							font-weight: bold;
							margin: 10px 0;
						 }
					}
					ul {
						height: 110px;
						li {
							margin: 2px 0;
							&:hover {
								a {background: #E37600;}
							}
							a {
								display: inline-block;
								color: #fff;
								font-size: 14px;
								padding: 4px 10px;
								transition: all .25s ease-in-out;
							 }
						}
					}
				}
			}
		}			
	}

	.text-banner-container{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		background:#000;
		
		li:not(:first-child){
			display: none;
		}

		.text-wrap{
			display: table;
			width: 100%;
			height:30px;
			.text-content{
				display: table-cell;
				vertical-align: middle;
				> *{
					font-size: 13px;
					color:#fff;
				}
			}
		}
		.bx-wrapper {
			height: 30px;
			.bx-viewport {
				height: 30px !important;
			}
		}

		.bx-controls-direction{
			display: none;
		}

		.bxslider-controls{
			a{
				position: absolute;
			    top: 0;
			    outline: 0;
			    display: block;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    color: #fff;
			    i:before{
			    	font-weight: bold;
			    }
			}
			.btn-prev{
				left:10px;
			}
			.btn-next{
				right:10px;
			}				
		}

	
	}
}

@media (max-width: $breakpoint-medium) {
	.content-container{
		.content-title{
			margin:0px 0 10px !important;
		}

		&.category-banner{
			.primary-image{
				 position:relative;
				 left:0;
				 width:100%;
			}
			.product-item{
				&.margin-item{
					margin-right:0;
				}
			}
		}
		.imageList-container{
			.image-item{
				// 190211_메인 카테고리 디자인 변경
				.mainCategory_new {
					div {
						p {
							a {
								font-size: 22px;
							 }
						}
					}
				}
			}			
		}
	}

	.text-banner-container{
		.bxslider-controls{
			display: none;
		}
	}
	
}