.product-info_background {
	background-color:#fff;
  padding-bottom: 40px;
}
.contents {
  .latest-items {
    &:after {border-top: 0;}
  }
  >.contents-title{
    &.center {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 20px;
      font-family: $typo-head-line;
    }
  }
  &.related-items{
    &.type1{
      margin-top: 50px;
      padding-top: 50px;
      padding-bottom: 0px;
      border-top: 1px solid #d3d3d3;
      border-bottom:none;
    }
  }
}

/* timberland header */
.header_layout_1 {
	position:relative;
	//z-index: 12;  //header.scss에 z-index 101로 되어있으므로 주석처리. (필터 겹침현상 해결)
	.header-line {
		background: $lnb-bg-color-type1;
	}
  .header-gnb {
    font-size: 11px;
    .header-mymenu {
      .locacion {
        color: $primary-color;
      }
    }
  }
  .gnb-search {
    //margin: 33px 0 0 265px;
    display: block;
    position: absolute;
    top: 16px;
    right: 54px;
    width: 178px;
    margin: 0;

    label {color: #fff;}

    #search {
      background: none;
      border: 1px solid #9b9491;
      color: #fff;
    }

    .btn_search {
      position: absolute;
      right: 0;
      border: 1px solid #9b9491;
      border-left: none;
      width: 46px;
      padding: 0;
      span { display: none;}
      .icon-search {
        display: block; 
        font-size: 18px;
        color: #9b9491;
      }
    }
  }
  .etc-search-wrap {
    .tit {
      font-weight: bold;
      color: $font-0;
    }
  }
	.header-lnb{
		position: static;
		.header-logo {
			min-height: auto;
			padding: 15px 0 25px;
		}
    .header-menu_etc {

      // 0522 검색커스텀
      .gnb-search-btn {display: none;}
      .mini-cart {
        position: relative;
        .cart-num {
          position: absolute;
          top: -23px;
          right: -4px;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: $primary-color;

          &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: 10px;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: $primary-color;
          }
          > span {
            position:absolute;
            top:0;
            left:0;
            display: inline-block;
            width: 20px;
            margin-left: -10px;
            font-size: 11px;
            line-height: 21px;
            text-align: center;
          }
        }
      }
    }
		.header-menu_onedepth {
			text-align: left;
			> .onedepth-list {
				position: static;

				> a {
					position: relative;
					display: inline-block;
          padding: 11px 0;
          font-family: $typo-sub-head;

					&.active:after {
					    content: '';
					    position: absolute;
					    bottom: 2px;
					    left: 50%;
					    height: 0;
					    width: 0;
					    border-top: 4px solid #cfcece;
						border-right: 4px solid transparent;
						border-bottom: 4px solid transparent;
						border-left: 4px solid transparent;
					    margin-left: -4px;
					    -webkit-transition: all .3s ease;
					    -moz-transition: all .3s ease;
					    transition: height .3s ease;
					}
				}
			}
			.header-menu_twodepth {
				margin: 0 auto 0;
				border: 0;
				padding: 0;
				width: 100%;
				> ul {
					max-width: $width-xlarge;
					margin:0 auto;
					padding: 30px 0 30px 345px;
					box-sizing: border-box;
				}
				.twodepth-list {
					width: 220px;
					display: inline-block;
					vertical-align: top;
				}
			}
			.header-menu_threedepth {
				padding-left:0;
				margin-top: 10px;
				font-size: 13px;
			}
		}
	}
	// .gnb-search {
	// 	right: 0;
	// 	margin:0 0 0 265px;
	// }
}
/* main page title */
.content-container {
  .content-title {
    font-weight: bold;
    font-size: 30px;
  }
}

/* category title bg & font color */
.category-title {
	&.gray {
		background-color:#465164;
	}
	.tit {
    color: #fff;
    margin: 45px 0 30px;
  }
}

/* category sub menu */
.category-sub-menu {
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
  li {
    display: inline-block;
    padding: 0 20px;
    > a {
      display: inline-block;
      padding-bottom: 15px;
      font-size: 16px;
      border-bottom-width: 2px;
      color: rgba(255,255,255,0.7);
      &.active {
        color: $font-6;
        border-bottom: 2px solid $font-6;
      }
    }
  }
}

/* timberland category list 재정의  */
.product-item {
  .item-info {
    text-align: center;
    .item-price {
      font-size: 14px;
      font-weight: bold;
      color: $font-1;
      .item-price-sale {
        color: $font-3;
      }
    }
  }
}

/* timberland detail 재정의  */
.info-wrap_product {
  .title-wrap {
    font-size: 30px;
    line-height: 1.3;
    color: $font-1;
  }
  .price-wrap {
    font-weight: bold;
    > .price {
      > strong {
        font-size: 28px;
        font-weight: bold;
        color: $prd_total-price;
      }
    }

	.disc-num {
        color: $prd_total-price;
        font-size: 26px;
	}
  }
  .option-wrap {
    .option-guide,
    .return-guide {
      display: inline-block;
      margin-left: 10px;
      a {
        display: inline-block;
        color: $font-0;
        padding-bottom:1px;
        border-bottom: 1px solid $font-0;
        font-size: 11px;
        &:hover {
          color: $primary-color;
          border-bottom: 1px solid $primary-color;;
        }
      }
    }
  }
  .status-wrap {
    .btn-link {
      &.line-thin {
        color: $button_text-color-primary;
        background-color: $button_text-bg-primary;
        &:hover, &.active, &.uk-active {background-color: $button_text-bg-primary-over;}
        &:before {border:0;}
      }
    }
  }
}
.product-info {
  .product-info-inner {
    .price {

    }
  }
}
.product-detail_view {
  .detail-info {
    .description{
      img, iframe {
        max-width: 780px !important;
        width: 100% !important;
      }
    }
  }
}

.pt_category{
  &.exhibition{
    .top-content{
      display: table;
      width: 100%;
      .active-date{
        display:table-cell;
      }
      .exhibition-list{
        display:table-cell;
        text-align: right;
      }
    }
  }
}

/* quick view */
#quickview-wrap {
  .info-wrap_product .option-wrap .select-box {width: 150px;}
}

/* backgorund */
.wrapper,
.section-filter {
    // background-color: #F3F1EA; 
    overflow: hidden;
}
.bread-crumb,
.pt_main {background-color: #fff;}

/* timberland footer */
footer {
  padding: 0;

}
.footer-contents {
  max-width: 100%;
  margin:0 auto;
  .max-width {
    max-width: $max-width;
    margin:0 auto;
  }
  .footer-logo{
    padding-top: 40px;
    text-align: center;
    .f-logo {
      @extend .icon-background;
      width: 167px;
      height: 29px;
      background-position: -20px -560px;
    }
  }
  .footer-menu {
    padding: 25px 0 40px;
    .footer-nav {
      a{
        font-size: 11px;
      }
      .footer-sns {
        a {
          font-size: 26px;
          margin-right: 15px;
          color: #fff;
        }
      }
    }
    .find-store {
        font-family: $typo-sub-head;
        color: $font-6;
        padding-bottom: 15px;
        font-size: 14px;
        font-weight: bold;
    }
    .online-cstit {
      font-size: 30px;
      color: $footer_menu-color-type1;
    }
    .text {
      margin-top: 10px;
      font-size: 12px;
      color: $footer_menu-color-type1;
    }
  }
  .border-line {
    border-top: 1px solid #484342;
  }
  .footer-middle {
    padding: 23px 0 21px;
    .store-tit,
    .sns-tit,
    .newsletter-tit {
      color: $font-6;
      padding-bottom: 15px;
      font-size: 13px;
    }
    .store-box {
      .store-icon {
        display: inline-block;
        font-size: 50px;
        color: $footer_menu-color-type1-over;
      }
      .txt {
        display: inline-block;
        width: calc(100% - 54px);
        font-size: 11px;
        color:  $footer_menu-color-type1;
      }
    }
    .footer-sns {
      > a {
        display: inline-block;
        width: 44px;
        height: 44px;
        margin-right: 15px;
        font-size: 26px;
        color: $font-6;
      }
    }
    .newsletter-conts {

      .input-textfield {
        width: calc(100% - 136px);
        > label {
          top: 9px;
        }
      }
      .btn_join {
        vertical-align: top;
      }
      .input-checkbox {
        > label {
          > .label {
            font-size: 11px;
          }
        }
      }
    }
  }
  .footer-bottom {
    background: #2e2724;
    padding: 30px 0 50px;
    font-size: 11px;
    .divider {
      position: relative;
      padding-left: 8px;
      margin-left: 5px;
      &:before {
        content:'';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 1px;
        height: 10px;
        background: $footer_menu-color-type1;
      }
    }
    .follow-sns {
      text-align: center;
      font-size: 12px;
      .footer-sns {
        display: inline-block;
        margin-top: 5px;
        a {
          display: inline-block;
          width: 40px;
          font-size: 25px;
          color: #fff;
        }
      }
    }
    .company-number {
      margin-top: 12px;
      .underline {
        padding-left: 4px;
        text-decoration: underline;
      }
    }
    .company-cs {
      a {
        color: #fff;
      }
    }
    span > a {
      color: $footer_menu-color-type1;
    }
    .company-copyright {
      margin-top: 10px;
      .copy {
        color: $font-6;
      }
      .mc-nav-menu {
        span {
          > a {
            position: relative;
            display: inline-block;
            padding-left: 10px;
            margin-right: 5px;
            color: $font-6;
            &:after {
              position: absolute;
              top:0;
              left:0;
              content:'|';
            }
          }
          &:first-child {
            > a{
              padding-left:0;
              &:after {
                content:'';
              }
            }
          }
        }

      }
    }
    .safeservice {
      padding: 12px;
      border: 2px solid #585250;
      font-size: 10px;
      color: $font-6;
      strong {
        color:$footer_menu-color-type1-over;
      }
      > a {
        color: $font-6;
        border-bottom: 2px solid #585250
      }
    }
  }
}


/* timberland icon font */
[class^="tb-"], [class*=" tb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'breeze' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tb-location {
  &:before {
    content: $tb-location;
  }
}

.tb-ic-escrow {
  &:before {
    content: $tb-ic-escrow;
  }
}
.tb-ic-wish-full {
  &:before {
    content: $tb-ic-wish-full;
  }
}
.tb-ic-plus {
  &:before {
    content: $tb-ic-plus;
  }
}
.tb-ic-minus {
  &:before {
    content: $tb-ic-minus;
  }
}
.tb-ic-lock {
  &:before {
    content: $tb-ic-lock;
  }
}
.tb-ic-next {
  &:before {
    content: $tb-ic-next;
  }
}
.tb-ic-card {
  &:before {
    content: $tb-ic-card;
  }
}
.tb-ic-customer-edit {
  &:before {
    content: $tb-ic-customer-edit;
  }
}
.tb-ic-certify {
  &:before {
    content: $tb-ic-certify;
  }
}
.tb-ic-bank {
  &:before {
    content: $tb-ic-bank;
  }
}
.tb-ic-order {
  &:before {
    content: $tb-ic-order;
  }
}
.tb-ic-myaccount {
  &:before {
    content: $tb-ic-myaccount;
  }
}
.tb-ic-order-cancel {
  &:before {
    content: $tb-ic-order-cancel;
  }
}
.tb-ic-order-deliver {
  &:before {
    content: $tb-ic-order-deliver;
  }
}
.tb-ic-home {
  &:before {
    content: $tb-ic-home;
  }
}
.tb-ic-arrow-dropdown {
  &:before {
    content: $tb-ic-arrow-dropdown;
  }
}
.tb-ic-arrow-dropup {
  &:before {
    content: $tb-ic-arrow-dropup;
  }
}
.tb-ic-blog {
  &:before {
    content: $tb-ic-blog;
  }
}
.tb-ic_login {
  &:before {
    content: $tb-ic_login;
  }
}
.tb-ic-call {
  &:before {
    content: $tb-ic-call;
  }
}
.tb-ic-cart {
  &:before {
    content: $tb-ic-cart;
  }
}
.tb-ic-comment {
  &:before {
    content: $tb-ic-comment;
  }
}
.tb-ic-coupon {
  &:before {
    content: $tb-ic-coupon;
  }
}
.tb-ic-create {
  &:before {
    content: $tb-ic-create;
  }
}
.tb-ic-cs {
  &:before {
    content: $tb-ic-cs;
  }
}
.tb-ic-cs-list {
  &:before {
    content: $tb-ic-cs-list;
  }
}
.tb-ic-cs-qa {
  &:before {
    content: $tb-ic-cs-qa;
  }
}
.tb-ic-done {
  &:before {
    content: $tb-ic-done;
  }
}
.tb-ic-down-thin {
  &:before {
    content: $tb-ic-down-thin;
  }
}
.tb-ic-drawer {
  &:before {
    content: $tb-ic-drawer;
  }
}
.tb-ic-error {
  &:before {
    content: $tb-ic-error;
  }
}
.tb-ic-exchange {
  &:before {
    content: $tb-ic-exchange;
  }
}
.tb-ic-facebook {
  &:before {
    content: $tb-ic-facebook;
  }
}
.tb-ic-instagram {
  &:before {
    content: $tb-ic-instagram;
  }
}
.tb-ic-kakaostory {
  &:before {
    content: $tb-ic-kakaostory;
  }
}
.tb-ic-kakaotalk {
  &:before {
    content: $tb-ic-kakaotalk;
  }
}
.tb-ic-location-thin {
  &:before {
    content: $tb-ic-location-thin;
  }
}
.tb-ic-mobile {
  &:before {
    content: $tb-ic-mobile;
  }
}
.tb-ic-off {
  &:before {
    content: $tb-ic-off;
  }
}
.tb-ic-photo {
  &:before {
    content: $tb-ic-photo;
  }
}
.tb-ic-pinterest {
  &:before {
    content: $tb-ic-pinterest;
  }
}
.tb-ic-prev {
  &:before {
    content: $tb-ic-prev;
  }
}
.tb-ic-search {
  &:before {
    content: $tb-ic-search;
  }
}
.tb-ic-set {
  &:before {
    content: $tb-ic-set;
  }
}
.tb-ic-trash {
  &:before {
    content: $tb-ic-trash;
  }
}
.tb-ic-twitter {
  &:before {
    content: $tb-ic-twitter;
  }
}
.tb-ic-up-thin {
  &:before {
    content: $tb-ic-up-thin;
  }
}
.tb-ic-wish {
  &:before {
    content: $tb-ic-wish;
  }
}


/* product Option */
.info-wrap_product {

	.option-wrap {
		.select-box {
			width:190px;
			height:36px;
			background-color:#fff;
		}
	}
}

.product-detail_view {
	.detail-info {
		.description {
			text-align:center;
		}
	}
}

/* cscenter lnb */
.customer-aside {
  .lnb {
    padding: 15px 25px;
   //  &:first-child {
   //    > :before {
   //      font-family: 'breeze' !important;
   //      speak: none;
   //      font-style: normal;
   //      font-weight: normal;
   //      font-variant: normal;
   //      text-transform: none;
   //      line-height: 1;
   //      -webkit-font-smoothing: antialiased;
   //      -moz-osx-font-smoothing: grayscale;

   //      content: "\e606";
   //      font-size: 20px;
   //      padding-right: 5px;
   //      color: $primary-color;
   //      font-weight: normal;
   //      vertical-align: -4px;
   //    }
   //  }
   // &  + div {
   //  > :before {
   //      font-family: 'breeze' !important;
   //      speak: none;
   //      font-style: normal;
   //      font-weight: normal;
   //      font-variant: normal;
   //      text-transform: none;
   //      line-height: 1;
   //      -webkit-font-smoothing: antialiased;
   //      -moz-osx-font-smoothing: grayscale;

   //      content: $tb-ic-cs-qa;
   //      font-size: 20px;
   //      padding-right: 5px;
   //      color: $primary-color;
   //      font-weight: normal;
   //      vertical-align: -4px;
   //    }
   //  }
    .twodepth-lnb {
      padding-left: 25px;
    }
  }
}
.call-center {
  padding: 24px;
  border: 1px solid $border-2;
  .call-title {
    color: $font-1;
    .t-call {
      font-size: 20px;
      vertical-align: -3px;
      margin-right: 5px;
      color: $primary-color;
    }
  }
  .num {
    margin-top: 10px;
    font-size: 24px;
    color: $font-2;
    padding-left: 25px;
  }
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
  .header_layout_1 {
    .header-lnb {
      .header-logo {
        display: table;
        min-height: 56px;
        padding: 0;
        img {
          height: 22px;
        }
      }
      .mobile-header-title {display: none;}
      .header-menu_mobile {
        & > a {
          & > i {color: #fff;}
        }
      }
      .header-menu_etc {
        .gnb-search-btn {
          display: inline-block;
        }
      }
    }
    .gnb-search {
      display: none;
      top: 43px;
      right: -20px;
      margin: 0;
      width: 320px;
      .btn_search {
        width: 68px;
        font-size: 13px;
        padding: 10px 0;
        span {display: inline-block;}
        .icon-search {display: none;}
      }
      label {color: #929292;}
      #search {background: #fff; color: #606060;}
    }
  }
  .customer-aside {
    .lnb {
       padding: 0;
      &:first-child {
        :before {
          display: none;
        }
      }
      & + .lnb {
        :before {
          display: none;
        }
      }
      .twodepth-lnb {
        :before {
          display:none;
        }
      }
    }
  }

  .footer-contents {
    .footer-logo,
    .footer-nav,
    .footer-menu {
      display: none;
    }
    .footer-middle {
      padding: 23px 0 10px;
    }
    .footer-bottom {
      padding: 10px 0 30px;
    }
  }

  .info-wrap_product {
	  .option-wrap {
		  .select-box {width:100%;}
      .option-guide, .return-guide {
        margin-left: 0
      }
	  }
  }
  #quickview-wrap .info-wrap_product {
    .option-wrap {
      .select-box {width:100%;}
    }
  }
  .pt_category{
    &.exhibition{
      .top-content{
        padding:0px 10px;
        .active-date{
          display:block;
        }
        .exhibition-list{
          width: 100%;
          display:block;
          .select-box{
            margin-top:10px;
            width: 100% !important;
          }
        }
      }
    }
  }
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
  .header_layout_1 {
		.header-lnb {
      .header-logo {
        position: absolute;
        left: 50%;
        margin-left: -63px;
        z-index: 105;
        padding: 0;
        width: auto !important;
      }
			.header-menu_etc {
				width: 100%;
			}
		}
		.gnb-search {
			top:68px; 
			width:100%;
			margin-top:0;
			.search-field {
				.input-textfield {
					> label {left:40px;}
					> input {
						padding-left:40px;
					}
				}
				.btn_search {
          border: none;
          width: 36px;
          padding: 13px 0;
          span {display: none;}
					.icon-search {display: inline-block; font-size: 16px;}
				}
				.btn-search-mobile {
					top:-2px;
					left:0;
				}
			}
		}
  }
  
  .contents {
    >.contents-title{
      &.center {
        font-size: 15px;
      }
    }
  }
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}


/* 2018.08.09 불필요한 calc 값 100% 처리 */
.pt_category {
	&.exhibition {
		.section-category {
			width:100%;
		}
	}
}

/* 2018.03.29 불필요한 미사용 리뷰영역 높이값 0px 처리 */
.main-review-popup {
	.review-read {
		&.my-comment-read {min-height:0px;}
	}
}

.content-container {
  .brz_component-slider {
    .slick-arrow {
      background: #e37600;
      border-radius: 50%;
    }
    .slick-next i {
      margin-left: 4px;
    }
    .slick-prev i {
      margin-right: 4px;
    }
    .slick-dots {
      li {
        button {
          width: 16px;
          height: 16px;
          background-color: #fff;
          border: 2px solid #e37600;
          border-radius: 0;
          opacity: 1;
        }
        &.slick-active {
          button {
            width: 72px;
            background:#e37600;
          }
        }
      }
    }
  }
}
