/* price font weight setting  : str */
.price {
	// font-weight:500;
	// > strong {font-weight:500}
	// .sale-price {
	// 	font-weight:500;
	// 	> strong {font-weight:500}
	// }
}
.total-price {
	// > strong {font-weight:500}
}
/* price font weight setting  : end */


.product-checkout{
	width:319px;
	padding:25px;
	box-sizing:border-box;
	background-color: $bg-4;
	color: $font-1;

	&.checkout {width:32%; min-width:320px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;} /* 주문/결제 우측영역 */

	.label {display:table-cell; font-size:18px; color:#2a2a2a; font-weight:500; white-space:nowrap;}
	.price {
		display:table-cell;
		text-align:right;
		font-family:$typo-price;
		&.sale {color: $prd_total-price;}
		&.total {
			> strong {font-size:20px; font-weight: normal;}
		}
		> strong {font-size:18px; font-weight:bold; color:#2a2a2a; white-space:nowrap;}
	}
	.sale-price {
		color:$font-4;
		font-size:$font-size-l;
		text-decoration: line-through;
		white-space:nowrap;
		strong {
			font-weight:normal;
			margin-right:10px;
			margin-left:10px;
		}
	}

	.info-price	{
		// padding-top:10px;
		> span {
			width:100%;
			display:table;
			height:55px;
			line-height:55px;
			vertical-align:middle;
			border-top:1px solid #eeeeee;
			&:first-child {border-top:0;}
		}
	}
	.total-price {
		display:table;
		width:100%;
		border-top:1px solid $border-3;
		/* margin-top:17px; */
		padding:17px 0px 0px 0px;
		margin-bottom:50px;
		&.adjust{
			font-size:$font-size-s;
			padding-bottom:5px;
		}


		.label {display:table-cell; font-size:26px; color:#39bdbf; font-weight:500;}
		.price {
			display:table-cell;
			text-align:right;
			font-family:$typo-price;
			font-size:22px;
			font-weight:bold !important;
			color:#2a2a2a;
			> strong {font-size:22px !important; font-weight:bold !important;}
		}



	}
	.info {margin-top:20px; font-size:11px; line-height:17px; color:$font-3;}
	.btn-style-guide {margin-top:12px; font-size:12px;}
	> order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		padding-bottom:17px;
	}
}


.mypage-cart{
	padding:0 25px 25px 25px;
	.empty-ment {font-size:16px; font-weight:500; color:#434343;}

	.tbl-title {
		display:table;
		width:100%;
		padding:25px 0px 25px 0;
		box-sizing:border-box;
		text-align:center;
		/* border-top:1px solid $border-2; */

		> * {
			display:table-cell;
			font-size: 11px;
			color: $font-4;
		}
		.item-info {
			/* padding-left:32px; */
			width: 60%;
			height:56px;
			line-height:56px;
			vertical-align:middle;
			text-align: left;
			font-size:22px;
			font-weight:500;
			color:#39bdbf;
		}
		.option-wrap {width:25%;}
		> a.btn-link {
			min-width:262px;
			font-size:16px;
			color:#fff;
			> .salomon-ic-arrow-right {padding-left:7px;}
		}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		.cart-title {font-size:50px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:30px 50px 30px 0;
		box-sizing:border-box;

		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}

		.item-detail {
			display:table;
			width: 100%;
			min-height:80px;

			> * {display:table-cell;}

			.item-info {
				width:60%;
				.img-wrap {
					position: absolute;
					overflow:hidden;
					display:inline-block;
					width:160px;
					img {
						width:100%;
					}
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left:200px;
					line-height:18px;
					vertical-align: top;
					/* padding-top:10px; */

					.tit {
						display:block;
						margin-bottom:7px;
						font-size:20px;
						color:#2d2d2d;
						font-weight:500;
					}
					.opt {
						display:block;
						font-family:$typo-basic;
						font-size:18px !important;
						font-weight:500 !important;
						color:#878787 !important;
					}
					.current-option-wrap {
						margin-top:15px;
						span {
							font-size:14px !important;
							font-weight:500 !important;
							color:#878787 !important;
						}
						.opt {display:inline;}
					}
					.btn {
						display:block; margin-top:20px; font-size:12px; color: $font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color: $prd_text-color;}
					a:hover {color: $prd_text-color-over;}
				}
			}
			.option-wrap {
				width:25%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size:18px;
					font-weight:500;
					color:#39bdbf;
				}
			}
			.total-price {padding-top:0; vertical-align:top; text-align:center; box-sizing:border-box; white-space:nowrap;}
			.delete-btn{
				position:absolute; top:34px; right:10px;
				.btn-delete {color:#878787;
				> .salomon-ic-close {font-size:20px !important;}
				}
			}
		}

		.btn-only-memeber {
			display:table !important;
			margin-top:96px;
			padding-left:75px;
			> .wish-btn {
				display:table-cell !important;
				padding-right:20px;
				> i {
					font-size:18px;
					font-weight:bold;
					color:#39bdbf;
					vertical-align:middle;
				}
			}
			> form {
				display:table-cell !important;
				padding-right:20px;
				> .later-btn {
					i {
						font-size:18px;
						font-weight:bold;
						color:#39bdbf;
						vertical-align:middle;
					}
				}
				
			}
			> form {
				display:table-cell !important;
				> .addcart-btn {
					i {
						font-size:18px;
						font-weight:bold;
						color:#39bdbf;
						vertical-align:middle;
						/* &:before {font-size:18px !important; color:#39bdbf !important; font-weight:bold !important;} */
					}
				}
				
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left:200px;
			margin-top:10px;
		}
	}

	.total-price {
		> strong {
			font-size:22px;
			color:#39bdbf;
			font-weight:400;
			font-family:$typo-price;
		}
		.sale-price {
			display:block;
			margin:0 0 20px;
			font-size:18px;
			font-weight:400;
			text-decoration:line-through;
			color:#878787;
			letter-spacing:-1px;
		}
	}
}

.product-checkout {
	.tbl-title {
		display:table;
		width:100%;
		border-bottom:1px solid #eaeaea;
		padding-bottom:24px;
		margin-bottom:14px;
		box-sizing:border-box;
		text-align:center;
		/* border-top:1px solid $border-2; */

		> * {
			display:table-cell;
			font-size: 11px;
			color: $font-4;
		}
		.item-info {
			height:56px;
			line-height:56px;
			vertical-align:middle;
			text-align: left;
			font-size:22px;
			font-weight:500;
			color:#39bdbf;
		}
	}
}

/* 일반 장바구니 전체 레이아웃 */
.pt_cart {
	margin-top:-41px;
	background-color:#e1eae8;
	.uk-grid-divider {
		margin-top:20px;
		margin-bottom:20px;
		border-top:0;
	}
}
.cart-title-s {
	padding:47px 0 0 0;
	margin: 0 0 38px 0;
	font-size:35px;
	font-weight:500;
	text-align:center;
	color:#2d2d2d;
}
.cart-title-sm {
	font-size:$font-size-l;
	padding:0 0 15px 0;
	color:  $primary-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}

.item-container {
	display:table;
	padding-bottom:20px;
	width:100%;
	min-height:500px;

	&.less-items {
		display:block;
		padding:0 0 25px 0;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		margin-right:10px;
		/* padding-right:30px; */
		display:table-cell;
		width:72%;
		max-width:845px;
		box-sizing:border-box;
		background-color:#ffffff;
		border-right:10px solid #e1eae8;
	}
	.product-checkout {
		vertical-align:top;
		display:table-cell;
		width:28%;
		background-color:#ffffff;
		> a {
			> .salomon-ic-arrow-right {padding-left:7px;}
		}
	}


	.align-center {
		display:block;
		margin:0;
		padding-top:40px;
		text-align:center;
	}
}

.cart_opt_chg {
	.uk-modal-dialog {
		width:960px;
	}
}

/* 장바구니 구조가 변경되면서 이원화 된 버튼그룹 스타일 */
.mypage-cart {
	.product-opt_cart {
		min-height:200px;
		.item-detail {
			.option-wrap {
				&.btn-cart-group-01 {
					position:absolute;
					bottom:20px;
					left:0px;
					display:table;
					margin-top:96px;
					padding-left:200px;
					.wish-btn {
						display:table-cell;
						width:138px;
						font-size:12px;
						font-weight:500;
						color:#434343;
						text-align:left;
							i {
							padding-right:5px;
							font-size:20px;
							font-weight:normal;
							color:#39bdbf;
							vertical-align:middle;
						}
					}
					form {
						display:table-cell;
						padding-right:20px;
						width:120px;
							.btn-link {
								&.later-btn {
									width:138px;
									font-size:12px;
									font-weight:500;
									color:#434343;
									text-align:left;
									i {
										padding-right:5px;
										font-size:20px;
										font-weight:normal;
										color:#39bdbf;
										vertical-align:middle;
										font-weight:bold;
									}
							}
						}	
					}
					form {
						display:table-cell;
						.addcart-btn {
							text-align:left;
							i {
								padding-right:5px;
								font-size:18px;
								font-weight:normal;
								color:#39bdbf;
								vertical-align:middle;
								/* &:before {font-size:18px !important; color:#39bdbf !important; font-weight:bold !important;} */
							}
						}
					}
				}
			}
		}
	}
}
.mypage-cart {
	&.later {
		.product-opt_cart {
			.option-wrap {
				&.btn-cart-group-02 {
		    		position: absolute;
				    bottom: 20px;
				    left: 0px;
				    display: table;
				    margin-top: 96px;
				    padding-left: 200px;
					.wish-btn {
						display:table-cell;
						width:138px;
						font-size:12px;
						font-weight:500;
						color:#434343;
						text-align:left;
							i {
							padding-right:5px;
							font-size:20px;
							font-weight:normal;
							color:#39bdbf;
							vertical-align:middle;
						}
					}
					form {
						display:table-cell;
						padding-right:20px;
						width:120px;
							.btn-link {
								&.later-btn {
									width:138px;
									font-size:12px;
									font-weight:500;
									color:#434343;
									text-align:left;
									i {
										padding-right:5px;
										font-size:20px;
										font-weight:normal;
										color:#39bdbf;
										vertical-align:middle;
									}
							}
						}	
					}
					form {
						display:table-cell;
						.addcart-btn {
								width: 138px;
							    font-size: 12px;
							    font-weight: 500;
							    color: #434343;
							    text-align: left;
							i {
								padding-right:5px;
								font-size:18px;
								font-weight:normal;
								color:#39bdbf;
								vertical-align:middle;
								/* &:before {font-size:18px !important; color:#39bdbf !important; font-weight:bold !important;} */
							}
						}
					}
				}
			}
		}
	}
}
/* //장바구니 구조가 변경되면서 이원화 된 버튼그룹 스타일 */

/* 위시리스트 아이콘 */
.option-wrap .icon-wishlist_full:before {
	content: "\e941" !important;
}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.cart-title-s {margin:0!important; padding:0!important; height:10px; font-size:1px; color:#e1eae8;}
	.cart-title {display:none;}

	.item-container {
		.item-list-wrap {padding-right:0;}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	/* 장바구니 구조가 변경되면서 이원화 된 버튼그룹 스타일 */
	.item-list-wrap {
		padding:0;
		.mypage-cart {
			padding:0 !important;
			.product-opt_cart {
				padding:20px !important;
				min-height:240px !important;
				border-top:1px solid #eeeeee;
				&:first-child {border-top:none;}
				&:last-child {border-bottom:10px solid #e1eae8;}
				.item-detail {
					display:block;
					.item-info {
						display:block;
						.info-wrap {
							.current-option-wrap {
								display:block;
								.opt {font-family:$typo-basic; font-size:14px !important;}
							}
							.opt {font-family:$typo-basic; font-size:14px !important;}
						}	
						.opt {
							font-family:$typo-basic;
							font-size:14px !important;
							font-weight:500 !important;
							color:#878787 !important;
						}
					}
					.option-wrap {
						display:block;
						.optchange-btn {margin:0 0 0 64px; font-size:14px;}
					}
					.total-price {
						display:block;
						margin-top:0;
						padding-left:75px;
						text-align:left;
						strong {
							display:inline-block;
							margin:5px 0 5px 0;
							font-size:15px;
							color:#39bdbf;
							&.sale-price {margin-right:38px; font-size:14px; color:#2d2d2d;}
						}
					}



					.option-wrap {
						&.btn-cart-group-01 {
							position:absolute;
							bottom:0;
							left:0px;
							display:block;
							width:100%;
							/* width:calc(100% - 107px); */
							margin:0 16px;
							padding:0 0 12px 0;
							/* border-top:1px solid #eeeeee; */
							/* border-bottom:1px solid #eeeeee; */
							.wish-btn {
								float:left;
								width:138px;
								font-size:12px;
								font-weight:500;
								color:#434343;
									i {
									padding-right:5px;
									font-size:20px;
									font-weight:normal;
									color:#39bdbf;
									vertical-align:middle;
								}
							}
							form {
								float:left;
								padding-right:20px;
								width:120px;
									.btn-link {
										&.later-btn {
											width:138px;
											font-size:12px;
											font-weight:500;
											color:#434343;
											i {
												padding-right:5px;
												font-size:20px;
												font-weight:normal;
												color:#39bdbf;
												vertical-align:middle;
											}
									}
								}	
							}
							form {
								.addcart-btn {
									i {
										padding-right:5px;
										font-size:18px;
										font-weight:bold;
										color:#39bdbf;
										vertical-align:middle;
										/* &:before {font-size:18px !important; color:#39bdbf !important; font-weight:bold !important;} */
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* 나중에 구매하기 */
	.mypage-cart {
		&.later {
			padding:0 16px !important;
			.product-opt_cart {
				padding:20px 25px 20px 0 !important;
				.item-detail {
					display:block;
					.item-info {
						.info-wrap {
							.current-option-wrap {
								display:block;
								.opt {font-family:$typo-basic; font-size:14px !important;}
							}
							.opt {font-family:$typo-basic; font-size:14px !important;}
						}	
					}
					.option-wrap {display:none;}
					.total-price {
						display:block;
						margin-top:20px;
						padding-left:75px;
						text-align:left;
						strong {
							display:inline-block;
							margin:10px 0 5px 0;
							font-size:15px;
							color:#39bdbf;
							&.sale-price {margin-right:38px; font-size:14px; color:#2d2d2d;}
						}
					}
				}




				.option-wrap {
					&.btn-cart-group-02 {
						display:block;
						margin:20px 0 0 0;
						padding-left:0;
						width:100%;
						.wish-btn {
							display:block;
							float:left;
							width:138px;
							font-size:12px;
							font-weight:500;
							color:#434343;
								i {
								padding-right:5px;
								font-size:20px;
								font-weight:normal;
								color:#39bdbf;
								vertical-align:middle;
							}
						}
						form {
							display:block;
							float:left;
							padding-right:0;
							width:120px;
								.btn-link {
									&.later-btn {
										width:138px;
										font-size:12px;
										font-weight:500;
										color:#434343;
										i {
											padding-right:5px;
											font-size:20px;
											font-weight:normal;
											color:#39bdbf;
											vertical-align:middle;
										}
								}
							}	
						}
						form {
							display:table-cell;
							.addcart-btn {
								i {
									padding-right:5px;
									font-size:18px;
									font-weight:normal;
									color:#39bdbf;
									vertical-align:middle;
									/* &:before {font-size:18px !important; color:#39bdbf !important; font-weight:bold !important;} */
								}
							}
						}
					}
				}
			}
		}
	}
	/* //나중에 구매하기 */

	/* //장바구니 구조가 변경되면서 이원화 된 버튼그룹 스타일 */
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.customer-location {
		display:block !important;
		height: 56px;
		padding: 18px 0 0 0;
		font-weight: normal;
		background: #1c1c1c;
	}
	.mypage-cart {padding-right:25px !important;}
	.mypage-cart {
		.product-opt_cart {
			padding:30px 50px 30px 0 !important;
			.item-detail {
				.item-info {
					.img-wrap {
						width:60px;
					}
					.info-wrap {
						padding-top:0;
						padding-left:75px;
					}
				}
				.option-wrap {
					&.btn-cart-group-01 {
						padding-left:0;
					}
				}
			}
		}
		&.later {
			.product-opt_cart {
				.item-detail {
					.option-wrap {
						&.btn-cart-group-02 {
							padding-left:0;
						}
					}
				}
			}
		}
	}
	.cart-title-s {padding-top:38px;}

	.item-container {
		.item-list-wrap {padding-right:0;}
	}
	
	.item-container {
		.item-list-wrap {border-right:0;}
	}
	.pt_cart {
		margin-top:0;
		background-color:#e1eae8;
	}
}
