.order-checkout {
	background-color:$bg-1;
	padding-bottom:65px;
	.contents {
		&.max-width {max-width:$max-width; padding:0 40px;}
	}
	.contents-title {
		padding:40px 0 20px; font-size:$font-size-xl; font-weight:bold;
		/* border-bottom:1px solid #eeeeee; */
	}
}


.order-wrap {
	/* display:table; */
	/* width:100%; */
	position:relative;
	&:after {content:''; display:block; clear:both;}
	.product-checkout {
		float:right;
		padding:0;

		.order-list {
			padding:0 0 10px 0;
			border-bottom:0;
		}

		.info-price	{
			.item-price, .delivery-price, .sale-price, .total-price {
				display:inline-block;
				margin-top:10px;
				&:first-child {margin-top:0;}

				> .label {
					display:inline-block;
					float:left;
					color:#2a2a2a;
				}

				> .price {
					display:inline-block;
					float:right;
					> strong {font-weight:500;}
					&.total {
						> strong {
							color:#39bdbf;
							font-weight:bold;
						}
					}
				}
			}
			.info {
				padding:16px;
				line-height:17px;
				background-color:#f8f8f8;
			}
		}

		.price {display:inline-block;}
	}

	.order-tab-wrap {
		/* display:table-cell; */
		/* vertical-align:top; */
		/* &:first-child {padding-right:90px;} */ /* 좌측 주문 고객 정보 */
		&.collapse{
			.order-tab{
				margin-top:-1px;
				border-top:none;
				/* &:first-child {border:1px solid $border-3;} */
			}
			.header{
				border:none;
			}
		}
		.uk-width-small-1-1 {
			&.uk-width-medium-1-1 {
				&.uk-margin-bottom {
					h4 {margin-top:20px; font-size:18px; font-weight:bold; color:#2a2a2a;}
				}
			}
		}
		.uk-width-small-1-1 {
			&.uk-width-medium-1-1 {
				&.uk-margin-mini-bottom {
					font-size:13px;
					font-weight:500;
					color:#808080;
				}
			}
		}
		.uk-width-small-1-1 {
			&.uk-width-medium-1-1 {
				&.uk-margin-large-bottom {
					color:#808080;
					font-size:13px;
					font-weight:500;
					span {
						font-family:'Noto Sans KR' !important;
					}
				}
			}
		}
	}
}

.order-tab {
	// 반응형 사이즈 처리 해야함
	 width:63%;
	/* border:1px solid $border-3; */
	margin-top:-1px;
	background-color: $bg-1;
	&:first-child {margin-top:0;}

	.header {
		position:relative;
		padding:17px 25px;
		border-top:1px solid #eeeeee;
		border-bottom:1px solid #eeeeee;
		
		.tit {
			font-size:18px;
			font-weight:bold;
			color: $title_checkout-color; 
			display: inline; 
			// font-weight: bold; 
			display: inline; vertical-align: middle;
			.len{
				color: $primary-color;
			}
		}
		.price-order-sum {
			position:absolute;
			right:50px;
			> strong {
			font-family:$typo-price;
			font-size:14px;
			color:#2d2d2d;
			font-weight:500;
			letter-spacing:-0.5px;
			}
		}
		.login { font-size:12px; margin:0px 0px 0px 10px;}
		.preview {font-family:'Noto Sans KR'; font-size:12px; color:#2a2a2a; position: absolute; right:50px; top:19px;}
		&.inactive{
			.tit{
				font-weight: normal;
				color:$font-4;
			}
		}
		&.anonymous{
			padding:11px 25px;
		}
		> i {position:absolute; top:50%; right:25px; margin-top:-7px;}
	}

	.body {
		padding:20px 25px;
		&.nopadding {padding:20px 0;}

		.order-field-container {
			padding:10px 35px 0px 35px;
		} 
		.order-field-list {
			.sort-item {padding:0 !important; height:40px; line-height:40px; font-size:16px; font-weight:500;}
			margin-bottom:30px;
			.tit {margin-bottom:7px; font-size:$font-size-s}
			.agree{
				.agree-content{	
					font-size:12px;	line-height:20px; margin-bottom: 5px;
					> * {font-size: 12px; margin-bottom: 8px;}
				}
			}
			.info{
				color:$font-3;
				font-size:$font-size-mini;
				line-height: 16px;
			}
			
			.payment-method-list{
				.payment-method-item{
					.payment-method-item-title{
						box-sizing: border-box;
						padding:13px 25px 12px;
						border:2px solid #cad2d0;
						font-size:$font-size-sm;
						cursor:pointer;
						text-align:center;
						color:#434343;
						font-weight:500;
						margin-bottom:10px;
						
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color:#39bdbf;
							background-color: #fff;
							border:2px solid #39bdbf;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}						
					}
				}
			}
		}

		/*dl {
			display:table;
			width:100%;
			font-size: 13px;
			&:last-child{
				margin-bottom: 0px;
			}
			> dt {display:table-cell; width:20%; color:#ababab; font-weight: normal;}
			> dd {display:table-cell; width:80%;}
		}*/
	}

	.footer {
		padding:0px 60px 50px 60px;
		.info {/*float:left; width:40%;*/ font-size:12px;}
	}

	&.side {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.order-complete{
		/* border-top:1px solid #eeeeee;
		border-bottom:1px solid #eeeeee; */
		.header{
			padding:25px 40px 20px;
		}
		.body{
			padding:0px 40px 15px 40px;
			border-top:none;
			dd{
				font-family:'Noto Sans KR';
				font-size:14px;
				letter-spacing:-0.1px;
				margin-bottom:10px;
			}

			.shipping{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0px;
				}
			}
			.payment_method{
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					padding-bottom: 0px;
					margin-bottom: 0px;
					border-bottom:none;
				}
				dt {
					font-family:'Noto Sans KR';
					font-weight:bold;
					color: $font-3;
					min-width: 120px;
					float:left;
				}
				dd{
					
				}
			}
		}

	}
}


.order-card {
	padding:0 29px;
	margin-top:40px;
	&:first-child {margin-top:0;}
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-checkout-selected {
	padding:0 29px;
	margin-top:40px;
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-total-price {
	padding:0 29px;
	margin-top:40px;
	border-top:1px;
	border-bottom:1px;
	border-style:solid;
	border-color: $border-3;
	background-color:$bg-4;

	strong {font-size:20px; color: $prd_sale-price; font-weight: normal;}
	.sale {color: $prd_total-price;}
}

.product-payment_radio {
	margin-left:0px;
	//&:after {content:''; display:block; clear:both;}
}


.checkout-status-wrap {
	float:right;
	font-size:$font-size-s;
	color:$font-4;

	> .status {
		position:relative;
		display:inline-block;
		padding-left:20px;
		width:57px;
		text-align:center;

		&.current { 
			> .brz-icon-circle {border-color: #00bcbc; color: $font-6; background-color: #00bcbc; 
				// font-weight:bold;
			}
			> .label {color: #00bcbc;}
		}
		&:first-child {
			padding-left:0;
			> .icon {display:none;}
		}

		> .label {display:block; margin-top:10px;}
		> .icon {position:absolute;top:50%;left:5px;margin-top:-6px;}
	}
}

.gift-promoform{
	.label{
		font-size:$font-size-s;
		line-height: 36px;
	}
}

.giftCard-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}

.customerCredit-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:9px 10px 8px 10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}

#orderinfo-review {
	.order-complete {
		dl {
			font-family:'Noto Sans KR';
			font-size:15px;
			color:#2a2a2a;
			&:first-child {
				dd {font-family:'Noto Sans KR'; font-size:18px; font-weight:bold;}
			}
		}
	}
}
.order-field-list {
	dl {
		font-family:'Noto Sans KR';
		font-size:15px;
		color:#2a2a2a;
		&:first-child {
			dd {font-family:'Noto Sans KR'; font-size:18px; font-weight:bold;}
		}
	}
	.btn-link {
		&.mini {
			&.uk-align-right {
				width:94px;
				height:32px;
				font-size:12px;
				font-weight:500;
				color:#2a2a2a;
				background-color:#ffffff;
				border:1px solid #cad2d0;
				&:hover {color:#00bcbc; border:1px solid #00bcbc;}
			}
		}
	}
	.label {
		&.font-size-s {font-size:15px !important; color:#2a2a2a;}
	}
}
.product-checkout {
	&.checkout {border:0;}
}
.order-complete {
	.shipping {
		dl {
			font-family:'Noto Sans KR';
			font-size:14px;
			color:#2a2a2a;
			&:first-child {
				dd {font-family:"Noto Sans KR"; font-size:18px; font-weight:bold;}
			}
		}
	}
}
.payment_method {
	dl {
		font-family:'Noto Sans KR';
		font-size:14px;
		color:#2a2a2a;
	}
}
.salomon-ic-confirm {font-size:40px; color:#10b782;}

.order-tab-wrap {
	&.collapse {
		.order-tab {
			.order-complete {
				border-top:1px solid #eeeeee;
				border-bottom:1px solid #eeeeee;
			}
		}
	}
}
.product-checkout {
	.total-price {
		.label {margin-top:5px; margin-bottom:22px; font-size:18px;}
	}	
}
/* 주문내역보기 화면전용 */
.order-info {
	display:inline-block;
	box-sizing:border-box;
	padding-left:75px;
	line-height:18px;
	vertical-align: top;

	.tit {
		display:block;
		margin-bottom:7px;
		font-size:20px;
		color:#2d2d2d;
		font-weight:500;
	}
	.option {
		display:block;
		font-family:'Noto Sans KR';
		font-size:14px !important;
		font-weight:500 !important;
		color:#878787 !important;
	}
	.qty {
		margin-top:15px;
		font-family:'Noto Sans KR';
		font-size:14px;
		color:#878787;
	}
	.price {font-family:'Noto Sans KR'; font-size:14px; color:#2d2d2d; font-weight:500;}
}

/* 배송지 선택 모달 팝업 전용 */
.order-checkout {
	.contents {
		&.max-width {
			&.only-checkout {
				.order-wrap {
					.uk-modal {
						&.uk-open {
							.uk-modal-close {
								&.uk-close {margin-top:-10px;}
							}
						}
					}
				}
			}
		}
	}
}


.card-benefits {
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
	margin-bottom:20px;
}

.card-order-benefits {
	font-size:14px;
	display: inline-block;
	font-weight:bold;
	text-decoration:underline;
	margin-top: 20px;
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.order-checkout {
		.contents {
			&.max-width {
				&.only-checkout {
					margin-top:56px;
					padding:0;
					background-color:#f8f8f8;
					.contents-title {padding:16px 0 0 0;}
				}
			}
		}
	}
	/* .order-wrap {
		display:block;
		.order-tab-wrap {
			display:block;
			&:first-child {padding-right:0;}
		}
	} */
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.order-tab{
		.body{
			.order-field-list{
				margin-bottom: 20px;
			}
		}
	}
}





