* html {
	section {height:100%;}
}

.wrapper{
	min-height:100%;
	//margin:-108px 0 -270px;

	> section {
		//padding:108px 0 270px;
	}
}

.contents{
	@include contents-article;

	&.margin-mini {margin-top:10px;}
	&.margin-small {margin-top:30px;}
	&.margin-xsmall {margin-top:40px;}
	&.margin-medium {margin-top:60px;}
	&.margin-large {margin-top:80px;}
	&.margin-xlarge {margin-top:120px;}


}

.width-xlarge{
	width:100%;
	max-width:$width-xlarge;
	padding:0 15px;
	margin:0 auto;
	box-sizing:border-box;
}
.width-large{
	max-width:$width-large;
}
.width-medium{
	max-width:$width-medium;
}
.width-small{
	max-width:$width-small;
}
.width-max{
	max-width: 100%;
}

.height-max {
	height:100%;
}

.keyvisual-gallery {
	position:relative;
	overflow:hidden;

	.imgwrap {max-height:700px;}
	.info {
		position:absolute;
		bottom:25%;
		width:100%;

		.tit {@include info-setup; font-size:68px; color: $font-6;}
		.subtit {@include info-setup; margin-top:18px; color: $font-6;}
		.link {@include info-setup; margin-top:40px;}
	}
}


.list-type {
	margin-top:30px;

	&.latest {
		text-align:center;
		.product-item {
			display:inline-block;
			width:120px;
			margin-left:20px;

			&:first-child {margin-left:0;}
		}
	}
}
.uk-grid.item-list-wrap {margin-left:0 !important;} /* 카테고리 우측 상품리스트에서 좌측 border값 숨겨진 것 해제 */
.product-item {
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0; // 상품들간 여백
	/* border-top:0; */
	/* border-right:1px solid #edf4f3; */
	/* border-bottom:1px solid #edf4f3; */
	/* border-left:0; */
	/* border-right:1px solid $border-6;
	border-bottom:1px solid $border-6; */
	
	margin-right:-1px;
	margin-bottom:-1px;
	padding:29px;
	
	/* &:nth-child(3n+1) {
		border-left:1px solid #edf4f3;
	} */ /* ie9에서 적용 안되어서 막아놓음 */
	/*&:hover {border:solid 6px #39bdbf;}*/
	/* &:first-child,
	&:nth-child(4n+1) {
		border-left:1px solid $border-6;
	}
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4) {border-top:1px solid $border-6;} */
	&:after {
		content:'';
		display:block;
		box-sizing:border-box;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:1px solid $border-6;
		z-index:-1;
	}
	&:hover:after {
		border:6px solid $border-over;
	}
	&.rp {
		&:after {
			border:0 !important;
			display:none;
		}
	}

	.item-imgwrap {
		overflow:hidden;
		position:relative;
		max-height:370px;
		min-height:50px;

		> img {
			display:block;
			width:100%;
			height:auto;
			z-index:9;

			&.hover {
				position:absolute;
				display:none;
				top:0;
				left:0;
			}
		}

		.item-label_ico {
			position:absolute;
			color: $font-1;
			z-index: 10;

			&.top_left{top:0; left:0;}
			&.top_right{
				top:0;
				right:0;
				.wish-delete_btn {
					font-size:22px;
					.icon-delete_thin:before {
						content: "\e908";
					}
				}
			}
			&.right{top:0; right:0;}
			&.bottom_left{bottom:0; left:0;}
			&.bottom_right{bottom:0; right:0}
		}


		//category list item overtxt
		.category-overlaytext {
		    display:table;
			position:absolute;
		    width:100%;
		    height:inherit;
		    min-height:327px;
			text-align:center;
		    vertical-align:middle;
			z-index:60;

			> .txt {
			    display:table-cell;
				height:100%;
			    vertical-align:middle;
			    font-size:20px;
			    font-weight:bold;
			    color: $font-6;
			}
		}
	}

	.item-info {
		// padding:0 10px; /* 디자인 수정관련 삭제 처리 */
		//min-height:100px;
		margin-top:10px;
		color:$font-2;
		letter-spacing:-0.5px;
		text-align:center;

		.item-marketing {
			display:block;
			position:relative;
			color: $primary-sub-color;
			margin-bottom:5px;
		}

		.item-title {
			overflow:hidden;
			display:block;
			line-height:18px;
			font-size:$font-size-l;
			color:#878787;
			font-weight:500;
			letter-spacing:-0.3px;
			margin-bottom:10px;
		}

		.item-price {
			display:block;
			.item-price-per {
				position:absolute;
				right:10px;
			}
			.disc-num {
				color: #767676;
			}

			> strong {font-weight:400; letter-spacing:0.3px;}
		}

		.like {margin-bottom:8px;}

		.product-like {
			position:relative;
			display:block;
			margin-top:10px;
			&:after {content:""; display:block; clear:both;}
		}
	}

	a:hover {
		.item-info {
			.item-title {
				color: $prd_text-color-over;
			}
		}
	}

	.btn-wrap {text-align:center;}

	.wish-btn {
		padding:10px;
		margin:0;
		border:0;
		background-color:transparent;
		color: $primary-color;
		cursor:pointer;
	}

	.item-marketing-price {
		// display:inline-block; 메세지 없을때 여백 때문에 제거
		display:block;
		color: $marketing-color;
		font-size:14px;
		text-align:center;
		margin-top:16px;

		> a {
			color:inherit;
			display: inline-block;
			padding-bottom:8px;
		}
	}

	.action-hover {
		position:relative;
		display:block;
		width:100%;

		.quick-btn {
			display:none;
			position:absolute;
			left:0;
			bottom:0;
			z-index:100;
			padding:0;
			/* max-width:152px; */
			height:32px;
			line-height:32px;
			vertical-align:middle;
			font-family:'Futura BT W01 Medium';
			font-size:14px;
			font-weight:500;
			letter-spacing:0.3px;
			color:#39bdbf;
			border:1px solid #39bdbf;
			background-color:#fff;
		}

		&.over {
			.hover {display:block;}
			.quick-btn {
				display:block;
				i {
					font-size:18px;
					vertical-align:-3px;
				}
				&:hover {
					display:block;
					height:32px;
					line-height:32px;
					/* vertical-align:middle; */
					font-family:'Futura BT W01 Medium';
					font-size:14px;
					font-weight:500;
					letter-spacing:0.3px;
					color:#fff;
					border:1px solid #39bdbf;
					background-color:#39bdbf;
				}
			}
		}
	}

	.wish-btn-wrap {
		position:absolute;
		top:0;
		right:0;
		z-index:98;

		.wish-btn {font-size:19px;}
	}

}



//hover btn mobile none
body {
	&.mobile {
		.product-item {
			.action-hover {
				&.over {
					.quick-btn {display:none;}
				}
			}
		}
	}
}

.product-box {
	.image-wrap {
		background: $primary-color;
		> img {width:100%;}
	}

	.tit {
		overflow:hidden;
		max-height:50px;
		margin-top:15px;
		line-height:25px;
		font-size:18px;

		color: $primary-color;
		&.center {text-align:center;}
	}

	.subtit {
		overflow:hidden;
		max-height:38px;
		margin-top:10px;
		line-height:20px;
		font-size:14px;
		color:$font-3;
	}
}

.product-banner {
	overflow:hidden;
	max-height:120px;
	background: $primary-color;

	img {
		width:100%;
	}
}

/* 현재 위치 표시 내비바 */
.bread-crumb {
	height:40px;
	border-bottom:1px solid #eeeeee;
	color:#878787;
	font-size:14px;
	font-weight:500;

	a {font-size:14px; font-weight:500; color:#878787 !important;}
	.breadcrumb-divider {
		padding:0 4px;
		font-size:14px;
		color:#878787;
	}
	.crumb {
		max-width:$max-width;
		margin:0 auto;
		padding:2px 0 0;
		> .current{color:$font-4;}
		> a, span {
			text-transform:uppercase;
		}

		&.center {margin-top:50px; text-align:center;}
		&.left {text-align:left;}
		&.right {text-align:right;}
	}

	.like {
		margin-top:20px;
		text-align:center;
	}



	&.mypage {
		.crumb {text-align:left;}
	}
}
.category-title {
	.tit {
		margin:45px 0 50px;
		border:0;
		padding:0;

		// font-weight:bold;
		font-size:34px;
		text-align:center;
		color: $title_category-color;
	}
	&.gray {
		overflow:hidden;
		border-width:0;
		background-color:$bg-2;
		background-position:center;
	}
}


.dim {
	display:none;
	position:absolute;
	overflow:hidden;
	text-indent:-9999px;

	&.active {
		display:block;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: $bg-dimmed;
		opacity:0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
		z-index:998; //mobile 카테고리 filter관련 z-index수정
	}

	&.module-start-before {
		display:block;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: $bg-dimmed;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		z-index:9999;
	}
}


.recent-wrap {
	margin:-16px 0 0 -16px;
	text-align:center;

	.recent-list {
		overflow:hidden;
		display:inline-block;
		width:180px;
		height:220px;
		border:1px solid $border-3;
		margin:16px 0 0 16px;
		> img {display:block; width:100%;}
	}
}


.search-result {
	min-height:300px;
	font-size:16px;
	text-align:center;
	line-height:25px;
	color: $primary-color;

	&.less {
		color:$font-2;
		h2 {
			font-size:20px;
			font-weight:500;
			line-height:1.4;
			text-align:center;
			color:#434343;
		}
		.gnb-search-field {
			a {
				button {
					width:136px;
					height:52px;
					line-height:52px;
					vertical-align:middle;
					font-size:18px;
					/* font-weight:500; */
					color:#fff;
					border:0;
					background-color:#31babc;
				}
			}
		}
	}
}



.popup-layer-wrap {
	display:none;
	position:absolute;
	top:-9999px;
	left:-9999px;
	width:100%;
	max-width:960px;
	margin-left:-480px;
	background-color: $bg-1;
	z-index:1000;

	&.open {display:block; top:100px; left:50%;}

	.layer-header {
		position:relative;

		> .title {margin-top:30px; text-align:center;
			// font-weight:bold;
			font-size:30px; color: $primary-color;}
		> .description {text-align:center; line-height:20px;}
		> .btn-delete {position:absolute; top:15px; right:15px;}
	}

	.layer-body {
		padding-top:0;
		text-align: left;
		> .input-textfield {width:100%;}
		> .input-checkbox {width:100%;}
	}
	.layer-footer {text-align: left; margin-top:10px;}
}


.gnb-search {
	display:none;
	position:absolute;
	top:50%;
	right:0;
	width:320px;
	margin-top: 25px;

	&.active {display:block;}
}

.address-wrap {
	font-size:13px;

	.zip-code {
		margin:0;
		.postcode6 {margin-left:5px; color:$font-3;}
	}

	.addr-type {
		display:inline-block;
		float:left;
		width:45px;
		padding-top:5px;
		font-size:11px;
		font-weight:normal;
		color:$font-4;
	}

	.addr {
		overflow:hidden;
		padding-top:5px;

		> a {
			color:$font-1;
			&:hover {text-decoration:underline;}
		}
	}

	dl {margin-top:5px;}
}

/* GNB 인기검색어, 최근검색어 리스트 ui */
.etc-search-wrap {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	overflow:auto;
	// max-height:300px;
	padding:0;
	// border-width:1px 1px 1px 1px;
	// border-style:solid;
	// border-color: $border-5;
	/* background-color: $bg-1; */
	//background: url(http://localhost:8080/cmsstatic/broken_noise-pattern.png) 0 0 repeat;
	background-color:#252525;
	box-sizing:border-box;
	text-align:left;

	.sort-tabs {
		// padding: 10px !important;
		width: 100%;
		box-sizing: border-box;
		overflow:hidden;
		li {
			float: left;
			width: 50%;
			.sort-item {
				width: 100%;
				height: 48px;
				padding: 18px 0 0;
				// font-weight: bold;
				&:before {
					border: 0 none;
					border-bottom:1px solid #434343;
				}
				&.tit {
					cursor:pointer;
					a {font-size:12px;}
				}
			}
			&.uk-active {
				.sort-item {
					cursor:pointer;
					a {font-size:12px; font-weight:500; letter-spacing:0.3px; color:#39bdbf;} /* GNB 메뉴의 인기검색어 타이틀 */
					&:before {
						border-bottom: 2px solid $primary-color;
						z-index: 2;
					}
				}
			}
		}
	}

	.search-wrap {
		padding:0 0 10px 0 !important;
		font-family:'Futura BT W01 Medium';

		> li.less {
			min-height:60px;
    			text-align:center;
    			line-height:5em;
		}
		.list {
			> a {
				display: inline-block;
				width: 100%;
				padding: 13px 25px;
				font-size: 14px;
				box-sizing: border-box;
				color:#cccccc;
				font-weight: normal;
				&:hover {background-color:#2d2d2d;}
				&:focus {background-color:#2d2d2d;}
			}
			&:after {content:''; display:block; clear:both;}
		}
	}

	/* 최근 검색어 */
	.search-wrap {
		&.latest-search {
			padding:0 0 10px 0 !important;
			font-family:'Futura BT W01 Medium';
	
			> li.less {
				min-height:60px;
					text-align:center;
					line-height:5em;
				}
				.list {
					padding:0 !important;
					> a {
						display: inline-block !important;
						width: 100%;
						padding: 13px 25px !important;
						font-size: 14px;
						box-sizing: border-box !important;
						color:#cccccc;
						font-weight: normal;
						&:hover {background-color:#2d2d2d;}
						&:focus {background-color:#2d2d2d;}
					}
					&:after {content:''; display:block; clear:both;}
			}
		}
	}
	/* //최근 검색어 */

	.auto-search {
		.list {
			> a {
				color: $font-4;
				border-top: 1px solid $border-1;
				&:before {
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					display: inline-block;

					content: '\e917';
					margin-right: 10px;
					color: $font-4;
					vertical-align: middle;
				}
			}
			&:first-child a {
				border-top: 0 none;
			}

			strong {
				color: $default-color;
			}
		}
	}

	.empty-btn {
		display:block;
		height:40px;
		line-height:40px;
		margin: 6px auto 0;
		text-align: center;
		font-size:$font-size-s !important;
		font-weight:500;
		color:#39bdbf !important;
		/*vertical-align:middle;*/
		background-color:#1c1c1c;
	}

	&.active {display:block;}
}

/* PDP Rich text */
#detail-container {
	table {
		width: 100%;
		line-height: 18px;
		vertical-align: top;
		margin-bottom: 16px;
		th, td {
			padding: 5px;
			border: 1px solid #ddd;
			vertical-align: top;
		}
		th {
			font-weight: bold;
			border-bottom-color: #888;
		}
		thead {
			background: #f5f5f5;
			td {
				font-weight: bold;
				border: 1px solid #ddd;
				border-bottom-color: #888;
			}
		}
		tfoot {
			background: #f5f5f5;
		}
		tr {
			&:nth-child(even) {
				background: #f9f9f9;
			}
		}
	}
}

/* 상세페이지 상품정보 고시부분 */
.product-noti-content {
	padding:50px 0;
	font-size:12px;
	color:$font-2;
	> dl {
		padding:0;
		border:0;
		margin:10px 0 0 0;
		&:first-child {margin-top:0;}
	}


	.noti-common {
		min-height:34px;
		line-height:18px;
		&:before {content:''; display:block; padding-top:16px;}
	}
	.noit-title {
		float:left;
		width:260px;
		font-size:16px;
		color:#2a2a2a;
		font-weight:bold;
		letter-spacing:1px;
		// font-weight:bold;
		 @extend .noti-common;
		}
	.noti-value {
		overflow:hidden;
		font-size:14px;
		color:#808080;
		@extend .noti-common;
	}
}


.less-items{
	font-size: 14px;
	color: $font-3;
	padding: 50px 0px 25px 0px;
}

//layout min height
.customer-wapper {
	&.min-height_large {
		/* min-height:700px; */ /* 플로팅 높이 인신문제로 넣은 것 같은데 배경컬러를 넣으니 이 부분이 문제가 됨 */
		display:table !important;
		padding-bottom:15px;
		width:100%;
	}
}

.like {
	display:inline-block;
	position:relative;
	font-size:12px;
	color: $primary-sub-color;
}


/* responsive */
.mobile-only {display:none !important;}
.pc-only {display:block;}
.mobile-br {display:none !important;}

/* loading */
.loading {
	display:none;
	position:fixed;
	top:-99999px;
	left:-99999px;
	text-indent:-9999;
	width:0;
	height:0;
	z-index:9000;

	&.open {display:block; top:0; left:0; text-indenet:0; width:100%; height:100%;}

	.contents {width:250px; height:150px; position:absolute; top:50%; left:50%; margin:-75px 0 0 -125px; padding-top:20px; text-align:center; background-color: $bg-1;}
	.dim {background-color: $bg-dimmed; width: 100%; height: 100%; opacity: 0.1; display: block;}
	.comment {display:inline-block; width:100%; margin-top:20px;}
}





/* color chip */
.color-chip-container {
	// padding:10px 0 20px; 카테고리 여백 관련하여 여백 제거
	margin:-5px 0 0 -5px;
	width:100%;

	.color-chip {
		display:block;
		float:left;
		width:15px;
		height:15px;
		margin:5px 0 0 5px;
		border:1px solid $color-chip-border;

		&:hover, &.active {border:1px solid $color-chip-border-over}
		img {vertical-align: top;}
	}

	&:after {content:''; display:block; clear:both;}
}

/* return policy */
#return-guide {
	line-height: 1.6;
}


/* swiper 확장 */
/* 20161025 이준호 확장 */
/* key Visual extends */
.keyvisual .bx-wrapper {
	margin-bottom:0;
}
.keyvisual .bx-controls {
	> .bx-pager {position:absolute; bottom:30px;}
}

/* category slide extends */
.swipe-wrapper{
	//overflow:hidden;
	max-width:$max-width;
	position:relative;
	margin:0 auto;
}

.swipe-container{
	width:100%;

	.slide {
		float:left;
		width:270px;
		//margin-right:30px;
		> div{
			box-sizing: border-box;
			padding:0 5px;
		}
	}
	&:after {content:''; display:block; clear:both;}
}
/* .bx-wrapper .product-item .item-imgwrap {margin:0 15px;}
.bx-wrapper .product-item .item-info {padding:0 15px;}
.bx-wrapper .product-item .item-marketing-price {padding:0 15px;}
*/



/* modal extend */
#common-modal { z-index:990; }

/* category slide */
.category-slider {
	padding: 0px;
	.bx-pager-item {
		vertical-align:top;
		.bx-pager-link {
			margin-top:20px !important; 
			width:20px !important;
			height:20px !important;
			background-color:transparent !important;
			border:1px solid #fbfbfb !important;
			border-radius:20px !important;
			-webkit-border-radius:20px !important;
			-moz-border-radius:20px !important;
			opacity:0.32 !important;
			border:1px solid #1c1c1c !important;
		}
		.bx-pager-link {
		&.active {
			border:10px double #57b7bc !important;
			background-color:transparent !important;
			opacity:1 !important;
			}
		}
	
	}
	.bx-viewport {
		.product-item {margin-bottom:0 !important;}
	}
	.bxslider-controls{
		display:block;
		.btn-prev {
			position:absolute;
			left:50px;
			top: 150px;
			font-size:47px;
			color:#4e4040;
			font-weight:bold;
			&:hover {color:#39bdbf;}
		}
		.btn-next {
			position:absolute;
			right:50px;
			top:150px;
			font-size:47px;
			color:#4e4040;
			font-weight:bold;
			&:hover {color:#39bdbf;}
		}
	}
	&.custom-controller-type-1{
		.bxslider-controls{
			display: block;
			.btn-prev {
				position: absolute;
			    left: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 46px;
			    width: 46px;
			    background: url('/assets/images/btn_slider_type1.png') no-repeat left top;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
			    &:hover {
				    background-color: #f1f1f1
				}
		    }
			.btn-next {
			    position: absolute;
			    right: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 46px;
			    width: 46px;
			    background: url('/assets/images/btn_slider_type1.png') no-repeat left -46px;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
				&:hover {
			    	background-color: #f1f1f1;
				}
			}
		}
	}

	&.custom-controller-type-2{
		.bxslider-controls{
			display: block;
			.btn-prev {
				position: absolute;
			    left: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 40px;
    			width: 40px;
			    background: url('https://image.salomon.co.kr/assets/images/btn_slider_type2.png') no-repeat left top;
    			background-color: #eee;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
			    &:hover {
				    background-color: #d5d5d5
				}
		    }
			.btn-next {
			    position: absolute;
			    right: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 40px;
    			width: 40px;
			    background: url('https://image.salomon.co.kr/assets/images/btn_slider_type2.png') no-repeat left top;
    			background-color: #eee;
			    background-position:right;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
				&:hover {
			    	background-color: #d5d5d5;
				}
			}
		}
	}

}


.text-box{
	line-height: 1.6;
}

/*  SC ITEM CONTENT STYLES */
.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor blockquote,
.redactor-editor pre {
  font-size: 14px;
  line-height: 1.6em;
}
.redactor-editor a {
  color: #15c;
  text-decoration: underline;
}
.redactor-editor object,
.redactor-editor embed,
.redactor-editor video,
.redactor-editor img {
  max-width: 100%;
  width: auto;
}
.redactor-editor video,
.redactor-editor img {
  height: auto;
}
.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor figure,
.redactor-editor blockquote,
.redactor-editor pre {
  margin: 0;
  margin-bottom: 15px;
  border: none;
  background: none;
  box-shadow: none;
}
.redactor-editor iframe,
.redactor-editor object,
.redactor-editor hr {
  margin-bottom: 15px;
}
.redactor-editor blockquote {
  margin-left: 1.6em !important;
  padding-left: 0;
  color: #777;
  font-style: italic;
}
.redactor-editor ul,
.redactor-editor ol {
  padding-left: 2em;
}
.redactor-editor ul ul,
.redactor-editor ol ol,
.redactor-editor ul ol,
.redactor-editor ol ul {
  margin: 2px;
  padding: 0;
  padding-left: 2em;
  border: none;
}
.redactor-editor ol ol li {
  list-style-type: lower-alpha;
}
.redactor-editor ol ol ol li {
  list-style-type: lower-roman;
}
.redactor-editor dl dt {
  font-weight: bold;
}
.redactor-editor dd {
  margin-left: 1em;
}
.redactor-editor table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}
.redactor-editor table td,
.redactor-editor table th {
  padding: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}
.redactor-editor table thead td,
.redactor-editor table th {
  font-weight: bold;
  border-bottom-color: #888;
}
.redactor-editor code {
  background-color: #d8d7d7;
}
.redactor-editor pre {
  overflow: auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f8f8f8;
  white-space: pre;
  font-size: 90%;
}
.redactor-editor hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4,
.redactor-editor h5,
.redactor-editor h6 {
  font-weight: bold;
  color: #000;
  padding: 0;
  background: none;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4 {
  line-height: 1.3;
}
.redactor-editor h1 {
  font-size: 36px;
}
.redactor-editor h2 {
  font-size: 24px;
  margin-bottom: .7em;
}
.redactor-editor h3 {
  font-size: 21px;
}
.redactor-editor h4 {
  font-size: 18px;
}
.redactor-editor h5 {
  font-size: 16px;
}
.redactor-editor h6 {
  font-size: 12px;
  text-transform: uppercase;
}

// 에디터로 동영상 넣었을 때 반응형 처리
.redactor-editor .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.redactor-editor .video-container iframe,
.redactor-editor .video-container object,
.redactor-editor .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}


// 이벤트
.pt_event{
	.top-content{
		padding:20px 0px;
		width: 100%;
		&.border-bottom{
			border-bottom:1px solid #dfdfdf;
		}

		>div{
			display: table;
			width: 100%;
		}

		.active-date{
			color:$font-3;
			display:table-cell;
			vertical-align: middle;
		}
		.addthis{
			display:table-cell;
			text-align: right;
		}
	}
}



/* instagram swipe type */
.instagram-container {
	padding-top:30px;

	.swipe-instagram-container {
		.slide {
			> div {padding:10px 0;}
		}

		.instagram-img {
			overflow:hidden;
			max-height:250px;
		}

		.instagram-info {
			.user-img {
				float:left;
				display:inline-block;
				width:40px;
				height:40px;
				padding-right:10px;

				> img {width:100%;}
			}

			.info {
				.name {
					display:block;
					overflow:hidden;
					padding:5px 0;
				}
				.hashtag-container {
					overflow:hidden;
					display:block;
					height:18px;
					line-height:18px;
				}
			}
		}

		.bx-controls {margin-top:20px;}
	}
}

//slick.css
.brz_component-slider .slick-dots li button { 
	width:20px !important;
	height:20px !important;
	background-color:transparent !important;
	border:0 !important;
	border-radius:20px !important;
	-webkit-border-radius:20px !important;
	-moz-border-radius:20px !important;
	opacity:0.32 !important;
}
.brz_component-slider .slick-dots li.slick-active button {
	/* border:10px double #57b7bc !important; */
	background-color:transparent !important;
	opacity:1 !important;
}

.brz_component-slider {
	.slick-dots {
		/* margin-bottom:40px !important; */
		li {
			margin-right:13px;
			width:16px;
			&:before {
				font-family:'salomon' !important;
				speak:none;
				font-style:normal;
				font-weight:normal;
				font-variant:normal;
				text-transform:none;
				line-height:1;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content:"\e948" !important;
				font-size:20px;
				color:#72838e;
				font-weight:400 !important;
			}
		}
		/* li {
			position:relative;
			margin-right:13px;
			width:20px;
			.salomon-ic-radio-on {
				position:absolute;
				top:-1px;
				left:3px;
				font-size:20px;
				color:#72838e;
				font-weight:400 !important;
				&:before {content:"\e948" !important;}
			}
		} */
	}
}

.brz_component-slider {
	.slick-dots {
		li.slick-active {
			position:relative;
			margin-right:13px;
			width:16px;
			&:before {
				font-family:'salomon' !important;
				speak:none;
				font-style:normal;
				font-weight:normal;
				font-variant:normal;
				text-transform:none;
				line-height:1;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content:"\e949" !important;
				font-size:20px;
				color:#57b7bc;
				font-weight:400 !important;
			}
		}
	}
}

/* 할인율 표시 라벨 */
.discount-rate {
	height:28px;
	text-align:center;
	margin-bottom:12px;
	span {
		display:inline-block;
		font-family:'salomon';
		font-size:14px;
		color:#767676;
		font-weight:normal;
		height:26px;
		line-height:26px;
		border:1px solid #2d2d2d;
		padding:0 7px;
	}
	&.hide {
		display:block;
		opacity:0;
	}
}

.product-detail_wrap {
	.info-wrap_product {
		.price-wrap {
			.discount-rate {
				text-align:left;
				.disc-num {
					font-family:'salomon';
					font-size:16px;
					color:#767676;
					font-weight:normal;
					margin-left:0;
				}
			}
		}
	}
}

/* 가격표시 스타일 (PLP, PDP, 주문/결제) */
.product-item .item-info .item-price .price-txt,
.price-wrap .price-txt,
.cart-order_list .price-wrap span {
	font-family:'Futura BT W01 Medium';
	color:#818181;
	font-weight:500;
	&.price-txt-disabled {
		color:#747474;
		text-decoration:line-through;
		margin-right:10px;
		letter-spacing:-1px; /* PDP 정상가와 할인가 두개 나올시 틀어짐 방지 */
	}
	&.price-txt-retail {
		color:#32B1B1;
		letter-spacing:-1px; /* PDP 정상가와 할인가 두개 나올시 틀어짐 방지 */
		white-space:nowrap; /* 원 떨어짐 방지 */
	}
	> strong {
		font-weight:500;
		color:#32B1B1;
	}
}

/* 가격 표시 스타일 (PLP) */
.product-item .item-info .item-price .price-txt {
	font-size:16px;
	&.price-txt-disabled {
		font-size:14px;
	}
}

/* 가격 표시 스타일 (PDP) */
.price-wrap .price-txt {
	font-size:24px;
	&.price-txt-disabled {
		font-size:18px;
	}
}

/* 가격 표시 스타일 (주문/결제) */
.cart-order_list .price-wrap span {
	&.sale-price {
		font-size:12px;
		margin-right:6px;
	}
}

/* bxslider */  
// .bx-wrapper .bx-pager {
// 	margin-top: 16px;
// }

// .bx-wrapper .bx-pager.bx-default-pager a {
// 	margin: 0 4px;
// 	background-color: $font-0;
// 	opacity: 0.32;
// 	border: 0;
// 	border-radius: 0;
// }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: $primary-color;
	opacity: 1;
}

/* 상품상세 > 상품옵션 */
.btn-qty {
	& > .label,
	& > .btn {
		border:1px solid #deeae8;
	}
	& > .btn {
		color:#767676;
	}

}


/* 검색박스 초강력 스타일 */
#keyword-container {
	#favorite-keyword {
		
	}
}

/* media query */

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.contents {
		&.margin-xsmall {margin-top:0;}
		&.margin-small {margin-top:0;}
	}
	.product-noti-content {
		padding: 0 16px;
		margin:30px 0;
	}
	.product-noti-content {
		.noti-value {
			min-height: auto;
			color: $font-3;
			&:before {
				padding-top: 5px;
			}
		}
	}

	.etc-search-wrap {
		max-width: 100%;
		border: 0;
		.tit {
			padding: 8px 0;
			font-size: 14px;
		}
		.favorite-search,
		.latest-search {
			.list {
				> a {
					padding: 12px 20px 10px 38px;
					font-size: 14px;
					color:#dfeae8;
				}
			}
		}
	}

	.product-item {
		/* border:1px solid $border-6; */
		border:0;
		&.rp {
			&:after {
				border:0 !important;
			}
		}
	}
	.item-container {background-color:#fff;}
	.pc-only {display:none !important;}

	/* 모바일시 헤더 밑에 숨겨지는 현상 해결 - 실제는 56필셀이나 상품이미지 상단패딩 16픽셀 더 더함 */
	.product-detail_wrap {margin-top:72px;} /* 56 + 16 */
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	// .category-slider { padding: 0 5px; }
	.contents {
		&.margin-xsmall {margin-top:0;}
		&.margin-small {margin-top:0;}

		> .contents-title {
			&.center {

			}
		}

		// 모바일에서 좌우 여백 처리하기 위한 클래스
		.content-box{
			padding-left:20px;
			padding-right:20px;
		}

	}
	.bread-crumb {
		display:none;
	}

	.mobile-only {
		display:block !important; background-color:#fff;
		.mypage-cart {padding:25px;}
	}
	.pc-only {display:none !important;}
	.mobile-br {display:block !important;}

	.category-title {
		.tit {
			font-size:20px;
			margin:30px 0;
		}
		&.gray {
			background-color: $bg-1;
			border-width:1px 0 1px 0;
			border-style:solid;
			border-color: $border-2;
		}
	}

	.etc-search-wrap {
		border-width:0 0 1px 0;
		border-style:solid;
		border-color:$border-3;
	}

	.gnb-search {
		top:56px;
		width:100%;
		margin-top:0;
		.search-field {
			.input-textfield {
				> label {left:40px;}
				> input {
					padding-left:40px;
				}
			}
			.btn-search-mobile {
				top:-2px;
				left:0;
			}
		}
	}

	/* cagegory */
	.pt_category .contents.related-items {display:none;}
	/* mc category list 여백 처리 */
	.item-list-wrap {
		padding:0 5px;
		.product-item {
			padding:24px 5px;
		}
	}

	/* mc 마이페이지 탭 여백 제거 처리 */
	.customer-contents{
		.tab-filter-wrapper {
			margin-bottom:0;
		}
	}

	.pt_event{
		.top-content{
			padding:10px;
			.active-date{
				display:block;
				text-align: center;
			}
			.addthis{
				display:block;
				text-align: center;
			}
		}
	}

	/* PDP > 리뷰 */
	.review-write {
		.uk-modal {
			.uk-modal-dialog {
				padding:50px 10px 40px;
			}
		}
	}

}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	.product-item {
		.item-info {
			.item-price {
				.price-txt {
					display:block;
					margin-right:0 !important;
					&.price-txt-disabled {
						margin-bottom:6px;
					}
				}
			}
		}
	}

	/* 2018.02.07 - 메인슬라이드 도뜨 버튼 MC에서 사이즈 축소요청 처리 */
	.brz_component-slider {
		.slick-dots {
			li {
				margin-right:13px;
				width:16px;
				&:before {
					font-family:'salomon' !important;
					speak:none;
					font-style:normal;
					font-weight:normal;
					font-variant:normal;
					text-transform:none;
					line-height:1;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content:"\e948" !important;
					font-size:14px;
					color:#72838e;
					font-weight:400 !important;
				}
			}
		}
	}
	
	.brz_component-slider {
		.slick-dots {
			li.slick-active {
				position:relative;
				margin-right:13px;
				width:16px;
				&:before {
					font-family:'salomon' !important;
					speak:none;
					font-style:normal;
					font-weight:normal;
					font-variant:normal;
					text-transform:none;
					line-height:1;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content:"\e949" !important;
					font-size:14px;
					color:#57b7bc;
					font-weight:400 !important;
				}
			}
		}
	}
	/* //2018.02.07 - 메인슬라이드 도뜨 버튼 MC에서 사이즈 축소요청 처리 */
}