/* 마이페이지 전용 스타일 */
.content-area {
	&.pt_mypage {
		background-color:#e1eae8;
		padding-bottom:50px;
		.content-container {margin-bottom:0;}
		.guestOrder-search {padding:40px;}
	}
	&.pt_cscenter {background-color:#e1eae8;}

	/* 나의 상품리뷰 */
	.customer-myreview {
		.review-read {
			> ul {
				> li {
					border-bottom:1px solid #eee;
				}
			}
			.read-list {
				border-top:0;
			}
			.order-lanscape-list {
				.order-info {
					.tit {
						line-height:22px;
						max-height:44px;
					}
				}
			}
			.user-info {
				.user-name, .write-date {
					font-family:'Noto Sans KR';
					font-size:13px;
					color:#878787;
					vertical-align:0;
				}
				.btn-area {
					.review-modify, .review-remove {
						font-size:13px;
						color:#39bdbf;
						border:0;
						padding:0 0 0 16px;
						height:initial;
					}
				}
			}
		}
	}

}

/* customer title */
.customer-title {
	padding:73px 0 0 0;
	.tit {
		max-width:$max-width;
		margin:0 auto;

		// font-weight:bold;
		font-size:35px;
		font-weight:500;
		text-align:center;
		color:#2d2d2d;
	}
	&.gray {
		/* background-color:#e1eae8; */
		border-width:0;
		overflow:hidden;
	}
}

/* customer menu */
.customer-aside {
	width:310px;
    margin-right:15px;
    margin-bottom: 20px;
	float: left;

	.user-info {
		/* padding:8px 0 15px 10px; */
		padding: 0 24px;
		height:56px;
		line-height:56px;
		vertical-align:middle;
		font-size: $font-size-m;
		font-weight:bold;
		color:#2a2a2a;
		i {
			display: inline-block;
			margin-right: 10px;
			font-size: 22px;
			vertical-align: middle;
		}
		border-bottom:1px solid #e8e8e8;
		background-color:#fcfcfc;
	}

	.lnb {
		box-sizing:border-box;
		border-top:1px solid #e8e8e8;
		margin:20px 20px 0 20px;
		padding:20px 0;
		margin-top:-1px;
		&:first-child {margin-top:0; border:0;}

		> a {
			width:100%;
			color:#1c1c1c;
			font-size:20px;
			font-weight:500;
			//margin-top:10px;
			//padding:8px 0;
			//font-weight:bold;
			&:first-child {margin-top:0;}
		}

		.title {
			padding:0;
			margin:0 0 32px;
			// font-weight:bold;
			font-size:15px;
		}

		/* 고객센터 좌측메뉴 투뎁스 스타일 */
		.twodepth-lnb {
			.list {
				/* padding:8px 0; */
				padding:0;
				height:48px;
				line-height:48px;
				vertical-align:middle;
				font-size:12px;
				color:#2a2a2a;
				> a {
					padding: 11px 10px;
					font-size: 16px;
					color: #2a2a2a;
					font-weight: normal;
				}
			}
		}
	}

	i {display:none;}
	&.mypage {
		min-width:310px;
		background-color:#ffffff;
		margin-right:0;
		float:none; /* 높이 버그 때문에 float 해제 */
		display:table-cell;
		border-right:15px solid #dfeae8;
		vertical-align:top;

		.title {
			color:#1c1c1c;
			font-size:20px;
			font-weight:500;
		}
		.lnb {
			margin:20px 40px;
			> a {
				padding:16px 10px;
				font-size:16px;
				color:#2a2a2a;
				font-weight:normal;
			}
		}
	}
	&.cscenter {
		background-color:#ffffff;
		margin-right:0;
		float:none; /* 높이 버그 때문에 float 해제 */
		display:table-cell;
		border-right:15px solid #dfeae8;
		vertical-align:top;

		.title {
			color:#1c1c1c;
			font-size:20px;
			font-weight:500;
		}
		.lnb {
			box-sizing:border-box;
			border-top:0;
			border-bottom:1px solid #e8e8e8;
			margin:0 40px;
			padding:14px 0;
			&.call {
				position:relative;
				height:170px;
				border-bottom:0 !important;
				> .salomon-ic-call2 {
					position:absolute;
					top:47px;
					left:-5px;
					display:block;
					font-size:56px;
					font-weight:500;
					color:#434343;
				}
				> .call-num {
					position:absolute;
					top:43px;
					left:62px;
					font-size:32px;
					font-weight:500;
					color:#434343;
					letter-spacing:2.5px;
				}
				> .call-time {
					position:absolute;
					top:79px;
					left:62px;
					font-family: "Apple SD Gothic Neo";
					font-size:12px;
					color:#808080;
					line-height:1.5;
				}
			}
		}
	}
}

.customer-contents {
	/* float: left; */ /* 높이 버그 때문에 float 해제 */
	/* width: calc(100% - 325px); ;*/
	display:block;
	background-color:#ffffff;
	vertical-align:top;

	.cscenter-icon-menu {
		margin:40px 40px 0 40px;
		border-bottom:1px solid #eeeeee;
		ul {
			margin:38px auto 0;
			padding-bottom:35px;
			display:table;
			width:100%;
			li {
				display:table-cell;
				width:33.3%;
				text-align:center;
				span {
					display:block;
					&.icon {
						font-size:60px;
						color:#57b7bc;
					}
					&.text {
						margin-top:20px;
						font-size:22px;
						color:#2d2d2d;
						font-weight:500;
					}
				}
			}
		}
	}

	.title {
		position:relative;
		margin:0 0 33px 0;
		padding:0;
		border:0;
		/* width: 100%; */
		> .label {
			font-size:22px;
			font-weight:500;
			color:#39bdbf;
		}

		> .btn-link {float:right;}

		> .info{
			font-size:$font-size-s;
			display: block;
			padding-top:10px;
			line-height: 1.5;
		}
		> .right-container{
			position:absolute;
			bottom:0px;
			right:0px;
		}
		> strong {
			font-size: 16px;
			font-weight: normal;
		}
	}

	> * {margin-bottom:20px;}

	> .customer-notice {margin-bottom: 0; padding:40px 40px 0 40px;}
	> .customer-faq {margin-bottom: 0;}
	> .tab-filter-wrapper {margin-bottom: 20px;}

	.order-filter {
		padding:12px 20px;
		border-top:1px solid #eeeeee;
		background:none;
		.date{
			font-size:$font-size-s;
		}
		/*
		.date-range{
			height:30px;
		}
		*/
	}

	.return-btn-container{
		padding:10px;
		z-index: 1;
		width: 100%;
		background-color: #fff;
		box-sizing:border-box;
	}
	&.pt_cscenter {
		display:table-cell;
		.board-table {margin:0 40px 40px 40px;}
		.customer-faq {margin:40px 40px 0 40px;}
		.board-view {margin:30px 40px 0 40px;}
		.board-write {margin:30px 40px 0 40px;}
		.board-accodian {
			&.uk-accordion {
				margin:0 40px 40px 40px;
				.question {
					margin-bottom:0;
					padding:28px 20px;
					font-size:16px;
					font-weight:500;
					color:#434343;
					background-color:#ffffff;
					border-top:1px solid #eeeeee;
					border-bottom:1px solid #eeeeee;
					.icon-arrow_top,
					.icon-arrow_bottom {float:right}
				}
				.answer {
					padding:30px;
					font-size:14px;
					color:#878787;
					font-weight:500;
					background-color:#f8f8f8;
				}
			}
		}
	}
	&.show {
		display:table-cell;
		.board-table {margin:0 40px 40px 40px;}
		.customer-faq {margin:40px 40px 0 40px;}
		.customer-policy {margin:40px 40px 40px 40px;}
		.board-view {margin:30px 40px 0 40px;}
		.board-write {margin:30px 40px 0 40px;}
		.customer-inquire {padding:40px;}
		hr {margin:80px 40px;}
		.board-accodian {
			&.uk-accordion {
				margin:0 40px 40px 40px;
				.question {
					margin-bottom:0;
					padding:28px 20px;
					font-size:16px;
					font-weight:500;
					color:#434343;
					background-color:#ffffff;
					border-top:1px solid #eeeeee;
					border-bottom:1px solid #eeeeee;
					.icon-arrow_top,
					.icon-arrow_bottom {float:right}
				}
				.answer {
					padding:30px;
					font-size:14px;
					color:#878787;
					font-weight:500;
					background-color:#f8f8f8;
				}
			}
		}
		.less {padding:40px;}
		.order-filter {
			.uk-grid {
				.uk-width-1-1 {
					.button {
						&.small {
							&.uk-margin-mini-left {
								padding:0;
								width:77px;
								height:30px;
								vertical-align:middle;
								font-family:'Noto Sans KR';
								font-size:12px;
								color:#2a2a2a;
								border:1px solid #cccccc;
								background-color:#fff;
							}
						}
					}
				}
			}
		}
	}
	.only-returnable {
		.title {margin:0 0 10px 0;}
		.right-container {
			margin:10px 0;
			a {text-align:center;}
		}
		.title {
			> .right-container {margin:10px 0;}
		}
	}
}

.refund-title{
    margin-top:15px;
    margin-left:15px;
    line-height:20px;
}

/* 고객센터 메인 숨김처리 */
.pt_cscenter {
	.btn-pagination {/* display:none; */}
	
}
.pt_cscenter {
	.tab-filter-wrapper {display:none;}
	
}

/* 고객센터 페이징 처리 */
/* .pt_cscenter {
	.btn-pagination {
		.paging {
			&.active {
				&:hover {background-color:#00bcbc;}
			}
		}
	}
	
} */


// 주문내역 리스트
.customer-order {
	padding:40px;
	background-color:#ffffff;

	// 주문 상세
	&.order-detail{
		> .header {
			position:relative;
			padding:14px 20px;
			background-color: $bg-2;
			color:$font-4;
			font-size:$font-size-s;
			border:1px solid #eeeeee;
			&:after {content:""; display:block; clear:both;}
			.order-code{
				margin-left:15px;
			}
			.content-wrap {
				font-family: "Apple SD Gothic Neo";
				font-size: 14px;
				color: #878787;
			}
		}
		> .uk-grid {
			> .uk-width-small-1-1 {
				&.uk-width-medium-7-10 {width:100%;}			
			}
			> .uk-width-1-1 {
				width:100%;
				.content-wrap {text-align:center;}
			}
		}

		/* .header {
			position:relative;
			padding:14px 20px;
			background-color: $bg-2;
			color:$font-4;
			font-size:$font-size-s;
			&:after {content:""; display:block; clear:both;}

			.date {float:left;}
			// .total-price {position:absolute; left:105px;}
			// .order-code {position:absolute; left:245px;}
			.btn-order-detail {float:right; padding:0; font-size:$font-size-s; margin-right:0px;}

			> * {
				display:inline-block;
				margin-right:15px;
				float:left;
				&:first-child {margin-left:0;}
			}
		} */

		.content-wrap{
			> .content-title {
				margin:40px 0px 20px 0px;
				font-size:16px;
				font-weight:bold;
			}
			>.content {
				&:last-child{
					margin-bottom:0px;
				}
				font-family:"Apple SD Gothic Neo";
				font-size:14px;
				color:#2d2d2d;
				font-weight:500;
				line-height: 20px;
				margin-bottom:20px;
				>*{
					display: block;
				}
				.payment-info{
					> li{
						line-height: 1;
						border-bottom: 1px solid $border-2;
						padding:10px 0px;
						&:first-child{
							padding-top:0px;
						}
						&:last-child {
							border-bottom: none;
							font-size:16px;
							font-weight:bold;
							color:#333333;
						}
						.price{
							float:right;
							&.total{
								font-size:18px;
								font-weight:bold;
								color:#39bdbf;
							}
						}
					}
				}
			}
		}
		.order-item-container{
			border-top:1px solid $border-2;
			border-bottom:1px solid $border-2;
			.address-info{
				font-size: $font-size-mini;
				color: $font-4;
				display: block;
				margin-top:20px;
			}
		}
	}

	.order-list {
		position: relative;
		margin-top:10px;
		border:0 !important;
		&:first-child {margin-top:0;}

		.header {
			position:relative;
			padding:0 20px;
			height:48px;
			line-height:48px;
			vertical-align:middle;
			background-color: $bg-2;
			color:$font-4;
			font-size:$font-size-s;
			border:1px solid #eeeeee;
			border-right:0;
			border-left:0;
			background-color:#f8f8f8;
			&:after {content:""; display:block; clear:both;}

			.date {float:left;}
			// .total-price {position:absolute; left:105px;}
			// .order-code {position:absolute; left:245px;}
			.btn-order-detail {margin-top:18px; float:right; padding:0; font-size:$font-size-s; font-weight:500; margin-right:0px;}

			> * {
				display:inline-block;
				margin-right:15px;
				float:left;
				&:first-child {margin-left:0;}
			}
			.date {font-family:'Noto Sans KR'; font-size:14px; font-weight:500; color:#878787;}
			.total-price {
				font-family:'Noto Sans KR';
				font-size:14px;
				color:#878787;
				font-weight:500;
				> span {font-family:'Noto Sans KR';}
			}
			.order-code {
				font-family:'Noto Sans KR';
				font-size:14px;
				color:#878787;
				font-weight:500;
				> span {font-family:'Noto Sans KR';}
			}
			.btn-order-detail {color:#222222;}
		}

		&.return{
			// .total-price {position:absolute; left:140px;}
			// .order-code {position:absolute; left:290px;}
			.header {
				padding:10px 15px;
				.input-checkbox{
					/* padding-top:0px; */
					padding-top:20px;
				}
				> * {
					padding-top:4px;
				}
			}
			.order-item-wrap{
				.item-info{
					padding-left:15px;
				}

			}
		}
		.order-item-wrap {
			.item-info {
				.info-wrap {
					.tit {
						> a {font-family: "FuturaBTW01-MediumConde", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "MalgunGothic", Dotum, serif, Arial, Helvetica;; font-size:20px; font-weight:500; color:#2d2d2d;}
					}
					.opt {
						display:inline-block;
						font-family:'Futura BT W01 Medium';
						font-size:14px;
						font-weight:400;
						color:#878787;
						margin-top:15px;
						&.uk-display-block {
							display:inline-block !important;
							&:before {
								content:'수량:';
								margin:0 3px 0 10px;
							}
						}
					}
					.price {
						display:block;
						font-family:'Noto Sans KR';
						font-size:22px;
						font-weight:400;
						color:#39bdbf;
						margin-top:15px;
					}
				}
			}
			.item-status {
				> span {font-size:16px; color:#2d2d2d;}
			}
			.item-btn {
				.btn-link {
					width:125px;
					height:40px;
					line-height:100%;
					vertical-align:middle;
					text-align:center;
					border:1px solid #cad2d0;
					font-size:16px !important;
					font-weight:500;
					color:#434343 !important;
					letter-spacing:0.4px;
					background-color:#ffffff !important;
					cursor:pointer;
					&:hover {color:#fff !important; border:0 !important; background-color:#000 !important;}
				}
			}
		}
	}
}

/* 활동정보 */
.customer-myreview {
	padding:40px;
	background-color:#ffffff;
	.my-comment-read {
		.sort-tabs {
			position: absolute;
			top: 40px;
			right: 40px;
		}
	}
}

/* 정보관리 */
.customer-contents {
	.customer-update {padding:40px;}
}

/* 입고알림신청내역 */
.customer-contents {
	&.pt_restock {
		/* display:table-cell; */
		.customer-stock {
			padding:40px;
			.title {
				position:relative;
				margin:0 0 33px 0;
				padding:0;
				border:0;
				font-size:22px;
				font-weight:500;
				color:#39bdbf;
			}
			.order-list {
				position: relative;
				margin-top:10px;
				border:0 !important;
				&:first-child {margin-top:0;}
		
				.tbl-header {
					position:relative;
					display:table;
					width:100%;
					/* padding:0 20px; */
					height:48px;
					line-height:48px;
					vertical-align:middle;
					background-color: $bg-2;
					color:$font-4;
					font-size:$font-size-s;
					border:1px solid #eeeeee;
					border-right:0;
					border-left:0;
					background-color:#f8f8f8;
					li {
						display: table-cell;
						padding: 0 15px;
						font-size: 14px;
						color: #666;
						vertical-align: middle;
						box-sizing: border-box;
						float:none;
						&.date {width:15%; padding-left:15px; text-align:center;}
						&.item-info {width:45%; text-align:center;}
						&.item-status {width:20%; text-align:center;}
						&.uk-text-center {text-align:center !important;}
						> * {
							display:inline-block;
							margin-right:15px;
							float:left;
							&:first-child {margin-left:0;}
						}
						.date {font-family:"Apple SD Gothic Neo"; font-size:14px; font-weight:500; color:#878787;}
						.total-price {
							font-size:14px;
							color:#878787;
							> span {font-family:"Apple SD Gothic Neo";}
						}
						.order-code {
							font-size:14px;
							color:#878787;
							> span {font-family:"Apple SD Gothic Neo";}
						}
						.btn-order-detail {color:#222222;}
					}
				}
				.restock-item-list {
					.item-box {
						border-bottom: 1px solid #e8e8e8;
						&.order-item-wrap {
							display:table;
							position:relative;
							width:100%;
							padding:25px 0;
							box-sizing:border-box;
						}
						.tbl-td {
							display:table-cell;
							vertical-align:top;
							box-sizing:border-box;
							&.date {
								width:15%;
								padding-left:15px;
								font-family:"Apple SD Gothic Neo";
								font-weight:600;
								text-align:center;
							}
							&.item-info {padding-left:20px; width:45%;}
							&.item-status {width:20%; text-align:center;}
							&.item-btn {
								position:relative;
								padding-right:15px;
								text-align:center;
								div {
									margin-top:0;
									button {
										padding:0 30px;
										width:100px !important;
									}
								}
							}
						}
					}
				}
		
				&.return{
					// .total-price {position:absolute; left:140px;}
					// .order-code {position:absolute; left:290px;}
					.header {
						padding:10px 15px;
						.input-checkbox{
							padding-top:0px;
						}
						> * {
							padding-top:4px;
						}
					}
					.order-item-wrap{
						.item-info{
							padding-left:15px;
						}
		
					}
				}
				.order-item-wrap {
					.item-info {
						.info-wrap {
							.tit {
								> a {font-size:20px; font-weight:500; color:#2d2d2d;}
							}
							.opt {font-size:18px; font-weight:500; color:#878787;}
							.price {font-family:'Apple SD Gothic Neo'; font-size:22px; font-weight:bold; color:#39bdbf;}
						}
					}
					.item-status {
						> span {font-size:16px; color:#2d2d2d;}
					}
					.item-btn {
						.btn-link {
							width:125px;
							height:40px;
							line-height:100%;
							vertical-align:middle;
							text-align:center;
							border:1px solid #39bdbf;
							font-size:16px !important;
							font-weight:500;
							color:#39bdbf !important;
							background-color:#ffffff !important;
							cursor:pointer;
							&:hover {color:#fff !important; border:0 !important; background-color:#000 !important;}
						}
					}
				}
			}
		}
	}
}

.group-wish-list {
	padding:40px;
	border-top:20px solid #dfeae8;
	background-color:#ffffff;

	/* order step */
	.order-step-title {
		margin:0 0 33px 0;
		font-size:22px;
		font-weight:500;
		color:#39bdbf;
		box-sizing: border-box;
		&.line{
			border-bottom: 1px solid $border-2;
		}
	}
	.list-type {
		&.uk-grid {
			&.mypage-only {display:table; margin-left:0; width:100%;}
		}
		.btn-link {
			&.line {
				&.width-max {padding:0; height:40px; line-height:40px; vertical-align:middle; font-size:16px; color:#434343; font-weight:500;}
			}
		} 
	} 
}

/* 예외처리 */
.customer-order {
	.list-type {
		&.uk-grid {margin-left:0 !important;}
	}
}

/* 약관 관련 style */
.customer-policy {
	font-size:16px;
	font-weight:500;
	color:#878787;
	line-height:1.42;
	.title {
		padding-bottom: 20px;
		border-bottom: 1px solid #eeeeee;
	}
	> * {line-height:1.42;}
	
	
	/* editor : foundation css str  */
	table tbody tr:nth-child(even) {
	    background: #f9f9f9;
	}
	table thead, table tfoot {
	    background: #f5f5f5;
	}
	/* editor : foundation css end */

	table {
	    border-collapse: collapse;
	    font-size: 14px;
	    width: 100%;
	    td, th {
	    	padding: 5px;
		    border: 1px solid #ddd;
		    vertical-align: top;
		    p {
		    	padding-bottom: 15px;
		    }
	    }
	    thead {
	    	td, th {
	    		 font-weight: bold;
   				 border-bottom-color: #888;
	    	}
	    }
	}
	a {
		color: #15c;
		text-decoration: underline;
		&:hover {color:#454e57;}
	}

	//  table {
	//     margin: 15px 0;
	//     border-left: 1px solid $border-2;
	//     border-top: 1px solid #000;
	//     font-size: 12px;
	//     color: $font-2;
	//     width: 100%;
	//     border-collapse: collapse;
	//     thead {
	//     	td {
	//     		text-align: center;
	// 		    padding: 10px 10px 10px;
	// 		    border-right: 1px solid $border-2;
	// 		    border-bottom: 1px solid $border-2;
	// 		    font-weight: normal;
	// 		    background: $bg-3;
	// 		    text-align: center;
	//     	}
	//     }
	//     th {
	// 	    text-align: center;
	// 	    padding: 10px 10px 10px;
	// 	    border-right: 1px solid $border-2;
	// 	    border-bottom: 1px solid $border-2;
	// 	    font-weight: normal;
	// 	    background: $bg-3;
	// 	    text-align: center;
	// 	}
	// 	td {
	// 	    position: relative;
	// 	    display: table-cell;
	// 	    line-height: 16px;
	// 	    text-align: center;
	// 	    vertical-align: middle;
	// 	    padding: 10px;
	// 	    border-right: 1px solid $border-2;
	// 	    border-bottom: 1px solid $border-2;
	// 	    color: $font-1;
	// 	}
	// }
}


.order-item-wrap {
	display:table;
	width:100%;
	padding:20px 0px;
	box-sizing:border-box;

	// 상품 섬네일과 옵션의 container
	.item-info {
		padding-left:20px;
		display:table-cell;
		width:58%;

		vertical-align:top;
		> ul {
			list-style:none; padding:0; margin:0; border:0;
			> li{
				clear:both; position:relative; overflow: hidden; margin-top:20px; &:first-child {margin-top:0;}
			}
		}
	}

	//상품 섬네일
	.img-wrap {
		overflow:hidden;
		display:inline-block;
		width:160px;
		min-height:160px;
		float:left;
		> img {display:block;width:100%;}
	}

	.input-checkbox{
		margin-right:15px;
		float:left;
	}

	// 상품 옵션
	.info-wrap {
		box-sizing: border-box;
		display:inline-block;
		padding-left:15px;
		vertical-align:top;
		float:left;
		.tit {display:block; font-size:20px; font-weight:500; color:#2d2d2d;}
		.opt {font-size:18px; font-weight:500; color:#878787;}
		.price {font-family:'Apple SD Gothic Neo'; font-size:22px; font-weight:bold; color:#39bdbf;}
		.btn {
			display:block; margin-top:20px; font-size:$font-size-s; color: $font-5;
			.btn-style-guide {margin-bottom:0;}
		}


		> * {
			margin-top:7px;
			display: inline-block;
			&:first-child {margin-top:0;}
		}
	}

	// 주문 상태
	.item-status {
		display:table-cell;
		width:22%;
		vertical-align: middle;
		.status {
			// font-weight:bold;
			font-size:16px;
			color:#2d2d2d;
		}
		> .btn-link {
			padding:8px 0 0 0;
		}

		> .status, .other-info {
			display:inline-block; padding-top:8px; width:100%;
			&:first-child{padding-top:0};
		}
	}

	// 액션 버튼
	.item-btn {
		padding-right:0;
		box-sizing: border-box;
		display:table-cell;
		// width:20%;
		text-align:right;
		vertical-align: middle;
		position:absolute;;
		top:50%;
		right:0px;
		> * {margin-top:5px; &:first-child{margin-top:0;}}
		a{
			display: block;
			text-align: center;
		}
	}


	// 주문 취소, 반품 팝업에서 사용
	&.return-reason-list{
		padding:0px;
		.return-reason-item{
			padding:20px;
			&:last-child{
				border-bottom:none;
			}
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			border-bottom: 1px solid $border-1;
			margin-top:0px;

			.reason-info{
				.info-wrap {
					.tit {
						> a {font-size:20px; font-weight:500; color:#2d2d2d;}
					}
					.opt {font-size:18px; font-weight:500; color:#878787;}
					.price {font-family:'Apple SD Gothic Neo'; font-size:22px; font-weight:bold; color:#39bdbf;}
				}
			}

			.quantity-wrap{
				padding: 10px 0px 0px 15px;
				font-size:$font-size-mini;
				clear:both;
			}
		}
	}
}

.customer-location {
	display:none;
	position:relative;
	width:100%;
	padding:10px 0;
	margin:0;
	border-bottom:1px solid $border-2;
	text-align:center;
	font-size:18px;
	// font-weight:bold;
	color: $title_mobile-location;
	box-sizing:border-box;

	> a {position:absolute; left:20px; color: $title_mobile-location;}
}



.mobile-btn-wrap {display:none; padding:20px; text-align:center;}

.shipping-list {
	border-top:1px solid $border-2;
	padding:30px;
	color:$font-1;

	.ship-tit {display:inline-block; width:100%; font-size:16px; font-weight:bold; color:#2a2a2a;}
	.address-default {font-weight:normal; color:$font-3;}
	.user-name {
		display:inline-block;
		width:100%;
		margin:30px 0 15px 0;
		font-size:14px;
		font-weight:500;
		color:#2d2d2d;
		line-height:1.57;
		letter-spacing:-0.3px;
	}
	.addr-type, .addr {
		padding-top:7px;
		line-height:12px;
		font-family:Noto Sans KR;
		font-size:13px;
		color:#2a2a2a;
		line-height:1.57;
		letter-spacing:-0.3px;
	}

	.addr-type {width:60px;}
	form {display:inline-block;}
}


.address-form {
	display:none;
	text-indent:-9999px;
	overflow:hidde;
}

.address-form-wrap {
	padding:50px 20px;

	.tit {font-size:18px; font-weight:500; color:#878787; margin-top:20px;}
	.input-textfield, .search-field {margin-top:5px;}
	.btn-wrap {text-align:center; margin-top:30px;}
	.hidden-form {display:none; overflow:hidden;}
}

.cancel-order-preview, .return-order-preview{
	position:fixed;
	right:0;
	bottom:0;
	width:400px;
	padding:10px;
	box-sizing: border-box;
	border:1px solid $border-1;
	background: $bg-1;
	z-index: 1;
}


/* 내용 없을 때 */
.no-item {
	padding:100px 0;
	font-size:16px;
	font-weight:500;
	color:#434343;
	text-align:center;
	border-width:1px 0 1px 0;
	border-style:solid;
	border-color:$border-2;
	> div {
		> a {
			display:inline-block;
			margin-top:26px;
			padding:0 !important;
			width:122px !important;
			height:40px !important;
			line-height:40px !important;
			vertical-align:middle;
			color:#39bdbf !important;
			font-weight:500;
			border:1px solid #39bdbf;
			background-color:#ffffff;
			&:hover {border:0;}
		}
	}
}

.order-step {
	width:100%;
	height:128px;
	margin-bottom:50px;
	border-top:1px solid $border-2;
	border-bottom:1px solid $border-2;
	box-sizing: border-box;

	li {
		position:relative;
		float:left;
		width:20%;
		text-align:center;
		padding:10px 0 0 0;
		line-height: 1.5em;
		font-size: 12px;

		&:after {
			content:'\e903';
			font-family: 'icomoon';
			position:absolute;
			top:55px;
			left:0;
			display:block;
			width:7px;
			height:14px;
		}
		&:first-child:after {
			font-size:0;
		}

		span {
			padding:0 0 5px;
			font-size:11px;
			letter-spacing:0.3em
		}
		dt {
			padding:0 0 15px;
			font-size:14px;
			color: $font-1;
		}
	}
}

// cscenter main
.pt_cscenter {
	min-height: 700px;
}

/* wish list */
.customer-wish {
	padding:40px;
	.product-item {
		.item-info {
			.item-title {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.opt {font-size: 12px;}
			.item-price {margin-top: 6px;}
		}
		.btn-link {
			&.line {
				&.width-max {padding:0; height:40px; line-height:40px; vertical-align:middle; font-size:16px; color:#434343; font-weight:500;}
			}
		}
	}
}



/* tab btn wrapper */
.tab-filter-wrapper {
	width:100%;

	.tab-filter-container {
		.tab-filter-list {
			width:16.66%;
			position:relative;
			float:left;
			margin-left:0;

			&.active {
				z-index:10;
				.btn-link {border-color:#39bdbf;}
			}
			&:first-child {margin-left:0;}
			&:hover {z-index:5;}

			.btn-link {
				width:100%;
				text-align:center;
			}
		}
		&:after {content:''; display:block; clear:both;}
	}
}

/* my page only */
/* 배송지 관리 */
.customer-shipping {
	padding:40px;
	.add-address {
		margin-top:-25px;
		padding:0 !important;
		width:262px;
		height:56px !important;
		line-height:56px !important;
		vertical-align:middle !important;
		text-align:center;
		font-size:20px !important;
		font-weight:500;
		> i {
			font-size:18px !important;
			margin-right:15px;
			font-weight:normal !important;
		}
	}
}
.shipping-list {
	.btn-wrap {
		margin-top:20px;
		.btn-link, .button {
			font-size:14px;
			display:inline-block;
			margin:0;
			width:138px;
			height:40px;
			line-height:100%;
			vertical-align:middle;
			text-align:center;
			border:0;
			color:#fff !important;
			background-color:#39bdbf;
			cursor:pointer;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			&:hover {color:#fff; background-color:#2d2d2d;}
			&.normal {padding:10px 0;}
			&.modify {
				margin-left:-12px !important;
				width:88px;
				height:auto;
				font-size:$button_font-xlarge;
				display:inline-block;
				margin:0;
				height:40px;
				line-height:100%;
				vertical-align:middle;
				text-align:center;
				border:1px solid #39bdbf;
				color:#39bdbf !important;
				background-color:#ffffff !important;
				cursor:pointer;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			&.remove {
				margin-left:-13px !important;
				width:88px;
				height:auto;
				font-size:$button_font-xlarge;
				display:inline-block;
				margin:0;
				height:40px;
				line-height:100%;
				vertical-align:middle;
				text-align:center;
				border:1px solid #39bdbf;
				color:#39bdbf !important;
				background-color:#ffffff !important;
				cursor:pointer;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
	}
}

/* 하단 추천상품 */
#recommended-products {
	.contents {
		&.latest-items {
			padding:0;
			.header-title {
				padding-bottom:40px;
				font-size:35px;
				font-weight:500;
				color:#2d2d2d;
			}
		}
		.content-container {
			&.category-slider {padding-top:74px;}
		}
	}
}

/* 모달팝업 공통 - 주문 취소 팝업 */
.uk-modal-header {
	padding:50px 0 !important;
	margin-bottom:0;
	> h4 {
		font-size:26px;
		font-weight:500;
		color:#2d2d2d;
	}
}

/* media query */

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.uk-hidden-small {display:none !important;}
	.contents {
		&.width-xlarge {
			&.margin-xsmall {padding:0;}
		}
	}
	.mobile-only {
		display:block !important;
		background-color:#fff;
	}
	.customer-title {display:none;}
	.pt_account {
		&.customer-contents {
			&.min-height_large {
				&.show {
					.customer-order {display:none;}
					.group-wish-list {display:none;}
				}
			}
		}
	}

	/* MC 마이페이지 전용 */
	.content-area {
		&.pt_mypage {
			background-color:#fff;
			padding-bottom:0;
			.customer-order {
				padding:0 0 20px 0;
				&.only-returnable {
					.title {
						margin:0 0 10px 0;
						.label {display:none;}
						.info {display:inline-block; padding:15px 15px 0 15px;}
					}
					.right-container {
						margin:10px 15px;
						a {width:100%; text-align:center;}
					}
				}
				.order-filter {margin:14px 24px; padding:0; border:0; background:none;}
				.order-item-wrap {
					margin:0 24px;
					width:calc(100% - 48px);
					.item-btn {
						position:initial;
						padding:0;
						border:0;
						button {
							width:100% !important;
							color:#434343 !important;
							border:1px solid #cad2d0;
						}
					}
				}
			}
			.guestOrder-search {
				padding:20px;
				.content-box {padding:0;}
			}
			/* 나의 상품리뷰 */
			.customer-myreview {
				padding:20px 0;
				.title {display:none;}
				.my-comment-read {
					.sort-tabs {
						position:static;
						text-align:right;
						margin-right:20px;
						padding:0;
					}
				}
				.uk-grid {
					margin-left:0;
					.title {display:none;}
					.user-info {
						.user-name, .write-date {
							font-family:'Noto Sans KR';
							font-size:13px;
							color:#878787;
							vertical-align:0;
						}
						.btn-area {
							.review-modify, .review-remove {
								color:#39bdbf;
								border:0;
								padding:0 0 0 16px;
								height:initial;
							}
						}
					}
					.review-img-info {
						.append-img {
							width:100%;
							height:initial;
							a {
								img {width:100%;}
							}
						}
					}
				}
			}
			/* 나의 상품리뷰 */
			.customer-order {
				.title {display:none;}
			}
		}
		&.pt_cscenter {
			background-color:#fff;
			/* .cscenter-icon-menu {
				margin:93px 40px 0 40px;
				border-bottom:1px solid #eeeeee;
				ul {
					margin:38px auto 0;
					padding-bottom:35px;
					display:table;
					width:100%;
					li {
						display:table-cell;
						width:33.3%;
						text-align:center;
						span {
							display:block;
							&.icon {
								font-size:60px;
								color:#57b7bc;
							}
							&.text {
								margin-top:20px;
								font-size:22px;
								color:#2d2d2d;
								font-weight:500;
							}
						}
					}
				}
			} */
		}
	}

	.content-container {
		&.category-slider {display:none !important;}
	}
	.tab-filter-wrapper {
		.tab-filter-container {
			.tab-filter-list {
				overflow:hidden;
				width:50%;
				margin-left:-2px;
				/* margin-top:-2px; */

				&:nth-child(odd) {
					margin-left:0;
				}
			}
		}
	}
	.social-login-container {
		.uk-width-1-3 {
			width:100%;
			margin-top: 10px;
		}
	}

	/* 마이페이지 퀵메뉴 */
	.customer-aside {
		position:static;
		width:100%;
		margin-top: 0;
		margin-bottom: 0;
		.user-info {
			margin-top:48px;
			min-height: 48px;
			padding: 18px 24px 0;
			background-color: #fcfcfc;
			/* i {display: none;} */
		}
		.mileage-info {
			min-height: 48px;
			padding: 18px 20px 0 24px;
			border-bottom: 1px solid $border-2;
		}
		.quick-menu {
			li {
				position: relative;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border-right: 1px solid $border-2;
					border-bottom: 1px solid $border-2;
					box-sizing: border-box;
				}
				a {
					display: block;
					position: relative;
					width: 100%;
					height:127px;
					padding-top:38px;
					text-align: center;
					box-sizing: border-box;
					i {
						font-size: 32px;
						color: $font-3;
					}
					span {
						display: inline-block;
						margin-top: 10px;
						font-size: $font-size-s;
					}
				}
			}
		}
		.lnb {
			padding:0;
			border-bottom: 0;
			// border-bottom:1px solid $border-2;

			&:first-child {
				// border-top:0;
				//.title {border-top:1px solid $border-2;}
			}

			> .btn-link {
				// border-top:1px solid $border-2; 고객센터 2줄 겹침 때문에 제거
				padding:18px 32px;
				color: $font-2;
				&.title-link {
					height: 48px;
					margin:0;
					padding:17px 24px 0;
					font-size: $font-size-s;
					box-sizing: border-box;
				}
			}

			> .title {
				height: 48px;
				margin:0;
				padding:23px 24px 0;
				font-size: $font-size-s;
				background-color: $bg-2;
				box-sizing: border-box;
			}

			.twodepth-lnb {display:none;}
		}
		&.mypage {
			display:block;
			.lnb {
				margin:0;
				> .btn-link {
					padding:18px 20px 18px 32px;
					color: $font-2;
					// &:last-child {
					// 	border-bottom:1px solid $border-2; 
					// }
				}
				.title {
					padding:23px 20px 0;
					color:#2a2a2a;
					font-size:18px;
					background:none;
				}
			}
			.btn-wrap {
				padding: 8px 8px 24px;
				background-color: $bg-2;
				.btn-link {
					background-color: $bg-1;
				}
			}
		}
		&.cafe {display: none;}
		i {display:block;}
	}
	.customer-wapper {
		/* &.min-height_large {
			&.mobile {margin-top:56px;}
		} */
		.customer-aside {
			&.cscenter {
				display:block;
				.lnb {
					&:first-child {margin-top:56px;}
				}
			}
		}
		.customer-contents {
			&.show {display:block;}
			&.pt_cscenter {display:none;}
		}
	}
	.customer-location {
		display:block !important;
		height:56px;
		line-height:56px;
		padding:0 !important;
		font-weight:normal;
		background:#1c1c1c;
		vertical-align:middle;
	}

	/* 배송지 관리 */
	.customer-shipping {
		padding:16px 0;
		.title {
			margin-bottom:16px;
			text-align:center;
			.label {display:none;}
			.add-address {
				margin:0 24px;
				width:calc(100% - 48px);
				height:40px !important;
				line-height:40px !important;
				vertical-align:middle;
				font-size:14px !important;
				font-weight:400;
				float:none;
				> i {font-size:14px !important;}
			}
		}
		.uk-grid {
			padding-left:0 !important;
			margin-left:0;
			.uk-width-small-1-1 {
				width:100% !important;
				padding:0;
				.shipping-list {
					padding:24px;
					.btn-wrap {
						margin-top:20px;
						.btn-link, .button {
							font-size:14px;
							padding:0 20px !important;
							width:initial !important;
							line-height:40px !important;
							vertical-align:middle !important;
							&.normal {padding:10px 0;}
							&.modify {
								padding:0 20px !important;
								width:initial !important;
							}
							&.remove {
								padding:0 20px !important;
								width:initial !important;
							}
						}
					}
				}
			}
		}
	}

	/* 입고알림신청내역 */
	.customer-contents {
		&.pt_restock {
			/* display:table-cell; */
			.customer-stock {
				padding:20px;
				.title {display:none;}
				.order-list {
					position: relative;
					margin-top:10px;
					border:0 !important;
					&:first-child {margin-top:0;}
			
					.tbl-header {display:none;}
					.restock-item-list {
						.item-box {
							border-bottom:0;
							padding:0 !important;;
							&.order-item-wrap {
								display:table;
								position:relative;
								width:100%;
								padding:25px 0;
								box-sizing:border-box;
							}
							.tbl-td {
								display:block;
								width:100% !important;
								padding:10px 0;
								text-align:left !important;
								vertical-align:top;
								box-sizing:border-box;
								&.date {
									border-top:1px solid #eaeaea;
									border-bottom:1px solid #eaeaea;
									background-color:#f8f8f8;
								}
								&.item-btn {
									position:relative;
									padding-right:15px;
									text-align:center;
									div {
										margin-top:0;
										button {
											padding:0 30px;
											width:100% !important;
										}
									}
								}
							}
						}
					}
			
					&.return{
						// .total-price {position:absolute; left:140px;}
						// .order-code {position:absolute; left:290px;}
						.header {
							padding:10px 15px;
							.input-checkbox{
								padding-top:0px;
							}
							> * {
								padding-top:4px;
							}
						}
						.order-item-wrap{
							.item-info{
								padding-left:15px;
							}
			
						}
					}
					.order-item-wrap {
						.item-info {
							.info-wrap {
								.tit {
									> a {font-size:20px; font-weight:500; color:#2d2d2d;}
								}
								.opt {font-size:18px; font-weight:500; color:#878787;}
								.price {font-family:'Apple SD Gothic Neo'; font-size:22px; font-weight:bold; color:#39bdbf;}
							}
						}
						.item-status {
							> span {font-size:16px; color:#2d2d2d;}
						}
						.item-btn {
							.btn-link {
								width:125px;
								height:40px;
								line-height:100%;
								vertical-align:middle;
								text-align:center;
								border:1px solid #39bdbf;
								font-size:16px !important;
								font-weight:500;
								color:#39bdbf !important;
								background-color:#ffffff !important;
								cursor:pointer;
								&:hover {color:#fff !important; border:0 !important; background-color:#000 !important;}
							}
						}
					}
				}
			}
		}
	}
	/* 주문내역 */
	.customer-order {
		&.order-detail {
			> .uk-grid {
				padding:0 20px;
			}
		}
	}
}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	/* 배송지 관리 */
	.customer-shipping {
		.uk-grid {
			padding-left:0 !important;
			.uk-width-small-1-1 {
				.shipping-list {
					padding:24px;
				}
			}
		}
	}

	/* MC 마이페이지 전용 */
	.content-area {
		&.pt_mypage {
			.customer-order {
				padding:0 0 20px 0;
				.uk-sticky-placeholder {display:none;}
			}
			/* 나의 상품리뷰 */
			.customer-myreview {
				.title {display:none;}
				.my-comment-read {
					.sort-tabs {
						position:static;
						text-align:right;
						margin:0 20px;
						padding:0;
					}
				}
			}
		}
	}
	/* 주문내약/배송현황 */
	.order-item-wrap {
		.img-wrap {
			width:60px;
			height:60px;
		}

	}
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
	
	/* MC 마이페이지 전용 */
	.content-area {
		&.pt_mypage {
			.customer-order {
				padding:0 0 20px 0;
				.uk-sticky-placeholder {display:none;}
				.customer-contents {
					.title {margin-bottom:0;}
				}
				.sort-tabs {
					.sort-item {min-width:45px !important;}
				}
				.button {
					&.small {padding:8px 9px;}
				}
			}

			/* 나의 상품리뷰 */
			.customer-myreview {
				.title {display:none;}
				.my-comment-read {
					.sort-tabs {
						position:static;
						text-align:right;
						margin:0 20px;
						padding:0;
					}
				}
			}

		}
	}

	/* 배송지 관리 */
	.customer-shipping {
		.uk-grid {
			padding-left:0 !important;
			.uk-width-small-1-1 {
				.shipping-list {
					padding:24px;
				}
			}
		}
	}
}

/* 배송지 정보가 좌우로 나올 경우 */
@media (max-width: $breakpoint-xlarge) {
	/* 배송지 관리 */
	.shipping-list {
		padding:30px 5px;
		.btn-wrap {
			margin-top:20px;
			text-align:center;
			.btn-link, .button {
				font-size:14px;
				padding:0 10px !important;
				width:initial !important;
				line-height:40px !important;
				vertical-align:middle !important;
				&.normal {padding:10px 0;}
				&.modify {
					padding:0 10px !important;
					width:initial !important;
				}
				&.remove {
					padding:0 10px !important;
					width:initial !important;
				}
			}
		}
	}
}