/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

/*  필터 신규 디자인 작업
/************************************************************************************************/

.filter-container {

}

/* 필터 BY */
.filter_by {
  /* margin-bottom:15px; */
  padding:0 0 22px 0;
  font-size:26px;
  font-weight:bold;
  color:#39bdbf;
  border-bottom:1px solid #e0ebe9;
}

/*  필터 1depth title */
.f-title-box {
  position:relative;
  margin-top:15px;
  font-family:Futura BT W01 Medium;
  font-size:$font-size-l;
  color:#2d2d2d;
  font-weight:bold;
  padding-bottom:15px;
  .f-btn-reset {
    position:absolute;
    top:2px;
    right:0;
    font-size:12px;
  }
}

/*  필터 2depth title */
.f-subtitle-box {
  position:relative;
  font-family:'Futura BT W01 Medium';
  font-size:12px;

  /* uikit .uk-accordion-title override*/
  margin-top:0;
  margin-bottom:0;
  padding:0 0 15px 0;
  background:none;
  line-height:1em;

  .ic-plus,
  .ic-minus {
    font-size: 20px;
    color: $font-3;
  }

  .ic-minus {
    display: none;
  }

  &.uk-active {
    .icon-minus,
    .ic-minus {display:block;}
    .icon-plus,
    .ic-plus {display:none;}
  }
}

.f-btn-toggle {
  position:absolute;
  top:-4px;
  right:0;
}

/* 필터 category list */
.f-cagetory-sect {
	padding-bottom:30px;
	&.borderline-top {
		/* padding-top: 15px; */
		/* border-top:1px solid $border-2; */
		padding-top:0;
		border-top:0;
		margin-left:20px;
	}
	.f-item {
		> a {
			display:inline-block;
			font-size:14px;
			color:#434343;
			font-weight:500;
			padding:7px 0;
			&:hover {color:#39bdbf;}
		}
		&.active {
			> a {font-weight:bold;}
		}
		&:last-child {margin-bottom:7px;}
		> a.f-btn-more {
			margin-left: 15px;
			color: $button_text-color-type2;
			font-weight: normal;
		}
	}
	.f-subitem {
		padding-left:15px;
		> a {
			display:inline-block;
			font-size:12px;
			color: $font-2;
			padding:5px 0;
		}
	}
	.f-btn-more {
		font-size:12px;
	}
}
.f-cagetory-sect + .filter_by {display:none;}

/* 필터 옵션 (color, size, price) */
.f-refine-sect {
  &.borderline-top {
    padding-top: 15px;
    border-top:1px solid $border-3;
  }

  /* uikit .uk-accordion-content override */
  .uk-accordion-content {
    padding: 0 0 30px 0;
    overflow:hidden;
  }


  .more-container {
    overflow:hidden;
    height:196px;
  }

  .more-btn {
    margin:0;
    padding:0;
    border:0;

    display:block;
    width:100%;
    padding-top:10px;
    //border-top:1px solid $border-2;
    text-align:center;
    font-size:10px;
    background-color:$bg-1;

    &.active {
      .plus {display:none;}
      .minus {display:inline;}
    }

    .minus {display:none;}
  }
}

/* 필터 타입 체크박스 & 라디오 */
.f-style-check, .f-style-radio {
  /* uikit .uk-accordion-content override */
  padding: 0 0 0 0;

  .f-item {
    padding:3px 0;
    label {
      position: relative;
      width: 100%;
      padding-right: 25px;
      box-sizing: border-box;
      >i {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0 0 0 5px;
      }
    }
  }

  .input-radio { display:block; }
}

.f-style-check {
  .f-item {
    label {
      padding-right:0;
      padding-left:34px;
      i {
        left:0;
        right:initial;
        font-size:26px;
        color:#767676;
        margin:0 5px 0 0;
      }
      span {
        display:inline-block;
        height:26px;
        line-height:26px;
        font-size:14px;
      }
    }
  }
  &.f-style-other {
    .f-item {
      float:left;
      width:50%;
    }
  }
}

/* 필터 타입 정사각형 모양 */
.f-style-square {
  // overflow:hidden;
  margin-left: 0;
  padding: 0 0 0 0;

  .f-item {
    float:left;
    margin:8px 8px 0 0;
    padding: 0;
    &:nth-child(4n+4) {margin-right:0;} /* 4번째 반복 적용 */

    a, label {
      position: relative;
      display:table-cell;
      min-width:50px;
      height:30px;
      line-height:30px;
      padding:0 5px;
      box-sizing:border-box;
      text-align:center;
      color:#2a2a2a;
      font-size:12px;
      font-weight:500;
      vertical-align:middle;
      &:hover {
        border-color: $primary-color;
        color: $primary-color;
        &:after {
          border-color: $primary-color;
          z-index: 100;
        }
      }
      &:after {
        border: 1px solid #e5e5e5;
            position: absolute;
            top: 0;
            right: -1px;
            left: 0;
            bottom: -1px;
      }
    }

    .no-view {display:none;}
  }

  .active, .checked {
    a, label {
      border-width:2px;
      color: $primary-color;
      background-color:#f8f8f8;
      &:after {
        border: 1px solid $primary-color;
        z-index: 100;
      }
    }
  }

  /* 필터 타입 라운드 모양 */
  &.f-color-type {
    width: 230px;
    margin-left: 0;
    border: 0;

    .f-item {
      float:left;
      margin: 0 14px 14px 0;
      width: 24px;
      height: 24px;
      box-sizing: border-box;

      a, label {
        display: inline-block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        padding: 4px 1px 0;
        border-radius: 50%;
        border:1px solid #ddd;
        box-sizing:border-box;
        text-align:center;
        color: $font-1;
        vertical-align:middle;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0;
        &:hover {
          background-color: transparent;
        }
        &:after {
          border: 0;
        }
      }

      .no-view {display:none;}
    }
    .active, .checked {
      a, label {
        position: relative;
        background-color: transparent;
        &:before {
           font-family: 'nike' !important;
           speak: none;
           font-style: normal;
           font-weight: normal;
           font-variant: normal;
           text-transform: none;
           line-height: 1;
           display: inline-block;

           /* Better Font Rendering =========== */
           -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale;

          content: "\f150";
          display: block;
          position: absolute;
          top: 2px;
          left: 6px;
          font-size: 20px;
        }
      }
    }
  }
}

/* 필터 타입 라운드 모양 */
.f-style-round {
  padding-bottom:30px;
  .f-item {padding:3px 0;}
}

.filter-wrap_category {
  position:relative;
  // height:48px;  높이값 지정 필요?
  margin-bottom:30px;
  .btn-link, .select-box {font-weight:500;}

  .btn-filter-open {float:left;}
  .filter-tagbox {float:left;}

  &:after {content:''; clear:both; display:block;}
  .select-box{
    &.sort{
      .select-head {padding:0 11px; color:#2d2d2d;}
      &.checked {
        &:before {
          margin-top: -3px;
          color: $primary-color;
          transform: rotate(315deg);
        }
        .select-head {color: $primary-color;}
      }
    }
  }
}

/* filter tag */
.filter-tagbox {
  .filter-tit {
    font-size:26px;
    color:#2d2d2d;
    font-weight:500;

    .num {
      font-size:$font-size-l;
      color:#434343;
      font-weight:500;
    }
  }
  ul {
    display: inline-block;
    padding:15px 0 10px;
  }
  .tag-item {
    display:inline-block;
    color: $font-2;
    font-size: 13px;
    margin-right:10px;
    a {
      display: inline-block;
      padding:0 16px 0 16px;
      height:33px;
      line-height:33px;
      vertical-align:middle;
      text-align:center;
      color:$font-6;
      font-size:14px;
      background-color:#31babc;
      border-radius:2px;
    }
    i {
      font-size:10px;
      margin-left:7px;
      /* padding-right:4px; */
    }
  }
  .tag-reset {
    margin-left:12px;
    .f-btn-reset {
      display: inline-block;
      height: 33px;
      line-height: 33px;
      vertical-align: middle;
      text-align: center;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid #eee;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      padding:0 16px;
      margin-top:-4px;
      i {
        font-size: 15px;
        vertical-align: middle;
      }
      i {
        font-size:14px;
        color:#666;
        vertical-align:top;
      }
      &:hover {
        color:#2a2a2a;
        border:1px solid #57b7bc;
      }
    }
  }
}

.section-filter {
  /*overflow:auto;*/
  position:fixed;
  top:0;
  left:-$filter-width;
  bottom:0;
  width:$filter-width;
  padding-right:50px;
  box-sizing:border-box;
  background: $bg-1;
  z-index:100;
  opacity:0;
  filter:alpha(opacity=0);

  .btn-close-filter {
    display:none;
    position:absolute;
    top:16px;
    right:16px;
  }

  .filter{
    @include filter-field;

    .item{
      > a {
        color: $font-3;
        width:100%;
        text-align:left;
        padding:10px 20px;
        display:inline-block;
        box-sizing: border-box;
      }
      &:hover {background-color: $bg-4}
      &.active {
        color: $font-6;
        background-color: $primary-color;
        > a {color: $font-6;}
      }

      &.btn-type {
        width:45px;
        text-align:center;
        border:1px solid $border-5;
        padding:10px 0;

        > label {text-align:center;}
      }
    }
  }

  .btn-sect {margin-top:20px; text-align:center;}
}


.filter-category-modal-wrap {
  .section-filter {
    overflow-y:scroll;
    width:$filter-width;
    height:auto;
    padding:18px;
    z-index:999;
  }

  .section-category {
    .filter-wrap_category {
      height:64px;
      .filter-tagbox {padding:10px 0 0 40px;}
    }
  }
}


.filter-category-wrap{
	overflow: hidden;

	/* wrapper */
	&.margin-mini {
		margin-top:0;
	}

	/* FILTER RESULT */
	.category-header {
		.filter-tagbox {
			float:left;
			position:relative;
		}
		.select-box.sort {
			float:right;
			position:relative;
			.select-head {
				height:74px;
				line-height:74px;
			}
		}
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}

	/* FILTER BY */
	.section-filter {
		opacity:1;
		filter:alpha(opacity=1);
		position: relative;
		left:0;
		float:left;
		.f-refine-sect {
			&.borderline-top {
				border-top:1px solid #eee;
			}
			.f-item {
				span, > a {
					font-family:'Futura BT W01 Medium';
					color:#2d2d2d;
					&:hover {color:#39bdbf;}
				}
			}
			.f-style-square {
				&.f-color-type {
					.f-item {
						width:50%;
						height:auto;
						margin:0 0 10px 0;
						> span {
							display:inline-block;
							width:36px;
							height:36px;
							-webkit-box-sizing:border-box;
							-moz-box-sizing:border-box;
							box-sizing:border-box;
							border:1px solid #dfeae8;
							border-radius:50%;
							padding:5px;
              &.checked {
                border:2px solid #878787;
                padding:4px;
              }
						}
						label {
							border:0;
							-webkit-box-sizing:border-box;
							-moz-box-sizing:border-box;
							box-sizing:border-box;
							&:before {
								display:none;
							}
							&.border-line {
								border:1px solid #eee;
							}
							span {
								display:inline-block;
								position:absolute;
								top:-6px;
								left:38px;
								height:36px;
								line-height:36px;
								font-family:'Futura BT W01 Medium';
								font-size:14px;
								color:#2d2d2d;
								font-weight:500;
								&:hover {color:#39bdbf;}
							}
						}
					}
				}
				&:after {
					content:'';
					display:block;
					clear:both;
				}
			}

		}
		/* filter by */
		.filter_by {
			font-weight:400;
			height:73px;
			line-height:73px;
			padding-bottom:0;
			&.no-underline {
				border-bottom:0;
			}
		}

		/* sub title */
		.f-subtitle-box {
			font-size:16px;
			.f-btn-toggle {
				color:#666666;
			}
		}
	}
	.section-category {
		float:left;
		width:calc(100% - 275px);
		.btn-filter-open{
			display: none;
		}

		&.item-list-less {
			width:100%;
			padding:20px 0 80px;
		}
	}
}


.filter-field_price {
  @include filter-field;

  text-align:center;
  padding-left:30px;
  padding-right:30px;

  > .filter-tit {text-align:left;}
  > .btn-link {margin-top:20px;}
  > .slider-range {
    height:10px;
    margin-bottom:20px;
  }
  > .filter-tit {
    margin-left:-10px;
    display:block;
  }
}

.filter-field_categories {
  @include filter-field;

  > .input-radio.filter > .label{
    padding:10px 20px;
  }
}

.filter-field_color {
  @include filter-field;

  > .input-radio.filter > .label{
    padding:10px 20px;
  }
}

.filter-field_size {
  @include filter-field;

  > .input-radio.filter > .label{
    padding:10px 20px;
  }

  &.style-btn {
    padding-left:20px;
    padding-right:20px;
    > .input-checkbox {
      float:left;
      margin-top:-1px;
      margin-left:-1px;
    }

    .filter-tit {margin-left:0;}
  }
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
  .section-filter {
    .btn-close-filter {
      display:inline-block;
    }
  }
  //filter category
  .filter-wrap_category {
    width:100%;
    margin-bottom: -1px;
    border-bottom: 1px solid $border-2;
    .btn-link {
      display:inline-block;
      // width:50%;
      height:48px;
      border-width:0 0 1px 0;
      border-style:solid;
      border-color:$border-2;
      padding-left:10px;
      text-align:left;
      box-sizing:border-box;
      font-weight:bold;
      i {
        margin-left:10px;
      }
      span {color: $font-4}
    }


    .select-box {
      // width:50%;
      border-width:0 0 1px 1px;
      height:48px;
      border-style:solid;
      border-color:$border-2;
      box-sizing:border-box;
      > select {height: 47px; border:0; font-weight:bold;}
    }

    .filter-tagbox {
      display:none;
    }

    .select-box {
      &.sort{
        float: right;
        position: relative;
        border: 0;
        .select-head {
          height: 48px;
          padding: 17px 11px;
          font-size: 13px;
        }
      }
    }

    .btn-filter-open {
      float:right;
      width: 100px;
      font-weight: normal;
      color: $font-1;
      background-color: #fff;
      border: 0;
      &:before {
        position:absolute;
        top: 50%;   // 화살표 위치값 때문에 지정함.
        right:15px;
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-top: -6px;
        // margin-top:12px;
        border-right: 2px solid  $border-4;
        border-top: 2px solid  $border-4;
        transform: rotate(135deg);
      }
    }

    .filter-num {
      position: absolute;
      left: 15px;
      top: 17px;
      font-size: 14px;
      .num {color: $primary-color;}
    }
  }

  .filter-category-wrap{
    .section-filter {
      overflow-y:scroll;
      opacity:1;
      filter:alpha(opacity=1);
      position:fixed;
      left:-$filter-width;
      padding:18px;
      z-index:999;
    }

    .section-category {
      width:100%;
      .btn-filter-open{
        display: block;
      }
    }
  }
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
