
/*********************************************************************/
/* footer
/*********************************************************************/	
footer {
	position:relative;
	clear: both;
	min-height:150px;
	margin:0 auto;
	/* padding:30px 0 0; */
	padding:0 0 0 0;
	font-size:12px;
	color: $footer_text-color;
	/* background: $footer_bg-color-type1; */
	/* border-top: 2px solid #333; */
}

/* reassurance */
.reassurance {
	width:100%;
	padding:45px 0;
	/* float:left; */
	background:#eef4f3;
	> .reassurance-table {
		/* display:table; */
		margin: 0 auto;
		/* width:100%; */
		max-width:1200px;
		> li {
			/* display:table-cell; */
			padding:0 15px;
			text-align:center;
			> a {
				> span {display:block;}
				> span.span_title {
					margin-top:10px;
					font-size:22px;
					font-weight:500;
					color: #434343;
				}
				> span.span_body {
					margin-top:10px;
					font-size:16px;
					font-weight:500;
					color: #434343;
				}
				> span.span_btn {
					margin:10px 0 15px 0;
					font-size:$font-size-m;
					font-weight:500;
					color:#31babc;
					&:hover {text-decoration:underline;}
				}
			}
		}
	}
}

.footer-contents {
	// max-width:$max-width;
	// margin:0 auto 0 auto;
	background:#252525 url(https://image.salomon.co.kr/assets/images/broken_noise-pattern.png) 0 0 repeat;
	line-height:18px;

	&:after {content:''; display:block; clear:both;}

	.footer-top {
		max-width: 1440px;
		margin: 0 auto;
		padding:50px 38px 45px;
		box-sizing: border-box;
		font-weight: 100;

		.footer-socials {
			p {
				margin-bottom:20px;
				font-size:20px;
			
				color:#dfeae8;
			}
			ul {
				width:100%;
				li {
					display: inline-block;
					margin-right:24px;
					a {
						font-size: 24px;
						color:#31babc;
						}
					}
				}
			}
		.footer-country {
			p {
				margin-bottom:15px;
				font-size:20px;
				color:#dfeae8;
				text-align:left;
				font-weight:500;
			}
			.cust-dropdown {
				position: relative;
				width:90%;
				> P {
					cursor:pointer;
					font-size:18px;
					font-weight:500;
					text-align:left;
					min-height:47px;
					margin-bottom:0;
					padding:10px;
					box-sizing:border-box;
					border:1px solid #dfeae8;
					> .selected-value {
						color:#dfeae8;
					}
					> .salomon-ic-drop-down {
						margin-top:-2px;
						float:right;
						font-size:30px;
						color:#31babc;
						speak: none;
						font-style: normal;
						font-weight:400;
						font-variant:normal;
						text-transform:none;
						line-height:1;
						-webkit-font-smoothing: antialiased;
					}
				}
				> .options {
					position:absolute;
					display:none;
					width:100%;
					height:130px;
					background-color:#fff;
					border:1px solid #eef4f3;
					overflow-y:scroll;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
					z-index:9;
					li {
						border-bottom:1px solid #eef4f3;
						padding:0 10px;
						a {
							display:block;
							height:40px;
							line-height:40px;
							font-size:15px;
							color:#1c1c1c;
							img {
								margin-right:5px;
							}
						}
						&:hover {
							background-color:#eef4f3;
						}
					}
					&.active {
						display:block;
					}
				}
			}
			> .change-country {
				.salomon-ic-drop-down {
					&:before {
						content: "\e904";
					}
					&.down:before {
						content: "\e905";
					}
				}
				.selected-value {
					text-transform:uppercase;
				}
			}
		}
		.footer-brand {
			dt {
				margin-bottom:15px;
				font-size:18px;
				font-weight:100;
				color:#dfeae8;
				font-weight:500;
				> a {
					color:#dfeae8;
					&:hover {color:#31babc;}
					}
			}
			dd {height:21px;
				> a {
					font-size:14px;
					/* font-weight:500; */
					color:#dfeae8;
					&:hover {color:#31babc;}
					}
			}
		}
		.footer-cs {
			dt {
				margin-bottom:15px;
				font-size:18px;
				font-weight:100;
				color:#dfeae8;
				font-weight:500;
				> a {
					color:#dfeae8;
					&:hover {color:#31babc;}
					}
			}
			dd {
				height:21px;
				> a {
					font-size:14px;
					/* font-weight:500; */
					color:#dfeae8;
					&:hover {color:#31babc;}
					}
			}
		}
		.footer-etc {
			margin-top: -5px;
			li {height:26px; line-height:26px; vertical-align:middle;
				> a {
					font-size:18px;
					color:#dfeae8;
					font-weight:500;
					&:hover {color:#31babc;}
					}
				> span {
					font-size: 20px; 
					font-weight: 500; 
					color:#dfeae8;
				}
			}
		}
	}

	.mobile-footer-top {
		display: none;
	}

	// .footer-middle {
	// 	.copyright-txt {display:none;}
	// 	.tit {
	// 		margin-bottom: 25px;
	// 		font-size: $font-size-sxl;
	// 		font-weight: bold;
	// 		text-align: center;
	// 	}
	// 	.nf-store {
	// 		.tit {
	// 			max-width: 401px;
	// 		}
	// 		.findstore-btn {
	// 			width: $width-full;
	// 			max-width: 401px;
	// 			text-align: center;
	// 		}
	// 	}
	// 	.nf-sns {
	// 		text-align: center;
	// 		>a {
	// 			display: inline-block;
	// 			margin-right: 25px;
	// 			vertical-align: middle;
	// 			&:last-child {
	// 				margin-right: 0;
	// 			}
	// 		}
	// 		i {
	// 			font-size: 36px;
	// 			color: $font-3;
	// 		}
	// 	}
	// }
	.footer-bottom {
		color:#878787;
		> div {
			max-width: 1440px;
			padding: 0 48px;
			box-sizing: border-box;
			margin: 0 auto;
		}
		.copyright-area {
			position: relative;
			margin:0 auto;
			text-align:center;
			.logo {
				position: absolute;
				left: 0;
				top: 0;
				i {
					font-size: 40px;
					&:before {color: #bdbdbd;}
				}
			}
			address {
				span {
					display:inline-block;
					&:after {
						content:'|';
						padding: 0 6px;
					}
					&:last-child {
						&:after {
							display:none;
						}
					}
				}
			}
			> .btn-footer-info {
				margin-top:5px;
				padding-bottom:20px;
				display:table;
				width:100%;
				> li.left {
					display:table-cell;
					width:50%;
					text-align:right;
					> a {
						display:inline-block;
						padding:0 10px;
						height:24px;
						line-height:24px;
						vertical-align:middle;
						text-align:center;
						font-size:$font-size-mini;
						color:#878787;
						border:1px solid #979797;
						&:hover {
							color:#31babc;
							border:1px solid #31babc;
						}
					}
				}
				> li.right {
					display:table-cell;
					padding-left:4px;
					width:50%;
					text-align:left;
					> a {
						display:inline-block;
						padding:0 10px;
						height:24px;
						line-height:24px;
						vertical-align:middle;
						text-align:center;
						font-size:$font-size-mini;
						color:#878787;
						border:1px solid #979797;
						&:hover {
							color:#31babc;
							border:1px solid #31babc;
						}
					}
				}
				
			}
		}
		
		.nf-copyright {
			position: relative;
			margin-top: 35px;
			padding-left: 50px;
			.logo {
				position: absolute;
				left: 0; 
				top: 3px;
			}
			>p {font-family: $typo-en;}
			.copyright-txt {	
				margin-top: 10px;
				li {	
					display: inline-block;
					margin-right: 5px;
					&:before {
						content: "|";
						display: inline-block;
						padding-right: 10px;
					}
					&:first-child:before {
						display: none;
					}
					.policy {color: #666;}
				}
			}
		}
	}

	// .company {
	// 	&:before {content:''; display:block; margin-top:20px;}

	// 	.footer-sns{
	// 		margin-top:20px;
	// 		> a {
	// 			&:first-child {margin-left:0;}
	// 			margin-left:13px;
	// 		}
	// 	}

	// 	a{color: $footer_text-color}
	// }

	// .footer-nav {
	// 	color: $footer_text-color;
	// 	&:before {content:''; display:block; margin-top:20px;}
	// 	&:after {content:''; display:block; clear:both;}

	// 	dt {
	// 		padding-bottom: 5px;
	// 		font-weight: bold;
	// 		color: $footer_title-color-type1;
	// 	}
	// 	dd {
	// 		margin-top:8px;
	// 	}
	// 	a {
	// 		color: $footer_menu-color-type1;
	// 		&:hover {color: $footer_menu-color-type1-over;}
	// 	}
	// }
	// .com-divider {padding-left:4px;}
	// .copyright {
	// 	color: $footer_copyright-color;
	// 	.copy {display:inline-block; margin-top:20px;}
	// 	&:before {content:''; display:block; margin-top:20px;}
	// 	a {color: $footer_copyright-color;}
	// }
}

.footer-menu {
	width:100%;
	background-color:#2d2d2d;
	> ul {
		display:table;
		margin:0 auto;
		height:40px;
		line-height:40px;
		vertical-align:middle;
		> li {
			display:table-cell;
			padding:0 5px;
			font-size:$font-size-m;
			color:#dfeae8;
			text-align:center;
			> a {
				font-size:$font-size-m;
				color:#dfeae8;
				/* font-weight:500; */
			}
			> span {
				color:#eef4f3;
				padding:0 0 0 10px;
				font-size:13px;
			}
			&:hover a {color:#31babc;}
		}
	}
}
.footer-menu-mobile {
	display:none;
	width:100%;
	background-color:#2d2d2d;
	> ul {
		display:table;
		margin:0 auto;
		height:40px;
		line-height:40px;
		vertical-align:middle;
		> li {
			display:table-cell;
			padding:0 5px;
			font-size:$font-size-m;
			color:#dfeae8;
			text-align:center;
			> a {
				font-size:$font-size-m;
				color:#dfeae8;
				/* font-weight:500; */
			}
			> span {
				color:#eef4f3;
				padding:0 0 0 10px;
				font-size:13px;
			}
			&:hover a {color:#31babc;}
		}
	}
	.mobile-copyright {
		font-size:14px;
		color: #ffffff;
		height:40px;
		line-height:40px;
		vertical-align:middle;
		border-top:1px solid #383838;
	}
}

.scrollup {
	display:none;
	position:fixed;
	width:40px;
	height:40px;
	bottom: 72px;
	right: 10px;
	padding-top:10px;
	cursor: pointer;
	background: $bg-4;
	color:$font-3;
	text-align:center;
	font-size:18px;
	box-sizing:border-box;
	&:hover {
		background:$primary-color;
		color: $font-6;
	}
}


/* MEDIA QUERY */

/* Large screen and bigger */
@media (max-width: $breakpoint-xlarge) {}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	footer {
		padding:0;
		text-align: center;
		border-top: 0;
		&.no-footer {display:none;}
	}

	/* footer contents */
	.footer-contents {
		padding: 0 !important;
		// max-width:$max-width;
		// margin:0 auto 0 auto;
		background:#252525 url(https://image.salomon.co.kr/assets/images/broken_noise-pattern.png) 0 0 repeat;
		line-height:18px;

		&:after {content:''; display:block; clear:both;}

		.footer-top {
			max-width: 1440px;
			margin: 0 auto;
			padding:50px 20px 0;
			box-sizing: border-box;
			font-weight: 100;

			.footer-socials {
				width:50%;
				p {
					margin-bottom:20px;
					font-size:18px;
					color:#dfeae8;
					text-align:left;
				}
				ul {
					width:100%;
					display:table;
					li {
						display: inline-block;
						margin-right: 26px;
						display:table-cell;
						text-align:left;
						a {
							font-size: 24px;
							color:#31babc;
						}
					}
				}
			}
			.footer-country {
				position:relative;
				width:50%;
				p {margin-bottom:15px; font-size:18px;  color:#dfeae8; font-weight:500;}
				.cust-dropdown {
					width:100%;
					position: relative;
					width:220px;
					> P {
						margin-top:20px;
						min-height:47px;
						margin-bottom:0;
						padding:10px;
						box-sizing:border-box;
						border:1px solid #dfeae8;
						> .selected-value {
							color:#dfeae8;
							font-family:FuturaCondensedRegular,Verdana,Arial,sans-serif;
						}
						> .icon-dropdown {
							margin-top:8px;
							float:right;
							font-size:7px;
							color:#31babc;
							font-family:salomon-icofont!important;
							speak: none;
							font-style: normal;
							font-weight:400;
							font-variant:normal;
							text-transform:none;
							line-height:1;
							-webkit-font-smoothing: antialiased;
						}
					}
				}
				> .change-country {
					.selected-value {
						img {
							margin-right:3px;
						}
					}
					.salomon-ic-drop-down {
						&:before {
							content: "\e904";
						}
						&.down:before {
							content: "\e905";
						}
					}
					> .options {
						position:absolute;
						display:none;
						width:220px;
						height:130px;
						background-color:#fff;
						border:1px solid #eef4f3;
						overflow-y:scroll;
						-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
						box-sizing:border-box;
						z-index:9;
						li {
							border-bottom:1px solid #eef4f3;
							padding:0 10px;
							a {
								display:block;
								height:40px;
								line-height:40px;
								font-size:15px;
								color:#1c1c1c;
								text-align:left;
								img {
									margin-right:6px;
								}
							}
							&:hover {
								background-color:#eef4f3;
							}
						}
						&.active {
							display:block;
						}
					}
				}
			}
			.footer-brand {
				width:33%;
				margin-top:50px;
				font-size:18px;
				text-align:left;
				dd {display:none;}
			}
			.footer-cs {
				width:33%;
				margin-top:50px;
				padding-left:22px;
				font-size:18px;
				text-align:center;
				dd {display:none;}
			}
			.footer-etc {
				width:33%;
				margin-top:50px;
				font-size:18px;
				text-align:right;
				> li {
					height:inherit;
					line-height:inherit;
					vertical-align:top;
					&.if-mobile {display:none;}
				}	
			}
		}
		.footer-middle {
			padding: 0 16px;
			.tit {
				margin: 0 auto 15px;
			}
			.nf-store {
				.findstore-btn {
					width: $width-full;
					max-width: $width-full;
					text-align: center;
				}
			}
			.nf-sns {
				margin-top:25px;
				i {
					font-size: 24px;
				}
			}
			.copyright-txt {
				display: block !important;
				width: 100%;
				padding: 15px 0;
				text-align: center;
				li {
					display: inline-block;
					&:before {
						content: "|";
						display: inline-block;
						padding: 0 10px;
					}
					&:first-child:before {
						display: none;
					}
				}
			}
		}
		.footer-bottom {
			> div {
				max-width: 1440px;
				padding: 0 48px;
				box-sizing: border-box;
				margin: 0 auto;
			}
			margin-top: 26px;
			padding: 0 16px;
			color:#878787;
			text-align: left;
			border-top: 0;
			.copyright-area {
				position: relative;
				margin:0 auto;
				padding:20px;
				text-align:center;
				.logo {
					position: absolute;
					left: 0;
					top: 0;
					i {
						font-size: 40px;
						&:before {color: #bdbdbd;}
					}
				}
				> .btn-footer-info {
					display:none !important;
					margin-top:5px;
					padding-bottom:20px;
					display:table;
					width:100%;
					> li.left {
						display:table-cell;
						width:50%;
						text-align:right;
						> a {
							display:inline-block;
							padding:0 10px;
							height:24px;
							line-height:24px;
							vertical-align:middle;
							text-align:center;
							font-size:$font-size-mini;
							color:#878787;
							border:1px solid #979797;
							&:hover {
								color:#31babc;
								border:1px solid #31babc;
							}
						}
					}
					> li.right {
						display:table-cell;
						padding-left:4px;
						width:50%;
						text-align:left;
						> a {
							display:inline-block;
							padding:0 10px;
							height:24px;
							line-height:24px;
							vertical-align:middle;
							text-align:center;
							font-size:$font-size-mini;
							color:#878787;
							border:1px solid #979797;
							&:hover {
								color:#31babc;
								border:1px solid #31babc;
							}
						}
					}
					
				}
				padding-left: 0;
				text-align:left;
				br {display:none;}
			}
			.footer-menu {
				display: block;
				margin: 10px 0;
				text-align:left;
				li {	
					display: inline-block;
					margin-right: 5px;
					&:before {
						content: "|";
						display: inline-block;
						padding-right: 10px;
					}
					&:first-child:before {
						display: none;
					}
					.policy {color: #666;}
				}
			}
			.nf-copyright {
				margin: 0;
				padding: 0;
			}
			.logo,
			.copyright-txt {
				display: none;
			}
		}
	}

	/* reassurance */
	.reassurance {
		width:100%;
		padding:45px 0;
		background:#eef4f3;
		> .reassurance-table {
			display:block;
			margin: 0 auto;
			width:100%;
			max-width:1200px;
			> li {
				display:block;
				padding:0 15px;
				text-align:center;
				> a {
					> span {display:block;}
					> span.span_title {
						margin-top:10px;
						font-size:22px;
						font-weight:500;
						color: #434343;
					}
					> span.span_body {
						margin-top:10px;
						font-size:16px;
						font-weight:500;
						color: #434343;
					}
					> span.span_btn {
						margin:10px 0 15px 0;
						font-size:$font-size-m;
						font-weight:500;
						color:#31babc;
						&:hover {text-decoration:underline;}
					}
				}
			}
		}
	}

	/* reassurance */
	.reassurance {
		> .reassurance-table {
			max-width:738px;
			> li {
				&.uk-width-1-4 {width:50%;}
			}
		}
	}

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.footer-menu {display:none;}
	.footer-menu-mobile {
		display:block;
		ul {
			li {
				padding:0 4px;
				font-size:12px;
				a {font-size:12px;}
			}
		}
	}
	/* footer */
	.footer-contents {
		.footer-top {
			.footer-socials {
				float:none;
				width:100%;
				ul {
					width:50%;
				}
			}
			.footer-country {
				float:none;
				width:100%;
				margin-top:50px;
			}
			.footer-cs {
				padding-left:22px;
			}
		}
	}

	/* reassurance */
	.reassurance {
		padding:5px 0 45px 0;
		> .reassurance-table {
			max-width:700px;
			> li {
				margin-top:30px;
				a {
					.span_body {display:none;}
					.span_btn {display:none;}
				}
			}
		}
	}
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

	/* footer */
	.footer-contents {
		.footer-top {
			.footer-cs {
				padding-left:22px;
			}
		}
	}

	/* reassurance */
	.reassurance {
		padding:5px 0 45px 0;
		> .reassurance-table {
			> li {
				margin-top:30px;
				a {
					.span_title {font-size:15px !important;}
					.span_body {display:none;}
					.span_btn {display:none;}
				}
			}
		}
	}

}