/*********************************************************************/
/* header
/*********************************************************************/
	header {
		margin:0 auto;
	}


	.header_layout_1 {
		position: relative;
		z-index: 101;
		width:100%;
		background-color: $mc-lnb_bg-color;

		/* GNB
		/*****************************************************************/
		.header-gnb {
			color: $gnb_color-type1;
			font-size: $font-size-s;
			background: $gnb_bg-color-type1;
			box-sizing:border-box;
			height:38px;
			

			> .header-gnb_maxwidth {
				position: relative;
				margin:0 auto;
				z-index: 102; 				// LNB z-index보다 높이 적용. 레이어 때문	

				/* > .header-event {
					float:left;
					height:38px;
					li {
						display:inline-block;
						padding:0 20px;
						height:38px;
						line-height:38px;
						vertical-align:middle;
						font-size:$font-size-ml;
						letter-spacing:1.8px;
						text-align:center;
						color:#878780;
						border-right:1px solid #2d2d2d;

						&:hover {color:#eef4f3 !important;}
					}
				} */

				> .header-event{
					width:47%;
					height:38px;
					line-height:38px;
					vertical-align:middle;
					float:left;
					.text-banner-container{
						background: none;
						text-align: left;
						.text-wrap {
							text-align:left !important;
							.text-content{
								>*{
									color:#878780;
									font-size:15px;
									margin-top:5px;
								}
								> span {
									&:hover {color:#eef4f3 !important;}
								}
							}
							
						}
					}
				}

				> .header-mymenu {
					float:right;
					padding:0;
					margin:0;

					> li {
						position: relative;
						display:inline-block;
						margin-left:20px;
						color: #878787;

						> a {
							position: relative;
							padding: 0 11px;
							height:38px;
							line-height:38px;
							vertical-align:middle;
							display:inline-block;
							font-size: $font-size-l;
							letter-spacing:2px;
							text-align:center;
							color: #878787;

							&:hover {
								color:#ffffff;
							}

							&:after {
								content: '';
								position: absolute;
								top:14px;
								right:-12px;
								display:block;
								width:1px;
								height:10px;
								background-color:#434343;
							}
							&.btn-login {
								&:after {
									width: 0;
								}
							}
							&.shopping-bag {
								color: #0ff;
								i {
									font-size: 18px;
									vertical-align: -1px;
								}
							}
							&.btn-login {
								padding:0 29px;
								&:after {
									content: '';
									position: absolute;
									top:14px;
									right:7px;
									display:block;
									width:1px;
									height:10px;
									background-color:#434343;
								}
							}
						}
						&:last-child a:after {
							display: none;
						}
						&.custom-info {
							&:hover {
								.account-box {
									display: block;
								}
							}
						}
						.nf-ic-shopping-cart {
							font-size: $font-size-l;
							color: $primary-color;
							vertical-align: -2px;
						}
						/* a[href="/cart"] {
							font-size: 16px;
							font-weight: 500;
							line-height: 1.5;
							letter-spacing: 2px;
							text-align: center;
							color: #00ffff;
						} */
					}

					
					/* 로그인시 사용자 이름 over했을때 나타나는 영역 : 마이페이지, 회원정보관리, 로그아웃 */
					.account-box {
						display: none;
						position: absolute;
						top: 38px ;
						left: -7px;
						z-index: 2;
						width: 140px;
						padding: 10px 0;
						background: $bg-dimmed;

						> span {
							display: block;
							a {
								display: inline-block;
								padding: 6px 20px; 
								color: #878787;
								font-size: 14px;
								&:hover {
									color: $font-6;
								}
							}
						}
					}
				}
				&:after {content:""; display:block; clear:both;}
			}
		}

		.header-line {
			// border-bottom:1px solid $border-1;
			/* background:#252525; */
			// background-color:#252525;
			background: #252525 url(https://image.salomon.co.kr/cmsstatic/gnb_bg.png) 0 0 repeat-x;
		}

		/* LNB - menu, search관련
		/*****************************************************************/
		.header-lnb {
			// position:relative;  		// sub menu wide넓이로 relative삭제
			display: table;
			width: 100%;
			height:100px;
			margin:0 auto;
			font-size:14px;
			text-align:center;
			box-sizing:border-box;
			z-index:101; /* slider버튼 z-index위치관련 처리 */
			&:after{content:""; display:block; clear:both;}
			&.fixed {position:fixed;}

			// 주문결제 헤어 로고만 있는거 전체 공통
			&.align-center {
				.header-logo {
					float:inherit;
					width: 100%;
					min-height: 50px;
					padding:0;
					width:94px;
					height:71px;
				}
			}


			a {color:$lnb_color-type1; font-size:14px;}
			/* a:hover {color:#00ffff !important;} */

			/* 모바일 전용 로고라 PC에서 숨김 */
			.m-logo {display:none;}

			/* 모바일 전용 검색버튼 */
			.gnb-search-btn {display:none;}

			/* 모바일 전용 마이페이지라 PC에서 숨김 */
			.m-mypage {display:none;}

			/* 모바일 전용 카트버튼이라 PC에서 숨김 */
			.mini-cart {display:none;}

			.header-logo {
				position:absolute;
				top:15px;
				left:50%;
				margin:0 auto;
				min-height: auto;
				padding: 0;
				vertical-align: middle;
				width:94px;
				height:71px;
				margin-left: -47px; 		// left 50%에 위치. width값의 1/2적용
				display:block;

			}
			/* PC모드 로고 기본설정 */
			.header-item {
				vertical-align: middle;
				img {
					width: 100%;
					height: 100%;
				}
				&.m-top {display:none;}
			}
			.category-title {
				font-size:18px;
				color: $title_category-color;
			}
			.mobile-header-title {display:none;}

			.header-menu_onedepth {
				float:none;
				display: block;
				margin-top: 44px;
				padding:0;
				/* line-height:26px; */
				text-align:right;
				vertical-align: middle;

				> .onedepth-list {
					float:none;
					position:static;
					display:inline-block;
					padding:0 20px;
					&.gnb-left {
						float:left;
						&:first-child {
							padding-left:0;
						}
					}

					// &:first-child {
					// 	padding-left:0;
					// }

					> a {
						position: relative;
						display: inline-block;
						height: 40px;
						line-height: 40px;
						font-size:$font-size-l;
						letter-spacing: 2px;
						&.active {color: $lnb_color-type1-over;}
					}

					> .header-menu_twodepth.active {
						display:block;
					}

					.img-menu {
						img {
							height: 13px;
							margin-top: -2px;
						}
					}

					/*&:hover {
						> .header-menu_twodepth {
							display:block;
						}
					}*/
					&:hover {
						> a {color:#0ff; border-bottom:2px solid #0ff;}
					}
				}
				> li + li + li + li {				/* sale메뉴 2depth display 예외처리 - 추후 개선 필요함. 2017.12.13*/
					.header-menu_twodepth {
						.twodepth-list {
							&.sale-cate {
								display: block;
							}
						}
					}
				}

				.twodepth-menu-right {  			// menu 영역.
					width: 50%;
					margin:0 auto;
					padding: 30px 0 0 0;
				}
				.header-menu_twodepth {
					display:none;
					position:absolute;
					top:100px;
					left:0;
					width: 100%;
					min-width:120px;
					// padding:30px;
					margin: 0 auto;
					/* border-top: 3px solid #1c1c1c; 메뉴 펼침시 GNB와의 간격 */
    				border-bottom: 3px solid #0ff;
					background-image:url(https://image.salomon.co.kr/cmsstatic/gnb_bg.png);
					background-position:0 0;
					background-color:#252525;
					line-height:30px;
					text-align: left;
					z-index: 110;
					&.right-menu {
						background-image:none;
						.twodepth-list {width:24.666666%;}
					}

					.twodepth-wrap {
						// display: flex;
						// max-width: 1200px;
						// margin: 0 auto;
						max-width: $width-xlarge;
						margin: 0 auto;
						text-align:left;
						> ul {
							// float: left;
							// width: 66.666666%;
							// max-width: 66.666666%;
							// margin: 0 auto;
							// display: inline-block;
							// box-sizing: border-box;
							// text-align:left;
							// vertical-align: top;
						}
						.twodepth-collection { 		// colortion 메뉴 영역
							width: 16.666666%;
							float: left;
							padding:40px 0 40px 15px;
							background-color:#141414;
							box-sizing: border-box;
							> a {
								display: block;
							    font-size: 16px;
								color: #dfeae8;
								&:hover {color:#00ffff;}
							}
							.collection-menu {
								    margin: 10px 0 20px;
								    line-height: 1.8em;
								    font-size:14px;
								    color: #878787;
								.collection-list {
									> a {
										color: #878787;
										font-size:14px;
										font-weight:500;
										&:hover {color:#00ffff;}
									}
								}
							}
						}
						.twodepth-menu {  			// menu 영역.
							width: 50%;
							float: left;
							padding: 30px 0;
						}
						.image-banner-area { 		// submenu의  이미지배너 영역
							float: left;
							width: 33.333333%;
							margin-top: 40px;
							text-align: right;

							> div {
								margin-bottom: 32px;
							}
						}
						.twodepth-brand {
							width: 100%;
							max-width: 1344px;
							margin: 0 auto;
							/* margin-left: -20px; */
							padding: 5px 0 40px;
							li {
								margin-top: 25px;
							}

						}

						.promo-banner {
							float: left;
							width: 33.333334%;
							margin-bottom:22px;
							img {
								width: 100%;
							}
						}
					}

					.twodepth-list {
						display: inline-block;
						width: 33.333333%;
						margin-left: -4px;
						padding: 10px 25px;
						vertical-align: top;
						box-sizing: border-box;
						>a {
							display:block;
							font-size:$font-size-l;
							color: $lnb_depth2-color-type1;
							&:hover {color:$lnb_depth2-color-type1-over;}
						}
						&:first-child {

						}
					}

					.promo-menu {
						max-width: 25%;
						display: inline-block;
						padding: 25px 0;
						vertical-align: top;
						.promo-bnr {
							width: 245px;
							margin: 0 auto 15px;
						}
					}
				}

				.header-menu_threedepth {
					margin: 10px 0 20px;
					// padding-left:20px;
					line-height: 1.8em;
					font-size:$font-size-m;
					color: $lnb_depth3-color-type1;
					.threedepth-list {
						> a {
							color: $lnb_depth3-color-type1;
							&:hover {color: $lnb_depth3-color-type1-over;}
						}
					}
				}

				.back-img {
					width:320px;
					background-image:url("/assets/images/menu_back.png");
					background-repeat:no-repeat;
					background-position:bottom right;
				}
			}

			// 기타 메뉴
			.header-menu_etc {
				float: right;
				margin-top: 44px;
				// width: 100%;
				// padding-top: 20px;
				// text-align: right;
				&:after {
					content: '';
					clear: both;
					display:block;
				}
				> ul {
					li {
						float: left;
						margin-right: 10px;
						font-size: $font-size-s;
						padding:0 22px;

						a {
							height:40px;
							line-height:40px;
							font-size: 16px;
							font-stretch: condensed;
							letter-spacing: 1.2px;
							text-align: center;
							color: #dfeae8;
						}
						&:hover {
							> a {color:#0ff; border-bottom:2px solid #0ff; padding-bottom:5px;}
						}
					}
				}
				

				// > a {
				// 	&:first-child {margin-left:0;}
				// 	display:inline-block;
				// 	margin-left:13px;
				// }
			}

			.etc-menu-mobile {display:none;}

			.header-menu_mobile {
				display:none;

				position: absolute;
				top: 0;
				left: 0;

				&:after {content:""; display:block; clear:both;}

				> a {
					display:block;
					width:48px;
					height:48px;
					padding-top: 11px;
					text-indent:0;
					// font-weight:bold;
					font-size:26px;
					// margin-left:10px;
					color: $font-0;
					box-sizing: border-box;

					> i {float:left;}
				}
			}

			ul {list-style:none; margin:0; padding:0; border:0;}
			.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
		}

		.gnb-search-field {
			position: relative;
			display:inline-block;
			float: left;
			margin-left: 20px;
			vertical-align:middle;

			a {
				font-size:$font-size-m;
				text-align:center;
				color:#dfeae8;
				button {color:#fff; font-size:20px;}
			}

			// 헤더 검색박스 스타일
			.input-textfield {
				> label {
					top:12px;
					left:38px;
					font-size:$font-size-m;
					color:#dfeae8;
					opacity: 0.8;
				}
				> input {
					width:120px;
					height:38px;
					padding: 0 12px;
					border:0;
					background-color:#1c1c1c;
				}
				.btn-wrap {
					display: none;
				}
			}

			// 헤더 검색박스 돋보기 버튼
			.btn_search {
				position:absolute;
				top:10px;
				left:8px;
				width: 20px;
				height: 20px;
				padding: 0;
				border: 0;
				background: none;

				span {display:none;}
				.salomon-icon-search {
					font-size:15px;
					color: $lnb_search-icon-color;
					opacity: 0.8;
				}

			}
		}
	}

	/* 검색박스 레이어 */
	.search-panel {
		display: none;
		position: absolute;
		top:0;
		left: 0;
		width:calc(100% - 15px); /* 닫기 버튼이 우측에 붙는 현상 해결 */
		font-family: $typo-en;
		background-color:#252525;
		/* background:url(/assets/images/broken_noise-pattern.png) 0 0 repeat-x; */
		z-index: 110;
		> .header-logo {
			position:absolute !important;
			top:15px !important;
			left:60px !important;
		}
		.width-xlarge {
			position: relative;
			max-width: 750px;
			padding: 0;
			background-color:#252525;
		}
		.search-text-container {
			position: relative;
			width: 700px;
			padding: 24px 0;
			.input-textfield {
				box-sizing: border-box;
				> label {
					top: 0;
					left:10px;
					font-size: 24px;
					font-weight: normal;
					color: $font-3;
					line-height: 48px;
				}
				> input {
					padding: 9px 20px 9px 10px;
					border:0;
					border-bottom:1px solid #878787;
					height: 48px;
					font-size:30px; /* 34픽셀로 제플린 시안과 맞추었다가 요청에 의해 사이즈 줄임 */
					font-weight:500; /* 제플린 시안과 맞춤 */
					color:#fff; /* 제플린 시안과 맞춤 */
					letter-spacing:-0.4px; /* 제플린 시안과 맞춤 */
					line-height: 48px;
					/* background-color: $bg-2; */
					background:none;
				}
				> input::-webkit-input-placeholder {color:#878787; letter-spacing:-0.8px;} /* 제플린 시안과 맞춤 */
				> input::-moz-placeholder {color:#878787; letter-spacing:-0.8px;} /* 제플린 시안과 맞춤 */
				> input::-ms-input-placeholder {color:#878787; letter-spacing:-0.8px;} /* 제플린 시안과 맞춤 */
				> .btn-wrap .delete {
					i {
						font-size: 22px;
						color: $font-4;
					}
				}
			}
		}
		.btn-search-close{
			position: absolute;
			top:25px;
			right:15px;
			z-index:10;
			> * {vertical-align: middle;}
			i {
				font-size:40px;
				color:#00ffff;
			}
		}
		.btn_search {
			position: absolute;
			top:4px;
			right:7px;
			width:70px;
			height:40px;
			line-height:48px;
			vertical-align:middle;
			text-align:center;
			border: 0;
			background-color:#434343;
			i {
				display:block;
				font-size:30px;
				color:#fff;
			}
		}
		&.mobile-fixed {
			position:fixed;
			top:0;
			left:0;
			.search-field {
				padding:0 70px 0 15px;
			}
			.btn-search-close {
				top:16px;
			}
		}
	}

	/* 모바일 메뉴 */
	.mobile-menu_wrap .mobile-onedepth_list > a,
	.mobile-menu_wrap .mobile-twodepth_list > a,
	.mobile-menu_wrap .mobile-threedepth_list > a,
	.mobile-menu_wrap .store_btn,
	.mobile-menu_wrap .logout_btn,
	.mobile-menu_wrap .custom-center_btn,
	.mobile-threedepth_list {
		color:#dfeae8 !important;
		font-size:16px;
		padding-left: 10px;
		background-color: #252525 !important;
		> a {
			color: $primary-sub-color;
		}
	}
	.mobile-onedepth_list {
		> .mobile-menu_twodepth {background-color: #252525 !important;}
	}
	
	/* 모바일 메뉴 */
	.mobile-menu_wrap {
		ul {margin:0 !important;}
		.icon-arrow_right {
			color:#767676;
		}
		.uk-offcanvas-bar {background-color:#252525 !important;}
		.uk-offcanvas-bar[mode='reveal'] {clip:auto !important;}
		.user-state, .location {
			height:48px !important;
			/* border-bottom:1px solid $mc-lnb_border-color; */
			padding:10px 25px !important;
			background-color:#252525 !important;
			box-sizing:border-box;
			> i {color:#dfeae8 !important; vertical-align:top !important;}

			.title {display:inline-block; margin-left:4px; color:#dfeae8 !important; font-size:16px;
				// font-weight:bold;
			}
		}
		.user-state {
			background-color:#252525 !important;
			.icon-myinfo {
				margin-right: 5px;
				font-size: 22px;
				color:#dfeae8 !important;
				vertical-align: middle;
			}
			a {
				font-size: 14px;
				color:#dfeae8 !important;
			}
		}
		.mobile-menu_onedepth {margin:0;}

		/* MC에서 오류시 이 아래 두줄 삭제 요망 */
		.mobile-menu_onedepth[style="height:100%;"] + .mc-menu-etc {display:none;}
		.mobile-menu_onedepth[style="height: 100%;"] + .mc-menu-etc {display:none;}

		.icon-arrow_bottom {float:right; font-size: 12px;}
		// .store_btn, .custom-center_btn, .logout_btn {display:inline-block; width:100%; padding:15px 25px; box-sizing:border-box; color: $mc-lnb_etc-font-color}
		.mc-menu-etc {
			a {
				display:inline-block; 
				width:100%; 
				padding:15px 25px; 
				box-sizing:border-box;
				font-size:14px;
				font: weight 500;;
				color:#dfeae8;
				.micon {
					margin-right:5px;
					font-size:22px;
					color:#767676;
					vertical-align:middle;
				}
			}
		}


		.nav-container-wrap {
			.nav-tab {
				position: relative;
				width: 100%;
				height: 48px;
				margin-bottom: 0;
				&:before {
					    content: "";
					    display: block;
					    position: absolute;
					    left: 0;
					    bottom: 0;
					    width: 100%;
					    height: 1px;
					    background-color: #e8e8e8;
				}
				.btn-tab {
					width: 50%;
					height: 100%;
					margin-left: 0;
					padding: 0;
					text-align: center;
					a {
						display: inline-block;
						width: 100%;
						height: 100%;
						font-size: 13px;
						line-height: 48px;
					}
				}
			}
			.nav-container {

			}
		}
	}

	// .mobile-menu_twodepth {
	// 	overflow-y:auto;
	// 	position:fixed;
	// 	width:270px;
	// 	top:0;
	// 	bottom:0;
	// 	left:270px;
	// 	background-color: $mc-lnb_depth2-bg;
	// }

	.mobile-customer_wrap {

	}



	.mini-cart-cnt {
		position: absolute;
		top:0;
		right:-8px;
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		background: $cart-icon_qty-bg;
		color:  $cart-icon_qty-color;
		font-size: 8px;
		line-height: 16px;
		text-align: center;
		vertical-align: middle;
		&.empty{
			&:after{
				display: none;
			}
		}
		&:after{
			// content: attr(icon-text-attr);


		}
	}

	/* 검색창 > 메뉴, 닫기버튼 위치 보정 */
	.search-wrapper {
		position:absolute;
		width:100%;
		max-width:1440px;
		.search-inner {
			position:relative;
		}
	}

	/* for salomon logo only */
	@media (max-width: $breakpoint-xlarge) {
		.header_layout_1 {
			.header-lnb {
				.header-logo {left:52%;}
			}
		}
		.header_layout_1 {
			.header-lnb {
				&.align-center {
					.header-logo {left:50%;}
				}
			}
		} 
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.gnb-search-btn {display:block !important;}

		// .header-menu_mobile{
		// 	a{
		// 		i{
		// 			&.icon-arrow_left{
		// 				font-size:18px;
		// 				padding-top:3px;
		// 			}
		// 		}
		// 	}
		// }	

		.header_layout_1 {
			position:fixed;
			top:0;
			height:48px;
			.gnb-search-field {display:none;}
			.header-gnb {
				display:none;
				.header-gnb_maxwidth {
					.header-event {float:none; text-align:center;}
					.header-mymenu {display:none;}
					.find-store {display: none;}
				}
			}

			.header-lnb {
				padding:0;
				height:56px;

				// 주문결제 헤더 전체 공통
				&.align-center {
					.header-logo {
						padding:3px 0 0 0;
						.header-item {display:none;}
					}
				}
				.m-logo {
					display:inline-block;
					margin-top:14px;
					height:28px;
					> img {width:100%; height:100%;}
				}
				.header-logo {
					display:none;
					float:none;
					left: initial;
					left:50%;
					top: 0;
					// display: inline-block;
					padding:0;
					/* margin:0 auto; */
					// background-size:533px auto; // pc용 이미지 축소
					box-sizing: border-box;

					.header-item {
						display:none;
						height:35px;
					}
				}
				.header-item {
					display: inline-block;
					margin-top: 10px;
				}
				.mobile-header-title {
					/* display:inline-block; */
					display:none;
				}
				.header-menu_etc {
					display: none;
				}

				/* 모바일 전용 검색버튼 */
				.gnb-search-btn {
					display:block;
					position:absolute;
					top:17px;
					left:60px;
					color:#eef4f3;
					i {font-size:24px;}
				}

				/* 모바일 전용 마이페이지 */
				.m-mypage {
					display:block;
					position:absolute;
					top:17px;
					right:60px;
					color:#828282;
					i {font-size:24px;}
				}

				/* 모바일 전용 카트버튼 */
				.mini-cart {
					display:block;
					position:absolute;
					top:17px;
					right:20px;
					color:#00ffff;
					i {position:relative; font-size:24px;}
					.cart-num {
						position:absolute;
						top:-5px;
						right:-5px;
						display:inline-block;
						min-width:15px;
						height:15px;
						background:#e02b06;
						color:#fff;
						border-radius:50%;
						font-size:10px;
						text-align:center;
						line-height:12px;
						line-height:15px;
						vertical-align:middle;
					}
				}

				.header-menu_mobile {
					display:block;
					> a {padding-top:15px; padding-left:15px;}
					.salomon-ic-menu:before {color:#878787; font-size:24px;}
				}

				.header-menu_onedepth {
					overflow-y:auto;
					position:fixed;
					top:0;
					left:-320px;
					bottom:0;
					width:300px;
					padding:20px 0;
					line-height:1;
					float:none;
					background: $mc-lnb_bg-color;
					z-index:1000;

					> .onedepth-list {
						display:block;
						padding:0;

						> a {display:block;padding:20px 30px;}
					}

					.header-menu_twodepth {
						display:none;
						position:static;
						width:100%;
						padding:10px 0;
						border:0;
						margin:0;
						background: $mc-lnb_depth2-bg;
						line-height:30px;

						&.active {display:block;}
						.twodepth-list > a{display:block; padding:5px 30px;}
					}

					a {color: $mc-lnb_depth1-color;font-size:12px;}
				}
			}
		}

		.wrapper {
			.contents-title {background-color:#f8f8f8;}
		}
		.pt_category {
			margin-top:56px;
		}

		.search-panel {
			top: 0;
			left:-16px;
			width:calc(100% - -16px);
			.search-text-container {
				width: 100%;
				padding: 11px 0;
				.input-textfield {
					> label {
						font-size: 16px;
					}
					> input {
						font-size:24px;
					}
				}
			}
			.search-field {
				width: 100%;
				padding: 0 50px 0 15px;
				box-sizing: border-box;
			}
			.btn-search-close{
				top:15px;
				right:15px;
				z-index:10;
				> * {vertical-align: middle;}
				i {
					font-size:40px;
					color:#00ffff;
				}
			}
		}

		/* 검색창 > 메뉴, 닫기버튼 위치 보정 */
		.search-wrapper {
			max-width:$breakpoint-large;
		}

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		.search-panel {
			width:100%;
			.search-text-container {
				.search-field {
					padding:0 15px;
					.btn_search {right:47px;}
				}
			}
		}
	}

	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {
		.search-panel {
			top: 0;
			left:-10px;
			.search-text-container {
				.search-field {
					padding:0 15px;
					.input-textfield {
						> input {
							font-size:24px; /* 제플린 시안과 맞춤 */
							font-weight:500; /* 제플린 시안과 맞춤 */
							color:#fff; /* 제플린 시안과 맞춤 */
							letter-spacing:-0.7px; /* 제플린 시안과 맞춤 */
						}
						> input::-webkit-input-placeholder {color:#878787;} /* 제플린 시안과 맞춤 */
						> input::-moz-placeholder {color:#878787;} /* 제플린 시안과 맞춤 */
						> input::-ms-input-placeholder {color:#878787;} /* 제플린 시안과 맞춤 */
						.btn_search {top:-1389px;}
					}
				}
			}
			.btn-search-close{
				position: absolute;
				top:20px;
				right:15px;
				i {
					font-size:30px;
					color:#00ffff;
				}
			}
		}
		.header_layout_1 {
			.header-lnb {
				.m-logo {
					display:inline-block;
					margin-top:19px;
					height:20px;
					> img {width:100%; height:100%;}
				}
			}
		}
	}

	// 검색바 클릭시 dim 처리
	.dimed {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.3;
		z-index: 100;
	}
