.login-wrap{
	margin:0 auto;
	width: 100%;
	
	padding: 0 20px 70px;
	box-sizing: border-box;

	&.width-small{
		max-width:420px;
	}

	> *{
		margin:0 auto;
		&.width-small{
			max-width:420px;
			padding-left:20px;
			padding-right:20px;
			box-sizing: border-box;
		}
	}
	.header {
		margin-bottom:30px;
		.logo-img img {width: 113px;}

		> .title {
			margin-bottom:15px; 
			text-align:center; 
			// font-weight:bold; 
			font-size:26px;
			font-weight:500;
			color:#2d2d2d;
		}
		> .description {
			text-align:center; 
			line-height:20px;
			color: $font-3;
			font-size: 14px;
		}
		> .regist-done-icon {
			display: inline-block;
		}
	}
	.register-done {
		padding: 130px 0;
		.header > .title {
			margin-top: 20px;
		}
	}
	.body {
		position: relative;
		margin-bottom:15px;
		&.after {content:''; clear:both; display:block;}
		.account-info {margin-top:10px; text-align: right;}
		.account-find {/*float:left;*/ display:inline-block;}
		.account-register {float:right; display:inline-block;}

		.button {
			&.large {
				&.width-max {
					font-size:18px;
					font-weight:500;
					height:60px;
				}
			}
		}

		/* 회원가입 약관 */
		.register-terms {
			.uk-grid {
				margin-left:0;
				> * {padding-left:0;}
			}
			.tit {
				font-size: 11px;
				margin-top: 30px;
				padding-bottom: 8px;
				font-weight: bold;
				color: $font-0;
			}
			.btn-agree-allview {
				font-size: 11px;
				margin-top: 30px;
				i {
					padding-left: 3px;
					font-size: 10px;
					vertical-align: -1px;
				}
			}
			.agree-content {
				h3 {
					font-size: 14px;
					padding-bottom: 10px;
				}
				line-height: 1.7;
				font-size: 11px;
			}
			.agree-test {
				padding-top: 7px;
				font-size: 11px;
				line-height: 1.5;
			}
			.agree-confirm {
				padding: 20px 0;
				text-align: center;
				font-size: 14px;
				line-height: 1.5;
			}
			table {
				font-size: 11px;
			    border: 1px solid $border-2;
			    background: $bg-1;
			    caption {display: none;}
			    th {
				    padding: 10px;
				    color: $font-3;
				}
				td {
				    padding: 10px;
				    border-top: 1px solid $border-2;
				    line-height: 1.7em;
				}
			}
		}
		.uk-margin-remove-top {margin-top: 0;}
	}
	
	.footer {
		text-align: left;
		margin-top:15px;
		font-size: $font-size-sm;
		a {
			font-size:16px !important;
			font-weight:500;
			color:#39bdbf !important;
		}
		&.uk-clearfix {
			a {
				font-size:15px !important;
				font-weight:500;
				color:#2a2a2a !important;
			}
		}
	}
	
	.description {
	    margin: 25px 0 10px;
	    font-size: 11px;
	    color: #666;
	    line-height: 18px;
	    text-align: center;
	}

	label{
		// display: none;
	}

	&.login-section {
		/* login */
		.input-form-group {
			position: absolute;
			left: 0;
			bottom: -29px;
		}
	}
}

.uk-modal .login-section .input-form-group {bottom: -4px;}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.login-wrap {
		// margin-top: -50px;
		.header {
			// > .title {display:none;}
		}
		.register-done {
			padding: 30px 0 0;
		}

		> *{
			margin:0 auto;
			&.width-small{
				padding-left:0px;
				padding-right:0px;
			}
		}		
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
