.section-minicart {
	position:fixed;
	top:0;
	right:0px;
	bottom:0;
	width:100%;
	max-width:330px;
	font-size:12px;
	background: $bg-1;
	z-index:100000;

	.minicart-title{
		color: $title_category-color;
		// font-weight: bold;
		padding:30px 0px 0px 30px;
	}

	.cart-order_price {
		padding:0px 30px;
		color:$font-3;

		.order-price, .delivery-price {
			display:inline-block;
			min-width:100%;
			font-size:12px;
			> span {
				float: left;
				padding-top: 5px;
			}
			> strong {
				display:inline-block;
				font-size:20px;
				font-weight: normal;
				float:right;
				color: $prd_total-price;
				font-family:'Futura BT W01 Medium';
			}
		}
	}

	.cart-order_deliveryinfo{
		font-size:12px;
		color:$font-3;
		margin-top:15px;
		padding:0px 30px;
	}

	.cart-order_buy {
		padding:0px 30px;
		padding-bottom:50px;
		color: $primary-color;
		.btn-link {width:100%;text-align:center;}
		.total-price {
			> strong {
				display:inline-block;
				min-width:60%;
				margin-bottom:30px;
				font-weight: normal;
				text-align:right;
				font-size:24px;
			}
		}
	}
}



.cart-order_list {
	.order-list {
		position:relative;
		padding:30px 0 30px 30px;
		border-bottom:1px solid $border-2;
		&:after {content:""; display:block; clear:both;}

		.btn-delete {
			position:absolute;
			top:30px;
			right:20px;
			color: $font-4;
		}
		.image-wrap {
			float:left;
			overflow:hidden;
			width:60px;

			> img {display:block;}
		}

		.order-info {
			float:left;
			width:200px;
			padding-left:20px;

			.tit {
				overflow:hidden;
				display:inline-block;
				min-width:100%;
				/* max-height:32px; */
				line-height:22px;
				color: $prd_text-color;
			}

			.option, .qty {
				display:inline-block;
				min-width:100%;
				margin-top:8px;
				color:$font-3;
			}

			.text-opt-wrap {
				display: inline-block;
				width: 100%;
				margin-top: 8px;
			}
		}
	}

	.price-wrap {
		display:inline-block;
		min-width:100%;
		margin-top:8px;
		letter-spacing:-0.5px;
		.price-txt {
			&.price-txt-disabled {
				display:inline-block;
				margin:10px 0 5px 0;
				font-family:'Noto Sans KR';
				margin-right:38px;
				font-size:14px;
				color:#2d2d2d;
				
			}
			&.price-txt-retail {font-family:'Noto Sans KR'; font-size:15px; color:#39bdbf;}
		}

		.price {
			font-family:'Noto Sans KR';
			font-size:14px;
			color:#2d2d2d;
		}

		.sale-price {
			text-decoration: line-through;
			font-size:$font-size-mini;
			color: $prd_price;
		}
	}
}
