.product-detail_wrap {
	//padding:0 100px;
	//&:after {content:""; display:block; clear:both; height:0;}
}


.img-detail_product {
	position:relative;
	padding-right: 40px;
	text-align:center;

	.product-ico {
		position:absolute;
		right:30px;
		top:-20px;
		font-size:60px;
		color: $primary-color;
	}

	.masker {
		overflow:hidden;
		max-height:700px;
	}

	.product-gallery {
		.swipe-container {width:100%;}
		.bx-controls {display:none;}
	}

	.product-gallery-slide {
		width:100%;
		min-width:415px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
		margin-right:0;
		img {display:inline-block;}
	}
}


.product-gallery-wrap {
	position:relative;

	.product-thumb {
		width:63px;
		font-size:11px;
		position:absolute;
		top:0;
		left:0;
		z-index:11;

		.thumb-title {
			margin-bottom:15px;
			font-size:11px;
		}

		.thumb-list {
			@include product-detail_thumb-list;
		}

		> ul {list-style-type:none; padding:0; margin:0; border:0;}
	}

	&.left {
		.product-gallery {padding-left:76px;}
		.product-thumb {
			overflow:hidden;
			bottom:0;
		}
	}

	&.bottom {
		.product-thumb {
			position:static;
			width:100%;
			overflow:hidden;
			&:after {content:""; display:block; clear:both;}

			.thumb-wrap {
				width:1000%;
				margin:10px auto 0 auto;
				margin-top:10px;
			}
			.thumb-list {
				float:left;
				overflow:hidden;
				width:80px;
				height:98px;
				margin:0px;
				margin-left:10px;

				&:first-child {margin-left:0;}
			}
		}
	}
}



.info-wrap_product {
	//float:left;
	//width:45%;
	//padding-left:82px;
	color: $font-3;
	box-sizing:border-box;


	.title-wrap {
		margin-bottom:4px;
		.subtit {color: $primary-sub-color;}
		// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
		.close-btn {display:none;}
	}

	.review-wrap {
		margin-top:20px;
		padding-bottom:16px;
		border-bottom:1px solid $border-2;
		font-size:11px;
		color: $font-4;

		&:after {content:''; display:block; clear:both;}
		.review-num {padding:0 0 0 2px;}
		.style-code {
			float:right;
			color:$font-3;
		}
	}

	.price-wrap {
		font-size:18px;

		> .price-sale {text-decoration:line-through;}
		> .price {
			// font-weight:bold;
			color: $prd_sale-price;
			> strong {
				font-size:18px;
				letter-spacing:-1px;
				font-weight: normal;
			}
		}
		.sale-per {
			margin-top:14px;
			display:inline-block;
			margin-left:5px;
			color: $marketing-color;
			font-size:12px;
			&:hover {color: $marketing-color-over;}
		}
		.disc-num {
			display:inline-block;
		    margin-left:18px;
		    font-size:30px;
			color: $prd_sale-price;
		    font-weight:bold;
		}
	}

	.option-wrap {
		.tit {margin:30px 0 8px; font-weight:normal; font-size:16px; color:#2d2d2d;}
		.msg {display:inline-block; margin-left:10px; color: $caution-color;}
		.over-txt {display:inline-block; margin-left:5px; color:$font-3;}
		.option-guide { padding:15px 0 0 0; font-size:12px;}
		.input-select {
			margin-top:10px;
			&:first-child {margin-top:0;}
		}

		.product-option_radio {
			margin:-6px 0 0 -6px;
			&:after {content:''; display:block; clear:both;}

			.input-radio {
				display: inline-block;
				vertical-align:top;
				margin:6px 0 0 6px;
				//&:first-child {margin-left:0;}

				.label {
					/* padding: 7px 14px 0; */
					letter-spacing: 0;
					display: inline-block;
					width: auto;
					width:79px;
					height:40px;
					line-height:40px;
					vertical-align:middle;
					text-align: center;
					border:1px solid #e3e3e3;
					font-size:14px;
					color:#2d2d2d;
					font-weight:500;
					box-sizing:border-box;

					&.img-type {
						width:70px;
						height:66px;
						border:0;
						overflow:hidden;
						> img {display:block; width:100%;max-height:69px;}
					}
				}
				.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

				&:hover { .label {border-color:#39bdbf;} }
				&.checked {
					.label {
						position:relative;
						color:#fff;
						background-color:#39bdbf;
						&:after {
							content:'';
							position:absolute;
							top:-1px;
							right:-1px;
							bottom:-1px;
							left:-1px;
							border:2px solid #39bdbf;
						}
						&.img-type {
							position:relative;
							width:70px;
							height:66px;
							overflow:hidden;
							border:1px solid #f7f7f7;
							&:after {
								content:'';
								position:absolute;
								top:-1px;
								right:-1px;
								bottom:-1px;
								left:-1px;
								border:0;
								border-bottom:5px solid #57b7bc;
							}
						}
					}
				}
				&.disabled {
					.label {
						border:1px solid #e3e3e3;
						background-color:#EBEBEB;
						color:#878787;
						&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
					}
					&:hover {
						.label {border:1px solid #e3e3e3;}
					}
				}
				&.option-color {
					float:left;
					margin-left:10px;
					&:first-child {
						margin-left:0;
						margin-right:6px;
					}
				}
			}

			&.circle {
				.input-radio {
					padding:3px;
					.label {
						// border:none;
						&.img-type{
							overflow:hidden;
							width:40px;
							height:40px;
							padding:5px;
							border-radius:50%;

							img {border-radius:50%;}
						}

						&:hover {border:1px solid $primary-color;}
					}
					.pattern {width:28px; height:28px; border-radius:50%;}

					&.checked {
						.label {
							border:1px solid $default-color;
							background-color: $default-color;
							color: $font-6;
							&.img-type {
								padding:5px;
								background-color: transparent;
							}
							&:after{display:none;}
						}
					}
				}
			}
		}
	}

	.status-wrap {
		.btn-wrap {margin-top:30px;}
		.btn-link {
			width:49%;
			text-align:center;
			&.right {float:right}
			&.left {float:left;}
			&.optchange-btn {width:100%;}
			&.btn-login {width:100%;}
		}
		.selected-opt {
			display:table;
			width:100%;
			border-top:1px solid #ebebeb;
			padding: 15px 0;

			&:first-child {margin-top:30px;}
			&:after {content:""; display:block; clear:both;}

			.opt {
				display:table-cell;
				overflow:hidden;
				width:40%;
				max-height:32px;
				line-height:16px;
				font-size:12px;
				vertical-align:middle;
			}

			.quantity{
				display:table-cell;
			}

			.total-price {
				display:table-cell;
				color:#2b5275;
				> strong {
					// font-weight:bold;
					font-size:20px;}
			}

			.delete-btn {position:relative;}
		}
	}

	.guide-wrap {
		margin-top:25px;
		text-align:center;

		.shipping-text {
			display:block;
			width:100%;
			padding:20px 0;
			border-width:1px 0;
			border-style:solid;
			border-color:$border-1;
			line-height: 1.4;
		}

		.description {
			padding:20px 0;
			text-align:left;
			line-height:1.5em;
		}
		.shot-discription {
			border-bottom:1px solid $border-1;
		}

		.overview {
			text-align:left;

			.tit {padding:20px 0 10px; font-size:14px;}
			.description {line-height:18px;}
		}
	}

	.sns-wrap {
		position: relative;
		height: 34px;
		margin-top:10px;
		font-size:30px;

		/* dist 외에 추가된 내용 */
		.wish-btn, .btn-link {
			/* float:left; */
			display:table-cell;
			vertical-align:top;
		}
		/* //dist 외에 추가된 내용 */

		// addthis extend
		/* .wish-btn, .btn-link {float:left;} dist */
		/* .addthis_inline_share_toolbox {position:absolute; top:5px; right:0;} dist */

		/* dist 외에 추가된 내용 */
		.addthis_inline_share_toolbox {
			/* position:absolute; */
			/* top:5px; */
			/* right:0; */
			display:table-cell;
			vertical-align:top;
		}
		/* //dist 외에 추가된 내용 */

		.icon-sns-kakao {
			display:none;
			position:absolute;
		    width:20px;
			right:0;
		}

		&:after {content:''; clear:both; display:block;}
	}


	.bundle-item {
		padding:20px 0;
		border-top:1px solid $border-2;
		&:first-child {border:0;}

		.name { line-height:27px; font-size:14px; color: $primary-color; }
		.qty { line-height:27px; font-size:14px; color: $primary-color; }
	}
}


/* mobile chk*/
body {
	&.mobile {
		.info-wrap_product{
			.sns-wrap {
				.addthis_inline_share_toolbox {right:27px;}
				.icon-sns-kakao {
					display:inline-block;
				}
			}
		}
	}
}


/* datail title */
.pop-detail-title {font-size:16px; padding:0 10px;}

.product-detail_view {
	position:relative;
	margin-top:60px;
	padding:40px 100px 0;

	&:after {
		content: '';
		position: absolute;
		top:0;
		//width: 3600px;  // 확인필요
		margin-left: -1000px;
		background: $bg-1;
		border-top: 1px solid $border-2;
	}

	.detail-tab {
		margin:0 auto;
		text-align:center;
		&:after {content:""; display:block; clear:both;}

		//reset
		list-style-type:none; padding:0; border:0;
	}
	.detail-info {
		padding:30px 0;
		line-height: 20px;
		font-size: 12px;
	}

	.btn-tab {
		float:none;
		display:inline-block;

		> a {
			display:inline-block;
			padding:40px 0 0;
			text-decoration:none;
			outline:none;
			&:hover, &:active {text-decoration:none;}
		}
	}
	.detail-delivery {
		line-height: 1.6;
		.delivery-text {padding:70px 0; text-align:center;}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 15px;
		}
		ul {margin-top: 5px;}
	}
}

/* product review list */
.review-read {
	ul {
		list-style:none;
		padding:0;
	}
	.read-list{
		padding:30px 20px 15px;
		border-top:1px solid $border-2;

		.user-info {
			margin-bottom:10px;
			.like {
				vertical-align:middle;
				.per {
					position: absolute;
				 	top: 0;
				 	left: 0;
				 	overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}
			.write-date {
				padding-left: 5px;
				color:$font-4;
				font-size:11px;
				font-family:$typo-ko;
				vertical-align: middle;
			}
			.user-name {
				&:after {content:$name-sir;}
				padding-left:5px;
				color: $font-4;
				font-size:11px;
				vertical-align: middle;
			}
		}
		.opt-info {
			margin:10px 0;
			.tit {
				&:after {
					content:$special-char-2;
					font-family:$typo-ko;
				}
				color:$font-3;
				font-size:13px;
			}
			.txt {
				a {
					&:before {
						content:$special-char-1;
						font-family:$typo-ko;
					}
				}
				color: $primary-sub-color;
				font-size:13px;
				margin-right:10px;
			}
		}

		.read-subject {
			//display:none;
			margin:27px 0 17px;
			font-size:15px;
			// font-weight:bold;
			color: $primary-color;
		}

		.read-comment {
			position:relative;
			line-height:20px;
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				width:70px;
				height:80px;
				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:15px 0;

			.btn-area {
				margin-top:15px;
			}
		}
	}
}

/* product review write modal - uikit redefine*/
.review-write {
	.uk-modal-dialog {
		width:480px;
		//padding:0;

		.popup-close_btn{
			&:first-child {
				margin:0;
			}
		}
	}
}

/* product, main review write */
.order-lanscape-list {
	position: relative;

	&:after {content:'';display:block; clear:both;}

	.image-wrap {
		float: left;
	 	overflow: hidden;
		width: 60px;
	}
	.order-info {
		@include calc( width, '100% - 60px');
		@include box-sizing();
		float: left;
		padding-left: 20px;
		font-family:$typo-ko;
		.tit {
			overflow: hidden;
			display: inline-block;
		 	min-width: 100%;
			max-height: 32px;
			line-height:22px;
			color: $primary-color;

		}
		.option {
			display:block;
			margin-top:5px;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
			span {
				display:block;
			}
		}
		.qty {
			display:block;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
		}
		.price-wrap {
			display:block;
			margin-top:5px;
			font-size:13px;
			color:$font-1;

			.sale-price {
				text-decoration:line-through;
				font-size:11px;
				color:$font-3;
			}
		}
	}
}

.review-write {
	@include box-sizing();
	// max-width:480px;
	padding:0 40px 30px;

	fieldset {
		border:0;
		padding:0;
		> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
	}

	.order-lanscape-list {
		padding: 40px 0 20px;;
	}

	.tit {color: $primary-color;}
	.like {margin:30px 0;}

	.rating-star-data {
		padding:10px 0 20px;
		text-align:center;

		.rating-description {
			padding:15px 0;
		}

	}
	.opt-value-data {
		padding:10px 0;
		//font-size:0;
		//line-height:0;

		.opt-txt {
			display:inline-block;
			/*width:53px;
			height:36px;*/
			font-size:13px;
			line-height:36px;
			color:$font-1;
			vertical-align:top;
		}
		.opt-strip {
			display:table;
			//display:block;
			width:100%;

			.radio-style {
				display:table-cell;
				/*&:first-child {
					@include calc( width, '33%');
				}
				@include calc( width, '33% - 7px');
				*/
			}
		}
		.opt-strip-label {
			margin-top:10px;
			.last {float:right;}
			&:after {content:''; display:block; clear:both;}
		}
	}
	.write-comment {
		margin-top:20px;
	}

	.review-img-uploader {

		.uplode-preview-list{
			margin-bottom:10px;

			.preview-up-img {
				position:relative;
				overflow:hidden;
				display:inline-block;
				width:58px;
				height:78px;
				margin:0 4px 10px 0;
				border:1px solid $border-3;
				background-color:$bg-2;

				.file-remove_btn {
					position:absolute;
					top:0;
					right:0;
				}

			}

		}

	}
	.review-btnarea{
		margin-top:40px;
	}
}



.product-opt_current {
	padding:20px 0;

	&:after {content:""; display:block; clear:both;}
	> .item-info {
		float:left;
		&:after {content:""; display:block; clear:both;}

		> .img-wrap {
			float:left;
			display:inline-block;
			width:60px;
			img {width:100%; display:block;}
		}
		> .info-wrap {
			float:left;
			height:60px;
			margin:12px 0 0 20px;
			display:inline-block;
			.tit {display:inline-block;width:100%;}
			.price {display:inline-block; margin-top:10px;}
		}
	}

	> .item-btn {
		float:right;
	}
}

/* 05.26 etam 에 적용한  css로 변경 필요 : str
.detail-review {
	@include box-sizing();
	margin:40px auto 0;
	padding:0 20px;
	max-width:850px;
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			display:inline-block;
			height:38px;
			vertical-align:middle;
		}
	}

	.total-star-point {
		margin-left:5px;
		font-size:$font-size-xl;
		color: $font-1;
	}
	.star-review-num {
		margin:0 0 20px;
		font-size:$font-size-m;
	}
}



.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}
.review-sort {
	margin-bottom:10px;
	padding:0 20px;
	overflow:hidden;
	.review-cnt {
		float:left;
		padding-top:10px;
		font-family:$typo-ko;
		.total-cnt {
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
	}
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width:50px;
		.star-bullet {
			margin-right:8px;
		}
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		@include calc( width, '100% - 127px');
		height:4px;
		background:$border-1;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 95px');
		}
		.opt-graph-point-color {
			height:4px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:45px;
		text-align:right;
		color:$font-1;
	}

}
05.26 etam 에 적용한  css로 변경 필요 : end */

/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : str */
/* icon폰트의 별이미지도 공통 으로 빼야함 */
.detail-review {
	@include box-sizing();
	margin:40px auto 40px;
	padding:0 0 0 20px;
	max-width: 100%;
}
.detail-review-summary {
	border: 1px solid $border-3;
	border-left:0;
	> * {padding: 50px 10px; border-left: 1px solid $border-3;}
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			position:relative;
			display:inline-block;
			width: 169px;
			height:32px;
			overflow: hidden;
			vertical-align:middle;
			> i {
				font-size: 32px;
			}
			.per {
				position: absolute;
				top:0;
				left:0;
				overflow: hidden;
			}
			.star-default-bg {
				color: $font-4;
			}
		}
	}

	.total-star-point {
		margin-left: 5px;
		font-size: 22px;
		color: $font-1;
		vertical-align: middle;
	}
	.star-review-num {
		margin:0 0 20px;
		font-size:$font-size-m;
	}
	.review-write-btn {
		width: 176px;
		padding: 15px 30px;
	}
}

.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}
.n-review-sort {
	margin-bottom:10px;
	padding:0 20px;
	overflow:hidden;
	.review-cnt {
		float:left;
		padding-top:10px;
		font-family:$typo-ko;
		.total-cnt {
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
	}
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

/* product review graph */
.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width:20px;
		margin-left: 10px;
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		// @include calc( width, '100% - 20px');
		height: 10px;
		background:$border-1;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 70px');
		}
		.opt-graph-point-color {
			height: 10px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:30px;
		text-align:left;
		color:$font-1;
		margin-left: 10px;
	}
}
.opt-value-wrap {
	padding: 0 20px;
	margin-top:-15px;

	.opt-value-list {
		margin-bottom: 10px;
	}
	.opt-value-title {
		display: inline-block;
		width: 50px;
		margin-top:15px;
		font-size: 12px;
		font-weight: bold;
		color: $font-1;
		vertical-align: top;
	}
	.opt-value-box {
		@include calc( width, '100% - 54px');
		display: inline-block;
		margin-top:15px;

		.opt-value-gage {
			display:table;
			position: relative;
			width: 100%;
			height: 8px;
			border: 1px solid $border-3;
			box-sizing: border-box;
			.opt-value-dot {
				display:table-cell;
				&.active {
					background-color: $font-1;
				}

				&.per {
					position: absolute;
					top: -3px;
					left: -5px;
					width: 10px;
					height: 12px;
					background-color: $font-1;
				}
			}
		}
		.opt-value-txtbox {
			.opt-value-txt {
				margin-top: 10px;
				font-size: 12px;
				color: $font-2;
				overflow: hidden;
				&.left {float: left;}
				&.right {float: right;}
			}
		}
	}
}
.n-review-sort {
	margin: 10px 0 5px -20px;
	&:after {
		content:'';
		display:block;
		clear: both;
	}
	.review-cnt {
		float: left;
		padding-top: 12px;
		font-size: 12px;
		color: $font-2;
	}
	.review-sort-item {
		float: right;
		> span {
			font-size: 12px;
			color: $font-1;
		}
	}

}
/* product review list */
.n-review-read {
	margin-left: -20px;
	.uk-grid {
		margin-left: 0;
	}
	ul {
		margin-bottom:35px;
		list-style:none;
		padding:0;
		> li {
			border-top: 1px solid $border-3;
			padding-bottom: 30px;
		}
	}

	.read-list{
		padding:30px 10px 0;

		.user-info {
			margin-bottom: 20px;
			.like {
				position:relative;
				display:inline-block;
				height:12px;
				overflow: hidden;
				vertical-align: -1px;
				> i {
					font-size: 13px;
				}
				.per {
					position: absolute;
					top:0;
					left:0;
					overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}

			.write-date {
				padding-left: 30px;
				color: $font-2;
				font-size: 12px;
				font-family:$typo-ko;
				vertical-align: -1px;
			}
			.user-name {
				// &:after {content:$name-sir;}
				padding-left: 30px;
				color: $font-2;
				font-size:12px;
				vertical-align: bottom;
			}
		}
		.read-subject {
			font-size: 18px;
			font-weight: 900;
			color: $font-1;
			margin-bottom: 12px;
		}
		.read-comment {
			position:relative;
			line-height:20px;
			font-size: 12px;
			color: $font-2;
			margin-bottom: 15px;  //상세페이지 리뷰 리스트 간격 수정
			word-break: break-all;
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				max-width:200px;
				max-height:200px;
				/*width:70px;
				height:80px;*/

				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:15px 0 0;
			font-size: 12px;
			color: $font-2;

			.btn-area {
				margin-top:10px;
				> span {
					color: $font-1;
					font-weight: 900;
					margin-right: 10px;
				}
				.like {
					border-width: 1px;
					font-size: 12px;
					padding: 10px 16px;

				}
			}
		}
	}
	.opt-value-wrap {
		padding: 65px 30px 0 10px;
	}
}
/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : end */



.mini-option-wrap {
	position:fixed;
	left:0;
	right:0;
	bottom:-60px;
	height:60px;
	margin:0 auto;
	z-index:980;

	&:after {
		content:'';
		position:absolute;
		width:250%;
		margin-left:-1000px;
		height:60px;
		background: $bg-1;
		border-top:1px solid $border-2;
	}
	.mini-product-item {
		float:left;
		.product-thumb-img {
			display:inline-block;
			width:40px;
			height:40px;
			margin-left:15px;
			vertical-align:top;
			img {width:32px;}
		}
		.mini-product-info {
			display:inline-block;
			max-width:300px;
			margin-left:5px;
			.tit {
				display:block;
			}
			.price {
				display:block;
				margin-top:5px;
				color: $prd_sale-price;
				strong {font-weight: normal;}
			}
		}

	}

	> .btn-wrap {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:60px;
		padding-top:10px;
		box-sizing:border-box;
		background-color: $bg-1;
		border-top:1px solid $border-2;
		z-index:1;

		.minioptbtn {position:absolute; top:10px; right:0; display:inline-block; width:240px; margin:0 15px 0 0; text-align:center;}
		.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
	}
	.info-wrap_product {
		display:none;
		text-indent:-9999px;
		visibility:hidden;

		position:absolute;
		right:0;
		bottom:0;
		padding-left:0;
		border:1px solid $border-2;
		background-color: $bg-1;
		z-index:20;
		padding: 0;

		.title-wrap {
			border-bottom:1px solid $border-2;
			margin-bottom:0;
			font-size:14px;

			.tit {overflow:hidden; display:inline-block; margin-top:0; padding:15px 20px 10px; font-size:14px; }
			.subtit {display:none;}
			.close-btn {display:block; padding:16px;}
			.style-code {padding-left:20px; font-size:12px; padding-bottom:10px;}
		}

		.option-wrap, .status-wrap {
			padding:0 20px;
		}

		.status-wrap {
			.btn-wrap {
				width:100%;
				padding-bottom:20px;
			}
		}

		.guide-wrap, .price-wrap, .review-wrap, .sns-wrap {display:none;}

		&.active {display:block; text-indent:0; visibility:visible;}
	}

	.dim {z-index:10;}
}

.product-soldout, .product-comming {
	text-align:center;

	.soldout, .comming {
		display:inline-block;
		width: 100%;
		padding:12px 20px;
		margin-top:50px;
		font-size:16px;
		background-color:$bg-5;
		color: $font-3;
		box-sizing: border-box;
	}

	.comming {
		margin-top:0;
	}
}



.shot-discription {
	padding:20px 0;
	word-break:break-all;
	white-space:pre-wrap;
	line-height:1.5em;
	text-align:left;
}

/* 최근본 상품 */
/*
.contents {
	&.latest-items {
		.contents-title {
			&.center {padding-bottom: 0;}
		}

	}
}
*/



.stone-guide {
	display:none;
	height:0;
}




/* modalLayer guide */
#guide{
	.uk-modal-dialog {width:600px;}
}





/* 상품 QnA */
.qna-wrapper {
	margin-bottom:80px;
	.tit {text-align:center; margin-bottom:20px;}
	.product-qna-btn-group {text-align:center;}
	.qna-less {
		.info {padding-top:50px; text-align:center;}
	}

	.write-comment {
		> textarea {
			border:1px solid $border-3;
			background:#fff;
		}
	}
	.qna-list {
		margin-top:30px;
		.list {
			position:relative;
			padding:20px 30px;
			border-bottom:1px solid $border-2;
			&:first-child {border-top:1px solid $border-2;}
		}
		.question-container, .answer-container {
			position:relative;
			padding-left:52px;
			font-size:14px;
			color:#2e2e2e;

			&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
			.custom-info {
				margin-top:8px;
				font-size:12px;
				color:$font-3;

				> * {display:inline-block;}
				.date {margin-left:10px;}
			}
		}
		.question-container {
			padding-right:40px;
			min-height:45px;
			&:before {content:"Q";}
		}
		.answer-container {
			margin-top:28px;
			&:before {content:"A";}
			.content {min-height:30px;}
		}
		.btn-container {
			position:absolute;
			top:20px;
			right:30px;
			z-index:5;

			> .btn-link {padding:0;}
		}
	}


	.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
}




/* mediaquery */

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

	//product option
	.product-detail_wrap {
		> .img-detail_product {
			.product-gallery-slide {
				min-width:300px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			}
		}
	}

	.info-wrap_product{
		.status-wrap {
			.btn-wrap {margin-top:30px;}
			.btn-link {
				width:100%;
				margin-top:10px;
				text-align:center;
				&:first-child {margin-top:0}
				&.right {float:inherit}
				&.left {float:inherit;}
			}
		}
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	//product option
	.product-detail_wrap {
		> .img-detail_product {
			padding:0;
		}
		> .info-wrap_product {
			margin-top: 35px;
			padding: 0 16px;
		}

		.select-box {width:100%;}
	}

	/* product name */
	.info-wrap_product  {
		.title-wrap {margin-bottom:3px;}
	}

	.product-gallery-wrap {
		.product-thumb {display:none;}
		//slide
		.product-gallery {
			.bx-controls {display:block;margin-top:-10px;}
		}

		&.left {
			.product-gallery {padding:0;}
		}
	}


	/*.img-detail_product {
		position:relative;
		padding-right: 40px;
		text-align:center;*/



	//product view
	.product-detail_view {
		margin-top:0;
		.detail-tab {display:none; margin:0;width:inherit;}
		.btn-tab {
			font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
			&.uk-active{
				position:relative;
				&:before {
					content:'';
					position:absolute;
					display:block;
					bottom:-1px;
					left:0;
					width:100%;
					border-bottom:2px solid  $primary-color;
				}

			}
		}
		.detail-delivery {
			.delivery-text {padding:30px 0;}
		}
	}

	/* 상품평 */
	.detail-review {
		padding:0 10px;
		.pop-detail-title {padding:0 0 10px;}
	}

	/* 상품정보고시 */
	.product-noti-content {
		.noit-title {float:none;}
		.noti-value {padding-top:0;}
	}

	/* 상품타이틀 */
	.info-wrap_product {
		.title-wrap {
			.tit {font-size:17px;}
		}
		.price-wrap {
			> .price {
				> strong {font-size:24px;}
			}
		}
		.option-wrap {
			> .tit {margin:15px 0 8px;}
			.option-guide {
				padding:10px 0 0 0;
				font-size:12px;
			}
		}
		.review-wrap {border-bottom:0;}
	}

	/* 미니옵션 */
	.mini-option-wrap {
		height:56px;

		&:after {height:56px;}
		.mini-product-item {display:none;}
		> .btn-wrap {
			height:56px;
			padding:6px;
			box-sizing:border-box;

			.minioptbtn {
				position:static;
				width:100%;
				height:40px;
				margin:0;
				padding:13px 30px;
				box-sizing:border-box;
				text-align:center;
			}
			.wishlist-btn {display:none;}
		}

	}

	.review-write {
		padding:0;
	}

	/* guide wrap */


}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.detail-delivery {padding:0 16px;}
	.product-detail_view {
		padding:40px 16px;
	}
	.n-review-read {
		margin-left: 0;
	}
}
