/*********************************************************************/
/* salomon common 
/*********************************************************************/
	
/* font - $typo-en 지정
/*****************************************************************/



/* iconfont - only salomon 사용되는 아이콘만 정리
/*****************************************************************/
[class^="salomon-"], [class*=" salomon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'salomon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.salomon-ic-direct:before {
content: "\e951";
}
.salomon-ic-time:before {
content: "\e952";
}
.salomon-ic-date:before {
content: "\e953";
}
.salomon-ic-help2:before {
content: "\e954";
}
.salomon-ic-check:before {
content: "\e901";
}
.salomon-ic-confirm:before {
content: "\e902";
}
.salomon-ic-search:before {
content: "\e903";
}
.salomon-ic-drop-up:before {
content: "\e904";
}
.salomon-ic-drop-down:before {
content: "\e905";
}
.salomon-ic-info:before {
content: "\e906";
}
.salomon-ic-cancel:before {
content: "\e907";
}
.salomon-ic-close:before {
content: "\e908";
}
.salomon-ic-close2:before {
content: "\e909";
}
.salomon-ic-reset:before {
content: "\e90a";
}
.salomon-ic-zoom-in:before {
content: "\e90b";
}
.salomon-ic-zoom-out:before {
content: "\e90c";
}
.salomon-ic-setting:before {
content: "\e90d";
}
.salomon-ic-add:before {
content: "\e90e";
}
.salomon-ic-remove:before {
content: "\e90f";
}
.salomon-ic-write:before {
content: "\e910";
}
.salomon-ic-login:before {
content: "\e911";
}
.salomon-ic-filter:before {
content: "\e912";
}
.salomon-ic-shopping-cart:before {
content: "\e913";
}
.salomon-ic-shopping-cart-s:before {
content: "\e913";
}
.salomon-ic-save-later:before {
content: "\e914";
}
.salomon-ic-ship-step1:before {
content: "\e915";
}
.salomon-ic-ship-step2:before {
content: "\e916";
}
.salomon-ic-ship-step3:before {
content: "\e917";
}
.salomon-ic-ship-step4:before {
content: "\e918";
}
.salomon-ic-ship-step5:before {
content: "\e919";
}
.salomon-ic-mypage:before {
content: "\e91a";
}
.salomon-ic-join:before {
content: "\e91b";
}
.salomon-ic-customer:before {
content: "\e91c";
}
.salomon-ic-call:before {
content: "\e91d";
}
.salomon-ic-mail:before {
content: "\e91e";
}
.salomon-ic-mail2:before {
content: "\e91f";
}
.salomon-ic-location:before {
content: "\e900";
}
.salomon-ic-camera:before {
content: "\e920";
}
.salomon-ic-image:before {
content: "\e921";
}
.salomon-ic-play:before {
content: "\e922";
}
.salomon-ic-pause:before {
content: "\e923";
}
.salomon-ic-menu:before {
content: "\e924";
}
.salomon-ic-more:before {
content: "\e925";
}
.salomon-ic-next:before {
content: "\e926";
}
.salomon-ic-back:before {
content: "\e927";
}
.salomon-ic-up:before {
content: "\e928";
}
.salomon-ic-down:before {
content: "\e929";
}
.salomon-ic-last-page:before {
content: "\e92a";
}
.salomon-ic-first-page:before {
content: "\e92b";
}
.salomon-ic-arrow-right:before {
content: "\e92c";
}
.salomon-ic-arrow-left:before {
content: "\e92d";
}
.salomon-ic-home:before {
content: "\e92e";
}
.salomon-ic-alert:before {
content: "\e92f";
}
.salomon-ic-warning:before {
content: "\e930";
}
.salomon-ic-error:before {
content: "\e931";
}
.salomon-ic-help:before {
content: "\e932";
}
.salomon-ic-share:before {
content: "\e933";
}
.salomon-ic-facebook:before {
content: "\e934";
}
.salomon-ic-facebook2:before {
content: "\e935";
color: #666;
}
.salomon-ic-twitter:before {
content: "\e936";
}
.salomon-ic-instagram:before {
content: "\e937";
}
.salomon-ic-kakao:before {
content: "\e938";
}
.salomon-ic-kakaostory:before {
content: "\e939";
}
.salomon-ic-naver:before {
content: "\e93a";
}
.salomon-ic-google:before {
content: "\e93b";
}
.salomon-ic-line:before {
content: "\e93c";
}
.salomon-ic-yellowid:before {
content: "\e93d";
}
.salomon-ic-youtube:before {
content: "\e93e";
}
.salomon-ic-pinterest:before {
content: "\e93f";
}
.salomon-ic-wish-off:before {
content: "\e940";
}
.salomon-ic-wish-on:before {
content: "\e941";
}
.salomon-ic-star:before {
content: "\e942";
}
.salomon-ic-star-half:before {
content: "\e943";
}
.salomon-ic-star-border:before {
content: "\e944";
}
.salomon-ic-checkbox-off:before {
content: "\e945";
}
.salomon-ic-checkbox-on:before {
content: "\e946";
}
.salomon-ic-checkbox-minus:before {
content: "\e947";
}
.salomon-ic-radio-off:before {
content: "\e948";
}
.salomon-ic-radio-on:before {
content: "\e949";
}
.salomon-logo-salomon-mobile:before {
content: "\e94f";
color: #fff;
}
.salomon-ic-5star:before {
content: "\e94c";
}
.salomon-ic-5star-border:before {
content: "\e94d";
}
.salomon-ic-community:before {
content: "\e94a";
}
.salomon-ic-board:before {
content: "\e94e";
}
.salomon-ic-call2:before {
content: "\e950";
}
.salomon-logo-salomon:before {
content: "\e94b";
color: #fff;
}

a {
	&:hover, &:active {
		color:#57b7bc;
	}
}

/* 퀵뷰 영역에서 특정 기능 삭제 */
#quickview-wrap {
	.card-info-wrapper {
		display:none;
	}
	.sns-wrap {
		.size-chart {
			display:none;
		}
	}
	.sns-btn {
		.btn-link {}
	}
	.restock-wrapper {
		display:none;
	}
}

/* 미니옵션 영역 삭제 */
.mini-option-wrap {
	.info-wrap_product {
		border:0 !important;;
		h1 {
			margin-bottom:25px !important;;
			> a {display:none !important;}
		}
		.short-description {display:none !important;}
		.card-info-wrapper {display:none !important;}
	}
}

.like {
	color:#57b7bc;
}

.btn-link, .button {
	&.line-thin {
		color:#00bcbc;
		&:hover {
			color:#fff;
			background-color:#00bcbc;
			&:before {
				border:0;
			}
		}
		&:before {
			border:1px solid #00bcbc;
		}
	}
}

/* 상품리스트 헤더 */
.pl-top {
	> .bar-area {
		height:65px;
		line-height:65px;
		vertical-align:middle;
		font-size:22px;
		font-weight:500;
		text-align:center;
		color: #2d2d2d;
		background-color:#eef4f3;
	}
	> .p-blue {
		margin:20px 0 10px 0;
		font-size:22px;
		font-weight:500;
		text-align:center;
		color: #39bdbf;
	}
	> .p-gray {
		margin:0 0 20px 0;
		font-size:14px;
		font-weight:500;
		text-align:center;
		color: #2d2d2d;
	}
}

/* 메인 바디 배경이미지 */
.content-area {
	> .pt_main {
		background-color:#252525;
		/* background:url(/assets/images/broken_noise-pattern.png) 0 0 repeat; */
	}
}

/* 상세페이지 */
.info-wrap_product {
	.title-wrap {
		font-size:40px;
		font-weight:400;
		color:#2d2d2d;
	}
	.short-description {
		span {
			font-size:16px;
			color:#2d2d2d;
			line-height:24px;
			font-weight:normal;
		}
	}
	.option-wrap {
		h2 {
			span {
				float:left;
				display:inline-block;
				height:20px;
				line-height:20px;
			}
			.option-tit {
				font-size:16px;
				color:#2d2d2d;
			}
			.over-txt {
				font-size:12px;
				color:#808080;
			}
			.style-code {
				font-family:'salomon';
				font-size:12px;
				color:#808080;
				letter-spacing:-0.2px;
				margin-left:12px;
			}
			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
	}
	.price-review-wrapper {
		position:relative;
		border-bottom:1px solid #eaeaea;
		margin-top:16px;
		li {
			float:left;
			width:50%;
			padding-bottom:16px;
			.review-wrap {
				text-align:right;
				margin-top:0;
				border-bottom:0;
				.review-inner {
					display:inline-block;
					span {
						display:inline-block;
						float:left;
						height:14px;
						line-height:14px;
					}
				}
			}
			&.review-star-area {
				display:inline-block;
				position:absolute;
				bottom:0;
				right:0;
				padding-bottom:0;
			}
		}
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
	.price-wrap {
		letter-spacing:0;
		.price-sale {
			color:#747474;
		}
		.price {
			color:#32B1B1;
			strong {
				font-size:24px;
				line-height:28px;
			}
		}
	}
	.tprice-wrap {
		.price {
			strong {
				font-family: 'salomon';
				font-size:24px !important;
				font-weight:500 !important;
				color:#39bdbf !important;
			}
		}
	}
	.card-info-wrapper, .store-locator-link, .restock-wrapper {
		height:64px;
		line-height:64px;
		border-bottom:1px solid #eee;
		span, a {
			float:left;
			display:inline-block;
			width:50%;
			height:64px;
			line-height:64px;
			font-size:14px;
			color:#2d2d2d;
		}
		a {
			text-align:right;
			text-decoration:underline;
		}
		i {
			float:left;
			height:64px;
			line-height:64px;
			font-size:20px;
			color:#2d2d2d;
			margin-right:8px;
		}
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
	.restock-wrapper {
		a {
			text-align:left;
		}
	}
	.store-locator-link {
		text-align:left;
		a {
			float:none;
			width:auto;
		}
	}
	.status-wrap {
		.btn-link, .button {
			height:54px; font-size:18px; padding:20px 30px;
			&.line-thin, &.line-thin {
				color:$border-over;
				&:before {
					border: 1px solid $border-over;
				}
				&:hover {
					color:#fff;
					background-color:#2b2b2b;
					&:before {
						border: 1px solid #2b2b2b;
					}
				}
			}
			
		}
	}
}

.detail-review {
	.btn-link, .button {
		&.line-thin {
			color:#fff;
			background-color:#00bcbc;
			&:before {
				display:none;
			}
			&:hover {
				color:#fff;
				background-color:#2d2d2d;
			}
		}
	}
}

.n-review-read {
	ul {
		li {
			border-bottom:1px solid #deeae8;
			padding-bottom:0;
			.read-list {
				.user-info {
					.user-name, .write-date {
						font-family: 'Noto Sans KR';
						font-size:13px;
						color:#878787;
						vertical-align:0;
					}
					.btn-area {
						.review-modify, .review-remove {
							font-size:13px;
							color:#39bdbf;
							height:16px;
							line-height:16px;
							border:0;
							padding:0 0 0 16px;
						}
					}
				}
				.read-subject {
					font-size:16px;
					font-weight:400;
				}
				.read-comment {
					line-height:22px;
					margin-bottom:70px;
				}
				.review-help {
					.help-txt {
						color:#878787;
						margin-bottom:30px;
					}
					.btn-area {
						border-top:1px solid #eee;
						padding:10px 0;
						.like {
							height:24px;
							line-height:24px;
							color:#39bdbf;
							border:0;
							padding:0 16px;
						}
						&:last-child {
							margin-top:0;
						}
					}
				}
			}
		}
	}
}

.review-write {
	padding: 20px 20px 30px;
	&.uk-modal {
		.uk-modal-dialog {
			padding:50px 10px 30px;
		}
	}
	.uk-modal-dialog {
		width:560px;
	}
	fieldset > legend {
		position:static;
		width:100%;
		height:auto;
		font-size:26px;
		color:#2d2d2d;
		text-align:center;
		text-indent:0;
		visibility:visible;
	}
	.order-lanscape-list {
		padding:66px 0 20px;
		.order-info {
			.tit {
				color:#2d2d2d;
				line-height:initial;
			}
			.price-wrap {
				strong {
					font-size:18px;
					color:#818181;
					font-weight:400;
					&.sale-price {
						font-size:11px;
						color:#777;
					}
					&.price-txt-retail {
						color:#39bdbf;
					}
				}
			}
		}
	}
	.rating-star-data {
		border-top:1px solid #eee;
		border-bottom: 1px solid #eee;
		padding:20px 0;
	}
	h6 {
		font-family:'salomon';
		font-size:12px;
		font-weight:600;
		color:#2a2a2a;
		border-top:1px solid #eee;
		padding-top:24px;
		margin:24px 0 8px;
	}
	.review-img-uploader {
		.brz-icon-img-file {
			display:none;
		}
		span.sub-txt {
			display: inline-block;
			line-height: 28px;
			margin-left: 6px;
			font-size: 11px;
			color: #aaa;
		}
	}
	.opt-value-data {
		.opt-txt {
			font-family:'salomon';
			font-size:12px;
			font-weight:600;
		}
		.opt-strip {
			display:block;
			padding:0 10px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			.opt-strip-inner {
				display:table;
				width:100%;
			}
			label {
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
			}
		}
		.opt-strip-label {
			padding:0 20px;
			span {
				font-size:11px;
				color:#878787;
			}
		}
	}
	.input-textfield {
		label {
			top:16px;
			font-size:16px;
			color:#808080;
		}
		> input {
			height:48px;
			font-size:16px;
		}
	}
	.input-textarea {
		margin:0;
		label {
			color:#808080;
			line-height:22px;
			padding:22px 17px;
		}
		textarea {
			background-color:#fff;
			margin:8px 0 36px;
		}
	}
	.uplode-preview-list {
		button {
			font-size:14px;
			color:#808080;
			padding:0;
			&:before {
				border:0;
			}
			&:hover {
				background-color:transparent;
				color:#808080;
			}
			i {
				float:left;
				font-size:24px;
				color:#57b7bc;
			}
			span {
				float:left;
				display:inline-block;
				height:24px;
				line-height:24px;
				margin-left:10px;
			}
			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
	}
	.review-btnarea {
		.btn-link {
			font-family:'salomon';
			font-size:18px;
			font-weight:300;
		}
	}
}

.product-detail_view {
	.btn-tab {
		width:25%;
		height:40px;
		padding-bottom:0;
		border-bottom:1px solid #57b7bc;
		a {
			display:block;
			height:40px;
			line-height:40px;
			font-size:14px;
			font-weight:500;
			letter-spacing:0.4px;
			padding-top:0;
		}
		&:hover, &:active, &.uk-active {
			a {
				color:#2d2d2d;
			}
		}

		&:hover, &.uk-active {
			border-bottom:4px solid #57b7bc;
		}
	}
	#detail-info {
		.detail-feature-wrapper, .detail-function-wrapper {
			border-top:1px solid #eee;
			padding: 72px 0 0;
			margin-top:40px;
			.description {
				> div, > p, > img {
					float:left;
					width:48%;
					height:auto;
					margin-bottom:32px;
					&:nth-child(even) {
						margin-left:4%;
					}
					&:last-child {
						margin-bottom:0;
					}
				}
				&:after {
					content:'';
					display:block;
					clear:both;
				}
			}
		}
	}
	.detail-content-wrapper {
		> li {
			float:left;
			width:50%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			&:first-child {
				padding-right:25px;
			}
			&:last-child {
				padding-left:25px;
			}
			.ex-description-wrapper {
				> li {
					float:left;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
					padding:0 5px;
					&:first-child {
						width:60%;
					}
					&:last-child {
						width:40%;
					}
				}
				.product-detail-list {
					> li {
						float:none;
						display:block;
						padding:8px 0;
						> span {
							display:inline-block;
							font-size:18px;
							padding:2px 0;
						}
						> ul {
							> li {
								float:left;
								width:17.6%;
								height:10px;
								border:1px solid #deeae8;
								background-color:#fff;
								margin:6px 3% 6px 0;
								-webkit-box-sizing:border-box;
								-moz-box-sizing:border-box;
								box-sizing:border-box;
								&:last-child {
									margin:6px 0;
								}
								&.active {
									border:1px solid #57b7bc;
									background-color:#57b7bc;
								}
							}
							&:after {
								content:'';
								display:block;
								clear:both;
							}
						}
					}
				}
				&:after {
					content:'';
					display:block;
					clear:both;
				}
			}
			&:after {
				content:'';
				display:block;
				clear:both;
			}
			.description {
				font-family:'Futura BT W01 Medium', 'Noto Sans KR', sans-serif;
				font-size:16px;
				color:#434343;
				line-height:23px;
				letter-spacing:-0.3px;
			}
		}
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
}

.product-detail_view .contents-title,
.contents > .contents-title,
h2.contents-title {
	&.center {
		position:relative;
		font-size:35px;
		letter-spacing:2px;
		text-align:center;
		padding-bottom:0;
		margin-bottom:50px;
		&:after {
			$deco_width: 20px;
			position:absolute;
			bottom:-18px;
			left:calc(50% - #{$deco_width / 2});
			content:'';
			display:block;
			width:$deco_width;
			height:3px;
			background-color:#878787;
		}
	}
}

.scrollup {
	&:hover {
		background-color:#57b7bc;
	}
}

/* 글로벌 스타일 */
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}
.pb10 {padding-bottom:10px;}
.tcenter {text-align:center;}
.tleft {text-align:left;}
.tright {text-align:right;}
.bold {font-weight:bold;}
.normal {font-weight:normal;}
.bn {border:0;}
.lsn {list-style:none;}

.sc {color:#39bdbf;} /* 살로몬 greeny-blue 컬러 */

/* 제품상세 > 썸네일 */
.product-gallery-wrap {
	position:relative;
	width:100%;
	max-width:650px;
	margin:0 auto;
	.product-gallery {
		.product-gallery-slide {
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			/* padding:50px; */
		}
	}
	&.bottom {
		.product-thumb-wrap {
			position: relative;
			width: 100%;
			max-width: 452px;
			margin: 0 auto;
			.product-thumb {
				position: static;
				width: 100%;
				max-width: 452px;
				margin: 32px auto 0;
				overflow: hidden;
				.thumb-wrap {
					&:after {
						content:'';
						display:block;
						clear:both;
					}
					.thumb-list {
						width:88px;
						height:88px;
						margin-left:20px;
						border:0;
						border-bottom:4px solid #ffffff;
						&.active {
							border-bottom:4px solid #57b7bc;
						}
					}
				}
			}
			button {
				position:absolute;
				top:45%;
				font-size:24px;
				color:#767676;
				background-color:#fff;
				border:0;
				&.btn-prev {
					left:-40px;
				}
				&.btn-next {
					right:-40px;
				}
				&:disabled {
					color:#ccc
				}
			}
		}
	}
}

/* 상품 리스트 */
.product-item {

	//모듈 공통
	.module-wrapper {
		margin: 0 auto;
	}

	//브랜드
	.brand-shop-wrap {
		min-height:24px;
		max-height:24px;
		margin: 4px 0;
		.brand-img {
			height:24px;
			text-align:center;
			img {
				display:inline-block;
				width:auto;
				max-height:24px;
			}
		}
	}

	//리뷰
	.module-wrapper {
		&.md-review {
			margin-top:18px;
			text-align:center;
			.module-inner {
				display:inline-block;
				span {
					display:inline-block;
					float:left;
					height:13px;
					line-height:13px;
				}
				&:after {
					content:'';
					display:block;
					clear:both;
				}
			}
		}
	}
}

/* 세일 카테고리 */
.sale-category-banner {
	text-align:center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	.sale-category-banner-inner {
		height:360px;
		text-align:center;
		background-size:cover;
		background-repeat:no-repeat;
		padding-top:70px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin-bottom:24px;
	}
	position:relative;
	ul {
		display:inline-block;
		padding:0;
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
	li {
		float:left;
	}
	h3 {
		font-family:'salomon';
		font-size:70px;
		height:90px;
		line-height:90px;
		color:#ffffff;
		font-weight:400;
		text-align:center;
		margin:0;
	}
	p {
		font-size:40px;
		height:40px;
		line-height:40px;
		color:#ffffff;
		text-align:center;
	}
	a {
		display:block;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		text-decoration:none;
	}
	ul.sale-cat-main {
		width:100%;
		max-width:580px;
		margin-top:36px;
		li {
			width:32%;
			margin-right:2%;
			a {
				display:block;
				height:64px;
				line-height:60px;
				font-size:28px;
				color:#fff;
				text-align:center;
				border:3px solid #fff;
			}
			&.active, &:hover {
				a {
					color:#fff;
					background-color:#57b7bc;
					border:3px solid #57b7bc;
				}
			}
			&:last-child {
				margin-right:0
			}
		}
	}
	.sale-category-nav-inner {
		text-align:center;
		ul.sale-cat-sub {
			width:100%;
			max-width:800px;
			li {
				width:20%;
				position:relative;
				border:1px solid #deeae8;
				border-left:0;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				&:first-child {
					border-left:1px solid #deeae8;
				}
				a {
					display:block;
					height:56px;
					line-height:54px;
					text-align:center;
					font-size:16px;
					color:#2d2d2d;
				}
				&.active, &:hover {
					a {
						color:#39bdbf;
						&:after {
							position:absolute;
							top:0;
							left:0;
							content:'';
							display:block;
							width:100%;
							height:54px;
							border:1px solid #deeae8;
						}
					}
				}
			}
		}
	}
}

/* module : Review */
.review-star {
	position:relative;
	display:inline-block;
	overflow: hidden;
	vertical-align:middle;
	margin-top:0;
	> i {
		font-size: 13px;
	}
	.per {
		position: absolute;
		top:0;
		left:0;
		color:#00bcbc;
		overflow: hidden;
	}
	.star-default-bg {
		color:#eee;
	}
}
.review-cnt {
	font-family:'salomon';
	font-size:12px;
	color:#434343;
	margin-left:5px;
}

/* Color chip */
.color-chip-container {
	display:inline-block;
	width:auto;
	text-align:center;
	margin:0;
	padding:5px 0;
	.color-chip-inner {
		display:inline-block;
		.color-chip {
			float:left;
			display:inline-block;
			width:12px;
			height:12px;
			margin:2px;
			border:0;
			overflow:hidden;
			text-indent:-9999px;
			-webkit-border-radius:50%;
			-moz-border-radius:50%;
			border-radius:50%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			&.white {
				border:1px solid #ababab;
			}
			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
	}
	ul {
		display:inline-block;
		width:auto !important;
		li {
			float:left;
			width:auto !important;
			padding:3px;
			.color-chip {
				width:10px;
				height:10px;
				margin:0;
				border:0;
				overflow:hidden;
				text-indent:-9999px;
				-webkit-border-radius:3px;
				-moz-border-radius:3px;
				border-radius:3px;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				&.white {
					border:1px solid #ababab;
				}
			}
		}
		&:after {
			content:'';
			display:block;
			clear:both;
		}
	}
	.bx-controls {
		display:none !important;
	}
}

/* 상품상세 > 탭메뉴 / 콘텐츠 */
.product-detail_view {

	/* 탭메뉴 */
	.detail-tab-wrapper {
		text-align:center;
		.detail-tab {
			display:inline-block;
			width:100%;
			.btn-tab {
				float:left;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				border-bottom:1px solid #deeae8;
				&:hover {
					border-bottom: 1px solid #57b7bc;
				}
				&.uk-active {
					border-bottom: 4px solid #57b7bc;
				}
			}
		}
	}

	/* 탭콘텐츠 */
	#detail-container {
		padding-top:60px;
		> ul {
			list-style:none;
			> li {
				display:none;
				h2 {
					font-size:35px;
					color:#2d2d2d;
					margin-bottom:36px;
				}
				h3 {
					font-size:30px;
					color:#2d2d2d;
					margin-bottom:32px;
				}
				&.active {
					display:block;
				}
			}
		}
	}

}

/* 상세페이지 > 최근본 상품 */
.contents {
	&.latest-items {
		padding:70px 0;
	}
	&.related-items {
		border-top:1px solid #eee;
		border-bottom:0;
		padding:72px 0 63px;
	}
}

/* 상세페이지 > 상품리뷰 */
.detail-review-wrapper {
	border-top:1px solid #eee;
	padding:70px 100px 0;
	.detail-review {
		padding:0;
		margin-top:0;
		.n-review-sort {
			margin:0;
			padding:16px 0;
			.review-cnt {
				padding:0;
				margin:0;
				span, a {
					display:inline-block;
					height:40px;
					line-height:40px;
				}
				.total-cnt {
					font-size:13px;
					color:#808080;
				}
			}
			.sort-tabs {
				.sort-item {
					height:40px;
					line-height:40px;
					background-color:transparent;
					color:#878787;
					padding:0;
					&.active, &.uk-active {
						color:#39bdbf;
					}
					&:before {
						border:0;
					}
				}
			}
		}
	}
}

.sns-wrap {
	height:44px !important;
	margin-top:20px !important;
	/* padding-right:15px; */
	padding-right:0;

	/* 상품상세 > 사이즈차트 버튼 */
	.size-chart {
		float:left;
		display:inline-block;
		.size-chart-btn {
			display:inline-block;
			font-size:14px;
			color:#434343;
			text-decoration:underline;
			height:34px;
			line-height:34px;
		}
	}

	/* 상품상세 > 소셜링크 */
	.sns-btn {
		float:right;
		margin-top: 4px;
		margin-right:0;
		display:table;
		vertical-align:top;
		.btn-link {
			width:34px;
			height:34px;
			line-height:34px;
			font-size:16px;
			color:#757575;
			text-align:center;
			padding:0;
			margin:0;
			vertical-align:top;
		}
	}

}

/* 상품상세 > info wrapper */
.info-wrap_product {
	.guide-wrap {
		margin-top:12px;
		.shipping-text p:first-child {
			font-size:16px;
			color:#aab2b0;
			font-weight:300;
			letter-spacing:-0.3px;
			img {
				margin-right:10px;
			}
		}
	}
}

/* CATEGORY SLIDER */
.category-slider {
	.bxslider-controls {
		.btn-prev, .btn-next {
			top:50%;
		}
	}
}

/* 카테고리 필터 */
.filter-category-wrap {
	.filter-wrap_category {
		margin-bottom:0;
		.filter-tagbox {
			.filter-tit {
				/* max-width:800px; */
				margin-right:150px;
				height:73px;
				line-height:73px;
				letter-spacing:2px;
				> span {
					float:left;
					display:inline-block;
					height:73px;
					line-height:73px;
					&.tit {
						margin-right:10px;
					}
				}
				> ul {
					float:left;
					padding:0;
					line-height: 45px;
					margin-top:14px;
					margin-bottom:14px;
					.tag-item {
						float:left;
						a {
							padding-right:11px;
							span {
								font-family:'salomon';
								font-weight:300;
								letter-spacing:0.3px
							}
						}
					}
				}
				.num {
					display:inline-block;
					position:relative;
					padding-left:16px;
					&:before {
						content:'';
						position:absolute;
						top:36px;
						left:0;
						display:block;
						width:4px;
						height:4px;
						background-color:#434343;
					}
				}
			}
		}
		.select-box {
			&.sort {
				.select-head {
					height:73px;
					line-height:73px;
				}
			}
		}
	}

}

/* 팝업 : sports */
.etc_modal {
	.uk-modal-dialog {
		width:890px;
	}
}

/* 팝업 : 재입고 알림 */
#sms-service-popup {
	.uk-form-row + .uk-form-row {
		margin-top:28px;
	}
	.pop-title {
		font-size:20px;
		color:#39bdbf;
		letter-spacing:-0.4px;
		font-weight:400;
		border-bottom:1px solid #eee;
		padding-bottom:36px;
		margin-bottom:36px;
	}
	.uk-form-label {
		font-size:18px;
		color:#878787;
	}
	.input-textfield {
		input {
			height:48px;
			font-size:14px;
			border:1px solid #cad2d0;
		}
		label {
			top:17px;
			font-size:14px;
			color:#ccc;
			letter-spacing:-0.3px;
		}
		.parsley-errors-list {
			margin-top:8px;
		}
	}
	.input-checkbox {
		i {
			font-size:20px;
			color:#57b7bc;
			padding-right:8px;
		}
		span.label {
			font-size:15px;
			color:#2a2a2a;
			letter-spacing:-0.3px;
		}
		&.checked {
			i {
				&:before {
					content:"\e946";
				}
			}
		}
	}
	#restockAdd {
		height:52px;
		line-height:52px;
		font-size:20px;
		background-color:#999999;
		margin-top:30px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
}
.restock-sms-error-msg,
.restock-option-error-msg,
.restock-agreement-error-msg {
	margin-left:15px;
	font-family:'Noto Sans KR';
    color:#c80c0c;
    font-weight:normal;
	font-size:15px;
	letter-spacing:-0.3px;
}
.accent {
	margin-left:15px;
	font-family:'Noto Sans KR';
    color:#c80c0c !important;
    font-weight:normal !important;
	font-size:15px !important;
	letter-spacing:-0.3px !important;
}

/* 팝업 주문취소 */
.uk-modal {
	&#popup-cancel {
		.uk-modal-dialog {
			.uk-close {margin:-10px -10px 0 0;}
			max-width:800px;
			.tit {max-width:280px;}
			.opt {
				font-family:'Futura BT W01 Medium';
				font-size:14px;
				font-weight:400;
				color:#878787;
			}
			.input-btn-group {
				font-family:'Futura BT W01 Medium';
				font-size:14px;
				font-weight:400;
				color:#878787;
			}
		}
	}
}

/* 메인 페이지 전용 */
/* .content-container {
	.imageList-container {
		.header-title {
			span {letter-spacing:2.7px;}
		}
	}
} */

/* modal popup */
.uk-modal {
	iframe {
		max-width:100%;
	}
	.uk-modal-dialog {
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		padding-top:60px;
		.loading-msg {
			position:absolute;
			display:block;
			top:50%;
			left:0;
			width:100%;
			font-family:'salomon';
			font-size:32px;
			color:#2a2a2a;
			font-weight:300;
			text-align:center;
		}
	}
	.uk-modal-close {
		position: absolute;
    top: 10px;
    left: 0;
    display: block;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,0.9);
    opacity: 1;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
    &:after {
    	color:#57b7bc;
    	margin-top:10px;
    }
	}
  button.uk-modal-close {
  	margin-top:-10px;
  	&:after {
  		margin-top:0;
  	}
  }
}

#sportsPopup {
	.uk-modal-title {
		display:none;
	}
}

/* ONLY 재입고 알림 신청 관련 팝업 전용 */
.uk-modal {
	.uk-modal-dialog {
		padding:80px 40px 40px 40px;
		.pop-cont {
			.sms-complete {
				&.uk-text-center {
					.ico-complete {
						&.salomon-ic-confirm {
							font-size:88px;
						}
					}
					.title {
						margin-top:36px;
						margin-bottom:20px;
						font-size:16px;
						font-weight:500;
						color:#434343;
					}
					p {
						padding-bottom:48px;
						font-size:14px;
						font-weight:500px;
						color:#878787;
					}
				}
			}
			
		}
	}
}

.product-poptype {
	.info-wrap_product {
		width: 100%;
		.style-code-info, .price-wrap, .review-wrap, .mileage-wrap, .option-guide, .quantity, .status-wrap, .guide-wrap, .pickup-wrap, .stock-wrap, .etc-wrap {display: none;}
		.title-wrap {
			.tit {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}


.product-poptype {
	.info-wrap_product {
		.title-wrap, .option-wrap {padding: 0;}
	}
}


/* 일시품절일 경우 제어 */

.sns-wrap{
	&.only-soldout{
		 border-bottom: 1px solid #e3e3e3;
		 padding: 1px 0 20px 0;
		 

		position: relative;
		height: 34px;
		margin-top:10px;
		font-size:30px;
	}
}

.sns-btn{
	&.only-soldout{
	     float: right;
		 margin-top: 4px;
		 /* margin-right: 100px; */
		 /* display: inline-block; */
		 margin-right:0;
		 display:table;
	}
}


.guide-wrap{
	&.only-soldout{
    	margin-top: 0px;
	}
}

.product-soldout{
	&.product-comming{
    	text-align:left;
	}
}

.related{
	&.same{
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		margin: 6px 6px 0 0;
		vertical-align: top;
		border:1px solid #fff;
		&:hover {
			&:after {
				content:'';
				position:absolute;
				top: 0;
				right: -1px;
				bottom: -1px;
				left: 0;
				border:1px solid $primary-color;
			}
			.related-same-border {
				border:0;
			}
		}
		.related-same-border {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			border:1px solid #f7f7f7;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.related-same-underline {
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height: 5px;
			background-color:#57b7bc;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		img {width: 100%;}
	}
}


/* 최근 검색어 */
#latest-keyword {
	padding-bottom:0!important;
	.list {
		position:relative;
		height:auto;
		padding:10px;
		&:after {
			content:'';
			display:block;
			clear:both;
		}
		a {
			display:block;
			padding:0;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.lk-remove {
			position:absolute;
			top:0;
			right:10px;
			width:18px;
			height:100%;
			background:url('/cmsstatic/ic-delete.svg') center center no-repeat;
			background-size: 11px auto;
			text-indent:-9999px;
			overflow:hidden;
			border:0;
			//background-color:#aaa;
		}
	}
}

/* 품절상품 라벨 임시제거 */
.brz-badge-container {
	.brz-badge-soldout {
		display:none;
	}
}

/* S/LAB */
#slab-banner {
	text-align:center;
	background-image:url('https://image.salomon.co.kr/cmsstatic/slab_btn_bg.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	margin-bottom:0;
	.slab-banner-wrapper {
		margin-bottom:0;
		.s-lab-banner-inner {
			display:inline-block;
			margin-bottom:60px;
			a {
				float:left;
				display:inline-block;
				width:50%;
			}
		}
	}
}

/* 상품상세 zoom-btn */
.zoom-btn {
	.product-gallery-slide {
		cursor:pointer;
		> img {
			position:relative;
			/* border:1px solid #000; */
		}
		> .zoom-box {
			position:absolute;
			top:40%;
			left:40%;
			display:none;
			width:150px;
			height:52px;
			line-height:52px;
			vertical-align:middle;
			font-size:18px;
			color:#fff;
			font-weight:500;
			text-align:center;
			background-color:#2d2d2d;
		}
		&:hover {
			.zoom-box {
				display:block;
				&:hover {
					color:#2d2d2d;
					background-color:#fff;
				}
			}
		}
	}
}

.customer-aside {
	.lnb {
	  .twodepth-lnb {
	  	 .list {
	  	 	padding:0;
	  	 	height:48px;
	  	 	line-height:48px;
	  	 	vertical-align:middle;
	  	 	&.active {
	  	 		background-color:#eef4f3;
	  	 	}
	  	 }
	  }
	}
}

/* PDP 하단 추천상품 전용 */
.bx-viewport {
	ul {
		.slide {
			&.product-item {
				div {
					.item-info {
						a {
							.item-title {line-height:20px; height:42px;}
						}
						.item-price {min-height:38px !important;}
					}
				}
			}
		}
	}
}

/* 모바일에서 카드결제 취소시 나오는 경고창 전용 */
.uk-notify {
	position: fixed;
    top:0;
    left:0;
    z-index:1040;
    box-sizing:border-box;
    width:100%;
    height:56px;
	&.uk-notify-top-center {left:0; margin-left:0;}
	.uk-notify-message {
		padding:5px 15px;
		.uk-close {opacity:1;}
	}
}

/* MC모드 나의 상품리뷰 쓰기 */
.account-review-write {
	.review-summary-group {
		li {
			.rating-star-data {
				padding:22px 0 22px 22px;
				min-width:300px;
				margin:0 auto;
			}
			&:last-child {border:0;}
		}
	}
}

/* MC모드 반품신청 레이아웃 */
.type-special {
	.header {
		height:initial !important;
		line-height:initial !important;
		.input-checkbox {
			padding-top:5px !important;
			i {margin-right:0 !important;}
		}
		.order-code {margin-left:30px !important;}
	}
	.order-item-wrap {
		margin:0 !important; width:100% !important;
		.item-info {
			width:initial !important;
			.info-wrap {
				.opt {
					&.uk-display-block {
						display:block!important;
						&:before {margin-left:0 !important;}
					}
				}	
			}
		}
		.item-btn {padding:0 15px !important;}
	}
}

/* [s]오프라인 이벤트 : 리스트 */
.off-event-wrapper {
	max-width:1200px;
	text-align:center;
	margin:0 auto;
	padding:20px;
	#event-status-tab {
		height:48px;
		text-align:center;
		border-bottom:1px solid #deeae8;
		padding:0;
		margin-bottom:32px;
		ul {
			display:inline-block;
			margin-bottom:-38px;
			li {
				float:left;
				height:48px;
				border-bottom:1px solid #deeae8;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				a {
					display:block;
					width:100%;
					height:100%;
					line-height:48px;
					font-size:14px;
					color:#222;
					padding:0 32px;
					z-index:1;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
				}
				&:hover {
					border-bottom:1px solid #57b7bc;
				}
				&.active {
					border-bottom:4px solid #57b7bc;
				}
			}
			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
	}
	.no-article {
		display:none;
		height:200px;
		line-height:200px;
		font-size:16px;
	}
	.off-event-inner {
		display:none;
		width:100%;
		margin:0 auto;
		&:after {
			display:block;
			content:'';
			clear:both;
		}
		li {
			//float:left;
			display:inline-block;
			width:24%;
			max-width:24%;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			padding:16px;
			margin-bottom:50px;
			.title-img {
				position:relative;
				height:261px;
				background-color:#f7f7f7;
				background-size:cover;
				.watermark {
					position: absolute;
			    top: 38%;
			    width: 100%;
			    text-align: center;
			    font-family: 'Futura BT W01 Medium';
			    font-size: 18px;
			    color: #fff;
			    font-weight: 500;
			    line-height: 1.1;
			    .underline {
			    	display: block;
				    margin: 17px auto;
				    width: 40px;
				    height: 3px;
				    background-color: #fff;
			    }
				}
				.blind {
					position: absolute;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(0,0,0,0.5);
				}
			}
			.off-event-title {
				margin: 10px auto 6px;
		    height: 70px;
		    font-size: 25px;
		    font-weight: bold;
		    text-align: center;
		    color: #2d2d2d;
		    line-height: 34px;
		    letter-spacing: .5px;
			}
			.off-event-schedule {
				font-family: 'Noto Sans KR',sans-serif;
		    font-size: 16px;
		    text-align: center;
		    color: #39bdbf;
		    line-height: 24px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
			}
			.view-detail {
				display: block;
		    margin-top: 15px;
		    font-size: 16px;
		    font-weight: 500;
		    text-align: center;
		    color: #1c1c1c;
		    text-decoration: underline;
			}
			.request-button {
				display: block;
		    margin: 20px 0 0;
		    width: 100%;
		    height: 38px;
		    line-height: 38px;
		    vertical-align: middle;
		    font-size: 16px;
		    font-weight: 500;
		    color: #fff;
		    text-align: center;
		    border: 0;
		    background-color: #57b7bc;
		    &[disabled=disabled] {
					color: #bbb;
			    background-color: #ddd;
		    }
			}
			.cancel-button {
				display: block;
		    margin: 20px 0 0;
		    width: 100%;
		    height: 38px;
		    line-height: 38px;
		    vertical-align: middle;
		    font-size: 16px;
		    font-weight: 500;
		    color: #fff;
		    text-align: center;
		    border: 0;
		    background-color: #cc2020;
			}
		}
		&.active {
			display:inline-block;
		}
	}
}
.btn-pagination {
	display:none;
}
/* [e]오프라인 이벤트 : 리스트 */

/* [s]오프라인 이벤트 : 상세 */
.contents.offevent {

	.section-offevent-detail-body {

		.title-area {
			padding:50px 0 0;
			/* [s]인트로 동영상 */
			.event-video-area {
				max-width:1220px;
				margin:32px auto 0 auto;
				h3 {
					font-size:20px;
					color:#7d7d7d;
					margin-bottom:16px;
				}
				.event-video-container {
					position:relative;
					width:75%;
					height:0;
		    	//padding-top:30px;
		    	padding-top:0;
		    	padding-bottom:56.25%;
		    	margin:0 auto -120px;
		    	overflow:hidden;
					.event-video-wrapper {
						.embed-youtube {
							display:block;
							text-align:center;
							.youtube-player {
								display:block;
								width:560px;
								height:315px;
								border:0;
								margin:0;
							}
							iframe, object, embed {
								position:absolute;
								top:0;
								left:0;
								width:100% !important;
								height:75% !important;
							}
						}
					}
				}
			}
			/* [e]인트로 동영상 */
		}

		.completion-area {

		}

		.body-area {
			/* [s]에디터 (이벤트 내용) */
			.body-event-info {
				.info-title {
					h1,h2,h3,h4,h5,h6 {
						font-weight:600;
					}
				}
			}
			/* [e]에디터 (이벤트 내용) */
			.event-end {
				width:100%;
				padding:0;
			}
			/* [s]예약 폼 */
			.form-reservations {
				width:100%;
				margin-bottom:64px;
			}
			/* [e]예약 폼 */
		}

	}

}
/* [e]오프라인 이벤트 : 상세 */

/* 오프라인 이벤트 미디어쿼리 */
@media (min-width:641px) and (max-width:960px) {
	/* 오프라인 이벤트 : 리스트 */
	.off-event-wrapper {
		max-width:900px;
		padding:16px;
		.off-event-inner {
			li {
				//float:left;
				width:49%;
				max-width:49%;
				.off-event-title {
					font-size:22px;
				}
				.off-event-schedule {
					font-size:14px;
				}
			}
		}
	}
	/* [s]오프라인 이벤트 : 상세 */
	.contents.offevent {
		.section-offevent-detail-body {
			.title-area {
				/* [s]인트로 동영상 */
				.event-video-area {
					.event-video-container {
						width:90%;
						margin:0 auto -80px;
					}
				}
			}
		}
	}
}
@media (min-width:320px) and (max-width:640px) {
	/* 오프라인 이벤트 : 리스트 */
	.off-event-wrapper {
		max-width:100%;
		padding:12px;
		.off-event-inner {
			li {
				//float:left;
				width:100%;
				max-width:100%;
				.off-event-title {
					font-size:22px;
				}
				.off-event-schedule {
					font-size:14px;
				}
			}
		}
	}
	/* [s]오프라인 이벤트 : 상세 */
	.contents.offevent {
		.section-offevent-detail-body {
			.title-area {
				/* [s]인트로 동영상 */
				.event-video-area {
					.event-video-container {
						width:90%;
						margin:0 auto -80px;
					}
				}
			}
		}
	}
}
/* MEDIA QUERY */

/* Large screen and bigger */
@media (max-width: $breakpoint-xlarge) {

	/* 우측영역 위시리스트 */
	.group-wish-list {
		.list-type {
			&.uk-grid {
				&.mypage-only {
					.uk-width-large-1-4 {width:50% !important;}
				}
			} 
		} 
	}

	/* 풀영역 위시리스트 */
	.customer-wish {
		.list-type {
			&.uk-grid {
				&.mypage-only {
					.uk-width-large-1-4 {width:33.3% !important;}
				}
			} 
		} 
	}

	.filter-category-wrap {
		.filter-wrap_category {
			.filter-tagbox {
				.filter-tit {
					/* max-width:700px; */
				}
			}
		}
	}

}

/* 임시 : 리뷰 작성 요청 레이어 팝업 제거 */
.review-main-msg {
	display:none !important;
	opacity:0 !important;
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

	/* 로그인 및 회원가입 MC 상단 여백 조정 */
	.login-wrap {margin-top:126px;}

	/* 메인 콘텐츠 영역 상단 여백 보정 */
	.content-area > .pt_main {
		margin-top:56px;
	}

	/* 풀영역 위시리스트 */
	.customer-wish {
		.list-type {
			&.uk-grid {
				&.mypage-only {
					.uk-width-large-1-4 {width:33.3% !important;}
				}
			} 
		} 
	}

	/* 상세페이지 > 상품리뷰 */
	.detail-review-wrapper {
		padding:70px 40px 0;
		.n-review-read {
			.read-list {
				.review-img-info {
					.append-img {
						display:block;
						max-width:100%;
						max-height:none;
						a {
							display:block;
							img {
								width:100%;
								height:auto;
							}
						}
					}
				}
			}
		}
	}

	/* PDP 헤더 메뉴만 적용 스타일 */
	.header-menu_mobile {
		a {
			&.pdp-only {
				display:block !important;
				padding-top:16px !important;
				padding-left:15px !important;
				font-size:24px !important;
				color:#57b7bc !important;
				.salomon-ic-menu {
					&:before {
						content:"\e927" !important;
					}
				}
			}
		}
	}

	/* zoom-box */
	.zoom-box {display:none !important;}

	.filter-category-wrap {
		.filter-wrap_category {
			.filter-tagbox {
				.filter-tit {
					/* max-width:550px; */
				}
			}
		}
	}

	/* 장바구니 할인쿠폰 적용멘트 */
	.promo-detail {padding-left:75px !important; margin-top:10px !important;}
}

/* Only bxslider controls */
@media (max-width: $bxslider-mobile) {
	.category-slider {
		.bxslider-controls {
			.btn-prev, .btn-next {
				display:none;
			}
		}
	}

	/* HEADER > 검색영역 (위치 이동 필요) */
	.header_layout_1 {
		.header-lnb {
			.header-menu_onedepth {
				a {
					color:#dfeae8;
				}
			}
		}
	}

}

/* Tablet */
@media (max-width: $breakpoint-medium) {

	.wrapper {
		.contents-title {
			background-color:transparent;
		}
	}

	/* content wrapper */
	.pt_category .contents.filter-category-wrap {
		padding:0;
	}
	.contents {
		padding:0 16px;
	}
	.contents.related-items {
		border-top:0;
	}

	/* 상품상세 > 탭메뉴 / 콘텐츠 */
	.product-detail_view {
	
		/* 탭메뉴 */
		.detail-tab-wrapper {
			height:0;
			overflow:hidden;
		}
	
		/* 탭콘텐츠 */
		#detail-container {
			padding-top:20px;
			> ul {
				list-style:none;
				> li {
					display:block;
					float:none;
					width:100%;
					padding:16px 0;
					overflow:hidden;
					border-bottom:1px solid #eee;
					&:after {
						content:'';
						display:block;
						clear:both;
					}
					h2 {
						position:relative;
						height:64px;
						line-height:64px;
						font-size:20px;
						font-weight:600;
						margin-bottom:0;
						&:after {
							position:absolute;
							top:0;
							right:0;
							font-family:'icomoon' !important;
							color:#aaa;
							content:$icon-arrow_bottom;
						}
					}
					h3 {
						font-size:20px;
						font-weight:600;

					}
					.detail-acordion-wrapper {
						height:0;
						overflow:hidden;
						-webkit-transition:height .5s cubic-bezier(0.77, 0.02, 0.23, 0.77);
						-moz-transition:height .5s cubic-bezier(0.77, 0.02, 0.23, 0.77);
						transition:height .5s cubic-bezier(0.77, 0.02, 0.23, 0.77);
						.detail-content-wrapper {
							> li {
								float:none;
								width:100%;
								padding:0;
								.ex-description-wrapper {
									margin-top:30px;
								}
							}
						}
					}
					&.active {
						h2 {
							margin-bottom:24px;
							&:after {
								content:$icon-arrow_top;
							}
						}
						.detail-acordion-wrapper {
							height:auto;
						}
					}
				}
			}
			.detail-feature-wrapper, .detail-function-wrapper {
				padding: 72px 0 0;
				.description {
					> div, > p, > img {
						float:none;
						width:100%;
						&:nth-child(even) {
							margin-left:0;
						}
					}
					&:after {
						content:'';
						display:block;
						clear:both;
					}
				}
			}
		}
	
	}

	/* 상품 썸네일 영역 */
	.product-thumb-wrap {display:none}

	/* 모바일 마이페이지 로그아웃 */
	.button {
		&.large {
			&.width-max {
				&.logout {padding:0 !important; height:60px; line-height:60px; vertical-align:middle; font-size:18px; font-weight:500;}
			}
		}	
	}

	/* 카테고리 필터 */
	.filter-category-wrap {
		.filter-wrap_category {
			.select-box {
				&.sort {
					.select-head {
						height:48px;
						line-height:1;
					}
				}
			}
		}
	}

	/* 풀영역 위시리스트 */
	.customer-wish {
		.list-type {
			&.uk-grid {
				&.mypage-only {
					.uk-width-large-1-4 {padding:20px; width:50% !important;}
				}
			} 
		} 
	}

	/* 상품 옵션 */
	.info-wrap_product  {
		/*상품명*/
		.title-wrap {
			margin-bottom:12px;
			.tit {
				font-size:32px;
			}
		}
	}

	/* S/LAB */
	#slab-banner {
		.slab-banner-wrapper {
			margin-bottom:0;
			.s-lab-banner-inner {
				margin-bottom:0;
				a {
					float:none;
					display:block;
					width:100%;
				}
			}
		}
	}

	/* 상세페이지 > 상품리뷰 */
	.detail-review-wrapper {padding:70px 15px 0;}

	/* 장바구니 할인쿠폰 적용멘트 */
	.promo-detail {padding-left:75px !important; margin-top:10px !important;}

}

/* Mobile */
@media (max-width: $breakpoint-small) {
	
	/* content wrapper */
	.contents {
		padding:0 10px;
	}

	/* 상품상세 */
	.product-detail_view {
		#detail-container {
			> ul {
				> li {
					h2 {
						font-size:20px;
					}
					h3 {
						font-size:18px;
					}
				}
			}
		}
	}

	/* 세일 헤더 */
	.sale-category-banner {
		h3 {
			font-size:64px;
		}
		p {
			font-size:32px;
		}
		ul.sale-cat-main {
			li {
				a {
					font-size:22px;
					letter-spacing:1px;
				}
			}
		}
		.sale-category-nav-inner {
			ul.sale-cat-sub {
				li {
					a {
						font-size:14px;
						letter-spacing:-1px;
					}
				}
			}
		}
	}

	/* 풀영역 위시리스트 */
	.customer-wish {
		.list-type {
			&.uk-grid {
				&.mypage-only {
					.uk-width-large-1-4 {width:100% !important;}
				}
			} 
		} 
	}

	/* product review list */
	/* 모바일 상품상세에서 상품리뷰 버튼그룹 정렬 */
	/* .n-review-read {
		.read-list {
			.user-info {
				.btn-area {
					display:block;
					padding:10px 0;
					a {padding:0 0 0 16px;}
				}
			}
		}
	} */

	/* 모바일 상품상세에서 상품리뷰 버튼그룹 정렬 */
	.n-review-read {
		ul {
			li {
				border-bottom:1px solid #deeae8;
				padding-bottom:0;
				.read-list {
					.user-info {
						.btn-area {
							display:block;
							padding:10px 0;
							.review-modify, .review-remove {padding:0 16px 0 0;}
						}
					}
				}
			}
		}
	}

	/* 모바일 마이페이지 상품리뷰 버튼그룹 정렬 */
	.review-read {
		&.my-comment-read {
			ul {
				li {
					border-bottom:1px solid #deeae8;
					padding-bottom:0;
					.uk-grid {
						.read-list {
							.user-info {
								.btn-area {
									display:block;
									padding:10px 0;
									.review-modify, .review-remove {padding:0 16px 0 0;}
								}
							}
						}
					}
				}
			}
		}
	}

	/* 장바구니 할인쿠폰 적용멘트 */
	.promo-detail {padding-left:75px !important; margin-top:0 !important;}

	/* MC 상품평 수정(쓰기) */
	.review-write {padding: 20px 5px 30px;}
}

/* 2018.03.29 불필요한 미사용 리뷰영역 높이값 0px 처리 */
.main-review-popup {
	.review-read {
		&.my-comment-read {min-height:0px;}
	}
}
/* 2018.06.04 반품신청 css 추가*/
#popup-return .uk-modal-dialog {
	padding: 0;
	font-weight:500;
}
/* 2018.06.04 반품신청 css 추가*/
#popup-return .uk-modal-dialog .uk-modal-close{
    margin:-10px -10px 0 0
}
/* 2018.06.04 반품신청 css 추가*/
#popup-return .uk-modal-header{
    padding-bottom: 15px !important;
}