/*
	uikit 확장 클래스
*/

/* uk-grid */

/*
 * mini gutter
 */
/* Horizontal */

$grid-gutter-mini-horizontal:                   5px !default;
$grid-gutter-mini-vertical:                     5px !default;

/* Horizontal */
.uk-grid-mini { margin-left: -$grid-gutter-mini-horizontal; }
.uk-grid-mini > * { padding-left: $grid-gutter-mini-horizontal; }

/* Vertical co.uk-grid-mini + .uk-grid-mini,
.uk-grid-mini > .uk-grid-margin,
.uk-grid-mini > * > .uk-panel + .uk-panel { margin-top: $grid-gutter-mini-vertical; }


.uk-modal-page {
	body {height:auto;}
}

/* Margin
 ========================================================================== */

$utility-margin-mini:                            5px !default;
$utility-margin-xlarge:                          70px !default;

/*
 * Mini margins
 */
.uk-margin-mini { margin-bottom: $utility-margin-mini; }
* + .uk-margin-mini { margin-top: $utility-margin-mini; }

.uk-margin-mini-top { margin-top: $utility-margin-mini !important; }
.uk-margin-mini-bottom { margin-bottom: $utility-margin-mini !important; }
.uk-margin-mini-left { margin-left: $utility-margin-mini !important; }
.uk-margin-mini-right { margin-right: $utility-margin-mini !important; }


/*
 *  xlarge margins
 */
.uk-margin-xlarge { margin-bottom: $utility-margin-xlarge; }
* + .uk-margin-xlarge { margin-top: $utility-margin-xlarge; }

.uk-margin-xlarge-top { margin-top: $utility-margin-xlarge !important; }
.uk-margin-xlarge-bottom { margin-bottom: $utility-margin-xlarge !important; }
.uk-margin-xlarge-left { margin-left: $utility-margin-xlarge !important; }
.uk-margin-xlarge-right { margin-right: $utility-margin-xlarge !important; }



/* uk-accordion */
.uk-accordion{
	/* 여백 없는 타입 */
	&.uk-accordion-collapse{
		border: 1px solid $border-2;
		font-size: 12px;

		.uk-accordion-title{
			margin-bottom: 0px;
			padding: 10px 15px;
			border-top:1px solid $border-2;
			background-color: $bg-1;
			&:first-child {border-top:none;}
			&.uk-active{
				background-color: $primary-color;
				> * { font-weight: bold; color: $font-6; }
			}
		}
		.uk-accordion-content{
			background-color: $bg-2;
			padding:15px;
		}
	}
}

/* 처음에 content가 노출되었다가 없어지는 상황때문에 처리 */
.uk-accordion-content{
	opacity:0; filter:alpha(opacity=0);
	&.uk-active{
		opacity:1; filter:alpha(opacity=1); 
	}
}

.uk-dropdown{
	&.uk-datepicker{
		background-color: $bg-1;
		color: $font-2;

		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;

		border: 1px solid $border-2;
		moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 0px 5px rgba(0,0,0,.1);
		box-shadow: 0 2px 5px rgba(0,0,0,.1);

		.uk-form-select {
		    display: inline-block;
		    vertical-align: middle;
		    position: relative;
		    overflow: hidden;
		}
		
		.uk-datepicker-heading{
			.uk-form-select{
				>select{
					position: absolute;
					top: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
					left: 0;
					-webkit-appearance: none;
				}
			}
		}
	}	
}

.uk-modal-dialog-large {width:960px;}
.uk-modal-dialog-small {max-width:500px;}
.uk-modal-dialog{
	transition: opacity .3s linear,transform .3s ease-out;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	
	// modal.alert으로 띄운 팝업
	.uk-modal-content{
		line-height: 1.6;	
	}
	//전체 여백 없는 타입 
	&.none-padding{
		padding:0px;
		> .uk-close:first-child{
			margin:10px 10px 0 0;
		}
		.uk-modal-header{
			padding-top:15px;
			text-align: center;
		}

	}
	.panel-box{
		border:1px solid $border-1;
		font-size: $font-size-s;
		background-color: $bg-2;
		padding:12px 20px;
	}
	.container{
		padding:12px 20px;
	}

	.option-wrap{
		dl{
			dt{
				color: $font-3;
				font-size: $font-size-s;
			}
			dd{
				color: $font-1;
				font-size: $font-size-s;
			}
		}
		&.horizontal{
			dl{
				clear:both;
				dt{
					float:left;
					line-height: 20px;
					min-width: 70px;
					margin-bottom: 5px;
				}
				dd{
					line-height: 20px;
					margin-left:70px;
				}				
			}
		}
	}
}

/*
	공통 class
*/
.scroll-box {overflow-y:scroll; height:110px; padding:15px 8px; border:1px solid $border-3; }

/*
	notify
*/

.uk-notify {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1040;
	box-sizing: border-box;
	width: 700px;	
}

.uk-notify-bottom-center, .uk-notify-top-center {
	left: 50%;
	margin-left: -350px;
}

.uk-notify-message {
	position: relative;
	margin-bottom: 10px;
	padding: 15px;
	background: $bg-2;
	color: $font-2;
	font-size: 14px;
	line-height: 22px;
	cursor: pointer;
	border: 0;
	border-radius: 0;
	text-align:center;

	> .uk-close {
		//visibility:hidden;
		float:right;
	}
}

.uk-notify-message-success {
	background: $message_success-bg;
	color: $message_success-color;
	// border-color:rgba(101,159,19,.3);
}

.uk-notify-message-warning {
	background: $message_warning-bg;
	color: $message_warning-color;
	// border-color:rgba(226,131,39,.3);
}

.uk-notify-message-danger{
	background: $message_danger-bg;
	color: $message_danger-color;
	// border-color:rgba(216,80,48,.3);
}


.uk-panel{
	&.uk-panel-box{
		border:1px solid $border-1;
	}
}


/*

	progress

*/

.uk-progress {
	display:none;
	box-sizing: border-box;
	height: 20px;
	margin-top:5px;
	margin-bottom: 15px;
	background: $bg-2;
	overflow: hidden;
	line-height: 20px;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.07), inset 0 2px 2px rgba(0,0,0,.07);
	border-radius: 4px;
}


.uk-progress-bar {
	width: 0;
	height: 100%;
	background: #009dd8;
	float: left;
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
	font-size: 12px;
	color: $font-6;
	text-align: center;
	background-image: -webkit-linear-gradient(top,#00b4f5,#008dc5);
	background-image: linear-gradient(to bottom,#00b4f5,#008dc5);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.2), inset 0 0 0 1px rgba(0,0,0,.1);
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}


/* lightbox arrow btn */
.uk-slidenav {
	/* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height:1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* font-size */
    &.xsmall {font-size:12px;}
    &.small {font-size:14px;}
    &.medium {font-size:20px;}
    &.large {font-size:28px;}
    &.xlarge {font-size:40px;}
    &.x2large {font-size:86px;}

    /* size */
    &.color-less {color: $font-5;}

	position:absolute;
	top:50%;
	font-size:30px;
}
.uk-slidenav-previous {
	left:10px;
	&:before {
		display: block;
		content: "\e902";
	}
}
.uk-slidenav-next {
	right:10px;
	&:before {
		display: block;
		content: "\e903";
	}
}
