/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html {
	overflow-y:scroll;
	width:100%;
	height:100%;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
}

h1 {font-size:24px;}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
hr {border-top:1px solid $border-2; margin:80px 0;}
dt {font-weight:normal;}
i, cite, em, var, address, dfn {
	font-style:normal;
}

a {
	&, &:hover, &:focus, &:active {
		cursor:pointer;
		text-decoration:none;
	}
}

// jquery에 toggle이나 show hide 사용시 uk-hidden으로 사용하면 처리가 안돼서 추가
.hide{
	display: none;
}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	hr {
		margin:0;
		border:0;
	}
	h1 {font-size:18px;}

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
