.location-title {
	height: 110px;
	font-size: 42px;
	color: $default-color;
	text-align: center;
	margin-bottom: 30px;
	padding-top: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid $border-3;
}
.location-map{
	overflow:hidden;
	height:100%;
	min-height:650px;
	margin-left:465px;
	box-sizing:border-box;
}

.location-search {
	position:absolute;
	width:370px;
	top: 140px;
	font-size:12px;
	background-color:$bg-1;
	overflow:hidden;
	.location-title {
		height: 50px;
		font-size: 18px;
		color: #2a2a2a;
		padding: 17px 15px 0;
		box-sizing: border-box;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 0;
		text-align: left;
	  }
	  .location-search-pack {
		position: relative;
		height: auto;
		padding: 15px;
		border-bottom: 1px solid #e8e8e8;
		box-sizing: border-box;
		.location-filter-wrap {
			float: left;
			width: 80px;
		}
		.filter-list {
			padding-top: 10px;
			clear: both;
			overflow: hidden;
			.input-checkbox {
				float: left;
				vertical-align: top;
				margin-right: 15px;
				span {
					display: flex;
					padding-right: 7px;
				}
			}
		  }
	  }
	.search-field {
		float: left;
		margin-left: 5px;
		width: 200px;
		z-index: inherit;
		.input-textfield {
			position: relative;
			& > label {
				font-size: 12px;
				color: #666;
				top: 12px;
			}
			& > input {
			 	border:0;
			 	border: 1px solid #d1d1d1;
				 font-size: 14px;
				 padding: 7px 45px 7px 12px;
			}
			& > .btn-wrap {display:none;}
		}
		.btn_search {
			position: absolute;
			top:0;
			right:0;
			width: 50px;
			height: auto;
			padding: 8px 0;
			color: $default-color;
			background: transparent;
			.txt {display: none;}
			i {
				display: block;
				font-size: 20px;
			}
		}
	}

	.filter-btn {
		position: absolute;
		width: 50px;
		color: #fff;
		background: #000;
		margin-left: 5px;
		height: 36px;
		padding: 6px 0 8px;
		.txt {
			font-size: 12px;
		}
	}
	.search-result {
		overflow:auto;
		height:608px;
		list-style:none;
		border:0;
		padding:0;
		margin:0;
		text-align:left;
		line-height:1;
		font-size:13px;
		min-height:0;
		max-height: 503px;
	}

	.search-list {
		position:relative;
		border-top:1px solid $border-2;
		&:first-child {border-top:0}

		// a tag hover&active mixin;
		@mixin active {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			border-left:4px solid $primary-color;
		}

		> a {
			display:block;
			padding:20px 24px;
			color:$font-3;

			&:hover {
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}

			&.active{
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}
		}
		.brandstore {
			display: inline-block;
			height: 20px;
			padding: 0 8px;
			border: 1px solid #000;
			line-height: 20px;
			font-size: 11px;
			letter-spacing: -0.2px;
			color: #000;
			text-align: center;
			vertical-align: middle;
			margin-top: 10px;
		}
	}

	.tit {
		margin:0 0 5px 0;
		// font-weight:bold;
		color: $default-color;
		font-size:12px;
	}

	.address {
		display:inline-block;
		width:100%;
		margin-top: 5px;
		font-size: 11px;
	}

	.phonenum {
		display:inline-block;
		width:100%;
		margin-top: px;
		font-size: 11px;
	}

	.icon-wrap {
		position:absolute;
		top:50%;
		right:30px;
		margin-top:-14px;
		font-size:25px;
		color: $primary-color;
	}

	.close-btn {
		padding:30px;
		background: transparent;
	}
}


.store-info-view {
	overflow-y:auto;
	position:absolute;
	top:40px;
	left:370px;
	bottom:0;
	width:100%;
	padding:30px;
	box-sizing:border-box;
	background-color: $bg-1;

	> .info {
		margin-top:40px;
		padding-top:40px;
		border-top:1px solid $border-2;
		.key {float:left; width:80px; padding-top:12px; line-height:18px;}
		.value {overflow:hidden; padding-top:12px; line-height:18px;}
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-large) {
	.location-title {
		height: 55px;
		padding-top: 17px;
		font-size: 21px;
		border-bottom: 0
	}
	.location-search {
		width: 100%;
		position: inherit;
		.location-search-pack {
			display: block;
			width: 100%;
			.location-filter-wrap {
				display: table-cell;
			}
			.search-field  {
				display: table-cell;
				width: auto;
				right: 70px;
				position: absolute;
				left: 100px;
				margin-left: 0;
				.input-textfield {
					display: block;
					&.large {
						label {left: 10px;}
					}
				}
			}
			.filter-btn {
				display: table-cell;
				right: 15px;
			}
		}
		.search-result {
			height: auto;
		}
	}
	.location-map {
		margin-top: 55px;
		margin-left:0;
		min-height: 235px;
	}
	.store-info-view {
		position:relative;
		top: 0;
		& > .info {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
}