/* vans header */
.wrapper {padding-top:111px;}
.mobile-br {display: none;}
.header_layout_1 {
	position:fixed;
	width:100%;

	.header-item{
		img{
			margin-top:-20px;
		}
	}
	.header-line {
		background: $lnb-bg-color-type1;
		border-bottom:0px solid #000;
	}
	.header-gnb {
		font-size: 13px;

	}
	.header-lnb{
		position: static;
		//position: relative;
		.header-logo {
			min-height: auto;
			padding:0 0 15px 0;
			// display: table-cell;
			// width: 300px;
		}
		.header-menu_onedepth {
			> .onedepth-list {
				position: static;
				padding: 0 15px;
				font-size: 21px;

				> a {
					position: relative;
					display: inline-block;
					padding: 11px 0;
					&.active {color: $lnb_color-type1-over;}
					&:before {
					    content: '/';
					    color: #bbb;
					    padding-right: 25px;
					    font-size: 16px;
					    vertical-align: 2px;
					}
				}
				&:first-child{
					& a:before {content:'';}
				}
			}
			.header-menu_twodepth {
				margin: 0 auto 0;
				border: 0;
				padding: 0;
				width: 100%;
				text-align: left;
				line-height: 1.6em;

				> ul {
					max-width: $max-width;
					margin:0 auto;
					padding: 30px 0px 20px 0px;
					box-sizing: border-box;
					text-align:center;
				}
				.twodepth-list {
					width: 150px;
					margin-right: 30px;
					display: inline-block;
					vertical-align: top;
					text-align: left;
					font-size:15.5px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
			.header-menu_threedepth {
				padding-left:0;
				margin-top: 10px;
				font-size: 13.5px;
				line-height: 1.8em;
			}
		}
	}
	.gnb-search {
		// margin:24px 0 0 0;
	}

	/* style icon menu */
	.style-menu {
		width: 1170px;
		margin: 40px auto 0;
		.style-title {
		    position: relative;
		    width: 100%;
		    font-size: 18px;
		    color: #fff;
		    text-align: center;
		    overflow: hidden;
		    &:before {
		    	content: '';
			    display: block;
			    position: absolute;
			    top: 10px;
			    left: 0;
			    width: 50%;
			    margin-left: -100px;
			    border-top: 1px solid #3e3e3e
		    }
		    &:after {
		    	content: '';
			    display: block;
			    position: absolute;
			    top: 10px;
			    right: 0;
			    width: 50%;
			    margin-right: -100px;
			    border-top: 1px solid #3e3e3e
		    }
		}
		ul {
			width: 1100px;
			margin: 0 auto;
			overflow: hidden;
		}
		li {
			float: left;
			display: inline-block;
		    width: 153px;
		    height: 160px;
		    margin: 0 40px;
		    background-repeat: no-repeat;
		    &:first-child {
		    	background-image: url(https://image.vans.co.kr/assets/images/sprites_icon_menu.png);
			    background-position: 0 0;
			    margin-left: 0
		    }
		    + li {
			    background-image: url(https://image.vans.co.kr/assets/images/sprites_icon_menu.png);
			    background-position: -153px 0
			}
			+ li + li {
			    background-image: url(https://image.vans.co.kr/assets/images/sprites_icon_menu.png);
   				background-position: -306px 0
			}
			+ li  + li  + li {
			     background-image: url(https://image.vans.co.kr/assets/images/sprites_icon_menu.png);
   				 background-position: -459px 0
			}
			&:last-child {
			    background-image: url(https://image.vans.co.kr/assets/images/sprites_icon_menu.png);
			    background-position: -612px 0;
			    margin-right: 0
			}
		}
		a {
			// display: inline-block;
		}
	}
}

/* vans footer */
.footer-nav {
	.company {
		position: relative;
		padding-left: 160px;
		&:before {margin-top: 0;}
		.company-logo {
			@extend .icon-background;
			position: absolute;
			top: 5px;
			left: 20px;
			display: inline-block;
			width: 111px;
			height: 91px;
			background-position: -20px -561px;
		}
		.supply {color: $primary-sub-color;}
	}
	.footer-sns {
		a {
			margin-left: 3px;
			width: 36px;
			height: 36px;
			background-color: #333;
			&:first-child {margin-left:0;}
			&:hover {background-color: #000;}
			&.brz-icon-facebook {
				background-position: -132px -11px;
			}
			&.brz-icon-instagram {
				background-position: -101px -11px;
			}
			&.brz-icon-kakaoplus {
				background-position: -163px -11px;
			}
		}
	}
	.insurance {
		.tit {color: $font-6;}
		a {color: $footer_text-color; text-decoration: underline;}
	}
	.newsletter-conts {
		.newsletter-field {
			margin-bottom: 10px;
			&:after {content:''; display:block; clear:both;}
		}
		.input-textfield {
			float: left;
			width: calc(100% - 36px);
			vertical-align: top;

			> label {
				top: 9px;
			}
			> input {
				width: 100%;
				height: 36px;
				padding: 9px 12px;
				border: 0;
				border-radius: 0;
			}
		}
		.btn_join {
			width: 36px;
			height: 36px;
			padding: 0;
			background: #fff;
			color: #2b2b2b;
			font-size: 18px;
		}
		.input-form-group {
			.input-checkbox {
				& > label {
					display: inline;
					& > .label {
						display: inline;
						font-size: 11px;
					}
					&:after {display:inline;}
				}
			}
			a {
				display: inline-block;
				font-size: 11px;
			}
		}
	}
}
/* vans font icon */

/* vans title */
.pt_main h1 {
	font-size: 36px;
	letter-spacing:0.2em;
	text-transform: uppercase;
	padding-bottom: 35px;
}
.category-title {
	&.gray {
		border-bottom: 1px solid $border-2;
	}
}
.f-title-box {font-size: 18px;}
.f-subtitle-box {font-size: 16px;}
.filter-tagbox .filter-tit {font-size: 18px;}
.footer-contents .footer-nav dt {font-size: 20px;}

/* 카테고리 상품네임 */
.product-item {
	.item-info {
		.item-title{
			font-size: 13px;
		}
		.item-price  {font-size: 13px;}
	}
}
/* 상세페이지 */
.info-wrap_product .title-wrap .tit {
	font-size: 34px;
	line-height: 44px;
	font-weight: bold;
	color: $prd_text-color;
}
.info-wrap_product .price-wrap > .price-sale {
	font-size: 20px;
	line-height: 38px;
	font-weight: bold;
}
.info-wrap_product .price-wrap > .price,
.info-wrap_product .price-wrap > .price > strong {
	font-size: 30px;
	line-height: 38px;
	font-weight: bold;
}
.info-wrap_product .option-wrap .tit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}
.info-wrap_product .price-wrap .sale-per {font-size: 16px;}
.info-wrap_product .guide-wrap .shipping-text {font-size: 14px;}
.info-wrap_product .review-wrap .review-num {font-size: 12px; color: $primary-sub-color;}
.info-wrap_product .option-wrap .option-guide {font-size: 13px;}
.product-thumb.bottom .thumb-list {height: 80px;}
.info-wrap_product .option-wrap .product-option_radio .input-radio .label.img-type {height: 60px;}

/* 상세페이지 thumbnail */
.product-gallery-wrap {
	&.bottom {
		.product-thumb {
			.thumb-list {
				height: 80px;
			}
		}
	}
}

/* header mini cart */
.mini-cart-cnt {
	top: 8px;
	right: -6px;
}

/* 개인정보 취급방침 팝업 */
.privacy-popup {
	position: relative;
	padding: 10px 10px 10px 80px;
	font-size: 14px;
	line-height: 24px;
	.icon-lock {
		position: absolute;
		top: 10px;
		left: 20px;
		font-size: 48px;
	}
	.txt {
		padding: 5px 0;
	}
}

/* 고객센터 우측 고객문의 vans */
.sidebar-customer-inquiry {
	padding: 30px 10px;
	border: 1px solid $border-2;
	border-top: 0;
	text-align: center;
	line-height: 1.6;
	.icon-call {
		font-size: 48px;
		color: $font-0;
	}
	.inquiry-title {
		font-size: 14px;
		padding: 20px 0 5px;
		color: $font-1;
		font-weight: bold;
	}
	.inquiry-txt {
		color: $font-2;
	}
	.phone-number {
		a {
			font-size: 28px;
			color: $font-1;
		}
	}
}


/* 배경색 지정 */
body,
.section-filter,
.category-title.gray,
.customer-title.gray,
.f-refine-sect .more-btn {background-color: #f1f2ed;}

/* 폰트 타입 지정 */
.header-lnb,
.pt_main h1,
.header_layout_1 .style-menu .style-title,
.f-title-box,
.f-subtitle-box,
.filter-tagbox .filter-tit,
.category-title .tit,
.footer-contents .footer-nav dt,
.mobile-menu_wrap .mobile-onedepth_list > a,
.mobile-menu_wrap .mobile-twodepth_list > a,
.mobile-menu_wrap .mobile-threedepth_list > a,
.mobile-menu_wrap .store_btn,
.mobile-menu_wrap .logout_btn,
.mobile-menu_wrap .custom-center_btn ,
.content-container .header-title,
.sidebar-customer-inquiry .phone-number a {font-family: $typo-en }

/* vans mobile menu */
.mobile-menu_wrap {
	.user-state {
		.icon-myinfo {
			font-size: 26px;
			vertical-align: middle;
			color: $mc-lnb_state-font-color;
		}
		.icon-home {
			position: absolute;
			top: 18px;
			right: 18px;
			font-size: 26px;
		}
	}
	ul {
		margin-bottom: 0;
		background-color: $mc-lnb_state-bg-color;
	}
	.mobile-menu-search {
		& > a {
			display: block;
			padding: 18px 25px;
			background-color: $mc-lnb_state-bg-color;
			color: $mc-lnb_state-font-color;
		}
		.icon-m-search {
			float: right;
			font-size: 20px;
			margin-top: -4px;
			&:before {
				color: $mc-lnb_state-font-color;
			}
		}
	}
	.mobile-threedepth_list {
		padding-left: 10px;
		background-color: #1b1b1b;
		> a {
			color: $primary-sub-color;
		}
	}
	.store_btn,
	.logout_btn,
	.custom-center_btn {
		height: 50px;
		padding: 18px 25px;
		border-bottom: 1px solid #d8d9d5;
	}
}

/* vans icon */
.icon-background {

}

[class^="vans_"], [class*=" vans_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vans' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vans_ic-phonetest:before {
  content: "\e90f";
}
.vans_ic_locktest:before {
  content: "\e90c";
}
.vans_ic-noticetest:before {
  content: "\e90d";
}
.vans_ic_check_ontest:before {
  content: "\e909";
}
.vans_ic_radio_ontest:before {
  content: "\e90b";
}
.vans_ic_infotest:before {
  content: "\e90e";
  color: #000;
}
.vans_ic-personal-infotest:before {
  content: "\e904";
}
.vans_ic-myinfotest:before {
  content: "\e905";
}
.vans_ic-done-roundtest:before {
  content: "\e906";
}
.vans_ic-carttest:before {
  content: "\e907";
}
.vans_ic-myinfo-roundtest:before {
  content: "\e908";
}
.vans_ic-expand-moretest:before {
  content: "\e971";
}
.vans_ic-expand-uptest:before {
  content: "\e972";
}
.vans_ic-more-verttest:before {
  content: "\e973";
}
.vans_ic-reviewtest:before {
  content: "\e974";
}
.vans_ic-trash-fulltest:before {
  content: "\e975";
}
.vans_ic-trash-thintest:before {
  content: "\e976";
}
.vans_ic-arrow-downtest:before {
  content: "\e96c";
}
.vans_ic-arrow-uptest:before {
  content: "\e96d";
}
.vans_ic-hometest:before {
  content: "\e96e";
}
.vans_ic-offtest:before {
  content: "\e970";
}
.vans_ic-prev-smalltest:before {
  content: "\e96b";
}
.vans_ic-cardtest:before {
  content: "\e900";
}
.vans_ic-banktest:before {
  content: "\e901";
}
.vans_ic-disliketest:before {
  content: "\e956";
}
.vans_ic-done-fulltest:before {
  content: "\e957";
}
.vans_ic-kakaostorytest:before {
  content: "\e958";
}
.vans_ic-liketest:before {
  content: "\e959";
}
.vans_ic-linetest:before {
  content: "\e95a";
}
.vans_ic-minustest:before {
  content: "\e95b";
}
.vans_ic-nexttest:before {
  content: "\e95c";
}
.vans_ic-next-smalltest:before {
  content: "\e95d";
}
.vans_ic-picturetest:before {
  content: "\e95e";
}
.vans_ic-plustest:before {
  content: "\e95f";
}
.vans_ic-prevtest:before {
  content: "\e960";
}
.vans_ic-search-resulttest:before {
  content: "\e961";
  color: #050505;
}
.vans_ic-squeezetest:before {
  content: "\e962";
  color: #020202;
}
.vans_ic-wishtest:before {
  content: "\e965";
}
.vans_ic-wish-filltest:before {
  content: "\e966";
}
.vans_ic-zoomtest:before {
  content: "\e967";
  color: #020202;
}
.vans_ic-calltest:before {
  content: "\e902";
}
.vans_ic-cancel-completetest:before {
  content: "\e903";
  color: #020202;
}
.vans_ic-cancel-processtest:before {
  content: "\e90a";
  color: #020202;
}
.vans_ic-cancel-receipttest:before {
  content: "\e910";
}
.vans_ic-cstest:before {
  content: "\e914";
}
.vans_ic-delivery-donetest:before {
  content: "\e915";
  color: #010101;
}
.vans_ic-deposittest:before {
  content: "\e919";
  color: #010101;
}
.vans_ic-donetest:before {
  content: "\e91e";
}
.vans_ic-drawertest:before {
  content: "\e921";
}
.vans_ic-errortest:before {
  content: "\e922";
}
.vans_ic-facebooktest:before {
  content: "\e923";
}
.vans_ic-find-idtest:before {
  content: "\e924";
}
.vans_ic-instagramtest:before {
  content: "\e925";
}
.vans_ic-kakaotalktest:before {
  content: "\e926";
}
.vans_ic-one-questiontest:before {
  content: "\e92b";
  color: #050505;
}
.vans_ic-ordertest:before {
  content: "\e930";
  color: #020202;
}
.vans_ic-order-canceltest:before {
  content: "\e934";
  color: #020202;
}
.vans_ic-order-delivertest:before {
  content: "\e93e";
  color: #010101;
}
.vans_ic-order-donetest:before {
  content: "\e946";
}
.vans_ic-order-returntest:before {
  content: "\e947";
}
.vans_ic-order-searchtest:before {
  content: "\e948";
}
.vans_ic-pay-donetest:before {
  content: "\e949";
  color: #060404;
}
.vans_ic-returntest:before {
  content: "\e950";
}
.vans_ic-searchtest:before {
  content: "\e951";
  color: #020202;
}
.vans_ic-shoppingtest:before {
  content: "\e94a";
}
.vans_ic-startest:before {
  content: "\e954";
}
.vans_ic-trashtest:before {
  content: "\e955";
}

/* option radio box */
.product-option_radio .input-radio {background-color:#fff;}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.mobile-br {display: block;}

	.header_layout_1 {
		.header-item{
			img{
				margin-top:0px;
			}
		}
		// .header-line {border-bottom: 0;}
		.header-lnb {
			.header-logo {
				padding-top: 12px;
				img {
					height: 33px;
				}
			}
			.mobile-header-title {display: none;}
		}
		.gnb-search {
			left: 0;
			margin: 0;
		}
	}
	/* mc 상세페이지 */
	.info-wrap_product .title-wrap .tit {
		font-size: 20px;
		line-height: 28px;
	}
	.info-wrap_product .price-wrap > .price-sale,
	.info-wrap_product .price-wrap > .price,
	.info-wrap_product .price-wrap > .price > strong {
		font-size: 20px;
		line-height: 28px;
	}
	/* mc footer */
	footer {
		padding: 40px 0;
		.footer-nav {
			.company-info,
			.company-agreement,
			.insurance {display: none;}
			.company-follow {
				text-align: center;
				margin-bottom: 30px;
			}
			.company-legal {
				text-align: center;
				margin-bottom: 30px;
				dt {display: none;}
				dd {
					display: inline-block;
					margin: 0 10px;
					&:last-child { display: none; }
				}
			}
			.company {
				padding:20px 0 0 0;
				font-size: 11px;
				text-align: center;
				border-top: 1px solid #333;
				.company-logo {display: none;}
			}
			.newsletter-box {text-align: center;}
			.newsletter-conts {
				.input-form-group .input-checkbox > label {
					i {
						float: none;
						vertical-align: top;
					}
					> .label {display:inline;}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-medium) {
		// 모바일에서 억지로 이미지 중앙정렬 처리 - 190211_디자인변경에 따른 주석처리
    // .pt_main .imageList-container:first-child .image-item:nth-child(4){
    //     margin-left:16.5%;
    // }
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	/* mc 좌측메뉴 bg */
	.wrapper {padding-top:86px;}

	.mobile-menu_wrap .uk-offcanvas-bar {
		background: #f1f2ed;
	}
	.filter-wrap_category {
		.select-box {
			& > select {
				background-color: transparent;
			}
		}
	}
	.customer-aside {
		.lnb {
			background-color: $bg-1;
			& > .btn-link {
				border-top:0;
			}
		}
	}
	.sidebar-customer-inquiry {
		border-top: 1px solid $border-2;
	}
	.header_layout_2 {
		.header-lnb {
			.header-menu_mobile {
				> a {
					color: $lnb_color-type1;
				}
			}
		}
	}
}

/* vans custom */
#content-id-4 .category-list .item-info .item-title {
  font-weight: bold;
}

#content-id-4 .category-list .item-info .item-price {
  display: none;
}

#content-id-4 .category-list .item-info .brz-badge-container {
  display: none;
}

.custom-alert-msg {
  display: none;
  font-size: 12px;
  line-height: 16px;
  background-color: #e8e3c0;
  border: 1px solid #d4cfac;
  padding: 5px 12px;
}
.custom-alert-msg.show {
  display: block !important;
}

/* custom header only */
@media (max-width: 960px) {
    .brz_component-slider.slick-slider, .brz_component-slider .slick-slide {height:auto !important;}
    .header_layout_1 .header-lnb .header-logo {padding-top: 12px;}
    .header_layout_1 .header-lnb .header-logo .header-item img {margin-top: 0; height: 33px;}
}


/* 2018.03.29 불필요한 미사용 리뷰영역 높이값 0px 처리 */
.main-review-popup {
	.review-read {
		&.my-comment-read {min-height:0px;}
	}
}
