/* price font weight setting  : str */
.price {
	// font-weight:500;
	// > strong {font-weight:500}
	// .sale-price {
	// 	font-weight:500;
	// 	> strong {font-weight:500}
	// }
}
.total-price {
	// > strong {font-weight:500}
}
/* price font weight setting  : end */


.product-checkout{
	width: 375px;
	max-width: 375px;
	padding: 0;
	box-sizing:border-box;
	// background-color: $bg-4;
	color: $font-1;
	
	&.checkout {
		width: 375px; 
		border:1px solid $border-3; 
		margin-top:0; 
		margin-left: 47px;
   		margin-right: 58px;
		background-color:$bg-1;
	}
	.order-title {
		margin-top: -40px;
		margin-bottom: 20px;
		padding: 0 0 15px 0;
	    font-size: 24px;
	    font-weight: bold;
	    letter-spacing: -0.2px;
	    color: $font-1;
	    border-bottom:1px solid #dedfda;
	}
	.label {display:table-cell; font-size:17px; color:#000; font-weight: 500; letter-spacing: -1px;}
	.price {
		display:table-cell;
		text-align:right;
		&.sale {color: $prd_total-price;}
		&.total {
			> strong {font-size:20px; font-weight: 500;}
		}
		> strong {font-size:17px; font-weight: 500;}
	}
	.sale-price {
		color:$font-4;
		font-size: 17px;
		text-decoration: line-through;
		strong {font-weight: normal; }
	}

	.info-price	{
		> span {
			width:100%;
			display:table;
			margin-top: 20px;
			// &:first-child {margin-top:0;}
		}
	}
	.total-price {
		display:table; width:100%; border-top:1px solid $border-3; margin-top:17px; padding:27px 0px 10px 0px;
		&.adjust{
			font-size:$font-size-s;
			padding-bottom:5px;
		}
		.label {
			font-size: 20px;
		}
	}
	.info {margin-top:32px; font-size:12px; line-height:1.7; color:$font-1;}
	.btn-style-guide {margin-top:12px; font-size:12px;}
	> .order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		padding-bottom:17px;
	}
}


.mypage-cart{

	.tbl-title {
		display:table;
		width:100%;
		padding:10px 50px 10px 0;
		box-sizing:border-box;
		text-align:center;
		border-top:1px solid $border-2;

		> * {
			display:table-cell;
			font-size: 11px;
			color: $font-4;
		}
		.item-info {
			width:60%;
			text-align: left;
		}
		.option-wrap {width:25%;}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		.cart-title {font-size:18px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:20px 50px 20px 0;
		box-sizing:border-box;

		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}

		.item-detail{
			display:table;
			width: 100%;
			min-height:110px;

			> * {display:table-cell;}

			.item-info {
				width: 68%;
				.img-wrap {
					position: absolute;
					overflow:hidden;
					display:inline-block;
					width: 110px;
					background-color: #f6f5f6;
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left: 158px;
					line-height:18px;
					vertical-align: top;

					.tit {
						display:block; 
						margin-bottom: 12px; 
						font-size:14px; 
						font-weight: bold; 
						color: $prd_text-color;
					}
					.opt {
						display:inline; 
						font-size:14px; 
						color:$font-2; 
						line-height: 1.7;
						&.quantity {
							display: block;
						}
						&.opt-block {
							display: block;
						}
					}

					// .current-option-wrap {
					// 	.opt {display:inline;}
					// }
					.btn {
						display:block; margin-top:20px; font-size:12px; color: $font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color: $prd_text-color;}
					a:hover {color: $prd_text-color-over;}
				}
			}
			.option-wrap {
				width: 22%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size: 14px;
					color: #6c6c6c;
				}
				.optchange-btn {
					display: inline;
					font-size: 14px;
					color: #6c6c6c;
					text-decoration: underline;
					border-radius: 0;
				}
			}
			.total-price {
				padding-top:3px; 
				vertical-align:top; 
				text-align:center; 
				box-sizing:border-box;
				.sale-price {
					font-size: 15px;
				}
				strong {
					font-size: 15px;
				}
			}
			.delete-btn{
				position:absolute; top:23px; right:10px;
				.btn-delete {
					color: #ddd;
					i {
						font-size: 16px;
						font-weight: bold;
						color: #000;
					}
				}
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left: 158px;
			margin-top:10px;
		}

		/* 위시리스트 , 바로주문 버튼 */
		.btn-box {
			width:100%;
			margin-top: 5px;
			padding-left: 158px;
			box-sizing: border-box;
			.btn-wishlist-add {
				float: left;
				.wish-btn {
					color: #666;
					font-size: 12px;
					height: 40px;
				}
				i {
					font-size: 19px;
					vertical-align: -3px;
					color: #ddd;
				}
			}
			.later-btn {
				margin-left: 43px;
				color: #666;
				font-size: 12px;
				i {
					font-size: 22px;
					vertical-align: -5px;
				}
			}
			.addcart-btn {
				margin-left: 43px;
				color: #666;
				font-size: 12px;
				i {
					font-size: 24px;
					vertical-align: -6px;
				}
			}
			.btn-direct-order {
				float: right;
				margin-right: -50px;
			}
		}
	}

	.total-price {
		.sale-price {display:block; margin-bottom:3px; font-size:17px; text-decoration:line-through; color:$font-1;}
		> strong{font-size:17px; color: $prd_sale-price; font-weight: normal;}
	}
}


/****** 장바구니 ******/
.pt_cart {
	max-width: $pd-max-width;
	margin: 0 auto;
}
.cart-title {
	padding:0;
	margin: 0 58px 20px 48px;
	font-size:24px;
	font-weight:bold;
	letter-spacing: -0.2px;
	color: $title_category-color;
}
.cart-title-sm {
	padding:0 0 15px 0;
	font-size:24px;
	font-weight:bold;
	letter-spacing: -0.2px;
	color:  $title_category-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}
.cart-title-grey {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: left;
	color: $title_items_category-color;
	vertical-align: 2px;
  }

.mc-cart-num {  // 장바구니 갯수 - 모바일에서만 사용
	width: 100%;
	text-align: center;
	margin: -10px 0 27px 0;
	color: #8d8d8d;
}
.mc-later-num {  // 나중에 구매하기 갯수 - 모바일에서만 사용
	width: 100%;
	text-align: center;
	margin: 0 0 27px 0;
	color: #8d8d8d;
}
.item-container {
	display:table;
	width:100%;
	min-height:500px;

	&.less-items {
		display:block;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		margin-left: 48px;
		margin-right: 64px;
		float:left;
		display:inline-block;
		width:845px;
		width: calc(100% - 595px);
		box-sizing:border-box;
		&.item-list-no {
			width: 100%;
			margin: 0;
			padding: 0 64px 0 48px
		}
	}
	.product-checkout {
		margin-left: 47px;
		margin-right: 58px;
		vertical-align:top;
		display:inline-block;
		float:right;
	}

	.cart-empty {
		padding: 40px 0;
		border-top: 1px solid #dedfda;
		border-bottom: 1px solid #dedfda;
	}
	.align-center {
		display:block;
		margin:0;
		text-align:center;
	}
}

/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.cart-title {
		margin-top: 27px;
		text-align: center;
		.cart-title-grey {
			display: none;
		}
	}

	.item-container {
		.item-list-wrap {padding-right:0;}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	//cart
	.mypage-cart {
		.product-opt_cart {
			.item-detail{
				display:block;
				.item-info {display:block; width:100%;}
				.option-wrap {
					display:block;
					width:100%;
					padding:0 0 0 120px;
					box-sizing:border-box;
					> .btn-link {}
				}

				.total-price {display:block; width:100%; padding: 3px 0 0 120px; box-sizing:border-box; text-align:left;}
				.delete-btn {right:20px;}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//.cart-title {display:none;}
	.cart-title {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.cart-title-sm {
		clear: both;
		padding: 30px 0 15px 0;
		text-align: center;
		.cart-title-grey {
			display: none;
		}
	}
	.item-container {
		> .item-list-wrap {
			margin-left: 0;
			margin-right: 0;
			&.item-list-no {
				padding: 0;
			}
		}
		.cart-empty {
			margin-bottom: 40px;
		}
	}
	.mypage-cart {
		.product-opt_cart {
			.item-detail {
				.item-info {
					.info-wrap {
						padding-left: 120px;
					}
				}
			}
		}
	}

	//cart
	.mypage-cart {
		.product-opt_cart {
			.btn-box {
				padding-left: 0;
				.btn-direct-order {
					margin-right: -20px;
				}
			}
		}
	}

	.item-container {
		> .product-checkout {
			clear: both;
			float: none;
			max-width: 100%;
			margin-left:0;
			margin-right: 0;
			padding: 20px;
		}
	}
	.product-checkout {
		.order-title {
			display: none;
		}
		.label {
			font-size: 15px;
		}
		.total-price {
			.label {
				font-size: 17px;
			}
		}
	}
}
