.order-checkout {
	// background-color: $bg-3;
	max-width: $pd-max-width;
	padding-bottom:65px;
	margin: -40px auto 0;
	.contents-title {
		padding:40px 0 20px; 
		font-size: 24px;
	    font-weight: bold;
	    letter-spacing: -0.2px;
	    color: $font-1;
	}
}


.order-wrap {
	position:relative;
	
    margin: 0 auto;
	&:after {content:''; display:block; clear:both;}
	.product-checkout {
		float:right;
		padding:0;

		.order-list {
			padding:0 0 10px 0;
			border-bottom:0;
		}

		.info-price	{
			.item-price, .delivery-price, .sale-price, .total-price {
				display:inline-block;
				margin-top:10px;
				&:first-child {margin-top:0;}

				> .label {
					display:inline-block;
					float:left;
				}

				> .price {
					display:inline-block;
					float:right;
				}
			}
		}

		.price {display:inline-block;}
	}

	.order-tab-wrap {
		&.collapse{
			.order-tab{
				margin-top:0px;
				border-top:none;
				&:first-child{border:1px solid $border-3;}
			}
			.header{
				border:none;
			}
		}
	}
}

.order-tab {
	// 반응형 사이즈 처리 해야함
	border-top:1px solid $border-3;
	background-color: $bg-1;

	margin-left: 48px;
    margin-right: 64px;
    float: left;
    display: inline-block;
    width: 845px;
    width: calc(100% - 595px);
    box-sizing: border-box;

	&:first-child {margin-top:0;}

	.header {
		position:relative;
		padding: 32px 25px;
		
		.tit {
			color: $title_checkout-color; 
			display: inline; 
			font-weight: bold; 
			font-size: 16px;
			vertical-align: middle;
			.len{
				color: $primary-color;
			}
		}
		.login { font-size:12px; margin:0px 0px 0px 10px;}
		.preview { 
			font-size:11px; 
			color:$font-4; 
			position: absolute; 
			right:50px; 
			top:34px;
			color: #2e2e2e;
		}
		&.inactive{
			.tit{
				font-weight: normal;
				color:$font-4;
			}
		}
		&.anonymous{
			padding:11px 25px;
		}
		> i {
			position:absolute; 
			top:50%; 
			right:25px; 
			font-size: 16px;
			font-weight: bold;
			margin-top:-7px;
			color: #666;
		}
	}

	.body {
		padding:0 25px 32px;
		font-size: 14px; 

		// border-top:1px solid $border-3;
		&.nopadding {padding:20px 0;}
		
		.order-complete {
			font-size: 14px;
		}
		.order-field-container {
			padding:10px 7px 0px 28px;
		} 
		.order-field-list{
			margin-bottom: 24px;
			.tit {margin-bottom:7px; font-size:$font-size-mini}
			.agree{
				.agree-content{	
					font-size:12px;	line-height:20px; margin-bottom: 5px;
					> * {font-size: 12px; margin-bottom: 8px;}
				}
			}
			.info{
				display: block;
				margin-top: 6px;
				color: #808080;
				font-size: 13px;;
				line-height: 1.4;
			}
			
			.payment-method-list{
				.payment-method-item{
					.payment-method-item-title{
						box-sizing: border-box;
						padding:13px 25px 12px;
						border:1px solid $border-3;
						font-size:$font-size-sm;
						cursor:pointer;
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color:$font-6;
							background-color: $primary-color;
							border:1px solid $primary-color;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}						
					}
				}
			}

			.input-checkbox {
				> {
					label {
						> .label {
							font-size: 14px;
						}
					}
				}
			}
			.select-box {
				margin-top: 24px;
				.select-head {
					font-size: 14px;
					padding: 16px 11px 16px 11px;
					border-radius: 3px;
				}	
			}
		}
		
		/* 배송지 정보 탭 */
		.sort-tabs {
			.sort-item {
				height: 40px;
				padding-top: 12px;
				font-weight: bold;
				font-size: 15px;
				color: $font-1;
			}
		}
		.delivery-name {
			font-size: 16px;
			font-weight: bold;
			color: #111;
		}
		.delivery-addr {
			dd {
				letter-spacing: -0.3px;
				color: #2e2e2e;
			}
		}
		.delivery-phone {
			margin-top: 17px;
			dt, 
			dd {
				display: inline-block;
			}
		}
		.btn-delivery-list {
			width: 102px;
			padding: 13px 0;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			color: $font-1;
		}

		/*dl {
			display:table;
			width:100%;
			font-size: 13px;
			&:last-child{
				margin-bottom: 0px;
			}
			> dt {display:table-cell; width:20%; color:#ababab; font-weight: normal;}
			> dd {display:table-cell; width:80%;}
		}*/
	}

	.footer {
		padding:0px 32px 50px 60px;
		.info {/*float:left; width:40%;*/ font-size:12px;}
	}

	&.side {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.order-complete{
		.header{
			padding:25px 40px 20px;
		}
		.body{
			padding:0px 40px 15px 40px;
			border-top:none;
			dd{
				margin-bottom:10px;
			}

			.shipping{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0px;
				}
			}
			.payment_method{
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					padding-bottom: 0px;
					margin-bottom: 0px;
					border-bottom:none;
				}
				dt{
					font-weight: normal;
					color: $font-3;
					min-width: 120px;
					float:left;
				}
				dd{
					
				}
			}
		}

	}
}


.order-card {
	padding:0 29px;
	margin-top:40px;
	&:first-child {margin-top:0;}
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-checkout-selected {
	padding:0 29px;
	margin-top:40px;
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-total-price {
	padding:0 29px;
	margin-top:40px;
	border-top:1px;
	border-bottom:1px;
	border-style:solid;
	border-color: $border-3;
	background-color:$bg-4;

	strong {font-size:20px; color: $prd_sale-price; font-weight: normal;}
	.sale {color: $prd_total-price;}
}

.product-payment_radio {
	margin-left:0px;
	//&:after {content:''; display:block; clear:both;}
}


.checkout-status-wrap {
	float:right;
	font-size:$font-size-s;
	color:$font-4;

	> .status {
		position:relative;
		display:inline-block;
		padding-left:20px;
		width:57px;
		text-align:center;

		&.current { 
			> .brz-icon-circle {border-color: $bg-dimmed; color: $font-6; background-color: $bg-dimmed; 
				// font-weight:bold;
			}
			> .label {color: $font-1}
		}
		&:first-child {
			padding-left:0;
			> .icon {display:none;}
		}

		> .label {display:block; margin-top:10px;}
		> .icon {position:absolute;top:50%;left:5px;margin-top:-6px;}
	}
}

.gift-promoform{
	.label{
		font-size:$font-size-s;
		line-height: 36px;
	}
}

.giftCard-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}

.customerCredit-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:9px 10px 8px 10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.order-tab{
		.body{
			.order-field-list{
				margin-bottom: 20px;
			}
		}
	}
}





