/************************************************************************************************/

/*  필터 css
/************************************************************************************************/


	/*  필터 1depth title */
	.f-title-box {
		position:relative;
		font-size: 24px;
		color: $font-1;
		padding-bottom:20px;

		.f-btn-reset {
			position:absolute;
			top:2px;
			right:0;
			font-size:12px;
		}
	}

	/*  필터 2depth title */
	.f-subtitle-box {
		position:relative;
		font-weight: bold;

		/* uikit .uk-accordion-title override*/
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 0 15px 0;
		background: none;
		font-size: 14px;
		line-height: 1em;
		color: $font-1;

		&.uk-active {
			.icon-minus {display:block;}
			.icon-plus {display:none;}
		}
	}

	.f-btn-toggle {
		position:absolute;
		top:0;
		right:0;
	}

	/* 필터 category list */
	.f-cagetory-sect {
		padding-bottom:30px;
		&.borderline-top {
			padding-top: 15px;
			border-top:1px solid #e5e5e5;
		}
		.f-item {
			> a {
				display:inline-block;
				font-size:12px;
				color:$font-1;
				padding:7px 0;
			}
			&.active {
				> a {font-weight:bold;}
			}
			&:last-child {margin-bottom:7px;}
			> a.f-btn-more {
				margin-left: 15px;
				color: $button_text-color-type2;
				font-weight: normal;
			}
		}
		.f-subitem {
			padding-left:15px;
			> a {
				display:inline-block;
				font-size:12px;
				color: $font-2;
				padding:5px 0;
			}
		}
		.f-btn-more {
			font-size:12px;
		}
	}

	/* 필터 옵션 (color, size, price) */
	.f-refine-sect {
		&.borderline-top {
			padding-top: 15px;
			border-top:1px solid $border-3;
		}

		/* uikit .uk-accordion-content override */
		.uk-accordion-content {
			padding: 0 0 30px 0;
			overflow:hidden;
		}


		.more-container {
			overflow:hidden;
			//height: 127px;			// 사각형 타입 fiter높이값 지정 (more더보기 기능 관련 높이값 지정)		
		}

		.more-btn {
			display: none; 				// 옵션 더보기 버튼 비노출 (테스트 필요)
			margin:0;
			padding:0;
			border:0;
			width:100%;
			padding-top:10px;
			//border-top:1px solid $border-2;
			text-align:center;
			font-size:10px;
			background-color:$bg-1;

			&.active {
				.plus {display:none;}
				.minus {display:inline;}
			}

			.minus {display:none;}
		}
	}

	/* 필터 타입 체크박스 & 라디오 */
	.f-style-check, .f-style-radio {
		/* uikit .uk-accordion-content override */
		padding: 0 0 30px 0;

		.f-item {
			padding:3px 0;
			&.chedcked {
				i {
					background-position:-89px -320px
				}
			}
		}

		.input-radio { display:block; }
	}

	/* 필터 타입 정사각형 모양 */
	.f-style-square {
		margin-left: 0;
		padding: 0 0 5px 0;

		.f-item {
			float:left;
			margin-left: 0;
			padding:0;

			a, label {
				position: relative;
				display: table-cell;
				width: 42px;
				height: 42px;
				text-align:center;
				color: #2e2e2e;
				word-break: break-all;
				vertical-align:middle;
				line-height: 14px;
				&:hover {
					background-color: #111;
					color: $font-6;
				}
				&:after {
					border: 1px solid #e5e5e5;
				    position: absolute;
				    top: 0;
				    right: -1px;
				    left: 0;
				    bottom: -1px;
				}
			}

			.no-view {display:none;}
		}

		.active, .checked {
			a, label {
				background-color: #111;
				color: $font-6;
			}
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
		
		/* 필터 타입 라운드 모양 */
		&.f-color-type {
			width: 230px;
			margin-left: 0;
			border: 0;

			.f-item {
				float:left;
				margin: 0 14px 14px 0;
				width: 24px;
				height: 24px;
				box-sizing: border-box;

				a, label {
					display: inline-block;
					width: 24px;
					min-width: 24px;
					height: 24px;
					padding: 4px 1px 0;
					border-radius: 50%;
					border:1px solid #ddd;
					box-sizing:border-box;
					text-align:center;
					color: $font-1;
					vertical-align:middle;
					text-align: center;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 0;
					&:hover {
						background-color: transparent;
					}
					&:after {
						border: 0;
					}
				}

				.no-view {display:none;}
			}
			.active, .checked {
				a, label {
					position: relative;
					background-color: transparent;
					&:before {
						 font-family: 'nike' !important;
						 speak: none;
						 font-style: normal;
						 font-weight: normal;
						 font-variant: normal;
						 text-transform: none;
						 line-height: 1;
						 display: inline-block;

						 /* Better Font Rendering =========== */
						 -webkit-font-smoothing: antialiased;
						 -moz-osx-font-smoothing: grayscale;

						content: "\f150";
						display: block;
						position: absolute;
						top: 2px;
						left: 6px;
						font-size: 20px;
					}
				}
			}
		}

	}

	/* 필터 타입 라운드 모양 */
	.f-style-round {
		padding-bottom:30px;
		.f-item {padding:3px 0;}

	}

	.filter-wrap_category {
		position:relative;
		margin-top: 40px;
		margin-bottom:10px;
		padding-left: 12px;
		
		// &:after {content:''; clear:both; display:block;}
		.btn-link {
			font-weight:500
		}
		.select-box {
			font-weight:500;
			right: 22px;
		}
		.btn-filter-open {float:left;}
		.filter-tagbox {float:left;}
		.select-box{
			width: 110px;
			&.sort{
				.select-head {
					border: 1px solid #ddd;
					font-size: 15px;
					color: $font-1;
					-moz-border-radius: 2.5px;
					-webkit-border-radius: 2.5px;
					border-radius: 2.5px;
				}
			}
			&:before {								// 셀렉트박스 화살표 컬러값
				border-right: 2px solid #111;
   				border-top: 2px solid #111;
			}
		}
	}

	/* filter tag */
	.filter-tagbox {
		.filter-tit {
			font-size: 23px;
			font-weight: bold;
			color: $title_filter-color;

			.num {
				font-size: 24px;
				color: $font-3;
			}
		}
		ul {
			display: inline-block;
			padding:15px 0 10px;
		}
		.tag-item {
			display:inline-block;
			color: $font-1;
			font-size: 12px;
			margin-right: 15px;
			a {color: $font-1;}
			i {
				font-size:8px;
				padding-right: 4px;
			}
		}
		.f-btn-reset {
			font-size:12px;

			&.btn-f-reset {				// 전체해제 filter버튼 style
				display: inline-block;
				width: 72px;
				height: 24px;
				line-height: 24px;
				border-radius: 2.5px;
				border: solid 1px #dddddd;
				text-align:center;
				vertical-align: middle;
			}
		}
	}

	.section-filter {
		/*overflow:auto;*/
		position:fixed;
		top:0;
		left:-$filter-width;
		bottom:0;
		width:$filter-width;
		padding-right:32px;			// nike only
		padding-left: 32px;
		margin-right: 8px;
		box-sizing:border-box;
		background: $bg-1;
		z-index:100;
		opacity:0;
		filter:alpha(opacity=0);


		.filter{
			@include filter-field;

			.item{
				> a {
					color: $font-3;
					width:100%;
					text-align:left;
					padding:10px 20px;
					display:inline-block;
					box-sizing: border-box;
				}
				&:hover {background-color: $bg-4}
				&.active {
					color: $font-6;
					background-color: $primary-color;
					> a {color: $font-6;}
				}

				&.btn-type {
					width:45px;
					text-align:center;
					border:1px solid $border-5;
					padding:10px 0;

					> label {text-align:center;}
				}
			}
		}

		.btn-sect {margin-top:20px; text-align:center;}
	}


	.filter-category-modal-wrap {
		.section-filter {
			overflow-y:scroll;
			width:$filter-width;
			height:auto;
			padding:18px ;
			z-index:999;
		}

		.section-category {
			.filter-wrap_category {
				height:64px;
				.filter-tagbox {padding:10px 0 0 40px;}
			}
		}
	}

	/* 카테고리 리스트 레이아웃 정의 */
	.filter-category-wrap{
		overflow: hidden;

		/* mc depth 텍스트 */
		.depth-tit {
			display: none;
			padding: 30px 0 10px;
			font-size: 19px;
			text-align: center;
			.num {
				font-size: 12px;
				color: #b3b3b3;
			}
		}
		/* 좌측 필터영역 */
		.section-filter {
			margin-top: 40px; 					// 상단 여백
			opacity:1;
			filter:alpha(opacity=1);
			position: relative;
			left:0;
			float:left;
		}
		
		/* 우측 카테고리 리스트 */
		.section-category {
			float:left;
			-webkit-width: calc(100% - 288px);
			-moz-width: calc(100% - 288px);
			width: calc(100% - 288px);

			&.item-list-less {
				width: 100%;
			}
		}
		.category-max-width {
			max-width: 1230px;  				// 1600이상일때 
			
			.btn-filter-open{
				display: none;
			}

			&.item-list-less {
				width:100%;
				padding:20px 0 80px;
			}
		}
	}


	.filter-field_price {
		@include filter-field;

		text-align:center;
		padding-left:30px;
		padding-right:30px;

		> .filter-tit {text-align:left;}
		> .btn-link {margin-top:20px;}
		> .slider-range {
			height:10px;
			margin-bottom:20px;
		}
		> .filter-tit {
			margin-left:-10px;
			display:block;
		}
	}

	.filter-field_categories {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_color {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}
	}

	.filter-field_size {
		@include filter-field;

		> .input-radio.filter > .label{
			padding:10px 20px;
		}

		&.style-btn {
			padding-left:20px;
			padding-right:20px;
			> .input-checkbox {
				float:left;
				margin-top:-1px;
				margin-left:-1px;
			}

			.filter-tit {margin-left:0;}
		}
	}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	//filter category
	.filter-wrap_category {
		width:100%;
		overflow:hidden;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		.btn-link {
			position: relative;
			display:inline-block;
			width:50%;
			height: 60px;
			border-width:0 0 0 0;
			border-style:solid;
			border-color:$border-2;
			padding-left:10px;
			text-align:left;
			box-sizing:border-box;
			font-weight:bold;
			text-align: center;
			font-size: 15px;
			&:before {
				content:'';
				position: absolute;
				top: 10px;
				right: 0;
				width: 1px;
				height: 40px;
				background-color: #e5e5e5;
			}
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}


		.select-box {
			width:50%;
			border-width:0 0 0 0;
			height: 60px;
			border-style:solid;
			border-color:$border-2;
			box-sizing:border-box;
			font-size: 15px;
			right: auto;
			text-align: center;
			&:before {
				width: 0;
				height: 0;
				border: 0;
			}
			> select {
				width: auto;
				height: 60px; 
				border:0; 
				font-weight:bold;
				font-size: 15px;
				padding: 0;
			}
		}

		.filter-tagbox {
			display:none;
		}

		.select-box {
			&.sort{
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}
	}

	.filter-category-wrap{
		.depth-tit {
			display: block;
		}
		.section-filter {
			width: 100%;
			right: 0;
			margin-top: 0;
			overflow-y:scroll;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			left: -100%;
			padding:18px;
			z-index:999;
		}

		.section-category {
			width:100%;
			.btn-filter-open{
				display: block;
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
