
/*********************************************************************/
/* footer
/*********************************************************************/
	footer {
		position:relative;
		clear: both;
		min-height:150px;
		margin:0 auto;
		padding: 0;
		font-size:12px;
		color: $footer_text-color;
		background: $footer_bg-color-type1;
	}


	.footer-contents {
		max-width: 100%;
		margin:0 auto 0 auto;
		line-height:18px;

		.footer-maxwidth {
			max-width: 814px;
			margin:0 auto;
		}

		/* top area - menu, social, newsletter
		/*****************************************************************/
		.footer-nav {
			padding: 40px 0;
			letter-spacing: 0.5px;
			color: $footer_text-color;

			&:before {content:''; display:block; margin-top:20px;}
			&:after {content:''; display:block; clear:both;}

			dt {
				padding-bottom: 0;
				font-weight: normal;
				font-size: $font-size-sm;
				color: $footer_title-color-type1;
			}
			dd {
				margin-top:8px;
				font-size: $font-size-mini;
			}
			a {
				color: $footer_menu-color-type1;
				&:hover {color: $footer_menu-color-type1-over;}
			}
			.company-info {
				p {
					margin-bottom: 8px;
					font-size: 13px;
				}
				a {
					color: $font-6;
				}
				.cs-number {
					font-size: 17px;
				}
			}
			
			.footer-sns {
				font-size: 30px;
				> a {
					color: #444444;
					&:hover {
						color: $font-6;
					}
				}
			}
		}

		/* middle area 
		/*****************************************************************/
		.footer-copy {
			border-top: 1px solid #444;
			border-bottom: 1px solid #444;
			font-size: 10px; 
			padding: 15px 32px;

			.flag-kr {
				@extend .icon-language;				// nike에 정의
				background-position: left top;
				background-size: 14px 10px;
				margin-right: 15px; 
				padding-left: 22px; 
				color: $font-6;
				line-height: 11px;
				vertical-align: middle; 
			}
			.menu-term {
				> a {
					padding-left: 16px; 
					color: #999;
				}
			}
		}

		/* bottom area 
		/*****************************************************************/
		.footer-info {
			padding: 16px 0 25px;
			font-size: $font-size-mini;
			address {
				padding-left: 0;
			}
			a {
				color: $font-6;
				&.underline {
					text-decoration: underline;
				}
			}
			.insurance {
			}
			.divider {
				position: relative;
				margin-left: 3px;
				padding-left: 6px; 

				&:before {
					content:'';
					display:block;
					position: absolute; 
					top: 1px;
					left: 0;
					width: 1px;
					height: 10px;
					background: #999;
				}
			}
		}
		
		/* news letter */
		.newsletter-conts {
			.newsletter-field {
				position: relative; 
				.input-textfield {				//newsletter input 
					width: 100%;
					> label {
						top: 8px;
						height: 32px;
					}
					> input {
						height: 32px;
						border: 0;
					}
				}
				.btn_join {						// newsletter button
					position: absolute;
					top: 0;
					right: 0;
					width: 32px;
					height: 32px;
					padding: 0;
					background-color: $bg-1;
					color: #111;
					.ns-chevron-right {
						font-size: 24px;
					}
				}
			}
			.input-checkbox {
				> label {
					display: inline;
					i {height: 30px;}
					> .label {
						display: inline;
						font-size: 11px;
						line-height: 12px;
					}
					&:after {
						display: inline;
					}
				}
			}
		}

		// .com-divider {padding-left:4px;}
		// .copyright {
		// 	color: $footer_copyright-color;
		// 	.copy {display:inline-block; margin-top:20px;}
		// 	&:before {content:''; display:block; margin-top:20px;}
		// 	a {color: $footer_copyright-color;}
		// }
		.newsletter-box {
			.newsletter-conts {
				.btn_join {vertical-align:top;}
			}
		}
	}

	.scrollup {
		display:none;
		position:fixed;
		width:40px;
		height:40px;
		bottom: 72px;
		right: 10px;
		padding-top:10px;
		cursor: pointer;
		background: $bg-4;
		color:$font-3;
		text-align:center;
		font-size:18px;
		box-sizing:border-box;
		&:hover {
			background:$primary-color;
			color: $font-6;
		}
	}
	
	/* 레이어팝업 닫기버튼 위치, 크기수정 */
	.uk-modal-dialog {
		> .uk-close{
			&:first-child {
				margin: 0;
    			font-size: 20px;
			}
		}
	}
	/* 콘텐츠산업진흥법 팝업 */
	.privacy-popup {
		h4 {
			margin-bottom: 20px;
			padding-bottom: 20px;
		    font-size: 18px;
		    font-weight: bold;
		    border-bottom: 1px solid #e5e5e5;
		    color: #111;
		}
		.txt {
			font-size: 12px;
			color: #333;
			line-height: 1.6;
		}
	}






	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		footer {
			&.no-footer {display:none;}
		}
		.footer-contents {
			padding: 0;
		}
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.footer-contents {
			padding: 0;

			.footer-nav {
				padding: 1px 0 10px;

				.company-info {
					text-align: center;
					p {
						display: inline-block;
						padding: 0 15px;
						&.mobile-only {
							display: inline-block !important;
						}
					}
				}
			}

			.footer-copy {
				border-bottom: 0;
				.uk-float-left,
				.uk-float-right {
					float:none;
					display: inline-block;
					width: 100%;
					padding-top: 10px;
					padding-bottom: 5px;
					text-align: center;
				}
			}

			.footer-info {
				padding: 20px 35px;
				background: #1d1d1d;
				color: #747474;
				font-size: 12px;
				span {
					display: block;
					> i:before {
						content:': ';
					}
				}
				.divider{
					margin-left: 0;
					padding-left: 0;
					&:before {
						width: 0;
					}
				}
				.insurance,    				// pc KSNET의 구매안전 서비스 
				.trade {  					// pc 사업자정보확인 버튼 
					display: none;
				}

				.btn-menu-item  {  			// mc 사업자정보확인, KSNET구매안전서비스안내 버튼
					width: 100%;
					margin: 20px 0 10px;
					text-align: center;
					a {
						display: inline-block;
						color: #747474;
						&.ksnet {
							position: relative;
							margin-left: 6px;
							padding-left: 8px; 

							&:before {
								content:'';
								display:block;
								position: absolute; 
								top: 2px;
								left: 0;
								width: 1px;
								height: 10px;
								background: #999;
							}
						}

					}
				}

			}
		}
		
	}

	/* Large screen and bigger */
	@media (max-width: $breakpoint-xlarge) {}
