/*********************************************************************/
/* login관련 스타일 정의
/*********************************************************************/

.login-wrap{
	margin:0 auto;
	width: 100%;
	
	padding: 0 20px 70px;
	box-sizing: border-box;

	&.width-small{
		max-width:420px;
	}

	> *{
		margin:0 auto;
		&.width-small{
			max-width:420px;
			padding-left:20px;
			padding-right:20px;
			box-sizing: border-box;
		}
	}
	.header {
		margin-bottom:30px;

		> .title {
			margin-top: 15px;
			margin-bottom:15px; 
			text-align:center; 
			// font-weight:bold; 
			font-size:24px; 
			color: $font-1;
			font-weight: 500;
		}
		> .description {
			text-align:center; 
			line-height:20px;
			color: $font-3;
			font-size: 14px;
		}
		> .regist-done-icon {
			display: inline-block;
		}
	}
	.register-done {
		padding: 130px 0;
		.header > .title {
			margin-top: 20px;
		}
	}
	.body {
		margin-bottom:15px;
		&.after {content:''; clear:both; display:block;}
		.account-info {margin-top:10px;}
		.account-find {float:left; display:inline-block;}
		.account-register {float:right; display:inline-block;}

		/* 회원가입 약관 */
		.register-terms {
			.uk-grid {
				margin-left:0;
				> * {padding-left:0;}
			}
			.tit {
				font-size: 11px;
				margin-top: 30px;
				padding-bottom: 8px;
				font-weight: bold;
				color: $font-0;
			}
			.btn-agree-allview {
				font-size: 11px;
				margin-top: 30px;
				i {
					padding-left: 3px;
					font-size: 10px;
					vertical-align: -1px;
				}
			}
			.agree-content {
				h3 {
					font-size: 14px;
					padding-bottom: 10px;
				}
				line-height: 1.7;
				font-size: 11px;
			}
			.agree-test {
				padding-top: 7px;
				font-size: 11px;
				line-height: 1.5;
			}
			.agree-confirm {
				padding: 20px 0;
				text-align: center;
				font-size: 14px;
				line-height: 1.5;
			}
			table {
				font-size: 11px;
			    border: 1px solid $border-2;
			    background: $bg-1;
			    caption {display: none;}
			    th {
				    padding: 10px;
				    color: $font-3;
				}
				td {
				    padding: 10px;
				    border-top: 1px solid $border-2;
				    line-height: 1.7em;
				}
			}
		}
	}

	/* 회원가입 - 개인정보 보관 기간 */
	.global_btn_type1 {
	    display: block;
	    padding: 10px;
	    width: 100%;
	    font-size: 15px;
	    box-sizing: border-box;
	    line-height: 20px;
	    border-radius: 2px;
	    background-color: #111;
	    text-align: center;
	    color: #fff;
	    &.gray-line {color: #999 !important;border: 1px solid #e5e5e5 !important;background: #fff;}
	}
	.private-period {margin-top: 70px;}
	.private-period .title a {display: block;height: 55px;padding-left: 20px;line-height: 55px;font-size: 14px;font-weight: bold;color: #111;background: #e5e5e5 url(../image/global_join_renewal/gb_arr_down.png) no-repeat right 10px center;}
	.private-period .title.active a {background: #e5e5e5 url(../image/global_join_renewal/gb_arr_up.png) no-repeat right 10px center;}
	.private-period .pp-comment {display: none;padding: 25px 30px;line-height: 1.7;color: #858585;border: 1px solid #e5e5e5;}
	.private-period .pp-comment li {padding-left: 10px;background: url(/assets/images/bl_dot.png) no-repeat left 8px;}
	.private-period .title.active + .pp-comment {display: block;}
	.private-period ul.btn-area {margin-top: 10px;}
	.private-period ul.btn-area:after {content: '';display: block;clear: both;}
	.private-period ul.btn-area li {float: left;width: 32%;margin-left: 2%;}
	.private-period ul.btn-area li:first-child {margin-left: 0;}
	.private-period ul.btn-area li input[type="radio"] {display: block;overflow: hidden;width: 0;height: 0;}
	.private-period ul.btn-area li .global_btn_type1 {font-size: 13px;}
	.private-period ul.btn-area li input:checked + .global_btn_type1 {color: #111 !important;border: 1px solid #000000 !important;}
	.private-period ul.btn-area li input:checked + .global_btn_type1 span {display: inline-block;padding: 0 15px;background: url(/assets/images/ico_chk_label.gif) no-repeat left center;}
	
	/* 회원가입 - 이용약관 동의 */
	.terms-agree {
		margin-top: 40px;
		.title-chk-all {
			padding: 15px 20px;
			background: #f8f8f8;
			border-radius: 2px;
			border: 1px solid #e8e8e8;
			.txt {
				font-size: 12px;
				color: #2e2e2e;
				line-height: 1.5;
			}
		}
		.input-checkbox {
			span {
				font-size: 14px;
				color: #2e2e2e;
			}
		}
		.term-list-box {
			.term-list-item {
				margin-bottom: 5px;
				.txt {
					font-size: 12px;
					line-height: 1.5
				}
				.term-link {
					display: inline-block;
					margin-left: 10px;
					font-size: 12px;
					color: $font-1;
					text-decoration: underline;
				}
			}
		}
		
	}
	.terms-agree ul {padding: 0 10px 15px;border: 1px solid #e1e1e1;}
	.terms-agree ul li {padding: 3px 0;}
	.terms-agree ul li.necessary {margin-bottom: 10px;padding: 20px 0;border-bottom: 1px solid #e1e1e1;position: relative;}
	// .terms-agree ul li._2d {border-top: 1px solid #e5e5e5;margin-top: 10px;padding-top: 13px;overflow: hidden;}
	// .terms-agree ul li._2d ._2d_box {width: 50%;float: left;}
	// .terms-agree ul li._2_last {padding: 3px 0 3px 22px;color:#999}
	.terms-agree ul li.event-assent {border-top: 1px solid #e1e1e1;}
	.terms-agree ul li.event-assent .input-checkbox {display: inline-block;}
	.terms-agree ul li.event-assent .input-checkbox span {font-size: 12px; color: $font-1; font-weight: normal;}
	.terms-agree ul li.event-assent .txt {font-size:12px; color: $font-1;}
	.terms-agree ul li label {margin-right: 8px;}
	.terms-agree ul li label span {font-weight: bold;color: #858585;}
	.terms-agree ul li a {display: inline-block;margin: 0 2px;text-decoration: underline;color: #111;}
	.terms-agree .termsAgree-comment {margin-top: 10px;line-height: 1.7;text-align: center;color: #fa5500;}
	.gb-btn-area {margin-top: 50px;text-align: center;}
	.gb-btn-area .global_btn_type1 {display: inline-block;width: 210px;margin: 0 3px;}


	.footer {text-align: left; margin-top:15px; font-size: $font-size-s;}

	label{
		// display: none;
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.login-wrap {
		.header {
			// > .title {display:none;}
		}
		.register-done {
			padding: 30px 0 0;
		}

		> *{
			margin:0 auto;
			&.width-small{
				padding-left:0px;
				padding-right:0px;
			}
		}		
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
