/*********************************************************************/
/* 상품 상세페이지 
/*********************************************************************/
	/* 
	/*****************************************************************/
	.pt_product-detail {
		max-width: $pd-max-width;		//최대 넓이값 지정 (상세페이지용)
		margin: 0 auto;
	}


	/* 상세페이지 빅이미지
	/*****************************************************************/

	.product-detail_wrap {
		&.uk-grid {
			margin-left: 0;			/* 라이브러리 재공 그리드 재정의 */
		}
	}

	/* 상품상세 이미지뷰 (기존 버전) */
	.img-detail_product {
		position:relative;
		width: 900px;
		padding: 0;
		text-align:center;

		.product-ico {
			position:absolute;
			right:30px;
			top:-20px;
			font-size:60px;
			color: $primary-color;
		}

		.masker {
			overflow:hidden;
			max-height:700px;
		}

		.product-gallery {
			.swipe-container {width:100%;}
			.bx-controls {display:none;}
		}

		.product-gallery-slide {
			width:100%;
			min-width:415px; 		/* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			margin-right:0;
			background: #f5f5f5;
			img {
				display:inline-block;
				padding: 50px; 		/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
			}
		}
	}

	/* 상품상세 이미지뷰부분 썸네일 */
	.product-gallery-wrap {
		position:relative;

		.btn-next,
		.btn-prev {display: none !important;} /* thumbnail이미지 좌우 화살표 버튼 비노출 (상하, 좌우일때 테스트 필요) */

		.product-thumb {
			width:60px;
			font-size:11px;
			position:absolute;
			top:0;
			left:0;
			z-index:11;

			.thumb-title {
				margin-bottom:15px;
				font-size:11px;
			}

			.thumb-list {
				// @include product-detail_thumb-list;
				position: relative;
				width: 60px;
			    height: 60px;
			    background: #f5f5f5;
				margin-bottom: 1px;
				cursor: pointer;

				&:hover {
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 3px solid #e5e5e5;
					}
				}
				
				&.active {
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						border: 3px solid #e5e5e5;
					}
				}
				img {
					display:block; 
					width:100%;
					padding: 5px;			/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
				}
			}

			> ul {list-style-type:none; padding:0; margin:0; border:0;}
		}

		&.left {
			.product-gallery {padding-left: 80px;}
			.product-thumb {
				overflow:hidden;
				bottom:0;
			}
		}

		&.bottom {
			.product-thumb {
				position:static;
				width:100%;
				overflow:hidden;
				&:after {content:""; display:block; clear:both;}

				.thumb-wrap {
					width:1000%;
					margin:10px auto 0 auto;
					margin-top:10px;
				}
				.thumb-list {
					float:left;
					overflow:hidden;
					width:80px;
					height:98px;
					margin:0px;
					margin-left:10px;

					&:first-child {margin-left:0;}
				}
			}
		}
	}


	/* 상품 정보 - 상품명, 옵션, 가격 (기존 버전) */
	/*****************************************************************/
	.info-wrap_product {
		width: 380px;
		color: $font-2;
		box-sizing:border-box;
		text-align: left;
		
		.item-location {
			margin-top: 10px;
			font-size: 12px;
			color: #666;
		}
		.title-wrap {
			margin-bottom:4px;
			color: $font-0;
			font-size: 28px;
			font-weight: bold;
			.subtit {color: $primary-sub-color;}
			// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
			.close-btn {display:none;}
		}

		
		/* 상품가격 */
		.price-wrap {
			margin-top: 8px;
			font-size: 20px;
			letter-spacing: 0.1px;
			color: $prd_price;

			> .price-sale {text-decoration:line-through;}
			> .price {
				// font-weight:bold;
				color: $prd_sale-price;
				> strong {
					font-size: 20px;
					font-weight: normal;
				}
			}
			.sale-per {
				margin-top:14px;
				display:inline-block;
				margin-left:5px;
				color: $marketing-color;
				font-size:12px;
				&:hover {color: $marketing-color-over;}
			}
			.disc-num {
				display:inline-block;
			    margin-left:18px;
			    font-size:30px;
				color: $prd_sale-price;
			    font-weight:bold;
			}
		}
		
		/* 옵션, 스타일 그룹핑 */
		.pinfo-item-box {
			position: relative; 
			margin-top: 20px; 

			&.line {
				border-top: 1px solid #e5e5e5;
			}

			/* 스타일 코드 */
			.style-code {
				position: absolute;
				top: 20px;
				right: 0;
				font-size: 11px;
				color: #666;
			}
		}

		/* 옵션 - 사이즈, 컬러 */
		.option-wrap {
			.tit {
				margin: 20px 0 8px; 
				font-weight: normal; 
				font-size: 12px; 
				color: $font-1;
				& span:first-child {
					display: none; 		//옵션타이틀명 비노출 처리 (ex: 컬러, 사이즈)
				}
			}
			.msg {
				display:inline-block; 
				color: $font-1;
			}
			.over-txt {
				display:inline-block; 
				color: #666;
				font-size: 10px;
			}
			// .option-guide {
			// 	padding:15px 0 0 0;
			// 	font-size:12px;
			// }
			.input-select {
				margin-top:10px;
				&:first-child {margin-top:0;}
			}

			.product-option_radio {

				&:after {content:''; display:block; clear:both;}

				.input-radio {
					float: left;
					display: inline-block;
					width: 60px;
					height: 60px;
					margin: 0 -1px -1px 0;
					vertical-align:top;
					&:first-child {}

					.label {
						padding: 11px 14px 0;
						letter-spacing: 0;
						display: inline-block;
						width: auto;
						height: 36px;
						text-align: center;
						border: 1px solid #e5e5e5;
						color: $font-1;
						box-sizing:border-box;

						&.img-type {
							width: 60px;
							height: 60px;
							padding:0;
							background: #f5f5f5;
							> img {
								display:block; 
								width:100%;
								max-height: 60px;
								padding: 5px;				/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
							}
						}
					}
					.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

					// &:hover { 
					// 	.label {
					// 		border-color:$border-5;
					// 	} 
					// }
					&.checked,
					&:hover {
						.label {
							position:relative;
							color: $font-0;

							&:after {
								content:'';
								position:absolute;
								top:-1px;
								right:-1px;
								bottom:-1px;
								left:-1px;
								border:3px solid  #e0e0e0;
							}
						}
					}
					&.disabled {
						.label {
							background-color: $form_bg-disabled;
							color: $form_text-color-disabled;

							&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
						}
					}
				}

				&.circle {
					.input-radio {
						padding:3px;
						.label {
							// border:none;
							&.img-type{
								overflow:hidden;
								width:40px;
								height:40px;
								padding:5px;
								border-radius:50%;

								img {border-radius:50%;}
							}

							&:hover {border:1px solid $primary-color;}
						}
						.pattern {width:28px; height:28px; border-radius:50%;}

						&.checked {
							.label {
								border:1px solid $default-color;
								background-color: $default-color;
								color: $font-6;
								&.img-type {
									padding:5px;
									background-color: transparent;
								}
								&:after{display:none;}
							}
						}
					}
				}
			}
		}


		/* 상품 별점 */
		.review-wrap {
			margin-top: 11px;
			font-size: 12px;
			color: $primary-color;

			.like {
			    position: relative;
			    display: inline-block;
			    height: 15px;
			    overflow: hidden;
			    vertical-align: -3px;
			    > i {
				    font-size: 14px;
				}
				.per {
				    position: absolute;
				    top: 0;
				    left: 0;
				    overflow: hidden;
				}
				.star-default-bg {
				    color: #a5a5a5;
				}
			}
			&:after {content:''; display:block; clear:both;}
			.review-num {padding:0 0 0 2px;}
			.upc-code {display: none;}					//   upc코드 비노출 처리
			.no-review {
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		
		/* 사이즈, 구매, 장바구니 버튼 그룹핑*/
		.btn-group-box {
			position: relative;
			margin-top: 16px;
			margin-left: 0;
			padding-bottom: 20px;

			&.line {
				padding-top: 16px;
				border-top: 1px solid #e5e5e5;
				> * {
					padding-left: 0;					// 라이브러리 재공 그리드 재정의 
				}
			}
			.opt-tit {
				position: absolute;
				top: 0;
				left: 0;

				.tit {
					display: none 						//옵션 타이틀텍스트 비노출 처리
				}
				.msg {									//옵션 미 선택시 얼럿 텍스트 
					display: none;
					position: relative;
					width: 114px;
					height: 30px;
					margin-top: -24px;
					text-align: center;
					background: #111;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					font-size: 10px;
					color: #fff;
					line-height: 30px;
					
					&.msg-on {
						display: block;
					}
					&:before {
						position: absolute;
					    top: 22px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
					}
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 36px;
						left: -4px;
						width: 122px;
						height: 48px;
						border:3px solid red;
						box-sizing: border-box;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}

			/* 사이즈 셀렉트박스 */
			.select-box {
				width: 114px;
				.select-head {
					padding: 13px 11px 13px 11px;
				}
			}

			/* 사이즈가이드 */
			.option-guide {
				position: absolute;
				margin-top: 12px;
				font-size: 12px;
				color: #333;
				text-decoration: underline;
			}
		}

		/* 수량 */
		.quantity {
			display: none;
		}

		/* 구매, 장바구니 버튼 */
		.status-wrap {
			.btn-wrap {}
			.btn-link {
				width:49%;
				text-align:center;
				&.right {float:right}
				&.left {float:left;}
				&.optchange-btn {width:100%;}
				&.btn-login {width:100%;}
			}
			.selected-opt {
				display:table;
				width:100%;
				border-top:1px solid #ebebeb;
				padding: 15px 0;

				&:first-child {margin-top:30px;}
				&:after {content:""; display:block; clear:both;}

				.opt {
					display:table-cell;
					overflow:hidden;
					width:40%;
					max-height:32px;
					line-height:16px;
					font-size:12px;
					vertical-align:middle;
				}

				.quantity{
					display:table-cell;
				}

				.total-price {
					display:table-cell;
					color:#2b5275;
					> strong {
						// font-weight:bold;
						font-size:20px;}
				}

				.delete-btn {position:relative;}
			}
		}

		.guide-wrap {
			margin-top: 20px;
			text-align:center;

			.shipping-text {
				width:100%;
				padding: 15px 0;
				line-height: 1.4;
				border-top: 1px solid #e5e5e5;
			}

			.description {
				text-align:left;
				line-height:1.5em;
			}
			.shot-discription {
				border-bottom:1px solid $border-1;
			}

			.overview {
				text-align:left;
				border-top: 1px solid #e5e5e5;

				.tit {padding:20px 0 10px; font-size:14px;}
				.description {
					font-size: 12px;
					line-height:18px;
				}
			}
		}

		.sns-wrap {
			position: absolute;
			bottom: -10px;
			right: 0;

			// addthis extend
			.wish-btn {
				padding: 0;
				font-size: 24px;
				color: #ddd;
				.icon-wishlist_full {
					color: $primary-color;
				}
			}
			.ns-share {
				margin-left: 5px;
				font-size: 24px;
				color: #ddd;
			}
			.addthis_inline_share_toolbox {position:absolute; top:7px; right:0;}
			.icon-sns-kakao {
				display:none;
				position:absolute;
			    width:20px;
				right:0;
			}

			&:after {content:''; clear:both; display:block;}
		}
		
		/* 매장상품 확인, 예약 서비스 */
		.store-reserve-wrap {
			margin-top: 20px;

			.btn-storereserve {
				display: inline-block;
				width: 169px;
				height: 36px;
				background-color: #ccc;
				text-align: center;
				color: $font-1;
				font-weight: bold;
				font-size: 12px;
				line-height: 36px;
				vertical-align: top;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
			}
			.txt {
				display: inline-block;
				padding-top: 4px;
				padding-left: 16px;
				font-size: 11px;
				line-height: 15px;
				color: #333;
				vertical-align: top;
			}
			.ns-help {
				font-size: 30px;
				line-height: 0;
				color: #666;
				vertical-align: -5px;
			}
		}

		/* 입고알림 문자 */
		.stocked-wrap {
			margin-top: 20px;
			&.line {
				padding-top: 15px;
				border-top: 1px solid #e5e5e5;
			}
			.ns-live-chat {
				font-size: 26px;
				color: #666;
				vertical-align: middle;
			}
			.txt {
				padding: 0 3px 0 7px;
				font-weight: bold;
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				vertical-align: middle;
			}
			.ns-help {
				font-size: 28px;
				color: #666;
				vertical-align: middle;

			}
		}

		/* 무료배송/반품 서비스 메세지 */
		.message-wrap {
			margin-top: 20px;
			font-size: 11px;
			color: #333;
			line-height: 15px;
			
			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.bundle-item {
			padding:20px 0;
			border-top:1px solid $border-2;
			&:first-child {border:0;}

			.name { line-height:27px; font-size:14px; color: $primary-color; }
			.qty { line-height:27px; font-size:14px; color: $primary-color; }
		}
	}

	/*****************************************************************/
	/* new pdp */
	/*****************************************************************/
	/* 상품상세 이미지뷰 (신규 버전) */
	.img-detail_product_n {
		position:relative;
		width: 991px;
		width: calc(100% - 449px);
		padding: 0 54px;
		text-align:center;

		.img-detail-list {
			margin-left: -12px;
			li {
				padding-left: 12px;
				padding-bottom: 12px;
				.prd-gutter {
					padding: 20px;
					background: #f5f5f5;
				}
			}
		}

		.product-ico {
			position:absolute;
			right:30px;
			top:-20px;
			font-size:60px;
			color: $primary-color;
		}

		.masker {
			overflow:hidden;
			max-height:700px;
		}

		.product-gallery {
			.swipe-container {width:100%;}
			.bx-controls {display:none;}
		}

		.product-gallery-slide {
			width:100%;
			min-width:415px; 		/* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			margin-right:0;
			background: #f5f5f5;
			img {
				display:inline-block;
				padding: 50px; 		/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
			}
		}
	}
	
	/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
	.info-wrap_product_n {
		width: 449px;
		padding: 0 54px 0 10px;
		color: $font-2;
		box-sizing:border-box;
		text-align: left;
		
		.item-location {
			display: inline-block; 
			margin-top: 10px;
			margin-right: 3px;
			font-size: 14px;
			color: #2e2e2e;
		}
		.title-wrap {
			margin-bottom:4px;
			color: $font-0;
			font-size: 28px;
			font-weight: bold;
			.subtit {color: $primary-sub-color;}
			// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
			.close-btn {display:none;}
		}

		
		/* 상품가격 */
		.price-wrap {
			display: inline-block;
			font-size: 20px;
			letter-spacing: 0.1px;
			color: $prd_price;

			> .price-sale {
				font-size: 14px;
				text-decoration:line-through;
				color: #909090;
			}
			> .price {
				// font-weight:bold;
				color: $prd_sale-price;
				> strong {
					font-size: 14px;
					font-weight: normal;
				}
			}
			.sale-per {
				margin-top:14px;
				display:inline-block;
				margin-left:5px;
				color: $marketing-color;
				font-size:12px;
				&:hover {color: $marketing-color-over;}
			}
			.disc-num {
				display:inline-block;
			    margin-left:18px;
			    font-size:30px;
				color: $prd_sale-price;
			    font-weight:bold;
			}
		}
		
		/* 옵션, 스타일 그룹핑 */
		.pinfo-item-box {
			position: relative; 
			margin-top: 20px; 

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
		}

		/* 옵션 - 사이즈, 컬러 */
		.option-wrap {
			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}

			.tit {
				margin: 20px 0 8px; 
				font-weight: normal; 
				font-size: 12px; 
				color: $font-1;
				& span:first-child {
					display: none; 		//옵션타이틀명 비노출 처리 (ex: 컬러, 사이즈)
				}
			}
			.msg {
				display:inline-block; 
				margin-left:10px; 
				color: $caution-color;
			}
			.over-txt {
				display:inline-block; 
				color: #666;
				font-size: 10px;
			}
			.input-select {
				margin-top:10px;
				&:first-child {margin-top:0;}
			}

			.product-option_radio {

				&:after {content:''; display:block; clear:both;}

				.input-radio {
					position: relative;
					float: left;
					display: inline-block;
					width: 72px;
					height: 72px;
					margin: 0 5px 5px 0;
					vertical-align:top;
					&:first-child {}

					.label {
						padding: 11px 14px 0;
						letter-spacing: 0;
						display: inline-block;
						width: auto;
						height: 36px;
						text-align: center;
						color: $font-1;
						box-sizing:border-box;

						&.img-type {
							width: 72px;
							height: 72px;
							padding:0;
							background: #f5f5f5;
							> img {
								display:block; 
								width:100%;
								max-height: 72px;
								padding: 5px;				/* 나이키상품 여백없이 등록된 신발 이미지 관련 여백처리. 추후 개선 필요 */
							}
						}
					}
					.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

					// &:hover { 
					// 	.label {
					// 		border-color:$border-5;
					// 	} 
					// }
					&.checked,
					&:hover {
						.label {
							position:relative;
							color: $font-0;

							&:after {
								content:'';
								position:absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								border:3px solid  #e0e0e0;
							}
						}
					}
					&.disabled {
						.label {
							background-color: $form_bg-disabled;
							color: $form_text-color-disabled;

							&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
						}
					}
				}

				&.circle {
					.input-radio {
						padding:3px;
						.label {
							// border:none;
							&.img-type{
								overflow:hidden;
								width:40px;
								height:40px;
								padding:5px;
								border-radius:50%;

								img {border-radius:50%;}
							}

							&:hover {border:1px solid $primary-color;}
						}
						.pattern {width:28px; height:28px; border-radius:50%;}

						&.checked {
							.label {
								border:1px solid $default-color;
								background-color: $default-color;
								color: $font-6;
								&.img-type {
									padding:5px;
									background-color: transparent;
								}
								&:after{display:none;}
							}
						}
					}
				}
			}
		}


		/* 상품 별점 */
		.review-wrap {
			position: absolute;
			top: 50%;
			right: 40px;
			margin-top: -8px;
			font-size: 12px;
			color: $primary-color;

			.like {
			    position: relative;
			    display: inline-block;
			    height: 15px;
			    overflow: hidden;
			    font-size: 0;
			    color: #2e2e2e;

			    > i {
				    font-size: 14px;
				}
				.per {
				    position: absolute;
				    top: 0;
				    left: 0;
				    overflow: hidden;
				}
				.star-default-bg {
				    color: #a5a5a5;
				}
			}
			&:after {content:''; display:block; clear:both;}
			.review-num {display: none; padding:0 0 0 2px;} 		//   리뷰 숫자 비노출 처리
			.upc-code {display: none;}							//   upc코드 비노출 처리
			.no-review {
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				cursor: pointer;
			}
		}
		
		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑 - 셀렉트 박스 타입, 그리드 타입으로 사용하여 html hidden처리 함. */
		.size-wrap {
			position: relative; 

			&.line {
				border-bottom: 1px solid #e5e5e5;
			}
			.opt-tit {
				position: absolute;
				top: 0;
				left: 0;

				.tit {
					display: none 						//옵션 타이틀텍스트 비노출 처리
				}
				.msg {									//옵션 미 선택시 얼럿 텍스트 
					display: none;
					position: relative;
					width: 114px;
					height: 30px;
					margin-top: -24px;
					text-align: center;
					background: #111;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					font-size: 10px;
					color: #fff;
					line-height: 30px;
					
					&.msg-on {
						display: block;
					}
					&:before {
						position: absolute;
					    top: 22px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg);
					}
					&:after {
						content:'';
						display: block;
						position: absolute;
						top: 36px;
						left: -4px;
						width: 122px;
						height: 48px;
						border:3px solid red;
						box-sizing: border-box;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}
			.select-box {
				width: 114px;
				margin: 7px 0; 
				.select-head {
					padding: 13px 11px 13px 6px;
					border: 0;
					font-size: 15px;
					color: #2e2e2e;
				}
				&:before {
					position: absolute;
				    top: 50%;
				    right: 15px;
				    content: "";
				    display: inline-block;
				    width: 4px;
				    height: 4px;
				    margin-top: -6px;
				    border-right: 2px solid #111;
				    border-top: 2px solid #111;
				    transform: rotate(135deg);
				}
			}

			/* 사이즈가이드 */
			.option-guide {
				position: absolute;
			    top: 50%;
			    right: 6px;
			    margin-top: -5px;
				font-size: 12px;
				a {
					color: #aeaeae;
				}
			}
		}
		
		/* 사이즈 셀렉트박스, 사이즈가이드 그룹핑 - 그리드 타입 */
		.size-grid-type {
		    clear: both;
		    position: relative; 
		    width:100%;
		    box-sizing: border-box;
		    .btn-option {
		      display: block;
		      position: relative;
		      padding: 0;
		      text-align: left;
		      border: none;
		      height: 60px;
		      line-height: 60px;
		      .tit {
		        display:block;
		        width: 100%; 
		        font-size: 15px;
		        color: $font-1;
		      }
		      .default {
		        float: left;
		        width: -moz-calc(100% - 76px);
		        width: -webkit-calc(100% - 76px);
		        width: calc(100% - 76px);
		        -moz-border-radius: 3px;
		        -webkit-border-radius: 3px;
		        border-radius: 3px;
		        box-sizing: border-box;
		        text-align: right;
		        font-size: 12px;
		        color: $font-1;
		        padding-right: 20px;
		        &.selected {
		          color: #000;
		          font-weight:700
		        }
		      }  
		    }

		    .opt-list {
		      ul {
		        width: 100%;
		      }
		      li {
		        position: relative;
		        float: left;
		        display:table;
		        width: 20%;;
		        height: 62px;
		        box-sizing: border-box;
		        text-align: center;
		        &:before {
		          content:'';
		          display:block;
		          position: absolute;
		          top: -1px;
		          right: 0;
		          left: -1px;
		          bottom: 0;
		          border-left: 1px solid #e5e5e5;
		          border-right: 1px solid #e5e5e5;
		          border-bottom: 1px solid #e5e5e5;
		          border-top: 1px solid #e5e5e5;
		        }
		        a {
		          display: table-cell;
		          vertical-align: middle;
		          cursor: pointer;
		          &.sd-out {
		            background-color: #f7f7f7;
		            color: #ddd;
		            cursor: default;
		          }
		          &.selected {
		            background-color: #111;
		            color: #fff;
		          }
		        }
		      }
		    }
		    .option-guide {
		    	display: inline-block;
			    position: absolute;
			    top: 24px;
			    right: 0;
			    font-size: 12px;
			    a {
			    	color: #aeaeae;
			    }
		    }
		    .tit {
		    	.txt {
		    		display: none;		/* 사이즈 옵션 라벨값 비노출 처리 */
		    	}
		    }
		}

		/* 상품 옵션 - SIZE , Radio + Grid */
		.opt-list {
			span {
			  position: relative;
			  float: left;
			  display:table;
			  width: 20%;;
			  height: 62px;
			  box-sizing: border-box;
			  text-align: center;
			  &:before {
				content:'';
				display:block;
				position: absolute;
				top: -1px;
				right: 0;
				left: -1px;
				bottom: 0;
				border-left: 1px solid #e5e5e5;
				border-right: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
				border-top: 1px solid #e5e5e5;
			  }
			  &.disabled {
					background-color: $form_bg-disabled;
					color: $form_text-color-disabled;
					&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
			}
			  label {
				display: table-cell;
				vertical-align: middle;
				cursor: pointer;
				&.sd-out {
				  background-color: #f7f7f7;
				  color: #ddd;
				  cursor: default;
				}
				&.selected {
				  background-color: #111;
				  color: #fff;
				}
			  }
			}
			
		  }

		/* 구매, 장바구니 버튼 그룹핑*/
		.btn-group-box {
			clear: both;
			position: relative;
			margin-left: 0;
			padding-bottom: 20px;

			&.line {
				padding-top: 48px;
				border-bottom: 1px solid #e5e5e5;
				> * {
					padding-left: 0;					// 라이브러리 재공 그리드 재정의 
				}
			}
			.btn-wishlist {
				float: right;
				width: 81px;
				height: 48px;
				background-color: #000000;
				-webkit-border-radius: 2px;
			    -moz-border-radius: 2px;
			    border-radius: 2px;
			    > i {
			    	color: #fff;
			    	font-size: 18px;
			    }
			}
		}

		/* 수량 */
		.quantity {
			display: none;
		}

		/* 구매, 장바구니 버튼 */	
		.status-wrap {
			float: left;
			width: 304px;
			width: calc(100% - 81px);
			overflow: hidden;
			
			.order-wrap {
				float: left;
				width:100%;
				.btn-link {
					width: 49%;
					width: calc(50% - 3px);
					text-align:center;
					&.right {float:right}
					&.left {float:left;}
					&.optchange-btn {width:100%;}
					&.btn-login {width:100%;}
				}
			}
			
			.selected-opt {
				display:table;
				width:100%;
				border-top:1px solid #ebebeb;
				padding: 15px 0;

				&:first-child {margin-top:30px;}
				&:after {content:""; display:block; clear:both;}

				.opt {
					display:table-cell;
					overflow:hidden;
					width:40%;
					max-height:32px;
					line-height:16px;
					font-size:12px;
					vertical-align:middle;
				}

				.quantity{
					display:table-cell;
				}

				.total-price {
					display:table-cell;
					color:#2b5275;
					> strong {
						// font-weight:bold;
						font-size:20px;}
				}

				.delete-btn {position:relative;}
			}
		}

		.guide-wrap {
			text-align:center;

			.shipping-text {
				width:100%;
				padding: 20px 0 ;
				line-height: 1.4;
				border-bottom: 1px solid #e5e5e5;
			}

			.description {
				text-align:left;
				line-height:1.5em;
			}
			.shot-discription {
				border-bottom:1px solid $border-1;
			}

			.overview {
				text-align:left;
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 20px;

				.tit {padding:20px 0 10px; font-size:14px;}
				.description {
					font-size: 12px;
					line-height:18px;
				}
			}
		}

		.sns-wrap {
			position: absolute;
			bottom: -10px;
			right: 0;

			// addthis extend
			.wish-btn {
				padding: 0;
				font-size: 24px;
				color: #ddd;
				.icon-wishlist_full {
					color: $primary-color;
				}
			}
			.ns-share {
				margin-left: 5px;
				font-size: 24px;
				color: #ddd;
			}
			.addthis_inline_share_toolbox {position:absolute; top:7px; right:0;}
			.icon-sns-kakao {
				display:none;
				position:absolute;
			    width:20px;
				right:0;
			}

			&:after {content:''; clear:both; display:block;}
		}
		
		/* 매장상품 확인, 예약 서비스 */
		.store-reserve-wrap {
			margin-top: 23px;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}

			.btn-storereserve {
				display: inline-block;
				color: #2e2e2e;
				font-weight: bold;
				font-size: 13px;
				vertical-align: top;
			}
			.icon {
				font-size: 19px;
				line-height: 0;
				color: #666;
				vertical-align: -3px;
			}
		}

		/* 입고알림 문자 */
		.stocked-wrap {
			clear: both;
			position: relative;
			margin-top: -1px;
			background: $bg-1;
			z-index: 2;

			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.ns-live-chat {
				font-size: 26px;
				color: #666;
				vertical-align: middle;
			}
			.txt {
				padding: 0 3px 0 7px;
				font-weight: bold;
				font-size: 13px;
				color: #2e2e2e;
				vertical-align: middle;
			}
			.ns-help {
				font-size: 28px;
				color: #666;
				vertical-align: middle;

			}
		}

		/* 무료배송/반품 서비스 메세지 */
		.message-wrap {
			margin-top: 20px;
			font-size: 11px;
			color: #333;
			line-height: 15px;
			
			&.line {
				padding-bottom: 20px;
				border-bottom: 1px solid #e5e5e5;
			}
			.txt {
				display: inline-block;
				vertical-align: middle;
			}
		}

		/* 상품정보 등 아코디언 스타일 */
		.discription-wrap {
			text-align: left;

			.pop-detail-title {
				position: relative; 
			    padding: 18px 0 18px 6px;
			    border-bottom: 1px solid #e5e5e5;
			    margin-bottom: 0;
			    font-size: 17px;
			    background-color: #fff;
			    color: #2e2e2e;
			    &.title-design {
			    	display: none; 
			    }
			    &:after {
					font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e037";

				    float: right;
				    display: block;
				    font-size: 18px;
				    margin-top: 4px;
				 
			    }
			    &.uk-active:after {
			    	font-family: 'nike' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
			    	content: "\e02d";

				    float: right;
				    display: block;
				    font-size: 18px;
				  	margin-top: 4px;
			    }
			    .uk-accordion-content {
			    	padding: 0 0 15px 0;
				    line-height: 20px;
				    font-size: 12px;
				    color: #000
			    }
			}
			.pop-detail-content {
				padding: 20px 6px;
				text-align: left;
				line-height: 1.9;
				font-size: 13px;
				color: #2e2e2e;
				border-bottom: 1px solid #e5e5e5;
			}
		}
		




		.bundle-item {
			padding:20px 0;
			border-top:1px solid $border-2;
			&:first-child {border:0;}

			.name { line-height:27px; font-size:14px; color: $primary-color; }
			.qty { line-height:27px; font-size:14px; color: $primary-color; }
		}


		/* tooltip */
		.tooltip-pos {
			display: none;
		}
		.tooltip-bg {
			position: absolute;
		    top: 0;
		    right: 50%;
		    min-width: 84px;
		     -webkit-transform: translate(50%, -75%);
		    transform: translate(50%, -75%);
		    text-transform: none;
		    border-radius: 2px;
		    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		   

		    -webkit-box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;
   			box-shadow: inset 0 1px 0 0 #ddd, inset -1px 0 0 0 #ddd, inset 0 -1px 0 0 #ddd, inset 1px 0 0 0 #ddd;

   			background: #fff;
   			color: #111;
   			padding: 9px 12px;
   			font-size: 12px;
   			box-sizing: border-box;
   			z-index: 2;
   			text-align: center;
   			white-space: nowrap;

   			&:after {
   				content: "";
			    display: block;
			    position: absolute;
			    bottom: 0px;
			    right: 50%;
			    width: 8px;
			    height: 8px;
			    background: #fff;
			    border-bottom: 1px solid #ddd;
			    border-left: 1px solid #ddd;
			    transform: translate(50%, 50%) rotate(-45deg);
			    -webkit-transform: translate(50%, 50%) rotate(-45deg)
   			}
		}
		.mini-icon {
			position: absolute;
			bottom: 4px;
			left: 3px;
			font-size: 17px;
		}

		.product-option-container {
			width:385px;

			&.fixed {
				position:fixed;
				&.top{
					top:0;
				}
				&.bottom{
					bottom:0;
				}
			}
			&.absolute{
				position:absolute;
				&.top{
					top:0;
				}
				&.bottom{
					bottom:0;
				}
			}
		}
	}


	/* mobile chk*/
	body {
		&.mobile {
			.info-wrap_product{
				.sns-wrap {
					.addthis_inline_share_toolbox {right:27px;}
					.icon-sns-kakao {
						display:inline-block;
					}
				}
			}
		}
	}

	
	/* 상세페이지 빅이미지
	/*****************************************************************/

	/* datail title */
	.pop-detail-title {font-size:16px; padding:0 10px;}
	
	.product-detail_view {
		position:relative;
		margin-top:60px;
		padding:70px 0 0;

		&:after {
			content: '';
			position: absolute;
			top:0;
			//width: 3600px;  // 확인필요
			margin-left: -1000px;
			background: $bg-1;
			border-top: 1px solid $border-2;
		}
		&.line {
			border-top: 1px solid #e5e5e5;
		}
		
		/* 상품상세 설명 탭부분 */	
		.detail-tab {
			width: 576px;
			margin:0 auto;
			text-align:center;

			&:after {content:""; display:block; clear:both;}
			//reset
			list-style-type:none; padding:0; border:0;

			.btn-tab {
				position: relative;
			    float: left;
			    width: 144px;
			    margin-left: -1px;
			    padding-bottom: 0;
			    background-color: #f8f8f8;
			    &:first-child {
			    	margin-left: 0;
			    }
			    &:hover {
			    	border-bottom: 0;
			    }
			    > a {
			    	display: block;
				    padding: 10px 0;
				    border-top: 1px solid #e5e5e5;
				    border-bottom: 1px solid #e5e5e5;
				    border-right: 1px solid #e5e5e5;
				    font-size: 12px;
				    color: #2e2e2e;
				    &:first-child {
				    	border-left: 1px solid #e5e5e5;
				    }

			    }
			    &.uk-active  {
			    	border-bottom: 0;
	   				background-color: #2e2e2e;

	   				 :after {
				    	position: absolute;
					    top: 28px;
					    left: 50%;
					    display: block;
					    width: 10px;
					    height: 10px;
					    content: " ";
					    margin-left: -5px;
					    border-right: 1px solid #2e2e2e;
					    border-bottom: 1px solid #2e2e2e;
					    background: #2e2e2e;
					    -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					    -webkit-transform: rotate(45deg);
					    transform: rotate(45deg)
				    }
				    a {
				    	color: #fff;
				    }
			    }

				// float:none;
				// display:inline-block;

				// > a {
				// 	display:inline-block;
				// 	padding:40px 0 0;
				// 	text-decoration:none;
				// 	outline:none;
				// 	&:hover, &:active {text-decoration:none;}
				// }
			}
		}

		/* 상세정보 탭 내용 */
		.detail-info {
			padding: 60px 0 30px;
			line-height: 20px;
			font-size: 12px;
			
			/* 상세정보 탭 - 제품상세설명 style : str */
			.content {
			    position: relative;
			    width: 902px;
			    margin: 0 auto;
			    zoom:1;
				&:after {
					content: '.';
				    display: block;
				    height: 0px;
				    clear: both;
				    visibility: hidden;
				}
				.sectionL {
				    float: left;
				    width: 300px;
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				   	box-sizing: border-box;

				    img {
					    position: relative;
					    display: block;
					    width: 100%;
					}
					.imgArea {
					    width: 300px;
					    height: 300px;
					    background-color: #f5f5f5;
					    border: 1px solid #f5f5f5;
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					   	box-sizing: border-box;
					}
				}
				.sectionR {
				    float: left;
				    width: 540px;
				    margin-left: 30px;
				    text-align: left;
				    > h2,
				    > h3 {
				    	color: #333;
					    font-size: 38px;
					    font-weight: bold;
					    letter-spacing: -1.5px;
				    }
				    > h3 {
					    margin-top: 27px;
					    font-size: 16px;
					    line-height: 14px;
					}
					> p {
					    margin-top: 21px;
					    color: #666;
					    line-height: 16px;
					    letter-spacing: -0.5px;
					}
					> ul {
					    margin-top: 10px;
					    li {
						    padding-left: 10px;
						    background: url(/assets/images/bl_dot.png) no-repeat left 7px;
						    color: #666;
						    line-height: 1.5;
						    letter-spacing: -0.5px;
						    font-weight: 300;
						}
						&.movie {
						    position: absolute;
						    top: 350px;
						    left: 40px;
						    li {
							    float: left;
							    position: relative;
							    padding-left: 0px;
							    margin-left: 12px;
							    background: url(http://image.nike.co.kr/web/bg/bg-mov-board.png) 0 0 no-repeat;

							    a >.btn {
								    display: none;
								    position: absolute;
								    top: 50%;
								    left: 50%;
								    margin-left: -14px;
								    margin-top: -14px;
								    width: 25px;
								    height: 25px;
								    background: url(http://image.nike.co.kr/web/btn/btn-mov-play.png) 0 0 no-repeat;
								}

								.tip {
								    display: none;
								    position: absolute;
								    left: -14px;
								    top: -50px;
								    width: 104px;
								    height: 47px;
								    padding: 8px;
								    background: url(http://image.nike.co.kr/web/bg/bg_mov_tip.png) no-repeat;
								    font-size: 10px;
								    color: #fff;
								    text-align: center;
								    z-index: 50;
								    span {
									    display: inline-block;
									    overflow: hidden;
									    width: 100px;
									    height: 27px;
									    line-height: 13px;
									    letter-spacing: -0.5px;
									}
								}

								&:hover {
									a >.btn {
									    display: block;
									}

									.tip {
									    display: block;
									}
								}
							}
						}
					}
				}
			}
			/* 상세정보 탭 - 제품상세설명 style : end */

			/* 상세페이지 상품정보 고시부분 */
			.product-noti-content {
				margin-top: 60px; 
				padding: 60px 100px 0;
				border-top: 1px solid #e5e5e5;
				font-size:12px;
				color: #737373;

				> dl {
					padding:0;
					border:0;
					margin: 10px 0 0 0;
					&:first-child {margin-top:0;}
				}


				.noti-common {
					min-height: 18px;
					line-height: 18px;
					&:before {content:''; display:block; padding-top: 2px;}
				}
				.noit-title {float:left; width:200px;
					// font-weight:bold;
					 @extend .noti-common;}
				.noti-value {overflow:hidden; @extend .noti-common;}
			}

		}
		
		/* 배송/결제 정보 탭내용 */
		.detail-delivery {
			line-height: 1.6;
			padding: 60px 100px 30px;

			.delivery-text {padding:70px 0; text-align:center;}
			h1, h2, h3, h4, h5, h6 {
				margin-top: 15px;
			}
			ul {margin-top: 5px;}
		}

		/* 유의사항 탭내용  */
		.detail-attention {
			padding: 20px 100px;

			.at-box {
				&:after {
					content:'';
					display: block;
					clear: both;
				}
				.at-image {
				    float: left;
				    width: 200px;
				    height: 200px;
				    padding: 40px 58px;
				}
				.tit {
					font-size: 14px;
					color:#2e2e2e;
					margin-top: 40px;
					margin-bottom: 17px;
				}
				.at-text {
					float: left;
					width: 580px;
					font-size: 12px;
	 				line-height: 1.7;
	 				font-size: 12px;
	 				color: #666;
				}
			}
		}
		
		
		/* 교환/반품/AS 내용 */
		.detail-sevice {
			padding: 20px 100px;

			.tit {
				margin-top: 40px;
				margin-bottom: 17px;
				font-size: 14px;
				color: #2e2e2e;
			}
			li {
				font-size: 12px;
				line-height: 1.7;
				color: #666;
			}
			.detail-btn {
				display: inline-block;
				width: 66px;
				height: 24px;
				border-radius: 2.5px;
				border: solid 1px #dddddd;
				background-color: #f8f8f8;
				color: #111;
				font-size: 12px;
				line-height: 24px;
				text-align: center;
			}
		}
	}


	/* product review write modal - uikit redefine*/
	.review-write {
		.uk-modal-dialog {
			// width:480px;
			//padding:0;

			.popup-close_btn{
				&:first-child {
					margin:0;
				}
			}
		}
	}

	/* product, main review write */
	.order-lanscape-list {
		position: relative;

		&:after {content:'';display:block; clear:both;}

		.image-wrap {
			float: left;
		 	overflow: hidden;
			width: 60px;
		}
		.order-info {
			@include calc( width, '100% - 60px');
			@include box-sizing();
			float: left;
			padding-left: 20px;
			font-family:$typo-ko;
			.tit {
				overflow: hidden;
				display: inline-block;
			 	min-width: 100%;
				max-height: 32px;
				line-height: 16px;
				color: $primary-color;

			}
			.option {
				display:block;
				margin-top:5px;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
				span {
					display:block;
				}
			}
			.qty {
				display:block;
				font-size:$font-size-s;
				color:$font-3;
				line-height:18px;
			}
			.price-wrap {
				display:block;
				margin-top:5px;
				font-size:13px;
				color:$font-1;

				.sale-price {
					text-decoration:line-through;
					font-size:11px;
					color:$font-3;
				}
			}
		}
	}

	.review-write {
		@include box-sizing();
		// max-width:480px;
		padding:0 40px 30px;
        background:white;
		fieldset {
			border:0;
			padding:0;
			> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
		}

		.order-lanscape-list {
			padding: 40px 0 20px;;
		}

		.tit {color: $primary-color;}
		.like {margin:30px 0;}

		.rating-star-data {
			padding:10px 0 20px;
			text-align:center;

			.rating-description {
				padding:15px 0;
			}

		}
		.opt-value-data {
			padding:10px 0;
			//font-size:0;
			//line-height:0;

			.opt-txt {
				display:inline-block;
				/*width:53px;
				height:36px;*/
				font-size:13px;
				line-height:36px;
				color:$font-1;
				vertical-align:top;
			}
			.opt-strip {
				display:table;
				//display:block;
				width:100%;

				.radio-style {
					display:table-cell;
					/*&:first-child {
						@include calc( width, '33%');
					}
					@include calc( width, '33% - 7px');
					*/
				}
			}
			.opt-strip-label {
				margin-top:10px;
				.last {float:right;}
				&:after {content:''; display:block; clear:both;}
			}
		}
		.write-comment {
			margin-top:20px;
		}

		.review-img-uploader {

			.uplode-preview-list{
				margin-bottom:10px;

				.preview-up-img {
					position:relative;
					overflow:hidden;
					display:inline-block;
					width:58px;
					height:78px;
					margin:0 4px 10px 0;
					border:1px solid $border-3;
					background-color:$bg-2;

					.file-remove_btn {
						position:absolute;
						top:0;
						right:0;
					}

				}

			}

		}
		.review-btnarea{
			margin-top:40px;
		}
	}



	.product-opt_current {
		padding:20px 0;

		&:after {content:""; display:block; clear:both;}
		> .item-info {
			float:left;
			&:after {content:""; display:block; clear:both;}

			> .img-wrap {
				float:left;
				display:inline-block;
				width:60px;
				img {width:100%; display:block;}
			}
			> .info-wrap {
				float:left;
				height:60px;
				margin:12px 0 0 20px;
				display:inline-block;
				.tit {display:inline-block;width:100%;}
				.price {display:inline-block; margin-top:10px;}
			}
		}

		> .item-btn {
			float:right;
		}
	}


	/* 상세페이지 안의 상품평 (리뷰 있을때, 없을때 )  : str
	/*****************************************************************/

	/* 상세 uk-accordion 부분에 들어가는 총별점, 리뷰버튼 재정의 */
	.detail-review-summary {
		margin-left: 0;
		border-left:0;
		> * {
			padding: 0;
		}
		.star-total-info {
			text-align: left;
			margin-top: 0;
			.star-average {
				margin-bottom: 5px;
				.like {
					position: relative;
					display: inline-block;
					width: 85px;
					height: 16px;
					overflow: hidden;
					vertical-align: middle;
					color: #000;
					>i {
						font-size: 16px;
					}
				}
				.star-default-bg {
					color: #e1e1e1;
				}
				.review-write-btn {
				    display: inline-block;
				    margin-top: 20px;
				    color: #2e2e2e;
				    border-bottom: 1px solid #2e2e2e;
				    font-size: 13px;
				    line-height: 14px;
				}
			}

			.star-average .like .per {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
			}
			.review-write-btn {
			    display: inline-block;
			    width: auto;
			    margin-top: 0;
			    padding: 0;
			    color: #2e2e2e;
			    border-bottom: 1px solid #2e2e2e;
			    font-size: 13px;
			    line-height: 14px;
			}
			.total-star-point {
				font-size: 13px;
				color: #2e2e2e;
				vertical-align: -3px;
			}
		
		}
		.review-write-btn {
			width: 176px;
			padding: 15px 30px;
		}
		.star-total-info {
			
		}
		
	}
	/* 상세 uk-accordion 부분에 들어가는 상품평리스트 재정의 */
	.detail-reviewlist-summary {
		.n-review-read {
			ul {
				margin-bottom: 0;
				> li {
					padding-bottom: 0;
					border-top: 0;
				}
			}
			.read-list {
				width: 100%;
				margin-top: 40px;
				padding: 0;
				.read-subject {
					margin-bottom: 5px;
				}
				.user-info {
					display: inline-block;
					margin-right: 20px;
					margin-bottom: 0;
				}
				.read-comment {
					margin-top: 5px;
				}
				.shorten-detail {display: none;}
				.shorten_expand .shorten-ellipses {display: none;}
				.shorten_expand .shorten-detail {display: inline;}
				.shorten-toggle {
				   margin-left: 5px; 
				   text-decoration: underline;
				}
			}
			.btn-pagination {
				display: none;     /* 페이징 비노출 처리 */  
			}
			.pc-only {
				display: none !important;
			}
		}
		.btn-more-review {
			border-bottom: 1px solid #2e2e2e;
		}
	}

	/*상세페이지 안의 상품평 (리뷰 있을때, 없을때)  : end */


	/* 상세 하단 고정부분 (상품간략정보 + 옵션변경 레이어)
	/*****************************************************************/
	.mini-option-wrap {
		position:fixed;
		left:0;
		right:0;
		bottom:-60px;
		height:60px;
		margin:0 auto;
		z-index:980;

		&:after {
			content:'';
			position:absolute;
			width:250%;
			margin-left:-1000px;
			height:60px;
			background: $bg-1;
			border-top:1px solid $border-2;
		}
		.mini-product-item {
			float:left;
			.product-thumb-img {
				display:inline-block;
				width:40px;
				height:40px;
				margin-left:15px;
				vertical-align:top;
				img {width:32px;}
			}
			.mini-product-info {
				display:inline-block;
				max-width:300px;
				margin-left:5px;
				.tit {
					display:block;
				}
				.price {
					display:block;
					margin-top:5px;
					color: $prd_sale-price;
					strong {font-weight: normal;}
				}
			}

		}

		> .btn-wrap {
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			height:60px;
			padding-top:10px;
			box-sizing:border-box;
			background-color: $bg-1;
			border-top:1px solid $border-2;
			z-index:1;

			.minioptbtn {position:absolute; top:10px; right:0; display:inline-block; width:240px; margin:0 15px 0 0; text-align:center;}
			.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
		}

		/* 하단 fixed부분의 옵션선택 */
		.info-wrap_product_n {
			display:none;
			text-indent:-9999px;
			visibility:hidden;

			position:absolute;
			right:0;
			bottom:0;
			padding-left:0;
			border:1px solid $border-2;
			background-color: $bg-1;
			z-index:20;
			padding: 0;

			.title-wrap {
				border-bottom:1px solid $border-2;
				margin-bottom:0;
				font-size:14px;

				.tit {overflow:hidden; display:inline-block; margin-top:0; padding:20px 14px 15px; font-size:14px; }
				.subtit {display:none;}
				.close-btn {display:block; padding:14px; font-size: 20px; background-color: transparent;}
			}
			.option-wrap, .status-wrap {
				padding:0 14px;
			}

			/* 하단 fiexed부분의 사이즈와 쇼핑백담기, 구매하기 그룹핑 */ 
			.btn-group-box {
				padding-bottom: 16px;
				
				.opt-tit {
					left: 14px;
					.msg {
						&:after {
							width: 128px;
						}
					}
				}
				.select-box {
					width: 120px;
					margin-left: 14px;

					.select-body {
						bottom: 39px;
					}
				}
			}
			.pinfo-item-box {
				&.line {
					border-top: 0;
				}
				.style-code {			/* 하단 fixed 옵션 스타일코드 위치 재정의 */
					top: 0;
					right: 14px;
				}
			}
			.status-wrap {
				.btn-wrap {
					width:100%;
					padding-bottom:20px;
				}
			}

			.guide-wrap, 
			.price-wrap, 
			.review-wrap, 
			.sns-wrap, 
			.item-location,
			.store-reserve-wrap,
			.message-wrap,
			.stocked-wrap,
			.option-guide,
			.discription-wrap {display:none;} 		/* 하단 fixed 옵션선택 레이어부분 비노출 처리 */

			&.active {display:block; text-indent:0; visibility:visible;}
		}

		.dim {z-index:10;}
	}

	.product-soldout, .product-comming {
		text-align:center;

		.soldout, .comming {
			display:inline-block;
			width: 100%;
			padding:12px 20px;
			margin-top:50px;
			font-size:16px;
			background-color:$bg-5;
			color: $font-3;
			box-sizing: border-box;
		}

		.comming {
			margin-top:0;
		}
	}



	.shot-discription {
		padding:20px 0;
		word-break:break-all;
		white-space:pre-wrap;
		line-height:1.5em;
		text-align:left;
	}

	/* 최근본 상품 */
	/*
	.contents {
		&.latest-items {
			.contents-title {
				&.center {padding-bottom: 0;}
			}

		}
	}
	*/

	.stone-guide {
		display:none;
		height:0;
	}

	/* modalLayer guide */
	#guide{
		.uk-modal-dialog {width:600px;}
	}

	/* 상품 QnA */
	.qna-wrapper {
		margin-bottom:80px;
		.tit {text-align:center; margin-bottom:20px;}
		.product-qna-btn-group {text-align:center;}
		.qna-less {
			.info {padding-top:50px; text-align:center;}
		}

		.write-comment {
			> textarea {
				border:1px solid $border-3;
				background:#fff;
			}
		}
		.qna-list {
			margin-top:30px;
			.list {
				position:relative;
				padding:20px 30px;
				border-bottom:1px solid $border-2;
				&:first-child {border-top:1px solid $border-2;}
			}
			.question-container, .answer-container {
				position:relative;
				padding-left:52px;
				font-size:14px;
				color:#2e2e2e;

				&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
				.custom-info {
					margin-top:8px;
					font-size:12px;
					color:$font-3;

					> * {display:inline-block;}
					.date {margin-left:10px;}
				}
			}
			.question-container {
				min-height:45px;
				&:before {content:"Q";}
			}
			.answer-container {
				margin-top:28px;
				&:before {content:"A";}
				.content {min-height:30px;}
			}
			.btn-container {
				position:absolute;
				top:20px;
				right:30px;
				z-index:5;

				> .btn-link {padding:0;}
			}
		}


		.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
	}



	/* mediaquery */

	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

		//product option
		.product-detail_wrap {
			> .img-detail_product {
				.product-gallery-slide {
					min-width:320px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
				}
			}
		}

		.info-wrap_product{
			.status-wrap {
				.btn-wrap {margin-top:30px;}
				.btn-link {
					width:100%;
					margin-top:10px;
					text-align:center;
					&:first-child {margin-top:0}
					&.right {float:inherit}
					&.left {float:inherit;}
				}
			}
		}

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		//product option
		.product-detail_wrap {
			> .img-detail_product {
				padding:0;
			}
			> .info-wrap_product {
				margin-top: 35px;
				padding: 0 16px;
			}

			.select-box {width:100%;}
		}

		/* product name */
		.info-wrap_product  {
			.title-wrap {margin-bottom:3px;}
		}

		.product-gallery-wrap {
			.product-thumb {display:none;}
			//slide
			.product-gallery {
				.bx-controls {display:block;margin-top:-10px;}
			}

			&.left {
				.product-gallery {padding:0;}
			}
		}


		/*.img-detail_product {
			position:relative;
			padding-right: 40px;
			text-align:center;*/

		/* new pdp */
		/****************************************************/
		/* 상품상세 이미지뷰 (신규 버전) */
		.img-detail_product_n {
			width: 100%;
			padding: 0;
			.product-gallery-slide {
				min-width: auto;
				margin: 0 0 2px 2px;
				&:first-child {
					margin-left: -2px;
				}
				img {
					padding: 15px;
				}
			}

			.bx-wrapper {
				.bx-controls {
					position: absolute;
					bottom: 32px;
					left: 0;
					width: 100%;
					padding: 0 24px;
					box-sizing: border-box;
				}
				.bx-pager{
					display: table;
					width: 100%;

					.bx-pager-item {
						display: table-cell;
					}
					&.bx-default-pager {
						a{
							width: 100%;
							height: 2px;
							margin: 0;
							border-radius: 0;
							border:0; 
							background: #ccc;

							&.active {
								background: #111;
							}
						}
					}
				}
			}
		}

		/* 상품 정보 - 상품명, 옵션, 가격 (신규 버전) */
		.info-wrap_product_n {
			width: 100%;
			padding: 0;
			.title-wrap {
				margin-top: 50px;
				padding: 0 16px;
				text-align: center;
			}
			.price-wrap {
				width: 100%;
				text-align: center;
			}
			.store-reserve-wrap {
				margin-left: 24px;
				margin-right: 24px;
			}
			.size-wrap {
				margin-left: 24px;
				margin-right: 24px;
			}
			.size-grid-type {
				padding: 0 24px;
				.option-guide {
					right: 24px;
				}
			}
			.btn-group-box {
				margin-left: 24px;
				margin-right: 24px;
				&.line {
					padding-top: 15px;
				}
			}
			.status-wrap {
				.order-wrap {
					width: calc(100% - 83px);
				}
			}
			.stocked-wrap {
				margin-left: 24px;
				margin-right: 24px;
			}
			.discription-wrap {
				.pop-detail-title {
					padding: 18px 24px 18px 24px;
				}
				.pop-detail-content {
					padding-left: 24px;
					padding-right: 24px;
				}
			}
			.guide-wrap {
				.overview {
					padding-left: 24px;
					padding-right: 24px;
				}
			}
			.message-wrap {
				padding-left: 24px;
				padding-right: 24px;
			}
			.review-wrap {
				right: 60px;
			}
		}

		/* 상품 갤러리 */
		.img-detail_product_n {
			.img-detail-list {
				margin-left: 0;
			}
		}

		//product view
		.product-detail_view {
			margin-top:0;
			.detail-tab {display:none; margin:0;width:inherit;}
			.btn-tab {
				font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
				&.uk-active{
					position:relative;
					&:before {
						content:'';
						position:absolute;
						display:block;
						bottom:-1px;
						left:0;
						width:100%;
						border-bottom:2px solid  $primary-color;
					}

				}
			}
			.detail-delivery {
				.delivery-text {padding:30px 0;}
			}
		}

		/* 상품평 */
		.detail-review {
			padding: 0;
			.pop-detail-title {padding:0 0 10px;}
		}

		/* 상품정보고시 */
		.product-noti-content {
			.noit-title {float:none;}
			.noti-value {padding-top:0;}
		}

		/* 상품타이틀 */
		.info-wrap_product {
			.title-wrap {
				.tit {font-size:17px;}
			}
			.price-wrap {
				> .price {
					> strong {font-size:24px;}
				}
			}
			.option-wrap {
				> .tit {margin:15px 0 8px;}
				// .option-guide {
				// 	padding:10px 0 0 0;
				// 	font-size:12px;
				// }
			}
			.review-wrap {border-bottom:0;}
		}

		/* 미니옵션 */
		.mini-option-wrap {
			height:56px;

			&:after {height:56px;}
			.mini-product-item {display:none;}
			> .btn-wrap {
				height:56px;
				padding:6px;
				box-sizing:border-box;

				.minioptbtn {
					position:static;
					width:100%;
					height:40px;
					margin:0;
					padding:13px 30px;
					box-sizing:border-box;
					text-align:center;
				}
				.wishlist-btn {display:none;}
			}

		}

		.review-write {
			padding:0;
		}

		/* guide wrap */


	}


	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.detail-delivery {padding:0 16px;}
		.product-detail_view {
			padding:40px 16px;
		}
		.n-review-read {
			margin-left: 0;
		}
		.info-wrap_product_n {
			.item-location {
				color: #909090;
			}
			.price-wrap {
				// > span {
				// 	&.price {
				// 		color: #111;
				// 	}
				// }
			}
			.size-wrap {
				.select-box {
					width: 120px;
					padding: 0;
					> select {
						padding: 0 30px 0 6px;
						border: 0; 
						font-size: 15px;
					}
				}
			}
			
		}
	}