@charset "utf-8";

/* 입고알림 팝업 style  */
  #restock-notification {
    .uk-modal-dialog {
      width: 640px;
    }
  }
.restock-wrap {
  padding: 0;position: relative;
  .top {
    display: block;
    padding-bottom: 0;
    overflow: hidden;
    width: 100%;
    .pdttxt {
      float: none;
      text-align: center;
      h2 {
        padding: 27px 0 0;
        font-size: 24px;
        color: #000;
        font-weight: 700;
        margin: 0 20px;
      }
      .note {
        border-bottom: 1px solid #e5e5e5;
        margin: 0 20px;
        padding: 20px 0 16px;
        display: block;
        font-size: 13px;
        color: #8d8d8d;
      }
    }
  }
  .nodata {
    padding: 16px 54px 76px 86px;
    text-align: left;
     p {
      display: inline-block;
      text-align: left;
      font-size: 14px;
      color: #8d8d8d;
      line-height: 1.7;
      text-indent: -42px;
    }
    .ns-info {
      margin-right: 18px;
      font-size: 26px;
      color: #111;
      vertical-align: middle;
    }
  }
 

}

.selectwrap {
  display: block;
  width: auto;
  padding-bottom: 0;
  margin: 0 20px;
  position: relative;
  text-align: center;
  border-bottom: none;
  overflow: hidden; 
  > .lc_pop_ttl {
    font-weight: 700;
    font-size: 13px;
    color: #8d8d8d;
    padding-top: 24px;
  }
  > .lc_pop_ttl.not_lc {
    font-size: 15px;
    color: #000;
  }
  > .lc_pop_nickname {
    font-weight: 400;
    letter-spacing: -0.1px;
    font-size: 20px;
    color: $font-1;
    padding-top: 24px;
  }
  .select_type01 {
    position:relative;
    overflow:hidden;
    padding: 0 0 20px;
    .bx-wrapper {
      -webkit-box-shadow:none;
      box-shadow:none;
      .bx-pager {
        display:none;
      }
    }
    .mtopslider {
      li {
        text-align:center;
        position: relative;
        img {
          box-sizing: border-box;
          padding: 20px 30% 65px;
        }
        p {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          font-size: 12px;
          font-weight: 400;
          color: #777777;
          span {
            display: block;
            font-size: 11px;
            font-weight: 400;
            color: #666;
            margin-top:3px;
          }
        }
      }
    }
  }

  /* color option - select */
  .select-color-wrap {
    float: left;
    width: 100%;
    padding: 0 64px;
    text-align: left;
    box-sizing: border-box;

    .tit {
      float: left;
      width: 60px; 
      margin-top: 27px;
      margin-right: 16px;
      font-size:12px;
      color: $font-1;
    }
    .select-color {
      position: relative;
      float: left;
      padding: 8px 0 8px 16px;
      width: -moz-calc(100% - 76px);
      width: -webkit-calc(100% - 76px);
      width: calc(100% - 76px);
      border: 1px solid #e8e8e8;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      box-sizing: border-box;
      .btn-option {
        &:before {
          position: absolute;
          top: 50%;
          right: 20px;
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-top: -8px;
          border-right: 3px solid #111;
          border-top: 3px solid #111;
          transform: rotate(135deg);
        }
      }
      .prd-img {
        float: left;
        width: 54px;
        padding: 2px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        &.active {
          position: relative;
          &:before {
            content:'';
            position:absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            display:block;
            border: 3px solid #e0e0e0
          }
        }
        .thumb {
          width: 100%;
       }
      }
      .opt {
        float: left;
        margin-top: 15px;
        padding-left: 16px;
        .optname,
        .optcode {
          display: block;
          font-size: 12px;
          color: #8d8d8d;
          line-height: 1.3;
        }
      }
    }
    /* color option list */
    .opt_list {
      clear: both;
      position: absolute;
      top: 100%;
      left: -1px;
      width: 100%;
      margin-top: -1px;
      border: none;
      background: #fff;
      border: 1px solid #e8e8e8;
      border-top: 0;
      z-index: 10;
      ul {
        overflow:hidden;
        li {
          padding: 0;
          float: left;
          width:100%;
          padding: 8px 0 8px 16px;
          box-sizing: border-box;
          a {
            display: block;
            background: #fff;
            .prd-img {
              float: left; 
              width: 54px;
              padding: 2px;
              border: 1px solid #e0e0e0;
              box-sizing: border-box;
            }
            .opt {
              float: left;
              margin-top: 15px;
              padding-left: 16px;
            }
            &.sd_out {
              background: #f7f7f7;
              color: #dddddd;
              cursor: default;
            }
            &.off {
              cursor: default;
            }
            &.selected {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /* size option - select */
  .select-size {
    clear: both;
    width:100%;
    float: left;
    margin-top: 24px;
    padding: 0 64px;
    box-sizing: border-box;
    .btn-option {
      display: block;
      position: relative;
      padding: 0;
      text-align: left;
      border: none;
      height: 60px;
      line-height: 60px;
      border-top: 1px solid #e5e5e5;
      &:before {
        position: absolute;
        top:0;
        right: 0;
        font-family: 'nike';
        content: "\e037";
        font-size: 15px;
      }
      &.open {
        &:before {
          position: absolute;
          top:0;
          right: 0;
          font-family: 'nike';
          content: "\e02d";
          font-size: 15px;
        }
      }
      .tit {
        float: left;
        width: 60px; 
        margin-right: 16px;
        font-size:12px;
        color: $font-1;
        font-weight: normal;
      }
      .default {
        float: left;
        width: -moz-calc(100% - 76px);
        width: -webkit-calc(100% - 76px);
        width: calc(100% - 76px);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: right;
        font-size: 12px;
        color: $font-1;
        padding-right: 20px;
        &.selected {
          color: #000;
          font-weight:700
        }
      }  
    }

    .opt-list {
      ul {
        width: 100%;
      }
      li {
        position: relative;
        float: left;
        width: 20%;;
        height: 62px;
        box-sizing: border-box;
        text-align: center;
        &:before {
          content:'';
          display:block;
          position: absolute;
          top: -1px;
          right: 0;
          left: -1px;
          bottom: 0;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          border-top: 1px solid #e5e5e5;
        }
        a {
          display: block;
          height: 62px;
          padding-top: 24px;
          vertical-align: middle;
          cursor: pointer;
          box-sizing: border-box;
          background-color: #fff;
          &.sd-out {
            background-color: #f7f7f7;
            color: #ddd;
            cursor: default;
          }
          &.selected {
            background-color: #111;
            color: #fff;
          }
        }
      }
    }
  }
}

/* 휴대폰 번호 style */
.stockList {
  clear: both;
  background: #fff;
  display: block;
  margin: 0 20px;
  padding: 24px 64px 0;
  fieldset {
    dl {
      div {
        dt {
          float: left;
          width: 60px; 
          margin-top: 15px;
          margin-right: 16px;
          label {
            font-size: 12px;
            color: #111111;
          }
        }
       dd {
          float: left;
          -moz-width: calc(100% - 76px);
          -webkit-width: calc(100% - 76px);
          width: calc(100% - 76px);
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          box-sizing: border-box;
        }
      }
    }
    input[type="text"] {
      width: 100%;
      padding: 12px 11px;
      box-sizing: border-box;
      border: 1px solid #e8e8e8;
      color: #8d8d8d;
      font-size: 14px;
    }
    [type="checkbox"]:checked + label:after {
      padding-left: 3px;
    }
  }
  /* 개인정보 취급 방침 동의 */
  .privacy-agree {
    display: table;
    .txt {
      display: table-cell;
    }
  }
  .btn-wrap {
    margin-top: 43px;
    padding: 0 48px;
    .btn-restock {
      width: 100%;
    }
  }
}

/* =========== 개인정보취급방침 레이어 =========== */

.layerPrivacyPolicy {
  display:none;
  * {letter-spacing: -1px;}
  .bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    background:#000;
    opacity:.8; 
    z-index:1
  }
  .box {
    position:fixed;
    top: 50%;
    left: 50%;
    padding: 26px 30px 35px 30px;
    width: 360px;
    height:auto;
    margin-left: -210px;
    margin-top: -184px;
    display:block;
    background:#fff;
    text-align: center;
    z-index: 12;
  }
  .close {
    position: absolute;
    top: 19px;
    right: 25px;
    display: block;
    cursor: pointer;
    font-size: 30px;
    color: $font-1;
  }
  .title {
    font-size: 19px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .sub {
    font-size: 13px;
    color: #888888;
    line-height: 1.45;
    margin-bottom: 10px;
    span {
      color: #565656;
      font-weight:700;
    }
  }
  .txt_1 {
    line-height: 1.45;
    padding: 13px 15px;
    text-align: left;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    p {margin: 2px 0;}
    strong {
      font-size: 13px;
      color: #565656;
      font-weight:700;
      display:inline-block;
      vertical-align:top;
      margin-right: 5px;
    }
    span {
      font-size: 13px;
      color: #888888;
      display:inline-block;
      vertical-align:top;
    }
  }
  .txt_2 {
    line-height: 1.45;
    text-align: center;
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 13px;
    padding: 8px 0;
    background: #000;
    border-radius: 2px;
    color: #fff;
    display: block;
    width: 127px;
    margin: 0 auto;
    text-align: center;
  }
}




 .selectwrap .select_type01 a.bx-prev {position: absolute;top: 50%;left: 0;margin-top: -9.75px;outline: 0;width: 10px;height: 19px;text-indent: -9999px;z-index: 0;background: url(/assets/images/slide_arrow.png) no-repeat center;background-size: 20px auto;background-position: 0 -20px;}
 .selectwrap .select_type01 a.bx-prev.disabled {display:block;background-position: 0 0;cursor:default}
 .selectwrap .select_type01 a.bx-next {position: absolute;top: 50%;right: 0;margin-top: -9.75px;outline: 0;width: 10px;height: 19px;text-indent: -9999px;z-index: 0;background: url(/assets/images/slide_arrow.png) no-repeat center;background-size: 20px auto;background-position: -10px -20px;}
 .selectwrap .select_type01 a.bx-next.disabled {display:block;background-position: -10px 0;cursor:default}

 /* .stockList fieldset dl dd.agreearea {display: inline-block;vertical-align: middle;float: none;width: 100%;margin-top: 17px;text-align: left;height: auto;}
 .stockList fieldset dl dd.agreearea .agreearea_a {display: inline-block;vertical-align: middle;float: none;width: auto;}
 .stockList fieldset dl dd.agreearea .agreearea_b {display: inline-block;vertical-align: middle;float: none;width: auto;}
 .stockList fieldset dl dd.agreearea label {display: block;margin-right: 5px;width: 16px;height: 16px;border: 1px solid #bbbbbb;cursor: pointer;padding-bottom: 0;}
 .stockList fieldset dl dd.agreearea p {color: #444;font-size: 1em;padding-bottom: 0;display: block;line-height: 1.2;}
 .stockList fieldset dl dd.agreearea p .privacyPolicy {font-weight: 700;} */
 /* .stockList fieldset .submit_btn {margin-top: 30px;}
 .stockList fieldset .submit_btn a {display: inline-block;height: 31px;line-height: 31px;background: #fa5400;color: #fff;letter-spacing: 0px;border-radius: 2px;padding: 5px 18px;font-size: 13px;} */


/* 매장픽업 주문하기 */
#pickup-popup {
  .uk-modal-dialog {
    width: 640px;
  }
}
.pickup-store-pack {
  margin-top: 45px;
  padding: 0 20px;
  .location-area {
    position: relative;
    .location-info {
      i {
        font-size: 20px;
        color: $primary-color;
        vertical-align: -2px; 
      }
      strong {
        font-size: 16px;
      }
    }
    .my-location-btn {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: $font-size-s;
      i {
        font-size: 16px;
        color: $primary-color;
        vertical-align: -2px;
      }
    }
  }
  .pickup-search-field {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-left: 128px;
    box-sizing: border-box;
    &:after {
      content: '';
      clear: both;
      display: block; 
    }
    .select-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 120px;
      select {
        height: 40px;
      }
    }
    .search-area {
      position: relative;
      padding-right: 86px;
      .input-textfield {
        width: 100%;
        input {
          height: 40px;
        }
      }
      .pickup-search-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
      }
    }
  }
  .pickup-search-result {
    margin-top: 15px;
    .cmt {
      margin-bottom: 8px;
      font-size: $font-size-s;
      color: #808080;
    }
    .tbl-header {
      display: table;
      width: 100%;
      height: 40px;
      background-color: #fafafa;

      li {
        display: table-cell;
        padding: 0 15px;
        font-size: 14px;
        color: #666;
        vertical-align: middle;
        box-sizing: border-box;
        border-left: 1px solid #fff;
        &:first-child {
          border-left: 0;
        }
        &.item-store {
          width: 80%;
        }
      }
    }


    .tbl-wrap .item-store {
      width: 80%;
    }
    .tbl-wrap .item-store, .tbl-wrap .item-count {
      display: table-cell;
    }
    .pickup-result-wrap {
      // .item-box-inner {
      //  padding: 16px 0;
      //  border-bottom: 1px solid $border-2;
      // }
      padding: 16px 0;
      border-bottom: 1px solid $border-2;
      .pickup-txt {
        display: table;
        width: 100%;
        padding-left: 16px;
        padding-bottom: 10px;
        box-sizing: border-box;
        .item-store {
          .store-km {
            span {
              padding-right: 10px;
              font-size: 14px;
              font-weight: bold;
              color: $font-0;
            }
          }
          ul {
            li {
              position: relative;
              margin-top: 15px;
              text-align: left;
              em {
                display: inline-block;
                margin-right: 4px;
                width: 40px;
                padding: 4px 0;
                font-size: 11px;
                font-weight: 500;
                color: #111;
                border: 1px solid $border-2;
                border-radius: 2.5px;
                text-align: center;
                vertical-align: middle;
              }
              .address {
                font-size: 12px;
                color: #8d8d8d;
                text-align: center;
                vertical-align: middle;
              }
            }
          }
          .phonenum {
            display: block;
            margin-top: 25px;
            font-size: 12px;
            color: #8d8d8d;
          }
        }
        .item-count {
          vertical-align: middle;
          .num {
            font-size: 14px;
            color: $primary-color;
          }
          .btn-link {
            margin-top: 20px;
            width: 80px;
            &.uk-active {
              color: $default-color;
              &:before {
                border-color: #ccc;
              }
            }
          }
        }
      }
      .pickup-map {
        padding: 10px 16px 0;
        .map-area {
          min-height: 200px;
        }
        dl {
          display: table;
          width: 100%;
          dt {
            display: table-cell;
            font-size: 12px;
            vertical-align: middle;
          }
          dd {
            display: table-cell;
            position: relative;
            margin-top: 10px;
            padding-right: 86px;
            box-sizing: border-box;
            .select-box {
              width: 100%;
              select {
                height: 40px;
              }
            }
            .pickup-order-btn {
              position: absolute;
              right: 0;
              top: 0;
              width: 80px;
            }
          }
        }
      }
    }
  }
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
  .restock-wrap {
    .top {
      .pdttxt {
        h2 {
          padding-top: 0;
        }
      }
    }
  }
    
  .selectwrap {
    margin: 0;
    .select-size {
      padding: 0;
    }
  }
  .stockList {
    margin: 0;
    padding: 24px 0 0;
    .btn-wrap {
      margin-top: 20px;
      padding: 0;
    }
  }
  .restock-wrap {
    .nodata {
      padding: 16px 0 20px 30px;
      p {
        text-indent: -31px;
        font-size: 13px;
      }
      .ns-info {
        margin-right: 8px;
      }
    }
  }
  .layerPrivacyPolicy {
    .box {
      width: 100%;
      padding: 26px 20px 35px 20px;
      box-sizing: border-box;
      margin-left: -50%;
    }
  }

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
  
}

