/*  review 
/*****************************************************************/
	

	/* 상품평 (리뷰, 그래프, 쓰기)  : str
	/*****************************************************************/

	/* 리뷰 모달팝업 넓이 */
	#detail-reviewall, .detail-info-modal{
		.uk-modal-dialog-large {
			width: 100%;
			margin: 0;
			padding: 0;
   			max-width: 100%; 
   			border-radius: 0;
		}
		.uk-close {
			position: absolute;
			top: 40px;
			right: 42px;
			font-size: 16px;
			color: $font-1;
		}
	}

	
	/* 리뷰 모달팝업 - 상품이미지 */
	.review-product-wrap {
		float: left;
		width:100%;
		padding: 18px 0 18px 45px;
		border-bottom: 1px solid #d8d8d8;
		box-sizing: border-box;
		.product-thumb-img {
			float: left;
			width: 64px;
			height: 64px;
			background-color: #f5f5f5;
		}
		.mini-product-info {
			float: left;
			margin-left: 10px;
			.tit {
				display: block;
				margin-top: 10px;
				font-size: 13px;	
				color: #2e2e2e;
			}
			.price {
				display: block;
				margin-top: 5px;
				font-size: 14px;
				color: #2e2e2e;
			}
		}
	}

	/* 리뷰 모달팝업 - 리뷰리스트 wrapper */
	.review-list-wrap {
		max-width: 900px;
		margin: 0 auto;
		padding-bottom: 50px;
		.btn-pagination {
			margin:0 auto;
		}
	}
	
	.detail-review {
		@include box-sizing();
		margin:0 auto;
		padding: 0;
		max-width: 100%;
	}
	.total-review-summary {
		clear: both;
		max-width: 900px;
		margin:0 auto;
		text-align: center;

		.uk-width-large-1-2,
		.uk-width-large-1-3 {
			width: 100%;
			padding-left: 0;
		}
	}
	.star-total-info {
		margin-top: 60px;
		text-align:center;

		&.review-none {margin-bottom:80px}
		.star-average {
			margin-bottom:10px;
			.like {
				position:relative;
				display:inline-block;
				// width: 169px;
				height:16px;
				overflow: hidden;
				vertical-align:middle;
				color: #000;
				> i {
					font-size: 16px;
				}
				.per {
					position: absolute;
					top:0;
					left:0;
					overflow: hidden;
				}
				.star-default-bg {
					color: #e1e1e1;
				}
			}
		}
		.btn-area {
			margin: 16px 0;
		}
		.total-star-point {
			display: inline-block;
			margin-left: 5px;
			font-size: 30px;
			color: $font-1;
			vertical-align: middle;
		}
		.star-review-num {
			display: inline-block;
			margin: 0;
			font-size: 30px;
			color: $font-1;
			vertical-align: middle;
		}
		.helpful-txt {
			font-size: 12px;
			color: $font-1;
		}
		.review-write-btn {
			width: 176px;
			padding: 15px 30px;
		}
	}

	.review-total-average {
		margin-bottom: 45px;
		padding:0 20px;
	}

	.review-read {
		min-height:200px;

		> .less {
			padding-top:83px;
			text-align:center;
		}
	}

	/* product review graph */
	.review-opt-graph {
		display: none;		// total 상품평점 비노출 
		font-size:0;
		line-height:0;
		.review-opt-tit {
			margin-top:50px;
			font-size:13px;
			color:$font-1;
			// font-weight:bold;
			line-height:1.8em;
			margin-bottom:3px;
		}
		span {
			display:inline-block;
			vertical-align: middle;
			font-size:13px;
			line-height:1.8em;
		}
		.opt-graph-point {
			width:20px;
			margin-left: 10px;
		}
		.opt-graph-txt {
			a {
				&:before {
					content:$special-char-1;
					font-family:$typo-ko;
				}
			}
			width:82px;
			color: $primary-sub-color;
		}

		.opt-graph-gage {
			// @include calc( width, '100% - 20px');
			height: 10px;
			background:$border-1;
			position:relative;
			&.star-gage-value{
				@include calc( width, '100% - 70px');
			}
			.opt-graph-point-color {
				height: 10px;
				background: $star-bg-color;
				vertical-align:top;
			}
		}
		.opt-graph-percent {
			width:30px;
			text-align:left;
			color:$font-1;
			margin-left: 10px;
		}
	}

	/* 평가 하는 항목 display */
	.opt-value-w {
		width: 227px;
		padding-left: 0;
    	padding-right: 61px;
	}
	.opt-value-wrap {
		float: left;
		width: 100%;
		margin-top: 50px;
		padding: 0 20px;

		.grid-gage {
			float: left;
			padding: 0 20px;
			width: 25%;
			text-align: center;
			box-sizing: border-box;
		}
		.opt-value-list {
			margin-bottom: 10px;
		}
		.opt-value-title {
			display: block;
			width: 100%;
			margin-top:24px;
			font-size: 13px;
			font-weight: bold;
			color: $font-1;
			vertical-align: top;
			text-align: left;
		}
		.opt-value-box {
			// @include calc( width, '100% - 54px');
			width: 100%;
			display: inline-block;
			margin-top: 10px;

			.opt-value-gage {
				display:table;
				position: relative;
				width: 100%;
				height: 4px;
				background-color: #e5e5e5;
				box-sizing: border-box;
				border-radius: 2px;
				.opt-value-dot {
					display:table-cell;

					&.active {
						background-color: $font-1;
					}

					&.per {
						position: absolute;
						top: -2px;
						left: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: $font-1;
					}
				}
			}
			.opt-value-txtbox {
				.opt-value-txt {
					margin-top: 10px;
					font-size: 12px;
					color: $font-2;
					overflow: hidden;
					&.left {float: left;}
					&.right {float: right;}
				}
			}
		}
	}
	
	/* 상품평 전체보기&소팅 */
	.n-review-sort {
		margin: 40px 0 10px -20px;
		overflow:hidden;
		&:after {
			content:'';
			display:block;
			clear: both;
		}
		.review-cnt {
			float: left;
			font-size: 23px;
			font-weight: bold;
			color: #333;;
			.total-cnt {
				margin-right:5px;
				vertical-align: middle;
				.num {
					font-size: 25px;
					color: $primary-color
				}
			}
			.review-filter-delete {
				display: inline-block;
			    width: 66px;
			    height: 24px;
			    border-radius: 2.5px;
			    border: solid 1px #dddddd;
			    background-color: #f8f8f8;
			    color: #111;
			    font-size: 12px;
			    line-height: 24px;
			    text-align: center;
			}
		}
		.review-sort-item {
			float: right;
			> span {
				font-size: 12px;
				color: $font-1;
			}
		}
		.sort-tabs {
			float:right;
		}

	}
	/* product review list - new */
	.n-review-read {
		.uk-grid {
			margin-left: 0;
		}
		ul {
			margin-bottom:35px;
			list-style:none;
			padding:0;
			> li {
				border-top: 1px solid $border-3;
				padding-bottom: 30px;
			}
		}

		.read-list{
			padding:30px 10px 0;

			.user-name {
				display: inline-block;
				margin-bottom: 8px;
				color: #6d6d6d;
				font-size: 12px;
			}
			.write-date {
				color: #828282;
				font-size: 12px;
			}
			.btn-writer-allview {
				display: inline-block;
				margin-left: 10px;
				font-size: 11px;
				text-decoration:underline;
				color: #666;
			}
			
			/* 상품평 별점 */
			.user-info {
				margin-bottom: 15px;
				.like {
					position:relative;
					display:inline-block;
					height: 12px;
					overflow: hidden;
					vertical-align: -1px;
					color: #000;
					> i {
						font-size: 12px;
					}
					.per {
						position: absolute;
						top:0;
						left:0;
						overflow: hidden;
					}
					.star-default-bg {
						color: $font-4;
						&:before {
							vertical-align: top;
						}
					}
				}

				.write-date {
					padding-left: 5px;
					color: #8d8d8d;
					font-size: 11px;
					font-family:$typo-ko;
					vertical-align: 2px;
				}
				
			}
			.user-infouser-info {
				margin-top: 10px;
				margin-bottom: 10px;

				dt {
					display: inline-block;
					font-size: 12px;
					color: #999;
				}
				dd {
					display: inline-block;
					margin-right: 5px;
					font-size: 13px;
					color: #666;
				}
			}
			.read-subject {
				font-size: 12px;
				font-weight: 900;
				color: $font-1;
				margin-bottom: 15px;
			}
			.read-comment {
				position:relative;
				font-size: 12px;
				color: #000;
				line-height: 2.1;
				margin-top: 20px;
				margin-bottom: 15px;  //상세페이지 리뷰 리스트 간격 수정
				word-break: break-all;
			}
			.review-img-info {
				position:relative;
				margin:15px 0 0;

				.append-img {
					overflow:hidden;
					display:inline-block;
					max-width:200px;
					max-height:200px;
					/*width:70px;
					height:80px;*/

					img {
						//width:100%;
						//position:absolute;
						//width:60px;
						//height:80px;
					}
				}
			}
			.review-help {
				margin:15px 0 0;
				font-size: 12px;
				color: $font-2;
				

				.btn-area {
					margin-top:10px;
					> span {
						color: $font-1;
						font-weight: 900;
						margin-right: 10px;
					}
					.btn-reply {
						display: inline-block;
						width: 88px;
 						height: 28px;
 						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
 						background-color: $primary-color;
 						font-size: 15px;
 						line-height: 28px;
						color: #fff;
						text-align: center;
						vertical-align: top;
					}
					.like {
						margin-right: 20px;
						font-size: 14px;
						color: #6d6d6d;
						&.disabled {
								opacity: .5;
    							cursor: default;
							}
						.icon-up {
							font-size: 17px;
							color: $font-1;
							vertical-align: -3px;
							
						}
						.icon-down {
							font-size: 17px;
							color: $font-1;
							vertical-align: -4px;
							&:disabled {
								opacity: .5;
    							cursor: default;
							}
						}
						.disabled {
							
						}

						.ns-thumbs-up,
						.ns-thumbs-down {
							font-size: 28px;
							vertical-align: middle;
						}
						.num {
							font-size: 13px;
							vertical-align: middle;
						}
					}
				}
			}
		}
		.opt-value-wrap {
			padding: 0;
			margin-top: 5px;
		}
	}

	/* 상품리뷰 없을때 */
	.no-detail-review {
		.review-noti {
			font-size: 13px;
			color: #2e2e2e;
		}
		.star-average {
			margin-bottom: 5px;
			.like {
				position: relative;
				display: inline-block;
				// width: 169px;
				height: 16px;
				overflow: hidden;
				vertical-align: middle;
				>i {
					font-size: 16px;
				}
			}
			.star-default-bg {
				color: #e1e1e1;
			}
		}

		.star-average .like .per {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
		}
		.review-write-btn {
			display: inline-block;
			margin-top: 20px;
			color: #2e2e2e;
			border-bottom: 1px solid #2e2e2e;
			font-size: 13px;
			line-height: 14px;
		}

	}


	

	
	/* media query */
	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		.star-total-info {
			margin-top: 48px;
			.star-review-num {
				font-size: 24px;
			}
			.total-star-point {
				font-size: 24px;
			}
		}
		.opt-value-wrap {
			margin-top: 0;
    		padding: 0;
			.grid-gage {
				width:100%;
				padding: 0 80px;
				box-sizing: border-box;
			}
		}
		.n-review-read {
			.read-list {
				padding: 48px;
			}
		}

	}


	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {

	}


