
// body {width:100%; height:100%;overflow-x:hidden; }

/*** browser Expend ***/
// header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block}

/*** basis Selector ***/
// body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0;}
// body, input, select, div, textarea, table, button {font-size:12px; font-family:helvetica, arial, verdana, tahoma, 'NanumGothic', '나눔고딕', Malgun Gothic, '맑은고딕', Apple Gothic, Dotum, '돋움', sans-serif; letter-spacing:-1px; color:#333; }
// html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
// option {padding-right:6px;} /* Firefox Fix */
// legend {display:none; overflow:hidden; visibility:hidden;} /* For Screen Reader */
// img, fieldset, button {vertical-align:middle; border:0;}
// ul, ol {list-style:none;}
// em, address {font-style:normal;}
// hr {display:none; visibility:hidden;}
// caption  {display:none;}
// table {border-collapse:collapse;}
// input, textarea, button {line-height: 1.2; /* 입력폼에서 춤추지 않는 최소 줄간 1.2 */ vertical-align: middle;}
// input[type=text], input[type=password], textarea {width:180px; height:24px; *margin:-1px 0 -1px; padding-left:3px; border:1px solid #ccc; color:#666; font-family:'돋움'; line-height:24px; letter-spacing:-0.2px; vertical-align:middle; }
// input[type="checkbox"],input[type="radio"] {margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
// label {cursor:pointer;}
// a {text-decoration:none; color:#444;}
// a:hover, a:active, a:focus{text-decoration:none; background:transparent;}
// select{font-size:12px;} 
// .png24 {tmp:expression(setPng24(this));}

/* 사이즈차트팝업 */
.pop_size_chart{width:700px; margin:0 auto;}
.pop_size_chart .size_chart_inner{width:100%;}
.pop_size_chart h2.tit_size_chart{padding:30px 0 10px; font-size:30px; color:#333; text-align:center;}

.pop_size_chart .size_category{position:relative; width:auto; margin:0 auto; text-align:center;}
.pop_size_chart .size_category > li{display:inline-block; *display:inline; border-left:1px solid #ccc;}
.pop_size_chart .size_category > li:first-child{border-left:0 none;}
.pop_size_chart .size_category > li > a{padding:0 15px; font-size:14px; font-weight:bold; color:#666;}
.pop_size_chart .size_category li ul{display:none;}
.pop_size_chart .size_category li.on > a, .pop_size_chart .size_category li > a:hover{color:#fa5400;}

.pop_size_chart ul.col1 > li{width:100%;}
.pop_size_chart ul.col2 > li{width:50%;}
.pop_size_chart ul.col3 > li{width:33%;}
/* .pop_size_chart ul.col3 > li:first-child{width:33%;} */
.pop_size_chart ul.col4 > li{width:25%;}
.pop_size_chart ul.col5 > li{width:20%;}

.pop_size_chart .size_chart_content {margin-top:25px;}
.pop_size_chart .size_chart_content h3 {padding-bottom:10px; font-size:22px; letter-spacing:-0.05em; color:#333;}
.pop_size_chart .size_chart_content h3 span {font-size:16px; font-weight:normal;}
.pop_size_chart .size_chart_content .size_cont {padding:30px 0 40px;border-top:1px solid #ccc;}
.pop_size_chart .size_chart_content .size_cont h4 {padding-bottom:22px;font-size:16px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont h4 span {color:#fa6425;}
.pop_size_chart .size_chart_content .size_cont .size_box {position:relative;}
.pop_size_chart .size_chart_content .size_cont .size_box li {position:absolute;left:0;top:0;font-family:Dotum,'돋움';font-size:11px;line-height:16px;letter-spacing:0;}
.pop_size_chart .size_chart_content .size_cont .size_box li strong {display:block;margin-bottom:10px;font-family:'NanumGothic', '나눔고딕';font-size:14px;}
.pop_size_chart .size_chart_content .size_cont .size_box li .pdtline {display:block;position:absolute;left:0;top:10px;border-bottom:1px dashed #fa7232;}
.pop_size_chart .size_chart_content .size_cont .shoes_box {margin-top:37px;}
.pop_size_chart .size_chart_content .size_cont .shoes_box ol {display:inline-block;width:100%;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li {float:left;width:235px;padding-right:5px;font-family:Dotum,'돋움';font-size:11px;line-height:16px;letter-spacing:0}
.pop_size_chart .size_chart_content .size_cont .shoes_box li.s3 {width:210px;}
.pop_size_chart .size_chart_content .size_cont .shoes_box li strong {display:block;margin-bottom:8px;font-family:'NanumGothic', '나눔고딕';font-size:14px;line-height:16px;}
.pop_size_chart .size_chart_content .size_cont .size_txt {font-family:Dotum,'돋움';font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table {position:relative;margin-top:40px;padding-bottom:10px;}
.pop_size_chart .pop_size_table h5 {margin-bottom:25px;font-size:15px;}
.pop_size_chart .pop_size_table .tabbtn {display:inline-block;position:absolute;right:0;top:0;width:147px;height:31px;background:url('/assets/images/bg_unit.png') no-repeat 0 0;}
.pop_size_chart .pop_size_table .tabbtn .tabbar {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url('/assets/images/bg_unit.png') no-repeat 0 -32px;}
.pop_size_chart .pop_size_table .unit{position:absolute;right:0;top:20px;font-family:Dotum,'돋움';font-size:11px;letter-spacing:0; line-height:16px; color:#666;}
.pop_size_chart .pop_size_table .tabbtn a {position:relative;display:block;float:left;width:50%;text-align:center;line-height:30px;z-index:10;font-family:arial;}
.pop_size_chart .pop_size_table .tabbtn a.active {color:#fff}
.pop_size_chart .pop_size_table .tabcon {display:none;width:680px; padding-right:20px;background:#e5e5e5;}
.pop_size_chart .pop_size_table table {width:100%;table-layout:fixed;border-collapse:collapse;}
.pop_size_chart .pop_size_table table th,
.pop_size_chart .pop_size_table table td {font-family:Dotum,'돋움';}
.pop_size_chart .pop_size_table table thead th {height:65px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody th {height:40px;text-align:center;font-size:12px;color:#666;background:#e5e5e5;}
.pop_size_chart .pop_size_table table tbody td {height:40px;text-align:center;font-weight:bold;font-size:12px;color:#666;background:#fff;border:1px solid #e5e5e5;}
.pop_size_chart .pop_size_table table .td_gray {background:#ddd;}
.pop_size_chart .pop_size_table table .td_gray td {background:#ddd;}
.pop_size_chart .pop_size_table table .highlight {background:#fa5400 !important; color:#fff;}
.pop_size_chart .pop_size_table table .highlight2 {background:#ffccb2 !important;}
.pop_size_chart .pop_size_table table col.highlight2 td {background:#ffccb2 !important;}


/* PDP information modal popup*/
.pdp-guide-modal { 
    width: 62.5%; padding: 167px 18.75% 67px 18.75%; overflow:hidden;
    .guide-image {text-align:center;}
    .title {width: 100%; height: 24px; font-size: 17px;font-weight: bold;line-height: 1.41;text-align: left;color: #2e2e2e;}
    .subtitle { width: 100%; height: 24px; margin: 41px 0 0 0; font-size: 15px; font-weight: bold; line-height: 1.6; text-align: left; color: #2e2e2e;}
    .text-detail { width: 100%; font-size: 13px; line-height: 1.92; text-align: left; color: #2e2e2e;}
    .text-detail a{text-decoration: underline; }
    .text-detail .text-style-1 { font-family: HelveticaNeue;}
}


/* 상품정보 */
.guide-image {text-align:center;}
.sectionR {float: left; text-align: left;}
.sectionR > h2{color: #333;font-size: 32px;font-weight: bold; letter-spacing: -1.5px; line-height: 28px;}
.sectionR > h3 { color: #333; margin-top: 27px; font-size: 16px; line-height: 14px;}
.sectionR > ul { margin-top: 19px;}
.sectionR > ul li {font-family: 돋움, NanumGothic, "Apple Gothic", sans-serif;padding-left: 10px; background: url(/assets/images/bl_dot.png) no-repeat left 7px;color: #666;line-height: 18px;letter-spacing: -0.5px;font-weight: lighter;}

/* 상품정보고시 */
.product-noti-content {width: 100%;}
.product-noti-content > dl {margin: 0 0 10px 40px;zoom: 1;line-height: normal;overflow: hidden;}
.product-noti-content > dl dt {text-align: left;float: left; width: 20%; margin-right: 10%;color: #212121;font-size: 14px;font-weight: bold;}
.product-noti-content > dl dd {font-family: 돋움, NanumGothic, "Apple Gothic", sans-serif; float: left; width: 70%; color: #666;text-align: left;letter-spacing: -0.1px;line-height: 21px;font-weight: lighter;}
.product-noti-content > dl dd {font-family: 돋움, NanumGothic, "Apple Gothic", sans-serif;}
