/*  launch calendar 
/*****************************************************************/

	/* launch header */
	.header_layout_1 {
		&.launch-header {
			position: relative;
		}
	}
	.header-gnb {
		.btn-launch-goback {
			float: left;
			padding-left: 30px;
		}
	}
	.launch-lnb {
		background: #fff;
		padding: 14px 0;
		border-bottom: 1px solid #e5e5e5;

		.launch-logo {
			display: inline-block;
			padding-left: 28px;
		}
		.launch-menu {
			text-align: center;
			> li {
				display: inline-block;
				a {
					display: inline-block;
					padding: 10px 20px;
					-webkit-transition: all .2s ease;
  					transition: all .2s ease;
  					font-size: 15px;
  					position: relative;
				}

				&.on {				// menu  active 일때 선처리
					a:before {
						content:'';
						display: block;
						margin-left: -20px;
						position: absolute;
						bottom: -19px;
						width: 100%;
						border-bottom: 2px solid #000;
					}
				}	
			}
		}	
		.toggle-box {
			text-align: right;
			padding-top: 10px;
			padding-right: 28px;
			.view-grid,
			.view-list {
				font-size: 24px;
			}
		}
	}
	
	/* launch cagegory */
	.launch-conts {
		padding-top: 0;
	}
	.launch-category {
		padding: 32px 35px; 
		.uk-grid {
			margin-left: -16px;
			 > * {
				padding-left: 16px;
				margin-bottom: 16px;
			}
		}
		.img-sect {	 				// 이미지 영역부분  
			position: relative;
			background: #f5f5f5;

			&.prd-gutter {
		    	padding: 14.3% 8%;
		    }
			.img-component {
				// opacity: 1;
			    transition: opacity 0.4s ease;
			}
			.date {
				position: absolute;
			    top: 0;
			    left: 0;
			    padding: 18px;
			    font-weight: 400;
			    letter-spacing: .5px;
			    color: #000;
			    z-index: 2;
				.month {
					font-weight: 700;
				    letter-spacing: -0.5px;
				    font-size: 25px;
				    line-height: 1;
				    display: block;
				    text-align: center;
				}
				.day {
					font-weight: 400;
				    letter-spacing: .5px;
				    font-size: 52px;
				    line-height: 1;
				    display: block;
				    text-align: center;
				}
			}
		}
		
		.info-sect {  			// 상품명 영영부분
		    position: relative;
		    width: 100%;
		    padding-top: 24px;
		    padding-bottom: 20px;
		    text-align: center;
		    overflow: hidden;
			.text-box {
				opacity: 1;
			    transition: opacity .3s ease .3s;

				.txt-subject {
				    font-size: 13px;
				    color: #777;
				    letter-spacing: -0.5px;
				    font-weight: 700;
				    line-height: 1;
				}
				.txt-description {
				    font-size: 28px;
				    color: #000;
				    font-weight: 400;
				    letter-spacing: .5px;
				}
			}
			.btn-box {
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    padding-top: 32px;
			    opacity: 0;
			    transition: opacity .3s ease;
			}
		}

		a { 				// 상품 hover일때 이미지 효과 및 버튼보이게 처리
			&:hover {
				.img-component {
					opacity: 0.8;
				}
				.text-box {
				    opacity: 0;
					transition: opacity .3s ease;
				}
				.btn-box {
					opacity: 1;
   					transition: opacity .3s ease .3s;
				}
			}
		}
		
		/* upcoming일때 상품명 스타일 변경 */
		.upcomingItem {
			.info-sect {
				.text-box {
					.txt-subject {
						font-size: 28px;
						color: #111;
					}
					.txt-description {
						font-size: 13px;
						color: #8d8d8d;
					}
				}
			}
		}
		.uk-width-1-6 {
			.date, 
			.info-sect {
				display: none;
			}
		}
	}

	/* 상세페이지 컨텐츠 */
	.lc-prd-conts {
		position: relative;
		margin-top: 30px;
		padding-left: 28px;

		/* 상품상세 이미지 */
		.lc-prd-images {
			min-height: 870px;
			margin-left: -16px;
			> * {
				padding-left: 16px;
				padding-bottom: 16px;
			}
		
			.prd-gutter {
				padding: 11.515% 6.58%;
				background-color: #f5f5f5;
			}
		}

		/* 상품상세페이지 상품정보 */
		.prd-con-wrap {
			position: relative;
			padding-right: 28px;

			&.fix {
				position:fixed;
				right: -1px;
			}
			.product-info {
				text-align: center;

				.txt-subtitle {
					font-size: 14px;
				    font-weight: 700;
				    color: #777;
				}
				.txt-title {
					margin: 5px 0 10px;
				    font-weight: 400;
				    letter-spacing: .7px;
				    font-size: 40px;
				    color: #111111;
				}
				.price {
					font-size: 16px;
					letter-spacing: 0.5px;
					text-align: center;
					color: #111111;
				}
				.txt-date {
					margin-top: 30px;
				    font-size: 15px;
				    color: #111111;
				}
				.txt-description {
					margin-top: 30px;
					font-size: 13px;
					line-height: 1.85;
					letter-spacing: -0.3px;
					text-align: center;
					color: #999999;
				}
			}
			.btn-box {
				margin-top: 25px;
				text-align: center;
				.btn-comingsoon {
					font-size: 13px;
				}
				.btn-buy {
					font-size: 12px;
				}
				.select-box {
					vertical-align: top;
					.select-head {
						padding: 13px 11px 13px 11px;
						-webkit-border-radius: 2px;
						-moz-border-radius: 2px;
						border-radius: 2px;
					}
				}
			}
			.service-box {
				text-align: center;
				margin-top: 15px;

				.sevice-item {
					display: inline-block;
				}
				
				img {
					vertical-align: -4px;
				}
				.stock-item {
					margin-top: 10px;
				}
				.sms-item {
					margin-top: 10px;
					text-align: left;
				}
				.ns-help {
					font-size: 16px;
					color: #666;
					vertical-align: -2px;
				}
			}
		}
	}

	/* 상세페이지 하단 이미지정보 + 설명 */
	.lc-prd-bottom {
		ul li {
			margin-top: 30px;
			text-align: center;
		}
		.product-info {
			text-align: center;

			.txt-subtitle {
				
				font-size: 14px;
			    font-weight: 700;
			    color: #777;
			}
			.txt-title {
				margin: 48px 0 10px;
			    font-weight: 400;
			    letter-spacing: .7px;
			    font-size: 40px;
			    color: #111111;
			}
			.price {
				font-size: 16px;
				letter-spacing: 0.5px;
				text-align: center;
				color: #111111;
			}
			.txt-date {
				margin-top: 30px;
			    font-size: 15px;
			    color: #111111;
			}
			.txt-description {
				margin-top: 20px;
				margin-bottom: 58px;
				font-size: 12px;
				line-height: 1.5;
				letter-spacing: -0.1px;
				text-align: center;
				color: #8d8d8d;
			}
		}
	}

	/*  상품정보고시 확인 */
	.lc-prd-infomation {
		padding: 27px 45px 50px 0;
		color: #8d8d8d;
		font-size: 12px;
		text-align: right;
		a {
			color: #8d8d8d;
		}
		.txt {
			text-decoration: underline;
		}
		.ns-arrow-thin-right {
			font-size: 13px;
			font-weight: bold;
			vertical-align: middle;
		}

	}

	/* 연관 상품 */
	.related-title {
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 34px;
		font-weight: bold;
		border-top: 1px solid #ddd;
		letter-spacing: 0.8px;
	 	text-align: center;
		color: #111111;
	}
	.related-category {
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 0 28px;

		/* 상품상세 이미지 */
		.related-items {
			margin-left: -16px;
			> * {
				padding-left: 16px;
				padding-bottom: 16px;
			}
		
			.prd-gutter {
				padding: 11.515% 6.58%;
				background-color: #f5f5f5;
			}
		}


		.info-sect {
			.text-box {
				.txt-subject {
					margin-top: 33px;
					font-size: 12px;
					letter-spacing: 0.4px;
					text-align: center;
					color: #8d8d8d;
				}
				.txt-description {
					margin-top: 5px;
					font-size: 28px;
					letter-spacing: 0.5px;
					text-align: center;
					color: #111111;
				}
			}
		}
	}

	/* launch footer */
	footer {
		&.launch-footer {
			padding: 25px 16px;
			min-height: auto;
			background: #f8f8f8;
			color: #8d8d8d;
			border-top: solid 1px #e5e5e5;
			.flag-kr {
				@extend .icon-language;				// nike에 정의
				width: 14px;
				height: 10px;
				background-position: left top;
				background-size: 14px 10px;
				color: $font-6;
				line-height: 12px;
				vertical-align: -1px; 
			}
			a {
				display: inline-block;
				padding-right: 10px;
				color: #8d8d8d;
			}
		}
	}

	
	/* media query */
	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {

	}


	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {

	}

	/* Desktop and bigger */
	@media (max-width: 1279px) {
		.launch-category {
			.uk-width-large-1-6 {
				width: 25%;
			}
		}
	}	


