/* customer title */
.customer-title {
	padding:30px 0;
	.tit {
		max-width:$max-width;
		margin:0 auto;

		// font-weight:bold;
		font-size:26px;
		text-align:center;
		color: $title_category-color;
		text-align:left;
	}
	&.gray {
		background-color:$bg-2;
		border-width:0;
		overflow:hidden;
	}
}

/* customer menu */
.customer-aside {
	width: 220px;
    margin-right: 45px;
    margin-bottom: 20px;
    float: left;

	.lnb {
		box-sizing:border-box;
		border-top:1px solid $border-2;
		padding: 15px 25px;
		margin-top:-1px;
		&:first-child {margin-top:0;}

		> a {
			width:100%;
			color: $font-1;
			font-size: 14px;
			//margin-top:10px;
			//padding:8px 0;
			//font-weight:bold;
			&:first-child {margin-top:0;}
		}

		.title {
			padding:0;
			margin:5px 0 10px;
			// font-weight:bold;
			font-size:15px;
		}

		.twodepth-lnb {
			.list {
				padding:8px 0;
				font-size:12px;
				color: $font-2;
			}
		}
	}

	i {display:none;}
	&.mypage {
		.title {
			color: $font-1;
			font-size: 14px;
			font-weight: bold;
		}
		.lnb {
			> a {
				padding:8px 0;
				font-size:12px;
				color: $font-2;
				font-weight: normal;
			}
		}
	}
}


.customer-contents {
	float: left;
	width: calc(100% - 265px);

	.title {
		position:relative;
		margin:0 0 20px 0;
		padding:0;
		border:0;
		width: 100%;
		> .label {
			font-size:$font-size-l;
		}

		> .btn-link {float:right;}

		> .info{
			font-size:$font-size-s;
			display: block;
			padding-top:10px;
			line-height: 1.5;
		}
		> .right-container{
			position:absolute;
			bottom:0px;
			right:0px;
		}
		> strong {
			font-size: 16px;
			font-weight: normal;
		}
	}

	> * {margin-bottom:40px;}

	> .customer-notice {margin-bottom: 0;}
	> .customer-faq {margin-bottom: 0;}
	> .tab-filter-wrapper {margin-bottom: 20px;}

	.order-filter{
		padding:25px;
		border:1px solid $border-2;
		background-color: $bg-2;
		margin-bottom: 20px;
		.date{
			font-size:$font-size-s;
		}
	}

	.return-btn-container{
		padding:10px;
		z-index: 1;
		width: 100%;
		background-color: #fff;
		box-sizing:border-box;
	}
}

/* 고객센터 메인 숨김처리 */
.pt_cscenter {
	.btn-pagination,
	.tab-filter-wrapper {display: none;}

}


// 주문내역 리스트
.customer-order {

	// 주문 상세
	&.order-detail{
		> .header{
			font-size: $font-size-s;
			color:$font-4;
			padding-bottom:25px;
			border-bottom:1px solid $border-1;
			.order-code{
				margin-left:15px;
			}
		}
		.content-wrap{
			>.content-title{
				margin:40px 0px 20px 0px;
			}
			>.content{
				&:last-child{
					margin-bottom:0px;
				}
				font-size:$font-size-s;
				color:$font-1;
				line-height: 20px;
				margin-bottom:20px;
				>*{
					display: block;
				}
				.payment-info{
					>li{
						line-height: 1;
						border-bottom: 1px solid $border-2;
						padding:10px 0px;
						&:first-child{
							padding-top:0px;
						}
						&:last-child{
							border-bottom: none;
						}
						.price{
							float:right;
							&.total{
								font-size:$font-size-s;
							}
						}
					}
				}
			}
		}
		.order-item-container{
			border-top:1px solid $border-2;
			border-bottom:1px solid $border-2;
			.address-info{
				font-size: $font-size-mini;
				color: $font-4;
				display: block;
				margin-top:20px;
			}
		}
	}

	.order-list {
		position: relative;
		margin-top:10px;
		border:1px solid $border-2;
		&:first-child {margin-top:0;}

		.header {
			position:relative;
			padding:14px 20px;
			background-color: $bg-2;
			color:$font-4;
			font-size:$font-size-s;
			&:after {content:""; display:block; clear:both;}

			.date {float:left;}
			// .total-price {position:absolute; left:105px;}
			// .order-code {position:absolute; left:245px;}
			.btn-order-detail {float:right; padding:0; font-size:$font-size-s; margin-right:0px;}

			> * {
				display:inline-block;
				margin-right:15px;
				float:left;
				&:first-child {margin-left:0;}
			}
		}

		&.return{
			// .total-price {position:absolute; left:140px;}
			// .order-code {position:absolute; left:290px;}
			.header {
				padding:10px 15px;
				.input-checkbox{
					padding-top:0px;
				}
				> * {
					padding-top:4px;
				}
			}
			.order-item-wrap{
				.item-info{
					padding-left:15px;
				}

			}
		}
	}
}

/* 약관 관련 style */
.customer-policy {
	line-height: 1.6em;
	.title {
		padding-bottom: 20px;
		border-bottom: 1px solid $border-2;
	}
	> * {line-height: 1.6em; margin-bottom: 15px;}


	/* editor : foundation css str  */
	table tbody tr:nth-child(even) {
	    background: #f9f9f9;
	}
	table thead, table tfoot {
	    background: #f5f5f5;
	}
	/* editor : foundation css end */

	table {
	    border-collapse: collapse;
	    font-size: 14px;
	    width: 100%;
	    td, th {
	    	padding: 5px;
		    border: 1px solid #ddd;
		    vertical-align: top;
		    p {
		    	padding-bottom: 15px;
		    }
	    }
	    thead {
	    	td, th {
	    		 font-weight: bold;
   				 border-bottom-color: #888;
	    	}
	    }
	}
	a {
		color: #15c;
		text-decoration: underline;
		&:hover {color:#454e57;}
	}

	//  table {
	//     margin: 15px 0;
	//     border-left: 1px solid $border-2;
	//     border-top: 1px solid #000;
	//     font-size: 12px;
	//     color: $font-2;
	//     width: 100%;
	//     border-collapse: collapse;
	//     thead {
	//     	td {
	//     		text-align: center;
	// 		    padding: 10px 10px 10px;
	// 		    border-right: 1px solid $border-2;
	// 		    border-bottom: 1px solid $border-2;
	// 		    font-weight: normal;
	// 		    background: $bg-3;
	// 		    text-align: center;
	//     	}
	//     }
	//     th {
	// 	    text-align: center;
	// 	    padding: 10px 10px 10px;
	// 	    border-right: 1px solid $border-2;
	// 	    border-bottom: 1px solid $border-2;
	// 	    font-weight: normal;
	// 	    background: $bg-3;
	// 	    text-align: center;
	// 	}
	// 	td {
	// 	    position: relative;
	// 	    display: table-cell;
	// 	    line-height: 16px;
	// 	    text-align: center;
	// 	    vertical-align: middle;
	// 	    padding: 10px;
	// 	    border-right: 1px solid $border-2;
	// 	    border-bottom: 1px solid $border-2;
	// 	    color: $font-1;
	// 	}
	// }
}


.order-item-wrap {
	display:table;
	width:100%;
	padding:20px 0px;
	box-sizing:border-box;

	// 상품 섬네일과 옵션의 container
	.item-info {
		padding-left:20px;
		display:table-cell;
		width:58%;

		vertical-align:top;
		> ul {
			list-style:none; padding:0; margin:0; border:0;
			> li{
				clear:both; position:relative; overflow: hidden; margin-top:20px; &:first-child {margin-top:0;}
			}
		}
	}

	//상품 섬네일
	.img-wrap {
		overflow:hidden;
		display:inline-block;
		width:60px;
		min-height: 60px;
		float:left;
		> img {display:block;width:100%;}
	}

	.input-checkbox{
		margin-right:15px;
		float:left;
	}

	// 상품 옵션
	.info-wrap {
		box-sizing: border-box;
		display:inline-block;
		padding-left:15px;
		vertical-align:top;
		float:left;
		.tit {display:block; font-size:$font-size-s; color: $primary-color;}
		.opt {font-size:$font-size-s; color: $font-4;}
		.price {display:block; color: $font-1;}
		.btn {
			display:block; margin-top:20px; font-size:$font-size-s; color: $font-5;
			.btn-style-guide {margin-bottom:0;}
		}


		> * {
			margin-top:7px;
			display: inline-block;
			&:first-child {margin-top:0;}
		}
	}

	// 주문 상태
	.item-status {
		display:table-cell;
		width:22%;
		vertical-align: middle;
		.status {
			// font-weight:bold;
			font-size:14px;}
		> .btn-link {
			padding:8px 0 0 0;
		}

		> .status, .other-info {
			display:inline-block; padding-top:8px; width:100%;
			&:first-child{padding-top:0};
		}
	}

	// 액션 버튼
	.item-btn {
		padding-right:20px;
		box-sizing: border-box;
		display:table-cell;
		// width:20%;
		text-align:right;
		vertical-align: middle;
		position:absolute;;
		top:50%;
		right:0px;
		> * {margin-top:5px; &:first-child{margin-top:0;}}
		a{
			display: block;
			text-align: center;
		}
	}


	// 주문 취소, 반품 팝업에서 사용
	&.return-reason-list{
		padding:0px;
		.return-reason-item{
			padding:20px;
			&:last-child{
				border-bottom:none;
			}
			width: 100%;
			box-sizing: border-box;
			display: inline-block;
			border-bottom: 1px solid $border-1;
			margin-top:0px;

			.reason-info{

			}

			.quantity-wrap{
				padding: 10px 0px 0px 15px;
				font-size:$font-size-mini;
				clear:both;
			}
		}
	}
}

.customer-location {
	display:none;
	position:relative;
	width:100%;
	padding:10px 0;
	margin:0;
	border-bottom:1px solid $border-2;
	text-align:center;
	font-size:18px;
	// font-weight:bold;
	color: $title_mobile-location;
	box-sizing:border-box;

	> a {position:absolute; left:20px; color: $title_mobile-location;}
}



.mobile-btn-wrap {display:none; padding:20px; text-align:center;}

.shipping-list {
	border-top:1px solid $border-2;
	padding:30px;
	color:$font-1;

	.ship-tit {display:inline-block; width:100%;
		// font-weight:bold;
	}
	.address-default {font-weight:normal; color:$font-3;}
	.user-name {display:inline-block; width:100%; margin-top:15px;
		// font-weight:bold;
	}
	.addr-type, .addr {
		padding-top:6px;
		line-height: 1.4em;
	}

	.addr-type {width:60px;}
	form {display:inline-block;}
}


.address-form {
	display:none;
	text-indent:-9999px;
	overflow:hidde;
}

.address-form-wrap {
	padding:50px 20px;

	.tit {font-size:14px; margin-top:15px;}
	.input-textfield, .search-field {margin-top:5px;}
	.btn-wrap {text-align:center; margin-top:30px;}
	.hidden-form {display:none; overflow:hidden;}
}

.cancel-order-preview, .return-order-preview{
	position:fixed;
	right:0;
	bottom:0;
	width:400px;
	padding:10px;
	box-sizing: border-box;
	border:1px solid $border-1;
	background: $bg-1;
	z-index: 1;
}


/* 내용 없을 때 */
.no-item {
	padding:50px 0;
	text-align:center;
	border-width:1px 0 1px 0;
	border-style:solid;
	border-color:$border-2;
}

/* order step */
.order-step-title {
	padding: 40px 0 15px;
	font-size: 16px;
	box-sizing: border-box;
	&.line{
		border-bottom: 1px solid $border-2;
	}
}
.order-step {
	width:100%;
	height:128px;
	margin-bottom:50px;
	border-top:1px solid $border-2;
	border-bottom:1px solid $border-2;
	box-sizing: border-box;

	li {
		position:relative;
		float:left;
		width:20%;
		text-align:center;
		padding:10px 0 0 0;
		line-height: 1.5em;
		font-size: 12px;

		&:after {
			content:'\e903';
			font-family: 'icomoon';
			position:absolute;
			top:55px;
			left:0;
			display:block;
			width:7px;
			height:14px;
		}
		&:first-child:after {
			font-size:0;
		}

		span {
			padding:0 0 5px;
			font-size:11px;
			letter-spacing:0.3em
		}
		dt {
			padding:0 0 15px;
			font-size:14px;
			color: $font-1;
		}
	}
}

// cscenter main
.pt_cscenter {
	min-height: 700px;
}

/* wish list */
.customer-wish {
	.product-item {
		.item-info {
			.item-title {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.opt {font-size: 12px;}
			.item-price {margin-top: 6px;}
		}
		.btn-link.line {padding: 0}
	}
}



/* tab btn wrapper */
.tab-filter-wrapper {
	width:100%;

	.tab-filter-container {
		.tab-filter-list {
			width:16.66%;
			position:relative;
			float:left;
			margin-left:-2px;

			&.active {
				z-index:10;
				.btn-link {border-color:$primary-color;}
			}
			&:first-child {margin-left:0;}
			&:hover {z-index:5;}

			.btn-link {
				width:100%;
				text-align:center;
			}
		}
		&:after {content:''; display:block; clear:both;}
	}
}



/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.hide {display:none;}
	.show {display:block;}
	.pt_account {display:none}
	.pt_cscenter {display:none;}
	.customer-title {display:none;}

	.customer-wapper {min-height:300px;}
	.customer-aside {
		position:static;
		width:100%;
		margin-bottom: 0;
		.lnb {
			padding:0;
			border:0;
			border-bottom:1px solid $border-2;

			&:first-child {
				// border-top:0;
				//.title {border-top:1px solid $border-2;}
			}

			> .btn-link {
				// border-top:1px solid $border-2; 고객센터 2줄 겹침 때문에 제거
				padding:20px;
				color: $font-2;
			}

			> .title {
				margin:0;
				padding:20px 20px 20px;
				background-color: $bg-2;

			}

			.twodepth-lnb {display:none;}
		}
		&.mypage {
			.lnb {
				> .btn-link {
					border-top:1px solid $border-2;
					padding:20px;
					color: $font-2;
					&:last-child {
						border-bottom:1px solid $border-2;
					}
				}
			}
		}
		i {display:block;}
	}

	.customer-location {
		display:block;
		height:56px;
		padding:18px 0 0 0;
		font-weight:normal;

		a {
			display:inline-block;
			top:0;
			left:0;
			width:55px;
			height:55px;
			padding:18px 0 0 0;
			box-sizing:border-box;
		}
	}

	.customer-order {
		.order-list {
			margin-top:20px;
			.header {
				.total-price {display:none;}
				// .order-code {display:none;}
			}
		}

		&.order-detail{
			> .header{
				padding-top:10px;
				padding-bottom:10px;
				.order-code{
					float:right;
				}
			}
		}
		.uk-sticky-placeholder {
			height: 56px !important;
		}
	}

	.customer-contents {
		width: 100%;
		padding:0;
		.title{
			display: none;
		}

		.order-filter {
			padding:10px;
			border-left:0;
			border-right:0;
			border-top:0;
		}
	}

	.no-item {
		padding:20px 0;
		border:0;
	}

	.order-step-title {
		padding:40px 15px 20px 15px;
	}
	.order-step {
		height: auto;
		padding:0 15px;
		overflow: hidden;
		border-bottom: 0;

		li {
			width: 100%;
			text-align: left;
			&:after {
				font-size:0;
			}
		}
		dt {
			min-width:80px;
			display: inline-block;
			vertical-align: top;
		}
		dd {
			display: inline-block;
			vertical-align: top;
		}
	}
	// 우선 customer에서만 사용되는 content 여백 처리용 dom
	// mobile에서는 좌우 20px padding처리
	.content-wrap{
		padding-left:20px;
		padding-right:20px;
	}

	.order-item-wrap{
		.item-btn{
			position:relative;
			&.not-ableVoid{
				border-top:none;
				margin-top:0px;
			}
		}
	}

	.customer-policy {
		padding: 15px;
	}

	/* mc wish list */
	.contents {
		.customer-wish {
			.list-type {
				.product-item {
					padding: 0 5px;
					.item-info {min-height: 65px;}
				}
			}
		}
	}

	.mobile-btn-wrap {display:block;}
	.customer-faq {margin-bottom:0;}

}

.social-login-title {
	position: relative;
	&:before {
		content:'';
		display:block;
		position: absolute;
		top: 50%;
		width: calc(100% - 20px);
		border-top: 1px solid $border-2;
	}
	span {
		position: relative;
		padding: 0 8px;
		background: $bg-1;
	}
}
.social-login-container {
	.btn-link {
		i {
			position:relative;
			font-size: 20px;
			display: inline-block;
			width: 36px;
			height: 36px;
			text-align: center;
			line-height: 36px;
			vertical-align:middle;
			&:after {
				content:'';
				position:absolute;
				display:block;
				width: 1px;
				height: 16px;
				top:10px;
				right:0;
				background: #000;
			}
		}
		&.large {
			width: 100%;
			padding: 0;
			.txt {
				font-size: 13px;
				width: calc(100% - 36px);
				text-align: center;
				display: inline-block;
			}
		}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.tab-filter-wrapper {
		.tab-filter-container {
			.tab-filter-list {
				overflow:hidden;
				width:50%;
				margin-left:-2px;
				margin-top:-2px;

				&:nth-child(odd) {
					margin-left:0;
				}
			}
		}
	}
	.social-login-container {
		.uk-width-1-3 {
			width:100%;
			margin-top: 10px;
		}
	}
}
