.scrollup{
	bottom:15px;
}

.header_layout_2 {
	.header-gnb {
		font-size: 11px;
		a {
			position: relative;
			.ic-gnb-cart {
				vertical-align: -6px;
			}
		}
		.mini-cart-cnt {
			position: static;
		}
	}
	.header-lnb {
		.header-logo {
			padding: 5px 0 0;
		}
		.header-menu_etc {
			.etc-menu {
				font-size: 14px;
				font-weight: bold;
				.ic-app-down {
					vertical-align: middle;
					margin-right: 5px;
				}
			}
		}

		/* watsons menu hard coding  : str */
		.header-menu-wrap {
			height: 38px;
			.header-submenu-wrap {
				width: 192px;
				.width-xlarge {
					padding:0;
				}
			}
		}
		.header-menu_onedepth {
			> .onedepth-list {
				padding: 0;
				position: relative;
				> a {
					height: 38px;
					padding: 11px 20px 12px;
					box-sizing: border-box;
					&.active {
						background: #008196;
					}
				}
			}
			.header-menu_twodepth {
				padding: 10px 0 ;
				background: #f7f7f7;
				border:1px solid #ebebeb;
				box-sizing: border-box;
				&:hover {
					background: #fff;
				}
				&.multi-column {
					width: 384px;
					padding:0;
					background: none;
					border: 0;
					> ul {
						float: left;
						display: inline-block;
						width: 190px;
						height: 397px;
						padding: 10px 0;
						background: #f7f7f7;
						border:1px solid #ebebeb;
						box-sizing: border-box;
						&:hover {
							background: #fff;
						}
						&.no-line {
							border-left: 0;
						}
					}
				}
				.twodepth-list {
					min-width: 190px;
					margin-bottom: 0;
					 > a {
					 	display: inline-block;
					 	width: 100%;
					 	padding: 6px 0 6px 18px;
					 	margin-top: 5px;
						font-size: 14px;
						color: #222;
						box-sizing: border-box;
						&:hover {
							color: #fff;
							background: #008196;
						}
					}
				}
			}
			.header-menu_threedepth {
				a {
					width: 100%;
					padding: 7px 0 7px 28px;
					font-size: 12px;
					box-sizing: border-box;
					color: #666;
					&:hover {
						color: #fff;
						background: #008196;
					}
				}
			}
		}
		/* watsons menu hard coding :end */

		.gnb-search-field {
			display: table-cell;
			width: 256px;
			padding-left: 30px;
			.input-textfield {
				> label {
					top: 10px;
				}
				> input {
					width: 220px;
					height: 30px;
					padding:6px 12px;
					border-color: $primary-color;
				}
				.btn-wrap {
					right: 13px;
				}
			}
			.btn_search {
				position: static;
				width: 36px;
				height: 30px;
				.icon-search {
					@extend .icon-background;
					width:36px;
					height:30px;
					background-position: -350px -300px;
				}
			}
		}

		/* mobile big5 menu */
		.mc-big-menu {
			// 상단바 고정 수정 잠시만 백업
    		//background: #fff;
    		//overflow: hidden;
			li {
				position: relative;
				float:left;
				width: 20%;
				height: 45px;
				border-top: 1px solid #c3c7ca;
				box-sizing: border-box;
				> a {
				    width: 100%;
				    height: 100%;
				    color: $font-1;
				    padding-top: 15px;
				    font-size: 14px;
				    display: block;
				    box-sizing: border-box;
				}
				&.active {
					&:before {
						content: '';
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    width: 100%;
					    height: 2px;
					    background: $primary-color;
					}
					> a {color: $primary-color;}
				}
			}
		}
	}
}


.slide{
	.best-prd-item{
		.item-imgwrap{
			min-height:147px;
		}
		.item-info{
			background:#fff;
			height:27px;
			padding-top:10px;
			a{
				display: inline-block;
			}
			&.not-first{
				padding-top:0px;
				border-left:none;
				border-right:none;
			}
			.item-title{
				line-height: 16px;
				word-break:break-all;
				margin-top:0px;
			}
		}
		.item-price{
			background:#fff;
			height:30px;
			.disc-num {
				float:right;
				margin-left:0px;
				margin-top:-3px;
			}
		}
		.item-content-wrap{
			border-bottom:1px solid $border-3;
			background:#fff;
		}
	}
}


.product-item {
	.item-content-wrap {
		.item-acting {
			position:relative;

			form {display:inline-block;}
			.wish-btn {
				padding:0;
			}
		}
		.item-info {height:22px;}
	}
}

.pt_brand{
	.caption{
		position: absolute;
		bottom: -30px;
		text-align: center;
		width:100%;
		.brand-logo{
			display: inline-block;
			width: 120px;
			height: 120px;
			border-radius: 12px;
			border: 2px solid #dfdfdf;
			img{
				width:100%;
				height:100%;
				border-radius: 10px;
			}
		}
	}

	.brand-item-list{
		.brand-item{
			padding-bottom:20px;
		}
	}

	.filter-wrap_category{
		height:40px;
	}
}
.pt_eventList{
	.content-container{
		padding:0px !important;
		.header-title{
			display: none;
		}
	}
}

.brand-product-list{
	margin-top:20px;
	padding:10px;
	border:1px solid $border-3;
}



/* main best 100 product list : str */
.best-item-list-wrap {
	.uk-grid {
		> * {
			margin-bottom:20px;
		}
	}
	.content-title {
		font-size: 24px;
		padding-bottom: 15px;
	}
}
.best-prd-item {
	position: relative;
	padding-bottom: 32px;
	> div{
		background-color: #fff;
	}
	.action-hover, .watsons-badge {
		border:1px solid $border-3;
		border-bottom: 0;
		box-sizing: border-box;
		.item-label_ico {
			position: absolute;
			&.left {
				top:0;
				left:20px;
			}
			&.right {
				top:0;
				right:0;
			}
		}
	}


	.watsons-badge {
		position:absolute;
		top:0;
	}


	.best-mark {
		position:absolute;
		width: 48px;
		height: 48px;
		background: $primary-color;
		text-align: center;
		color: $font-6;
		text-align: center;
		font-weight: bold;
		color: $font-6;
		font-size: 20px;
		font-weight: bold;
		background:$primary-color;

		span {
			font-size: 12px;
			font-weight: normal;
			display: block;
			padding: 8px 0 3px;
		}
	}

	.mark {
		position:absolute;
		display:table;
		width: 48px;
		height: 48px;
		text-align: center;
		font-weight: bold;
		color: $font-6;

		> span {
			display:table-cell;
			vertical-align:middle;
		}
	}
	.sale-mark {background-color:#ff5a8c;}
	.featured-mark {background-color:$primary-color;}
	.new-mark {background-color:$primary-color;}
	.soldout-mark {background-color:#808080;}


	.item-info {
		width: 100%;
	    height: 66px;
	    padding: 10px 15px 0 15px;
	    font-size: 16px;
	    font-weight: normal;
	    line-height: 1.2;
	    color: $font-1;
	    display: inline-block;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    vertical-align: top;
	    border-right:1px solid $border-3;
		border-left:1px solid $border-3;
	    box-sizing: border-box;
	    margin-top: 0px;
		.brand-title {
			display: block;
			font-size: 12px;
		    font-weight: normal;
		    color: $font-3;
		}
		.item-title {
			display: block;
			margin-top: 3px;
		}
	}
	.item-content-wrap{
		border-right:1px solid $border-3;
		border-left:1px solid $border-3;
		box-sizing: border-box;
	}
	.item-price {
		position:relative;
		display: inline-block;
		width: 100%;
	    font-size: 16px;
	    color: $marketing-color;
	    font-weight: bold;
	    padding: 6px 15px 10px;
	    box-sizing: border-box;
	    height:46px;
		.item-price-sale {
			padding-bottom: 2px;
		    color: $font-3;
		    font-size: 12px;
		    text-decoration: line-through;
		}
		.disc-num {
			position:absolute;
			top:6px;
			right:15px;
			display: inline-block;
		    margin-left: 10px;
		    font-size: 24px;
		    font-weight: bold;
		    color: $marketing-color;
		}
	}
	.item-acting {
		//@include calc( width, '100% - 20px');
		position:relative;
		width: 100%;
		height: 32px;
		padding: 8px 15px;
		bottom: 0;
		border-bottom:1px solid $border-3;
		border-top: 1px solid $border-1;
		box-sizing: border-box;
		.like-num {
			font-size: 14px
		}
		.wish-btn {
			position: absolute;
			top: 6px;
			right: 15px;
			font-size: 18px;
			padding: 0;
		}
	}

	&.not-border{
		> div{
			border:none;
		}
	}

	&.simple{
		padding-bottom:0px;
		.item-price{
			height: 43px;
		}
		.item-price-sale{
			padding-left:0px;
			padding-top:5px;
			display: block;;
		}
		.item-info{
			width:auto;
			height:45px;
		}
	}
}
/* best 100 product list : end */

/* 메인페이지 - 왓슨스 브랜드 할인율 비노출 처리 */
.pt_main .best-prd-item.simple .item-price .disc-num {
    display:none
}

/* footer */
.max-width {
	max-width: $max-width;
	margin: 0 auto;
}
footer {
	.border-line {
		border-top: 1px solid $border-2;
	}
	padding: 0;
	background: none;
	.footer-contents {
		 max-width: 100%;
		 margin: 0 auto;
		 .footer-top {
		 	padding: 10px 0 30px;
		 	.tit {
		 		padding: 10px 0;
		 		color: $font-0;
		 		font-weight: bold;
		 	}
		 	.online-cstit {
		 		font-size: 30px;
		 		color: $primary-color;
		 		a {color: $primary-color;}
		 	}
		 	.text {
		 		font-size: 11px;
		 		color: $default-color;
		 		margin-top: 10px;
		 	}
		 	.footer-sns {
		 		> a {
		 			margin-right: 10px;
		 		}
		 	}
		 	.off-store-txt {
		 		position: relative;
		 		padding-left: 45px;
		 		.micon {
		 			position: absolute;
		 			left: 0;
		 		}
		 	}
		 	.mobile-app-txt {
		 		position: relative;
		 		padding-left: 45px;
		 		.micon {
		 			position: absolute;
		 			left: 0;
		 		}
		 	}
		}
		.footer-middle {
			padding-bottom: 30px;
			background: $footer_bg-color-type1;
			.footer-nav {
				> a {
					position: relative;
					padding-left: 32px;
					font-size: 11px;
					color: $footer_menu-color-type1;
					&:first-child {
						padding-left:0;
						&:after {width:0;}
					}
					&:after {
						content: '';
					    display: block;
					    position: absolute;
					    top: 1px;
					    left: 15px;
					    width: 1px;
					    height: 11px;
					    background: $footer_menu-color-type1;
					}
					&.mcview {
						display:none;
					}
				}
			}
			.company {
				position: relative;
				padding-left: 120px;
				font-size: 11px;
				.micon {
					position: absolute;
					top: 3px;
					left: 0;
				}
				.divider {
					position: relative;
					padding-left: 12px;
					&:after {
						content: '';
					    position: absolute;
					    top: 2px;
					    left: 5px;
					    width: 1px;
					    height: 10px;
					    background: #777;
					}
				}
			}
			.copyright {
				font-size: 11px;
			}
		}
	}
}
/* font 지정 */
.header_layout_2 .header-lnb .header-menu_onedepth > .onedepth-list,
.header_layout_2 .header-lnb .header-menu_etc .etc-menu .etc-menu-item {
	font-family: $typo-en;
}

/* watsons icon */
.ic-app-down {
	@extend .icon-background;
	width:12px;
	height:16px;
	background-position: -420px -300px;
}
.ic-gnb-cart {
	@extend .icon-background;
	width:22px;
	height:20px;
	background-position: -450px -300px;
}
.ic-facebook {
	@extend .icon-background;
	width:33px;
	height:32px;
	background-position: -350px -404px;
}
.ic-instagram {
	@extend .icon-background;
	width:33px;
	height:32px;
	background-position: -443px -404px;
}
.ic-blog {
	@extend .icon-background;
	width:33px;
	height:32px;
	background-position: -490px -404px;
}
.ic-store {
	@extend .icon-background;
	width:33px;
	height:32px;
	background-position: -350px -444px;
}
.ic-mobile-app {
	@extend .icon-background;
	width:33px;
	height:32px;
	background-position: -350px -489px;
}
.ic-footer-logo {
	@extend .icon-background;
	width:103px;
	height:21px;
	background-position: 0 -560px;
}



/* product */
.info-wrap_product {
	.option-wrap {
		.select-box {width:230px}
	}

	.review-wrap {
		.upc-code { display:none; }
	}
}

.product-detail_view {

	.detail-info {
		.description {
			text-align:center;
			> * {margin:0 auto;}
		}
	}
	.detail-delivery {
		padding: 20px 30px;
	}
}

.filter-category-modal-wrap {
	.section-category {
		.category-title {
			margin:20px auto 36px;
			text-align:center;
		}
		.category-sub-menu {
			margin-bottom:35px;
			&:after {content:""; display:block; clear:both;}
			.menu {
				position:relative;
				float:left;
				overflow:hidden;
				border:1px solid $border-2;
				margin-left:-1px;
				margin-top:-1px;

				> a {
					display:inline-block;
					width:185px;
					height:39px;
					padding:13px 0 0 21px;
					box-sizing:border-box;
					background-color:#fbfbfb;
				}

				&.active {
					> a {font-weight:bold; color:#fff; background-color:$primary-color;}
				}
			}
		}

		.filter-wrap_category {
			height:auto;
			.filter-tagbox {
				padding:10px 0 0 0;

				.filter-tit {
					font-size:24px;
				}
			}
		}
	}
}


/* category filter */
.filter-wrap_category {
	padding:14px 0;
	border-top:1px solid $primary-color;
	border-bottom:1px solid #dfdfdf;
	margin-bottom:20px;
	.select-box {margin-top:30px;}

	.btn-filter-open {
		padding:14px 0;
	}
}

.contents {
	.related-items {
		margin-top:-1px;
		border:1px solid #dfdfdf;
	}
}



// 기획전
.pt_category{
	&.exhibition{
		.top-content{
			padding:10px 0px;
			width: 100%;
			&.border-bottom{
				border-bottom:1px solid #dfdfdf;
			}

			>div{
				display: table;
				width: 100%;
			}

			.active-date{
				display:table-cell;
				vertical-align: middle;
				color:$font-3;
			}
			.addthis{
				display:table-cell;
				text-align: right;
			}
			.exhibition-list{
				text-align: right;
			}
		}
	}
}





/* product noti */
.product-noti-content {
	padding: 60px;
	dl {
		background: #fafafa;
		border-bottom: 1px solid #dfdfdf;
	}
	.noit-title {
		padding-left: 15px;
		border-top: 1px solid #dfdfdf;

		box-sizing: border-box;
		&:before {
	    	padding-top: 10px;
	    }
	}
	.noti-value {
		display: inline-block;
		padding-left: 15px;
	    vertical-align: top;
	    width: calc(100% - 260px);
	    border-top: 1px solid #dfdfdf;
	    box-sizing: border-box;
	    background: $bg-1;
	    &:before {
	    	padding-top: 10px;
	    }
	}
}


.content-container{
	.header-title{
		text-align: left;
		line-height: 1.6;
	}
}

/* wide pc bigger - detail page tab : str */
.product-detail_wrap {
	border: 1px solid #dfdfdf;
	margin-left: 0;
}
.info-wrap_product {
	padding: 40px;
	background: #fafafa;
	border-left: 1px solid #dfdfdf;
}
.info-wrap_product {
	.title-wrap {
		color: $font-1;
		font-size: 30px;
		line-height: 33px

	}
	.price-wrap  {
		margin-top: 15px;
		> .price-sale {
			font-size: 14px;
		 }
		> .price {
			> strong {
				font-size: 30px;
			}
		}
	}
}
#detail-container {
	border: 1px solid #dfdfdf;
	border-top: 0;
}
.img-detail_product {
	padding-top: 20px;
}
.product-detail_view {
	margin-top: 40px;
	padding: 0;
	.prd-tab-box {
		width: 100%;
		height: 48px;
		border-left: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
	}
	.detail-tab {
		display: inline-block;

		.btn-tab {
			float: left;
			border-top: 1px solid #dfdfdf;
			border-right: 1px solid #dfdfdf;
			margin-left: 0;
			background: #fafafa;
			> a {
				width: 187px;
				padding: 18px 20px 3px;
				box-sizing: border-box;
				color: $font-1;
				&:hover {
					color: $primary-color;
				}
			}
			&:hover {
				border-bottom: 0;
			}
			&.uk-active {
				position: relative;
				border-bottom: 0;
				background: $bg-1;
				&:before {
					content:'';
					display: block;
					position: absolute;
					top: -1px;
					width: 100%;
					height: 4px;
					background: $primary-color;
				}
			}
		}
	}
	.review-tab-btn {
		display:inline-block;
		border-top: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		margin-left: -2px;
		padding-bottom: 10px;
		background: #fafafa;
		vertical-align: top;
		> a {
			display:inline-block;
			width: 187px;
			padding: 18px 20px 3px;
			box-sizing: border-box;
			color: $font-1;
			font-size: 16px;
			text-align: center;
			&:hover {
				color: $primary-color;
			}
		}
		&:hover {
			border-bottom: 0;
		}
	}
}
/* wide pc bigger - detail page tab : end */


// 왓슨스 첫번째 이미지 리스트 반응형 억지로 처리
.pt_main{
	> .content-container:nth-child(2) {
		.imageList-container{
			.image-item{
				img{
					padding:30px 30px 10px 30px;
				}
			}
			.caption{
				padding-bottom:30px;
				font-size:14px;
			}
		}
	}
}

.quickview{
	.img-detail_product{
		padding-left:15px;
	}
}



.historyBack {
	display:none;
	position:fixed;
	width:40px;
	height:40px;
	top: 15px;
	left: 10px;
	padding-top:10px;
	cursor: pointer;
	background: $bg-4;
	color:$font-3;
	text-align:center;
	font-size:18px;
	box-sizing:border-box;
	&:hover {
		background:$primary-color;
		color: $font-6;
	}
}


/* 최근 검색어 */
#latest-keyword {
	padding-bottom:0!important;
	.list {
		position:relative;
		height:auto;
		padding:10px;
		&:after {
			content:'';
			display:block;
			clear:both;
		}
		a {
			display:block;
			padding:0;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		}
		.lk-item {
			padding-right:18px;
		}
		.lk-remove {
			position:absolute;
			top:0;
			right:10px;
			width:18px;
			height:100%;
			background:url('/cmsstatic/theme/b-commerce/assets/images/ic-delete.svg') center center no-repeat;
			background-size: 11px auto;
			text-indent:-9999px;
			overflow:hidden;
			border:0;
			//background-color:#aaa;
		}
	}
	.lk-remove-all {
		> a, > button {
			display:block;
			width:100%;
			height:28px;
			font-size:14px;
			color:#666;
			line-height:28px;
			text-align:center;
			background-color:#f5f5f5;
			border:0;
		}
	}
}

/* tablet */
@media (max-width: $breakpoint-medium) {
	/* category filter */
	.filter-category-modal-wrap{
		.section-category {
			.category-title {
				margin:0 auto;
				height: 56px;
				line-height: 56px;
				font-size: 17px;
				color: #222;
				font-weight:bold;
				text-align: center;
			}
			.filter-wrap_category {
				height:auto;
				padding:0;
				border:0;
				.btn-link i {margin-left:12px}
				.select-box {
					position:static;
					display:block;
					width:100%;
					margin-top:0;
					&.sort {
						.select-head {padding:17px 12px;}
					}
				}
				.filter-tagbox {
					/*
					display:inline-block;
					padding:0;
					width:100%;
					*/
					display:none;
				}
			}
			.category-sub-menu {
				border-top:1px solid #EBEBEB;
				background-color:#f5f5f5;
				padding-bottom:8px;
				margin-bottom:0;
				.menu {
					margin-left:0;
					margin-top:0;
					width:33.33%;
					height:40px;
					border-top:0;
					border-right:0;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;
					> a {
						width:100%;
						overflow:hidden;
						padding-left:12px;
					}
					&.active > a {
						background-color:#fff;
						color:$primary-color;
					}
				}
			}
		}
	}


	.best-prd-item {
		padding-bottom:10px;
		> div {
			margin:0px 5px;
		}

		.item-price {
			.disc-num {
				// display:none;
				right:10px;
			}
			.item-price-sale{
				display: block;
			}
		}
	}

	.slide{
		.best-prd-item{
			> div {
				margin:0px;
			}
			.item-imgwrap {
				/* min-height:190px; 문제가 되면 다시 해제 요망 */
			}
		}
	}

	.pt_brand {
		.item-price {
			.disc-num {
				top:10px;
				right:0px;
				font-size:16px;
			}
		}
	}

	.content-container{
		.header-title{
			text-align: center !important;
			padding-left:0px !important;
			width:100% !important;
		}
	}

	.pt_category{
		&.exhibition{
			.top-content{
				padding:10px;
				.active-date{
					display:block;
					text-align: center;
				}
				.addthis{
					display:block;
					text-align: center;
				}
				.exhibition-list{
					width: 100%;
					display:block;
					.select-box{
					width: 100% !important;
					}
				}
			}
		}
	}

	// 왓슨스 첫번째 이미지 리스트 반응형 억지로 처리
	.pt_main{
		> .content-container:nth-child(2) {
			.imageList-container{
				.image-item{
					border-left:1px solid #f0f0f0;
					border-bottom:1px solid #f0f0f0;
					img{
						padding:20px 20px 10px 20px;
					}
					&:nth-child(4n+1){
						border-left:none;
					}
				}
				.caption{
					padding-bottom:20px;
					font-size:12px;
				}
			}
		}
	}

	/* 인기 검색어 & 최근 검색어 */
	#keyword-container {
		.list {
			border-bottom:1px solid #ebebeb;
			padding:10px 12px;
			a {
				min-height:20px;
				padding:0;
			}
			.lk-item {
				padding-right:18px;
			}
			.lk-remove {
				position:absolute;
				top:0;
				right:10px;
				width:18px;
				background-size: 11px auto;
			}
		}
		.lk-remove-all {
			> a {
				height:40px;
				line-height:40px;
			}
		}
	}

}





/* genie search page */
.geine-location {
	position:relative;
	width:100%;
	padding:10px 0;
	margin:0;
	border-bottom:1px solid $border-2;
	text-align:center;
	font-size:18px;
	// font-weight:bold;
	color: $title_mobile-location;
	box-sizing:border-box;

	> a {position:absolute; left:20px; color: $title_mobile-location;}
}

.geine-contents {
	min-height:400px;
}

.gnb-search-field {
	.etc-search-wrap {
		// display:block;
		// position:static;
		max-width: 220px;
		max-height:none;
		border:1px solid $border-2;

		// .sort-tabs {
		// 	padding: 10px !important;
		// 	width: 100%;
		// 	box-sizing: border-box;
		// 	li {
		// 		float: left;
		// 		width: 50%;
		// 		&.uk-active {
		// 			.sort-item {
		// 				color: #008397;
		// 				&:before {
		// 					border: 2px solid #008397;
  // 							z-index: 2;
		// 				}
		// 			}
		// 		}
		// 	}
		// 	.sort-item {
		// 		width: 100%;
		// 	}
		// }
		// .tit {padding: 10px 0;}
		// .favorite-search {
		// 	&:after {content:''; display:block; clear:both;}
		// 	.list {

		// 		> a {
		// 			display: inline-block;
		// 		    width: 100%;
		// 		    padding: 10px 20px;
		// 		    box-sizing: border-box;
		// 		    font-size: 14px;
		// 		    color: #383838;
		// 		    font-weight: normal;
		// 		}
		// 		.no {display:inline-block; width:25px; margin-right:10px; text-align:center; font-size:12px; color:$font-4;}
		// 		.keyword {font-size:13px;}
		// 	}
		// }

		.detail-tab {
			padding:30px 20px;
			&:after {content:''; display:block; clear:both;}
			.btn-tab {width:50%; box-sizing:border-box; text-align:center;}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	// 상단바 고정 수정 잠시만 백업
	/*
	.wrapper{
		padding-top:102px;
	}
	*/
	.header_layout_1 .header-lnb .header-logo .header-item img {
		height: 22px;
		margin-top: 14px;
	}
	.header_layout_2{
		// 상단바 고정 수정 잠시만 백업
		/*
		position: fixed;
	    width: 100%;
	    height: 56px;
	    background: #fff;
	    z-index: 997;
	    */
		.header-lnb {
			.header-logo {
				padding: 0;
				.header-item {
					img {
						height: 22px;
					}
				}
			}
			.header-menu_etc {
				a {
					color: $default-color;
					&:after {
						left: 4px;
					}
				}
			}
			.gnb-search-field {
				display: none !important;
				position: absolute;
				top: 56px;
				left:0;
				width: 100%;
				padding:0;
				margin: 0;
				&.active {
					display: block !important;
				}
				.input-textfield {
					> label {
						top: 17px;
						left: 41px;
						font-size: 13px;
					}
					> input {
						width: 100%;
						height: 46px;
						border-width: 6px;
						padding: 14px 12px 14px 35px;;
					}
					.btn-wrap {
						margin-top: -10px;
					}
				}
				.btn_search  {
					position: absolute;
					top: 3px;
					left: 3px;
					.icon-search {
						background: none;
						width: 38px;
						height: 38px;
						text-indent: 0;
						color: $font-1;
						line-height: 38px;
					}
				}
			}
		}
	}
	.gnb-search-field {
		.etc-search-wrap {
			max-width: 100%;
			border:0;
		}
	}
	.contents {
		.product-detail_wrap {
			border:0;
			> .info-wrap_product {
				border: 0;
				background: $bg-1;
			}
		}
	}
	/* wide pc bigger - detail page tab  : str */
	#detail-container {
		border: 0;
	}
	.product-detail_view {
		margin-top: 0;
		.prd-tab-box {
			position: relative;
			box-shadow: 0 2px 3px 0 #999;
			border: 0;
			z-index:2;
		}
		.detail-tab {
			width: 67%;
			.btn-tab {
				width: 50%;
				border:0;
				background: $bg-1;
				box-sizing: border-box;
				> a	{
					width: 100%;
					padding: 18px 0 3px;
				}
				&.uk-active{
					> a {
						color: $primary-color;
					}
					&:before {
						top: inherit;
						bottom:-3px;
					}
				}
			}
		}
		.review-tab-btn {
			width: 33%;
			margin-left: -3px;
			border:0;
			background: $bg-1;
			box-sizing: border-box;
			> a {
				width: 100%;
				font-size: 14px;
			}
		}
	}
	/* wide pc bigger - detail page tab  : end */

	/* product noti */
	.product-noti-content {
		padding: 0;
		dl {
			background: $bg-1;
		}
		.noit-title {
			border:0;
		}
		.noti-value {
			width: auto;
			border:0;
			padding-bottom: 5px;
		    &:before {
				padding-top:0;
		    }
		}
	}

	.best-prd-item {
		.item-acting {
			width: 100%;
		}
		.item-info {
			height: 57px;
			.item-title {
				font-size: 13px;
			}
		}
	}
	.brand-product-list {
		border:0;
		.best-prd-item {
			.item-info{
				padding: 10px 5px 0;
				height: 40px;
				.item-title {
					font-size: 12px !important;
				}
			}
			.item-price {
				padding: 5px 5px 0;
			}
		}
	}
	.pt_brand {
		.brand-item-list {
			.brand-item{
				padding-bottom: 0;
				border-bottom: 7px solid #f0f0f0;
				> .contents {
					border-top: 1px solid #e0e3e5;
					border-bottom: 1px solid #e0e3e5;
				}
			}
		}
	}

	footer {
		.footer-contents {
			padding: 0;
			.footer-middle {
				.footer-nav {
					text-align: center;
					> a {
						padding-left: 10px;
						font-size: 13px;
						&:after {
							left: 4px;
						}
						&.mcview {display: inline-block;}
					}

				}
			}

			.footer-middle {
				padding: 0 12px 30px;
				.company{
					padding:0;
					font-size: 10px;
					&:before {
						margin-top: 10px;
					}
					.divider {
						padding-left: 6px;
						&:after {
							left: 1px;
							height: 9px;
						}
					}
					.copy {
						line-height: 16px;
						margin-top: 10px;
					}
				}
			}
		}
	}
}
