.icon-background {
	display:inline-block;
	overflow:hidden;
	//background-image:url('/cmsstatic/theme/bristol-site/assets/images/icon.png');
	background-image:url('/assets/images/icon.png');
	//background-image:url('/cmsstatic/theme/b-commerce/assets/images/icon.png');
	background-repeat:no-repeat;
	text-indent:-9999px;
	background-size: 800px auto;
}

.brz-icon-instagram {
	@extend .icon-background;
	width:16px;
	height:16px;
	background-position:-111px -20px;
}

.brz-icon-facebook {
	@extend .icon-background;
	width:16px;
	height:16px;
	background-position:-140px -20px
}


.brz-icon-twitter {
	@extend .icon-background;
	width:16px;
	height:16px;
	background-position:-173px -20px;
}

.brz-icon-cart {
	@extend .icon-background;
	width:25px;
	height:25px;
	background-position:-21px -20px;
}

.brz-icon-search {
	@extend .icon-background;
	width:24px;
	height:24px;
	background-position:-69px -20px;
}
.brz-icon-registerdone {
	@extend .icon-background;
	width:60px;
	height:60px;
	background-position: -10px -460px;
}





.brz-icon-star_small {
	@extend .icon-background;
	width:55px;
	height:11px;
	background-position:-76px -55px;

	&.star-1{background-position:-65px -55px;}
	&.star-2{background-position:-54px -55px;}
	&.star-3{background-position:-43px -55px;}
	&.star-4{background-position:-32px -55px;}
	&.star-5{background-position:-21px -55px;}
	&.per{position:absolute;top:0;left:0;}
}

.brz-icon-star_normal {
	@extend .icon-background;
	width:68px;
	height:12px;
	background-position:-248px -55px;

	&.star-1{background-position:-234px -55px;}
	&.star-2{background-position:-221px -55px;}
	&.star-3{background-position:-207px -55px;}
	&.star-4{background-position:-194px -55px;}
	&.star-5{background-position:-180px -55px;}
	&.per{position:absolute;top:0;left:0;}
}

.brz-icon-star_large {
	@extend .icon-background;
	width:129px;
	height:24px;
	background-position:-150px -69px;

	&.star-1{background-position:-124px -69px;}
	&.star-2{background-position:-98px -69px;}
	&.star-3{background-position:-72px -69px;}
	&.star-4{background-position:-46px -69px;}
	&.star-5{background-position:-21px -69px;}
	&.per{position:absolute;top:0;left:0;}
}

.brz-icon-star_xlarge {
	@extend .icon-background;
	width:34px;
	height:30px;
	margin:0 4px;
	background-position:-553px -55px;

	&:hover {background-position:-350px -85px;}
	&.active {background-position:-350px -55px;}
	// &.star-1{background-position:-513px -55px;}
	// &.star-2{background-position:-472px -55px;}
	// &.star-3{background-position:-432px -55px;}
	// &.star-4{background-position:-391px -55px;}
	// &.star-5{background-position:-350px -55px;}
}

.star-bullet {
	@extend .icon-background;
	display:inline-block;
	width:13px;
	height:12px;
	background-position:-248px -55px;
}


.brz-icon-bambug {
	@extend .icon-background;
	width:36px;
	height:27px;
	background-position:-21px -102px;
}

.brz-icon-bambug_small {
	@extend .icon-background;
	width:14px;
	height:14px;
	background-position:-65px -117px;
}

.brz-icon-logo {
	@extend .icon-background;
	width:171px;
	height:26px;
	background-position:-20px -560px;
}

.brz-icon-info{
	@extend .icon-background;
	width:26px;
	height:26px;
	background-position:-121px -217px;
}

.brz-icon-select_up {
	@extend .icon-background;
	width:14px;
	height:15px;
	background-position:-191px -108px;
}

.brz-icon-select_down {
	@extend .icon-background;
	width:14px;
	height:15px;
	background-position:-191px -117px;
}

.brz-icon-opt-select_up {
	@extend .icon-background;
	width:10px;
	height:6px;
	background-position:-191px -110px;
}
.brz-icon-opt-select_down {
	@extend .icon-background;
	width:10px;
	height:6px;
	background-position:-215px -120px;
}

.brz-icon-slidebar {
	@extend .icon-background;
	width:20px;
	height:20px;
	background-position:-87px -223px;
}

.brz-icon-radio {
	@extend .icon-background;

	float:left;
	width:20px;
	height:20px;
	background-position:-21px -279px;
	z-index:10;
}

.brz-icon-checkbox {
	@extend .icon-background;

	float:left;
	width:18px;
	height:18px;
	background-position:-22px -320px;
	z-index:10;
}

.brz-icon-delete {
	@extend .icon-background;

	width:8px;
	height:8px;
	background-position:-290px -22px;
}

.brz-icon-file {
	@extend .icon-background;

	width:51px;
	height:51px;
	background-position:-21px -193px;
}
.brz-icon-img-file {
	@extend .icon-background;
	width:14px;
	height:11px;
	background-position:-160px -232px;
}


.brz-badge-container{
	display: block;
	.brz-badge-sale, .brz-badge-soldout, .brz-badge-featured, .brz-badge-new, .brz-badge-hot, .brz-badge-comming {
		display:inline-block;
		padding:3px 6px;
		font-style:normal;
		font-size:10px;
		text-align:center;
		color: $font-6;
		background: $primary-color;
	}
	.brz-badge-soldout {
		background: #bdbdbd;
	}

	&.text{
		padding-bottom:8px;
		display: block;
		[class^="brz-badge-"]{
			background:none;
			color: $primary-color;
			font-weight: bold;
			padding:3px 2px;
		}
		.brz-badge-soldout{
			color:$bg-6;
		}
	}
}



.brz-icon-arrow {
	@extend .icon-background;

	&.left {}
	&.right {}
	&.up {}
	&.down {}
}


.brz-icon-circle {
	display:inline-block;
	border:1px solid #ccc;
	border-radius:50%;
	width:18px;
	height:18px;
	line-height:16px;
	text-align:center;
	box-sizing: border-box;
	font-family: "Montserrat", "Noto Sans KR";
}




/* icomoon */
i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height:1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* font-size */
	&.xsmall {font-size:12px;}
	&.small {font-size:14px;}
	&.medium {font-size:20px;}
	&.large {font-size:28px;}
	&.xlarge {font-size:40px;}
	&.x2large {font-size:86px;}

	/* size */
	&.color-less {color: $font-5;}
}

.icon-ic-first-page {
  &:before {
    content: $icon-ic-first-page;
  }
}
.icon-ic-last-page {
  &:before {
    content: $icon-ic-last-page;
  }
}

.icon-star5 {
  &:before {
    content: $icon-star5;
  }
}

.icon-after {
	&:before {
		content: $icon-after;
	}
}

.icon-arrow_top {
	&:before {
		content: $icon-arrow_top;
	}
}

.icon-arrow_bottom {
	&:before {
		content: $icon-arrow_bottom;
	}
}

.icon-arrow_left {
	&:before {
		content: $icon-arrow_left;
	}
}

.icon-arrow_right {
	&:before {
		content: $icon-arrow_right;
	}
}



.icon-arrow_mix {
	&.top {
		&:before {
			content: $icon-arrow_top;
		}
	}
	&.bottom {
		&:before {
			content: $icon-arrow_bottom;
		}
	}
	&.left {
		&:before {
			content: $icon-arrow_left;
		}
	}
	&.right {
		&:before {
			content: $icon-arrow_right;
		}
	}
}



.icon-call {
	&:before {
		content: $icon-call;
	}
}
.icon-camera {
	&:before {
		content: $icon-camera;
	}
}
.icon-check {
	&:before {
		content: $icon-check;
	}
}
.icon-check_circle {
	&:before {
		content: $icon-check_circle;
	}
}
.icon-delete_bold {
	&:before {
		content: $icon-delete_bold;
	}
}
.icon-delete_thin {
	&:before {
		content: $icon-delete_thin;
	}
}
.icon-eye {
	&:before {
		content: $icon-eye;
	}
}
.icon-facebook {
	&:before {
		content: $icon-facebook;
	}
}




.icon-fullarrow {
	&.top {
		 &:before {
			content: $icon-fullarrow_top;
		}
	}

	&.bottom.uk-hidden{
		display: inline-block !important;
		visibility: visible !important;
		 &:before {
			content: $icon-fullarrow_top;
		}
	}
	&.bottom {
		&:before {
			content: $icon-fullarrow_bottom;
		}
	}
}



.icon-google {
	&:before {
		content: $icon-google;
	}
}
.icon-info {
	&:before {
		content: $icon-info;
	}
}
.icon-kakaostory {
	&:before {
		content: $icon-kakaostory;
	}
}
.icon-kakaotalk {
	&:before {
		content: $icon-kakaotalk;
	}
}
.icon-menu {
	&:before {
		content: $icon-menu;
	}
}
.icon-minus {
	&:before {
		content: $icon-minus;
	}
}
.icon-plus {
	&:before {
		content: $icon-plus;
	}
}
.icon-refresh {
	&:before {
		content: $icon-refresh;
	}
}
.icon-search {
	&:before {
		content: $icon-search;
	}
}
.icon-share {
	&:before {
		content: $icon-share;
	}
}
.icon-shoppingbag {
	&:before {
		content: $icon-shoppingbag;
	}
}
.icon-star {
	&:before {
		content: $icon-star;
	}
}
.icon-twitter {
	&:before {
		content: $icon-twitter;
	}
}


.icon-wishlist {
	&:before {
		content: $icon-wishlist;
	}
}
.icon-wishlist_full {
	&:before {
		content: $icon-wishlist_full;
	}
}



.icon-wishlist_mix {
	&:before {
		content: $icon-wishlist;
	}

	&.full {
		&:before {
			content: $icon-wishlist_full;
		}
	}
}

.icon-cnt {
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:50%;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background-color:$primary-sub-color;
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.brz-icon-logo {
		background-position:-14px -372px;
	}
}
