/* guess header */
.header_layout_2 {
	.header-gnb {
		position: relative;
		z-index: 102;
		a {
			height: 32px;
			box-sizing: border-box;
			vertical-align: top;
			&:hover {
				background-color: #333;
			}
			&:after {right:0; width:0;}
		}
		.header-gnb_maxwidth {
			max-width: 100%;
			.header-mymenu {
				li {
					float: left;
					margin-left: 0;
					border-left:1px solid #484848;
					&:first-child {border-left: 0;}
					a {
						display:inline-block;
						padding:12px 15px 0;
					}
					a.gnb-search-btn {
						line-height: 16px;
						i.large {
							font-size: 16px;
							line-height: 0;
						}
					}
				}
			}
		}
		.header-infomenu {
			float: left;
			li {
				float:left;
				border-left:1px solid #484848;
				&:first-child {border-left: 0;}
				a {
					display:inline-block;
					padding:12px 15px 0;
				}
			}
		}
		.gnb-search {margin-top: 16px;}
		.etc-search-wrap {
			.list {
				a {
					color: $lnb_etc-menu-color;
					padding: 10px 20px;
					&:hover {
						background-color: $bg-2;
					}
				}
			}
		}
	}
	.header-lnb {
		.header-menu-wrap {
			border-bottom: 1px solid #eee;
			.header-submenu-wrap {
				&.active {
					border-top: 1px solid #eee;
					border-bottom: 1px solid #999;
				}
			}
		}
		.header-logo {
			float: none;
			display: inline-block;
			min-height: auto;
			&.mobile-header-title {display:none}
		}
		.header-menu_etc {display: none;}
		.header-menu_onedepth {
			font-size: 14px;
			> .onedepth-list{
				display: inline-block;
				padding: 0 44px;
				a {
					display: inline-block;

					&.active {
						position: relative;
						color: $lnb_color-type2-over;
						&:after {
							content:'';
							display:block;
							position: absolute;
							bottom:0;
							left:0;
							width:100%;
							border-bottom:1px solid #000;

						}
					}
				}
				> a {
					height:38px;
					font-weight: 600;
				}
			}
			.header-menu_twodepth {
				padding:30px 235px;
				.twodepth-list {
					min-width: 170px;
					margin-bottom:0;
					font-size: 13px;
					font-weight: 700;
				}
			}
			.header-menu_threedepth {
				a {
					font-size: 12px;
				}
			}
		}
	}
}

/* 폰트 타입 지정 */
.pt_main h1,
.category-title .tit,
.filter-tagbox .filter-tit,
.filter-category-wrap .section-filter,
.price,
.order-price,
.price-wrap,
.style-code {font-family: $typo-en }
footer .company-info .noti{font-family: $typo-ko }

/* sale color */
.product-item {
	.item-info {
		.item-price {
			.disc-num {
				color: #ee000f;
				font-weight: bold;
				font-size: 14px;
				padding-left: 4px;
			}
		}
	}
}

/* guess footer */
footer {
	padding: 40px 10px;
	border-top: 1px solid #e5e5e5;
	.footer-contents {
		margin-top: 0;
	}
	.newsletter-conts {
		.tit {
			display: inline-block;
			float: left;
			margin: 8px 10px 10px 0;
			font-weight: 600;
			text-transform: uppercase;
		}
		.newsletter-field {
			max-width: 400px;
		}
		.input-textfield {
			float: left;
			width: calc(100% - 150px);
			vertical-align: top;
			margin-right: 4px;

			> label {
				top: 10px;
			}
			> input {
				width: 100%;
			}
		}
		.btn_join {
			width: 54px;
			height: 36px;
			padding: 0;
		}
		.input-form-group {
			clear: both;
			.input-checkbox{
				 > label .label {font-size: 12px;}
			}
		}
	}
	.border-line {margin-top: 30px;}
	.company-menu {
		margin-bottom: 22px;
		> a {
			display: inline-block;
			margin-right: 23px;
		}
	}
	.company-info {
		line-height: 20px;
		> span {
			display: inline-block;
			&.divider {
				position: relative;
				margin-left: 5px;
				padding-left: 9px;
				&:before {
					content:'';
					display: inline-block;
					position: absolute;
					top: 2px;
					left: 0;
					width: 1px;
					height: 14px;
					background: $footer_text-color;
				}
			}
		}
		.noti {
			font-weight: 600;
		}
	}
	.company-copyright {
		margin-top: 10px;
		font-size: 10px;
	}
	.icon-microsite {
	    @extend .icon-background;
	    width:39px;
	    height:39px;
	    background-position:-220px -520px;
	    &:hover {
	    	background-position:-220px -560px;
	    }
	}
	.icon-blog {
	    @extend .icon-background;
	    width:39px;
	    height:39px;
	    background-position:-320px -520px;
	    &:hover {
	    	 background-position:-320px -560px;
	    }
	}
	.icon-kakaoplus {
		@extend .icon-background;
	    width:39px;
	    height:39px;
	    background-position:-371px -520px;
	    display: none;
	    &:hover {
	    	 background-position:-371px -560px;
	    }
	}
	.safeservice {
		padding: 12px;
		border: 1px solid $border-2;
		box-sizing: border-box;
		> a {
			border-bottom: 1px solid $footer_menu-color-type1;
			&:hover {
				border-bottom: 1px solid $footer_menu-color-type1-over;
			}
		}
	}
}


.info-wrap_product {
	.price-wrap {
		.price {
			> strong {font-size:23px;}
		}
		.disc-num {
			font-size: 20px;
			color: $marketing-color;
			margin-left: 5px;
		}
	}

	.option-wrap {
		.select-box {width:235px; height:36px;}
	}
}


.all-media-display {
	max-width:780px;
	margin:0 auto;
	text-align:center;
	img{
		padding-bottom: 30px;
	}
}
.info-wrap_product {
	.title-wrap {
		color: $default-color;
		line-height: 1.4;
	}
}
.img-detail_product {
	.masker {
		max-height: none;
	}
}

/* 고객센터 좌측 메뉴 call number */
.call-center {
	position: relative;
	padding: 25px 10px 25px 45px;;
	border: 1px solid $border-2;
	/* border-top: 0; */ /* 2018.01.15 */
	color: $font-1;
	line-height: 1.6;

	.i-cs-center {
		position: absolute;
		top: 25px;
		left: 10px;
		font-size: 24px;
	}
	.call-title {
		font-size: 14px;
		font-weight: bold;
		&.gutter {
			margin-top: 26px;
		}
	}
	.kakao-cs {
		font-sie: 16px;
		margin-top: 5px;
	}
	.num {
		font-size: 24px;
		font-weight: bold;
	}
	.num2 {
		font-size: 18px;
		font-weight: bold;
		margin-top: 5px;
	}
	.txt {
		font-size: 12px;
		margin: 6px 0;
	}
	.txt2 {
		font-size: 11px;
		margin: 6px 0;
	}
}



/* guess icon */
[class^="guess_"], [class*=" guess_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'guess' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.guess_ic_login:before {
  content: "\e93b";
}
.guess_ic-call2:before {
  content: "\e93a";
}
.guess_ic-exchange2:before {
  content: "\e939";
}
.guess_ic-kakaoplus:before {
  content: "\e935";
}
.guess_ic-location:before {
  content: "\e936";
}
.guess_ic-micro:before {
  content: "\e937";
}
.guess_ic-prev2:before {
  content: "\e938";
}
.guess_ic-blog2:before {
  content: "\e901";
}
.guess_ic-logo:before {
  content: "\e934";
}
.guess_ic-bank:before {
  content: "\e900";
}
.guess_ic-blog:before {
  content: "\e8ff";
}
.guess_ic-call:before {
  content: "\e902";
}
.guess_ic-card:before {
  content: "\e903";
}
.guess_ic-cart:before {
  content: "\e904";
}
.guess_ic-certify:before {
  content: "\e905";
}
.guess_ic-comment:before {
  content: "\e906";
}
.guess_ic-coupon:before {
  content: "\e907";
}
.guess_ic-create:before {
  content: "\e908";
}
.guess_ic-cs:before {
  content: "\e909";
}
.guess_ic-cs-list:before {
  content: "\e90a";
}
.guess_ic-cs-qa:before {
  content: "\e90b";
}
.guess_ic-customer-edit:before {
  content: "\e90c";
}
.guess_ic-done:before {
  content: "\e90d";
}
.guess_ic-down-thin:before {
  content: "\e90e";
}
.guess_ic-drawer:before {
  content: "\e90f";
}
.guess_ic-error:before {
  content: "\e910";
}
.guess_ic-escrow:before {
  content: "\e911";
}
.guess_ic-exchange .path1:before {
  content: "\e912";
  color: rgb(4, 0, 0);
}
.guess_ic-exchange .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.guess_ic-exchange .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.guess_ic-exchange .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.guess_ic-exchange .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.guess_ic-facebook:before {
  content: "\e917";
}
.guess_ic-home:before {
  content: "\e918";
}
.guess_ic-instagram:before {
  content: "\e919";
}
.guess_ic-kakaostory:before {
  content: "\e91a";
}
.guess_ic-kakaotalk:before {
  content: "\e91b";
}
.guess_ic-location-thin:before {
  content: "\e91c";
}
.guess_ic-lock:before {
  content: "\e91d";
}
.guess_ic-minus:before {
  content: "\e91e";
}
.guess_ic-mobile:before {
  content: "\e91f";
}
.guess_ic-myaccount:before {
  content: "\e920";
}
.guess_ic-next:before {
  content: "\e921";
}
.guess_ic-off:before {
  content: "\e922";
}
.guess_ic-order:before {
  content: "\e923";
}
.guess_ic-order-cancel:before {
  content: "\e924";
}
.guess_ic-order-deliver:before {
  content: "\e925";
}
.guess_ic-phone:before {
  content: "\e926";
}
.guess_ic-photo:before {
  content: "\e927";
}
.guess_ic-pinterest:before {
  content: "\e928";
}
.guess_ic-plus:before {
  content: "\e929";
}
.guess_ic-prev:before {
  content: "\e92a";
}
.guess_ic-search:before {
  content: "\e92b";
}
.guess_ic-share:before {
  content: "\e92c";
}
.guess_ic-sms:before {
  content: "\e92d";
}
.guess_ic-trash:before {
  content: "\e92e";
}
.guess_ic-twitter:before {
  content: "\e92f";
}
.guess_ic-up-thin:before {
  content: "\e930";
}
.guess_ic-wish:before {
  content: "\e931";
}
.guess_ic-wish_full:before {
  content: "\e932";
}
.guess_ic-youtube:before {
  content: "\e933";
}



.product-detail_view {
	.detail-info {text-align:center;}
}



/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.header_layout_2{
		.header-gnb {
			.header-infomenu {display: none;}
		}

		.header-lnb {
			.header-logo {
				float:none;
				display: table;
				height:18px;  // 모바일 로고 세로값  사이즈
				min-height: 56px;
				padding: 0;
				box-sizing:border-box;
				.header-item {
					img {
						height: 46px;
					}
				}
			}
		}
	}
	footer {
		padding: 0 0 20px;
		.footer-contents {
			padding: 0;
			.footer-nav {
				&:before {margin-top:0;}
				a {color: $font-6;}
			}
		}
		.newsletter-conts {
			padding:0 16px;
			height: 200px;
			background-image:url('/assets/images/bg_newsletter.jpg');
			border-top: 10px solid $border-2;
			background-size: cover;
			.tit {
				position: relative;
				float: none;
				display: block;
				font-size: 23px;
				color: $font-6;
				margin: 0;
				padding: 27px 0 7px;
				text-align: center;
				font-family: $typo-en;
				text-transform: capitalize;
				&:after {
					content:'';
					position:absolute;
					bottom:0;
					left:50%;
					width:20px;
					height:1px;
					margin-left:-10px;
					background: $border-caution;
				}
			}
			.subtit {
				padding: 10px 0;
				font-size: 15px;
				color: $font-6;
				text-align: center;
			}
			.newsletter-field {
				max-width: 100%;
			}
			.input-form-group {
				margin-top: 15px;
				color: $font-6;
				font-size: 11px;
				// text-align: center;
				.input-checkbox {
					> label{
						display: inline;
						&:after {display: inline-block}
						// > i {float: none;}
						> .label {display: inline; font-size: 11px; vertical-align: top}
					}
				}

			}
			.input-textfield {
				width: calc(100% - 58px);
			}
			.btn_join {
				background-color: transparent;
				color: $font-6;
				border: 1px solid $bg-1;
			}
		}
		.border-line {
			margin-top: 10px;
			border-top: 1px solid $border-2;
		}
		.company-sns {
			padding-top: 10px;
			border-top: 10px solid $border-2;
			text-align: center;
		}
		.icon-kakaoplus {
			display: inline-block;
		}
		.company-menu {
			text-align: center;
			margin-bottom: 0;
			padding: 12px 16px 0;
			font-size: 11px;
			> a {
				margin:0 11px;
			}
		}
		.company-info {
			padding: 16px 16px 0;
			font-size: 10px;
			line-height: 15px;
			text-align: center;
			span{
				&.divider {
					position: relative;
					margin-left: 5px;
					padding-left: 9px;
					&:before {
						content:'';
						display: inline-block;
						position: absolute;
						top: 2px;
						left: 0;
						width: 1px;
						height: 11px;
					}
					&.mobile-nodivider {
						&:before {width:0}
					}
				}
			}
			.pc-txt {display: none;}
		}
		.company-copyright {
			text-align: center;
			margin-top: 5px;
		}
		.safeservice {display: none}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.info-wrap_product {
		.option-wrap {
			.select-box {width:100%;}
		}
	}
	.call-center {
		padding: 25px 20px;
		text-align: center;
		.i-cs-center {
			display: block;
			position: static;
			margin-bottom: 20px;
			font-size: 40px;
		}
	}
	.header_layout_2 {
		.header-lnb {
			.header-menu_etc {
				a{
					&.gnb-search-btn {margin-right: 5px;}
				}
			}
		}
		.header-gnb {
			.gnb-search {
				margin-top: 0;
			}
		}
	}
}
@media (max-width: $breakpoint-medium) {
	.header_layout_2 {
		.header-lnb {
			.header-menu_etc {
				display: block;
			}
		}
	}
}
