/* price font weight setting  : str */
.price {
	// font-weight:500;
	// > strong {font-weight:500}
	// .sale-price {
	// 	font-weight:500;
	// 	> strong {font-weight:500}
	// }
}
.total-price {
	// > strong {font-weight:500}
}
/* price font weight setting  : end */


.product-checkout{
	// width:319px;
	width: 32%;
	min-width: 320px;
	// padding:25px;
	box-sizing:border-box;
	// background-color: $bg-4;
	color: $font-1;

	// &.checkout {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}

	.cart-title {
		margin: -45px 35px 30px;
		padding-bottom: 20px;
		border-bottom:1px solid $border-2;
	}

	.summary-pack {
		padding: 0 35px;
	}

	.label {display:table-cell; font-size:14px; font-weight: bold; color:$font-1;}
	.price {
		display:table-cell;
		text-align:right;
		&.sale {color: $prd_total-price;}
		&.total {
			> strong {font-size:16px;}
		}
		> strong {font-size:14px; font-weight: bold;}
	}
	.sale-price {
		color:$font-4;
		font-size:$font-size-m;
		text-decoration: line-through;
		strong {font-weight: normal; }
	}

	.info-price	{
		// padding-top:10px;
		> span {
			width:100%;
			display:table;
			margin-top: 20px;
			&:first-child {margin-top:0;}
		}
	}
	.total-price {
		display:table; 
		width:100%; 
		border-bottom:1px solid $border-2; 
		margin-top: 20px; 
		padding:0 0px 20px 0px;
		&.adjust{
			font-size:$font-size-s;
			padding-bottom:5px;
		}
		// .label {font-size: $font-size-l;}
	}
	.info {
		position: relative;
		padding: 30px 35px 30px 55px;
		background-color: $bg-2;
		margin-top:30px; 
		font-size: $font-size-s; 
		line-height:17px; 
		color:$font-2;
		border-bottom: 1px solid $border-2;
		box-sizing: border-box;
		i {
			position: absolute;
			left: 35px;
			top: 32px;
		}
	}
	.btn-style-guide {margin-top:12px; font-size: $font-size-s;}
	> .order-list {
		padding:20px 0;
		&:first-child {padding-top:0;}
		.order-info {padding-left:15px;}
	}
	.btn-moreview {
		display:inline-block;
		margin-top:10px;
		font-size:$font-size-mini;
	}

	.total-adjust-price{
		padding-top:17px;
	}

	.promotion {
		margin: 48px 35px 0;;
		.input-textfield {
			> label {
				top: 16px;
				font-size: $font-size-m;
				color: $font-2;
			}
			> input {
				height: 48px;
				font-size: $font-size-m;
				color: $font-2;
			}
		} 
		.button[type='submit'] {
			height: 48px;
			font-size: $font-size-m;
			color: $default-color;
			background-color: $bg-1;
			border: 1px solid $form_border;
			border-left: 0;
		}
	}
}

.btn-caft-btm {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 5px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 2px 4px rgba(0,0,0,0.06);
	z-index: 100;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	.total-info {
		float: left;
		width: 50%;
		padding-left: 20px;
		box-sizing: border-box;
		>span {
			display: block;
			margin-top: 5px;
			font-size: 12px;
			text-align: left;
			&.price {
				font-size: 18px;
			}
		}
	}
	.order-btn {
		float: right;
		width: 50%;
		margin-top: 0 !important;
	}
}


.mypage-cart{

	.tbl-title {
		display:table;
		width:100%;
		padding:13px 50px 14px 0;
		box-sizing:border-box;
		text-align:center;
		border-top:1px solid $border-2;

		> * {
			display:table-cell;
			font-size: 12px;
			color: $font-2;
		}
		.item-info {
			width:65%;
			text-align: left;
		}
		.option-wrap {width:20%;}
	}

	//padding-right:350px;
	&:after {content:''; display:block; padding-top:66px;}
	&.later {
		clear: both;
		.cart-title {font-size:18px;}
		text-align:left;
	}

	.product-opt_cart {
		position:relative;
		width:100%;
		border-top:1px solid $border-2;
		padding:20px 50px 20px 0;
		box-sizing:border-box;

		&:last-child {border-bottom:1px solid $border-2;}
		&:after {content:''; display:block; clear:both;}

		.item-detail{
			display:table;
			width: 100%;
			min-height:115px;

			> * {display:table-cell;}

			.item-info {
				width:65%;
				.img-wrap {
					position: absolute;
					overflow:hidden;
					display:inline-block;
					width:105px;
					img {width: 100%;}
				}
				.info-wrap {
					display:inline-block;
					box-sizing:border-box;
					padding-left:155px;
					line-height:18px;
					vertical-align: top;

					.tit {display:block; margin-bottom:7px; font-size:14px; font-weight: bold; color: $prd_text-color;}
					.opt {display:block; font-size:12px; color:$font-1;}
					.current-option-wrap {
						.opt {display:inline;}
					}
					.btn {
						display:block; margin-top:20px; font-size:12px; color: $font-2;
						.btn-style-guide {margin-bottom:0;}
					}
					.text-opt-wrap {display:inline-block; margin-bottom:8px;}

					a {color: $prd_text-color;}
					a:hover {color: $prd_text-color-over;}
				}
			}
			.option-wrap {
				width:20%;
				padding-left:10px;
				vertical-align:top;
				.btn-link {
					text-align:left;
					padding:0;
					height:22px;
					font-size:$font-size-s;
					&.optchange-btn {
						font-weight: bold;
						color: $primary-color;
					}
				}
			}
			.total-price {padding-top:3px; vertical-align:top; text-align:center; box-sizing:border-box;}
			.delete-btn{
				position:absolute; top:23px; right:10px;
				.btn-delete {
					font-size: 13px;
					color: #ccc;
				}
			}
		}

		.btns {
			padding-left: 155px;
			.btn-link, form {
				display: inline-block;
				margin-right: 15px;
				color: $font-2;
			}
		}

		.promo-detail{
			color:$apply-color;
			font-size:$font-size-s;
			padding-left: 155px;
			>span {
				display: inline-block;
				margin:10px 0;
			}
			.icon-check {
				padding: 1px;
				border: 1px solid $apply-color;
				border-radius: 50%;
			}
		}
	}

	.total-price {
		.sale-price {display:block; margin-bottom:3px; font-size: $font-size-s; text-decoration:line-through; color:$font-4;}
		> strong{font-size: $font-size-m; color: $prd_sale-price; font-weight: 500;}
	}
}

.cart-title {
	padding:0;
	margin: 0 0 20px 0;
	font-size:24px;
	font-weight:bold;
	color: $title_category-color;
}
.cart-title-sm {
	font-size:$font-size-l;
	padding:0 0 15px 0;
	color:  $primary-color;
}
.cart-subtext {
	font-size:$font-size-s;
	.btn-wrap {
		.mini {margin-right:5px;}
	}
}

.item-container {
	display:table;
	width:100%;
	min-height:500px;

	// &.less-items {
	// 	display:block;
	// 	padding-top: 0;
	// 	.item-list-wrap {
	// 		>.mypage-cart {
	// 			border-top: 1px solid $border-2;
	// 			border-bottom: 1px solid $border-2;
	// 		}
	// 		// display:block;
	// 		// width:100%;
	// 		// max-width:100%;
	// 		// text-align:left;
	// 	}
	// }
	&.less-items {
		display:block;
		.item-list-wrap {
			display:block;
			width:100%;
			max-width:100%;
			text-align:left;
		}
	}

	.item-list-wrap {
		// padding-right:30px;
		float:left;
		display:inline-block;
		// width:72%;
		width: 63%;
		max-width:845px;
		box-sizing:border-box;
	}
	.product-checkout {
		vertical-align:top;
		display:inline-block;
		float:right;
		// width: 28%;
	}


	.align-center {
		display:block;
		margin:0;
		// padding-top:40px;
		text-align:center;
	}
}


/* 옵션변경 팝업 */
.cart_opt_chg {
	.uk-modal-dialog {
		padding: 0 0 20px;
		.uk-close {
			position: absolute;
			right: 10px;
			top: 10px;
			margin: 0 !important;
			z-index: 999;
		}
	}
	.width-xlarge {margin-top: 0 !important; padding: 0;}
	.product-detail_wrap {margin: 0 !important;}
	.img-detail_product {display: none;}

	.info-wrap_product {
		width: 100%;
		margin-top: 0;
		padding: 0;
		.style-code-info, .price-wrap, .review-wrap, .guide-wrap, .mileage-wrap, .pickup-wrap, .stock-wrap, .etc-wrap, .wish-btn {display: none;}
		.title-wrap {
			display: block !important;
			height: 40px;
			margin-bottom:0;
			padding: 10px 40px 0 20px;
			border-bottom:1px solid $border-2;
			box-sizing: border-box;
			.tit {
				font-size: $font-size-m;
				line-height: normal;
			}
		}
		.option-wrap, .status-wrap {
			display: block;
			padding: 0 18px;
		}
		.option-wrap {
			.tit-color {display:block !important;}
		}
		.status-wrap {
			.btn-wrap {
				margin-bottom: 0; 
				padding: 0;
			}
			.btn-link {margin-top: 0;}
		}
	}
}


/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.cart-title {display:none;}

	.item-container {
		.item-list-wrap {padding-right:0;}
	}
	.mypage-cart {
		.tbl-title {display:none;}
		&:after {padding-top:0;}
	}
	.cart-title-sm {padding:30px 20px 15px;}

	//cart
	.mypage-cart {
		.product-opt_cart {
			padding: 20px 20px 10px !important;
			.item-detail{
				display:block;
				.item-info {
					display:block; 
					width:100%;
					.img-wrap {
						width: 96px;
					}
					.info-wrap {
						padding-left: 105px;
					}
				}
				.option-wrap {
					display:block;
					width:100%;
					padding:5px 0 0 105px;
					box-sizing:border-box;
					> .btn-link {}
				}

				.total-price {display:block; width:100%; padding:5px 0 0 105px; box-sizing:border-box; text-align:left;}
				.delete-btn {right:20px;}
			}
			.promo-detail {
				padding-left: 105px;
			}
			.btns {
				margin-top: 10px;
				padding: 10px 0 0;
				border-top: 1px solid $border-2;
			}
		}
	}
	.less-items {
		padding-top: 0;
		.item-list-wrap {
			padding-bottom: 50px;
			background-color: $bg-2;
			.mypage-cart {
				border: 0 !important;
			}
		}
		.product-checkout {
			display: none !important;
		}
	}
	.product-checkout {
		padding: 0 !important;
		border-top: 15px solid $bg-2;
		.summary-pack {
			padding: 30px 20px 0 !important;
			.order-btn {display: none;}
			.info-price {
				padding: 0 15px 20px;
			}
			.total-price {
				padding-left: 15px;
				padding-right: 15px;
				border-top:1px solid $border-2;
				border-bottom: 0;
				box-sizing: border-box;
			}
		}
		.promotion {margin: 0 20px !important;}
		.info {margin-top: 0;}
	}
	.btn-caft-btm {
		display: block;	
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	//.cart-title {display:none;}
	.mypage-cart {
		.product-opt_cart {
			.cart-btn-pack .order-btn {
				margin-right: -39px;
			}
		}
	}
	.product-checkout {
		.cart-title {
			margin: 0 0 30px;
		}
		.summary-pack {
			padding: 0;
		}
		.total-price {
			padding-top: 20px;
			border-top: 1px solid $border-2;
			border-bottom: 0;
		}
		.promotion {
			margin: 40px 0 0;
		}
	}
}
