* html {
	section {height:100%;}
}

.wrapper{
	min-height:100%;
	//margin:-108px 0 -270px;

	> section {
		//padding:108px 0 270px;
	}
}

.contents{
	@include contents-article;

	&.margin-mini {margin-top:10px;}
	&.margin-small {margin-top:30px;}
	&.margin-xsmall {margin-top:40px;}
	&.margin-medium {margin-top:60px;}
	&.margin-large {margin-top:80px;}
	&.margin-xlarge {margin-top:120px;}


}

.width-xlarge{
	width:100%;
	max-width:$width-xlarge;
	padding:0 36px;
	margin:0 auto;
	box-sizing:border-box;
}
.width-large{
	max-width:$width-large;
}
.width-medium{
	max-width:$width-medium;
}
.width-small{
	max-width:$width-small;
}
.width-max{
	max-width: 100%;
}

.height-max {
	height:100%;
}

.keyvisual-gallery {
	position:relative;
	overflow:hidden;

	.imgwrap {max-height:700px;}
	.info {
		position:absolute;
		bottom:25%;
		width:100%;

		.tit {@include info-setup; font-size:68px; color: $font-6;}
		.subtit {@include info-setup; margin-top:18px; color: $font-6;}
		.link {@include info-setup; margin-top:40px;}
	}
}


.list-type { // 위시리스트???
	// margin-top:30px;
	
	border-left: 1px solid $border-3;
	// .product-item {
	// 	margin: -1px 0 0 0;
	// 	padding: 26px;
	// 	border: 1px solid $border-2;
	// 	border-left: 0;
	// }

	&.latest {
		text-align:center;
		.product-item {
			display:inline-block;
			width:120px;
			margin-left:20px;

			&:first-child {margin-left:0;}
		}
	}
}

.section-category {
	.item-list-wrap {
		margin-left: 0;
		border-left: 1px solid $border-3;
		.product-item {
			// margin: -1px 0 0 0;
			// padding: 0;
			// border: 1px solid $border-3;
			// border-left: 0;
			// >div {
			// 	padding: 40px 22px 24px;
			// }

			// .item-info {
			// 	.item-title {
			// 		font-size: 14px;
			// 	}
			// 	.item-price {
			// 		margin: 8px 0;
			// 	}
			// }

			// .item-label_ico {
			// 	&.whitelabel {
			// 		top: 24px;
			// 	}
			// }

			// .wish-btn-wrap {
			// 	top: 28px;
			// 	right: 15px;
			// }
		}
	}
}



.product-item {
	position:relative;
	// margin:15px 0; // mc category slider 여백 정리
	margin: -1px 0 0 0;
	padding: 0;
	border: 1px solid $border-3;
	border-left: 0;
	>div {
		padding: 40px 22px 24px;
	}

	.item-label_ico {
		position:absolute;
		z-index: 10;

		&.whitelabel {
			// top: 10px;
			top: 24px;
		}
	}

	.item-imgwrap {
		overflow:hidden;
		position:relative;
		max-height:370px;

		> img {
			display:block;
			width:100%;
			height:auto;
			z-index:9;

			&.hover {
				position:absolute;
				display:none;
				top:0;
				left:0;
			}
		}

		.item-label_ico {
			position:absolute;
			color: $font-1;
			z-index: 10;

			&.top_left{top:0; left:0;}
			&.top_right{top:0; right:0;}
			&.bottom_left{bottom:0; left:0;}
			&.bottom_right{bottom:0; right:0}
		}


		//category list item overtxt
		.category-overlaytext {
		    display:table;
			position:absolute;
		    width:100%;
		    height:inherit;
		    min-height:327px;
			text-align:center;
		    vertical-align:middle;
			z-index:60;

			> .txt {
			    display:table-cell;
				height:100%;
			    vertical-align:middle;
			    font-size:20px;
			    font-weight:bold;
			    color: $font-6;
			}
		}
	}

	.item-info {
		// padding:0 10px; /* 디자인 수정관련 삭제 처리 */
		//min-height:100px;
		margin-top:10px;
		color:$font-2;
		letter-spacing:-0.5px;

		.item-marketing {
			display:block;
			position:relative;
			color: $primary-sub-color;
			margin-bottom:5px;
		}

		.item-title {
			overflow:hidden;
			display:block;
			max-height:42px;
			line-height:20px;
			font-size:14px;
			font-weight: bold;
			color: $prd_text-color;
		}

		.item-price {
			display:block;
			position:relative;
			// margin:5px 0 8px;
			margin: 8px 0;
			font-size:14px;
			color: $prd_sale-price;

			.item-price-sale {
				font-size: 12px;
				color: $prd_price;
				text-decoration:line-through;
				padding-right:3px;
			}

			.item-price-per {
				position:absolute;
				right:10px;
			}
			.disc-num {
				position: absolute;
				right: 0;
				font-size: 16px;
				font-weight: bold;
				color: $primary-color;
			}

			> strong {font-weight:400; letter-spacing:0.3px;}
		}

		.like {margin-bottom:8px;}

		.product-like {
			position:relative;
			display:block;
			margin-top:10px;
			&:after {content:""; display:block; clear:both;}
		}

		.item-label_ico {
			position: static;
		}

		.review-num {
			font-size: 12px;
			color: #808080;
		}
	}

	a:hover {
		.item-info {
			.item-title {
				color: $prd_text-color-over;
			}
		}
	}

	.btn-wrap {margin-top: 10px; text-align:center;}

	.wish-btn {
		padding:10px;
		margin:0;
		border:0;
		background-color:transparent;
		color: $font-3;
		cursor:pointer;
		// &:hover {
		// 	color: $primary-color;
		// }
		// .icon-wishlist_full {
		// 	color: $primary-color;
		// }
	}

	.item-marketing-price {
		// display:inline-block; 메세지 없을때 여백 때문에 제거
		color: $marketing-color;
		font-size:12px;

		> a {
			color:inherit;
			display: inline-block;
			margin-top:8px;
		}
	}

	.action-hover {
		position:relative;
		display:block;
		width:100%;

		.quick-btn {
			display:none;
			position:absolute;
			left:0;
			bottom:0;
			z-index:100;
		}

		&.over {
			.hover {display:block;}
			.quick-btn {display:block;}
		}
	}

	.wish-btn-wrap {
		position:absolute;
		top: 28px;
		right: 15px;
		z-index:98;

		.wish-btn {font-size:22px;}
	}

}


/* best products */
.category-slider {
	.best-prd-type {
		.bx-wrapper {margin: 0;}
		.content-title {text-align: left;}
		.product-item {
			>div {
				padding: 12px 24px 12px 196px;
			}
			.item-imgwrap {
				position: absolute;
				left: 24px;
				top: 12px;
				width: 160px;
			}
			.item-info {
				.item-title {
					max-height: 52px;
					font-size: 20PX;
					line-height: 26PX;
				}
				.description {
					margin-top: 15px;
					font-size: $font-size-s;
					line-height: 18px;
				}
				.item-price {
					margin-top: 20px;
					>span {
						padding-right: 8px;
					}
					.dist-num {position: static;}
				}
			}
		}
		.bxslider-controls {
			position: absolute;
			right: 36px;
			top: 40px;
			.btn-prev, .btn-next {
				position: static !important;
				font-size: 24px !important;
			}
		}
	}
}


//hover btn mobile none
body {
	&.mobile {
		.product-item {
			.action-hover {
				&.over {
					.quick-btn {display:none;}
				}
			}
		}
	}
}

.product-box {
	.image-wrap {
		background: $primary-color;
		> img {width:100%;}
	}

	.tit {
		overflow:hidden;
		max-height:50px;
		margin-top:15px;
		line-height:25px;
		font-size:18px;

		color: $primary-color;
		&.center {text-align:center;}
	}

	.subtit {
		overflow:hidden;
		max-height:38px;
		margin-top:10px;
		line-height:20px;
		font-size:14px;
		color:$font-3;
	}
}

.product-banner {
	overflow:hidden;
	max-height:120px;
	background: $primary-color;

	img {
		width:100%;
	}
}


.bread-crumb {
	height:48px;
	// border-bottom:1px solid $border-2;
	color: $font-4;
	font-size: $font-size-m;
	background-color: $bg-2;

	a {font-size: $font-size-m;}
	.breadcrumb-divider {
		padding:0 4px;
		color: $default-color;
	}
	.crumb {
		max-width: $width-xlarge;
		margin:0 auto;
		padding:9px 36px 0;
		font-weight: bold;
		box-sizing: border-box;
		> .current{color:$font-2;}

		&.center {margin-top:50px; text-align:center;}
		&.left {text-align:left;}
		&.right {text-align:right;}
	}

	.like {
		margin-top:20px;
		text-align:center;
	}



	&.mypage {
		.crumb {text-align:left;}
	}
}
.category-title {
	.tit {
		margin:45px 0 50px;
		border:0;
		padding:0;

		// font-weight:bold;
		font-size:34px;
		text-align:center;
		color: $title_category-color;
	}
	&.gray {
		overflow:hidden;
		border-width:0;
		background-color:$bg-2;
		background-position:center;
	}
}


.dim {
	display:none;
	position:absolute;
	overflow:hidden;
	text-indent:-9999px;

	&.active {
		display:block;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: $bg-dimmed;
		opacity:0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
		z-index:998; //mobile 카테고리 filter관련 z-index수정
	}

	&.module-start-before {
		display:block;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: $bg-dimmed;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		z-index:9999;
	}
}


.recent-wrap {
	margin:-16px 0 0 -16px;
	text-align:center;

	.recent-list {
		overflow:hidden;
		display:inline-block;
		width:180px;
		height:220px;
		border:1px solid $border-3;
		margin:16px 0 0 16px;
		> img {display:block; width:100%;}
	}
}


.search-result {
	min-height:300px;
	font-size:16px;
	text-align:center;
	line-height:25px;
	color: $primary-color;

	&.less {color:$font-2;}

	h2 {
		font-size: 20px;
	}
}

.favorite-search-wrap {
	margin-top: 20px;
	font-size: 16px;
	text-align: center;
	font-family: $typo-en;
	.f-keyword {
		display: inline-block;
		font-family: $typo-basic;
		font-size: 12px;
		vertical-align: middle;
	}
	.f-keyword-list {
		display: inline-block;
		font-size: 13px;
		li {
			display: inline-block;
			margin: 0 4px;
			padding: 6px;
			background-color: $bg-2;
			a {
				color: $font-2;
			}
		}
	}
}

.popup-layer-wrap {
	display:none;
	position:absolute;
	top:-9999px;
	left:-9999px;
	width:100%;
	max-width:960px;
	margin-left:-480px;
	background-color: $bg-1;
	z-index:1000;

	&.open {display:block; top:100px; left:50%;}

	.layer-header {
		position:relative;

		> .title {margin-top:30px; text-align:center;
			// font-weight:bold;
			font-size:30px; color: $primary-color;}
		> .description {text-align:center; line-height:20px;}
		> .btn-delete {position:absolute; top:15px; right:15px;}
	}

	.layer-body {
		padding-top:0;
		text-align: left;
		> .input-textfield {width:100%;}
		> .input-checkbox {width:100%;}
	}
	.layer-footer {text-align: left; margin-top:10px;}
}


.gnb-search {
	display:none;
	position:absolute;
	top:50%;
	right:0;
	width:320px;
	margin-top: 25px;

	&.active {display:block;}
}

.address-wrap {
	font-size:12px;

	.zip-code {
		// margin:0;
		.postcode6 {margin-left:5px; color:$font-1;}
	}

	.addr-type {
		display:inline-block;
		float:left;
		width:45px;
		padding-top:5px;
		// font-size:12px;
		font-weight:normal;
		color: #808080;
	}

	.addr {
		overflow:hidden;
		padding-top:5px;

		> a {
			color:$font-1;
			&:hover {text-decoration:underline;}
		}
	}

	dl {margin-top:5px;}
}

/* GNB 인기검색어, 최근검색어 리스트 ui */
.etc-search-wrap {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	overflow:auto;
	// max-height:300px;
	padding:0;
	// border-width:1px 1px 1px 1px;
	// border-style:solid;
	// border-color: $border-5;
	background-color: $bg-1;
	box-sizing:border-box;
	text-align:left;

	.sort-tabs {
		// padding: 10px !important;
		width: 100%;
		box-sizing: border-box;
		overflow:hidden;
		li {
			float: left;
			width: 50%;
			.sort-item {
				width: 100%;
				height: 48px;
				padding: 18px 0 0;
				font-weight: bold;
				&:before {
					border: 0 none;
					border-bottom: 1px solid $border-1;
				}
			}
			&.uk-active {
				.sort-item {
					a {color: $primary-color;}
					&:before {
						border-bottom: 2px solid $primary-color;
						z-index: 2;
					}
				}
			}
		}
	}

	.search-wrap {
		padding:0 0 10px 0 !important;
		font-family: $typo-en;

		> li.less {
			min-height:60px;
    			text-align:center;
    			line-height:5em;
		}
		.list {
			> a {
				display: inline-block;
				width: 100%;
				padding: 13px 25px;
				font-size: 14px;
				box-sizing: border-box;
				// color: #383838;
				font-weight: normal;
				&:hover {background-color:$bg-2;}
				&:focus {background-color:$bg-2;}
			}
			&:after {content:''; display:block; clear:both;}
		}
	}

	.auto-search {
		.list {
			> a {
				color: $font-4;
				border-top: 1px solid $border-1;
				&:before {
					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					display: inline-block;

					content: '\e917';
					margin-right: 10px;
					color: $font-4;
					vertical-align: middle;
				}
			}
			&:first-child a {
				border-top: 0 none;
			}

			strong {
				color: $default-color;
			}
		}
	}

	.empty-btn {
		display:block;
		height: 25px;
		line-height: 25px;
		margin: 6px auto 10px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
	}

	&.active {display:block;}
}

.less-items{
	font-size: 14px;
	color: $font-3;
	padding: 50px 0px 25px 0px;
}

//layout min height
.min-height_large {
	min-height:700px;
}

.like {
	display:inline-block;
	position:relative;
	font-size:12px;
	color: $primary-sub-color;
}


/* responsive */
.mobile-only {display:none !important;}
.pc-only {display:block !important;}
.mobile-br {display:none !important;}

/* loading */
.loading {
	display:none;
	position:fixed;
	top:-99999px;
	left:-99999px;
	text-indent:-9999;
	width:0;
	height:0;
	z-index:9000;

	&.open {display:block; top:0; left:0; text-indenet:0; width:100%; height:100%;}

	.contents {width:250px; height:150px; position:absolute; top:50%; left:50%; margin:-75px 0 0 -125px; padding-top:20px; text-align:center; background-color: $bg-1;}
	.dim {background-color: $bg-dimmed; width: 100%; height: 100%; opacity: 0.1; display: block;}
	.comment {display:inline-block; width:100%; margin-top:20px;}
}





/* color chip */
.color-chip-container {
	// padding:10px 0 20px; 카테고리 여백 관련하여 여백 제거
	// margin:-5px 0 0 -5px;
	margin: 10px 0 0 -5px;
	width:100%;

	.color-chip {
		display:block;
		float:left;
		width:20px;
		height:16px;
		margin: 5px 0 0 5px;
		border:1px solid $color-chip-border;

		&:hover, &.active {border:1px solid $color-chip-border-over}
		img {vertical-align: top;}
	}

	&:after {content:''; display:block; clear:both;}
}

/* return policy */
#return-guide {
	line-height: 1.6;
}


/* swiper 확장 */
/* 20161025 이준호 확장 */
/* key Visual extends */
.keyvisual .bx-wrapper {
	margin-bottom:0;
}
.keyvisual .bx-controls {
	> .bx-pager {position:absolute; bottom:30px;}
}

/* category slide extends */
.swipe-wrapper{
	//overflow:hidden;
	max-width:$max-width;
	position:relative;
	margin:0 auto;
}

.swipe-container{
	width:100%;

	.slide {
		float:left;
		width:270px;
		//margin-right:30px;
		> div{
			box-sizing: border-box;
			padding:0 5px;
		}
	}
	&:after {content:''; display:block; clear:both;}
}
/* .bx-wrapper .product-item .item-imgwrap {margin:0 15px;}
.bx-wrapper .product-item .item-info {padding:0 15px;}
.bx-wrapper .product-item .item-marketing-price {padding:0 15px;}
*/



/* modal extend */
#common-modal {
	font-size: 20px;
	z-index:990;
}

/* category slide */
.category-slider {
	padding: 0px;
	.bxslider-controls{
		display: none;
	}
	&.custom-controller-type-1{
		.bxslider-controls{
			display: block;
			.btn-prev {
				position: absolute;
			    left: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 46px;
			    width: 46px;
			    background: url('/assets/images/btn_slider_type1.png') no-repeat left top;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
			    &:hover {
				    background-color: #f1f1f1
				}
		    }
			.btn-next {
			    position: absolute;
			    right: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 46px;
			    width: 46px;
			    background: url('/assets/images/btn_slider_type1.png') no-repeat left -46px;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
				&:hover {
			    	background-color: #f1f1f1;
				}
			}
		}
	}

	&.custom-controller-type-2{
		.bxslider-controls{
			display: block;
			.btn-prev {
				position: absolute;
			    left: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 40px;
    			width: 40px;
			    background: url('/assets/images/btn_slider_type2.png') no-repeat left top;
    			background-color: #eee;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
			    &:hover {
				    background-color: #d5d5d5
				}
		    }
			.btn-next {
			    position: absolute;
			    right: -46px;
			    top: 107px;
			    display: inline-block;
			    height: 40px;
    			width: 40px;
			    background: url('/assets/images/btn_slider_type2.png') no-repeat left top;
    			background-color: #eee;
			    background-position:right;
			    border-radius: 50%;
			    font-size: 0;
			    color: #c6c6c6;
			    text-align: center;
				&:hover {
			    	background-color: #d5d5d5;
				}
			}
		}
	}

	&.custom-controller-type-3{
		.bxslider-controls{
			display: block;
			.btn-prev {
				position: absolute;
			    	left: -57px;
			    	top: 107px;
			    	color: $font-3;
			    	font-size: 48px;
			    	&:hover {
			    		color: $primary-color;
				}
			}
			.btn-next {
			   	position: absolute;
			    	right: -57px;
			    	top: 107px;
			    	color: $font-3;
			    	font-size: 48px;
			    	&:hover {
			    		color: $primary-color;
				}
			}
		}
	}
	
	.bx-viewport {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			border-left: 1px solid $border-3;
		}
	}

	ul {
		display: flex;
		width: 10000%;
	}

	.product-item {
		margin: 0;
		border-right: 1px solid $border-3;
		>div {
			position: relative;
			padding: 32px 20px 24px;
		}
	}

	.bx-pager {
		margin-top: 16px;
	}

}

.swipe-container {width: 100%; overflow: hidden;}


.text-box{
	line-height: 1.6;
}

/*  SC ITEM CONTENT STYLES */
.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor blockquote,
.redactor-editor pre {
  font-size: 14px;
  line-height: 1.6em;
}
.redactor-editor a {
  color: #15c;
  text-decoration: underline;
}
.redactor-editor object,
.redactor-editor embed,
.redactor-editor video,
.redactor-editor img {
  max-width: 100%;
  width: auto;
}
.redactor-editor video,
.redactor-editor img {
  height: auto;
}
.redactor-editor div,
.redactor-editor p,
.redactor-editor ul,
.redactor-editor ol,
.redactor-editor table,
.redactor-editor dl,
.redactor-editor figure,
.redactor-editor blockquote,
.redactor-editor pre {
  margin: 0;
  margin-bottom: 15px;
  border: none;
  background: none;
  box-shadow: none;
}
.redactor-editor iframe,
.redactor-editor object,
.redactor-editor hr {
  margin-bottom: 15px;
}
.redactor-editor blockquote {
  margin-left: 1.6em !important;
  padding-left: 0;
  color: #777;
  font-style: italic;
}
.redactor-editor ul,
.redactor-editor ol {
  padding-left: 2em;
}
.redactor-editor ul ul,
.redactor-editor ol ol,
.redactor-editor ul ol,
.redactor-editor ol ul {
  margin: 2px;
  padding: 0;
  padding-left: 2em;
  border: none;
}
.redactor-editor ol ol li {
  list-style-type: lower-alpha;
}
.redactor-editor ol ol ol li {
  list-style-type: lower-roman;
}
.redactor-editor dl dt {
  font-weight: bold;
}
.redactor-editor dd {
  margin-left: 1em;
}
.redactor-editor table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}
.redactor-editor table td,
.redactor-editor table th {
  padding: 5px;
  border: 1px solid #ddd;
  vertical-align: top;
}
.redactor-editor table thead td,
.redactor-editor table th {
  font-weight: bold;
  border-bottom-color: #888;
}
.redactor-editor code {
  background-color: #d8d7d7;
}
.redactor-editor pre {
  overflow: auto;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f8f8f8;
  white-space: pre;
  font-size: 90%;
}
.redactor-editor hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4,
.redactor-editor h5,
.redactor-editor h6 {
  font-weight: bold;
  color: #000;
  padding: 0;
  background: none;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em 0;
}
.redactor-editor h1,
.redactor-editor h2,
.redactor-editor h3,
.redactor-editor h4 {
  line-height: 1.3;
}
.redactor-editor h1 {
  font-size: 36px;
}
.redactor-editor h2 {
  font-size: 24px;
  margin-bottom: .7em;
}
.redactor-editor h3 {
  font-size: 21px;
}
.redactor-editor h4 {
  font-size: 18px;
}
.redactor-editor h5 {
  font-size: 16px;
}
.redactor-editor h6 {
  font-size: 12px;
  text-transform: uppercase;
}

// 에디터로 동영상 넣었을 때 반응형 처리
.redactor-editor .video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;}
.redactor-editor .video-container iframe,
.redactor-editor .video-container object,
.redactor-editor .video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}

.margin-auto .redactor-editor div {
	margin-left: auto;
	margin-right: auto;
}

// 이벤트
.pt_event{
	.top-content{
		padding:20px 0px;
		width: 100%;
		&.border-bottom{
			border-bottom:1px solid #dfdfdf;
		}

		>div{
			display: table;
			width: 100%;
		}

		.active-date{
			color:$font-3;
			display:table-cell;
			vertical-align: middle;
		}
		.addthis{
			display:table-cell;
			text-align: right;
		}
	}
}



/* instagram swipe type */
.instagram-container {
	padding-top:30px;

	.swipe-instagram-container {
		.slide {
			> div {padding:10px 0;}
		}

		.instagram-img {
			overflow:hidden;
			max-height:250px;
		}

		.instagram-info {
			.user-img {
				float:left;
				display:inline-block;
				width:40px;
				height:40px;
				padding-right:10px;

				> img {width:100%;}
			}

			.info {
				.name {
					display:block;
					overflow:hidden;
					padding:5px 0;
				}
				.hashtag-container {
					overflow:hidden;
					display:block;
					height:18px;
					line-height:18px;
				}
			}
		}

		.bx-controls {margin-top:20px;}
	}
}



// 모바일 메인화면 배너 하단
.prd-list-type1 {
	.product-item {
		padding: 30px;
		&:last-child {
			border-right: 0;
		}
		>div {
			padding: 0;
		}
		.item-info .item-title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// 메인 ACTIVITY 영역
.prd-list-type2 {
	.bx-viewport {border: 0;}
	.product-item {
		padding: 30px;
		border: 0;
		>div {
			padding: 0;
		}
		.item-info .item-price {
			font-size: 12px;
		}
	}
}




/* bxslider */  
.bx-wrapper .bx-pager {
	margin-top: 16px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	margin: 0 4px;
	background-color: $font-0;
	opacity: 0.32;
	border: 0;
	border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: $primary-color;
	opacity: 1;
}



//slick.css
.brz_component-slider .slick-dots li button {    
    	background-color: $font-0 !important;
    	opacity: 0.32;
    	border : 0 !important;
    	border-radius: 0 !important;
}
.brz_component-slider .slick-dots li.slick-active button {
	background-color: $primary-color !important; 
	opacity: 1;
}

// 메인 키비주얼
.slider-thumb {
	padding-bottom: 5px;
	.slider-thumb-inner {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	}
}
.slick-txt {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	li {
		float: left;
		a {
			display: block;
			height: 48px;
			line-height: 48px;
			font-size: 13px;
			font-weight: bold;
			text-align: center;
		}
		&.active a,
		&:hover a {
			color: $font-6;
			background-color: $primary-color;
		}
	}
}




/* media query */
/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.uk-hidden-small+.wrapper {
		padding-top: 0;
	}
	// .category-slider { padding: 0 5px; }
	.contents {
		&.margin-xsmall {margin-top:0;}
		&.margin-small {margin-top:0;}

		// 모바일에서 좌우 여백 처리하기 위한 클래스
		.content-box{
			padding-left:20px;
			padding-right:20px;
		}

	}
	.bread-crumb {
		display:none;
	}

	.mobile-only {display:block !important;}
	.pc-only {display:none !important;}
	.mobile-br {display:block !important;}

	.category-title {
		.tit {
			font-size:16px;
			margin:20px 0;
		}
		&.gray {
			background-color: $bg-1;
			border-width:0 0 1px 0;
			border-style:solid;
			border-color: $border-2;
		}
	}

	.etc-search-wrap {
		border-width:0 0 1px 0;
		border-style:solid;
		border-color:$border-3;
	}

	.gnb-search {
		top:56px;
		width:100%;
		margin-top:0;
		.search-field {
			.input-textfield {
				> label {left:40px;}
				> input {
					padding-left:40px;
				}
			}
			.btn-search-mobile {
				top:-2px;
				left:0;
			}
		}
	}


	/* color chip */
	.color-chip-container {
		.color-chip {
			width: 10px;
			height: 10px;
		}
	}


	.product-item {
		>div {
			padding: 16px 10px;
		}
		.item-label_ico {
			&.whitelabel {
				top: 10px;
			}
		}
		.wish-btn-wrap {
			top: 7px;
			right: 1px;
		}
	}

	.section-category {
		.item-list-wrap {
			.product-item {
				// >div {
				// 	padding: 16px 10px;
				// }
				// .item-label_ico {
				// 	&.whitelabel {
				// 		top: 10px;
				// 	}
				// }
				// .wish-btn-wrap {
				// 	top: 7px;
				// 	right: 1px;
				// }
			}
		}
	}

	/* cagegory */
	.pt_category .contents.related-items {display:none;}
	/* mc category list 여백 처리 */
	.item-list-wrap {
		// padding:0 5px;
		padding:0;
		.product-item {
			padding:0 5px;
		}
	}

	/* mc 마이페이지 탭 여백 제거 처리 */
	.customer-contents{
		.tab-filter-wrapper {
			margin-bottom:0;
		}
	}

	.pt_event{
		.top-content{
			padding:10px;
			.active-date{
				display:block;
				text-align: center;
			}
			.addthis{
				display:block;
				text-align: center;
			}
		}
	}

	.favorite-search-wrap {
		display: none;
	}

	/* category slide */
	.category-slider {
		.bx-viewport {
			border: 0;
		}
		.product-item {
			border: 0;
		}

		// 모바일 메인화면 배너 하단
		.prd-list-type1 {
			.product-item {
				border-right: 1px solid $border-3;
			}
		}
	}

	/* best products */
	.category-slider {
		.best-prd-type {
			padding: 0 16px;
			box-sizing: border-box;
			.content-title {
				margin: 0 !important;
				padding: 20px 0 15px;
				font-size: 16px;
				text-align: center;
			}
			.bx-viewport {
				border: 1px solid $border-2;
				box-sizing: border-box;
			}
			.bxslider-controls {display: none;}
			.product-item {
				>div {
					padding: 16px 16px 16px 146px;
				}
				.item-imgwrap {
					left: 16px;
					top: 16px;
					width: 120px;
				}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.wrapper {padding-top: 49px;}

	.etc-search-wrap {
		max-width: 100%;
		border: 0;
		.tit {
			padding: 8px 0;
			font-size: 14px;
		}
		.favorite-search,
		.latest-search {
			.list {
				> a {
					padding: 12px 20px 10px 38px;
					font-size: 14px;
				}
			}
		}
	}

	.bread-crumb {
		.crumb {
			padding: 9px 10px 0;
		}
	}
}

