/************************************************************************************************/

/*  필터 css
/************************************************************************************************/

.filter-container {

}

/*  필터 1depth title */
.f-title-box {
	position:relative;
	font-size:14px;
	color:$font-1;
	padding-bottom:15px;
	.f-btn-reset {
		position:absolute;
		top:2px;
		right:0;
		font-size:12px;
	}
}

/*  필터 2depth title */
.f-subtitle-box {
	position:relative;
	// font-size:12px;

	/* uikit .uk-accordion-title override*/
	margin-top:0;
	margin-bottom:0;
	padding:0 0 15px 0;
	background:none;
	font-size:14px;
	line-height:1em;

	.tit-text {
		font-weight: bold;
	}

	i {
		font-size: 24px;
		margin-top: -5px;
		color: $font-3;
	}
	.nf-ic-up {
		display: none;
	}
	&.uk-active {
		.icon-minus,
		.nf-ic-up {display:block;}
		.icon-plus,
		.nf-ic-down {display:none;}
	}
}

.f-btn-toggle {
	position:absolute;
	top:0;
	right:0;
}

/* 필터 category list */
.f-cagetory-sect {
	padding: 0 8px 14px;
	border-bottom: 1px solid $border-3;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-2;
	}
	.f-item {
		position: relative;
		> a {
			display:inline-block;
			position: relative;
			width: 100%;
			font-size:12px;
			color:$font-1;
			padding:7px 0;
		}
		>i {display: none;}
		&:hover i, &.active>i {
			display: block;
			position: absolute;
			right: 0;
			top: 3px;
			font-size: 18px;
			color: $primary-color;
		}
		// &.active {
		// 	> a {font-weight:bold;}
		// }
		&:last-child {margin-bottom:7px;}
		> a.f-btn-more {
			margin-left: 15px;
			color: $button_text-color-type2;
			font-weight: normal;
		}
	}
	.f-subitem {
		padding-left:15px;
		> a {
			display:inline-block;
			font-size:12px;
			color: $font-2;
			padding:5px 0;
		}
	}
	.f-btn-more {
		font-size:12px;
	}
}

/* 필터 옵션 (color, size, price) */
.f-refine-sect {
	margin-top: 14px;
	border-bottom: 1px solid $border-3;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-3;
	}

	/* uikit .uk-accordion-content override */
	.uk-accordion-content {
		padding: 0 0 30px 0;
		overflow:hidden;
	}


	.more-container {
		// overflow:hidden;
		// height:196px;
	}

	.more-btn {
		margin:0;
		padding:0;
		border:0;

		display:block;
		width:100%;
		padding-top:10px;
		//border-top:1px solid $border-2;
		text-align:center;
		font-size:10px;
		background-color:$bg-1;

		&.active {
			.plus {display:none;}
			.minus {display:inline;}
		}

		.minus {display:none;}
	}
}

/* 필터 타입 체크박스 & 라디오 */
.f-style-check, .f-style-radio {
	/* uikit .uk-accordion-content override */
	padding: 0 0 30px 0;

	.f-item {
		padding:3px 0;
		label {
			position: relative;
			width: 100%;
			padding-right: 25px;
			box-sizing: border-box;
			>i {
				position: absolute;
				right: 0;
				top: 2px;
				margin: 0 0 0 5px;
			}
		}
	}

	.input-radio { display:block; }
	.input-checkbox {
		>label {
			width: 100%;
			font-size: 12px;
			>i {
				float: none;
				text-align: right;
			}
		}
	}
}

/* 필터 타입 정사각형 모양 */
// .f-style-square {
// 	overflow:hidden;
// 	margin-left:-8px;
// 	padding: 0 0 30px 0;

// 	.f-item {
// 		float:left;
// 		margin-left:8px;
// 		padding-top:16px;

// 		a, label {
// 			display:table-cell;
// 			min-width:24px;
// 			height:24px;
// 			padding:0 5px;
// 			border: 1px solid rgba(0, 0, 0, 0.08);
// 			box-sizing:border-box;
// 			text-align:center;
// 			color: $font-1;
// 			vertical-align:middle;
// 			&:hover {
// 				border-color: $primary-color;
// 				color: $primary-color;
// 			}
// 		}

// 		&:nth-child(1),
// 		&:nth-child(2),
// 		&:nth-child(3),
// 		&:nth-child(4),
// 		&:nth-child(5),
// 		&:nth-child(6) {
// 			padding-top: 0;
// 		}

// 		.no-view {display:none;}
// 	}

// 	.active, .checked {
// 		a, label {
// 			border-width:2px;
// 			border-color: $primary-color;
// 			color: $primary-color;
// 		}
// 	}
// }
.f-style-square {
	// overflow:hidden;
	margin-left: 0;
	padding: 0 0 0 0;

	.f-item {
		float:left;
		margin-left: 0;
		padding: 0;

		a, label {
			position: relative;
			display: block;
			min-width:67px;
			height:48px;
			padding:0 5px;
			box-sizing:border-box;
			text-align:center;
			color: $font-1;
			line-height: 48px;
			vertical-align:middle;
			&:hover {
				border-color: $primary-color;
				color: $primary-color;
				&:after {
					border-color: $primary-color;
					z-index: 100;
				}
			}
			&:after {
				border: 1px solid #e5e5e5;
			    	position: absolute;
			    	top: 0;
			    	right: -1px;
			    	left: 0;
			    	bottom: -1px;
			}
		}

		.no-view {display:none;}
	}

	.active, .checked {
		a, label {
			border-width:2px;
			color: $primary-color;
			&:after {
				border: 2px solid $primary-color;
				z-index: 100;
			}
		}
	}

	&.f-color-type {
		.f-item {
			margin: 0 8px 16px 0;
			a, label {
				min-width:24px;
				height:24px;
				line-height: normal;
			}
		}
	}
}

/* 사이즈 필터 타입 모양 */
// .f-style-square.f-size-type {
// 	margin: 0;
// 	.f-item {
// 		width: 33.33%;
// 		margin: 0;
// 		padding: 0;
// 		label {
// 			display: block;
// 			position: relative;
// 			width: 100%;
// 			height: 40px;
// 			line-height: 38px;
// 			border: 0;
// 			box-sizing: border-box;
// 			&:after {
// 				content: '';
// 				display: block;
// 				position: absolute;
// 				left: 0;
// 				top: 0;
// 				width: 100%;
// 				height: 100%;
// 				border: 1px solid rgba(0, 0, 0, 0.08);
// 				border-left: 0;
// 				border-top: 0;
// 				box-sizing: border-box;
// 			}
// 			&:hover:after {
// 				border:1px solid $primary-color !important;
// 			}
// 		}
// 		&:nth-child(1) label:after,
// 		&:nth-child(2) label:after,
// 		&:nth-child(3) label:after {
// 			border-top: 1px solid rgba(0, 0, 0, 0.08);
// 		}
// 		&:nth-child(3n+1) label:after {
// 			border-left: 1px solid rgba(0, 0, 0, 0.08);
// 		}
// 	}
// 	.active, .checked {
// 		label:after {
// 			border: 1px solid $primary-color !important;
// 			color: $primary-color;
// 		}
// 	}
// }


/* 필터 타입 라운드 모양 */
.f-style-round {
	padding-bottom:30px;
	.f-item {padding:3px 0;}
}

.filter-wrap_category {
	position:relative;
	// height:48px;  높이값 지정 필요?
	//margin-bottom:10px;
	padding-bottom: 20px;
	border-bottom: 1px solid $border-3;
	.btn-link, .select-box {font-weight:500;}

	.btn-filter-open {float:left;}
	.filter-tit {
		float:left;
		font-size: 24px;
		font-weight: bold;
		color: $title_filter-color;

		.num {
			padding-left: 10px;
			font-size: 16px;
			color: $default-color;
		}
		.srch-num {
			font-size: 20px;
		}
	}
	.filter-etc {
		.select-box.right {
			top: initial;
			bottom: 20px;
		}
		.btn-filter-open {display: none;}
	}

	.select-box{
		&.sort{
			.select-head {padding:0 11px;}
		}
	}
	&:after {content:''; clear:both; display:block;}
	&.srch-type {
		.filter-tit {float: none;}
		.favorite-search-wrap {
			text-align: left;
		}
	}
}

/* filter tag */
.filter-tagbox {
	ul {
		display: inline-block;
		padding:15px 0;
	}
	.tag-item {
		display:inline-block;
		color: $font-1;
		font-size: 13px;
		margin-right: 10px;
		a {
			display: inline-block;
			padding: 8px 8px 6px;
			color: $font-2;
			background-color: $bg-2;
		}
		i {
			padding-right: 4px;
			font-size: 9px;
			color: $font-3;
		}
	}
	.f-btn-reset {
		font-size:12px;
		i {
			font-size: 15px;
			color: $primary-color;
			vertical-align: -2px;
		}
	}
}

.section-filter {
	/*overflow:auto;*/
	position:fixed;
	top:0;
	left:-$filter-width;
	bottom:0;
	width:$filter-width;
	padding-top: 30px;
	padding-right: 70px;
	box-sizing:border-box;
	background: $bg-1;
	z-index:100;
	opacity:0;
	filter:alpha(opacity=0);


	.filter{
		@include filter-field;

		.item{
			> a {
				color: $font-3;
				width:100%;
				text-align:left;
				padding:10px 20px;
				display:inline-block;
				box-sizing: border-box;
			}
			&:hover {background-color: $bg-4}
			&.active {
				color: $font-6;
				background-color: $primary-color;
				> a {color: $font-6;}
			}

			&.btn-type {
				width:45px;
				text-align:center;
				border:1px solid $border-5;
				padding:10px 0;

				> label {text-align:center;}
			}
		}
	}

	.btn-sect {margin-top:20px; text-align:center;}
}


.filter-category-modal-wrap {
	.section-filter {
		overflow-y:scroll;
		width:$filter-width;
		height:auto;
		padding:18px;
		z-index:999;
	}

	.section-category {
		.filter-wrap_category {
			height:64px;
			.filter-tagbox {padding:10px 0 0 40px;}
		}
	}
}


.filter-category-wrap{
	overflow: hidden;
	.section-filter {
		opacity:1;
		filter:alpha(opacity=1);
		position: relative;
		left:0;
		float:left;
	}
	.section-category {
		float:left;
		//width:calc(100% - 258px);
		width:calc(100% - 275px);
		.btn-filter-open{
			display: none;
		}

		&.item-list-less {
			// width:100%;
			//width:calc(100% - 275px);
			// padding:20px 0 80px;
		}
	}
	form {
		.section-category {
			&.item-list-less {
				width:100%;
			}
		}
	}
}


.filter-field_price {
	@include filter-field;

	text-align:center;
	padding-left:30px;
	padding-right:30px;

	> .filter-tit {text-align:left;}
	> .btn-link {margin-top:20px;}
	> .slider-range {
		height:10px;
		margin-bottom:20px;
	}
	> .filter-tit {
		margin-left:-10px;
		display:block;
	}
}

.filter-field_categories {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_color {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_size {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}

	&.style-btn {
		padding-left:20px;
		padding-right:20px;
		> .input-checkbox {
			float:left;
			margin-top:-1px;
			margin-left:-1px;
		}

		.filter-tit {margin-left:0;}
	}
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.filter-tagbox {
		display:none;
	}

	//filter category
	.filter-wrap_category {
		width:100%;
		padding-bottom: 0;
		border: 0;
		.btn-link {
			display:inline-block;
			width:50%;
			height:48px;
			border-width:0 0 1px 0;
			border-style:solid;
			border-color:$border-2;
			padding-left:10px;
			text-align:left;
			box-sizing:border-box;
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}

		.filter-tit {
			.srch-num {
				font-size: 12px;
			}
		}
		.filter-etc{
			.select-box.right {
				bottom: initial;
			}
		}


		.select-box {
			// float: left;
			position: relative;
			height:48px;
			// top: 0;
			// width:50%;
			// border-width:0 0 1px 1px;
			// height:24px;
			// border-style:solid;
			// border-color:$border-2;
			box-sizing:border-box;
			> select {height: 47px; border:0; font-weight:bold;}
		}

		

		.select-box {
			// margin-top: 5px;
			&:before {
				position:absolute;
				top: 50%;   // 화살표 위치값 때문에 지정함.
				right:15px;
				content: "";
				display: inline-block;
				width: 6px;
				height: 6px;
				margin-top: -6px;
				// margin-top:12px;
				border-right: 2px solid  $border-4;
				border-top: 2px solid  $border-4;
				transform: rotate(135deg);
			}
			&.sort{
				width: 110px;
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}

		&.srch-type {
			.filter-tit {float: left;}
		}
	}

	.filter-category-wrap{
		.section-filter {
			// overflow-y:scroll;
			display: none;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			// left:-$filter-width;
			left: 0;
			width: 100%;
			padding: 0;
			z-index:999;
			.filter-header {
				position: relative;
				height: 48px;
				background-color: #fff;
				border-bottom: 1px solid $border-2;
				z-index: 110;
				.title {
					font-size: 18px;
					line-height: 48px;
					text-align: center;
				}
				.close-btn {
					position: absolute;
					left: 16px;
					top: 50%;
					margin-top: -10px;
				}
				.reset-btn {
					position: absolute;
					right: 16px;
					top: 18px;
					font-size: 12px;
					border: 0;
					background-color: transparent;
				}
			}
			.filter-content {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				padding: 48px 18px 70px;
				box-sizing: border-box;
				overflow-y: auto;
				.checked-txt {
					position: absolute;
					right: 40px;
					top: 0;
					max-width: 30%;
					font-size: 12px;
					text-align: right;
					text-overflow:ellipsis;
					overflow:hidden;
					white-space:nowrap;
				}
			}
			.result-btn {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				// width: $filter-width;
				width: 100%;
				z-index: 100;
			}
		}

		.section-category {
			width:100%;
		}

		.filter-tit {
			padding-left: 15px;
			line-height: 48px;
			.tit {display:none;}
			.num {
				font-size: 14px;
				padding-left: 0;
				vertical-align: top;
			}
		}
		.filter-etc {
			float: right;
			.btn-filter-open{
				float: right;
				display: block;
				width: auto;
				padding: 17px 50px 17px 11px;
				font-size: 12px;
				color: $default-color;
				border: 0;
				&:before {
					position:absolute;
					top: 50%;   // 화살표 위치값 때문에 지정함.
					right:15px;
					content: "";
					display: inline-block;
					width: 6px;
					height: 6px;
					margin-top: -6px;
					// margin-top:12px;
					border-right: 2px solid  $border-4;
					border-top: 2px solid  $border-4;
					transform: rotate(135deg);
				}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
