
/*********************************************************************/
/* footer
/*********************************************************************/	
	footer {
		position:relative;
		clear: both;
		min-height:150px;
		margin:0 auto;
		padding:40px 10px 60px;
		font-size:12px;
		color: $footer_text-color;
		background: $footer_bg-color-type1;
		border-top: 1px solid $border-1;
	}


	.footer-contents {
		max-width: 1180px;
		margin:0 auto;
		line-height:18px;
		box-sizing: border-box;

		&:after {content:''; display:block; clear:both;}

		.footer-top {
			margin-bottom: 70px;
			>dl {
				dt {
					margin-bottom: 20px;
					font-size: $font-size-sxl;
				}
				dd {
					margin-top: 15px;
					font-size: 12px;
					font-weight: bold;
				}
			}
			.footer-cs {
				dl {
					margin-top: 20px;
					&:first-child {
						margin-top: 0;
					}
				}
				dt {
					margin-bottom: 10px;
					font-size: 16px;
					font-weight: bold;
				}
				dd {
					font-size: 16px;
					font-weight: bold;
					p {
						font-size: 12px;
						font-weight: normal;
					}
				}
			}
		}

		.mobile-footer-top {
			display: none;
		}

		.footer-middle {
			.copyright-txt {display:none;}
			.tit {
				margin-bottom: 25px;
				font-size: $font-size-sxl;
				font-weight: bold;
				text-align: center;
			}
			.tnf-store {
				.tit {
					max-width: 401px;
				}
				.findstore-btn {
					width: $width-full;
					max-width: 401px;
					text-align: center;
				}
			}
			.tnf-sns {
				text-align: center;
				>a {
					display: inline-block;
					margin-right: 25px;
					vertical-align: middle;
					&:last-child {
						margin-right: 0;
					}
				}
				i {
					font-size: 36px;
					color: $font-3;
				}
			}
		}
		.footer-bottom {
			margin-top: 65px;
			.nf-copyright {
				position: relative;
				margin-top: 35px;
				padding-left: 50px;
				.logo {
					position: absolute;
					left: 0; 
					top: 0;
					img {
						width: 36px;
					}
				}
				>p {font-family: $typo-en;}
				.copyright-txt {	
					margin-top: 10px;
					li {	
						display: inline-block;
						margin-right: 5px;
						&:before {
							content: "|";
							display: inline-block;
							padding-right: 10px;
						}
						&:first-child:before {
							display: none;
						}
						.policy {color: #666;}
					}
				}
			}
		}

		// .company {
		// 	&:before {content:''; display:block; margin-top:20px;}

		// 	.footer-sns{
		// 		margin-top:20px;
		// 		> a {
		// 			&:first-child {margin-left:0;}
		// 			margin-left:13px;
		// 		}
		// 	}

		// 	a{color: $footer_text-color}
		// }

		// .footer-nav {
		// 	color: $footer_text-color;
		// 	&:before {content:''; display:block; margin-top:20px;}
		// 	&:after {content:''; display:block; clear:both;}

		// 	dt {
		// 		padding-bottom: 5px;
		// 		font-weight: bold;
		// 		color: $footer_title-color-type1;
		// 	}
		// 	dd {
		// 		margin-top:8px;
		// 	}
		// 	a {
		// 		color: $footer_menu-color-type1;
		// 		&:hover {color: $footer_menu-color-type1-over;}
		// 	}
		// }
		// .com-divider {padding-left:4px;}
		// .copyright {
		// 	color: $footer_copyright-color;
		// 	.copy {display:inline-block; margin-top:20px;}
		// 	&:before {content:''; display:block; margin-top:20px;}
		// 	a {color: $footer_copyright-color;}
		// }
	}

	.scrollup {
		display:none;
		position:fixed;
		width:40px;
		height:40px;
		bottom: 72px;
		right: 10px;
		padding-top:10px;
		cursor: pointer;
		background: $bg-4;
		color:$font-3;
		text-align:center;
		font-size:18px;
		box-sizing:border-box;
		&:hover {
			background:$primary-color;
			color: $font-6;
		}
	}


	/* 서비스가입사실확인 팝업 */
	.safeinfo-cont {
		font-size: $font-size-s;
		line-height: 1.7em;
		.pcolor {color: $primary-color;}
		table {
			width: 100%;
			border: 1px solid #bdbdbd;
			text-align: left;
			caption {
				display: none;
				text-indent: -9999px;
				visibility: hidden;
			}
			th {
				padding: 10px;
				background:#e1e4e4;
				border-top: 1px solid #bdbdbd;
				border-right: 1px solid #bdbdbd;
			}
			td {
				padding: 10px;
				background:#f0f2f3;
				border-top: 1px solid #bdbdbd;
			}
		}
		.date-service {
			padding: 10px;
			background:#f0f2f3;
			border: 1px solid #bdbdbd;
			border-top: 0;
			text-align: right;
		}
		.company {
			padding: 10px;
			background:#f0f2f3;
			border: 1px solid #bdbdbd;
			border-top: 0;
		}
	}




	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		footer {
			padding: 0;
			text-align: center;
			&.no-footer {display:none;}
		}

		.footer-contents {
			padding: 0 !important;
			.footer-top {
				display: none;
			}

			.mobile-footer-top {
				display: block !important;
				border-bottom: 1px solid $border-1;
				li {
					text-align: center;
					&:first-child a {border-left: 0;}
				}
				a {
					display: block;
					padding: 11px 0;
					font-size: $font-size-s;
					font-weight: bold;
					border-left: 1px solid $border-1;
					box-sizing: border-box;
				}
			}
			.footer-middle {
				padding: 0 16px;
				.tit {
					margin: 0 auto 15px;
				}
				.tnf-store {
					.findstore-btn {
						width: $width-full;
						max-width: $width-full;
						text-align: center;
					}
				}
				.tnf-sns {
					margin-top:25px;
					i {
						font-size: 24px;
					}
				}
				.copyright-txt {
					display: block !important;
					width: 100%;
					padding: 15px 0;
					text-align: center;
					li {
						display: inline-block;
						&:before {
							content: "|";
							display: inline-block;
							padding: 0 10px;
						}
						&:first-child:before {
							display: none;
						}
					}
				}
			}
			.footer-bottom {
				margin-top: 26px;
				padding: 0 16px;
				color: $font-2;
				text-align: left;
				.nf-copyright {
					margin: 0;
					padding: 0;
				}
				.logo,
				.copyright-txt {
					display: none;
				}
			}
		}
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
	}

	/* Large screen and bigger */
	@media (max-width: $breakpoint-xlarge) {}
