.location-title {
	height: 88px;
	font-size: 30px;
	color: $default-color;
	// text-align: center;
	margin-bottom: 30px;
	padding-top: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid $border-2;
}
.location-map{
	overflow:hidden;
	height:100%;
	min-height:650px;
	// margin-left:465px;
	margin-left:0;
	box-sizing:border-box;
}

.location-search {
	position:absolute;
	width:370px;
	// top: 140px;
	top: 55px;
	left: 45px;
	bottom: 85px;
	padding-bottom: 130px;
	font-size:12px;
	background-color:$bg-1;
	overflow:hidden;
	.location-title {
		font-size: 20px;
		height: 50px;
		margin-bottom: 0;
		padding: 15px 15px 0;
		text-align: left;
	}
	.location-search-pack {
		position: relative;
		height: 80px;
		padding: 18px 120px 0 15px;
		border-bottom: 1px solid $border-2;
		box-sizing: border-box;
		.btn-storefilter-open {
			position: absolute;
			right: 0;
			top: 50%;
			width: 110px;
			margin-top: -18px;
		}
		.storefilter-wrap {
			display: none;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			padding: 20px 20px 30px;
			background-color: #fff;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			box-sizing: border-box;
			z-index: 10;
			.filter-list {
				width: 100%;
				&:after {
					content: '';
					clear: both;
					display: block;
				}
				.input-checkbox {
					float: left;
					width: 50%;
					padding: 10px 0;
					label {
						position: relative;
						width: 100%;
						padding-left: 25px;
						box-sizing: border-box;
						>i {
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -8px;
						}
						.label {
							font-size: $font-size-m;
							img {
								display: inline-block;
								margin-right: 5px;
							}
						}
					}
				}
			}
			.filter-btn {
				margin-top: 15px;
			}
		}
	}

	.search-field {
		.input-textfield {
			& > label {
				font-size: $font-size-m;
				color: $font-2;
				left: 45px;
			}
			& > input {
			 	padding-left: 45px;
			 	border: 1px solid $border-1;
			 	font-size: $font-size-m;
			}
			& > .btn-wrap {display:none;}
		}
		.btn_search {
			position: absolute;
			top: 2px;
			left:0;
			width: 45px;
			color: $font-3;
			background: transparent;
			.txt {display: none;}
			i {
				display: block;
				font-size: 14px;
			}
		}
	}
	.search-result {
		overflow:auto;
		// height:608px;
		height: 100%;
		list-style:none;
		border:0;
		padding:0;
		margin:0;
		text-align:left;
		line-height:1;
		font-size:13px;
		min-height:0;
	}

	.search-list {
		position:relative;
		border-top:1px solid $border-2;
		&:first-child {border-top:0}

		// a tag hover&active mixin;
		@mixin active {
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			border-left:4px solid $primary-color;
		}

		> a {
			display:block;
			padding:20px 45px 20px 55px;
			color:$font-3;

			&:hover {
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}

			&.active{
				&:before {
					@include active;
				}
				background-color:$bg-2;
			}
		}
	}

	.tit {
		margin:0 0 10px 0;
		// font-weight:bold;
		color: $default-color;
		font-size:16px;
	}

	.address {
		display:inline-block;
		width:100%;
		font-size: 14px;
		color: $default-color;
		line-height: 20px;
	}

	.phonenum {
		display:inline-block;
		width:100%;
		margin-top: 5px;
		font-size: 14px;
		color: $default-color;
		line-height: 20px;
	}

	.brandstore {
		display:inline-block;
		width:100%;
		margin-top: 15px;
		font-size: 14px;
		color: $font-2;
	}

	.icon-wrap {
		position:absolute;
		top:50%;
		right:20px;
		margin-top:-10px;
		font-size:20px;
		color: $font-3;
	}

	.br-img {
		position:absolute;
		top: 18px;
		left: 20px;
		img {
			width: 24px;
		}
	}

	.close-btn {
		padding:30px;
		background: transparent;
	}
}

.btn-storefilter-open {
	position:relative;
	display:inline-block;
	width:100px;
	cursor:pointer;
	font-size: $font-size-m;
	color: $font-2 !important;
	background-color: $bg-1;
	&:after {
		display: inline-block;
		margin-top: -2px;
		// color: $primary-color;
		vertical-align: middle;
		font-family: 'northface' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		content: "\e94a";
		font-size: 20px;
	}
	&:hover , &.active {
		color: $primary-color !important;
		background-color: $bg-1;
	}
	&.active {
		&:after {
			content: "\e94b";
		}
	}
}

.store-info-view {
	overflow-y:auto;
	position:absolute;
	top:40px;
	left:370px;
	bottom:0;
	width:100%;
	padding:30px 30px 30px 55px;
	box-sizing:border-box;
	background-color: $bg-1;
	z-index: 10;
	strong {
		display: block;
		margin: 30px 0 10px;
		font-size: $font-size-m;
		color: $default-color;
	}
	span {
		display: block;
		margin: 0;
		font-size: $font-size-m;
		color: $default-color;
	}
	.br-img {
		top: 28px;
	}

	// > .info {
	// 	margin-top:40px;
	// 	padding-top:40px;
	// 	border-top:1px solid $border-2;
	// 	.key {float:left; width:80px; padding-top:12px; line-height:18px;}
	// 	.value {overflow:hidden; padding-top:12px; line-height:18px;}
	// }
}


/* 브랜드 매장 별 핀 이미지 */
.marker-nf {
	background: url(/assets/images/marker-northface.png) no-repeat 0 0; 
	background-size: 100% 100%;
}
.marker-wl {
	background: url(/assets/images/marker-whitelabel.png) no-repeat 0 0; 
	background-size: 100% 100%;
}

/* 매장개설안내 */
.tab-area {
	position: relative;
	width: 100%;
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 1px;
		background-color: $border-2;
	}
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	.btn-tab {
		height: 56px;
		font-size: 12px;
		font-weight: bold;
		line-height: 56px;
		text-align: center;
		box-sizing: border-box;
	}
}

.store-container-wrap {
	.tab-area {
		.btn-tab {
			width: 20%;
		}
	}
}

.store-container {
	clear: both;
	width: 100%;
	padding-bottom: 80px;
	box-sizing: border-box;
	.store-cont {
		.content-title {
			margin: 48px 0 32px;
			font-size: $font-size-xl;
			font-weight: bold;
		}
		.download-plan-btn {margin-top: 40px;}
		
		.box-style {
			li {margin-bottom: 25px;}
			.box-item {
				padding: 30px 25px 40px;
				background-color: $bg-1;
				box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
				box-sizing: border-box;
				>span {
					display: block;
					margin-bottom: 30px;
					font-size: 20px;
				}
				>p {
					font-size: 16px;
					line-height: 1.63;
				}

				&.boxtype2 {
					border: 1px solid $border-2;
					border-top-width: 4px;
					box-shadow: none;
				}		
			}
		}

		.store-step {
			margin-bottom: 15px;
		}

		.dsc-list {
			li {
				position: relative;
				margin-top: 8px;
				padding-left: 16px;
				font-size: 14px;
				line-height: 1.5;
				&:first-child {
					margin-top: 0;
				}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 7px;
					width: 4px;
					height: 4px;
					background-color: $font-5;
				}
			}
		}
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.store-container-wrap {
		.tab-area {
			.btn-tab {
				width: 50%;
			}
		}
		.store-cont {
			.download-plan-btn {
				width: 100%;
				text-align: center;
			}
		}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.location-title {
		height: 55px;
		margin-bottom: 0;
		padding-top: 17px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
	.location-search {
		width: 100%;
		position: inherit;
		.location-title {
			display: none;
		}
		.location-search-pack {
			position: absolute;
			left: 0;
			top: -72px;
			width: 100%;
			padding-top: 14px;
			border-bottom: 0;
			.btn-storefilter-open {
				margin-top: -20px;
			}
			.storefilter-wrap {
				top: 72px;
			}
		}
		.search-field  {
			// position: absolute;
			// top:56px;
			// padding:0 16px;
			// width: calc(100% - 32px);
			// .input-textfield{
			// 	&.large {
			// 		label {left: 12px; font-size: 20px;}
			// 		input {padding-left: 11px; font-size: 20px;}
			// 	}
			// }
		}
		.search-result {
			height: auto;
		}
	}
	.location-map {
		margin-top: 72px;
		margin-left:0;
		min-height: 235px;
	}
	.store-info-view {
		position:relative;
		left: 100%;
		top: 0;
		& > .info {
			margin-top:0;
			padding-top:0;
			border-top:0;
		}
	}
	.store-container {
		padding: 0 25px 80px;
	}
}

