.section-minicart {
	position:fixed;
	top:0;
	right:0px;
	bottom:0;
	width:100%;
	// max-width:330px;
	max-width:424px;
	padding: 0 30px;
	font-size:12px;
	background: $bg-1;
	z-index:100000;
	box-sizing: border-box;

	.minicart-title{
		font-size: 20px;
		color: $title_category-color;
		font-weight: bold;
		padding:30px 0px 15px;
		border-bottom: 1px solid $border-2;
	}

	.cart-order_price {
		// padding:0px 30px;
		// color:$font-3;

		.order-price, .delivery-price {
			display:inline-block;
			min-width:100%;
			font-size:14px;
			> span {
				float: left;
				padding-top: 5px;
				font-weight: bold;
			}
			> strong {
				float:right;
				display:inline-block;
				font-size:16px;
				color: $prd_total-price;
			}
		}
	}

	.cart-order_deliveryinfo{
		// font-size:12px;
		color:$font-3;
		margin-top:15px;
		// padding:0px 30px;
	}

	.cart-order_buy {
		// padding:0px 30px;
		padding-bottom:50px;
		color: $primary-color;
		.btn-link {width:100%;text-align:center;}
		.total-price {
			> strong {
				display:inline-block;
				min-width:60%;
				margin-bottom:30px;
				font-weight: normal;
				text-align:right;
				font-size:24px;
			}
		}
	}
}



.cart-order_list {
	.order-list {
		position:relative;
		min-height: 96px;
		margin-top: 25px;
		padding:0 20px 25px 0;
		border-bottom:1px solid $border-2;
		&:after {content:""; display:block; clear:both;}

		.btn-delete {
			position:absolute;
			top:30px;
			right:0;
			color: $font-4;
		}
		.image-wrap {
			// float:left;
			position: absolute;
			left: 0;
			top: 0;
			overflow:hidden;
			width:96px;

			> img {
				display:block;
				width: 100%;
			}
		}

		.order-info {
			// float:left;
			// width:182px;
			padding-left:104px;

			.tit {
				overflow:hidden;
				display:inline-block;
				min-width:100%;
				max-height:36px;
				line-height:18px;
				font-size: $font-size-s;
				font-weight: bold;
				color: $prd_text-color;
			}

			.option, .qty {
				display:inline-block;
				min-width:100%;
				margin-top:5px;
				color:$font-1;
			}

			.text-opt-wrap {
				display: inline-block;
				width: 100%;
				margin-top: 8px;
			}
		}
	}

	.price-wrap {
		display:inline-block;
		min-width:100%;
		margin-top:10px;
		letter-spacing:-0.5px;

		.price {
			font-size: 14px;
			font-weight: bold;
			color: $prd_sale-price;
		}

		.sale-price {
			text-decoration: line-through;
			font-size:$font-size-mini;
			color: $prd_price;
		}
	}
}
