/*********************************************************************/
/* northface common 
/*********************************************************************/
	
	/* font - $typo-en 지정
	/*****************************************************************/
	.shipping-list .ship-tit, .shipping-list .user-name, .address-form-wrap .tit, .input-textfield > input, .input-textfield > label, .product-detail_wrap .style-code-info span, .section-minicart .cart-order_price .order-price > span, .login-wrap .header > .title, .uk-form-row > label.uk-form-label, .login-wrap .body .register-terms .agree-confirm, .login-wrap .body .account-find, .contents > .contents-title, .order-tab .header .tit {font-family: $typo-ko;}

	.info-wrap_product .etc-wrap .season span, .safeinfo-cont, .cart-order_list .order-list .order-info .option, .cart-order_list .order-list .order-info .qty, .order-tab .order-complete .body dd, .info-wrap_product .mileage-wrap > p span {font-family: $typo-en;}


	/* iconfont - only northface 사용되는 아이콘만 정리
	/*****************************************************************/
	[class^="nf-"], [class*=" nf-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'northface' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.nf-ic-shopping-bag:before {
	  content: "\e95d";
	}
	.nf-cs-center:before {
	  content: "\e95b";
	}
	.nf-ic-chat:before {
	  content: "\e95c";
	}
	.nf-ic-calendar:before {
	  content: "\e95a";
	}
	.nf-ic-mylocation:before {
	  content: "\e958";
	}
	.nf-ic-notice:before {
	  content: "\e959";
	}
	.nf-edition:before {
	  content: "\e956";
	}
	.nf-ic-naverblog:before {
	  content: "\e957";
	}
	.nf-ic-brand:before {
	  content: "\e955";
	}
	.nf-ic-5star-border:before {
	  content: "\e900";
	}
	.nf-ic-5star:before {
	  content: "\e901";
	}
	.nf-ic-checkbox-minus:before {
	  content: "\e902";
	}
	.nf-ic-checkbox-off:before {
	  content: "\e903";
	}
	.nf-ic-checkbox-on:before {
	  content: "\e904";
	}
	.nf-ic-radio-off:before {
	  content: "\e905";
	}
	.nf-ic-radio-on:before {
	  content: "\e906";
	}
	.nf-ic-star-border:before {
	  content: "\e907";
	}
	.nf-ic-star-half:before {
	  content: "\e908";
	}
	.nf-ic-star:before {
	  content: "\e909";
	}
	.nf-ic-wish-off:before {
	  content: "\e90a";
	}
	.nf-ic-wish-on:before {
	  content: "\e90b";
	}
	.nf-ic-facebook:before {
	  content: "\e90c";
	}
	.nf-ic-facebook2:before {
	  content: "\e90d";
	}
	.nf-ic-google:before {
	  content: "\e90e";
	}
	.nf-ic-instagram:before {
	  content: "\e90f";
	}
	.nf-ic-kakao:before {
	  content: "\e910";
	}
	.nf-ic-kakaostory:before {
	  content: "\e911";
	}
	.nf-ic-line:before {
	  content: "\e912";
	}
	.nf-ic-naver2:before {
	  content: "\e913";
	}
	.nf-ic-pinterest2:before {
	  content: "\e914";
	}
	.nf-ic-share2:before {
	  content: "\e915";
	}
	.nf-ic-twitter:before {
	  content: "\e916";
	}
	.nf-ic-yellowid:before {
	  content: "\e917";
	}
	.nf-ic-youtube:before {
	  content: "\e918";
	}
	.nf-ic-facebook3:before {
	  content: "\e919";
	}
	.nf-ic-facebook22:before {
	  content: "\e91a";
	}
	.nf-ic-google2:before {
	  content: "\e91b";
	}
	.nf-ic-instagram2:before {
	  content: "\e91c";
	}
	.nf-ic-kakao2:before {
	  content: "\e91d";
	}
	.nf-ic-kakaostory2:before {
	  content: "\e91e";
	}
	.nf-ic-line2:before {
	  content: "\e91f";
	}
	.nf-ic-naver:before {
	  content: "\e920";
	}
	.nf-ic-pinterest:before {
	  content: "\e921";
	}
	.nf-ic-share:before {
	  content: "\e922";
	}
	.nf-ic-twitter2:before {
	  content: "\e923";
	}
	.nf-ic-yellowid2:before {
	  content: "\e924";
	}
	.nf-ic-youtube2:before {
	  content: "\e925";
	}
	.nf-ic-alert:before {
	  content: "\e926";
	}
	.nf-ic-error:before {
	  content: "\e927";
	}
	.nf-ic-help:before {
	  content: "\e928";
	}
	.nf-ic-warning:before {
	  content: "\e929";
	}
	.nf-ic-arrow-left:before {
	  content: "\e92a";
	}
	.nf-ic-arrow-right:before {
	  content: "\e92b";
	}
	.nf-ic-back:before {
	  content: "\e92c";
	}
	.nf-ic-down:before {
	  content: "\e92d";
	}
	.nf-ic-first-page:before {
	  content: "\e92e";
	}
	.nf-ic-home:before {
	  content: "\e92f";
	}
	.nf-ic-last-page:before {
	  content: "\e930";
	}
	.nf-ic-menu:before {
	  content: "\e931";
	}
	.nf-ic-more:before {
	  content: "\e932";
	}
	.nf-ic-next:before {
	  content: "\e933";
	}
	.nf-ic-up:before {
	  content: "\e934";
	}
	.nf-ic-camera:before {
	  content: "\e935";
	}
	.nf-ic-image:before {
	  content: "\e936";
	}
	.nf-ic-pause:before {
	  content: "\e937";
	}
	.nf-ic-play:before {
	  content: "\e938";
	}
	.nf-ic-call:before {
	  content: "\e939";
	}
	.nf-ic-customer:before {
	  content: "\e93a";
	}
	.nf-ic-location:before {
	  content: "\e93b";
	}
	.nf-ic-mail:before {
	  content: "\e93c";
	}
	.nf-ic-mypage:before {
	  content: "\e93d";
	}
	.nf-ic-save-later:before {
	  content: "\e93e";
	}
	.nf-ic-ship-step1:before {
	  content: "\e93f";
	}
	.nf-ic-ship-step2:before {
	  content: "\e940";
	}
	.nf-ic-ship-step3:before {
	  content: "\e941";
	}
	.nf-ic-ship-step4:before {
	  content: "\e942";
	}
	.nf-ic-ship-step5:before {
	  content: "\e943";
	}
	.nf-ic-shopping-cart:before {
	  content: "\e944";
	}
	.nf-ic-add:before {
	  content: "\e945";
	}
	.nf-ic-cancel:before {
	  content: "\e946";
	}
	.nf-ic-check:before {
	  content: "\e947";
	}
	.nf-ic-close:before {
	  content: "\e948";
	}
	.nf-ic-confirm:before {
	  content: "\e949";
	}
	.nf-ic-drop-down:before {
	  content: "\e94a";
	}
	.nf-ic-drop-up:before {
	  content: "\e94b";
	}
	.nf-ic-filter:before {
	  content: "\e94c";
	}
	.nf-ic-info:before {
	  content: "\e94d";
	}
	.nf-ic-login:before {
	  content: "\e94e";
	}
	.nf-ic-remove:before {
	  content: "\e94f";
	}
	.nf-ic-reset:before {
	  content: "\e950";
	}
	.nf-ic-setting:before {
	  content: "\e951";
	}
	.nf-ic-write:before {
	  content: "\e952";
	}
	.nf-ic-zoom-in:before {
	  content: "\e953";
	}
	.nf-ic-zoom-out:before {
	  content: "\e954";
	}





/* modal.scss */
.uk-modal-dialog {
	border-radius: 0;
}

.uk-modal-dialog > .uk-close:first-child {
	float: none;
	position: absolute;
	right: 5px;
	top: 5px;
	margin: 0;
	font-size: $font-size-l;
	color: $font-3;
	opacity: 1;
}

.uk-modal-header h4 {
	font-size: 20px;
	font-weight: bold;
}


/* grid.scss */
.uk-grid-divider:empty {
	border-color : $border-2;
}



/* edition 동영상 팝업 */
#edition-video-popup {
	.uk-modal-dialog {
		width: 1060px;
		padding: 0;
	}
	.edition-cont {
		padding: 30px 0;
		background-color: #000;
	}
}