.product-detail_wrap {
	//padding:0 100px;
	//&:after {content:""; display:block; clear:both; height:0;}
	max-width: 1200px;
	margin: 0 auto;
}


.img-detail_product {
	position:relative;
	padding: 0;
	text-align:center;

	.product-ico {
		position:absolute;
		right:30px;
		top:-20px;
		font-size:60px;
		color: $primary-color;
	}

	.masker {
		overflow:hidden;
		max-height:700px;
	}

	.product-gallery {
		.swipe-container {width:100%;}
		.bx-controls {display:none;}
	}

	.product-gallery-slide {
		width:100%;
		min-width:415px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
		margin-right:0;
		img {display:inline-block;}
	}
}

.mobile-info-pack {display: none;}

.product-gallery-wrap {
	position:relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;

	.product-thumb {
		width:63px;
		font-size:11px;
		position:absolute;
		top:0;
		left:0;
		z-index:11;

		.thumb-title {
			margin-bottom:15px;
			font-size:11px;
		}

		.thumb-list {
			@include product-detail_thumb-list;
		}

		// > ul {list-style-type:none; padding:0; margin:0; border:0;}
	}

	&.left {
		.product-gallery {padding-left:76px;}
		.product-thumb {
			overflow:hidden;
			bottom:0;
		}
	}

	&.bottom {
		.product-thumb {
			position:static;
			width:100%;
			overflow:hidden;
			margin-top: 6px;
			&:after {content:""; display:block; clear:both;}

			// .thumb-wrap {
			// 	width:1000%;
			// 	margin:10px auto 0 auto;
			// 	margin-top:10px;
			// }

			.thumb-list {
				float:left;
				overflow:hidden;
				// width:80px;
				// height:98px;
				// margin:0px;
				// margin-left:10px;

				// &:first-child {margin-left:0;}
			}
		}
	}
}


.style-code-info {
	margin-bottom: 5px;
	>span {
		position: relative;
		padding-left: 7px;
		font-size: $font-size-m;
		&:after {
			content:'';
			position: absolute;
			left: 0;
			top: 50%;
			display:block;
			width: 1px;
			height: 12px;
			margin-top: -6px;
			background-color: $bg-5;
		}
		&:first-child {
			padding-left: 0;
			&:after {display: none;}
		}
	}
}

.info-wrap_product {
	//float:left;
	//width:45%;
	//padding-left:82px;
	// color: $font-3;
	box-sizing:border-box;
	padding-left: 64px;


	.title-wrap {
		margin-bottom:4px;
		.subtit {color: $primary-sub-color;}
		.tit {display:block; line-height:39px; font-size:30px; font-weight: bold; color: $title_main-color;}
		.close-btn {display:none;}
	}

	.review-wrap {
		margin-top:20px;
		padding-bottom:20px;
		border-bottom:1px solid $border-2;
		// font-size:11px;
		// color: $font-4;

		&:after {content:''; display:block; clear:both;}
		.review-num {
			padding:0 10px;
			font-weight: bold;
		}
	}

	.price-wrap {
		font-size:16px;
		>span {padding-right: 5px; font-weight: bold;}
		> .price-sale {
			color:$prd_price;
			text-decoration:line-through;
		}
		> .price {
			// font-weight:bold;
			color: $prd_sale-price;
			line-height: 32px;
			> strong {
				font-size: 26px;
			}
		}
		.sale-per {
			margin-top:14px;
			display:inline-block;
			margin-left:5px;
			color: $marketing-color;
			font-size:12px;
			&:hover {color: $marketing-color-over;}
		}
		.disc-num {
			display:inline-block;
			color: $primary-color;
		    	font-weight:bold;
		}
	}

	.option-wrap {
		padding-top: 25px;
		.tit-wrap {
			position: relative;
			// .option-guide {
			// 	position: absolute;
			// 	right: 0;
			// 	top: 0;
			// 	padding-top: 0;
			// 	a {color: $primary-color;}
			// }
		}
		.tit {
			margin:0 0 10px; 
			font-weight:bold; 
			font-size: 17px;
		}
		.msg {
			display:inline-block;
			// margin-left:10px;
			font-weight: normal;
			color: $caution-color;
			// position: absolute;
			// left: 0;
			// bottom: 7px;
		}
		.over-txt {display:inline-block; margin-left:5px; color:$font-3-1;}
		.option-guide a {
			font-size: $font-size-m;
			font-weight: bold;
			color: $primary-color;
			vertical-align: middle;
		}
		.input-select {
			margin-top:10px;
			&:first-child {margin-top:0;}
		}

		.product-option_radio {
			// margin:-6px 0 0 -6px;
			position: relative;
			padding-bottom: 35px;
			&:after {content:''; display:block; clear:both;}

			//연관 상품 컬러칲
			.related {
			    	float: left;
				display: inline-block;
				position: relative;
				width: 64px;
				height: 64px;
				margin: 6px 6px 0 0;
				vertical-align: top;
				&:hover:after {
					content:'';
					position:absolute;
					top: 0;
					right: -1px;
					bottom: -1px;
					left: 0;
					border:1px solid $primary-color;
				}
				img {width: 100%;}
			}

			.input-radio {
				float: left;
				display: inline-block;
				vertical-align:top;
				// margin:6px 0 0 6px;
				//&:first-child {margin-left:0;}

				.label {
					position: relative;
					padding: 14px 0 0;
					letter-spacing: 0;
					display: block;
					width: auto;
					height: 48px;
					text-align: center;
					// border: 1px solid $border-3;
					color: $font-1;
					box-sizing:border-box;

					&.img-type {
						width: 64px;
						height: 64px;
						margin: 6px 6px 0 0;
						padding:0;
						> img {width: 100%;}
						&:after {border: 0;}
					}

					&:after {
						content:'';
						position: absolute;
						top: 0;
						right: -1px;
						bottom: -1px;
						left: 0;
						border: 1px solid $border-1;
					}
				}
				.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

				&:hover { .label:after {border: 1px solid $primary-color; z-index:100;} }
				&.checked {
					.label {
						color: $primary-color;
						&:after {
							border:2px solid $primary-color;
							z-index:100;
						}
					}
				}
				&.disabled {
					.label {
						background-color: $form_bg-disabled;
						color: $form_text-color-disabled;

						&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
					}
					&:hover { .label:after {border:1px solid $border-1;} }
				}
				&.width-fix {
					width: 16.666%;
					>label {display: block;}
				}
			}

			&.circle {
				.input-radio {
					padding:3px;
					.label {
						// border:none;
						&.img-type{
							overflow:hidden;
							width:40px;
							height:40px;
							padding:5px;
							border-radius:50%;

							img {border-radius:50%;}
						}

						&:hover {border:1px solid $primary-color;}
					}
					.pattern {width:28px; height:28px; border-radius:50%;}

					&.checked {
						.label {
							border:1px solid $default-color;
							background-color: $default-color;
							color: $font-6;
							&.img-type {
								padding:5px;
								background-color: transparent;
							}
							&:after{display:none;}
						}
					}
				}
			}
			.msg {
				position: absolute;
				left: 0;
				bottom: 9px;
				margin-left: 0;
			}
		}

		.quantity {
			// display: table;
			width: 100%;
			&:after {
				content: '';
				clear: both;
				display: block;
			}
			// margin-top: 20px;
			.tit {
				float: left;
				width: 88px;
				margin: 13px 0 0 0;
				font-size: $font-size-l;
				vertical-align: middle;
			}
			.btn-qty {
				float: left;
				margin-right: 10px;
				vertical-align: middle;
			}
			.msg {
				margin-top: 12px;
			}
		}
	}

	.status-wrap {
		position: relative;
		.btn-wrap {
			margin-top: 20px;
			padding-left: 56px;
			font-size: 14px;
			box-sizing: border-box;
			overflow: hidden;
		}
		.btn-link {
			width: calc(50% - 4px);
			margin-right: 8px;
			text-align:center;
			&.right {float:right}
			&.left {float:left;}
			&.optchange-btn {width:100%;}
			&.btn-login {width:100%;}
			&:last-child {
				margin-right: 0;
			}
		}
		.wish-btn {
			position: absolute;
			left: 0;
			top: 0;
			width: 48px;
			height: 48px;
			color: $primary-color;
			font-size: 20px;
			border: 1px solid $primary-color;
			box-sizing: border-box;
		}
		.selected-opt {
			display:table;
			width:100%;
			border-top:1px solid #ebebeb;
			padding: 15px 0;

			&:first-child {margin-top:30px;}
			&:after {content:""; display:block; clear:both;}

			.opt {
				display:table-cell;
				overflow:hidden;
				width:40%;
				max-height:32px;
				line-height:16px;
				font-size:12px;
				vertical-align:middle;
			}

			.quantity{
				display:table-cell;
			}

			.total-price {
				display:table-cell;
				color:#2b5275;
				> strong {
					// font-weight:bold;
					font-size:20px;}
			}

			.delete-btn {position:relative;}
		}
		.msg {
			margin-left: 0;
			color: $caution-color;
		}
	}

	.dp-tbl-type {
		display: table;
		width: 100%;
		padding-bottom: 16px;
		box-sizing: border-box;
		&:first-child {
			padding-top: 16px;
		}
		// &:last-child {
		// 	border-bottom: 1px solid $border-1;
		// }
		.tit {
			display: table-cell;
			width: 88px;
			font-size: $font-size-l;
			font-weight: bold;
		}
		.info-cont {
			display: table-cell;
			// width: 84%;
			font-size: $font-size-m;
			line-height: 1.5;
		}
	}

	.guide-wrap {
		position: relative;
		width: 100%;
		margin-top: 20px;
		// text-align:center;

		&:after {
			content: '';
			clear: both;
			display: block;
		}
		.shipping-text {
			float: left;
			display:block;
			margin-top: 2px;
			// width:100%;
			// padding:20px 0;
			font-size: $font-size-m;
			line-height: 1.4;
			i {
				font-size: 20px;
				vertical-align: middle;
			}
		}
		.share-btns {
			float: right;
			font-size: $font-size-xl;
			.share-btn {
				&:hover i {
					color: $primary-color;
				}
			}
		}

		.description {
			padding:20px 0;
			text-align:left;
			line-height:1.5em;
		}
		.shot-discription {
			border-bottom:1px solid $border-1;
		}

		.overview {
			text-align:left;

			.tit {padding:20px 0 10px; font-size:14px;}
			.description {line-height:18px;}
		}
	}

	.sns-wrap {
		position: relative;
		height: 34px;
		margin-top:10px;
		font-size:30px;

		.wish-btn {
			// font-weight: bold;
			i {
				margin-right: 10px;
				font-size: 24px;
				vertical-align: middle;
				&.icon-wishlist_full+span {
					color: $primary-color;
				}
			}
		}

		// addthis extend
		.wish-btn, .btn-link {float:left; font-size: $font-size-m;}
		.addthis_inline_share_toolbox {position:absolute; top:5px; right:0;}
		.icon-sns-kakao {
			display:none;
			position:absolute;
		   	width:20px;
			right:0;
		}

		&:after {content:''; clear:both; display:block;}
	}

	.etc-wrap {
		// margin-top: 20px;
		// border-bottom: 1px solid $border-2;
		.season {
			float: left;
			margin-right: 5px;
			li {
				float: left;
				margin-right: 1px;
			}
			span {
				display: inline-block;
				width: 18px;
				height: 18px;
				background: $primary-color;
				color: $font-6;
				font-size: 12px;
				text-align: center;
			}
		}
	}

	.mileage-wrap {
		padding-top: 10px;
		>p {
			span {padding-right: 10px;}
		}
	}

	.delivery-wrap {
		position: relative;
		margin: 30px 0 0 0;
		border-bottom: 0 !important;
	}
	.sel-btns {
		li {
			display: inline-block;
			margin-right: 25px;
			font-size: 15px;
			a {
				i {
					margin-right: 8px;
					font-size: $font-size-xl;
					color: $font-4;
					vertical-align: middle;
				}
				&:hover, &.selected {
					i {color: $primary-color;}
				}
			}
		}
	}

	.stock-wrap {
		position: relative;
		margin-top: 20px;
		i {
			font-size: 20px;
			vertical-align: -4px;
		}
	}

	.bundle-item {
		padding:20px 0;
		border-top:1px solid $border-2;
		&:first-child {border:0;}

		.name { line-height:27px; font-size:14px; color: $primary-color; }
		.qty { line-height:27px; font-size:14px; color: $primary-color; }
	}
}


/* mobile chk*/
body {
	&.mobile {
		.info-wrap_product{
			.sns-wrap {
				.addthis_inline_share_toolbox {right:27px;}
				.icon-sns-kakao {
					display:inline-block;
				}
			}
		}
	}
}


/* datail title */
.pop-detail-title {font-size:16px; padding:0 10px;}

.purchase-guide {
	max-width: 1200px;
	margin: 40px auto 0;
	padding: 25px;
	line-height: 1.5;
	border: 1px solid $border-1;
	box-sizing: border-box;
	.tit {
		margin-bottom: 15px;
		font-size: 26px;
		font-weight: bold;
		em {
			color: $font-1;
		}
	}
	.description {font-size: $font-size-l;}
}

.img-banner-container {
	width: 100%;
	max-width: 940px;
	margin: 60px auto 0;
}

.product-detail_view {
	position:relative;
	max-width: 1200px;
	margin: 60px auto 0;
	padding:40px 0 0;

	&:after {
		content: '';
		position: absolute;
		top:0;
		//width: 3600px;  // 확인필요
		margin-left: -1000px;
		background: $bg-1;
		border-top: 1px solid $border-2;
	}

	.detail-tab {
		position: relative;
		margin:0 auto 48px;
		text-align:center;
		&:before {
			content:"";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $tab_border-color;
		}
		&:after {content:""; display:block; clear:both;}

		//reset
		list-style-type:none; padding:0; border:0;
	}

	.detail-cont {
		h3 {
			// margin-left: -20px;
			margin-bottom: 20px;
			font-size: $font-size-xl;
			font-weight: bold;
		}
	}

	.detail-info {
		line-height: 20px;
		font-size: 12px;
		.detail-info-review {
			margin-top: 60px;
			padding-top: 50px;
			border-top: 1px solid $border-2;
		}
	}

	.btn-tab {
		position: relative;
		width: 20%;
		> a {
			display:inline-block;
			padding:22px 0 15px;
			font-weight: bold;
			text-decoration:none;
			outline:none;
			&:hover, &:active {text-decoration:none;}
		}
	}
	.detail-delivery {
		line-height: 1.6;
		.delivery-text {padding:70px 0; text-align:center;}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 15px;
		}
		ul {margin-top: 5px;}
	}
}

/* product review list */
.review-read {
	ul {
		list-style:none;
		padding:0;
	}
	.read-list{
		padding:30px 20px 15px;
		border-top:1px solid $border-2;

		.user-info {
			margin-bottom:10px;
			.like {
				vertical-align:middle;
				.per {
					position: absolute;
				 	top: 0;
				 	left: 0;
				 	overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}
			.write-date {
				padding-left: 5px;
				color:$font-4;
				font-size:11px;
				font-family:$typo-ko;
				vertical-align: middle;
			}
			.user-name {
				&:after {content:$name-sir;}
				padding-left:5px;
				color: $font-4;
				font-size:11px;
				vertical-align: middle;
			}
		}
		.opt-info {
			margin:10px 0;
			.tit {
				&:after {
					content:$special-char-2;
					font-family:$typo-ko;
				}
				color:$font-3;
				font-size:13px;
			}
			.txt {
				a {
					&:before {
						content:$special-char-1;
						font-family:$typo-ko;
					}
				}
				color: $primary-sub-color;
				font-size:13px;
				margin-right:10px;
			}
		}

		.read-subject {
			//display:none;
			margin:27px 0 17px;
			font-size:15px;
			// font-weight:bold;
			color: $primary-color;
		}

		.read-comment {
			position:relative;
			line-height:20px;
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				width:70px;
				height:80px;
				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:15px 0;

			.btn-area {
				margin-top:15px;
			}
		}
	}
}

/* product review write modal - uikit redefine*/
.review-write {
	.uk-modal-dialog {
		width:560px;
		//padding:0;

		.popup-close_btn{
			&:first-child {
				margin:0;
			}
		}
	}
}

/* product, main review write */
.order-lanscape-list {
	position: relative;

	&:after {content:'';display:block; clear:both;}

	.image-wrap {
		float: left;
	 	overflow: hidden;
		width: 80px;
	}
	.order-info {
		@include calc( width, '100% - 80px');
		@include box-sizing();
		float: left;
		padding-left: 16px;
		font-family:$typo-ko;
		.tit {
			overflow: hidden;
			display: inline-block;
		 	min-width: 100%;
			max-height: 32px;
			line-height: 16px;
			font-size: $font-size-s;
			font-weight: bold;
			color: $default-color;

		}
		.option {
			display:block;
			margin-top:5px;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
			span {
				display:block;
			}
		}
		.qty {
			display:block;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
		}
		.price-wrap {
			display:block;
			margin-top:5px;
			font-size:12px;
			color:$font-1;

			.sale-price {
				text-decoration:line-through;
				font-size:11px;
				color:$font-3;
			}
		}
	}
}

.review-write {
	@include box-sizing();
	// max-width:480px;
	padding:0 0 30px;

	fieldset {
		border:0;
		padding:0;
		> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
	}

	.order-lanscape-list {
		padding: 16px 0;
	}

	.tit {color: $primary-color;}
	.like {margin:30px 0;}

	.rating-star-data {
		padding:25px 0 16px;
		border-top: 1px solid $border-2;
		border-bottom: 1px solid $border-2;
		text-align:center;

		.rating-description {
			padding:16px 0;
			font-size: $font-size-m;
			color: $font-2;
		}

	}
	.opt-value-data-wrap {
		margin-bottom: 25px;
		padding:16px 0;
		border-bottom: 1px solid $border-2;
	}
	.opt-value-data {
		padding: 16px 0 0 16px;
		&:first-child {padding-top: 0;}

		.opt-txt {
			display:inline-block;
			/*width:53px;
			height:36px;*/
			margin-left: -16px;
			font-size: $font-size-s;
			font-weight: bold;
			line-height:36px;
			color:$font-2;
			vertical-align:top;
		}
		.opt-strip {
			display:table;
			//display:block;
			width:100%;
			margin-top: 12px;
			position: relative;

			.radio-style {
				display:table-cell;
				position: relative;
				border-right: 1px solid #fff;
				z-index: 20;
				
				/*&:first-child {
					@include calc( width, '33%');
				}
				@include calc( width, '33% - 7px');
				*/
			}
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 6px;
				z-index: 10;
				background-color: #ccc;
			}
		}
		.opt-strip-label {
			position: relative;
			margin-top:10px;
			span {
				&:first-child {float: left;}
				font-size: $font-size-mini;
				color: #808080;
			}
			.last {float:right;}
			.center {
				position: absolute;
				left: 0;
				width: 100%;
				text-align: center;
			}
			&:after {content:''; display:block; clear:both;}
		}
	}
	.tit-review {
		display:inline-block;
		font-size: $font-size-s;
		font-weight: bold;
		line-height:36px;
		color:$font-2;
		vertical-align:top;
	}
	.write-comment {margin-top:10px;}

	.review-img-uploader {

		.uplode-preview-list{
			margin-bottom:10px;

			.preview-up-img {
				position:relative;
				overflow:hidden;
				display:inline-block;
				width:58px;
				height:78px;
				margin:0 4px 10px 0;
				border:1px solid $border-3;
				background-color:$bg-2;

				.file-remove_btn {
					position:absolute;
					top:0;
					right:0;
				}

			}

		}

	}
	.review-btnarea{
		margin-top: 20px;
	}
	.upload-btn {
		font-size: 14px;
		font-weight: bold;
		color: $default-color;
		i {
			font-size: 24px;
			color: $primary-color;
			vertical-align: -4px;
		}
	}
	.input-textarea > textarea {background-color: $font-6;}
}



.product-opt_current {
	padding:20px 0;

	&:after {content:""; display:block; clear:both;}
	> .item-info {
		float:left;
		&:after {content:""; display:block; clear:both;}

		> .img-wrap {
			float:left;
			display:inline-block;
			width:60px;
			img {width:100%; display:block;}
		}
		> .info-wrap {
			float:left;
			height:60px;
			margin:12px 0 0 20px;
			display:inline-block;
			.tit {display:inline-block;width:100%;}
			.price {display:inline-block; margin-top:10px;}
		}
	}

	> .item-btn {
		float:right;
	}
}

/* 05.26 etam 에 적용한  css로 변경 필요 : str
.detail-review {
	@include box-sizing();
	margin:40px auto 0;
	padding:0 20px;
	max-width:850px;
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			display:inline-block;
			height:38px;
			vertical-align:middle;
		}
	}

	.total-star-point {
		margin-left:5px;
		font-size:$font-size-xl;
		color: $font-1;
	}
	.star-review-num {
		margin:0 0 20px;
		font-size:$font-size-m;
	}
}



.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}
.review-sort {
	margin-bottom:10px;
	padding:0 20px;
	overflow:hidden;
	.review-cnt {
		float:left;
		padding-top:10px;
		font-family:$typo-ko;
		.total-cnt {
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
	}
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width:50px;
		.star-bullet {
			margin-right:8px;
		}
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		@include calc( width, '100% - 127px');
		height:4px;
		background:$border-1;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 95px');
		}
		.opt-graph-point-color {
			height:4px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:45px;
		text-align:right;
		color:$font-1;
	}

}
05.26 etam 에 적용한  css로 변경 필요 : end */

/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : str */
/* icon폰트의 별이미지도 공통 으로 빼야함 */
.detail-review {
	@include box-sizing();
	margin:40px auto 40px;
	padding:0 0 0 0;
	max-width: 100%;
}
.detail-review-summary {
	border: 1px solid $border-3;
	border-left:0;
	> * {padding: 45px 35px; border-left: 1px solid $border-2;}
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			position:relative;
			display:inline-block;
			// width: 169px;
			height:32px;
			overflow: hidden;
			vertical-align:middle;
			> i {
				font-size: 23px;
			}
			.per {
				position: absolute;
				top:0;
				left:0;
				overflow: hidden;
			}
			.star-default-bg {
				color: $star-default-bg;
			}
		}
	}

	.total-star-point {
		margin-left: 5px;
		font-size: 18px;
		vertical-align: -1px;
	}
	.max-star-point {
		margin-left: 5px;
		font-size: 18px;
		color: $font-4;
		letter-spacing: 1.2px;
		vertical-align: -1px;
	}
	.star-review-num {
		margin:0 0 20px;
		font-size:$font-size-l;
	}
	.review-write-btn {
		width: 176px;
	}
}

.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
		i {
			font-size: 80px;
			color: $font-5;
		}
		p {
			margin: 24px 0;
			font-size: $font-size-m;
			color: $font-2;
			line-height: 1.5;
		}
	}
}

/* product review graph */
.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width: 70px;
		.like {
			.star-default-bg {
				display: block;
				font-size: 10px;
				color: $font-3;
				overflow: hidden;
			}
		}
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		// @include calc( width, '100% - 20px');
		height: 4px;
		background:$border-3;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 70px');
		}
		.opt-graph-point-color {
			height: 4px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:30px;
		text-align:left;
		color:$font-1;
		margin-left: 10px;
	}
}
.opt-value-wrap {
	// padding: 0 20px;
	margin-top:-15px;

	.opt-value-list {
		clear: both;
		margin-top: 50px;
		margin-bottom: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
	.opt-value-title {
		display: inline-block;
		width: 50px;
		margin-top:15px;
		font-size: $font-size-m;
		font-weight: bold;
		color: $font-1;
		vertical-align: top;
	}
	.opt-value-box {
		@include calc( width, '100% - 54px');
		display: inline-block;
		margin-top:15px;

		.opt-value-gage {
			display:table;
			position: relative;
			width: 100%;
			height: 6px;
			// border: 1px solid $border-3;
			// background-color: $border-1;
			box-sizing: border-box;
			.opt-value-dot {
				display:table-cell;
				border-left: 4px solid #fff;
				background-color: $border-3;
				&.active {
					background-color: $font-3-1;
				}

				&.per {
					position: absolute;
					top: 0px;
					left: -5px;
					width: 64px;
					height: 6px;
					background-color: $font-3;
				}
			}
		}
		// .opt-value-txtbox {
		// 	position: relative;
		// 	.opt-value-txt {
		// 		margin-top: 10px;
		// 		font-size: 12px;
		// 		color: $font-2;
		// 		overflow: hidden;
		// 		&.left {float: left;}
		// 		&.right {float: right;}
		// 		&.center {
		// 			position: absolute;
		// 			left: 0;
		// 			width: 100%;
		// 			text-align: center;
		// 		}
		// 	}
		// }
	}
}
.n-review-sort {
	margin: 15px 0 10px 0;
	padding:0 20px;
	overflow:hidden;
	&:after {
		content:'';
		display:block;
		clear: both;
	}
	.review-cnt {
		float: left;
		padding-top: 12px;
		font-size: 12px;
		color: $font-3;
		.total-cnt {
			font-size: 13px;
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
		.sort-item {
			font-size: $font-size-s;
			font-weight: bold;
		}
		.sort-item:before {
			border: 0;
		}
	}
	.review-sort-item {
		float: right;
		> span {
			font-size: 12px;
			color: $font-1;
		}
	}

}
/* product review list */
.n-review-read {
	margin-left: 0;
	.uk-grid {
		margin-left: 0;
	}
	ul {
		margin-bottom:35px;
		list-style:none;
		padding:0;
		border-top: 1px solid #e8e8e8;
		> li {
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 20px;
		}
	}

	.read-list{
		padding:30px 15px 0;

		.user-info {
			margin-bottom: 20px;
			.like {
				position:relative;
				display:inline-block;
				height:12px;
				overflow: hidden;
				vertical-align: -1px;
				> i {
					font-size: 13px;
				}
				.per {
					position: absolute;
					top:0;
					left:0;
					overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}

			.write-date {
				padding-left: 10px;
				color: $font-2;
				font-size: 12px;
				font-family:$typo-ko;
				vertical-align: -1px;
			}
			.user-name {
				// &:after {content:$name-sir;}
				padding-left: 10px;
				color: $font-2;
				font-size:12px;
				font-family:$typo-ko;
				vertical-align: bottom;
			}
		}
		.read-subject {
			margin-top: 15px;
			font-size: $font-size-l;
			font-weight: bold;
			color: $font-1;
			margin-bottom: 12px;
		}
		.read-comment-wrap {
			.read-comment {
				display: inline-block;
				margin-right: 10px;
			}
			.btn-read-more {
				display: inline-block;
				font-size: $font-size-m;
				color: $primary-color;
			}
		}
		.read-comment {
			position:relative;
			line-height:22px;
			font-size: 14px;
			color: $font-1;
			margin-bottom: 15px;  //상세페이지 리뷰 리스트 간격 수정
			word-break: break-all;
		}
		.mobile-opt-value-txt {
			display: none;
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				max-width:200px;
				max-height:200px;
				/*width:70px;
				height:80px;*/

				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:20px 0 0;
			font-size: 12px;
			color: $font-2;

			.btn-area {
				// margin-top:10px;
				padding-left: 15px;
				> span {
					color: $font-1;
					font-weight: 900;
					margin-right: 10px;
				}
				a {
					margin-top: 20px;
				}
				.like {
					border-width: 1px;
					font-size: 12px;
					padding: 10px 16px;

				}
				&.help-btn {
					margin-top: 10px;
					border-top: 1px solid #e8e8e8;
					a {
						display: inline-block;
						margin-right:15px;
						padding: 0;
						font-weight: bold;
						color: $default-color;
					}
				}
			}
		}

		.shorten-detail {display: none;}
		.shorten_expand .shorten-ellipses {display: none;}
		.shorten_expand .shorten-detail {display: inline;}
		.shorten-toggle {
			margin-left: 5px; 
			color: $primary-color;
		}
	}
	.opt-value-wrap {
		padding: 65px 30px 0 10px;
	}
}
/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : end */



.mini-option-wrap {
	position:fixed;
	left:0;
	right:0;
	bottom:-80px;
	height:80px;
	margin:0 auto;
	z-index:980;

	&:after {
		content:'';
		position:absolute;
		width:250%;
		margin-left:-1000px;
		height:80px;
		background: $bg-1;
		border-top:1px solid $border-2;
		box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.08);
	}
	.mini-product-item {
		float:left;
		.product-thumb-img {
			display:inline-block;
			width:56px;
			height:56px;
			margin-left:15px;
			vertical-align:top;
			img {width:100%;}
		}
		.mini-product-info {
			display:inline-block;
			max-width:300px;
			margin-left:5px;
			font-size: $font-size-m;
			font-weight: bold;
			.tit {
				display:block;
				margin-top:5px;
			}
			.price {
				display:block;
				margin-top:5px;
				color: $prd_sale-price;
				strong {font-weight: normal;}
			}
		}

	}

	> .btn-wrap {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:80px;
		padding-top:12px;
		box-sizing:border-box;
		background-color: $bg-1;
		border-top:1px solid $border-2;
		z-index:1;

		.minioptbtn {position:absolute; top:15px; right:0; display:inline-block; width:240px; margin:0 15px 0 0; text-align:center;}
		.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
		.btn-pack .wish-btn-wrap {display: none;}
	}
	.info-wrap_product {
		display:none;
		text-indent:-9999px;
		visibility:hidden;

		position:absolute;
		right:0;
		bottom:0;
		padding-left:0;
		border:1px solid $border-2;
		background-color: $bg-1;
		z-index:20;
		padding: 0;

		.title-wrap {
			border-bottom:1px solid $border-2;
			margin-bottom:0;
			font-size:14px;

			.tit {overflow:hidden; /*display:inline-block;*/ font-weight: bold; margin-top:0; padding:0 20px; font-size:14px; }
			.subtit {display:none;}
			.close-btn {display:block; padding:10px;}
			.style-code {padding-left:20px; font-size:12px; padding-bottom:10px;}
		}

		.option-wrap, .status-wrap {
			margin: 0 20px;
		}

		.quantity {
			width: 100%;
			.price-wrap-mini {
				position: absolute;
				right: 0;
				top: 10px;
				width: 50%;
				font-size: 22px;
				font-weight: bold;
				color: $prd_total-price;
				text-align: right;
				vertical-align: middle;
			}
		}

		.status-wrap {
			.btn-wrap {
				width:100%;
				padding-bottom:10px;
			}
		}

		.guide-wrap, .price-wrap, .review-wrap, .sns-wrap, .style-code-info, .mileage-wrap, .delivery-wrap, .stock-wrap, .etc-wrap {display:none;}

		&.active {display:block; text-indent:0; visibility:visible;}
	}

	.dim {z-index:10;}
}

.product-soldout, .product-comming {
	text-align:center;

	.soldout, .comming {
		display:inline-block;
		width: 100%;
		padding:17px 20px;
		margin-top:16px;
		font-size: $font-size-m;
		background-color: #8a8a8a;
		color: $font-6;
		box-sizing: border-box;
	}

	.comming {
		margin-top:0;
	}
}



.shot-discription {
	padding:20px 0;
	word-break:break-all;
	white-space:pre-wrap;
	line-height:1.5em;
	text-align:left;
}

/* 최근본 상품 */
/*
.contents {
	&.latest-items {
		.contents-title {
			&.center {padding-bottom: 0;}
		}

	}
}
*/



.stone-guide {
	display:none;
	height:0;
}




/* modalLayer guide */
#guide{
	.uk-modal-dialog {width:600px;}
}


/* 상품 QnA */
.qna-wrapper {
	margin-bottom:80px;
	.tit {text-align:center; margin-bottom:20px;}
	.product-qna-btn-group {text-align:center;}
	.qna-less {
		.info {padding-top:50px; text-align:center;}
	}

	.write-comment {
		> textarea {
			border:1px solid $border-3;
			background:#fff;
		}
	}
	.qna-list {
		margin-top:30px;
		.list {
			position:relative;
			padding:20px 30px;
			border-bottom:1px solid $border-2;
			&:first-child {border-top:1px solid $border-2;}
		}
		.question-container, .answer-container {
			position:relative;
			padding-left:52px;
			font-size:14px;
			color:#2e2e2e;

			&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
			.custom-info {
				margin-top:8px;
				font-size:12px;
				color:$font-3;

				> * {display:inline-block;}
				.date {margin-left:10px;}
			}
		}
		.question-container {
			min-height:45px;
			&:before {content:"Q";}
		}
		.answer-container {
			margin-top:28px;
			&:before {content:"A";}
			.content {min-height:30px;}
		}
		.btn-container {
			position:absolute;
			top:20px;
			right:30px;
			z-index:5;

			> .btn-link {padding:0;}
		}
	}


	.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
}

.uk-modal-dialog {
	.pop-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
}

.pop-cont {
	padding-bottom: 30px;
	.pop-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.btn-wrap {
		margin-top: 30px;
	}
}


.product-poptype {
	.info-wrap_product {
		width: 100%;
		padding-left: 0;
		.style-code-info, .price-wrap, .review-wrap, .mileage-wrap, .option-guide, .quantity, .status-wrap, .guide-wrap, .delivery-wrap, .stock-wrap, .etc-wrap {display: none;}
		.title-wrap {
			.tit {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

.sms-complete {
	.ico-complete {
		display: inline-block;
		margin: 30px 0;
		font-size: 80px;
		color: $apply-color;
	}
	.title {
		margin-bottom: 15px;
		font-size: $font-size-l;
		font-weight: bold;
	}
	p {
		font-size: $font-size-s;
		color: $font-3;
		line-height: 1.5;
	}
}


/* 매장픽업 주문하기 */
.pickup-store-pack {
	margin-top: 45px;
	.location-area {
		position: relative;
		.location-info {
			i {
				font-size: 20px;
				color: $primary-color;
				vertical-align: -2px; 
			}
			strong {
				font-size: 16px;
			}
		}
		.my-location-btn {
			position: absolute;
			right: 0;
			top: 2px;
			font-size: $font-size-s;
			i {
				font-size: 16px;
				color: $primary-color;
				vertical-align: -2px;
			}
		}
	}
	.pickup-search-field {
		position: relative;
		width: 100%;
		margin-top: 10px;
		padding-left: 128px;
		box-sizing: border-box;
		&:after {
			content: '';
			clear: both;
			display: block; 
		}
		.select-box {
			position: absolute;
			left: 0;
			top: 0;
			width: 120px;
			select {
				height: 40px;
			}
		}
		.search-area {
			position: relative;
			padding-right: 86px;
			.input-textfield {
				width: 100%;
				input {
					height: 40px;
				}
			}
			.pickup-search-btn {
				position: absolute;
				right: 0;
				top: 0;
				width: 80px;
			}
		}
	}
	.pickup-search-result {
		margin-top: 15px;
		.cmt {
			margin-bottom: 8px;
			font-size: $font-size-s;
			color: #808080;
		}
		.tbl-header {
			li {
				border-left: 1px solid #fff;
				&:first-child {
					border-left: 0;
				}
			}
		}
		.tbl-wrap .item-store {
			width: 80%;
		}
		.tbl-wrap .item-store, .tbl-wrap .item-count {
			display: table-cell;
		}
		.pickup-result-wrap {
			// .item-box-inner {
			// 	padding: 16px 0;
			// 	border-bottom: 1px solid $border-2;
			// }
			padding: 16px 0;
			border-bottom: 1px solid $border-2;
			.pickup-txt {
				display: table;
				width: 100%;
				padding-bottom: 10px;
				.item-store {
					.store-km {
						span {
							padding-right: 10px;
							font-size: 14px;
							font-weight: bold;
							color: $font-0;
						}
					}
					ul {
						li {
							position: relative;
							margin-top: 15px;
							padding-left: 50px;
							em {
								display: inline-block;
								position: absolute;
								left: 0;
								top: 0;
								width: 40px;
								padding: 4px 0;
								font-size: 11px;
								font-weight: 500;
								color: #111;
								border: 1px solid $border-2;
								border-radius: 2.5;
								text-align: center;
							}
							.address {
								font-size: 12px;
								color: #8d8d8d;
								text-align: center;
							}
						}
					}
					.phonenum {
						display: block;
						margin-top: 25px;
						font-size: 12px;
						color: #8d8d8d;
					}
				}
				.item-count {
					vertical-align: middle;
					.num {
						font-size: 14px;
						color: $primary-color;
					}
					.btn-link {
						margin-top: 20px;
						width: 80px;
						&.uk-active {
							color: $default-color;
							&:before {
								border-color: #ccc;
							}
						}
					}
				}
			}
			.pickup-map {
				padding: 10px 16px 0;
				.map-area {
					min-height: 200px;
				}
				dl {
					display: table;
					width: 100%;
					dt {
						display: table-cell;
						font-size: 12px;
						vertical-align: middle;
					}
					dd {
						display: table-cell;
						position: relative;
						margin-top: 10px;
						padding-right: 86px;
						box-sizing: border-box;
						.select-box {
							width: 100%;
							select {
								height: 40px;
							}
						}
						.pickup-order-btn {
							position: absolute;
							right: 0;
							top: 0;
							width: 80px;
						}
					}
				}
			}
		}
	}
}

/* 공유하기 팝업 width */
#share-popup .uk-modal-dialog {width: 400px;}


/* 상세 정보 내용영역 */
.detail-cont {
	/* 상세정보 */
	&.detail-info {
		.description {
			width: 100%;
			max-width:940px;
			margin: 0 auto 60px;
			p {
				padding-bottom:20px;
				line-height:19px;
			}
		}
		.detail-img-wrap {
			width: 100%;
			margin-bottom: 10px;
			overflow:hidden;
			.detail-img {
				width: 957px;
				li {
					float:left;
					border:1px solid #ccc; 
					margin:0 17px 18px 0; 
					width:300px; 
					height:300px; 
					overflow:hidden;
					img {width:300px; height:300px;}
				}
			}
		}
	}

	/* 테크놀러지 */
	&.detail-tech {
		.info-tec {
			background:$bg-1; 
			overflow:hidden; 
			border:1px solid $border-2;
			li {
				overflow:hidden;
				padding:10px 0 10px 20px;
				margin:0 !important;
				border-top:1px solid $border-2;
				&:first-child {border-top: 0;}
				div {float:left;}
			}
		}
	}
	/* 세탁 및 취급주의사항 */
	&.detail-noti {
		.caution-wrap {
			width: 100%;
			max-width: 940px;
			margin: 0 auto;
			.info-caution {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid $border-2;
				&:first-child {
					margin-top: 0;
					padding-top: 0;
					border-top: 0;
				}
			}
		}
	}

}


/* 상세페이지 상품정보 고시부분 */
.product-noti-content {
	padding:0;
	font-size: $font-size-m;
	color:$font-1;
	> dl {
		padding:0;
		border:0;
		margin:10px 0 0 0;
		&:first-child {margin-top:0;}
	}

	.noti-common {
		min-height:34px;
		line-height:18px;
		&:before {content:''; display:block; padding-top:16px;}
	}
	.noit-title {float:left; width:200px;
		// font-weight:bold;
		color: $default-color;
		 @extend .noti-common;}
	.noti-value {color: $font-3-1; overflow:hidden; @extend .noti-common;}
}




/* mediaquery */

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

	//product option
	.product-detail_wrap {
		> .img-detail_product {
			.product-gallery-slide {
				min-width:320px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			}
		}
	}

	.info-wrap_product{
		.status-wrap {
			.btn-wrap {margin-top:30px;}
			.btn-link {
				width:100%;
				margin-top:10px;
				text-align:center;
				&:first-child {margin-top:0}
				&.right {float:inherit}
				&.left {float:inherit;}
			}
		}
	}
	
	/* 미니옵션 */
	.mini-option-wrap {
		.status-wrap {
			.btn-wrap {
				margin-bottom: 0;
				padding: 0 !important;
				.btn-link {
					float: left;
					width: 50%;
					margin: 0;
				}
			}
		}
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	//product option
	.product-detail_wrap {
		> .img-detail_product {
			padding:0;
		}
		> .info-wrap_product {
			margin-top: 35px;
			padding: 0;
			.title-wrap, .price-wrap, .review-wrap {display: none;}
		}

		.select-box {width:100%;}
		.tit-color {display: none;}
	}

	// mobile 상품이미지 상단에 위치하는 상품 정보
	.mobile-info-pack {
		display: block;
		margin-bottom: 10px;
		padding: 20px 16px 0;
		text-align: left;
		.title-wrap {
			margin-bottom:4px;
			.tit {font-size: $font-size-sxl; font-weight: bold; color: $title_main-color;}
			.close-btn {display:none;}
		}
		.review-wrap {
			.review-num {
				padding:0 10px;
				font-weight: bold;
			}
		}
		.price-wrap {
			margin-bottom: 10px;
			>span {padding-right: 5px; font-weight: bold;}
			> .price-sale {
				color:$prd_price;
				text-decoration:line-through;
			}
			>.price {
				color: $prd_sale-price;
				> strong {
					font-size: $font-size-sxl;
				}
			}
			.disc-num {
				display:inline-block;
				color: $primary-color;
			    	font-weight:bold;
			    	font-size: $font-size-l;
			}
		}
	}

	/* product name */
	.info-wrap_product  {
		.status-wrap, .sns-wrap {display: none;}
		.title-wrap, .price-wrap, .review-wrap, .mileage-wrap, .option-wrap, .guide-wrap, .etc-wrap {
			padding: 0 18px;
			box-sizing: border-box;
		}
		.mileage-wrap {
			padding-top: 16px;
		}
		.guide-wrap {
			padding: 16px;
		}
		.delivery-wrap {
			padding: 16px 0;
			.pickup-btn {
				position: relative;
				top: 0;
				margin-top: 0;
			}
			.pickup-help {
				margin-top: 5px;
				font-size: $font-size-s;
			}
		}
		.stock-wrap {
			padding: 16px;
		}
		.mileage-wrap {
			margin-top: 0;
			padding-bottom: 20px !important;
		}
		.option-wrap {
			.product-option_radio {
				.input-radio {
					&.width-fix {
						width: 25% !important;
					}
				}
			}
		}
		.guide-wrap {
			.shipping-text {border-bottom: 0;}
		}
	}

	.product-gallery-wrap {
		.product-thumb, .btn-prev, .btn-next {display:none !important;}
		//slide
		.product-gallery {
			.bx-controls {display:block;margin-top:-10px;}
		}

		&.left {
			.product-gallery {padding:0;}
		}
	}


	/*.img-detail_product {
		position:relative;
		padding-right: 40px;
		text-align:center;*/

	// 모바일 구매가이드
	.purchase-guide {
		display: table;
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		padding: 16px;
		border: 0;
		box-sizing: border-box;
		.tit {
			display: table-cell;
			width: 17%;
			font-size: 12px;
			font-weight: bold;
			em {display: none;}
		}
		.description {
			display: table-cell;
			width: 83%;
			font-size: 12px;
			color: #666;
			line-height: 1.5;
			.action-sort {
				margin-top: 5px;
				li {
					display: inline-block;
					font-size: 13px;
					font-weight: bold;
					color: #000;
				}
			}
		}
	}

	//product view
	.product-detail_view {
		margin-top:0;
		.detail-tab {display:none; margin:0;width:inherit;}
		.btn-tab {
			font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
			&.uk-active{
				position:relative;
				&:before {
					content:'';
					position:absolute;
					display:block;
					bottom:-1px;
					left:0;
					width:100%;
					border-bottom:2px solid  $primary-color;
				}

			}
		}
		.detail-delivery {
			.delivery-text {padding:30px 0;}
		}

		.detail-title {
			position: relative;
			width: 100%;
			height: 56px;
			margin: 0;
			padding: 0 24px;
			font-size: 16px;
			line-height: 56px;
			background-color: $bg-1;
			border-top: 1px solid $border-3;
			box-sizing: border-box;
			i {
				position: absolute;
				right: 16px;
				top: 50%;
				margin-top: -8px;
			}
			&.uk-active i:before {
				content: $icon-arrow_top;
			}
		}

		.detail-cont {
			margin: 0;
			padding: 0;
			h3 {display: none;}
			.uk-accordion-content {
				opacity: 1;
			}
		}
	}

	/* 상품평 */
	.detail-review {
		padding:0 10px;
		.pop-detail-title {padding:0 0 10px;}
		.detail-review-summary {
			>div {
				padding-left: 16px;
				padding-right: 16px;
			}
			.opt-value-wrap {padding: 0;}
		}
		.mobile-opt-value-txt {
			display: block !important;
			p {
				display: inline-block;
				margin: 25px 20px 0 0;
				font-size: 12px;
			}
		}
	}

	/* 상품정보고시 */
	.product-noti-content {
		.noit-title {float:none;}
		.noti-value {padding-top:0;}
	}

	.info-wrap_product {
		/* 상품타이틀 */
		.title-wrap {
			.tit {font-size:17px;}
		}
		.price-wrap {
			> .price {
				> strong {font-size:24px;}
			}
		}
		.option-wrap {
			> .tit {margin:15px 0 8px;}
			.option-guide {
				padding:10px 0 0 0;
				font-size:12px;
			}
		}
		.review-wrap {border-bottom:0;}
	}

	/* 미니옵션 */
	.mini-option-wrap {
		height:56px;
		
		&:after {height:56px;}
		.mini-product-item {display:none;}
		.title-wrap {padding: 0;}
		.option-wrap {margin: 0 !important;}
		.status-wrap {
			display: block;
			padding: 0 !important;
			.wish-btn {display: none;}
			.btn-wrap {
				margin-bottom: 0;
				padding: 0 !important;
				.btn-link {
					width: 50%;
					margin: 0;
				}
			}
		}
		> .btn-wrap {
			height:56px;
			padding:6px;
			box-sizing:border-box;
			.btn-pack {
				position: relative;
				padding-left: 46px;
				.wish-btn-wrap {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					padding-top: 9px;
					box-sizing: border-box;
					text-align: center;
					.wish-btn {
						padding: 0;
						font-size: 24px;
					}
				}
			}

			.minioptbtn {
				position:static;
				width:100%;
				height:40px;
				margin:0;
				padding:13px 30px;
				box-sizing:border-box;
				text-align:center;
			}
			.wishlist-btn {display:none;}
		}
	}

	.review-write {
		padding:0;
	}

	.product-poptype {
		.info-wrap_product {
			.title-wrap, .option-wrap {padding: 0;}
		}
	}

	/* 매장픽업 주문하기 */
	.pickup-store-pack {
		.pickup-search-result {
			.pickup-result-wrap {
				.pickup-txt {
					.store-address {
						ul {
							li {
								padding-left: 0;
								em {display: none;}
							}
						}
					}
				}
			}

		}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.detail-delivery {padding:0 16px;}
	.product-detail_view {
		padding:40px 16px;
	}
	.n-review-read {
		margin-left: 0;
	}

	.info-wrap_product {
		padding-left: 0;
		.option-wrap {
			.product-option_radio {
				.input-radio {
					&.width-fix {
						width: 20%;
					}
				}
			}
		}
	}

	.product-noti-content {
		padding: 0 16px;
	}
	.product-noti-content {
		.noti-value {
			min-height: auto;
			color: $font-3;
			&:before {
				padding-top: 5px;
			}
		}
	}
}
