.customer-myreview {
	position:relative;

	.select-box.sort {
		border:1px solid $border-2;
		margin-bottom:15px;
	}
}

.my-comment-read {
	//max-width:630px;

	> li {
		border:1px solid $border-2;
		margin-bottom:15px;
	}

	.order-lanscape-list {
		margin:30px 20px;
	}

	.sort-tabs {
		position:absolute;
		top:0;
		right:0;
	}
}

/* purchasesReview.html */
.customer-purchasesreview {
	.review-write {
		@include box-sizing();

		margin:0 0 15px 0;
		padding:0 35px 0 0;
		max-width:935px;
		border:1px solid $border-2;
	}
	.order-lanscape-list {
		padding:20px 0;
	}
	.rating-star-data {
		padding:30px 0 20px;
	}
	.write-comment {
		margin-top:10px;
	}
	.review-btnarea {
		margin:10px 0 20px;
		text-align:right;
		.btn-link {
			width:140px;
		}
	}
}


/* account-review-write */
.account-review-write {
	/*.review-summary-group {
		> li {display:table; width:100%;}

		.order-lanscape-list {display:table-cell; padding:30px;}
		.rating-star-data {display:table-cell; vertical-align:middle;}
		.rating-description {padding-bottom:0;}
	}*/

	.btn-delete {display:none;}
	.review-main-msg {display:none;}

	.review-summary-group {
		> li {
			min-height:136px;
			&:after{content:''; clear:both; display:block;}
			&:last-child {border:1px solid $border-2;}
		}
		.order-lanscape-list {float:left; min-width:200px; max-width:300px; padding:20px; margin:0;}
		.rating-star-data {float:left; padding:0; padding-top:40px;}
		.rating-description {padding-bottom:0;}
	}
}





/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.my-comment-read {
		.sort-tabs {
			position:static;
			padding:30px 0;
			text-align:center;

			.sort-item {width:50%;}
		}
	}
}
