.board-accodian {
	.list {
		&.style-tab {
			.question {
				background-color:$bg-4;
			}
			.answer {padding-top:10px;}
		}
	}

	.question {
		padding:19px 20px;
		margin-bottom:10px;
		background-color: $bg-1;
		font-size:16px;

		a {color:$font-2;}
		.icon-arrow_top {display:none; margin-right:5px;}
		.icon-arrow_bottom {margin-right:5px;}

		&.uk-active {
			.icon-arrow_top {display:inline-block;}
			.icon-arrow_bottom {display:none;}
		}
	}

	.answer {
		padding:0 30px 0px 45px;
		padding-bottom:40px;
		line-height:20px;
		color: $font-3;
	}
}


.board-table {
	table {width:100%; }
	thead {
		tr {height:50px;}
		th {font-weight:normal;}
		background-color:$bg-3;
	}
	tbody {
		tr {height:40px; border-bottom:1px solid $border-2;}
		background-color:$bg-1;
	}

	td {
		word-break:break-all;
		text-align:center;
		line-height: 18px;
		&.left {text-align:left;}
	}
	caption, .hidden {display:none; text-indent:-9999px; visibility:hidden;}
	.less {height:300px; text-align:center;}
}


.customer-info {
	text-align:center;

	.tit {
		margin:10px 0 30px;
		font-size:23px;
		// font-weight:bold;
		color: $title_category-color;
	}
}


.board-write {
	border-top:1px solid $border-2;

	.write-wrapper {
		background-color:$bg-3;
	}

	.write-header {
		float:left;
		width:140px;
		padding:5px;

		.label {display:inline-block; padding:15px 0 0 30px;}
	}

	.write-body {
		overflow:hidden;
		border-bottom:1px solid $border-2;
		padding:8px;
		background-color:$bg-1;
	}

	.write-comment {
		width:100%;
		margin:0;
	}
}


.board-view {
	.view-contents-wrap {border-top:1px; border-bottom:1px; border-color:$border-3; border-style:solid;}
	.view-title {
		padding:20px 40px;
		background-color:$bg-3;
		&:after {content:''; display:block; clear:both;}
		.label {display:inline-block;}
		.info {
			display:inline-block; float:right; color:$font-4;
			> * {
				display:inline-block;
				margin-left:40px;
			}
		}
	}
	.view-contents {min-height:230px; padding:30px 60px; line-height:18px;}
}


.board-btn-wrap {
	position:relative;
	margin-top:10px;

	&:after {content:''; display:block; clear:both;}
	&.right {text-align:right;}
	.right {float:right;}
}


.board-search {
	display: none;  /* notice board search  숨김처리 */
	float:right;
	width:250px;
	margin-bottom:6px;
}

/* comment write */
.comment-write {
	.write-textarea {position:relative;}
	.input-textarea {
		height:36px;
		textarea {
			width: calc(100% - 60px);
			height:36px;
			border:1px solid $border-3;
			padding:7px 5px;
			outline:none;
			box-sizing:border-box;
			background-color:transparent;
			font-size:12px;
			color:$font-2;
			&:focus {border-color: $primary-color;}
		}
	}
	.btn-comment {position:absolute; top:0; right:0; width:60px;}

}

/* comment list */
.comment-list {
	li {
		position:relative;
		padding: 15px 0;
		border-top:1px solid $border-2;
	}
	.name {margin-bottom:10px; font-size:11px; color:$font-2;}
	.text {line-height:1.4em; color: $font-1;}
	.date {margin-top:10px; font-size:11px; color:$font-3;}
	.empty {text-align:center;}
	.comment-delete {
		position:absolute; top:15px; right:0; font-size:12px; 
		a {color:$font-3;}
	}
}



/* mediaquery */

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.board-type, .board-date {display:none;}
	.board-id {width:15%;}
	.board-title {width:60%;}
	.board-name {width:25%;}
	.board-search {
		.search-field {display: none;}
	}
	.board-table {
		td {padding: 7px 0;}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {}