/********************************/
/* landing, lookbook page style */
/********************************/

.pt_landing {
	> *:first-child {
		margin-top:0;
	}
}

/* width값 지정할때 div */
.landing-width-is {
	margin:0 auto;
}

/* 타이틀 배너 타입 */
.banner-type-text {
	&.centered {
		text-align:center;
	}
	&.left {
		text-align:left;
	}
	&.right {
		text-align:left;
	}
	margin-top:30px;
	
	.text-script-info {
		.type-text-bigtitle {
			font-size:70px;
			color: $primary-color;
			padding:25px 0 15px;
		}
		.type-text-middletitle {
			&.underline {
				text-decoration:underline;
			}
			font-size:30px;
			color: $primary-color;
			padding:25px 0 15px;
		}
		.type-text-description {
			font-size:35px;
			color: $primary-color;
			padding:10px 0;
		}
		.type-text-date {
			font-size:20px;
			color: $primary-color;
			padding:50px 0 25px;
		}
	}
}

/* 100% 이미지 배너 타입 */
.banner-type-full {
	&.centered {
		text-align:center;
	}
	&.left {
		text-align:left;
	}
	&.right {
		text-align:left;
	}
	&.pos-absolute {
		> div > div {
			position:relative;
		}
		.text-script-info {
			position:absolute;
			top:25%;
			right:0;
			width:60%;
			
			.type-full-price {
				font-size:16px;
				color: $font-6;
			}

			.type-full-title {
				padding:55px 0 18px;
				font-size:68px;
				color: $font-6;
			}
			.type-full-description {
				padding:10px 0 20px;
				font-size:18px;
				color: $font-6;
			}
			.type-full-button {
				padding:18px 0 50px;
			}
		}
		.uk-width-large-1-3 {
			.text-script-info {
				@include box-sizing();
				position:absolute;
				top: auto;
				bottom:5%;
				left:0;
				text-align:left;
				padding:0 60px;

				.type-full-title {
					padding:20px 0;
					font-size:30px;
					color: $font-6;
					line-height:1.2em;
				}
				.type-full-description {
					padding:10px 0 20px;
					font-size:18px;
					color: $font-6;
				}
				.type-full-button {
					padding:18px 0 50px;
				}
			}
		}

	}
	margin-top:30px;

	.type-full-image {
		width:100%;
		img {width:100%;}
	}
	.type-half-image {
		width:50%;
		display:inline-block;
	}
	.text-script-info {
		&.bgcolor-script-info {
			background-color: $bg-6;
			.type-full-title {
				color: $font-6;
			}
			.type-full-description {
				color: $font-6;
			}
		}
		
		.type-full-title {
			padding:55px 0 18px;
			font-size:38px;
			color: $primary-color;
		}
		.type-full-description {
			padding:18px 0;
			font-size:18px;
			color: $primary-color;
			line-height:1.4em;
		}
		.type-full-button {
			padding:18px 0 50px;
		}
	}
	
}

/* 50% 이미지 배너 타입 */
.banner-type-half {
	&.centered {
		text-align:center;
	}
	&.left {
		text-align:left;
	}
	&.right {
		text-align:left;
	}
	margin-top:30px;
	
	.type-half-image {
		img {width:100%;}
	}
	.text-script-info {
		
		.type-half-title {
			padding:55px 0 18px;
			font-size:38px;
			color: $primary-color;
		}
		.type-half-description {
			padding:18px 0;
			font-size:18px;
			color: $primary-color;
		}
		.type-half-button {
			padding:18px 0 50px;
		}
	}

	&.banner-landscape {
		margin:50px 0;
		.text-script-box {
			display:table;
			width:100%;
			height:100%;
		}
		.text-script-info {
			display:table-cell;
			vertical-align:middle;
		}
	}
	
}

/* new arrivals */
.new-product-list-item {
	max-width: $max-width;
	margin:0 auto; 
	padding-bottom:100px; 
	&.centered {
		text-align:center;
	}
	&.left {
		text-align:left;
	}
	&.right {
		text-align:left;
	}

	.landing-product-title {
		padding:50px 0;
		font-size:38px;
		color: $primary-color;
	}
	.product-item {
		text-align:left;
	}
}

/* 랜딩페이지 리스트 */
.landing-list-wrap {
	background:$bg-3;
}
.landing-list-item {
	max-width: $max-width;
	margin:0 auto; 
	padding-bottom:100px; 
	&.centered {
		text-align:center;
	}
	&.left {
		text-align:left;
	}
	&.right {
		text-align:left;
	}

	.landing-list-title {
		padding:115px 0 56px;
		font-size:38px;
		color: $primary-color;
	}
	.text-script-info {
		.landing-item-title {
			padding:22px 0 8px;
			font-size:18px;
			color: $primary-color;
		}
		.landing-item-date {
			padding:8px 0 50px;
			font-size:14px;
			color:$font-3;
		}
	}
}


