
[class*='brz-grid'] {
    margin-left:-$item-padding-left;
    &:after {content:""; display:block; clear:both;}

    > * {
        box-sizing:border-box;
        width:100%;
        float:left;
        padding-left:$item-padding-left;
    }
}


.brz-grid-1-2 > * { width: 50%; }
.brz-grid-1-3 > * { width: 33.333%; }
.brz-grid-1-4 > * { width: 25%; }
.brz-grid-1-5 > * { width: 20%; }
.brz-grid-1-6 > * { width: 16.666%; }
.brz-grid-1-10 > * { width: 10%; }
.brz-grid-auto > * { width: auto; }


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {
    .brz-grid-small-1-1 > * { width: 100%; }
    .brz-grid-small-1-2 > * { width: 50%; }
    .brz-grid-small-1-3 > * { width: 33.333%; }
    .brz-grid-small-1-4 > * { width: 25%; }
    .brz-grid-small-1-5 > * { width: 20%; }
    .brz-grid-small-1-6 > * { width: 16.666%; }
    .brz-grid-small-1-10 > * { width: 10%; }
}

/* Tablet and bigger */
@media (min-width: $breakpoint-medium) {
    .brz-grid-medium-1-1 > * { width: 100%; }
    .brz-grid-medium-1-2 > * { width: 50%; }
    .brz-grid-medium-1-3 > * { width: 33.333%; }
    .brz-grid-medium-1-4 > * { width: 25%; }
    .brz-grid-medium-1-5 > * { width: 20%; }
    .brz-grid-medium-1-6 > * { width: 16.666%; }
    .brz-grid-medium-1-10 > * { width: 10%; }
}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {
    .brz-grid-large-1-1 > * { width: 100%; }
    .brz-grid-large-1-2 > * { width: 50%; }
    .brz-grid-large-1-3 > * { width: 33.333%; }
    .brz-grid-large-1-4 > * { width: 25%; }
    .brz-grid-large-1-5 > * { width: 20%; }
    .brz-grid-large-1-6 > * { width: 16.666%; }
    .brz-grid-large-1-10 > * { width: 10%; }
}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {
    .brz-grid-xlarge-1-1 > * { width: 100%; }
    .brz-grid-xlarge-1-2 > * { width: 50%; }
    .brz-grid-xlarge-1-3 > * { width: 33.333%; }
    .brz-grid-xlarge-1-4 > * { width: 25%; }
    .brz-grid-xlarge-1-5 > * { width: 20%; }
    .brz-grid-xlarge-1-6 > * { width: 16.666%; }
    .brz-grid-xlarge-1-10 > * { width: 10%; }
}