/*********************************************************************/
/* guess common
/*********************************************************************/

	//* common
	//************************************************************/

		/* laout width */
		$max-width:1410px;
		/*
		$breakpoint-small:480px !default;
		$breakpoint-medium:768px !default;
		$breakpoint-large:960px !default;
		$breakpoint-xlarge:1220px !default;
		*/
		$width-full:100%;
		$width-small:480px;
		$width-medium:768px;
		$width-large:960px;
		$width-xlarge:1440px;

		$utility-container-large-max-width:              1410px;

		/* border color */
		$border-1:#eeeeee;
		$border-2:#EBEBEB;
		$border-3:#d1d1d1;
		$border-4:#a5a5a5;
		$border-5:#929292;								// .product-option_radio 여기서만 쓰임
		$border-caution: #CA3838;						// input box 경고 테두리 컬러

		/* font color */
		$apply-color: #00a885;    						/* cart에 promo 정보 텍스트 컬러, 재사용할지는 모르겠음 */
		$default-color: #000000; 						// 기본 컬러값
		$primary-color: #ff6e7b; 						// 대표 point 컬러 - 기존 cobalt 값
		$primary-sub-color: #ff6e7b; 					// 상품리뷰 옵션평가 텍스트 컬러값에 사용, like컬러사용, 카테고리에서 기획전 텍스트 사용 - 기존 sky blue 값
		$caution-color: #e74c3c;    					// checkout에서 가격, 경고문구용으로 사용
		$marketing-color: #ff6e7b;    					// 마케팅 메세지, 가격
		$marketing-color-over: #ff6e7b; 				// 마케팅 메세지링크 있을때 폰트 over 컬러
		$star-color: #ff6e7b; 							// 상품평 작성 완료후 멘트 컬러 (메인페이지 리뷰 popup에 사용)

		$font-0:#000000; 								// gray폰트 컬러 (0~6 진한정도의 순서 : 0이 제일 진함)
		$font-1:#2e2e2e;
		$font-2:#6f6f6f;
		$font-3:#a3a3a3;
		$font-4:#cccccc;
		$font-5:#e9e9e9;
		$font-6:#ffffff;

		/* background color */
		$star-bg-color: #ff6e7b; 						// 상품평 그래프 bg 컬러값
		$bg-dimmed: #000000;
		$bg-1:#ffffff;
		$bg-2:#f7f7f7;
		$bg-3:#f1f1f1;
		$bg-4:#EBEBEB;
		$bg-5:#dddddd;
		$bg-6:#929292;

		/* product color */
		$prd_text-color: #000000;						// 상품명 폰트 컬러
		$prd_text-color-over: #ff6e7b; 					// 상품명 폰트 over 컬러
		$prd_price: #999999; 							// 상품명 가격 컬러 
		$prd_sale-price: #000000;  						// 상품명 세일가격 컬러 
		$prd_total-price: #ff6e7b; 						// 총 결제금액 컬러(주문, 장바구니 사용)

		/* title color */
		$title_main-color: #000000;						// 메인 타이틀 컬러
		$title_category-color: #000000; 				// 페이지 타이틀 컬러
		$title_checkout-color: #000000; 				// 주문/결제 타이틀 컬러
		$title_filter-color: #000000; 					// 필터 타이 틀 컬러
		$title_mobile-location: #333333; 				// 모바일용 헤더부분 타이틀 컬러 (자주묻는 질문 )

		/* 'a' tag setting */
		$anchor-text-color: #000000;  				 	// 'a'태그 폰트 컬러
		$anchor-text-color-over: #ff6e7b;  				// 'a'태그 폰트 over 컬러						- point color
		$anchor-text-color-active: #ff6e7b;  			// 'a'태그 폰트 active 컬러						- point color 						- [[* 미사용 *]]
		$anchor-text-color-disabled: #a5a5a5;  			// 'a'태그 폰트 disabled 컬러

		/* input, textarea 관련 color 정의 */
		$form_bg: #f1f1f1;
		$form_bg-hover: #f1f1f1;
		$form_bg-disabled: #eeeeee;
		$form_border: #f1f1f1;
		$form_border-hover: #a5a5a5;
		$form_border-focus: #2c3b59;
		$form_border-disabled: #eee;
		$form_text-color: #383838;
		$form_text-color-hover: #929292;
		$form_text-color-focus: #383838;
		$form_text-color-disabled: #a5a5a5;

		/* select 관련 color 정의 */
		$select_bg: #ffffff; 							// select bg
		$select_opt-bg-over: #f7f7f7; 					// select 옵션 over bg 	
		$select_opt-checked-bg: #39f; 					// select 옵션 bg
		$select_text-color: #383838; 					// select 폰트 컬러
		$select_opt-text-color: #383838; 				// select 옵션 컬러
		$select_opt-checked-text-color: #fff; 			// select 체크된 옵션 컬러

		/* product item padding & margin */
		$item-padding-top:60px;
		$item-padding-left:30px;

		/* font-size */
		$font-size-smini:10px;
		$font-size-mini:11px;
		$font-size-s:12px;
		$font-size-sm:13px;
		$font-size-m:14px;
		$font-size-l:16px;
		$font-size-sxl:20px; // 폰트 사이즈 추가
		$font-size-xl:24px;


	//* header type1
	//************************************************************/
		$gnb_bg-color-type1: #000000;					// 최상단 bg
		$gnb_color-type1: #ffffff;						// 최상단 폰트컬러
		$lnb-bg-color-type1: #fff;						// 메뉴 1depth bg 																- [[* 미사용 *]]
		$lnb_color-type1: #383838;						// 메뉴 1depth 폰트컬러
		$lnb_color-type1-over: #383838;					// 메뉴 1depth 폰트 hover 컬러
		$lnb_depth2-bg-type1: #fff;						// 2depth bg
		$lnb_depth2-border-type1: #EBEBEB;				// 2depth border
		$lnb_depth2-color-type1: #383838;				// 2depth 폰트컬러
		$lnb_depth2-color-type1-over: #383838;			// 2depth 폰트 hover 컬러
		$lnb_depth3-color-type1: #383838;				// 3depth 폰트컬러
		$lnb_depth3-color-type1-over: #383838;			// 3depth 폰트 over컬러
		$cart-icon_qty-bg: #c9192e;						// 헤더 장바구니 수량 bg
		$cart-icon_qty-color: #ffffff; 					// 헤더 장바구니 폰트 컬러


	//* header type2 (에탐 사용중인 헤더타입)
	//************************************************************/
		$gnb_bg-color-type2: #fff5f6;					// 최상단 bg
		$gnb_color-type2: #2e2e2e;						// 최상단 폰트컬러
		$lnb_bg-color-type2: #ffffff;					// 메뉴 1depth bg
		$lnb_color-type2: #2e2e2e;						// 메뉴 1depth 폰트컬러
		$lnb_color-type2-over: #ff6e7b;					// 메뉴 1depth 폰트 over 컬러
		$lnb_depth2-bg-type2: #ffffff;					// 2depth bg
		$lnb_depth2-color-type2: #262626;				// 2depth 폰트컬러
		$lnb_depth2-color-type2-over: #ff6e7b;			// 2depth 폰트 over 컬러
		$lnb_depth3-color-type2: #777777;				// 3depth 폰트컬러
		$lnb_depth3-color-type2-over: #ff6e7b;			// 3depth 폰트 over 컬러
		$lnb_etc-menu-color: #383838;  					// ect 메뉴 컬러 (ex.앱다운로드 / 이벤트)
		$lnb_etc-menu-divider: #dadada;  				// ect 메뉴간 구분선 컬러 (ex.앱다운로드 / 이벤트)
		$lnb_search-icon-color: #000000; 				// 헤더 search검색박스 안의 검색 아이콘 컬러

	//* mobile header
	//************************************************************/
		$mc-lnb_bg-color: #f7f7f7;						// 모바일 lnb bg
		$mc-lnb_state-bg-color: #ffffff;				// 모바일 lnb 최상단 메뉴 bg (회원가입/로그인, 고객정보 부분)
		$mc-lnb_state-font-color: #383838;				// 모바일 lnb 최상단 메뉴 폰트 컬러 (회원가입/로그인, 고객정보 부분)
		$mc-lnb_border-color: #EBEBEB;					// 모바일 lnb border 컬러
		$mc-lnb_depth1-color: #000000;					// 모바일 1depth 폰트컬러 (현재 2,3depth컬러값 같이 쓰이고 있음)
		$mc-lnb_depth2-bg: #f1f1f1;						// 모바일 2depth bg
		$mc-lnb_depth2-title-color: #000000; 			// 모바일 2depth 상단 타이틀 폰트 컬러 (ex. < women)
		$mc-lnb_depth3-bg: #f1f1f1;						// 모바일 3depth bg
		$mc-lnb_etc-font-color: #606060;				// 모바일 기타메뉴 폰트 컬러 (고객센터, 매장찾기 같은 메뉴)

	//* footer type1
	//************************************************************/
		$footer_bg-color-type1: #f5f5f5;				// 푸터 bg
		$footer_title-color-type1: #2e2e2e;				// 푸터 타이틀 컬러
		$footer_menu-color-type1: #333333;				// 푸터 메뉴 컬러
		$footer_menu-color-type1-over: #ff6e7b;			// 푸터 메뉴 over 컬러
		$footer_text-color: #cccccc;					// 푸터 텍스트 기본 (회사정보 등)
		$footer_copyright-color: #333333;				// 푸터 카피라이트 컬러


	//* button  */
	//************************************************************/
		/* full type button - bg, color */
		$button_full-bg: #000000;						// default 버튼 bg 								- point color
		$button_full-bg-over: #333333;					// default 버튼 over bg
		$button_full-transparent-over: transparent;		// 'button' class 사용하는 예외처리 - 투명 over bg (.button:hover, button:active, button:uk-active 사용)
		$button_full-color: #fff;						// default 버튼 폰트컬러
		$button_full-color-over: #fff;					// default 버튼 폰트 over 컬러
		$button_full-color-active: #fff;				// default 버튼 폰트 active 컬러

		$button_full-bg-disabled: #a5a5a5;				// default 버튼 disabled bg
		$button_full-bg-disabled-over: #a5a5a5;			// default 버튼 disabled over bg
		$button_full-border-disabled: #a5a5a5;			// default 버튼 disabled border 컬러
		$button_full-border-disabled-over: #a5a5a5;		// default 버튼 disabled border over 컬러
		$button_full-color-disabled: #ebebeb;			// default 버튼 폰트 disabled 컬러
		$button_full-color-disabled-over: #ebebeb;		// default 버튼 폰트 disabled over 컬러

		/* text type button - bg, color */
		/* - color type1 */
		$button_text-bg-type1: transparent;				// 텍스트타입 버튼 bg (text type1)
		$button_text-bg-type1-over: transparent;		// 텍스트타입 버튼 over했을때 bg 														- [[* 미사용 *]]
		$button_text-color-type1: #000000;				// 텍스트타입 버튼 폰트 컬러 							- point color
		$button_text-color-type1-over: #000000;			// 텍스트타입 버튼 폰트 over 컬러 						- point color

		/* - color type2 텍스트만 나오는 버튼
		    - 필터부분의 더보기 버튼과 상품리뷰에서 옵션정보의 텍스트 스타일의 버튼으로 사용 */
		$button_text-bg-type2: transparent;				// 텍스트타입 버튼 bg (text type2, 기존 sky blue)
		$button_text-bg-type2-over: none;				// 텍스트타입 버튼 over했을때 bg
		$button_text-color-type2: #333333;				// 텍스트타입 버튼 폰트 컬러
		$button_text-color-type2-over: #ff6e7b;			// 텍스트타입 버튼 폰트 over 컬러  					- point color

		/* - color type3 (white style) */
		$button_text-bg-type3: #fff;					// 텍스트타입 버튼 bg (text type3 - white style)
		$button_text-bg-type3-over: #000;				// 텍스트타입 버튼 over했을때 bg 						- point color
		$button_text-color-type3: #000;					// 텍스트타입 버튼 폰트 컬러 							- point color
		$button_text-color-type3-over: #fff;			// 텍스트타입 버튼 폰트 over 컬러

		/* - color type4 (gray style) */
		$button_text-bg-type4: transparent;				// 텍스트타입 버튼 bg (text type4 - gray style)
		$button_text-bg-type4-over: transparent;		// 텍스트타입 버튼 over했을때 bg 														- [[* 미사용 *]]
		$button_text-color-type4: #383838;				// 텍스트타입 버튼 폰트 컬러
		$button_text-color-type4-over: #383838;			// 텍스트타입 버튼 폰트 over 컬러

		/* - color type5 (primary button style) - 결제주문 관련 버튼에 사용 */
		$button_text-bg-primary: #ff6e7b;				// 텍스트타입 버튼 bg (text type5 - primary button style)
		$button_text-bg-primary-over: #a62219;			// 텍스트타입 버튼 over했을때 bg
		$button_text-color-primary: #fff;				// 텍스트타입 버튼 폰트 컬러
		$button_text-color-primary-over: #fff;			// 텍스트타입 버튼 폰트 over 컬러

		/* line type button - bg, color (그레이 스타일의 라인버튼임) */
		$button_line-bg: #fff;							// 라인타입 버튼 bg (line button style)
		$button_line-bg-over: #fff;						// 라인타입 버튼 over했을때 bg 														
		$button_line-border-color: #a3a3a3;				// 라인타입 버튼 border 컬러
		$button_line-border-color-over: #a5a5a5;		// 라인타입 버튼 border over 컬러 					
		$button_line-color: #333333;					// 라인타입 버튼 폰트 컬러 							
		$button_line-color-over: #333333;				// 라인타입 버튼 폰트 over 컬러  						

		/* text underline type button - bg, color */
		$button_underline-bg: transparent;				// 텍스트언더라인타입 버튼 bg
		$button_underline-bg-over: transparent;			// 텍스트언더라인타입 버튼 over bg 													- [[* 미사용 *]]
		$button_underline-bg-disabled: #a5a5a5;			// 텍스트언더라인타입 버튼 disabled bg 												- [[* 미사용 *]]
		$button_underline-color: #000000;				// 텍스트언더라인타입 버튼 폰트컬러						- point color
		$button_underline-color-over: #000000;			// 텍스트언더라인타입 버튼 폰트 over 컬러				- point color
		$button_underline-color-active: #000000;		// 텍스트언더라인타입 버튼 폰트 active 컬러  			- point color 	 				- [[* 미사용 *]]
		$button_underline-color-disabled: #a5a5a5;		// 텍스트언더라인타입 버튼 폰트 disabled 컬러

		/* close, delete type button - bg, color */
		$button_close-bg: #fff;							// 아이콘 'X' 타입 버튼 bg - product, location에 사용

		/* wishlist delete button - bg, color */
		$button_wish-delete-bg: #dcdcdc;				// 위시리스트 'X' 타입 버튼 bg - 위시리스트에 사용
		$button_wish-delete-color: #fff;				// 위시리스트 'X' 타입 버튼 컬러

		/* file remove button - bg, color */
		$button_file-remove-bg: #e8e8e8;				// 파일 삭제버튼 bg

		/* product quantity button - bg, color */
		$button_qty-input-border: #d1d1d1;				// 상세페이지 부분 수량 input border 컬러 (상세페이지 수량체크 버튼사용)
		$button_qty-btn-bg: #fff;						// 수량 체크 버튼 (+,-) bg
		$button_qty-btn-bg-over: #EBEBEB;				// 수량 체크 버튼 (+,-) over bg
		$button_qty-btn-border: #a3a3a3;				// 수량 체크 버튼 (+,-) border 컬러
		$button_qty-btn-border-over: #000000;			// 수량 체크 버튼 (+,-) border over 컬러 			- point color



		/* button font size */
		$button_default-font: 13px;						// 기본 default 폰트 사이즈
		$button_font-mini: 12px;						// 버튼 크기에 따른 (mini사이즈) 버튼 폰트 크기
		$button_font-small: 13px;						// 버튼 크기에 따른 (small사이즈) 버튼 폰트 크기
		$button_font-medium: 13px;						// 버튼 크기에 따른 (medium사이즈) 버튼 폰트 크기
		$button_font-large: 14px;						// 버튼 크기에 따른 (large사이즈) 버튼 폰트 크기
		$button_font-xlarge: 15px;						// 버튼 크기에 따른 (xlarge사이즈) 버튼 폰트 크기



		/* color chip hover border color */
		$color-chip-border: #d1d1d1;
		$color-chip-border-over: #000000;


	//* tab  */
	//************************************************************/
		/* basic type tab  */
		$tab_bg: #ffffff;								// 탭 bg 							 							 				
		$tab_border-color: #cccccc;						// 탭 border 컬러
		$tab_border-color-over: #000000;				// 탭 border over 컬러 							- point color
		$tab_text-color: #cccccc;						// 탭 폰트컬러
		$tab_text-color-over: #000000;					// 탭 폰트 over 컬러								- point color

		/* sort type tab  */
		$tab_sort-bg: #929292;							// sort탭 bg (review 부분 sort에 사용 )				 								- [[* 미사용 *]]
		$tab_sort-border-color: #d1d1d1;				// sort탭 border 컬러
		$tab_sort-border-color-over: #000000;			// sort탭 border over 컬러 						- point color
		$tab_sort-text-color: #606060;					// sort탭 폰트컬러
		$tab_sort-text-color-over: #000000;				// sort탭 폰트 over 컬러							- point color


	//* filter */
	//************************************************************/
		$filter-width:235px;							// 필터 넓이값

	//* notice commonn message  */
	//************************************************************/
		$message_success-bg: #def2d6;					// 공통 알림 성공 메세지 bg
		$message_success-color: #5b9048;				// 공통 알림 성공 메세지 폰트컬러
		$message_success-border: #5b9048;				// 공통 알림 성공 메세지 border 컬러													- [[* 미사용 *]]
		$message_warning-bg: #fffceb;					// 공통 알림 경고 메세지 bg
		$message_warning-color: #c23628;				// 공통 알림 경고 메세지 폰트컬러
		$message_warning-border: #c23628;				// 공통 알림 경고 메세지 border 컬러													- [[* 미사용 *]]
		$message_danger-bg: #fff1f0;					// 공통 알림 위험(?) 메세지 bg
		$message_danger-color: #d85030;					// 공통 알림 위험(?) 메세지 폰트컬러
		$message_danger-border: #d85030;				// 공통 알림 위험(?) 메세지 border 컬러												- [[* 미사용 *]]


	//* icon */
	//************************************************************/
		$icomoon-font-path: "fonts" !default;
		$icon-ic-first-page: "\e91f";
		$icon-ic-last-page: "\e920";
		$icon-star5: "\e91e";
		$icon-after: "\e900";
		$icon-arrow_bottom: "\e901";
		$icon-arrow_left: "\e902";
		$icon-arrow_right: "\e903";
		$icon-arrow_top: "\e904";
		$icon-call: "\e905";
		$icon-camera: "\e906";
		$icon-check: "\e907";
		$icon-check_circle: "\e908";
		$icon-delete_bold: "\e909";
		$icon-delete_thin: "\e90a";
		$icon-eye: "\e90b";
		$icon-facebook: "\e90c";
		$icon-fullarrow_bottom: "\e90d";
		$icon-fullarrow_top: "\e90e";
		$icon-google: "\e90f";
		$icon-info: "\e910";
		$icon-kakaostory: "\e911";
		$icon-kakaotalk: "\e912";
		$icon-menu: "\e913";
		$icon-minus: "\e914";
		$icon-plus: "\e915";
		$icon-refresh: "\e916";
		$icon-search: "\e917";
		$icon-share: "\e918";
		$icon-shoppingbag: "\e919";
		$icon-star: "\e91a";
		$icon-twitter: "\e91b";
		$icon-wishlist: "\e91c";
		$icon-wishlist_full: "\e91d";

		/* etam icon */
		$ic-add: "\e900";
		$ic-cancel: "\e901";
		$ic-check: "\e902";
		$ic-close: "\e903";
		$ic-confirm: "\e904";
		$ic-drop-down: "\e905";
		$ic-drop-up: "\e906";
		$ic-filter: "\e907";
		$ic-info: "\e908";
		$ic-login: "\e909";
		$ic-remove: "\e90a";
		$ic-reset: "\e90b";
		$ic-search: "\e90c";
		$ic-setting: "\e90d";
		$ic-write: "\e90e";
		$ic-zoom-in: "\e90f";
		$ic-zoom-out: "\e910";
		$ic-save-for-later: "\e911";
		$ic-shipstep1: "\e912";
		$ic-shipstep2: "\e913";
		$ic-shipstep3: "\e914";
		$ic-shipstep4: "\e915";
		$ic-shipstep5: "\e916";
		$ic-shopping-cart: "\e917";
		$ic-call: "\e918";
		$ic-customer: "\e919";
		$ic-location: "\e91a";
		$ic-mail: "\e91b";
		$ic-mypage: "\e91c";
		$ic-camera: "\e91d";
		$ic-image: "\e91e";
		$ic-pause: "\e91f";
		$ic-play: "\e920";
		$ic-arrow-left: "\e921";
		$ic-arrow-right: "\e922";
		$ic-back: "\e923";
		$ic-down: "\e924";
		$ic-first-page: "\e925";
		$ic-home: "\e926";
		$ic-last-page: "\e927";
		$ic-menu: "\e928";
		$ic-more: "\e929";
		$ic-next: "\e92a";
		$ic-up: "\e92b";
		$ic-alert: "\e92c";
		$ic-error: "\e92d";
		$ic-help: "\e92e";
		$ic-warning: "\e92f";
		$ic-youtube: "\e930";
		$ic-facebook: "\e931";
		$ic-google: "\e932";
		$ic-instagram: "\e933";
		$ic-kakao: "\e934";
		$ic-kakaostory: "\e935";
		$ic-naver: "\e936";
		$ic-pinterest: "\e937";
		$ic-share: "\e938";
		$ic-twitter: "\e939";
		$ic-yellow-id: "\e93a";
		$ic-star5: "\e945";
		$ic-checkbox-minus: "\e93b";
		$ic-checkbox-off: "\e93c";
		$ic-checkbox-on: "\e93d";
		$ic-radiobutton-off: "\e93e";
		$ic-radiobutton-on: "\e93f";
		$ic-star-border: "\e940";
		$ic-star-half: "\e941";
		$ic-star: "\e942";
		$ic-wish-off: "\e943";
		$ic-wish-on: "\e944";


		/* font family */
		$typo-basic: 'Avenir LT W01_65 Medium1475532', 'Noto Sans KR', sans-serif, Arial, Helvetica;
		$typo-ko:'Noto Sans KR', '맑은 고딕', Dotum;;
		$typo-en:'Avenir LT W01_45 Book1475508', 'Noto Sans KR', '맑은 고딕', Dotum;

		/* pre text */
		$name-sir:'님';
		$special-char-1:'#';
		$special-char-2:': ';

