/* etam header */
.header_layout_2 {
	.header-gnb {
		position: relative;
		z-index: 100;  // search fixed때문에 100으로 변0
		a {
			height: 40px;
			box-sizing: border-box;
			vertical-align: top;
		}
		.header-gnb_maxwidth {
			.header-mymenu {
				li {
					float: left;
					margin-left: 0;
					font-size: 14px;
					line-height: 26px;
					a {
						display:inline-block;
						padding: 8px 23px 0;
						i.medium {font-size: 22px;}
						&:hover {color: $lnb_color-type2-over;}
					}
				}
			}
		}
		.gnb-search {margin-top: 16px;}
		.etc-search-wrap {
			.list {
				a {
					color: $lnb_etc-menu-color;
					padding: 10px 20px;
					&:hover {
						background-color: $bg-2;
					}
				}
			}
		}
	}
	.header-lnb {

		.header-menu-wrap {
			border-bottom: 1px solid #eee;
			.header-submenu-wrap {
				&.active {
					border-top: 1px solid #eee;
					border-bottom: 1px solid #999;
				}
			}
		}
		.header-logo-conts {
			position: relative;
			.find-store {
				position: absolute;
				top: 35px;
				left: 0;
				font-size: 14px;
				color: $font-1
			}
			.header-logo {
				float: none;
				display: inline-block;
				min-height: auto;
				&.mobile-header-title {display:none}
			}
			.header-menu_etc {
				position: absolute;
				top: 20px;
				right: 0;
				min-height: auto;
				.lnb-search-menu  {
					display: inline-block;
					.input-textfield {
						> label {
							font-size: 14px;
							left: 20px;
							color: $font-1;
						}
						> input {
							border:0;
							border-bottom: 1px solid $border-5;
							padding: 9px 12px 9px 19px;
						}
					}
					.btn-wrap {
						display: none;
					}
					.btn_search {
						position: absolute;
						top: 10px;
						left: 0;
						padding: 0;
						border: 0;
						color: $font-1;
						background: none;
						> .text {display: none;}
						> i {


							font-size: 16px;
						}

					}
				}
			}
		}

		.header-menu_onedepth {
			font-size: 12px;
			> .onedepth-list{
				display: inline-block;
				padding: 0 44px;
				a {
					display: inline-block;

					&.active {
						position: relative;
						color: $lnb_color-type2-over;
						&:after {
							content:'';
							display:block;
							position: absolute;
							bottom:0;
							left:0;
							width:100%;
							border-bottom:1px solid #000;

						}
					}
				}
				> a {
					height:38px;
					font-weight: 600;
				}
			}

			li {
				.header-menu_twodepth {padding-left: 162px;}
			}
			li + li + li {
				.header-menu_twodepth {padding-left: 420px;}
			}
			li  + li + li + li {
				.header-menu_twodepth {padding-left: 542px;}
			}
			li  + li + li + li + li{
				.header-menu_twodepth {text-align: right; padding-right: 231px;}
			}
			li  + li + li + li + li + li{
				.header-menu_twodepth {padding-left: 0; padding-right: 61px; text-align: right;}
			}
			li  + li + li + li + li + li + li{
				.header-menu_twodepth {text-align: right; padding-right: 244px; padding-left: 0;}
			}
			li  + li + li + li + li + li + li + li {
				.header-menu_twodepth {    text-align: right; padding-right: 119px; padding-left: 0;}
			}

			.header-menu_twodepth {
				padding:30px 235px;
				.twodepth-list {
					min-width: 170px;
					margin-bottom:0;
					font-size: 13px;
					font-weight: 700;
					text-align: left;
				}
			}
			.header-menu_threedepth {
				a {
					font-size: 12px;
				}
			}
		}
	}
}
/* search */
.search-panel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: $width-full;
	background-color: $bg-1;
	z-index: 110;
	.width-xlarge {
		position: relative;
	}
	.search-header {
		text-align: center;
		margin-top: 40px;
	}
	.search-text-container {
		position: relative;
		padding: 32px 0 20px;
		border-bottom: 1px solid #777;
		.input-textfield {
			box-sizing: border-box;
			padding-right: 40px;
			> label {
				top: 9px;
				left: 70px;
				line-height: 52px;
				font-size: 40px;
				font-weight: 100;
			}
			> input {
				padding: 9px 0 9px 70px;
				border:0;
				height: 60px;
				line-height: 52px;
				font-size: 40px;
				font-weight: 100;
			}
			> .btn-wrap .delete {font-size: 24px;}
		}
	}
	.btn-search-close{
		position: absolute;
		top: 0;
		right: 15px;
		border:0;
		background-color: $bg-1;
		color: $font-0;
		z-index:10;

		> * {vertical-align: middle;}
		i {font-size: 28px;}
	}
	.btn-big-search {
		position: absolute;
		top: 50%;
		right: 0;
		border:0;
		background-color: $bg-1;
		color: $font-0;
		i {font-size: 28px;}
	}
	.search-field {

		.btn_search {
			position: absolute;
			top:0;
			left: 0;
			width: auto;
			height: auto;
			padding: 10px 0;
			background: none;
			.text {display: none;}
			> i {
				display: block;
				font-size: 50px;
				color: $font-1;
				font-family:'etam' !important;
				&.icon-search:before {
					content:'\e90c';
				}
			}
		}
	}
}

/* 폰트 타입 지정 */
.pt_main h1,
.category-title .tit,
.filter-tagbox .filter-tit,
.filter-category-wrap .section-filter,
.price,
.order-price,
.price-wrap,
.style-code,
footer .newsletter-conts .input-textfield > input,
footer .newsletter-conts .input-textfield > label,
footer .company-item .company-copyright,
footer .company-sns .sns-title {font-family: $typo-en; letter-spacing: 1px; }
footer .company-info .noti{font-family: $typo-ko }
footer .footer-contents .footer-nav li.title,
.info-wrap_product .price-wrap .price > strong,
.info-wrap_product .price-wrap > .price-sale {font-family: 'Avenir LT W01_95 Black1475556', 'Noto Sans KR', '맑은 고딕', Dotum;  letter-spacing: 1px; }


/* etam footer */
footer {
	padding: 0;
	background-color: none;
	.footer-contents {
		max-width: 100%;
		margin: 0 auto;
		.footer-nav{
			&:before {margin-top:0;}
			color: $font-3;
			li {
				font-size: 11px;
				line-height: 17px;
				> a {
					display: inline-block;
					padding:8px 0;
					color: $footer_menu-color-type1;
					font-weight: 300;
				}
			}
			li.title {
				font-size: 12px;
				>a {color: $footer_title-color-type1;}
			}
		}
		.footer-menu {
			max-width: $width-xlarge;
			margin: 0 auto;
			padding: 35px 0;
			background-color: $footer_bg-color-type1;
			color: $font-3;
		}
	}

	.newsletter-conts {
		.tit {
			display: block;
			font-size: 12px;
			line-height: 1.5;
			color: $font-2;
			margin-bottom: 35px;
		}
		.input-textfield {
			float: left;
			width: calc(100% - 134px);
			max-width: 364px;
			vertical-align: top;
			margin-right: 30px;

			> label {
				top: 8px;
				font-size: 14px;
			}
			> input {
				width: 100%;
				height: 32px;
				padding: 8px 12px;
				background-color: transparent;
				border:0;
				border-bottom: 1px solid $border-5;
				font-size: 14px;
			}
		}
		.btn_join {
			width: 104px;
			height: 32px;
			border-radius: 2px;
			background-color: $primary-color;
			font-size: 10px;
		}
		.input-form-group {
			clear: both;
			.input-checkbox{
				 > label {
				 	display: inline-block;
				 	vertical-align: middle;
				 	.label {font-size: 11px;}
				 }
				 > a {font-size: 11px;}
			}
		}
	}
	.company-sns {
		margin-top: 55px;
		.sns-title {
			font-size: 14px;
			color: $font-2;
			padding-bottom: 10px;
		}
		> a {
			margin-right: 15px;
			font-size: 16px;
			&:last-child {margin-right: 0}
		}
	}
	.company-item {
		padding: 30px 0;
		background: $bg-1;
		text-align: center;
		font-weight: 300;
		.company-copyright {
			font-size: 12px;
			color: $footer_menu-color-type1;
		}
		.company-menu {
			margin: 15px 0 0;
			font-size: 11px;
			color: $font-3;
			> a {
				padding: 0 10px;
				color: $font-3;
			}
		}
		.company-info{
			font-size: 11px;
			color: $font-4;
			a {color: $font-4;}
			> span {
				display: inline-block;
				&.divider {
					position: relative;
					margin-left: 5px;
					padding-left: 9px;
					&:before {
						content:'';
						display: inline-block;
						position: absolute;
						top: 2px;
						left: 0;
						width: 1px;
						height: 12px;
						background: $footer_text-color;
					}
				}
			}
		}
	}
}

/* 상세 정보 */
.info-wrap_product {
	.title-wrap {
		font-size: 20px;
	}
	.price-wrap {
		.price {
			> strong {
				font-size:22px;
				letter-spacing: normal;
				font-weight: bold;
			}
		}
	}

	.option-wrap {
		.select-box {width:235px; height:36px;}
	}


	.status-wrap {
		.addcart-btn {
			color: $button_text-color-primary;
			background-color: $button_text-bg-primary;

			&:hover, &.active, &.uk-active {background-color: $button_text-bg-primary-over;}
		}
	}
	.sns-wrap {
		i {
			font-size: 20px;
			vertical-align: -4px;
		}
	}

	.guide-wrap {
		.pop-detail-title {
		    padding:10px 0;
		    border-top:1px solid $border-2;
			font-size:12px;
			text-align:left;
			background-color:#fff;

			&:after {
				content:"+";
			    float:right;
			    display:block;
			    font-size:20px;
			    align:right;
			}
			&.uk-active:after {
				content:"-";
			}
		}
		.uk-accordion-title {
			margin-bottom:0;
		}

		.description {
			font-size:12px;
		}
	}
}

/* 상세 설명 */
.product-detail_view {
	.btn-tab {
		> a {
			font-size: 20px;
			font-weight: 500;
		}
	}
}

.all-media-display {
	text-align:center;
	img{
		padding-bottom: 30px;
	}
}
.info-wrap_product {
	.title-wrap {
		color: $default-color;
		line-height: 1.4;
	}
}
.img-detail_product {
	.masker {
		max-height: none;
	}
}


/* 고객센터 좌측 메뉴 call number */
.call-center {
	position: relative;
	padding: 25px 10px 25px 45px;;
	border: 1px solid $border-2;
	border-top: 0;
	color: $font-1;
	line-height: 1.6;

	.i-cs-center {
		position: absolute;
		top: 25px;
		left: 10px;
		font-size: 24px;
	}
	.call-title {
		font-size: 14px;
		font-weight: bold;
		&.gutter {
			margin-top: 26px;
		}
	}
	.kakao-cs {
		font-sie: 16px;
		margin-top: 5px;
	}
	.num {
		font-size: 24px;
		font-weight: bold;
	}
	.num2 {
		font-size: 18px;
		font-weight: bold;
		margin-top: 5px;
	}
	.txt {
		font-size: 12px;
		margin: 6px 0;
	}
	.txt2 {
		font-size: 11px;
		margin: 6px 0;
	}
}



[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'etam' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-add {
  &:before {
    content: $ic-add;
  }
}
.ic-cancel {
  &:before {
    content: $ic-cancel;
  }
}
.ic-check {
  &:before {
    content: $ic-check;
  }
}
.ic-close {
  &:before {
    content: $ic-close;
  }
}
.ic-confirm {
  &:before {
    content: $ic-confirm;
  }
}
.ic-drop-down {
  &:before {
    content: $ic-drop-down;
  }
}
.ic-drop-up {
  &:before {
    content: $ic-drop-up;
  }
}
.ic-filter {
  &:before {
    content: $ic-filter;
  }
}
.ic-info {
  &:before {
    content: $ic-info;
  }
}
.ic-login {
  &:before {
    content: $ic-login;
  }
}
.ic-remove {
  &:before {
    content: $ic-remove;
  }
}
.ic-reset {
  &:before {
    content: $ic-reset;
  }
}
.ic-search {
  &:before {
    content: $ic-search;
  }
}
.ic-setting {
  &:before {
    content: $ic-setting;
  }
}
.ic-write {
  &:before {
    content: $ic-write;
  }
}
.ic-zoom-in {
  &:before {
    content: $ic-zoom-in;
  }
}
.ic-zoom-out {
  &:before {
    content: $ic-zoom-out;
  }
}
.ic-save-for-later {
  &:before {
    content: $ic-save-for-later;
  }
}
.ic-shipstep1 {
  &:before {
    content: $ic-shipstep1;
  }
}
.ic-shipstep2 {
  &:before {
    content: $ic-shipstep2;
  }
}
.ic-shipstep3 {
  &:before {
    content: $ic-shipstep3;
  }
}
.ic-shipstep4 {
  &:before {
    content: $ic-shipstep4;
  }
}
.ic-shipstep5 {
  &:before {
    content: $ic-shipstep5;
  }
}
.ic-shopping-cart {
  &:before {
    content: $ic-shopping-cart;
  }
}
.ic-call {
  &:before {
    content: $ic-call;
  }
}
.ic-customer {
  &:before {
    content: $ic-customer;
  }
}
.ic-location {
  &:before {
    content: $ic-location;
  }
}
.ic-mail {
  &:before {
    content: $ic-mail;
  }
}
.ic-mypage {
  &:before {
    content: $ic-mypage;
  }
}
.ic-camera {
  &:before {
    content: $ic-camera;
  }
}
.ic-image {
  &:before {
    content: $ic-image;
  }
}
.ic-pause {
  &:before {
    content: $ic-pause;
  }
}
.ic-play {
  &:before {
    content: $ic-play;
  }
}
.ic-arrow-left {
  &:before {
    content: $ic-arrow-left;
  }
}
.ic-arrow-right {
  &:before {
    content: $ic-arrow-right;
  }
}
.ic-back {
  &:before {
    content: $ic-back;
  }
}
.ic-down {
  &:before {
    content: $ic-down;
  }
}
.ic-first-page {
  &:before {
    content: $ic-first-page;
  }
}
.ic-home {
  &:before {
    content: $ic-home;
  }
}
.ic-last-page {
  &:before {
    content: $ic-last-page;
  }
}
.ic-menu {
  &:before {
    content: $ic-menu;
  }
}
.ic-more {
  &:before {
    content: $ic-more;
  }
}
.ic-next {
  &:before {
    content: $ic-next;
  }
}
.ic-up {
  &:before {
    content: $ic-up;
  }
}
.ic-alert {
  &:before {
    content: $ic-alert;
  }
}
.ic-error {
  &:before {
    content: $ic-error;
  }
}
.ic-help {
  &:before {
    content: $ic-help;
  }
}
.ic-warning {
  &:before {
    content: $ic-warning;
  }
}
.ic-youtube {
  &:before {
    content: $ic-youtube;
  }
}
.ic-facebook {
  &:before {
    content: $ic-facebook;
  }
}
.ic-google {
  &:before {
    content: $ic-google;
  }
}
.ic-instagram {
  &:before {
    content: $ic-instagram;
  }
}
.ic-kakao {
  &:before {
    content: $ic-kakao;
  }
}
.ic-kakaostory {
  &:before {
    content: $ic-kakaostory;
  }
}
.ic-naver {
  &:before {
    content: $ic-naver;
  }
}
.ic-pinterest {
  &:before {
    content: $ic-pinterest;
  }
}
.ic-share {
  &:before {
    content: $ic-share;
  }
}
.ic-twitter {
  &:before {
    content: $ic-twitter;
  }
}
.ic-yellow-id {
  &:before {
    content: $ic-yellow-id;
  }
}
.ic-star5 {
  &:before {
    content: $ic-star5;
  }
}
.ic-checkbox-minus {
  &:before {
    content: $ic-checkbox-minus;
  }
}
.ic-checkbox-off {
  &:before {
    content: $ic-checkbox-off;
  }
}
.ic-checkbox-on {
  &:before {
    content: $ic-checkbox-on;
  }
}
.ic-radiobutton-off {
  &:before {
    content: $ic-radiobutton-off;
  }
}
.ic-radiobutton-on {
  &:before {
    content: $ic-radiobutton-on;
  }
}
.ic-star-border {
  &:before {
    content: $ic-star-border;
  }
}
.ic-star-half {
  &:before {
    content: $ic-star-half;
  }
}
.ic-star {
  &:before {
    content: $ic-star;
  }
}
.ic-wish-off {
  &:before {
    content: $ic-wish-off;
  }
}
.ic-wish-on {
  &:before {
    content: $ic-wish-on;
  }
}

.item-container{
	.item-list-wrap{
		max-width:100%;
	}
}

.header-event{
	width:50%;
	.text-banner-container{
		background: none;
		text-align: left;
		.text-wrap {
			.text-content{
				>*{
					color:#ff6e7b;
					margin-top:5px;
				}
			}
		}
	}
}


/* filter square -> round  type override */
.section-filter {padding-right: 29px;}
.f-style-square {
	&.f-color-type {
		margin-left: 0;

		.f-item {

			float:left;
			margin: 0 9px 9px 0;
			min-width: 40px;
			height: 40px;
			padding:6px;
			box-sizing: border-box;

			a, label {
				display: inline-block;
				width: 30px;
				min-width: 30px;
				height: 30px;
				padding: 4px 1px 0;
				border-radius: 50%;
				border:1px solid $border-3;
				box-sizing:border-box;
				text-align:center;
				color: $font-1;
				vertical-align:middle;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				background-size:28px;

				&:hover {
					border-color: $primary-color;
					color: $primary-color;
				}
			}

			.no-view {display:none;}
		}
		.active, .checked {
			a, label {
				position: relative;
				border-width:0;
				&:before {
					content:'';
					display: block;
					position: absolute;
					top: -6px;
					left: -6px;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border:1px solid #000;
				}
			}
		}
	}
}

/* 2018.01.26 반품신청페이지 전용 */
.accent-direction {
	display:inline-block;
	padding:10px 0;
	> strong {
		display:inline-block;
    margin-top:5px;
	}
}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	.search-panel {
		/*top: 57px;*/
		.search-text-container {
			padding: 15px 0 5px 0;
			.input-textfield {
				padding-left:28px;
				> label {
					top:11px;
					left:28px;
					line-height: 24px;
					font-size: 18px;
				}
				> input {
					padding: 9px 0;
					border:0;
					height: 36px;
					line-height: 24px;
					font-size: 18px;
				}

				.icon-search {font-size:28px;}
			}
		}
		.btn-search-close{
			.closeLabel {display: none;}
			i {font-size: 20px;}
		}
		.btn-big-search {
			top: 50%;
			right: 0;
			margin-top: -12px;
			padding:5px 0;
			i {font-size: 22px;}

		}

		.search-field {
			.btn_search {
				padding:5px 0;
				i {font-size:28px;}
			}
		}
	}

	/* 2018.01.26 반품신청페이지 전용 */
	.accent-direction {padding:10px;}

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.header_layout_2{
		.header-gnb {
			.header-infomenu {display: none;}
			.gnb-search {
				margin-top: 0;
			}
		}
		.header-lnb {
			.header-logo-conts {
				.find-store{
					display: none;
				}
				.header-logo {
					margin-top: 12px;
				}
				.header-menu_etc {
					display: block;
					top: 14px;
					right: 20px;
					a{
						&.gnb-search-btn {margin-right: 5px;}
					}
					.lnb-search-menu {
						.input-textfield {
							display: none;
						}
						 .btn_search {
						 	position: static;
						 	> i {font-size: 26px;}
						 }
					}
					.etc-menu-mobile {
						position: relative;
						z-index:10;
					}
				}
			}
			.header-logo {
				float:none;
				display: table;
				height:18px;  // 모바일 로고 세로값  사이즈
				min-height: 56px;
				padding: 0;
				box-sizing:border-box;
				.header-item {
					img {
						height: 30px;
					}
				}
			}

		}
	}

	footer {
		.footer-contents {
			padding: 0;
			.footer-nav{
				padding: 0 16px;
				li {
					> a {
						width: 100%;
						padding: 15px 0;
					}
				}
			}
			.footer-menu {
				padding: 30px 0 15px;
			}
		}

		.newsletter-conts {
			.tit {
				text-align: center;
				margin-bottom: 15px;
			}
			.input-textfield {
				width: calc(100% - 95px);
				margin-right: 8px;
			}
			.btn_join {
				width:87px;
				padding: 12px 0;
			}
			 .input-form-group {
			 	.input-checkbox {
			 		> label {
			 			display: inline;
			 			.label {
							display: inline;
			 			}
			 			// &:after {display:inline;}
			 		}
			 	}
			 }
		}
		.company-sns {
			margin-top: 25px;
			padding-bottom: 10px;
			.sns-title {
				padding-bottom: 15px;
				font-size: 12px;
				font-family: 'Avenir LT W01_95 Black1475556', 'Noto Sans KR', '맑은 고딕', Dotum;
				text-transform: uppercase;
				color: $footer_title-color-type1;
			}
			> a {
				font-size: 24px;
			}
		}
		.company-item {
			padding: 25px 16px;
			.company-copyright {font-size: 11px;}
			.company-menu {
				margin-top: 10px;
			}
			.company-info {
				margin-top: 10px;
				span{
					&.divider {
						&.mobile-nodivider {
							&:before {width:0}
						}
					}
				}
			}

		}
	}


	.info-wrap_product {
		.option-wrap {
			.select-box {width:100%;}
		}
	}
	.call-center {
		padding: 25px 20px;
		text-align: center;
		.i-cs-center {
			display: block;
			position: static;
			margin-bottom: 20px;
			font-size: 40px;
		}
	}

	.header-event{
		display: none;
	}
}
