.order-checkout {
	background-color: $bg-1;
	padding-bottom:65px;
	.contents-title {padding:40px 0 20px; font-size:24px;}
}


.order-wrap {
	position:relative;
	&:after {content:''; display:block; clear:both;}
	.product-checkout {
		float:right;
		padding:0;

		&.checkout {
			// width:350px; 
			width: 32%;
			min-width: 320px;
			// border:1px solid $border-3;
			margin-top:0; 
			background-color:$bg-1;
			border: 0;
		}

		.body {
			padding: 0;
			.view {
				padding: 0 24px 20px;
			}
		}

		.order-list {
			margin: 15px 0 0 0;
			padding: 0;
			border-bottom:0;
			&:first-child {margin-top: 0;}
			.image-wrap {top: 0;}
		}

		.info-price {
			padding: 0 24px;
			// .item-price, .delivery-price, .sale-price, .total-price {
			// 	display:inline-block;
			// 	margin-top:20px;
			// 	&:first-child {margin-top:0;}

			// 	> .label {
			// 		display:inline-block;
			// 		float:left;
			// 	}

			// 	> .price {
			// 		display:inline-block;
			// 		float:right;
			// 	}
			// }
		}

		// .price {display:inline-block;}
	}

	.order-tab-wrap {
		&.collapse{
			.order-tab{
				margin-top:0px;
				border-top:none;
				// &:first-child{border:1px solid $border-3;}
			}
			.header{
				border:none;
			}
		}
	}
	&.order-complete-wrap {
		.product-checkout {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.order-tab {
	// 반응형 사이즈 처리 해야함
	width: 63%;
	border:1px solid $border-2;
	border-width: 1px 0;
	margin-top: -1px;
	background-color: $bg-1;
	&:first-child {margin-top:0;}

	.header {
		position:relative;
		padding:32px 24px;
		
		.tit {
			color: $title_checkout-color; 
			display: inline; 
			font-weight: bold; 
			vertical-align: middle;
			font-size: $font-size-l;
			.len{
				color: $primary-color;
			}
		}
		.login { 
			font-size: $font-size-s; 
			margin:0px 0px 0px 16px;
			vertical-align: middle;
		}
		.preview {
			font-size: $font-size-s; 
			color:$font-1; 
			position: absolute; 
			right:50px; 
			top:35px;
			width: 38%;
			text-align: right;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
		}
		&.inactive{
			.tit{
				font-weight: normal;
				color:$font-4;
			}
		}
		&.anonymous{
			padding: 24px 25px;
		}
		> i {position:absolute; top:50%; right:25px; margin-top:-7px; font-size: $font-size-l;}
	}

	.body {
		padding: 0 24px 28px;
		// border-top:1px solid $border-3;
		&.nopadding {padding:20px 0;}

		.order-field-container {
			padding:10px 16px 0px;
			&.agree-field {
				margin-top: 0;
				padding-top: 0;
			}
		} 
		.order-field-list{
			margin-bottom:25px;
			.tit {margin-bottom:7px; /*font-size:$font-size-mini*/}
			.agree{
				padding: 17px 0;
				border-bottom: 1px solid $border-2;
				.tit {
					margin-bottom: 0;
				}
				.view-btn {
					font-size: $font-size-s;
					color: $font-2;
				}
				.agree-content{	
					font-size:12px;	line-height:20px; margin-bottom: 5px;
					> * {font-size: 12px; margin-bottom: 8px;}
				}
			}
			.info{
				color: #808080;
				font-size: $font-size-sm;
				font-weight: 300;
				line-height: 18px;
			}
			
			.payment-method-list{
				.payment-method-item{
					width: 460px;
					&:first-child .payment-method-item-title {border-radius: 4px 4px 0 0;}
					&:last-child .payment-method-item-title {border-radius: 0 0 4px 4px;}
					.payment-method-item-title{
						box-sizing: border-box;
						padding:17px 25px 16px;
						border:1px solid $form_border;
						font-size:$font-size-l;
						text-align: center;
						cursor:pointer;
					}
					.payment-method-item-content{
						box-sizing: border-box;
						display:none;
						padding:13px 25px 12px;
						background-color: $bg-2;
						p{
							font-size:$font-size-s;
							line-height: 1.6;
						}
					}

					&.active{
						.payment-method-item-title{
							color: $primary-color;
							// background-color: $primary-color;
							border:1px solid $primary-color;
						}
						.payment-method-item-content{
							display:block;
							border:1px solid $border-3;
							margin-bottom: -1px;
						}						
					}
				}
			}
		}

		.txt-cmt {
			margin-top: 15px;
			padding-left: 16px;
			font-size: $font-size-s;
		}

		.pickup-address {
			padding: 0 35px;
			.store-name {
				strong {
					font-size: $font-size-l;
					text-decoration: underline;
				}
			}
			.address, .phonenum {
				display: block;
				margin-top: 10px;
				font-size: $font-size-m;
				color: $font-2;
			}
			dl {
				margin-top: 15px;
				font-size: $font-size-sm;
				dt {
					display: inline-block;
					font-weight: bold;
					margin-right: 10px;
				}
				dd {
					display: inline-block;
				}
			}

		}

		/*dl {
			display:table;
			width:100%;
			font-size: 13px;
			&:last-child{
				margin-bottom: 0px;
			}
			> dt {display:table-cell; width:20%; color:#ababab; font-weight: normal;}
			> dd {display:table-cell; width:80%;}
		}*/

		&.gift-promoform {
			.input-btn-group {
				.input-textfield > input {
					border-radius: 4px 0 0 4px !important;
				}
				.button {
					position: relative;
					width: 100px !important;
					height: 48px;
					font-size: $font-size-l;
					color: $button_line-color; 
					background-color: $button_line-bg; 
					border-radius: 0 4px 4px 0 !important;
					&:before {
						content:'';
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						border:1px solid $button_line-border-color !important;
						border-left: 0 !important;
						border-radius: 4px;
						margin-left:-1px;
					}
					// &:hover, &.active, &.uk-active {
					// 	&:before {
					// 		border-color: $button_line-border-color;
					// 	}
					// }
				}
			}
		}
	}

	.footer {
		padding:0px 40px 30px;
		.info {/*float:left; width:40%;*/ font-size:12px;}
	}

	&.side {width:350px; border:1px solid $border-3; margin-top:0; background-color:$bg-1;}
	
	.order-complete-msg {
		padding: 30px 60px 20px;
		.ico-complete {
			font-size: 40px;
			color: $apply-color;
		}
		h4 {
			margin-top: 20px;
			font-weight: bold;
		}
		.txt {
			font-size: $font-size-s;
			color: $font-3;
		}
	}
	.order-complete{
		// .header{
		// 	padding:25px 40px 20px;
		// }
		.body{
			// padding:0px 40px 15px 40px;
			>* {padding: 0 16px;}
			border-top:none;
			dd{
				margin-bottom:10px;
				font-size: $font-size-m;
				letter-spacing: -0.3px;
			}

			.shipping{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0px;
				}
			}
			.payment_method{
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ddd;
				&:last-child{
					padding-bottom: 0px;
					margin-bottom: 0px;
					border-bottom:none;
				}
				dt{
					// font-weight: normal;
					// color: $font-3;
					// min-width: 120px;
					// float:left;
					display: none;
				}
			}
			.memo {
				margin-top: 25px;
				font-size: $font-size-s;
				color: $font-4;
			}
		}

	}
}


.order-card {
	padding:0 29px;
	margin-top:40px;
	&:first-child {margin-top:0;}
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-checkout-selected {
	padding:0 29px;
	margin-top:40px;
	.tit {color: $primary-color; margin-bottom:10px;}
}

.order-total-price {
	padding:0 29px;
	margin-top:40px;
	border-top:1px;
	border-bottom:1px;
	border-style:solid;
	border-color: $border-3;
	background-color:$bg-4;

	strong {font-size:20px; color: $prd_sale-price; font-weight: normal;}
	.sale {color: $prd_total-price;}
}

.product-payment_radio {
	margin-left:0px;
	//&:after {content:''; display:block; clear:both;}
}


.checkout-status-wrap {
	float:right;
	margin-right: 70px;
	font-size:$font-size-s;
	color:$font-5;

	> .status {
		position:relative;
		display:inline-block;
		padding-left:20px;
		width:57px;
		text-align:center;

		&.current { 
			> .brz-icon-circle {border-color: $primary-color; color: $font-6; background-color: $primary-color; 
				// font-weight:bold;
			}
			> .label {color: $primary-color;}
		}
		&:first-child {
			padding-left:0;
			> .icon {display:none;}
		}

		> .label {display:block; margin-top:10px;}
		> .icon {position:absolute;top:50%;left:5px;margin-top:-6px;}
	}
}

.gift-promoform{
	.label{
		font-size:$font-size-s;
		line-height: 36px;
	}
}

.giftCard-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}

.customerCredit-list {
	.applied {
		position:relative;
		border:1px solid $border-3;
		padding:9px 10px 8px 10px;
		background-color: $bg-1;
		margin-top:2px;
	}
	.code {font-size:13px;}
	.price{font-size: 12px; color: $caution-color; float:right; position:relative; right: 15px; line-height:17px;}
	.btn-delete {position:absolute; right:10px; top:10px;}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.order-wrap {
		.product-checkout {
			.body {
				.view {
					border-bottom: 1px solid $border-2;
				}
				.summary-price {
					border-top: 4px solid $bg-2;
				}
			}
		}
	}
	.order-tab {
		.header{
			&.anonymous {padding: 8px 24px;}
		}
		.body {
		 	.order-field-list {
		 		.payment-method-list {
		 			.payment-method-item {
		 				width: 100%;
		 				margin-top: 4px;
		 				&:first-child {
	 						margin-top: 0;
	 					}
		 				.payment-method-item-title {
		 					border-radius: 4px !important;
		 				}
		 			}
		 		}
		 	}
			&.anonymous{
				padding: 0 0 20px;
				.order-field-container {
					.order-field-list {
						padding:0 24px;
					}
					&.agree-field {
						border-top: 1px solid $border-2;
						.order-field-list {
							&:first-child {
								border-top: 11px solid $bg-2;
							}
						}
					}
				}
			}
			.txt-cmt {padding-left: 24px;}
		}
		.order-complete-msg {
			padding: 30px 15px 20px;
		}
	}
	.order-checkout {
		.contents-title {padding: 20px 0 10px !important;}
	}
}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.order-wrap {
		&.order-complete-wrap {
			.product-checkout {
				position: static;
				width: 100%;
				margin-top: 8px;
			}
		}
	}
	.order-checkout {
		background-color: #f5f5f5;
	}
}
