/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

/*  필터 신규 디자인 작업
/************************************************************************************************/

.filter-container {

}

/*  필터 1depth title */
.f-title-box {
	position:relative;
	font-size:18px;
	font-weight: 500;
	color:$font-1;
	padding-top:5px;
	padding-bottom:15px;
	.f-btn-reset {
		position:absolute;
		top:9px;
		right:0;
		font-size:12px;
	}
}

/*  필터 2depth title */
.f-subtitle-box {
	position:relative;
	font-size:12px;
	font-weight: bold;
	/* uikit .uk-accordion-title override*/
	margin-top:0;
	margin-bottom:0;
	padding:0 0 15px 0;
	background:none;
	line-height:1em;
	
	.ic-plus,
	.ic-minus {
		font-size: 20px;
		color: $font-3;
	}

	.ic-minus {
		display: none;
	}

	&.uk-active {
		.icon-minus,
		.ic-minus {display:block;}
		.icon-plus,
		.ic-plus {display:none;}
	}
}

.f-btn-toggle {
	position:absolute;
	top:-4px;
	right: 10px;
}

/* 필터 category list */
.f-cagetory-sect {
	margin-bottom: 45px;
	padding-bottom: 20px;
	border-bottom:1px solid $border-2;
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-2;
	}
	.f-item {
		> a {
			display:inline-block;
			font-size:12px;
			font-weight: bold;
			color:$font-1;
			padding:7px 0;
		}
		&.active, &:hover {
			> a {color: $primary-color;}
		}
		&:last-child {margin-bottom:7px;}
		> a.f-btn-more {
			margin-left: 15px;
			color: $button_text-color-type2;
			font-weight: normal;
		}
	}
	.f-subitem {
		padding-left:15px;
		> a {
			display:inline-block;
			font-size:12px;
			color: $font-2;
			padding:5px 0;
		}
	}
	.f-btn-more {
		font-size:12px;
	}
}

/* 필터 옵션 (color, size, price) */
.f-refine-sect {
	&.borderline-top {
		padding-top: 15px;
		border-top:1px solid $border-3;
	}

	/* uikit .uk-accordion-content override */
	.uk-accordion-content {
		padding: 0 0 30px 0;
		overflow:hidden;
		&.f-style-check {
			padding-right: 10px;
		}
	}


	// .more-container {
	// 	overflow:hidden;
	// 	height:196px;
	// }

	.more-btn {
		margin:0;
		padding:0;
		border:0;

		display:block;
		width:100%;
		padding-top:10px;
		//border-top:1px solid $border-2;
		text-align:center;
		font-size:10px;
		background-color:$bg-1;

		&.active {
			.plus {display:none;}
			.minus {display:inline;}
		}

		.minus {display:none;}
	}
}

/* 필터 타입 체크박스 & 라디오 */
.f-style-check, .f-style-radio {
	/* uikit .uk-accordion-content override */
	padding: 0 0 30px 0;

	.f-item {
		padding:3px 0;
		label {
			position: relative;
			width: 100%;
			padding-right: 25px;
			box-sizing: border-box;
			>i {
				position: absolute;
				right: 0;
				top: 2px;
				margin: 0 0 0 5px;
			}
		}
	}

	.input-radio { display:block; }
}

/* 필터 타입 정사각형 모양 */
.f-style-square {
	//overflow:hidden;
	// margin-left:-8px;
	padding: 0 0 30px 0;

	.f-item {
		float:left;
		// margin-left:8px;
		// padding:4px 0;

		a, label {
			position: relative;
			display:table-cell;
			min-width:70px;
			height:48px;
			// padding:0 5px;
			// border:1px solid $border-3;
			box-sizing:border-box;
			text-align:center;
			color: $font-1;
			vertical-align:middle;
			&:hover {
				border-color: $primary-color;
				color: $primary-color;
				&:after {
					border-color: $primary-color;
					z-index: 100;
				}
			}
			&:after {
				border: 1px solid #e3e3e3;
			    	position: absolute;
			    	top: 0;
			    	right: -1px;
			    	left: 0;
			    	bottom: -1px;
			}
		}

		.no-view {display:none;}
	}

	.active, .checked {
		a, label {
			border-width:2px;
			color: $primary-color;
			&:after {
				border: 2px solid $primary-color;
				z-index: 100;
			}
		}
	}

	&.f-color-type {
		.f-item {
			margin: 0 12px 24px 0;
			a, label {
				min-width:24px;
				height:24px;
			}
		}
	}
}

/* 필터 타입 라운드 모양 */
.f-style-round {
	padding-bottom:30px;
	.f-item {padding:3px 0;}
}

.filter-wrap_category {
	position:relative;
	// height:48px;  높이값 지정 필요?
	// margin-bottom:10px;
	.btn-link, .select-box {font-weight:500;}

	.btn-filter-open {float:left;}
	.filter-tagbox {float:left;}

	&:after {content:''; clear:both; display:block;}
	.select-box{
		&.sort{
			.select-head {padding:0 11px;}
		}
	}
	&.srch-type {
		padding-bottom: 20px;
		border-bottom: 1px solid $border-3;
		.filter-tit {
			float: none;
			font-size: 24px;
			font-weight: bold;
			color: $title_filter-color;
		}
		.favorite-search-wrap {
			text-align: left;
		}
		.select-box {
			display: inline-block !important;
			top: initial;
   			bottom: 20px;
		}
	}
}

/* filter tag */
.filter-tagbox {
	.filter-tit {
		font-size: 24px;
		font-weight: bold;
		color: $title_filter-color;

		.num {
			font-size: 14px;
			font-weight: 500;
			// color: $font-3;
		}
	}
	ul {
		display: inline-block;
		padding:15px 0 10px;
	}
	.tag-item {
		display:inline-block;
		color: $font-1;
		font-size: 13px;
		margin-right: 10px;
		a {
			display: inline-block;
			padding: 8px 8px 6px;
			color: $font-2;
			background-color: $bg-2;
		}
		i {
			padding-right: 4px;
			font-size: 9px;
			color: $font-3;
		}
	}
	.f-btn-reset {
		font-size:12px;
		font-weight: 500;
		color: $primary-color;
		i {
			font-size: 15px;
			vertical-align: -2px;
		}
	}
}

.section-filter {
	/*overflow:auto;*/
	position:fixed;
	top:0;
	left:-$filter-width;
	bottom:0;
	width:$filter-width;
	padding-right: 38px;
	box-sizing:border-box;
	background: $bg-1;
	z-index:100;
	opacity:0;
	filter:alpha(opacity=0);


	.filter{
		@include filter-field;

		.item{
			> a {
				color: $font-3;
				width:100%;
				text-align:left;
				padding:10px 20px;
				display:inline-block;
				box-sizing: border-box;
			}
			&:hover {background-color: $bg-4}
			&.active {
				color: $font-6;
				background-color: $primary-color;
				> a {color: $font-6;}
			}

			&.btn-type {
				width:45px;
				text-align:center;
				border:1px solid $border-5;
				padding:10px 0;

				> label {text-align:center;}
			}
		}
	}

	.btn-sect {margin-top:20px; text-align:center;}
}


.filter-category-modal-wrap {
	.section-filter {
		overflow-y:scroll;
		width:$filter-width;
		height:auto;
		padding:18px;
		z-index:999;
	}

	.section-category {
		.filter-wrap_category {
			height:64px;
			.filter-tagbox {padding:10px 0 0 40px;}
		}
	}
}


.filter-category-wrap{
	overflow: hidden;
	.section-filter {
		opacity:1;
		filter:alpha(opacity=1);
		position: relative;
		left:0;
		float:left;
	}
	.section-category {
		float:left;
		width:calc(100% - 258px);

		&.item-list-less {
			// width:100%;
			padding:20px 0 80px;
		}
	}
	.btn-filter-open{
		display: none;
	}
	/* 검색결과 */
	&.search-conts {
		.section-filter {
			padding-top: 30px;
		}
		.filter-wrap_category {
			.filter-tit, .select-box {display: none;}
		}
	}
	form {
		.section-category {
			&.item-list-less {
				width:100%;
			}
		}
	}
}


.filter-field_price {
	@include filter-field;

	text-align:center;
	padding-left:30px;
	padding-right:30px;

	> .filter-tit {text-align:left;}
	> .btn-link {margin-top:20px;}
	> .slider-range {
		height:10px;
		margin-bottom:20px;
	}
	> .filter-tit {
		margin-left:-10px;
		display:block;
	}
}

.filter-field_categories {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_color {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}
}

.filter-field_size {
	@include filter-field;

	> .input-radio.filter > .label{
		padding:10px 20px;
	}

	&.style-btn {
		padding-left:20px;
		padding-right:20px;
		> .input-checkbox {
			float:left;
			margin-top:-1px;
			margin-left:-1px;
		}

		.filter-tit {margin-left:0;}
	}
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

	//filter category
	.filter-wrap_category {
		width:100%;
		margin-bottom: 0;
		.btn-link {
			display:inline-block;
			// width:50%;
			height:48px;
			// border-width:0 0 1px 0;
			border-style:solid;
			border-color:$border-2;
			padding-left:10px;
			text-align:left;
			box-sizing:border-box;
			font-weight:bold;
			i {
				margin-left:10px;
			}
			span {color: $font-4}
		}

		// .select-box {
		// 	width:50%;
		// 	border-width:0 0 1px 1px;
		// 	height:48px;
		// 	border-style:solid;
		// 	border-color:$border-2;
		// 	box-sizing:border-box;
		// 	> select {height: 47px; border:0; font-weight:bold;}
		// }

		// .filter-tagbox {
		// 	display:none;
		// }

		.btn-filter-open{
			float: right;
			position: relative;
			width: 100px;
			font-weight: normal;
			color: $font-1;
			background-color: #fff;
			border: 0;
			&:before {
				position:absolute;
				top: 50%;   // 화살표 위치값 때문에 지정함.
				right:15px;
				content: "";
				display: inline-block;
				width: 6px;
				height: 6px;
				margin-top: -6px;
				// margin-top:12px;
				border-right: 2px solid  $border-4;
				border-top: 2px solid  $border-4;
				transform: rotate(135deg);
			}
		}

		.select-box {
			float: right;
			position: relative;
			top: 0;
			// width:50%;
			// border-width:0 0 1px 1px;
			height:48px;
			border-style:solid;
			border-color:$border-2;
			box-sizing:border-box;
			> select {height: 47px; border:0; font-weight:bold;}
			&.sort{
				.select-head {
					height: 48px;
					padding: 17px 11px;
				}
			}
		}
		&.srch-type {
			padding-bottom: 0;
			border-bottom: 0;
			.filter-tit {
				float: left;
				margin-top: 10px;
				padding-left: 15px;
				.srch-num {
					font-size: 12px;
				}
			}
			.filter-etc {
				float: right;
				.select-box {
					float: none;
					bottom: initial;
				}
			}
		}
	}

	.filter-category-wrap{
		.section-filter {
			// overflow-y:scroll;
			opacity:1;
			filter:alpha(opacity=1);
			position:fixed;
			left:-100%;
			width: 100%;
			padding:0 !important;
			z-index:999;

			.filter-header {
				position: relative;
				height: 48px;
				background-color: #fff;
				border-bottom: 1px solid $border-2;
				z-index: 110;
				.title {
					font-size: 18px;
					line-height: 48px;
					text-align: center;
				}
				.close-btn {
					position: absolute;
					left: 16px;
					top: 50%;
					margin-top: -10px;
				}
				.reset-btn {
					position: absolute;
					right: 16px;
					top: 18px;
					font-size: 12px;
					border: 0;
					background-color: transparent;
				}
			}
			.filter-content {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				padding: 48px 0 70px;
				box-sizing: border-box;
				overflow-y: auto;
				.f-title-box {
					height: 56px;
					padding: 20px 24px 0 24px;
					box-sizing: border-box;
					.f-btn-reset {
						top: 27px;
						right: 24px;
					}
					.tit-text {
						font-size: 17px;
						font-weight: bold;
					}
				}
				/* 필터 category list */
				.f-cagetory-sect {
					padding: 22px 24px 30px;
					border-top: 0;
					.f-item {
						> a {
							font-size: 15px;
							font-weight: normal;
						}
					}
				}
				.f-refine-sect {
					padding-top: 0;
				}
				.f-subtitle-box {
					height: 56px;
					padding: 20px 24px 0 24px;
					box-sizing: border-box;
					.tit-text {
						font-size: 17px;
						font-weight: bold;
					}
				}
				.checked-txt {
					position: absolute;
					right: 60px;
					top: 22px;
					max-width: 30%;
					font-size: 12px;
					font-weight: normal;
					text-align: right;
					text-overflow:ellipsis;
					overflow:hidden;
					white-space:nowrap;
				}
				.f-btn-toggle {
					top: 50%;
					right: 24px;
					margin-top: -10px;
				}
				.uk-accordion-content {
					padding: 22px 24px 30px;
				}

				/* 필터 타입 정사각형 모양 */
				.f-style-square {
					.f-item {
						width: 25%;
						>span {
							display: block;
							width: 100%;
						}
						a, label {
							display: block;
							width: 100%;
							padding-top: 13px;
							font-size: 13px;
							box-sizing: border-box;
						}
					}

					&.f-color-type {
						margin-left: -24px;
						.f-item {
							width: auto;
							margin: 0 0 24px 24px;
							a, label {
								width:32px;
								height:32px;
							}
						}
					}
				}
			}
			.result-btn {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				// width: $filter-width;
				width: 100%;
				z-index: 100;
			}
		}

		.section-category {
			width:100%;
			.btn-filter-open{
				display: block;
			}
		}
		&.search-conts {
			.section-category .filter-wrap_category {display: none;}
			.filter-wrap_category {
				&.srch-type {
					.filter-tit {display: block;}
					.select-box {display: inline-block;}
				}
			}
		}
	}
}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

}
