
/*********************************************************************/
/* footer
/*********************************************************************/	
	footer {
		position:relative;
		clear: both;
		min-height:150px;
		margin:0 auto;
		padding:30px 0 50px;
		font-size:12px;
		color: $footer_text-color;
		background: $footer_bg-color-type1;
		border-top: 2px solid #333;
	}


	.footer-contents {
		// max-width:$max-width;
		// margin:0 auto 0 auto;
		line-height:18px;

		&:after {content:''; display:block; clear:both;}

		.footer-top {
			max-width: 1440px;
			margin: 0 auto;
			padding: 0 48px 45px;
			box-sizing: border-box;
			>dl {
				padding-left: 20px;
				dt {
					margin-bottom: 15px;
					font-size: $font-size-m;
				}
				dd {
					margin-top: 10px;
					font-size: $font-size-sm;
				}
			}
			.footer-brand {
				dd {
					ul {
						max-width: 200px;
						margin: 0;
						li {
							float: left;
							margin-bottom: 15px;
							padding: 0;
							font-size: $font-size-mini;
							text-align: center;
							a {
								display: block;
								width: 48px;
							}
							img {
								width: 100%;
							}
							span {
								display: block;
								margin-top: 5px;
								color: $font-2;
								letter-spacing: -0.05em;
							}
						}
					}
				}
			}

			.footer-cs {
				padding-left: 20px;
				dl {
					margin-top: 20px;
					&:first-child {
						margin-top: 0;
					}
				}
				dt {
					margin-bottom: 10px;
					font-size: $font-size-m;
					font-weight: bold;
				}
				dd {
					font-size: $font-size-l;
					font-weight: bold;
					p {
						margin-top: 5px;
						font-size: $font-size-s;
						font-weight: normal;
						strong {
							font-size: $font-size-mini;
						}
					}
					i {
						margin-right: 5px;
					}
				}
			}
		}

		.mobile-footer-top {
			display: none;
		}

		// .footer-middle {
		// 	.copyright-txt {display:none;}
		// 	.tit {
		// 		margin-bottom: 25px;
		// 		font-size: $font-size-sxl;
		// 		font-weight: bold;
		// 		text-align: center;
		// 	}
		// 	.nf-store {
		// 		.tit {
		// 			max-width: 401px;
		// 		}
		// 		.findstore-btn {
		// 			width: $width-full;
		// 			max-width: 401px;
		// 			text-align: center;
		// 		}
		// 	}
		// 	.nf-sns {
		// 		text-align: center;
		// 		>a {
		// 			display: inline-block;
		// 			margin-right: 25px;
		// 			vertical-align: middle;
		// 			&:last-child {
		// 				margin-right: 0;
		// 			}
		// 		}
		// 		i {
		// 			font-size: 36px;
		// 			color: $font-3;
		// 		}
		// 	}
		// }
		.footer-bottom {
			padding-top: 35px;
			font-size: $font-size-mini;
			color: $font-4;
			border-top: 1px solid #e8e8e8;
			>div {
				max-width: 1440px;
				padding: 0 48px;
				box-sizing: border-box;
				margin: 0 auto;
			}
			.footer-menu {display: none;}
			.copyright-area {
				position: relative;
				padding-left: 195px;
				.logo {
					position: absolute;
					left: 0;
					top: 4px;
					i {
						font-size: 40px;
						&:before {color: #bdbdbd;}
					}
				}
			}
			
			// .nf-copyright {
			// 	position: relative;
			// 	margin-top: 35px;
			// 	padding-left: 50px;
			// 	.logo {
			// 		position: absolute;
			// 		left: 0; 
			// 		top: 3px;
			// 	}
			// 	>p {font-family: $typo-en;}
			// 	.copyright-txt {	
			// 		margin-top: 10px;
			// 		li {	
			// 			display: inline-block;
			// 			margin-right: 5px;
			// 			&:before {
			// 				content: "|";
			// 				display: inline-block;
			// 				padding-right: 10px;
			// 			}
			// 			&:first-child:before {
			// 				display: none;
			// 			}
			// 			.policy {color: #666;}
			// 		}
			// 	}
			// }
		}

		// .company {
		// 	&:before {content:''; display:block; margin-top:20px;}

		// 	.footer-sns{
		// 		margin-top:20px;
		// 		> a {
		// 			&:first-child {margin-left:0;}
		// 			margin-left:13px;
		// 		}
		// 	}

		// 	a{color: $footer_text-color}
		// }

		// .footer-nav {
		// 	color: $footer_text-color;
		// 	&:before {content:''; display:block; margin-top:20px;}
		// 	&:after {content:''; display:block; clear:both;}

		// 	dt {
		// 		padding-bottom: 5px;
		// 		font-weight: bold;
		// 		color: $footer_title-color-type1;
		// 	}
		// 	dd {
		// 		margin-top:8px;
		// 	}
		// 	a {
		// 		color: $footer_menu-color-type1;
		// 		&:hover {color: $footer_menu-color-type1-over;}
		// 	}
		// }
		.com-divider {padding-left:4px;}
		.business-info {
			margin-left: 5px;
			font-weight: bold;
		}
		.mailto {color: $font-4;}
		.copyright {
			display: inline-block;
			margin-top: 5px;
			font-size: 9px;
			color: $font-2;
		}
		// .copyright {
		// 	color: $footer_copyright-color;
		// 	.copy {display:inline-block; margin-top:20px;}
		// 	&:before {content:''; display:block; margin-top:20px;}
		// 	a {color: $footer_copyright-color;}
		// }
	}

	.scrollup {
		display:none;
		position:fixed;
		width:40px;
		height:40px;
		bottom: 72px;
		right: 10px;
		padding-top:10px;
		cursor: pointer;
		background: $bg-4;
		color:$font-3;
		text-align:center;
		font-size:18px;
		box-sizing:border-box;
		&:hover {
			background:$primary-color;
			color: $font-6;
		}
	}


	/* 서비스가입사실확인 팝업 */
	.safeinfo-cont {
		font-size: $font-size-s;
		line-height: 1.7em;
		.pcolor {color: $primary-color;}
		table {
			width: 100%;
			border: 1px solid #bdbdbd;
			text-align: left;
			caption {
				display: none;
				text-indent: -9999px;
				visibility: hidden;
			}
			th {
				padding: 10px;
				background:#e1e4e4;
				border-top: 1px solid #bdbdbd;
				border-right: 1px solid #bdbdbd;
			}
			td {
				padding: 10px;
				background:#f0f2f3;
				border-top: 1px solid #bdbdbd;
			}
		}
		.date-service {
			padding: 10px;
			background:#f0f2f3;
			border: 1px solid #bdbdbd;
			border-top: 0;
			text-align: right;
		}
		.company {
			padding: 10px;
			background:#f0f2f3;
			border: 1px solid #bdbdbd;
			border-top: 0;
		}
	}




	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {
		footer {
			padding: 40px 0;
			text-align: center;
			border-top: 0;
			&.no-footer {display:none;}
		}

		.footer-contents {
			padding: 0 !important;
			.footer-top {
				display: none;
			}

			.mobile-footer-top {
				display: block !important;
				border-top: 1px solid $border-1;
				border-bottom: 1px solid $border-1;
				li {
					text-align: center;
					&:first-child a {border-left: 0;}
				}
				a {
					display: block;
					padding: 11px 0;
					font-size: $font-size-s;
					font-weight: bold;
					border-left: 1px solid $border-1;
					box-sizing: border-box;
				}
			}
			.footer-bottom {
				margin-top: 26px;
				padding: 0 16px;
				color: $font-2;
				text-align: left;
				border-top: 0;
				.copyright-area {
					padding-left: 0;
					text-align: center;
				}
				.footer-menu {
					display: block;
					margin: 10px 0;
					text-align: center;
					li {	
						display: inline-block;
						margin-left: 5px;
						&:first-child {
							margin-left: 0;	
						}
						&:before {
							content: "|";
							display: inline-block;
							padding-right: 8px;
							color: $border-2;
						}
						&:first-child:before {
							display: none;
						}
						a {
							color: $font-2;
						}
						// .policy {color: #666;}
					}
				}
				.logo,
				.copyright-txt {
					display: none;
				}
			}
		}
	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
	}

	/* Large screen and bigger */
	@media (max-width: $breakpoint-xlarge) {}
