.guestOrder-search{
	.step-container{
		.list-container{
			input[type="radio"]{
		  		-webkit-appearance: radio;
			}
			li {
				padding:10px 0px 10px 0px;
				border-top:1px solid $border-1;
			}
			li:last-child {
				border-bottom:1px solid $border-1;	
			}
			.info-group{
				span{
					display: block;
					color: $font-4;
					font-size: $font-size-s;
				}
				line-height: 1.5;
				.name{
					color: $font-2;
					font-size: $font-size-m;
					margin-bottom: 5px;
				}
			}
			.btn-group{
				float:right;
				button{
					margin-top:25%;
				}
			}

			.action-group{
				.info{
					font-size: $font-size-s;
				    margin-right: 10px;
				    display: inline-block;
				    vertical-align: middle;
					.untiltime{
						display: block;
						font-size:$font-size-mini;
						margin-right:10px;
						margin-top:5px;
						color: $font-3;
					}
				}
				.type{
					display: inline-block;
					margin-right:10px;
				}
			}
		}
	}
	.submit-btn{
		width:70px;
		height: 48px;
		border-radius: 4px;
	}
	
}

.guest-certify .certify-type{
	padding:50px 0;
	text-align: center;
	display: block;
	border:1px solid $border-1;

	&.active{
		background-color: $bg-3;
	}
}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.guestOrder-search{
		.step-container{
			.list-container{
				.btn-group{
					float:none;
					button{
						width:100%;
						margin-top:15px;
					}
				}

				.action-group{
					.info{
						display: block;
						margin-bottom:5px;
					}
					.type{
						margin-top:5px;
						display: block;
					}					
					button{
						margin-top:5px;
						width: 100%;
					}
				}				
			}
		}
	}

}