/*********************************************************************/
/* header
/*********************************************************************/
	header {
		margin:0 auto;
	}

	.header_layout_1 {
		position: relative;
		z-index: 101;
		width:100%;
		background-color: $mc-lnb_bg-color;

		/* GNB
		/*****************************************************************/
		.header-gnb {
			color: $gnb_color-type1;
			font-size: $font-size-s;
			background: $gnb_bg-color-type1;
			box-sizing:border-box;
			a {
				display:inline-block;
				padding:10px 0;
			}

			> .header-gnb_maxwidth {
				//max-width:$max-width;
				margin:0 auto;

				> .header-event {
					float:left;
					span {display:inline-block; padding:10px 0;}
				}

				.find-store {
					float: left;
					i {
						font-size: 16px;
						vertical-align: -2px;
					}
				}

				> .header-mymenu {
					float:right;
					padding:0;
					margin:0;

					> li {
						display:inline-block;
						margin-left:10px;
						a {
							padding: 7px 0 7px 6px;
						}
						i {
							font-size: 20px;
							color: $font-3;
							vertical-align: -3px;
						}
						.shopping-bag {
							position: relative;
							.cart-num {
								display: inline-block;
								position: absolute;
								left: 17px;
								top: 3px;
								min-width: 16px;
								height: 16px;
								line-height: 16px;
								padding: 0 5px;
								border-radius: 500px;
								vertical-align: middle;
								background: #0b5aa0;
								color: #fff;
								font-size: 10px;
								box-sizing: border-box;
							}
						}
					}
				}

				&:after {content:""; display:block; clear:both;}
			}
		}

		.header-line {border-bottom:1px solid #e8e8e8;}

		/* LNB - menu, search관련
		/*****************************************************************/
		.header-lnb {
			position: static;
			display: table;
			width: 100%;
			margin:0 auto;
			font-size:14px;
			text-align:center;
			box-sizing:border-box;
			z-index:101; /* slider버튼 z-index위치관련 처리 */
			&:after{content:""; display:block; clear:both;}
			&.fixed {position:fixed;}

			// 주문결제 헤어 로고만 있는거 전체 공통
			&.align-center {
				height: 80px;
				.header-logo {
					float:inherit;
					display: inline-block;
					position: static;
					// width: 100%;
					min-height: 100%;
					margin-top: 10px;
					padding:0;
					.header-item {top: 10px;}
					img {height: 36px;}
				}
				.back-btn {
					@include back-btn;
					top: 16px;
				}
			}


			a {color: $lnb_color-type1;
				// font-weight:500
			}

			.header-logo {
				min-height: auto;
				padding: 0;
				vertical-align: middle;

			}
			.header-item {
				position: relative;
				top: -10px;
				vertical-align: middle;
				z-index: 120;
				// img {
				// 	margin-top: -10px;
				// }
			}
			.category-title {
				font-size:18px;
				color: $title_category-color;
			}
			.mobile-header-title {display:none;}

			.header-menu_onedepth{
				// float:left;
				clear: both;
				display: block;
				padding:5px 0 0;
				line-height:26px;
				text-align:center;
				vertical-align: middle;

				> .onedepth-list {
					position:static;
					display:inline-block;
					padding:0 18px;

					// &:first-child {
					// 	padding-left:0;
					// }

					> a {
						position: relative;
						display: inline-block;
						height: 50px;
						line-height: 50px;
						font-size: 14px;
						font-weight: bold;
						&.active {color: $lnb_color-type1-over;}
					}

					> .header-menu_twodepth.active {
						display:block;
					}

					.img-menu {
						img {
							height: 13px;
							margin-top: -2px;
						}
					}

					/*&:hover {
						> .header-menu_twodepth {
							display:block;
						}
					}*/
				}

				.header-menu_twodepth {
					display:none;
					position:absolute;
					left:0;
					width: 100%;
					min-width:120px;
					// padding:30px;
					margin: 0 auto;
					border-top: 1px solid $border-1;
					border-bottom: 1px solid $border-1;
					background: $lnb_depth2-bg-type1;
					line-height:30px;
					text-align: left;
					z-index: 110;

					.twodepth-wrap {
						// display: flex;
						// max-width: 1200px;
						// margin: 0 auto;
						max-width: 1344px;
						margin: 0 auto;
						text-align: center;
						> ul {
							// display: flex;
							max-width: 75%;
							margin: 0 auto;
							display: inline-block;
							box-sizing: border-box;
							text-align:left;
							vertical-align: top;
						}
						.twodepth-brand {
							width: 100%;
							max-width: 1344px;
							margin: 0 auto;
							margin-left: -20px;
							padding: 5px 0 40px;
							li {
								margin-top: 25px;
							}

						}
					}

					.twodepth-list {
						display: inline-block;
						width: 160px;
						padding: 25px 0;
						vertical-align: top;
						box-sizing: border-box;
						>a {
							display:block;
							font-size: 15px;
							font-weight: bold;
							color: $lnb_depth2-color-type1;
						}
					}

					.promo-menu {
						max-width: 25%;
						display: inline-block;
						padding: 25px 0;
						vertical-align: top;
						.promo-bnr {
							width: 245px;
							margin: 0 auto 15px;
						}
					}
				}

				.header-menu_threedepth {
					margin: 10px 0 20px;
					// padding-left:20px;
					line-height: 1.8em;
					color: $lnb_depth3-color-type1;
					.threedepth-list {
						> a {
							color: $lnb_depth3-color-type1;
							&:hover {color: $lnb_depth3-color-type1-over;}
						}
					}
				}

				.back-img {
					width:320px;
					background-image:url("/assets/images/menu_back.png");
					background-repeat:no-repeat;
					background-position:bottom right;
				}
			}

			.header-menu_etc {
				position:relative;
				// display: block;
				// width: 100%;
				// padding-top: 20px;
				// text-align: right;
				&:after {
					content: '';
					clear: both;
					display:block;
				}
				> ul {
					// float: right;
					position: absolute;
					left: 0; 
					top: 24px;
					li {
						float: left;
						margin-right: 10px;
						font-size: $font-size-m;
						&:before {
							content: '|';
							display: inline-block;
							padding-right: 10px;
							color: #ededed;
						}
						&:first-child:before {
							display: none;
						}
					}
				}
				

				// > a {
				// 	&:first-child {margin-left:0;}
				// 	display:inline-block;
				// 	margin-left:13px;
				// }
			}

			.etc-menu-mobile {
				display: none;
				position: absolute;
				right: 0;
				top: 0;
				>a {
					display: inline-block;
					width: 48px;
					height: 48px;
					padding-top: 11px;
					color: $font-3;
					text-align: center;
					box-sizing: border-box;
					i {
						&.large {font-size: 26px;}
					}
				}
			}

			.header-menu_mobile {
				display:none;

				position: absolute;
				top: 0;
				left: 0;

				&:after {content:""; display:block; clear:both;}

				> a {
					display:block;
					width:48px;
					height:48px;
					padding-top: 11px;
					text-indent:0;
					// font-weight:bold;
					font-size:26px;
					// margin-left:10px;
					color: $font-0;
					box-sizing: border-box;

					> i {float:left;}
				}
			}

			ul {list-style:none; margin:0; padding:0; border:0;}
			.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
		}

		.gnb-search-field {
			position: absolute;
			right: 0;
			top: 14px;
			display:inline-block;
			vertical-align:middle;

			.input-textfield {
				> label {
					top: 10px;
					font-size: $font-size-m;
					color: $font-2;
				}
				> input {
					width: 192px;
					height: 32px;
					padding: 7px 12px;
					font-size: 13px;
					border-color: $border-2;
				}
				.btn-wrap {
					display: none;
				}
			}
			.btn_search {
				position:absolute;
				top: 6px;
				right: 8px;
				width: 20px;
				height: 20px;
				padding: 0;
				border: 0;
				background: none;

				span {display:none;}
				.icon-search {
					font-size: 15px;
					color: $lnb_search-icon-color;
				}

			}
		}
	}

	.search-panel {
		display: none;
		position: absolute;
		top: -8px;
		left: 0;
		width: $width-full;
		height: 99px;
		font-family: $typo-en;
		background-color: $bg-1;
		z-index: 110;
		.width-xlarge {
			position: relative;
			max-width: 750px;
			padding: 0;
		}
		.search-text-container {
			position: relative;
			width: 700px;
			// padding: 24px 0;
			margin-top: 40px;
			.input-textfield {
				box-sizing: border-box;
				> label {
					top: 0;
					left: 50px;
					font-size: 24px;
					font-weight: normal;
					color: $font-3;
					line-height: 48px;
				}
				> input {
					padding: 9px 50px 9px;
					border:0;
					height: 48px;
					font-size: 24px;
					font-weight: normal;
					color: $font-2;
					line-height: 48px;
					background-color: $bg-2;
				}
				> .btn-wrap .delete {
					i {
						font-size: 22px;
						color: $font-4;
					}
				}
			}
		}
		.btn-search-close{
			position: absolute;
			top: 50%;
			right: 5px;
			margin-top: -10px;
			border:0;
			background-color: $bg-1;
			z-index:10;
			> * {vertical-align: middle;}
			i {
				padding: 7px;
				font-size: 18px;
				color: $font-3;
			}
		}
		.btn_search {
			position: absolute;
			top: 13px;
			left: 3px;
			width: auto;
			height: auto;
			padding: 1px 6px;
			border: 0;
			background-color: $bg-2;
			i {
				display: block;
				font-size: 20px;
				color: $font-3;
			}
		}
	}

	.mobile-menu_wrap {
		.uk-offcanvas-bar {background-color: $mc-lnb_bg-color;}
		.user-state, .location {
			height:48px !important;
			border-bottom:1px solid $mc-lnb_border-color;
			padding:10px 25px !important;
			background-color: $mc-lnb_state-bg-color;
			box-sizing:border-box;

			.title {
				display:inline-block; 
				margin-left:4px;
				// font-weight:bold;
			}
		}
		.user-state {
			.icon-myinfo {
				margin-right: 5px;
				font-size: 22px;
				color: $font-3;
				vertical-align: -4px;
			}
			a {
				font-size: 14px;
				color: $mc-lnb_state-font-color;
			}
		}
		.mobile-menu_onedepth {
			margin: 0;
		}
		.mobile-menu_twodepth {
			// position: static;
			// left: 0;
			// width: 100%;
			// margin: 0;
			// .location {
			// 	i {
			// 		// font-weight:bold;
			// 		vertical-align:middle; color: $mc-lnb_depth1-color;}
			// 	.title {padding:10px 0; color: $mc-lnb_depth1-color;}
			// }
		}
		
		.mobile-onedepth_list {
			> a {
				font-size: $font-size-l;
			}
		}

		.mobile-onedepth_list, .mobile-twodepth_list {
			> a {
				width:100%;
				margin: 0;
				display:inline-block;
				padding: 18px 15px 18px 25px !important;
				font-weight: bold;
				color: $mc-lnb_depth1-color;
				line-height: inherit;
				background-color: $mc-lnb_bg-color;
				box-sizing:border-box;
			}
		}

		.mobile-twodepth_list {
			border-bottom:0 !important;
			> a {
				padding: 17px 15px 17px 40px !important;
				font-size: $font-size-m;
			}
		}

		// .mobile-threedepth_list {
		// 	// &:last-child {border-bottom:0;}
		// 	padding-left:20px;
		// 	background-color: $mc-lnb_depth3-bg;
		// 	border-bottom:0 !important;
		// }


		.icon-arrow_bottom {float:right; font-size: 12px;}
		// .store_btn, .custom-center_btn, .logout_btn {display:inline-block; width:100%; padding:15px 25px; box-sizing:border-box; color: $mc-lnb_etc-font-color}
		// .mc-northface {
		// 	height: 40px;
		// 	padding: 0 25px;
		// 	line-height: 40px;
		// 	font-size: $font-size-sm;
		// 	color: #808080;
		// 	background-color: $bg-2;
		// 	border-bottom: 1px solid $border-1;
		// }
		.mc-menu-etc {
			a {
				display:inline-block; 
				width:100%; 
				padding:13px 25px; 
				box-sizing:border-box;
				font-size: $font-size-m;
				font-weight: bold;
				color: $mc-lnb_etc-font-color;
				.micon {
					margin-right: 5px;
					font-size: 22px;
					color: $font-3;
					vertical-align: middle;
				}
			}
		}


		.nav-container-wrap {
			.nav-tab {
				position: relative;
				width: 100%;
				height: 48px;
				margin-bottom: 0;
				&:before {
					    content: "";
					    display: block;
					    position: absolute;
					    left: 0;
					    bottom: 0;
					    width: 100%;
					    height: 1px;
					    background-color: #e8e8e8;
				}
				.btn-tab {
					width: 50%;
					height: 100%;
					margin-left: 0;
					padding: 0;
					text-align: center;
					a {
						display: inline-block;
						width: 100%;
						height: 100%;
						font-size: 13px;
						line-height: 48px;
					}
				}
			}
			.nav-container {

			}
		}
	}

	// .mobile-menu_twodepth {
	// 	overflow-y:auto;
	// 	position:fixed;
	// 	width:270px;
	// 	top:0;
	// 	bottom:0;
	// 	left:270px;
	// 	background-color: $mc-lnb_depth2-bg;
	// }

	.mobile-customer_wrap {

	}



	.mini-cart-cnt {
		position: absolute;
		top:0;
		right:-8px;
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		background: $cart-icon_qty-bg;
		color:  $cart-icon_qty-color;
		font-size: 8px;
		line-height: 16px;
		text-align: center;
		vertical-align: middle;
		&.empty{
			&:after{
				display: none;
			}
		}
		&:after{
			// content: attr(icon-text-attr);


		}
	}



	/* Phone landscape and bigger */
	@media (max-width:$breakpoint-small) {

	}

	/* Tablet and bigger */
	@media (max-width: $breakpoint-medium) {

	}

	/* Desktop and bigger */
	@media (max-width: $breakpoint-large) {
		.header_layout_1{
			position: fixed;
			.header-gnb {
				.header-gnb_maxwidth {
					.header-event {float:none; text-align:center;}
					.header-mymenu {display:none;}
					.find-store {display: none;}
				}
			}

			.header-lnb {
				height: 48px;
				padding:0;

				// 주문결제 헤더 전체 공통
				&.align-center {
					height: 48px;
					.header-logo {
						padding:3px 0 0 0;
						.header-item {
							top: 0;
							margin-top: 0;
						}
					}
					.back-btn {
						@include back-btn;
						top: 0;
					}
				}
				.header-logo {
					float:none;
					left: initial;
					right: 0;
					top: 0;
					// display: inline-block;
					height:100%;  // 모바일 로고 세로값  사이즈
					min-height: 100%;
					padding:0;
					margin:0 auto;
					// background-size:533px auto; // pc용 이미지 축소
					box-sizing: border-box;

					.header-item {
						img {
							max-height:26px;
						}
					}
				}
				.header-item {
					display: inline-block;
					top: 0;
					margin-top: 10px;
				}
				.mobile-header-title {
					// display:inline-block;
					display: none;
				}
				.header-menu_etc {
					display: none;
				}

				.etc-menu-mobile {
					display: block;
				}

				.header-menu_mobile {
					display:block;
				}

				.header-menu_onedepth {
					overflow-y:auto;
					position:fixed;
					top:0;
					left:-320px;
					bottom:0;
					width:300px;
					padding:20px 0;
					line-height:1;
					float:none;
					background: $mc-lnb_bg-color;
					z-index:1000;

					> .onedepth-list {
						display:block;
						padding:0;

						> a {display:block;padding:20px 30px;}
					}

					.header-menu_twodepth {
						display:none;
						position:static;
						width:100%;
						padding:10px 0;
						border:0;
						margin:0;
						background: $mc-lnb_depth2-bg;
						line-height:30px;

						&.active {display:block;}
						.twodepth-list > a{display:block; padding:5px 30px;}
					}

					a {color: $mc-lnb_depth1-color;font-size:12px;}
				}
			}
		}

		.search-panel {
			top: 0;
			height: auto;
			z-index: 120;
			.search-text-container {
				width: 100%;
				margin-top: 0;
				padding: 8px 0 0;
				.input-textfield {
					> label {
						font-size: 16px;
						line-height: 32px;
					}
					> input {
						padding: 0 50px;
						font-size: 16px;
						height: 32px;
						line-height: 32px;
					}
				}
			}
			.btn-search-close {margin-top: -5px;}
			.btn_search {
				left: 15px;
				top:5px;
			}
			.search-field {
				padding: 0 50px 0 15px;
			}
		}
	}

	// 검색바 클릭시 dim 처리
	.dimed {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.3;
		z-index: 100;
	}


	// nav.scss
	.uk-nav-header {
		margin: 0 !important; 
		padding: 0; 
		color: $font-4;
	}
	.uk-nav-offcanvas > .uk-open > a, 
	html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, 
	html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
		background: $bg-1;
		color: $default-color;
	}
	html:not(.uk-touch) .uk-nav-offcanvas ul a:hover {
		color: $default-color;
	}
	.uk-nav-parent-icon > .uk-parent > a:after {
		content: "\f107";
		color: $font-3;
	}
	.uk-nav-parent-icon > .uk-parent.uk-open > a:after { 
		content: "\f106"; 
	}
	.uk-nav-parent-icon > .uk-parent > .link:after {
		display: none;
	}
