.product-detail_wrap {
	//padding:0 100px;
	//&:after {content:""; display:block; clear:both; height:0;}
}


.img-detail_product {
	position:relative;
	padding-right: 40px;
	text-align:center;

	.product-ico {
		position:absolute;
		right:30px;
		top:-20px;
		font-size:60px;
		color: $primary-color;
	}

	.masker {
		overflow:hidden;
		max-height:700px;
		margin-bottom: 40px;
	}

	.product-gallery {
		.swipe-container {width:100%;}
		.bx-controls {display:none;}
	}

	.product-gallery-slide {
		width:100%;
		min-width:415px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
		margin-right:0;
		img {display:inline-block;}
	}
}


.product-gallery-wrap {
	position:relative;
	max-width: 615px;
	margin: 0 auto;
	
	.product-thumb-wrap {
		position: relative;
		max-width: 100%;
		// margin: 0 auto;
	}

	.product-thumb {
		width:63px;
		font-size:11px;
		position:absolute;
		top:0;
		left:0;
		z-index:11;

		.thumb-title {
			margin-bottom:15px;
			font-size:11px;
		}

		.thumb-list {
			@include product-detail_thumb-list;
		}

		> ul {list-style-type:none; padding:0; margin:0; border:0;}
	}

	&.left {
		.product-gallery {padding-left:76px;}
		.product-thumb {
			overflow:hidden;
			bottom:0;
		}
	}

	&.bottom {
		.product-thumb {
			position:static;
			width:100%;
			max-width: 460px;
			margin: 0 auto;
			overflow:hidden;
			&:after {content:""; display:block; clear:both;}

			.thumb-wrap {
				width:1000%;
				margin:0 auto;
			}
			.thumb-list {
				float:left;
				overflow:hidden;
				width:80px;
				// height:98px;
				margin:0px;
				margin-left:10px;

				&:first-child {margin-left:0;}
			}
		}
		button {
			margin-top: -10px;
			padding: 1px 2px;
			font-size: 20px;
			color: $font-3;
			background-color: transparent;
			border: 0;
			&:disabled,
			&:disabled:hover {
				color: $font-5;
				cursor: default;
			}
			&:hover {
				color: $primary-color;
			}
		}
		.btn-prev {
			position: absolute;
			left: 0;
			top: 50%;
		}
		.btn-next {
			position: absolute;
			right: 0;
			top: 50%;
		}
	}

	.pdp-gallery-fullview {
		&.show .product-thumb-wrap {
			display: block;
		}
		.product-thumb-wrap {
			position: fixed;
			left: 0;
			bottom: 24px;
			width: 100%;
			max-width: 100%;
			text-align: center;
			.product-thumb-outer {
				display: inline-block;
				position: relative;
				max-width: 330px;
				padding: 0 24px;
				box-sizing: border-box;
			}
			.product-thumb {
				max-width: 300px;
				.thumb-list {
					width: 40px;
					margin-left: 8px;
				}
			}
			.btn-prev {
				left: 0;
			}
			.btn-next {
				right: 0;
			}
		}
	}
}



.info-wrap_product {
	//float:left;
	//width:45%;
	//padding-left:82px;
	// color: $font-3;
	box-sizing:border-box;


	.title-wrap {
		margin-bottom:4px;
		.subtit {color: $primary-sub-color;}
		// .tit {overflow:hidden; display:block; max-height:53px; line-height:27px; font-size:18px; color: $prd_text-color;}
		.close-btn {display:none;}
		.tit-area {
			position: relative;
			padding-right: 40px;
			box-sizing: border-box;
			.wish-btn {
				position: absolute;
				right: 0;
				top: 7px;
				padding: 0;
				>i {
					font-size: 24px;
				}
			}
		}
		.brand-title {
			display: block;
			margin-bottom: 10px;
			font-size: 16px;
		}
		.tit {
			font-size: 28px;
			font-weight: bold;
			line-height: 36px;
		}
		.style-code-info {
			margin-bottom: 5px;
			span {
				position: relative;
				padding-left: 7px;
				font-size: $font-size-s;
				color: #2a2a2a;
				&:after {
					content:'';
					position: absolute;
					top: 1px;
					left: 0;
					display:block;
					width: 1px;
					height: 12px;
					background-color: $bg-5;
				}
				&:first-child {
					padding-left: 0;
					&:after {
						display: none;
					}
				}
			}
		}
	}

	.review-wrap {
		margin-top:20px;
		padding-bottom:20px;
		border-bottom:1px solid $border-2;
		font-size:11px;
		color: $font-4;

		&:after {content:''; display:block; clear:both;}
		.review-num {
			padding:0 0 0 2px;
			font-size: 12px;
			font-weight: 500;
			color: $default-color;
		}
		.style-code {
			float:right;
			color:$font-3;
		}
	}

	.price-wrap {
		margin-top: 20px;
		font-size:16px;

		> .price-sale {
			margin-left: 5px;
			font-weight: 500;
			color: $font-4;
			text-decoration:line-through;
		}
		> .price {
			color: $prd_sale-price;
			> strong {
				font-size:24px;
				letter-spacing:-1px;
			}
		}
		.sale-per {
			margin-top:14px;
			display:inline-block;
			margin-left:5px;
			color: $marketing-color;
			font-size:12px;
			&:hover {color: $marketing-color-over;}
		}
		.disc-num {
			display:inline-block;
			margin-left:5px;
			font-size:16px;
			color: #c7000a;
			font-weight:500;
		}
	}

	.mileage-wrap {
		padding-top: 16px;
		border-bottom: 1px solid #eaeaea;
		.info-cont {
			span {
				display: inline-block;
				margin-top: 5px;
				color: $font-2;
				i {
					font-size: 16px;
					color: #bdbdbd;
					vertical-align: -3px;
				}
			}
		}
	}

	.option-wrap {
		.tit-wrap {
			position: relative;
			.option-guide {
				position: absolute;
				right: 0;
				top: 0;
				padding-top: 0;
				a {
					font-size: 13px;
					color: $primary-color;
				}
			}
		}
		.tit {margin:30px 0 8px; font-weight:bold; font-size:14px; color: $font-1;}
		.msg {display:inline-block; margin-left:10px; font-size: $font-size-m; font-weight: normal; color: $caution-color; vertical-align: middle;}
		.over-txt {display:inline-block; margin-left:5px; color:$font-4;}
		.option-guide { padding:15px 0 0 0; font-size:12px;}
		.input-select {
			margin-top:10px;
			&:first-child {margin-top:0;}
		}

		.product-option_radio {
			// margin:-6px 0 0 -6px;
			&:after {content:''; display:block; clear:both;}

			.related {
			    	// float: left;
				display: inline-block;
				position: relative;
				width: 64px;
				height: 64px;
				margin: 6px 6px 0 0;
				vertical-align: top;
				&:hover:after {
					content:'';
					position:absolute;
					top: 0;
					right: -1px;
					bottom: -1px;
					left: 0;
					border:1px solid $primary-color;
				}
				img {width: 100%;}
			}
			
			.input-radio {
				display: inline-block;
				vertical-align:top;
				// margin:6px 0 0 6px;
				//&:first-child {margin-left:0;}

				.label {
					position: relative;
					padding: 14px 14px 0;
					letter-spacing: 0;
					display: block;
					width: auto;
					height: 48px;
					text-align: center;
					// border: 1px solid $border-3;
					// color: $font-1;
					box-sizing:border-box;

					&.img-type {
						width: 64px;
						height: 64px;
						margin: 6px 6px 0 0;
						padding:0;
						> img {width: 100%;}
						&:after {
							border: 0;
						}
					}

					&:after {
						content:'';
						position:absolute;
						top: 0;
						right: -1px;
						bottom: -1px;
						left: 0;
						border:1px solid $border-1;
					}
				}
				.pattern {display:inline-block; width:100%; height:100%; background-size:100%;}

				&:hover { .label:after {border:1px solid $primary-color; z-index:100;} }
				&.checked {
					.label {
						color: $primary-color;
						&:after {
							border:2px solid $primary-color;
							z-index:100;
						}
					}
				}
				&.disabled {
					.label {
						background-color: $form_bg-disabled;
						color: $form_text-color-disabled;
						cursor: default;
						&.img-type {filter: alpha(opacity=0.5); opacity: 0.3;}
					}
					&:hover { .label:after {border:1px solid $border-1;} }
				}
				&.width-fix {
					float: left;
					width: 20%;
					>label {
						display: block;
					}
				}
			}

			&.circle {
				.input-radio {
					padding:3px;
					.label {
						// border:none;
						&.img-type{
							overflow:hidden;
							width:40px;
							height:40px;
							padding:5px;
							border-radius:50%;

							img {border-radius:50%;}
						}

						&:hover {border:1px solid $primary-color;}
					}
					.pattern {width:28px; height:28px; border-radius:50%;}

					&.checked {
						.label {
							border:1px solid $default-color;
							background-color: $default-color;
							color: $font-6;
							&.img-type {
								padding:5px;
								background-color: transparent;
							}
							&:after{display:none;}
						}
					}
				}
			}
		}

		.quantity {
			// display: table;
			margin-top: 20px;
			.tit {
				// display: table-cell;
				display: inline-block;
				width: 45px;
				margin: 0;
				vertical-align: middle;
			}
			.btn-qty {
				// display: table-cell;
				display: inline-block;
				vertical-align: middle;
				.label {
					margin-right: 0;
				}
			}
		}
	}

	.status-wrap {
		.btn-wrap {
			margin-top:30px;
			overflow: hidden;
		}
		.btn-link {
			// width:49%;
			width: calc(50% - 4px);
			margin-right: 8px;
			text-align:center;
			&.right {float:right}
			&.left {float:left;}
			&.optchange-btn {width:100%;}
			&.btn-login {width:100%;}
			&:last-child {
				margin-right: 0;
			}
		}
		.selected-opt {
			display:table;
			width:100%;
			border-top:1px solid #ebebeb;
			padding: 15px 0;

			&:first-child {margin-top:30px;}
			&:after {content:""; display:block; clear:both;}

			.opt {
				display:table-cell;
				overflow:hidden;
				width:40%;
				max-height:32px;
				line-height:16px;
				font-size:12px;
				vertical-align:middle;
			}

			.quantity{
				display:table-cell;
			}

			.total-price {
				display:table-cell;
				color:#2b5275;
				> strong {
					// font-weight:bold;
					font-size:20px;}
			}

			.delete-btn {position:relative;}
		}
	}

	.guide-wrap {
		position: relative;
		margin-top:25px;
		border-bottom: 1px solid $border-2;
		.shipping-text {
			display:block;
			width:100%;
			padding:0 0 16px;
			font-size: $font-size-m;
			// border-bottom: 1px solid $border-2;
			line-height: 1.4;
			>i {
				margin-right: 5px;
				font-size: 24px;
				vertical-align: middle;
			}
		}

		.share-btns {
			position: absolute;
			right: 15px;
			top: 1px;
			font-size: 24px;
		}

		.description {
			padding:20px 0;
			text-align:left;
			line-height:1.5em;
		}
		.shot-discription {
			border-bottom:1px solid $border-1;
		}

		.overview {
			text-align:left;

			.tit {padding:20px 0 10px; font-size:14px;}
			.description {line-height:18px;}
		}
	}

	.etc-wrap {
		// margin-top: 20px;
		// border-bottom: 1px solid $border-2;
		.season {
			float: left;
			margin-right: 5px;
			li {
				float: left;
				margin-right: 1px;
			}
			span {
				display: inline-block;
				width: 18px;
				height: 18px;
				background: $primary-color;
				color: $font-6;
				font-size: 12px;
				text-align: center;
			}
		}
	}

	.brand-shop-wrap {
		display: table;
		position: relative;
		width: 100%;
		margin-top: 20px;
		padding-bottom: 16px;
		.brand-img {
			display: table-cell;
			width: 68px;
			img {
				width: 60px;
			}
		}
		.brand-txt {
			display: table-cell;
			width: calc(100% - 68px);
			padding-top: 3px;
			vertical-align: top;
			.brand-name {
				font-size: 24px;
				font-weight: bold;
				vertical-align: top;
			}
			.brand-dsp {
				margin-top: 10px; 
				font-size: $font-size-s;
				color: $font-4;
				line-height: 1.5;
			}
		}
		.btn-brandshop {
			position: absolute;
			right: 0;
			top: 5px;
			font-weight: 500;
			color: #2a2a2a;
		}
	}

	.sns-wrap {
		position: relative;
		height: 34px;
		margin-top:10px;
		font-size:30px;

		// addthis extend
		.wish-btn, .btn-link {float:left;}
		.addthis_inline_share_toolbox {position:absolute; top:5px; right:0;}
		.icon-sns-kakao {
			display:none;
			position:absolute;
		    width:20px;
			right:0;
		}

		&:after {content:''; clear:both; display:block;}
	}

	.stock-wrap {
		position: relative;
		padding: 16px 0;
		border-bottom: 1px solid $border-2;
		i {
			font-size: 20px;
			color: $font-3;
			vertical-align: -4px;
		}
		.sms-service-btn {
			font-size: $font-size-m;
			font-weight: bold;
			text-decoration: underline;
		}
	}
	
	.dp-tbl-type {
		display: table;
		width: 100%;
		padding-bottom: 16px;
		box-sizing: border-box;
		&:first-child {
			padding-top: 16px;
		}
		&:last-child {
			border-bottom: 1px solid $border-1;
		}
		.tit {
			display: table-cell;
			width: 20%;
			font-size: 14px;
			font-weight: bold;
			color: #333333;
		}
		.info-cont {
			display: table-cell;
			width: 80%;
			font-size: 14px;
			line-height: 1.5;
		}
	}

	.bundle-item {
		padding:20px 0;
		border-top:1px solid $border-2;
		&:first-child {border:0;}

		.name { line-height:27px; font-size:14px; color: $primary-color; }
		.qty { line-height:27px; font-size:14px; color: $primary-color; }
	}
}


/* mobile chk*/
body {
	&.mobile {
		.info-wrap_product{
			.sns-wrap {
				.addthis_inline_share_toolbox {right:27px;}
				.icon-sns-kakao {
					display:inline-block;
				}
			}
		}
	}
}


/* datail title */
.pop-detail-title {font-size:16px; padding:0 10px;}

.product-detail_view {
	position:relative;
	margin-top:60px;
	padding:40px 185px 0;

	&:after {
		content: '';
		position: absolute;
		top:0;
		//width: 3600px;  // 확인필요
		margin-left: -1000px;
		background: $bg-1;
		border-top: 1px solid $border-2;
	}

	.detail-tab {
		position: relative;
		margin:0 auto 48px;
		text-align:center;
		&:before {
			content:"";
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $tab_border-color;
		}
		&:after {content:""; display:block; clear:both;}

		//reset
		list-style-type:none; padding:0; border:0;
	}
	.detail-cont {
		h3 {
			margin-bottom: 20px;
			font-size: 24px;
		}
	}
	.detail-info {
		padding:30px 0;
		line-height: 20px;
		font-size: 12px;
	}

	.btn-tab {
		position: relative;
		width: 20%;
		margin-left: 0;
		> a {
			display:inline-block;
			padding:22px 0 15px;
			text-decoration:none;
			outline:none;
			&:hover, &:active {text-decoration:none;}
		}
	}
	.detail-delivery {
		line-height: 1.6;
		.delivery-text {padding:70px 0; text-align:center;}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 15px;
		}
		ul {margin-top: 5px;}
	}
}

/* product review list */
.review-read {
	ul {
		list-style:none;
		padding:0;
	}
	.read-list{
		padding:30px 20px 15px;
		border-top:1px solid $border-2;

		.user-info {
			margin-bottom:10px;
			.like {
				vertical-align:middle;
				.per {
					position: absolute;
				 	top: 0;
				 	left: 0;
				 	overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}
			.write-date {
				padding-left: 5px;
				color:$font-4;
				font-size:11px;
				font-family:$typo-ko;
				vertical-align: middle;
			}
			.user-name {
				&:after {content:$name-sir;}
				padding-left:5px;
				color: $font-4;
				font-size:11px;
				vertical-align: middle;
			}
		}
		.opt-info {
			margin:10px 0;
			.tit {
				&:after {
					content:$special-char-2;
					font-family:$typo-ko;
				}
				color:$font-3;
				font-size:13px;
			}
			.txt {
				a {
					&:before {
						content:$special-char-1;
						font-family:$typo-ko;
					}
				}
				color: $primary-sub-color;
				font-size:13px;
				margin-right:10px;
			}
		}

		.read-subject {
			//display:none;
			margin:27px 0 17px;
			font-size:15px;
			// font-weight:bold;
			color: $primary-color;
		}

		.read-comment {
			position:relative;
			line-height:20px;
		}
		.review-img-info {
			position:relative;
			margin:15px 0 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				width:70px;
				height:80px;
				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:15px 0;

			.btn-area {
				margin-top:15px;
			}
		}
	}
}

/* product review write modal - uikit redefine*/
.review-write {
	.uk-modal-dialog {
		width:480px;
		//padding:0;

		.popup-close_btn{
			&:first-child {
				margin:0;
			}
		}
	}
}

/* product, main review write */
.order-lanscape-list {
	position: relative;

	&:after {content:'';display:block; clear:both;}

	.image-wrap {
		float: left;
	 	overflow: hidden;
		width: 80px;
	}
	.order-info {
		@include calc( width, '100% - 80px');
		@include box-sizing();
		float: left;
		padding-left: 20px;
		font-family:$typo-ko;
		.tit {
			overflow: hidden;
			display: inline-block;
		 	min-width: 100%;
			max-height: 32px;
			line-height: 16px;
			font-size: 14px;
			color: #2a2a2a;

		}
		.option {
			display:block;
			margin-top:5px;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
			span {
				display:block;
			}
		}
		.qty {
			display:block;
			font-size:$font-size-s;
			color:$font-3;
			line-height:18px;
		}
		.price-wrap {
			display:block;
			margin-top:5px;
			font-size:14px;
			color:$font-1;

			.sale-price {
				text-decoration:line-through;
				font-size:11px;
				color:$font-3;
			}
		}
	}
}

.review-write {
	@include box-sizing();
	// max-width:480px;
	padding: 0;

	fieldset {
		border:0;
		padding:0;
		> legend {text-indent:-9999px; position:absolute; width:0; height:0; overflow:hidden; visibility:hidden;}
	}

	.order-lanscape-list {
		padding: 40px 0 20px;
		border-bottom: 1px solid #e8e8e8;
	}

	.tit {color: $primary-color;}
	.like {margin:30px 0;}

	.rating-star-data {
		padding:25px 0 15px;
		border-bottom: 1px solid #e8e8e8;
		text-align:center;

		.rating-description {
			padding:15px 0;
		}

	}
	.opt-value-data-wrap {
		margin-bottom: 24px;
		border-bottom: 1px solid #e8e8e8;
	}
	.opt-value-data {
		padding:10px 16px;
		//font-size:0;
		//line-height:0;

		.opt-txt {
			display:inline-block;
			/*width:53px;
			height:36px;*/
			margin-left: -16px;
			font-size:12px;
			font-weight: bold;
			line-height:36px;
			color:$font-2;
			vertical-align:top;
		}
		.opt-strip {
			display:table;
			//display:block;
			width:100%;
			// padding-left: 16px;
			box-sizing: border-box;

			.radio-style {
				position: relative;
				display:table-cell;
				margin-right: 0;
				min-height: 16px;
				/*&:first-child {
					@include calc( width, '33%');
				}
				@include calc( width, '33% - 7px');
				*/
				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 100%;
					height: 6px;
					background-color: #ccc;
					border-right: 1px solid #fff;
					box-sizing: border-box;
				}
				&:first-child:after {
					border-radius: 3px 0 0 3px;
				}
				&:last-child:after {
					border-radius: 0 3px 3px 0;
				}
			}
		}
		.opt-strip-label {
			margin:10px 0 0 0;
			font-size: 11px;
			color: $font-2;
			.last {float:right;}
			.middle {
				position: absolute;
				left: 0;
				width: 100%;
				text-align: center;
			}
			&:after {content:''; display:block; clear:both;}
		}
	}

	.uk-form-label {
		display: block;
		margin-bottom: 8px;
	}
	.write-comment {
		margin-top:10px;
		textarea {
			background-color: #fff;
		}
	}

	.review-img-uploader {

		.uplode-preview-list{
			margin-bottom:10px;

			.preview-up-img {
				position:relative;
				overflow:hidden;
				display:inline-block;
				width:58px;
				height:78px;
				margin:0 4px 10px 0;
				border:1px solid $border-3;
				background-color:$bg-2;

				.file-remove_btn {
					position:absolute;
					top:0;
					right:0;
				}

			}
			.upload-btn {
				font-size: 14px;
				i {
					font-size: 24px;
					color: $primary-color;
					vertical-align: middle;
				}
			}
		}

	}
	.review-btnarea{
		margin-top:20px;
	}
}



.product-opt_current {
	padding:20px 0;

	&:after {content:""; display:block; clear:both;}
	> .item-info {
		float:left;
		&:after {content:""; display:block; clear:both;}

		> .img-wrap {
			float:left;
			display:inline-block;
			width:60px;
			img {width:100%; display:block;}
		}
		> .info-wrap {
			float:left;
			height:60px;
			margin:12px 0 0 20px;
			display:inline-block;
			.tit {display:inline-block;width:100%;}
			.price {display:inline-block; margin-top:10px;}
		}
	}

	> .item-btn {
		float:right;
	}
}

/* 05.26 etam 에 적용한  css로 변경 필요 : str
.detail-review {
	@include box-sizing();
	margin:40px auto 0;
	padding:0 20px;
	max-width:850px;
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			display:inline-block;
			height:38px;
			vertical-align:middle;
		}
	}

	.total-star-point {
		margin-left:5px;
		font-size:$font-size-xl;
		color: $font-1;
	}
	.star-review-num {
		margin:0 0 20px;
		font-size:$font-size-m;
	}
}



.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}
.review-sort {
	margin-bottom:10px;
	padding:0 20px;
	overflow:hidden;
	.review-cnt {
		float:left;
		padding-top:10px;
		font-family:$typo-ko;
		.total-cnt {
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
	}
}

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width:50px;
		.star-bullet {
			margin-right:8px;
		}
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		@include calc( width, '100% - 127px');
		height:4px;
		background:$border-1;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 95px');
		}
		.opt-graph-point-color {
			height:4px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:45px;
		text-align:right;
		color:$font-1;
	}

}
05.26 etam 에 적용한  css로 변경 필요 : end */

/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : str */
/* icon폰트의 별이미지도 공통 으로 빼야함 */
.detail-review {
	@include box-sizing();
	margin:40px auto 40px;
	padding:0 0 0 0;
	max-width: 100%;
}
.detail-review-summary {
	border: 1px solid $border-3;
	border-left:0;
	> * {padding: 50px 10px; border-left: 1px solid $border-3;}
}
.star-total-info {
	text-align:center;

	&.review-none {margin-bottom:80px}
	.star-average {
		margin-bottom:10px;
		.like {
			position:relative;
			display:inline-block;
			width: 149px;
			height:32px;
			overflow: hidden;
			vertical-align:middle;
			> i {
				font-size: 28px;
			}
			.per {
				position: absolute;
				top:0;
				left:0;
				overflow: hidden;
			}
			.star-default-bg {
				color: $border-2;
			}
		}
	}

	.total-star-point {
		margin-left: 10px;
		font-size: 18px;
		font-weight: bold;
		color: $font-1;
		vertical-align: middle;
	}
	.star-review-num {
		margin: 5px 0 20px;
		font-size:$font-size-l;
	}
	.review-write-btn {
		width: 176px;
		// padding: 15px 30px;
	}
}

.review-total-average {
	margin-bottom: 45px;
	padding:0 20px;
}
// .n-review-sort {
// 	margin-bottom:10px;
// 	padding:0 20px;
// 	overflow:hidden;
// 	.review-cnt {
// 		float:left;
// 		padding-top:10px;
// 		font-family:$typo-ko;
// 		.total-cnt {
// 			margin-right:5px;
// 		}
// 	}
// 	.sort-tabs {
// 		float:right;
// 		.sort-item:before {
// 			border: 0;
// 		}
// 	}
// }

.review-read {
	min-height:200px;

	> .less {
		padding-top:83px;
		text-align:center;
	}
}

/* product review graph */
.review-opt-graph {
	font-size:0;
	line-height:0;
	.review-opt-tit {
		margin-top:50px;
		font-size:13px;
		color:$font-1;
		// font-weight:bold;
		line-height:1.8em;
		margin-bottom:3px;
	}
	span {
		display:inline-block;
		vertical-align: middle;
		font-size:13px;
		line-height:1.8em;
	}
	.opt-graph-point {
		width: 60px;
		margin-left: 10px;
		.like {
			.star-default-bg {
				display: block;
				font-size: 10px;
				color: $font-3;
				overflow: hidden;
			}
		}
	}
	.opt-graph-txt {
		a {
			&:before {
				content:$special-char-1;
				font-family:$typo-ko;
			}
		}
		width:82px;
		color: $primary-sub-color;
	}

	.opt-graph-gage {
		// @include calc( width, '100% - 20px');
		height: 4px;
		background:$border-3;
		position:relative;
		&.star-gage-value{
			@include calc( width, '100% - 70px');
		}
		.opt-graph-point-color {
			height: 4px;
			background: $star-bg-color;
			vertical-align:top;
		}
	}
	.opt-graph-percent {
		width:30px;
		text-align:left;
		color:$font-1;
		margin-left: 10px;
	}
}
.opt-value-wrap {
	padding: 0 20px;
	margin-top:-15px;

	.opt-value-list {
		margin-bottom: 15px;
	}
	.opt-value-title {
		display: block;
		// width: 50px;
		margin-top:40px;
		font-size: 13px;
		font-weight: bold;
		// color: $font-1;
		vertical-align: top;
		&:first-child {
			margin-top: 0;
		}
	}
	.opt-value-box {
		// @include calc( width, '100% - 54px');
		width: 100%;
		display: inline-block;
		margin-top:15px;

		.opt-value-gage {
			display:table;
			position: relative;
			width: 100%;
			height: 6px;
			// border: 1px solid $border-3;
			background-color: $border-1;
			box-sizing: border-box;
			.opt-value-dot {
				display:table-cell;
				&.active {
					background-color: $font-3;
				}

				&.per {
					position: absolute;
					top: 0px;
					left: -5px;
					// width: 85px;
					width: 20%;
					height: 6px;
					background-color: $font-3;
				}
			}
		}
		.opt-value-txtbox {
			position: relative;
			.opt-value-txt {
				margin-top: 10px;
				font-size: 11px;
				color: $font-2;
				overflow: hidden;
				&.left {float: left;}
				&.right {float: right;}
				&.center {
					position: absolute;
					left: 0;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}
.n-review-sort {
	margin: 10px 0 5px -20px;
	padding:0 20px;
	overflow:hidden;
	&:after {
		content:'';
		display:block;
		clear: both;
	}
	.review-cnt {
		float: left;
		padding-top: 12px;
		font-size: 12px;
		color: $font-2;
		.total-cnt {
			margin-right:5px;
		}
	}
	.sort-tabs {
		float:right;
		.sort-item:before {
			border: 0;
		}
	}
	.review-sort-item {
		float: right;
		> span {
			font-size: 12px;
			color: $font-1;
		}
	}

}
/* product review list */
.n-review-read {
	margin-left: -20px;
	.uk-grid {
		margin-left: 0;
	}
	ul {
		margin-bottom:35px;
		list-style:none;
		padding:0;
		border-top: 1px solid $border-2;
		> li {
			border-bottom: 1px solid $border-2;
			padding-bottom: 20px;
		}
	}

	.read-list{
		padding:25px 16px 0;

		.user-info {
			margin-bottom: 20px;
			.like {
				position:relative;
				display:inline-block;
				height:12px;
				overflow: hidden;
				vertical-align: -1px;
				> i {
					font-size: 13px;
				}
				.per {
					position: absolute;
					top:0;
					left:0;
					overflow: hidden;
				}
				.star-default-bg {
					color: $font-4;
				}
			}

			.write-date {
				padding-left: 30px;
				color: $font-2;
				font-size: 12px;
				font-family:$typo-ko;
				vertical-align: -1px;
			}
			.user-name {
				// &:after {content:$name-sir;}
				padding-left: 30px;
				color: $font-2;
				font-size: 11px;
				vertical-align: bottom;
			}
		}
		.read-subject {
			font-size: 16px;
			font-weight: bold;
			color: $font-1;
			margin-bottom: 12px;
		}
		.read-comment-area {
			margin-bottom: 15px;  //상세페이지 리뷰 리스트 간격 수정
			.view-more {
				font-size: 14px;
				color: #2e6388;
			}
		}
		.read-comment {
			position:relative;
			line-height:20px;
			font-size: 14px;
			color: $font-1;
			// word-break: break-all;
		}
		.mobile-opt-value-txt {
			display: none;
		}
		.review-img-info {
			position:relative;
			margin:15px 0;

			.append-img {
				overflow:hidden;
				display:inline-block;
				max-width:200px;
				max-height:200px;
				/*width:70px;
				height:80px;*/

				img {
					//width:100%;
					//position:absolute;
					//width:60px;
					//height:80px;
				}
			}
		}
		.review-help {
			margin:20px 0 0;
			font-size: 12px;
			color: $font-2;

			.help-txt {
				font-size: 11px;
				color: $font-2;
			}
			.btn-area {
				// margin-top:10px;
				// padding-left: 15px;
				> span {
					color: $font-1;
					font-weight: 900;
					margin-right: 10px;
				}
				a {
					display: inline-block;
					margin:20px 25px 0;
					font-weight: 500;
				}
				.like {
					border-width: 1px;
					font-size: 12px;
					padding: 10px 16px;

				}
				&.help-btn {
					margin-top: 10px;
					border-top: 1px solid #e8e8e8;
				}
			}
		}

		.shorten-detail {display: none;}
		.shorten_expand .shorten-ellipses {display: none;}
		.shorten_expand .shorten-detail {display: inline;}
		.shorten-toggle {
			margin-left: 5px; 
			color: $primary-color;
		}
	}
	.opt-value-wrap {
		padding: 65px 30px 0 10px;
	}
}
/* 05.26 상품평 개발 완료시 _product.scss에 덮어쓰기 : end */



.mini-option-wrap {
	position:fixed;
	left:0;
	right:0;
	bottom:-70px;
	height:70px;
	margin:0 auto;
	z-index:980;

	&:after {
		content:'';
		position:absolute;
		width:250%;
		margin-left:-1000px;
		height:70px;
		background: $bg-1;
		border-top:1px solid $border-2;
		box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.08);
	}
	.mini-product-item {
		float:left;
		.product-thumb-img {
			display:inline-block;
			width:56px;
			height:56px;
			margin-left:15px;
			vertical-align:top;
			img {width:100%;}
		}
		.mini-product-info {
			display:inline-block;
			max-width:300px;
			margin-left: 16px;
			font-size: $font-size-m;
			font-weight: 500;
			.tit {
				display:block;
				margin-top:5px;
			}
			.price {
				display:block;
				margin-top:5px;
				color: $prd_sale-price;
				strong {font-weight: normal;}
			}
		}

	}

	> .btn-wrap {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		max-width: 1070px;
		height: 100%;
		margin: 0 auto;
		padding-top:7px;
		box-sizing:border-box;
		// background-color: $bg-1;
		// border-top:1px solid $border-2;
		z-index:1;

		.minioptbtn {position:absolute; top:12px; right:0; display:inline-block; width:240px; height: 48px; margin:0 15px 0 0; padding: 16px 50px; font-size: $font-size-l; text-align:center;}
		.wishlist-btn {position:absolute; top:13px; right:270px; display:inline-block;}
		.btn-pack .wish-btn-wrap {display: none;}
	}
	.info-wrap_product {
		display:none;
		text-indent:-9999px;
		visibility:hidden;

		position:absolute;
		right:0;
		bottom:0;
		padding-left:0;
		border:1px solid $border-2;
		background-color: $bg-1;
		z-index:20;
		padding: 0;

		.title-wrap {
			border-bottom:1px solid $border-2;
			margin-bottom:0;
			font-size:14px;

			.tit {overflow:hidden; display:inline-block; margin-top:0; padding:2px 20px; font-size:14px; font-weight: 500;}
			.subtit {display:none;}
			.close-btn {display:block; top: 2px; padding:13px;}
			.style-code {padding-left:20px; font-size:12px; padding-bottom:10px;}
		}

		.option-wrap, .status-wrap {
			padding:0 20px;
		}

		.quantity {
			position: relative;
			width: 100%;
			.tit {display: none;}
			.price-wrap-mini {
				position: absolute;
				right: 0;
				top: 12px;
				font-size: 18px;
				font-weight: 500;
				color: $prd_total-price;
				text-align: right;
				vertical-align: middle;
			}
			.btn-qty>.label {
				margin-right: 8px;
				border-radius: 4px;
			}
		}

		.status-wrap {
			.btn-wrap {
				width:100%;
				padding-bottom:20px;
			}
		}

		.guide-wrap, .price-wrap, .review-wrap, .sns-wrap, .brand-title, .style-code-info, .mileage-wrap, .etc-wrap, .brand-shop-wrap {display:none;}

		&.active {display:block; text-indent:0; visibility:visible;}
	}

	.dim {z-index:10;}
}

.product-soldout, .product-comming {
	text-align:center;

	.soldout, .comming {
		display:inline-block;
		width: 100%;
		padding:12px 20px;
		margin-top:50px;
		font-size:16px;
		background-color:$bg-5;
		color: $font-3;
		box-sizing: border-box;
	}

	.comming {
		margin-top:0;
	}
}



.shot-discription {
	padding:20px 0;
	word-break:break-all;
	white-space:pre-wrap;
	line-height:1.5em;
	text-align:left;
}

/* 최근본 상품 */
/*
.contents {
	&.latest-items {
		.contents-title {
			&.center {padding-bottom: 0;}
		}

	}
}
*/



.stone-guide {
	display:none;
	height:0;
}




/* modalLayer guide */
#guide{
	.uk-modal-dialog {width:600px;}
}





/* 상품 QnA */
.qna-wrapper {
	margin-bottom:80px;
	.tit {text-align:center; margin-bottom:20px;}
	.product-qna-btn-group {text-align:center;}
	.qna-less {
		.info {padding-top:50px; text-align:center;}
	}

	.write-comment {
		> textarea {
			border:1px solid $border-3;
			background:#fff;
		}
	}
	.qna-list {
		margin-top:30px;
		.list {
			position:relative;
			padding:20px 30px;
			border-bottom:1px solid $border-2;
			&:first-child {border-top:1px solid $border-2;}
		}
		.question-container, .answer-container {
			position:relative;
			padding-left:52px;
			font-size:14px;
			color:#2e2e2e;

			&:before {display:block; position:absolute; top:0; left:0; font-size:30px;}
			.custom-info {
				margin-top:8px;
				font-size:12px;
				color:$font-3;

				> * {display:inline-block;}
				.date {margin-left:10px;}
			}
		}
		.question-container {
			padding-right:40px;
			min-height:45px;
			&:before {content:"Q";}
		}
		.answer-container {
			margin-top:28px;
			&:before {content:"A";}
			.content {min-height:30px;}
		}
		.btn-container {
			position:absolute;
			top:20px;
			right:30px;
			z-index:5;

			> .btn-link {padding:0;}
		}
	}


	.icon-answer-complete {display:inline-block; margin-left:10px; padding:2px 5px; font-size:10px; color:$font-5; background:red;}
}


.pop-cont {
	padding-bottom: 30px;
	.pop-title {
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.btn-wrap {
		margin-top: 30px;
	}
}


.product-poptype {
	.info-wrap_product {
		width: 100%;
		.style-code-info, .price-wrap, .review-wrap, .mileage-wrap, .option-guide, .quantity-pack, .status-wrap, .guide-wrap, .pickup-wrap, .stock-wrap, .etc-wrap {display: none;}
		.title-wrap {
			.tit {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}

.sms-complete {
	.ico-complete {
		display: inline-block;
		margin: 30px 0;
		font-size: 80px;
		color: $apply-color;
	}
	.title {
		margin-bottom: 15px;
		font-size: $font-size-l;
		font-weight: bold;
	}
	p {
		font-size: $font-size-s;
		color: $font-3;
		line-height: 1.5;
	}
}


.share-cont {
	.title {
		margin-bottom: 30px;
		font-size: 20px;
		font-weight: bold;
	}
}

/* 공유하기 팝업 width */
#share-popup .uk-modal-dialog {width: 400px;}


/* mediaquery */

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

	//product option
	.product-detail_wrap {
		> .img-detail_product {
			.product-gallery-slide {
				min-width:320px; /* 상품이미지 로드시 크기 못잡는 버그로 인해 최소 넓이 값 추가 */
			}
		}
	}

	.info-wrap_product{
		.status-wrap {
			.btn-wrap {margin-top:30px;}
			.btn-link {
				width:100%;
				margin-top:10px;
				text-align:center;
				&:first-child {margin-top:0}
				&.right {float:inherit}
				&.left {float:inherit;}
			}
		}
	}

}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	//product option
	.product-detail_wrap {
		> .img-detail_product {
			padding:0;
		}
		> .info-wrap_product {
			// margin-top: 35px;
			// padding: 0 16px;
			.title-wrap, .price-wrap, .review-wrap, .option-wrap, .status-wrap, .guide-wrap, .dp-tbl-type, .brand-shop-wrap {
				padding-left: 16px;
				padding-right: 16px;
				box-sizing: border-box;
			}
		}

		.select-box {width:100%;}
	}

	/* product name */
	.info-wrap_product  {
		.title-wrap {margin-bottom:3px;}
	}

	.product-gallery-wrap {
		.product-thumb-wrap {display:none;}
		//slide
		.product-gallery {
			.bx-controls {display:block;margin-top:-10px;}
		}

		&.left {
			.product-gallery {padding:0;}
		}
	}


	/*.img-detail_product {
		position:relative;
		padding-right: 40px;
		text-align:center;*/



	//product view
	.product-detail_view {
		margin-top:0;
		.detail-tab {display:none; margin:0;width:inherit;}
		.uk-switcher > .detail-cont {
		    	display: block;
		    	padding-top: 0;
		}
		.btn-tab {
			font-size:14px; margin-left:0; width:33.333333%; text-align:center;border-bottom:1px solid $border-3;
			&.uk-active{
				position:relative;
				&:before {
					content:'';
					position:absolute;
					display:block;
					bottom:-1px;
					left:0;
					width:100%;
					border-bottom:2px solid  $primary-color;
				}

			}
		}
		.detail-delivery {
			// .delivery-text {padding:30px 0;}
			.detail-cont-inner {padding:0 16px;}
		}
		.detail-title {
			position: relative;
			width: 100%;
			height: 56px;
			margin: 0;
			padding: 0 24px;
			font-size: 16px;
			line-height: 56px;
			background-color: $bg-1;
			border-top: 1px solid $border-2;
			box-sizing: border-box;
			i {
				position: absolute;
				right: 16px;
				top: 50%;
				margin-top: -8px;
			}
			&.uk-active i:before {
				content: $icon-arrow_top;
			}
		}

		.detail-cont {
			margin: 0;
			padding: 0;
			h3 {display: none;}
			.uk-accordion-content {
				opacity: 1;
			}
		}
	}

	/* 상품평 */
	.detail-review {
		padding:0 10px;
		.pop-detail-title {padding:0 0 10px;}
		.detail-review-summary {
			>div {
				padding-left: 16px;
				padding-right: 16px;
			}
			.opt-value-wrap {padding: 0;}
		}
		.mobile-opt-value-txt {
			display: block !important;
			p {
				display: inline-block;
				margin: 25px 20px 0 0;
				font-size: 12px;
			}
		}
	}

	/* 상품정보고시 */
	.product-noti-content {
		.noit-title {float:none;}
		.noti-value {padding-top:0;}
	}

	/* 상품타이틀 */
	.info-wrap_product {
		.title-wrap {
			.tit {font-size:17px;}
		}
		.price-wrap {
			> .price {
				> strong {font-size:24px;}
			}
		}
		.option-wrap {
			> .tit {margin:15px 0 8px;}
			.option-guide {
				padding:10px 0 0 0;
				font-size:12px;
			}
			.product-option_radio {
				.input-radio {
					&.width-fix {
						width: 25%;
					}
				}
			}
		}
		// .review-wrap {border-bottom:0;}

		.brand-shop-wrap {
			.brand-img {
				img {
					width: 48px;
				}
			}
			.brand-txt {
				padding-top: 0;
				vertical-align: middle;
				.brand-name {
					font-size: $font-size-l;
					font-weight: normal;
				}
				.brand-dsp {display: none;}
			}
			.btn-brandshop {
				right: 16px;
				top: 50%;
				margin-top: -15px;
				font-size: 13px;
				color: $font-2;
			}
		}
	}

	/* 미니옵션 */
	.mini-option-wrap {
		height:48px;

		&:after {height:48px;}
		.mini-product-item {display:none;}
		> .btn-wrap {
			height:48px;
			padding:6px;
			box-sizing:border-box;

			.btn-pack {
				position: relative;
				padding-left: 46px;
				.wish-btn-wrap {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					padding-top: 9px;
					box-sizing: border-box;
					text-align: center;
					.wish-btn {
						padding: 0;
						font-size: 24px;
					}
				}
			}

			.minioptbtn {
				position:static;
				width:100%;
				height:40px;
				margin:0;
				padding:13px 30px;
				box-sizing:border-box;
				text-align:center;
			}
			.wishlist-btn {display:none;}
		}
		.info-wrap_product {
			.status-wrap {
				padding: 0 5px 0;
				.btn-wrap {
					padding-bottom: 5px;
				}
			}
		}
	}

	.review-write {
		padding:0;
	}

	/* guide wrap */


}


/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.detail-delivery {padding:0 16px;}
	.product-detail_view {
		padding:40px 16px;
	}
	.product-noti-content {
		padding: 0 16px 16px;
	}
	.n-review-sort {
		margin-left: 0;
	}
	.n-review-read {
		margin-left: 0;
		.read-list {
			.review-help {
				.btn-area {
					&.help-btn {
						width: 100%;
						&:after {
							content: '';
							clear: both;
							display: block;
						}
						a {
							float: right;
							&:first-child {
								float: left;
							}
						}
					}
				}
			}
		}
	}
}
