.content-container{
	overflow: hidden;
	margin-bottom: 50px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	.content-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom: 20px;
	}			

	.image-container{
		width: 100%;
		text-align: center;
		img {
			width:100%;
		}
	}
	
	// tab에서는 title을 따로 사용하기 때문에 숨김
	.tab-container{
		.content-title{ display: none;}
	}

	.tab-title-container{
		margin: 0px auto 20px auto;
		text-align: center;
		&.tabtype2 {
			>ul {
				position: relative;
				width: 100%;
				margin: 0 !important;
				&:after {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: $border-2;
				}
				li {
					margin: 0 !important;
					padding: 21px 0 !important;
				}
			}
		}
	}

	// 중복 여백 제거
	.content-container{
		margin-bottom: 0px;
	}

	&.category-banner{
		.primary-image{
			 position:absolute;
			 left:33.33334%;
			 width:33.33334%;
			 text-align: center;
		}
		.product-item{
			&.margin-item{
				margin-right:33.33334%;
			}
		}
	}

	.header-title{
		color: $title_main-color;
		text-align: center;
		padding-bottom:20px;
		font-size:$font-size-xl;
		display: block;
	}

	.imageList-container{
		// 처음에는 생성된 dom에 js로 class를 적용하기 전이라 숨김
		display: none;
		margin-left:auto;
		margin-right:auto;
		.image-item{
			position: relative;
			.hover{
				position:absolute;
				top:0px;
				left:0px;
				display: none;
				width: 100%;
			}
			img{
				width:100%;
			}
		}			
	}

	.text-banner-container{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
		background:#000;
		
		li:not(:first-child){
			display: none;
		}

		.text-wrap{
			display: table;
			width: 100%;
			height:30px;
			.text-content{
				display: table-cell;
				vertical-align: middle;
				> *{
					font-size: $font-size-s;
					color:#fff;
				}
			}
		}
		.bx-wrapper {
			height: 30px;
			.bx-viewport {
				height: 30px !important;
			}
		}

		.bx-controls-direction{
			display: none;
		}

		.bxslider-controls{
			a{
				position: absolute;
			    top: 0;
			    outline: 0;
			    display: block;
			    width: 30px;
			    height: 30px;
			    line-height: 30px;
			    color: #fff;
			    i:before{
			    	font-weight: bold;
			    }
			}
			.btn-prev{
				left:10px;
			}
			.btn-next{
				right:10px;
			}				
		}

	
	}
}

@media (max-width: $breakpoint-medium) {
	.content-container{
		.content-title{
			margin:0px 0 10px !important;
		}

		&.category-banner{
			.primary-image{
				 position:relative;
				 left:0;
				 width:100%;
			}
			.product-item{
				&.margin-item{
					margin-right:0;
				}
			}
		}
	}

	.tab-title-container{
		margin: 0 auto -1px;
	}

	.text-banner-container{
		.bxslider-controls{
			display: none;
		}
	}
	
}