/*********************************************************************/
/* youngone common 
/*********************************************************************/
	
	/* font - $typo-en 지정
	/*****************************************************************/
	.filter-tagbox .filter-tit, .f-cagetory-sect .f-item>a, .f-subtitle-box, .info-wrap_product .title-wrap .brand-title, .upc-code, .info-wrap_product .title-wrap .style-code-info, .info-wrap_product .price-wrap>.price, .info-wrap_product .brand-shop-wrap, .product-checkout .label, .uk-form-row > label.uk-form-label, .login-wrap .body .register-terms .agree-confirm, .login-wrap .body .account-find {font-family: $typo-ko;}

	.f-title-box, .product-item .item-info .item-price, .safeinfo-cont, .order-tab .header .preview, .cart-order_list .order-list .order-info .option, .cart-order_list .order-list .order-info .qty, .product-checkout .total-price .shipping-text {font-family: $typo-en;}
	


	/* iconfont - only youngone 사용되는 아이콘만 정리
	/*****************************************************************/
	[class^="yo-"], [class*=" yo-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'youngone' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	.yo-ic-shopping-cart:before {
	  content: "\e949";
	}
	.yo-logo:before {
	  content: "\e900";
	  color: #004384;
	}
	.yo-ic-5star-border:before {
	  content: "\e901";
	}
	.yo-ic-5star:before {
	  content: "\e902";
	}
	.yo-ic-checkbox-minus:before {
	  content: "\e903";
	}
	.yo-ic-checkbox-off:before {
	  content: "\e904";
	}
	.yo-ic-checkbox-on:before {
	  content: "\e905";
	}
	.yo-ic-radio-off:before {
	  content: "\e906";
	}
	.yo-ic-radio-on:before {
	  content: "\e907";
	}
	.yo-ic-star-border:before {
	  content: "\e908";
	}
	.yo-ic-star-half:before {
	  content: "\e909";
	}
	.yo-ic-star:before {
	  content: "\e90a";
	}
	.yo-ic-wish-off:before {
	  content: "\e90b";
	}
	.yo-ic-wish-on:before {
	  content: "\e90c";
	}
	.yo-ic-facebook:before {
	  content: "\e90d";
	}
	.yo-ic-facebook2:before {
	  content: "\e90e";
	}
	.yo-ic-google:before {
	  content: "\e90f";
	}
	.yo-ic-instagram:before {
	  content: "\e910";
	}
	.yo-ic-kakao:before {
	  content: "\e911";
	}
	.yo-ic-kakaostory:before {
	  content: "\e912";
	}
	.yo-ic-line:before {
	  content: "\e913";
	}
	.yo-ic-naver:before {
	  content: "\e914";
	}
	.yo-ic-pinterest:before {
	  content: "\e915";
	}
	.yo-ic-share:before {
	  content: "\e916";
	}
	.yo-ic-twitter:before {
	  content: "\e917";
	}
	.yo-ic-yellowid:before {
	  content: "\e918";
	}
	.yo-ic-youtube:before {
	  content: "\e919";
	}
	.yo-ic-alert:before {
	  content: "\e91a";
	}
	.yo-ic-error:before {
	  content: "\e91b";
	}
	.yo-ic-help:before {
	  content: "\e91c";
	}
	.yo-ic-warning:before {
	  content: "\e91d";
	}
	.yo-ic-arrow-left:before {
	  content: "\e91e";
	}
	.yo-ic-arrow-right:before {
	  content: "\e91f";
	}
	.yo-ic-back:before {
	  content: "\e920";
	}
	.yo-ic-down:before {
	  content: "\e921";
	}
	.yo-ic-first-page:before {
	  content: "\e922";
	}
	.yo-ic-home:before {
	  content: "\e923";
	}
	.yo-ic-last-page:before {
	  content: "\e924";
	}
	.yo-ic-menu:before {
	  content: "\e925";
	}
	.yo-ic-more:before {
	  content: "\e926";
	}
	.yo-ic-next:before {
	  content: "\e927";
	}
	.yo-ic-up:before {
	  content: "\e928";
	}
	.yo-ic-camera:before {
	  content: "\e929";
	}
	.yo-ic-image:before {
	  content: "\e92a";
	}
	.yo-ic-pause:before {
	  content: "\e92b";
	}
	.yo-ic-play:before {
	  content: "\e92c";
	}
	.yo-ic-call:before {
	  content: "\e92d";
	}
	.yo-ic-customer:before {
	  content: "\e92e";
	}
	.yo-ic-location:before {
	  content: "\e92f";
	}
	.yo-ic-mail:before {
	  content: "\e930";
	}
	.yo-ic-mypage:before {
	  content: "\e931";
	}
	.yo-ic-save-later:before {
	  content: "\e932";
	}
	.yo-ic-ship-step1:before {
	  content: "\e933";
	}
	.yo-ic-ship-step2:before {
	  content: "\e934";
	}
	.yo-ic-ship-step3:before {
	  content: "\e935";
	}
	.yo-ic-ship-step4:before {
	  content: "\e936";
	}
	.yo-ic-ship-step5:before {
	  content: "\e937";
	}
	.yo-ic-shopping-cart2:before {
	  content: "\e938";
	}
	.yo-ic-add:before {
	  content: "\e939";
	}
	.yo-ic-cancel:before {
	  content: "\e93a";
	}
	.yo-ic-check:before {
	  content: "\e93b";
	}
	.yo-ic-close:before {
	  content: "\e93c";
	}
	.yo-ic-confirm:before {
	  content: "\e93d";
	}
	.yo-ic-drop-down:before {
	  content: "\e93e";
	}
	.yo-ic-drop-up:before {
	  content: "\e93f";
	}
	.yo-ic-filter:before {
	  content: "\e940";
	}
	.yo-ic-info:before {
	  content: "\e941";
	}
	.yo-ic-login:before {
	  content: "\e942";
	}
	.yo-ic-remove:before {
	  content: "\e943";
	}
	.yo-ic-reset:before {
	  content: "\e944";
	}
	.yo-ic-setting:before {
	  content: "\e945";
	}
	.yo-ic-write:before {
	  content: "\e946";
	}
	.yo-ic-zoom-in:before {
	  content: "\e947";
	}
	.yo-ic-zoom-out:before {
	  content: "\e948";
	}



/* close.scss */
.uk-close-alt {
    background: $close-alt-background;
}


/* modal.scss */
.uk-modal-dialog-lightbox > .uk-close:first-child {
	top: 10px;
	right: 10px;
	z-index: 10;
}

.uk-modal-dialog > .uk-close:first-child {
	float: none;
	position: absolute;
	right: 5px;
	top: 5px;
	margin: 0;
	font-size: $font-size-l;
	color: $font-3;
	opacity: 1;
}

.uk-modal-header h4 {
	font-size: 20px;
	font-weight: bold;
}

// .uk-close {
// 	font-size: $font-size-l;
// 	color: $font-3;
// 	opacity: 1;
// }


/* grid.scss */
 .uk-grid-divider:empty {
 	border-color: $border-2;
 }