/* wrapper */
.wrapper {
	padding-top:78px;
	.pdp-contents {position:static;}
}

/* 레이아웃 여백 - 좌우여백 고민 필요 */
.width-xlarge {padding:0;}

/* uikit popup button bgcolor */
.uk-button-primary {
	background-color: $button_full-bg;
	&:hover,
	&:focus {
		background-color:$button_full-bg-over;
	}
}

/* converse header */
/**************************************************************************/
	.header_layout_1 {
		position:fixed;
		width:100%;

		.header-gnb {
			& > .header-gnb_maxwidth {
				max-width:100%;
			}
		}
		.header-line {
			border-bottom:0;
			background: $lnb-bg-color-type1;
			&:after {
				content:'';
				display:block;
				clear:both;
			}
		}
		.header-lnb{
		    position: relative;
		    max-width: 100%;
		    min-height: 48px;
		    .header-logo {
			//float:left; 모바일 일때 중앙정렬
		      min-height: auto;
		      display: inline-block;
		      width: 300px;
		      padding:5px 0 5px 30px;
		      &.mobile-header-title {
		      	display: none;
		      }
		    }
		    .header-item {
		    	// display: inline-block;
		    	img {
		    		margin:8px 0;
		      		height: 22px;
		      }
		    }

		    .header-menu_etc {
		   	  padding: 12px 30px 12px 0;
		      > a {
		        i {font-size: 24px;}
		      }
		      .mini-cart {
		        position: relative;
		        .cart-num {
		          position: absolute;
		          top:0;
		          right:0;
		          display: inline-block;
		          min-width: 12px;
		          height: 12px;
		          background: $primary-color;
		          color: $font-6;
		          border-radius: 50%;
		          font-size: 10px;
		          text-align: center;
		          line-height: 12px;
		        }
		      }
		      .gnb-logout-btn {
		      	color: $primary-color;
		      }
		    }
			.header-logo {
				position: absolute;
				top: 0;
				left: 0;
				min-height: auto;
				display: inline-block;
				width: auto;
			}
			 &.align-center {
				.header-logo {
					display: table;
				}
			}

			.header-menu_onedepth {
				> .onedepth-list {
					position: static;

					> a {
						position: relative;
						display: inline-block;
						padding: 11px 0;
						font-size:16px;
						&.active {color: $lnb_color-type1-over;}
						&.active:after {
						 //    content: '';
						 //    position: absolute;
						 //    bottom: 2px;
						 //    left: 50%;
						 //    height: 0;
						 //    width: 0;
						 //    border-top: 4px solid #cfcece;
							// border-right: 4px solid transparent;
							// border-bottom: 4px solid transparent;
							// border-left: 4px solid transparent;
						 //    margin-left: -4px;
						 //    -webkit-transition: all .3s ease;
						 //    -moz-transition: all .3s ease;
						 //    transition: height .3s ease;
						}
					}
				}
				.header-menu_twodepth {
					margin: 0 auto 0;
					border: 0;
					padding: 0;
					width: 100%;
					text-align: left;

					> ul {
						max-width: $max-width;
						margin:0 auto;
						padding: 20px 0;
						box-sizing: border-box;
						text-align:center;
					}
					.twodepth-list {
						width: 110px;
						margin-right: 30px;
						display: inline-block;
						vertical-align: top;
						text-align: left;

						> a {
							border-bottom: 1px solid #333;
							font-weight: bold;
						}
						&:last-child {
							margin-right: 0;
						}
					}
				}
				.header-menu_threedepth {
					padding-left:0;
					margin-top: 10px;
					font-size: 13px;

					.threedepth-list {
						> a {
							color:$font-1;
							&:hover {color:$font-4}
						}
					}
				}
			}
			ul {
				&.account-box {
					position: absolute;
					top: 56px;
					right: 0;
					width: 170px;
					background: #fff;
					border: 1px solid #d6d6d6;
					font-size: 1em;
					font-weight: bold;
					text-transform: uppercase;
					text-align: left;
					line-height: 2.25em;
					color: #000;
					z-index: 2000;
					&:before {
						position: absolute;
						top: -7px;
						right: 75px;
						-moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						width: .83333em;
						height: .83333em;
						border-top: .08333em solid #d6d6d6;
						border-right: .08333em solid #d6d6d6;
						background-color: #fff;
						content: "";
						display: block;
						position: absolute;
					}
					li {
						border-top: 1px solid #d6d6d6;
						overflow: hidden;
						position: relative;
						&.first {
							border-top: 0;
						}
						a {
							font-size: 1.08334em;
							padding: 0 10px 0 20px;
							line-height: 2.3077em;
							background: #FFF;
							display: block;
							font-size: 13px;
							font-weight: normal;
							color: $font-1;
							box-sizing: border-box;
							&:hover {
								font-weight: bold;
								background: #F8F8F8;
							}
						}
						span {
							margin-right: 10px;
							font-size: 20px;
							vertical-align: -3px;
						}
					}
				}
			}
		}
		.gnb-search {
			// margin:24px 0 0 0;
		}
	}

	/* converse title */
	.category-title {
		&.gray {
			background-color: $bg-1;
			border-bottom: 1px solid $border-2;
		}
	}

	/* price font family */
	// .price-sale,
	// .price,
	// .order-price,
	// .header_layout_1 .header-lnb .header-menu_onedepth > .onedepth-list > a,
	// .footer-contents .footer-nav dt {
	// 	font-family: $typo-en;
	// }

/* mobile menu */
/**************************************************************************/
.mobile-menu_wrap {
	font-size: 15px;
	ul {
		margin: 0;
	}
	.user-state {
		padding: 9px 25px;
		a {
			font-size: 15px;
		}
		.micon {
			margin-right: 10px;
			font-size: 24px;
			vertical-align: -5px;
		}
		.btn-home {
			position: absolute;
			top: 20px;
			right: 20px;
			span {
				font-size: 24px;
			}
		}
	}
	.mobile-menu_twodepth  {
		.location {
			i {
				vertical-align: -1px;
				font-weight: bold;
			}
			.title {
				font-weight: bold;
			}
		}
	}
	.mobile-onedepth_list {
		> a {
			font-weight: bold;
		}
	}
	.mobile-twodepth_list {
		> a {
			background: #f8f8f8;
			font-weight: bold;
		}
		.icon-arrow_right {
			display:none;
		}
	}
	.mobile-threedepth_list {
		padding-left: 0;
		background-color: $bg-1;
	}
	.custom-center_btn {
		height: 50px;
		padding: 17px 25px;
		border-bottom: 1px solid #d6d6d6;
		&.islogin {
			padding: 13px 25px;
			color: $font-0;
			background: #F8F8F8;
			span {
				font-size: 24px;
				margin-right: 10px;
				vertical-align: -5px;
			}
		}
		&.mobile-lnb-search {
			span {
				float:right;
				margin-top: -5px;
			    font-size: 24px;
			}
		}
	}
}

/* PDP */
/**************************************************************************/
.content-area {
	> .section-product {
		padding-right:380px;
	}
}
.product-detail_wrap {
	padding-bottom:50px;
	border-bottom:1px solid $border-4;

	.img-detail_product {
		width:100%;
		padding-right:0;
	}
	.info-wrap_product {
		position:fixed; top:0; right:0; height:100%;
		max-width:380px;
		padding:0 35px 0;
		border-left:1px solid $border-4;
		background-color:$footer_bg-color-type1;

		.product-option-container {
			padding-top:130px;

			&.absolute {
				position:absolute;
				left:35px;
				right:35px;
				padding-top:initial;
			}
		}

		.option-wrap {
			.product-option_radio{
				.input-radio{
					.label{
						background-color:#fff;
						&.img-type {
							width:60px;
							height:60px;
							padding:5px;
						}
					}
				}
			}

			.select-box {
				width:189px;
				height:40px;

				.select-head {
					padding:13px 11px 13px 11px;
					background-color:#fff;
				}
			}

			.thefit-wrap{
				margin:34px 0 10px;
				.thefitshoes-div {float:left; width:185px;}
				.option-guide {float:right; padding:0;}
				&:after {content:""; display:block; clear:both;}
			}

			.msg {margin:10px 0 0;}
		}

		.title-wrap {
			margin-bottom:24px;

			.tit {
				font-size:28px;
				color:$prd_text-color;
			}
		}

		.price-wrap {
			.price {
				> strong {
					font-size:28px;
					color:$prd_sale-price;
				}
			}
		}

		.status-wrap {
			.btn-wrap {
				margin-top:0;
				.btn-link {
					height:53px;
					margin-top:10px;
					padding-top:20px;
					padding-bottom:20px;
				}
			}
		}

		.sns-wrap{
			height:72px;
			.btn-link {float:none;}
			.addthis_inline_share_toolbox {
				position:static;
				//text-align:center;
			}
		}

		.review-wrap {
			 .upc-code {display:none;}
		}

		.guide-wrap {
			.description {
				padding-bottom:10px;
			}
		}
	}
}

.quickview {
	.uk-modal-dialog {
		width:955px;
	}

	.product-detail_wrap {
		.img-detail_product {
			width:60%;
			padding-right:40px;
		}

		.info-wrap_product {
			position:relative;
			padding:0;
			border:0;
			background-color:#fff;

			.product-option-container {
				padding-top:0;
			}
		}
	}

	.thefitshoes-div {
		display:none;
	}
}

/* PDP tab */
.product-detail_view {
	max-width:860px;
	margin:0 auto;
	padding:40px 0 0;

	.detail-tab {width:521px;}
	.btn-tab {
		position:relative;
		float:left;
		width:173px;
		margin-left:-1px;
		padding-bottom:0;
		background-color:$footer_bg-color-type1;

		> a {
			&:first-child {border-left: 1px solid #d6d6d6;}

			display:block;
			padding:10px 0;
			border-top: 1px solid #d6d6d6;
			border-bottom: 1px solid #d6d6d6;
			border-right: 1px solid #d6d6d6;
			font-size:12px;
		}

		&:first-child {margin-left:0;}
		&:hover {border-bottom:0;}
		&.uk-active {
			border-bottom:0;
			background-color:#fff;

			&:after {
				position:absolute;
				top:28px;
				left:50%;
				display:block;
			    width:10px;
			    height:10px;
			    content:" ";
				margin-left:-5px;
			    border-right:1px solid #d6d6d6;
			    border-bottom:1px solid #d6d6d6;
				background: #fff;
				-moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			    -webkit-transform: rotate(45deg);
			    transform: rotate(45deg);
			}
		}
	}

	.detail-delivery {padding:30px 20px;}
}

/* color chip label */
.color-chip-label {display:block;}


/* footer */
/**************************************************************************/
	.max-width {
		max-width: $max-width;
		margin: 0 auto;
		&.border-line {
			padding-top: 30px;
		}
	}
	.border-line {
		border-top: 1px solid #e5e5e5;
	}
	.footer-menu {
		li {
			position: relative;
			border-top: 1px solid #e5e5e5;
			a {
				display: block;
			    font-size: 15px;
			    padding: 17px 15px;
			    color: $font-1;
			}
			.icon {
				position: absolute;
				top: 50%;
				right: 15px;
				margin-top:-10px;
				font-size: 18px;
			}
		}
	}
	footer {
		padding: 0 0 30px;
		.footer-contents {
			max-width: 100%;
			.com-divider {
				position: relative;
				margin-left: 4px;
				padding-left: 7px;
				&:before {
					content:'';
					position: absolute;
					top:1px;
					left: 0;
					width: 1px;
					height: 10px;
					background: #adadad;
				}
			}
		}

	}
	.newsletter-box {
		padding: 20px 0 10px;
		text-align:center;
		> dt, dd {display:inline-block;}
		> dt {
		    line-height: 3em;
		    margin-right: 10px;
		    font-size: 16px;
		    vertical-align:top;
		    color: $font-0;
		}
		.input-form-group{
			position: absolute;
			left: 50%;
			margin-left: -242px;
			.label {
				display: inline;
				font-size:11px;
				vertical-align:middle;
			}
			a {
				padding-left: 4px;
				vertical-align: -1px;
			}
		}
		.newsletter-field{
			&:after {content:''; display:block; clear:both;}
			> * {float:left;}

			.error-message {
				text-align:left;
			}
		}
		.input-textfield {
			> label {
				top: 10px;
			}
		}
	}

	.footer-nav {
		margin-top:30px;
		padding-top:10px;
		border-top:1px solid $border-4;
		.footer-sns {
			a {
				margin-right: 20px;
				font-size: 18px;
				> span {
					display: inline-block;
					width:22px;
					height: 22px;
					border-radius:50%;
					background: $bg-dimmed;
					color: $font-6;
					text-align: center;
					font-size: 16px;
					padding-top: 3px;
					box-sizing: border-box;
				}
			}
		}
	}

	.footer-company  {
		margin-top:30px;
		padding-top:30px;
		border-top:1px solid $border-4;
		font-size: 11px;
		color: #adadad;
		.supply {
			display: block;
			margin-top: 5px;
		}
		.term-list {
			font-size: 12px;
		}
	}
	.select-external-menu {
		position:relative;
		width: 100%;
		height: 40px;
		margin-bottom: 30px;
		padding:0;
		background-color: $bg-1;
	    border: 1px solid #cacaca;
	    border-radius: 0px;
	    text-align:center;
	    font-size: 12px;
	    color: $font-1;
	    box-sizing: border-box;
	    .external-list  {
	    	width: calc(100% + 2px);
	    	top: -89px !important;
	    	left: -1px !important;
	    	background-color: $bg-1;
	    	border: 1px solid #cacaca;
	    	box-sizing: border-box;
	    	li {
	    		margin: 2px 0;
	    		a {
	    			padding: 5px 0;
	    			display: block;
	    			background-color: #e5e5e5;
					color: $font-0;;
	    		}
	    	}
	    }
	    .external-btn {
	    	border:0;
	    	background: none;
	    	width: 100%;
	    	padding: 12px 0;
	    }
	}
	.insurance {
		.tit {
			display: inline-block;
			padding-bottom: 5px;
		}
		a {
			display: block;
			margin-top:3px;
		}
	}

	/* newsletter popup */
	.privacy-popup {
		padding-left: 68px;
		.icon-lock {
			position: absolute;
			top: 20px;
			left: 30px;
			font-size: 48px;
		}
		.txt {
			font-size: 14px;
			line-height: 24px;
			color: $font-1;
		}
	}

/* store */
/**************************************************************************/
.store-locator {
	position:absolute;
	top:0;
	right:0;
	padding: 48px 75px 0 0;
	color: $font-0;
	font-weight: bold;

	.icon {
		display: inline-block;
		width: 20px;
		height: 20px;
		// font-size: 18px;
		// vertical-align: -3px;
		margin-left: 5px;
		background: url(https://image.converse.co.kr/assets/images/con-logo@2x.png) no-repeat;
		background-size: 20px;
		vertical-align: -5px;
	}
}
.location-title {font-size:20px;}

/* category */
/**************************************************************************/
/* 카테고리 상품네임 */
.product-item {
	margin-top:0px;
	.item-info {
		margin-top:0px;
		.item-title{
			margin-top:8px;
			font-size: 12px;
			color:#b2b2b2;
		}
		.item-price  {font-size: 14px; font-weight: bold;}
	}
	.item-marketing-price{
		&.text-center{
			display: inline-block;
			width: 100%;
			text-align: center;
		}
	}
}

.color-chip-container{
	display: inline-block;
	margin: 12px 0px 0px 0px;
	width:auto;
	.color-chip{
		margin:0px;
	}
	.color-chip-label{
		letter-spacing: 0px;
	}
}

.swipe-container{
	.slide{
		>div{
			padding:0px 50px;
		}
	}
}

.product-gallery-wrap {
	.product-thumb {
		.thumb-list {
			padding:5px;
			background-color:#fff;
		}
	}
}


/* categoryItem */
.product-item {
	> div:first-child {padding:0 20px;}
	.color-chip-container {
		width:auto;
		padding:0 20px;
	}

	.item-info {
		&.center{text-align:center;}
	}

	.color-chip-container {
		text-align:center;

		.color-chip {
			display:inline-block;
			float:none;
			&:first-child {margin-left:0;}
		}
	}
}


/* filter */
.section-category {
	.filter-wrap_category {
		margin-bottom:38px;

		.filter-tagbox {
			padding: 10px 0 0 0;
			font-size: 16px;
			font-weight: bold;
		}
	}

	.select-box.right {
		width:125px;
		.select-head { padding: 10px; border: 1px solid #e6e5dd; }
		right: 105px;
	}

	.clear-filter-btn {
		position:absolute;
		right:15px;
		height: 2.5em;
    	display: block;
	    border: 1px solid #e6e5dd;
	    font-weight: bold;
	    text-transform: capitalize;
	    padding: 0 .66667em;
	    line-height: 2.5em;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
}


.f-style-square {
	text-align:center;
	padding:0;

	.f-item {
		float:none;
		display:inline-block;
		margin:5px 0 0 5px;
		padding:0;

		label {
			min-width:30px;
			height:30px;
		}
	}
}


.refinement-filter-container {
	background-color: #f8f8f8;

	.f-refine-sect {
		display:none;
		padding:16px 0;
		border-bottom:1px solid #e6e5dd;
		&.open {display:block;}
	}
	&.mobile-only {
		padding:30px;

		> div {
			margin:-10px 0 0 -10px;
			&:after {content:""; display:block; clear:both;}
			.select-box {
				float:left;
				width:calc(50% - 10px);
				margin:10px 0 0 10px;
			}
		}
		.clear-btn-wrap {
			text-align:center;
			.clear-filter-btn {
				position:static;
				display:inline-block;
				border:0;

			}
		}
		.refinement-wrap {
			margin-top:20px;
			border:0;
		}
	}
}

.refinement-wrap {
	border-top:1px solid #e6e5dd;
	border-bottom:1px solid #e6e5dd;

	&:after {content:""; display:block; clear:both;}
	.refinement {
		float: left;
	    position: relative;
	    width: 14em;
	    height: 100%;
	    border-right: 1px solid #e6e5dd;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;

		&:first-child { border-left: 1px solid #e6e5dd; }
		&.active {background-color:#fbfbf9;}
		&.brandSegment {
		    border-right:0;
		    width: auto;
		    padding: 0 1em;
			padding-top:21px;
			line-height:49px;
			min-height:75px;
		    float: right;
		    border-left: 1px solid #e6e5dd;
			border-right: 1px solid #e6e5dd;

			ul {
				li {
					box-sizing: border-box;
				    display: inline-block;
					width:64px;
					height:39px;

					&.selected {
						border:2px solid;
					}

					&.not-available {
					    opacity: .3;
					    filter: alpha(opacity=30);
					    -khtml-opacity: .3;
					    -moz-opacity: .3;
					}
				}
			}


			.refinement-br {
				display: inline-block;
			    width:60px;
			    height:35px;
				> span {
					overflow:hidden; position:absolute; left:-9999px; text-ident:-9999px; opacity:0; filter:alpha(opacity=0);
				}

				&.refinement-all-star {
				    background: url(https://image.converse.co.kr/assets/images/sprites_site_graphic.png) 0 -193px no-repeat transparent;
				}

				&.refinement-cons {
					background: url(https://image.converse.co.kr/assets/images/sprites_site_graphic.png) 0 -226px no-repeat transparent;
				}

				&.refinement-jack-purcell {
				    background: url(https://image.converse.co.kr/assets/images/sprites_site_graphic.png) 0 -292px no-repeat transparent;
				}
			}
		}

		> h3 {
			font-size: 1em;
		    color: #000;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		    text-transform: uppercase;
		    text-align: center;
		    line-height: 5.83333em;
		    cursor: pointer;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}

		.has-refinement-values {
			height: 0;
			width: 0;
			border-color: transparent;
			border-style: solid;
			border-width: .5em;
			border-top-color: #000;
			position: absolute;
			bottom: .5em;
			left: 46%;
		}

		.remove-refinement {
			border:0;
			margin:0;
			padding:0;
			background:none;
		}
	}
}



/* breadCrumb */
.bread-crumb {
	border-bottom:0;
	color:$font-1;
	font-size:17px;

	.breadcrumb-divider {font-size:17px;}
	.crumb {
		.current {color:$font-1;}
		a { font-size:17px; color:$font-1;}
	}
}

/* badge */
.brz-badge-container {
	.brz-badge-hot {background-color:#9b0001;}
	.brz-badge-new {background-color:#014886;}
	.brz-badge-onlineonly {background-color:#000;}
	.brz-badge-soldout, .brz-badge-hot, .brz-badge-new, .brz-badge-onlineonly, .brz-badge-sale, .brz-badge-featured, .brz-badge-comming { font-size:11px; padding:1px 4px; }
}






/* color chip label */
.color-chip-label {display:block;}


/* product-noti-content */
.product-noti-content {
	margin-top:50px;
    padding-top:30px;
    border-top:1px solid #e5e5e5;
}

/* cart */
/**************************************************************************/
.item-container {
	.item-list-wrap {
		max-width:100%;
	}
}

/* login */
/**************************************************************************/
.social-login-container {
	.btn-link {
		&.large {
			border:0;
			padding-top: 10px;
			.txt {
				width: auto;
				padding-left: 10px;
			}
		}
		i {
			width: 20px;
			height: 20px;
			line-height: 20px;
			&:after {
				width:0
			}
		}
		&.btn-facebook {
			.icon-facebook {
				background:#36558b;
				color: $font-6;
			}
		}
		&.btn-kakao {
			.icon-kakaotalk {
				background:#fedc32;
				color: $font-0
			}
		}
		&.btn-google {
			.icon-google {
				background:#DD4B3F;
				color: $font-6;
			}
		}

	}
}

/* cscenter */
/**************************************************************************/
/* 고객센터 우측 고객문의 */
.sidebar-customer-inquiry {
	padding: 30px 10px;
	border: 1px solid $border-2;
	text-align: center;
	line-height: 1.6;
	.icon-call {
		font-size: 48px;
		color: $font-0;
	}
	.inquiry-title {
		font-size: 14px;
		padding: 20px 0 5px;
		color: $font-1;
		font-weight: bold;
	}
	.inquiry-txt {
		color: $font-3;
	}
	.phone-number {
		a {
			font-size: 22px;
			color: $font-1;
		}
	}
}

.customer-aside {
	.lnb {
		> a {
			color: $font-0;
			font-weight: bold;
		}
		.twodepth-lnb {
			.list {
				padding:12px 0;
				color: $font-0;
			}
		}
	}
}
.cscenter-quick-menu {
	width: 100%;
	border: 1px solid #cacaca;
	padding: 20px 30px;
	box-sizing: border-box;
	ul {
		display: table;
		width: 100%;
	}
	li {
	    display: table-cell;
	    width: 25%;
	    text-align: center;
	    a {
    		display: inline-block;
    		> span {
    			font-size: 46px;
    		}
    		h4 {
			    font-weight: bold;
			    font-size: 12px;
			    padding: 0;
			    margin-top: 10px;
			}
    		&:hover {
				h4 {
				    color: #999;
				}
    		}
		}

	}
}


/* converse icon */
/**************************************************************************/
[class^="cv-"], [class*=" cv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'converse' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cv-help:before {
  content: "\e900";
}
.cv-ic-one-question:before {
  content: "\e950";
}
.cv-ic-order-search:before {
  content: "\e951";
}
.cv-ic-find-id:before {
  content: "\e953";
}
.cv-ic-personal-info:before {
  content: "\e954";
}
.cv-ic-call:before {
  content: "\e907";
}
.cv-ic-cart:before {
  content: "\e90a";
}
.cv-ic-converse:before {
  content: "\e90d";
}
.cv-ic-cs:before {
  content: "\e910";
}
.cv-ic-drawer:before {
  content: "\e915";
}
.cv-ic-facebook:before {
  content: "\e91b";
}
.cv-ic-home:before {
  content: "\e91d";
}
.cv-ic-instagram:before {
  content: "\e91e";
}
.cv-ic-lock:before {
  content: "\e923";
}
.cv-ic-myaccount-circle:before {
  content: "\e927";
}
.cv-ic-next:before {
  content: "\e929";
}
.cv-ic-off:before {
  content: "\e92a";
}
.cv-ic-order-deliver:before {
  content: "\e92d";
}
.cv-ic-photo:before {
  content: "\e92f";
}
.cv-ic-search:before {
  content: "\e934";
}


.mobile-filter-wrap {margin-bottom:30px;}

/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width:$breakpoint-medium) {
	/* 기존 클래스를 오버라이드 되었는데 이클래스를 사용하는 다른곳에서 에러가 되어서 다시 제거 */
	//.uk-hidden-small {display: block !important;}
	.section-category {
		.filter-wrap_category {
			margin-bottom:0;

			.select-box {
				&.right {
					border:0;
					.select-head {
						padding-top:17px;
	    				font-weight:bold;
						font-size:13px;
					}
				}

				> select {
					height: 48px;
					border:1px solid #ebebeb;
					text-align: center;
					text-align-last: center;
					font-size: 13px;
				}
			}

			.btn-link {
				border-top:1px solid #ebebeb;
				padding-top:16px;
				text-align:center;
			}


			.detail-filter {
				width:50%;
				position:relative;
				display:inline-block;

				&:before {
					position:absolute;
					top:50%;
					right: 15px;
					content:"";
					display:inline-block;
					width:6px;
					height:6px;
					margin-top:-6px;
					border-right:2px solid #e5e5e5;
					border-top:2px solid #e5e5e5;
					transform:rotate(135deg);
				}

				.btn-link {width:100%;}
			}

			.filter-tagbox {
				float:none;
				display:block;
				text-align:center;

				margin:20px;
			}
		}

		.select-box.right {
			position:relative;
			width:50%;
			right:0;
			float:right;

			.select-head {text-align:center;}
		}

		.clear-filter-btn {

		}
	}


	.refinement-wrap {
		.refinement{
			&.brandSegment{
				float:none;
				width:100%;
				border:0;
				text-align:center;
			}
		}
	}
	.img-detail_product {
		.bx-wrapper {
			.bx-controls {margin-top:22px;}
		}
	}

	.product-detail_view {
		.detail-tab {
			display:table;
			width:100%;
			margin-top:40px;

			.btn-tab {
				display:table-cell;
				width:33.3%;
			}
		}
	}

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {

	.customer-contents {
		&.show {margin-top: 0;}  // mc이고 fixed header일 경우 padding값 조정
	}

	.wrapper {
		padding-top:86px;
	}

	.header_layout_1 {
		.header-lnb {
			.header-menu_etc {
				padding: 0;
				width: auto;
				.gnb-cs-btn,
				.gnb-login-btn,
				.gnb-logout-btn {display: none;}
			}
			.header-logo {
				position: relative;
				float: none;
				display: inline-block;
				min-height: 56px;
				padding: 0;
				.header-item {
					img {
						height: 20px;
						margin-top: 16px;
					}
				}

			}
			.mobile-header-title {display: none;}
			.header-menu_mobile {
				& > a {
					& > i {color: #fff;}
				}
			}
		}
	}


	/* PDP */
	.content-area {
		> .section-product {
			padding-right:0;
		}
	}


	.quickview {
		.product-detail_wrap {
			.img-detail_product {
				width:100%;
				padding:0;
			}
		}
	}

	.product-detail_wrap {
		padding-bottom:50px;
		border-bottom:1px solid $border-4;

		.info-wrap_product {
			position: static;
			max-width: 100%;
			padding:0 10px;
			margin-top:30px;
			background-color: #fff;

			.product-option-container {
				padding-top:0;

				.status-wrap {
					.btn-link {
						height: 40px;
						font-size: 14px;
						padding: 13px 30px;
					}
				}
			}
		}
	}

	.swipe-container{
		.slide{
			> div{
				padding:0px 25px;
			}
		}
	}

	.footer-contents {
		margin: 0;
		padding: 0;
		.footer-nav {
			margin-top: 0;
			padding-top: 5px;
			text-align: center;
			&:before {
				margin-top:0;
			}
		}
	}
	.newsletter-box {
		.input-form-group{
			position: static;
			// left: 50%;
			margin-left: 0;
			.label {
				display: inline-block;
				text-align: left;
				line-height: 16px;
			}
			a {
				padding-left: 10px;
				vertical-align: 4px;
			}
		}

	}

	.footer-company {
		margin-top:10px;
		padding: 10px;
		text-align: left;
		.none {display: none;}
	}
	.footer-sns {
		a {
			margin: 0 10px;
			font-size: 22px;
		}
	}
	.social-login-container {
		.btn-link {
			&.btn-facebook {
				background:#36558b;
				text-align: center;
				color: $font-6;
			}
			&.btn-kakao {
				background:#fedc32;
				text-align: center;
				color: $font-6;
			}
			&.btn-google {
				background:#DD4B3F;
				text-align: center;
				color: $font-6;
			}

		}
	}
	.cart-title {display:none;}

}
/* 2018.03.29 불필요한 미사용 리뷰영역 높이값 0px 처리 */
.main-review-popup {
	.review-read {
		&.my-comment-read {min-height:0px;}
	}
}
/* 2018.12.11 회원 가입 ,mypage attribute css */
.uk-form-row .input-radio:nth-of-type(1) {float:left; margin-right:10px;}
.uk-form-row .input-radio:nth-of-type(2) {display:inline-block;}

/* 2018.12.11 회원 가입 ,mypage  css */
.customer-update .agree-test {
    padding-top: 7px;
    font-size: 11px;
    line-height: 1.5;
}

/* 2019.03.11 PDP 연관상품 css */
.contents {
  &.related-items{
    &.visible-controls{
			overflow: visible;
    }
  }
}
.product-detail_wrap {
	& .info-wrap_product{
		z-index:1;
	}
}
footer {
	z-index: 2;
}

/* 2019.04.03 컨버스 본인인증 css */
.gb-layerPop {
  text-align: center;
  background: #fff;
  z-index: 1002;
}

.gb-layerPop.pay-certi .title {
  padding: 55px 0 25px;
  border-bottom: 1px solid #e1e1e1;
}

.gb-layerPop.pay-certi .gb-layerCon {
  padding-top: 30px;
}

.gb-layerPop.pay-certi .gb-layerCon p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.gb-layerPop.pay-certi .desc {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.gb-layerPop.pay-certi .btn-area {
  padding: 0 80px;
}

.gb-layerPop.pay-certi .btn-area p {
  margin-top: 10px;
}

.gb-layerPop.pay-certi .btn-area .global_btn_type1,
.gb-layerPop.pay-certi .btn-area .kmc-trigger {
  width: 100%;
}

.gb-layerPop .title {
  font-size: 24px;
  font-weight: 600;
  color: #111;
}

.gb-layerPop .gb-layerCon {
  padding: 55px 60px 50px;
}

.gb-layerPop .desc {
  margin-top: 13px;
  line-height: 1.5;
}

.gb-layerPop .btn-area {
  margin-top: 25px;
}

.gb-layerPop .btn-area .global_btn_type1,
.gb-layerPop .btn-area .kmc-trigger {
  margin: 0 3px;
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 20px;
  border-radius: 2px;
  background-color: #111;
  text-align: center;
  color: #fff;
}

.gb-layerPop .btn-area .global_btn_type1.gray {
  color: #fff !important;
  border: 1px solid #999 !important;
  background: #999;
}

/* 2019.04.03 컨버스 본인인증 css */
@media (max-width: 768px) {
  .gb-layerPop.pay-certi .btn-area {
    padding: 0px;
  }
}