.gp{
	position:fixed; top:0px; left:0px; z-index:1001; display:none; width:100%; height:100%; 
	&.fix-header{
		position:relative; 
		height: auto;
	}
	&.layer{
		width:auto;
		height:auto;
	}
	.gp-overlay-container{
		position:absolute; top:0; left:0; width:100%; height:100%;
	}
	.gp-fix-header-container{
		width: 100%;
		overflow: hidden;
	}
	.gp-content-container{
		width:100%; height:100%; display:none; position:relative;box-sizing:border-box;
		line-height: 1.4;
		.gp-content{
			box-sizing:border-box;
			overflow: hidden;
			width:100%; 
			/* height: 100%; */
  			height: initial; /* popup only */
			.view{
				width: 100%;
			}
		}
		.gp-close{
			&.overlay{
				position:absolute;
				height:auto;
				line-height:1;
			}
			background: transparent; height:30px !important; line-height:30px !important;
			span[class^="icon-"]{
				font-size:15px; line-height:0; padding:3px 0px; vertical-align:middle;
			}
			.close-container{
				display: inline-block;
				.close-group{
					display: table;
					.input-checkbox{
						display: table-cell;
						vertical-align: middle;
						padding-right:5px;
					}
					.btn{
						&.close{
							display: table-cell;
							vertical-align: middle;
						}
					}
				}					
			}	
		}
	}

	.gp-type-1{
		.title{
			text-align:justify;
			text-justify: inter-word;
			text-align-last: justify; 
			/* for IE9 */
			-ms-text-align-last:center;
			color: $primary-color;
			&:after{
				content: ".";
				display: inline-block;
				width: 100%;
				height: 0;
				visibility: hidden;
			}
		}
		.sub-title{
			text-align:justify;
			color: $primary-color;	
		}
	}
}


