
/*******************************************************************/
/************************** header type 2작업 ***********************/
/* main default header 디자인에서 override된 방식임.
/* 1. 변수값 처리 필요
/* 2. 구조개선 필요
/*******************************************************************/
.header_layout_2 {
	/* header top mini menu */
	.header-gnb {
		color: $gnb_color-type2;
		font-size:10px;
		background: $gnb_bg-color-type2;							 /* 1depth 배경 컬러 */
		box-sizing:border-box;
		a {
			display:inline-block;
			padding:5px 0 5px 10px;
			color: $gnb_color-type2;
			&:after {
				content:'';
				position: absolute;
				top: 5px;
				right: -11px;
				display:block;
				width: 1px;
				height: 10px;
				background-color: $border-3;
			}
		}
		.cart-num {
			display: inline-block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: $primary-color;
			color: $font-6;
			vertical-align: 0;
			text-align: center;
			line-height: 18px;
		}

		> .header-gnb_maxwidth {
			max-width:$max-width;
			margin:0 auto;

			> .header-event {
				float:left;
				span {display:inline-block; padding:10px 0;}
			}

			> .header-mymenu {
				float:right;
				padding:0;
				margin:0;

				> li {
					display:inline-block;
					margin-left:10px;
					vertical-align: middle;
					&:last-child {
						a:after {width:0;}
					}
				}
			}

			&:after {content:""; display:block; clear:both;}
		}
	}



	.header-lnb {
		position:relative;
		display: table;
		width: 100%;
		max-width: 100%;
		margin:0 auto;
		font-size:12px;
		text-align:center;
		box-sizing:border-box;
		z-index:101; 			/* slider버튼 z-index위치관련 처리 */
		&:after{content:""; display:block; clear:both;}
		&.fixed {position:fixed;}


		/* logo */
		.header-logo-conts {
			display: table;
			width: 100%;
			max-width:$max-width;
			margin:0 auto;
		}

		.header-logo {
			display:table;
			float:left;
			height: 100%;
			min-height: 70px;
			padding: 15px 0;
			vertical-align: middle;

			.header-item {
				display: table-cell;
				vertical-align: middle;
			}
			&.mobile-header-title {display:none;}
		}
		.category-title {
			font-size:18px;
			color: $title_category-color;
		}

		a {color: $lnb_etc-menu-color;}

		.header-menu-wrap {
			clear:both;
			width: 100%;
			background: $lnb_bg-color-type2;

			.width-xlarge {
				position:relative;
				margin:0 auto;
			}

			.header-submenu-wrap {
				position:absolute;
				left:0;
				width:100%;
				height:auto;
				background: $lnb_depth2-bg-type2;					 /* 2,3depth 배경 컬러 */
			}
			.menu-banner-wrap{
				position:absolute;
				top:35px;
				right:0;

				.menu-banner-conts {
					display:none;
					width:464px;

				}
				.menu-banner-item {
					display:inline-block;
					width:212px;
					padding:0 0 20px 16px;
				}
			}

		}

		.header-menu_onedepth{
			clear:both;
			display:block;
			max-width:$max-width;
			margin:0 auto;
			line-height:1.2em;

			> .onedepth-list {
				display:table-cell;
				padding:0 20px;

				&:first-child {
					padding-left:0;
				}
				& > a {
					color: $lnb_color-type2;  					/* 1depth 폰트 컬러 */
					font-weight:normal;
					line-height:38px;  				/* 1depth 메뉴 높이값 */
					&:hover {color: $lnb_color-type2-over;}
				}

				> .header-menu_twodepth.active {
					display:block;
				}

				.img-menu {
					img {
						height: 13px;
						margin-top: -2px;
					}
				}
			}

			.header-menu_twodepth {
				display:none;
				left:0;
				min-width:120px;
				padding:30px 10px 0;					/* 2depth 여백 값 */
				line-height:1em; 					/* 메뉴 텍스트 상하여백 초기화*/
				line-height:1em;
				text-align: left;

				.twodepth-list {
					display: inline-block;
					min-width:230px;
					margin-bottom: 30px;
					vertical-align: top
				}

				.twodepth-list > a {
					display:block;
					color: $lnb_depth2-color-type2;					/* 2depth 폰트 컬러 */
					padding:5px 0;
					// font-weight:bold;
					line-height:1.2em;
					&:hover {color: $lnb_depth3-color-type2-over;}
				}
			}

			.header-menu_threedepth {
				a {
					display:inline-block;
					color: $lnb_depth3-color-type2;					/* 3depth 폰트 컬러 */
					padding:7px 0;
					font-weight:normal;
				}
			}

			.back-img {
				width:320px;
				background-image:url("/assets/images/menu_back.png");
				background-repeat:no-repeat;
				background-position:bottom right;
			}
		}

		.header-menu_etc {
			display: table-cell;
			min-height: 100px;
			text-align: right;
			vertical-align: middle;

			> a {
				&:first-child {margin-left:0;}
				display:inline-block;
				margin-left:13px;
			}
			.etc-menu {
				display:inline-block;

				.etc-menu-item {
					position:relative;
					display:inline-block;
					padding:0 12px;
					&:before {
						content:'';
						display:block;
						position:absolute;
						top:1px;
						left:0;
						width:1px;
						height:10px;
						background: $lnb_etc-menu-divider;
					}
					&:first-child{
						&:before {width:0;}
					}
				}
			}
			.etc-menu-mobile {
				display: none;
			}
		}

		.header-menu_mobile {
			display:none;

			&:after {content:""; display:block; clear:both;}

			> a {
				display:block;
				width:26px;
				height:26px;
				text-indent:0;
				// font-weight:bold;
				font-size:26px;
				margin-left:10px;
				color: $mc-lnb_depth1-color;

				> i {float:left;}
			}
		}

		ul {list-style:none; margin:0; padding:0; border:0;}
	}

	.gnb-search-field {
		position:relative;
		display:inline-block;
		vertical-align:middle;
		margin-left:30px;

		.input-textfield {
			> input {
				width:250px;
			}
			.btn-wrap {
				right:36px;
				margin-top:-12px;
			}
		}
		.btn_search {
			position:absolute;
			top:0;
			right:0;
			width:36px;
			height:36px;
			padding:0;
			border:0;
			background:none;

			span {display:none;}
			.icon-search {
				display:block;
				font-size:18px;
				color: $lnb_search-icon-color;
			}

		}
	}
}
.mobile-menu_wrap {
	.uk-offcanvas-bar {background-color: $mc-lnb_bg-color;}
	.user-state, .location {
		height:60px;
		border-bottom:1px solid $mc-lnb_border-color;
		padding:13px 25px;
		background-color: $mc-lnb_state-bg-color;
		box-sizing:border-box;

		.title {display:inline-block; margin-left:4px;
			// font-weight:bold;
		}
	}
	.user-state {
		a {color: $mc-lnb_state-font-color;}
	}
	.mobile-menu_twodepth {
		.location {
			i {
				// font-weight:bold;
				vertical-align:middle; color: $mc-lnb_depth1-color;}
			.title {padding:10px 0; color: $mc-lnb_depth1-color;}
		}
	}
	.mobile-onedepth_list {
		// > a {font-weight:bold;}
	}

	.mobile-onedepth_list, .mobile-twodepth_list, .mobile-threedepth_list {
		border-bottom:1px solid $mc-lnb_border-color;
		> a {
			width:100%;
			display:inline-block;
			padding:18px 25px;
			color: $mc-lnb_depth1-color;
			box-sizing:border-box;
		}
	}

	.mobile-threedepth_list {
		&:last-child {border-bottom:0;}
		padding-left:20px;
		background-color: $mc-lnb_depth3-bg;
	}


	.icon-arrow_right {float:right;}
	.store_btn, .custom-center_btn, .logout_btn {display:inline-block; width:100%; padding:15px 25px; box-sizing:border-box; color: $mc-lnb_etc-font-color;}

	ul {list-style:none; padding:0;margin:0 0 10px 0;border:0;}
	.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
}

.mobile-menu_twodepth {
	overflow-y:auto;
	position:fixed;
	width:270px;
	top:0;
	bottom:0;
	left:270px;
	background-color: $mc-lnb_depth2-bg;
}


.search-lock {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: 0;
	z-index: 10;
}


/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.header_layout_2{
		.header-gnb {
			.header-gnb_maxwidth {
				.header-event {float:none; text-align:center;}
				.header-mymenu {display:none;}
			}
		}

		.header-lnb {
			padding:0;
			height:56px;
			border-bottom: 1px solid $mc-lnb_border-color;
			.header-logo {
				float:none;
				height:18px;  // 모바일 로고 세로값  사이즈
				min-height: 56px;
				margin:0 auto;
				padding:0;
				background-size:533px auto; // pc용 이미지 축소
				.header-item {
					img {max-height:50px}
				}
			}
			.mobile-header-title {
				display:inline-block;
			}
			.header-menu-wrap {display:none;}
			.header-menu_etc {
				float:none;
				position:absolute;
				min-height: 56px;
				top:14px;
				right:20px;
				margin-top:0;
				a {
					margin-left:6px;
				}
				i {
					&.large {font-size:26px;}
				}
				.etc-menu {display:none;}
				.gnb-search-field {display:none;}
				.etc-menu-mobile {
					display: inline-block;
				}
			}

			.header-menu_mobile {
				display:block;
				position:absolute;
				top:15px;
				left:10px;
				> a {display:block;}
			}

			.header-menu_onedepth {
				overflow-y:auto;
				position:fixed;
				top:0;
				left:-320px;
				bottom:0;
				width:300px;
				padding:20px 0;
				line-height:1;
				float:none;
				background: $mc-lnb_bg-color;
				z-index:1000;

				> .onedepth-list {
					display:block;
					padding:0;

					> a {display:block;padding:20px 30px;}
				}

				.header-menu_twodepth {
					display:none;
					position:static;
					width:100%;
					padding:10px 0;
					border:0;
					margin:0;
					background:$mc-lnb_depth2-bg;
					line-height:30px;

					&.active {display:block;}
					> .twodepth-list > a{display:block; padding:5px 30px;}
				}

				a {color: $mc-lnb_depth1-color;font-size:12px;}
			}
		}
	}

}
