header {
	margin:0 auto;
}



.header_layout_1 {
	z-index: 101;
	.header-gnb {
		// height:30px;
		// padding:10px 0;
		color: $gnb_color-type1;
		font-size:10px;
		background: $gnb_bg-color-type1;
		box-sizing:border-box;
		a {
			display:inline-block;
			padding:10px 0;
			color: $gnb_color-type1;
		}

		> .header-gnb_maxwidth {
			max-width:$max-width;
			margin:0 auto;

			> .header-event {
				float:left;
				span {display:inline-block; padding:10px 0;}
			}

			> .header-mymenu {
				float:right;
				padding:0;
				margin:0;

				> li {
					display:inline-block;
					margin-left:10px;
				}
			}

			&:after {content:""; display:block; clear:both;}
		}
	}

	.header-line {border-bottom:1px solid $border-1; }


	.header-lnb {
		position:relative;
		width: 100%;
		margin:0 auto;
		font-size:14px;
		text-align:center;
		box-sizing:border-box;
		z-index:101; /* slider버튼 z-index위치관련 처리 */
		&:after{content:""; display:block; clear:both;}
		&.fixed {position:fixed;}

		// 주문결제 헤어 로고만 있는거 전체 공통
		&.align-center {
			.header-logo {
				float:inherit;
				width: 100%;
				min-height: 50px;
				padding:0;
				img {max-height:44px;}
			}
		}


		a {color: $lnb_color-type1;
			// font-weight:500
		}

		.header-logo {
			display:table;
			height: 100%;
			min-height: 70px;
			padding: 15px 0;
			vertical-align: middle;

		}
		.header-item {
			display: table-cell;
			vertical-align: middle;
			img {

			}
		}
		.category-title {
			font-size:18px;
			color: $title_category-color;
		}
		.mobile-header-title {display:none;}

		.header-menu_onedepth{
			// float:left;
			display:inline-block;
			padding:0;
			line-height:26px;
			text-align:center;
			vertical-align: middle;

			> .onedepth-list {
				position:relative;
				display:inline-block;
				padding:0 20px;

				> .header-menu_twodepth.active {
					display:block;
				}

				.img-menu {
					img {
						height: 13px;
						margin-top: -2px;
					}
				}
			}

			.header-menu_twodepth {
				display:none;
				position:absolute;
				left:0;
				min-width:120px;
				padding:30px;
				margin-left:-13px;
				border:1px solid $border-2;
				background: $lnb_depth2-bg-type1;
				line-height:30px;
				text-align: left;

				.twodepth-list > a{
					display:block;
					color: $lnb_depth2-color-type1;
				}
			}

			.header-menu_threedepth {
				padding-left:20px;
				color: $lnb_depth3-color-type1;
				.threedepth-list {
					> a {
						color: $lnb_depth3-color-type1;
						&:hover {color: $lnb_depth3-color-type1-over;}
					}
				}
			}

			.back-img {
				width:320px;
				background-image:url("/assets/images/menu_back.png");
				background-repeat:no-repeat;
				background-position:bottom right;
			}
		}

		.header-menu_etc {
			float: right;
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			vertical-align: middle;
			text-align: right;

			> a {
				&:first-child {margin-left:0;}
				display:inline-block;
				margin-left:13px;
			}
		}

		.header-menu_mobile {
			display:none;

			&:after {content:""; display:block; clear:both;}

			> a {
				display:block;
				width:26px;
				height:26px;
				text-indent:0;
				// font-weight:bold;
				font-size:26px;
				margin-left:10px;
				color: $font-0;

				> i {float:left;}
			}
		}

		ul {list-style:none; margin:0; padding:0; border:0;}
		.mobile-menu_threedepth {border-top:1px solid $mc-lnb_border-color;}
	}
}
.mobile-menu_wrap {
	.uk-offcanvas-bar {background-color: $mc-lnb_bg-color;}
	.uk-offcanvas-bar[mode='reveal'] {clip:auto !important;}
	.user-state, .location {
		height:60px;
		border-bottom:1px solid $mc-lnb_border-color;
		padding:13px 25px;
		background-color: $mc-lnb_state-bg-color;
		box-sizing:border-box;

		.title {display:inline-block; margin-left:4px;
			// font-weight:bold;
		}
	}
	.user-state {
		a {color: $mc-lnb_state-font-color;}
	}
	.mobile-menu_twodepth {
		.location {
			i {
				// font-weight:bold;
				vertical-align:middle; color: $mc-lnb_depth1-color;}
			.title {padding:10px 0; color: $mc-lnb_depth1-color;}
		}
	}
	.mobile-onedepth_list {
		// > a {font-weight:bold;}
	}

	.mobile-onedepth_list, .mobile-twodepth_list, .mobile-threedepth_list {
		border-bottom:1px solid $mc-lnb_border-color;
		> a {
			width:100%;
			display:inline-block;
			padding:18px 25px;
			color: $mc-lnb_depth1-color;
			box-sizing:border-box;
		}
	}

	.mobile-threedepth_list {
		&:last-child {border-bottom:0;}
		padding-left:20px;
		background-color: $mc-lnb_depth3-bg;
	}


	.icon-arrow_right {float:right;}
	.store_btn, .custom-center_btn, .logout_btn {display:inline-block; width:100%; padding:15px 25px; box-sizing:border-box; color: $mc-lnb_etc-font-color}

	ul {list-style:none; padding:0;margin:0 0 10px 0;border:0;}
}

.mobile-menu_twodepth {
	overflow-y:auto;
	position:fixed;
	width:270px;
	top:0;
	bottom:0;
	left:270px;
	background-color: $mc-lnb_depth2-bg;
}

.mobile-customer_wrap {

}



.mini-cart-cnt {
	position: absolute;
	top:0;
	right:-8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	background: $cart-icon_qty-bg;
	color:  $cart-icon_qty-color;
	font-size: 8px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	&.empty{
		&:after{
			display: none;
		}
	}
	&:after{
		// content: attr(icon-text-attr);


	}
}



/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {

}

/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.header-lnb {
		height: 56px;
	}

	.header-menu_mobile{
		a{
			i{
				&.icon-arrow_left{
					font-size:18px;
					padding-top:3px;
				}
			}
		}
	}	

	.header_layout_1{
		.header-gnb {
			.header-gnb_maxwidth {
				.header-event {float:none; text-align:center;}
				.header-mymenu {display:none;}
			}
		}

		.header-lnb {
			padding:0;

			// 주문결제 헤더 전체 공통
			&.align-center {
				.header-logo {
					padding:3px 0 0 0;
				}
			}
			.header-logo {
				float:none;
				display: inline-block;
				height:18px;  // 모바일 로고 세로값  사이즈
				min-height: 56px;
				padding:0;
				margin:0 auto;
				background-size:533px auto; // pc용 이미지 축소
				box-sizing: border-box;

				.header-item {
					img {max-height:50px}
				}
			}
			.header-item {
				display: inline-block;
			}
			.mobile-header-title {
				display:inline-block;
			}
			.header-menu_etc {
				position:absolute;
				top:14px;
				right:20px;
				> a {
					margin-left:6px;
				}
				i {
					&.large {font-size:26px;}
				}
			}

			.header-menu_mobile {
				display:block;
				position:absolute;
				top:15px;
				left:10px;
				> a {display:block;}
			}

			.header-menu_onedepth {
				overflow-y:auto;
				position:fixed;
				top:0;
				left:-320px;
				bottom:0;
				width:300px;
				padding:20px 0;
				line-height:1;
				float:none;
				background: $mc-lnb_bg-color;
				z-index:1000;

				> .onedepth-list {
					display:block;
					padding:0;

					> a {display:block;padding:20px 30px;}
				}

				.header-menu_twodepth {
					display:none;
					position:static;
					width:100%;
					padding:10px 0;
					border:0;
					margin:0;
					background: $mc-lnb_depth2-bg;
					line-height:30px;

					&.active {display:block;}
					.twodepth-list > a{display:block; padding:5px 30px;}
				}

				a {color: $mc-lnb_depth1-color;font-size:12px;}
			}
		}
	}
}