.comment-wrap {
	overflow-y:scroll;
	padding:30px;
	height:500px;
	background-color:$bg-3;

	.comment-list {
		margin:20px 0 0;
		&:first-child {margin-top:0;}
	}

	.admin {
		text-align:left;
		.comment {background-color:$bg-1;}
	}
	.customer {
		text-align:right;
		.comment {background-color:$bg-5;}
	}

	.comment {
		display:inline-block;
		max-width:250px;
		padding:15px;
		text-align:left;
	}

	.comment-inquiry-type {font-size:$font-size-mini; margin:0 0 10px 0;}
	.comment-txt {
		display:inline-block;
		width:100%;
		line-height:18px;
		margin:0;
	}

	.comment-date {
		margin-top:5px;
		font-size:$font-size-mini;
		color:$font-3;

		> .date {text-align:left;}
	}
}
.comment-form-wrap {
	.select-wrapper {
		&:after {content:''; display:block; clear:both;}
		.select-box {
			float:left;
			width:50%;

			.select-head {
				height: 40px;
				padding:13px 11px 12px 11px;
				border-bottom:0;
			}
			.select-body {
				width: calc(100% + 1px);
			}

			&:first-child {
				.select-head {border-right:0;}
			}
		}
	}
}



.order-list-wrap {
	display:table;
	width:100%;
	padding:20px 0;
	border-top:1px solid $border-2;
	&:first-child {border-top:0;}

	&.active {
		.brz-icon-radio {background-position:-88px -279px;}
	}

	.icon {display:table-cell; width:18%; padding-left:30px; text-align:center; vertical-align:middle;}
	.item-info {
		display:table-cell;
		padding-left:20px;

		.order-info-wrap {
			> * {display:block;
				margin-top:5px;
				&:first-child {margin-top:0}
			}
		}

		.item-wrap {
			> li {
				margin-top:10px;
				&:first-child {margin-top:25px;}
				&:after {content:''; display:block; clear:both;}
			}

			.img-wrap {
				overflow:hidden;
				float:left;
				width:70px;
				height:80px;
			}
			.info-wrap {
				float:left;
				margin-left:10px;

				.tit, .price {display:block;}
			}
		}
	}
}



/* Phone landscape and bigger */
@media (max-width:$breakpoint-small) {}


/* Tablet and bigger */
@media (max-width: $breakpoint-medium) {
	.customer-inquire {margin-bottom:0;}

}

/* Desktop and bigger */
@media (max-width: $breakpoint-large) {
	.comment-form-wrap {
		.select-box {
			> select {border-right:0;}
		}
	}
	.comment-form-wrap {
		.search-field {
			.input-textfield{
				&.large label {left:12px;}
				input {
					padding-left: 12px;
					border-left-width: 1px;
				}
			}
		}
	}
}
